/* =================================== */
/* CSS for control sap.tnt/ToolHeader  */
/* Belize HCB theme                   */
/* =================================== */

@_sap_tnt_ToolHeader_AvatarBackground: @sapUiAccent6;
@_sap_tnt_ToolHeader_AvatarColor: @sapUiBaseColor;

.sapTntToolHeader .sapMMenuBtn.sapMMenuBtnRegular .sapMBtnDisabled .sapMBtnInner::after {
	color: inherit;
}

.sapTntToolHeader .sapMITH.sapMITBTextOnly .sapMITHEndOverflow {
	margin-top: 0;
}

// ==========================================================================
// sap.m.Avatar / sap.f.Avatar overriding
// ==========================================================================

.sapTntToolHeader .sapFAvatar {
	background-color: @_sap_tnt_ToolHeader_AvatarBackground;
	.sapFAvatarInitialsHolder,
	.sapUiIcon.sapFAvatarTypeIcon  {
		color: @_sap_tnt_ToolHeader_AvatarColor;
	}
}