/***** Home page styles *****/

.sapUiDemoIconExplorer .HomeHeaderText {
    font-size: 3.75rem;
    font-family: '72';
	font-weight: 900;
    position:relative;
}

.sapMTB.sapUiDocumentationFooter {
	height: auto;
	padding: .5rem 1rem 0.25rem 1rem;
}

.sap-phone .sapMTB.sapUiDocumentationFooter {
	padding: 1rem;
	padding-top: 1.25rem;
}

.BlockLayoutFlex {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.BlockLayoutFooter {
	flex-grow: 1;
}

.sapUiDocumentationInfoLinksHolder .sapUiIcon {
	border-radius: .5rem;
}

.IconExplorerHomePage .sapMPageEnableScrolling {
	background-image: url("../images/Icon_Explorer_Background.svg");
}

.IconExplorerHomePage .IconExplorerSearchContainer {
	margin: auto;
	height: 70%;
}

.IconExplorerHomePage .IconExplorerHomePageInfoButton {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
}

.sapUiDemoIconExplorer .IconExplorerHomePage {
	background-image: linear-gradient(#FA4F96, #0057d2);
}

.sapUiTheme-sap_horizon .IconExplorerHomePage .IconExplorerSearchContainer .sapUiIcon:not(.sapMInputBaseIcon),
.sapUiTheme-sap_horizon .IconExplorerHomePage .IconExplorerSearchContainer .sapMTitle,
.sapUiTheme-sap_horizon .IconExplorerHomePage .IconExplorerSearchContainer .sapMCbLabel{
	color: #eaecee;
}

.IconExplorerHomePage .sapMInputBaseContentWrapper,
.IconExplorerHomePage .sapMFocus.sapMInputBase .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper)::before {
	border-radius: 2rem;
}

.sapUiTheme-sap_horizon_dark .sapUiDemoIconExplorer .IconExplorerHomePage,
.sapUiTheme-sap_horizon_hcb .sapUiDemoIconExplorer .IconExplorerHomePage {
	background-image: linear-gradient(#FFC933, #DF1278);
}

.sapUiDemoIconExplorer .SidePanelGridList {
	padding: .125rem;
}

.sapUiDemoIconExplorer .SidePanelGridList .sapMListItems > * {
	padding: 1rem;
}

.sapUiDemoIconExplorer .sapMPage {
	position: absolute;
	left: 0;
	top: 0;
	background-color: transparent;
}

.sapUiDemoIconExplorer .sapFDynamicPageHeaderWrapper .sapMIBar .sapMLabel  {
	flex-shrink: 0;
}

.sapUiDemoIconExplorer .sapMRb .sapMRbBLabel .sapMLabelTextWrapper {
	color: #fff;
}

/* hide the link that allows to reopen the TrustArc consent dialog */
#teconsent > a {
	display: none;
}

/*SMALL*/

.sap-phone .sapUiDemoIconExplorer .sapMText.HomeHeaderText {
	font-size: 1.625rem;
}
