/******************************************************************
	Style of the RTA FieldRepository
*******************************************************************/

.sap-desktop.sapUiBLyBackOverride {
	overflow: auto!important;
}

.sapUIRtaFieldRepositoryDialog.sapMDialog {
}

.sapUIRtaFieldRepositoryDialog .sapMDialogTitle {
	font-size: 16px;
	font-weight: bold;
}

.sapUIRtaFieldRepositoryDialog .sapMIBar.sapMHeader-CTX {
	background-color: white;
}

.sapUIRtaFieldRepositoryDialog .sapMIBar {
	background: white;
	border-bottom: 1px solid #cccccc;
}


.sapUIRtaFieldRepositoryDialog .sapUiTable > div.sapUiTableCnt {
	border-left: 0px;
	border-right: 0px;
}
.sapUIRtaFieldRepositoryDialog .sapUiDlgFooter {
	height: 60px;
}

/* Sort Button */
.sapUIRtaFieldRepositoryDialog .sapMBtn>.sapMBtnInner{
	border: none;
	background: transparent;
}
.sapUIRtaFieldRepositoryDialog .sapMDialogSection :not(.sapMBtnDisabled).sapMBtn:hover>.sapMBtnInner{
	background-color: @sapUiButtonHoverBackground;
}
.sapUIRtaFieldRepositoryDialog .sapMDialogSection :not(.sapMBtnDisabled).sapMBtn:active>.sapMBtnInner{
	background-color: @sapUiHighlight;
	border-color: @sapUiHighlight;
	color: @sapUiWhite;
}

/* Footer Button */
.sapUIRtaFieldRepositoryDialog .sapUiDlgFooter .sapMBtnInner {
	background-color: transparent;
	background: none;
	border: none;
	text-shadow: none;
	color: @sapUiWhite;
}
.sapUIRtaFieldRepositoryDialog .sapUiDlgFooter .sapMBtn:hover > .sapMBtnHoverable{
	background-color: @sapUiDarkBG;
}
html.sap-desktop .sapUIRtaFieldRepositoryDialog .sapUiDlgFooter .sapMBtn:focus > .sapMFocusable{
	outline: 1px solid @sapUiWhite;
	outline-offset: -1px;
}
.sapUIRtaFieldRepositoryDialog .sapUiDlgFooter :not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive,
.sapUIRtaFieldRepositoryDialog .sapUiDlgFooter :not(.sapMBtnDisabled):hover > .sapMBtnInner.sapMBtnActive{
	background-color: @sapUiHighlight;
	border-color: @sapUiHighlight;
}

.sapUIRtaFieldRepositoryDialog .sapUiTableCol, .sapUIRtaFieldRepositoryDialog .sapUiTableTr > td {
	border: none;
}

.sapUIRtaFieldRepositoryDialog .sapUiTableCol, .sapUIRtaFieldRepositoryDialog .sapUiTableTr > td {
	border: none;
}

.sapUIRtaFieldRepositoryDialog .sapMSFF {
	border: none;
}

.sapUIRtaFieldRepositoryDialog .resourceListIF {
	border-right: 1px solid #cdcdcd;
}

.sapUIRtaFieldRepositoryDialog .sapUiLbl {
	margin-left: 12px;
}

.sapUIRtaFieldRepositoryDialog .sapMIBar > .sapMBarChild:last-child {
	margin-right: 12px;
}

.sapUIRtaFieldRepositoryDialog .sapUiLblIco  {
	font-size: 1.2rem;
}

.sapUIRtaFieldRepositoryDialog .sapUIRtaValueCell {
	height: 18px;
	width: 300px;
}

.sapUIRtaFieldRepositoryDialog .sapUIRtaCCDialogScrollContainer{
	height: 400px !important;
	width: 100% !important;
}

.sapUIRtaFieldRepositoryDialog .sapMList .sapMListUl .sapMCLI {
	padding-left: 10px;
}