.sapUiRtaToolbar.type_personalization {
	top: auto;
	top: initial;
	bottom: 0;
	background-color: #2f3c48;
	border-radius: 0.25rem;
	padding: 0 1rem;
	margin: 0.5rem;
	opacity: 0.9;

	&.sapUiRtaHideToolbar {
		visibility: hidden;
	}

	.sapMBtn {
		.sapMBtnTransparent.sapMBtnInner {
			border: none;

			.sapMBtnContent {
				color: #ffffff;
				text-shadow: 0 0 0.125rem #000000;
			}
		}
	}
}