/******************************************************************
	Style of the Personalization Toolbar - base Theme
*******************************************************************/
@_sap_ui_rta_Toolbar_Personalization_TextColor: @sapUiTextInverted; // #fff
@_sap_ui_rta_Toolbar_Personalization_BaseColor: darken(desaturate(@sapUiChart1, 48%), 14%); //#435060

.sapUiRtaToolbar.type_personalization {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @_sap_ui_rta_Toolbar_Personalization_BaseColor;
	padding: 0 1rem; //16px
	opacity: 0.9;
	height: 3rem; //48p

	.sapMBtn {
		padding: 0;
		margin: 0 0.25rem; //4px

		.sapMBtnTransparent.sapMBtnInner {
			border: none;

			.sapMBtnContent {
				color: @_sap_ui_rta_Toolbar_Personalization_TextColor;
			}
		}
	}
}