/**
	Base Toolbar
*/

.sapUiRtaToolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	height: 46px; /* Overrider `.sapUiSizeCompact .sapMTB` */


	.sapMBtn {
		margin: 0 4px;

	}
}