/******************************************************************
	Style of the Personalization Toolbar - base Theme
*******************************************************************/
@_sap_ui_rta_Toolbar_Personalization_TextColor: @sapUiWhite; // #fff
@_sap_ui_rta_Toolbar_Personalization_TextShadowColor: @sapUiDeepBG; //#000
@_sap_ui_rta_Toolbar_Personalization_BaseColor: darken(desaturate(@sapChart_OrderedColor_1, 48%), 14%); //#435060

.sapUiRtaToolbar.type_personalization {
	position: absolute;
	left: 0;
	right: 0;
	top: auto;
	top: initial;
	bottom: 0;
	background-color: @_sap_ui_rta_Toolbar_Personalization_BaseColor;
	padding: 0 1rem; //16px
	opacity: 0.9;
	height: 3rem; //48p

	.sapMBtn {
		padding: 0;
		height: 2.5rem; //40px
		margin: 0 0.25rem; //4px
		.sapMBtnTransparent.sapMBtnInner {
			border: none;

			.sapMBtnContent {
				color: @_sap_ui_rta_Toolbar_Personalization_TextColor;
				text-shadow: 0 0 0.125rem @_sap_ui_rta_Toolbar_Personalization_TextShadowColor; //2px
			}
		}
	}

	// Disable the right margin for Done button
	>.sapMFlexItem:last-child {
		.sapMBtn:last-child {
			margin-right: 0;
		}
	}
}