<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"         
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"         
         version="2.5"         
         xmlns="http://java.sun.com/xml/ns/javaee"> 

  <display-name>demokit</display-name>

  <!-- ============================================================== -->
  <!-- SAPUI5 resource servlet used to handle application resources  -->
  <!-- ============================================================== -->
    
  <servlet>
    <display-name>ResourceServlet</display-name>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/test-resources/*</url-pattern>
  </servlet-mapping>
  <!-- BEGIN: DEV MODE -->
  <context-param>
    <param-name>com.sap.ui5.resource.DEV_MODE</param-name>
    <param-value>true</param-value>
  </context-param>
  <!-- END: DEV MODE -->
    
  <context-param>
    <param-name>com.sap.ui5.resource.USE_CACHE</param-name>
    <param-value>true</param-value>
  </context-param>
  <!-- 
  <context-param>
    <param-name>com.sap.ui5.resource.VERBOSE</param-name>
    <param-value>false</param-value>
  </context-param>
    -->
  <context-param>
    <param-name>com.sap.ui5.resource.ACCEPTED_ORIGINS</param-name>
    <param-value>*</param-value>
  </context-param>
    
    

  <!-- ============================================================== -->
  <!-- Cache Control Filter to prevent caching of any resource        -->
  <!-- ============================================================== -->

    <filter>
        <display-name>CacheControlFilter</display-name>
        <filter-name>CacheControlFilter</filter-name>
        <filter-class>com.sap.ui5.resource.CacheControlFilter</filter-class>
    </filter>    
    <filter-mapping>
        <filter-name>CacheControlFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheControlFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheControlFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    

  <!-- ============================================================== -->
  <!-- SAPUI5 discovery servlet used to find available UI test cases -->
  <!-- ============================================================== -->

  <servlet>
    <display-name>DiscoveryServlet</display-name>
    <servlet-name>DiscoveryServlet</servlet-name>
    <servlet-class>com.sap.ui5.discovery.DiscoveryServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>DiscoveryServlet</servlet-name>
    <url-pattern>/discovery/*</url-pattern>    
  </servlet-mapping>


  <!-- ============================================================== -->
  <!-- SAPUI5 file upload servlet                                    -->
  <!-- ============================================================== -->

  <context-param>
       <param-name>repositoryDirectory</param-name>
       <param-value>${java.io.tmpdir}/demokit/upload</param-value>
  </context-param>

  <servlet>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.sap.ui5.fileupload.FileUploadServlet</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>FileUploadCheckServlet</display-name>
    <servlet-name>FileUploadCheckServlet</servlet-name>
    <servlet-class>com.sap.ui5.fileupload.FileUploadIntrospectorServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/upload/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadCheckServlet</servlet-name>
    <url-pattern>/upload-check/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.sap.ui5.demokit.search.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/keywords</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/suggest</url-pattern>
  </servlet-mapping>
  <context-param>
       <param-name>searchIndexLocation</param-name>
       <param-value>/.index</param-value>
  </context-param>
    
  <!-- ============================================================== -->
  <!-- Welcome file list                                              -->
  <!-- ============================================================== -->

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
    
    
  <!-- ============================================================== -->
  <!-- AUTHENTICATION                                                 -->
  <!-- ============================================================== -->

  <login-config>
    <auth-method>SAML2</auth-method>
  </login-config>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SAPUI5 SDK Protected Area</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
	  <role-name>Everyone</role-name>
      <!-- role-name>NeoBetaUser</role-name -->
    </auth-constraint>
  </security-constraint>

  <!-- security-role>
    <description>Neo Development Kit Beta Users</description>
    <role-name>NeoBetaUser</role-name>
  </security-role -->

</web-app>
