@import url("ControlTree.css");

body {
	background: #fff;
}

.ttPageBar {
	height: 2rem !important;
	background-color: #354a5f !important;
}

.sapUiFixFlexFixed .sapMBarLeft,
.sapUiFixFlexFixed .sapMBarRight,
.sapUiFixFlexFixed .sapMBarMiddle,
.sapUiFixFlexFixed .sapMBarPH {
	height: 2rem;
	line-height: 2rem;
	color: #fff;
}

.sapUiFixFlexFixed .sapMBarLeft .sapMText,
.sapUiFixFlexFixed .sapMBarMiddle .sapMText,
.sapUiFixFlexFixed .sapMBarRight .sapMText,
.sapUiFixFlexFixed .sapMBarRight .sapUiIcon,
.sapUiFixFlexFixed .sapMBarRight .sapMBtnInner {
	color: #fff;
	vertical-align: middle;
}

.sapUiFixFlexFixed .sapMBarLeft .sapMText {
	font-size: 1rem;
}

.sapUiFixFlexFixed .ttStandardPageBar .sapMBarMiddle {
	float: right;
	width: 36rem;
}

.sapUiFixFlexFixed .sapMBarMiddle .sapMText {
	font-size: .8rem;
	margin: 0 1rem;
}

.sapUiFixFlexFixed .sapMBarRight > span,
.sapUiFixFlexFixed .sapMBarRight > button {
	margin-left: 1rem;
}

.sapUiResponsiveSplitter .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiResponsiveSplitter .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	width: 0.125rem !important;
	height: 100%;
	color: #354a5f;
	background-color: #dedede;
}

.sapUiResponsiveSplitter .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiResponsiveSplitter .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	width: 100% !important;
	height: 0.125rem !important;
	color: #354a5f;
	background-color: #dedede;
}

.sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage > .sapUiLoSplitter .sapUiLoSplitterBar .sapUiLoSplitterBarIcon,
.sapUiResponsiveSplitter .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar .sapUiLoSplitterBarIcon {
	margin-left: -18px !important;
}

.sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage .sapUiLoSplitter.sapUiLoSplitterV .sapUiLoSplitterBar .sapUiLoSplitterBarIcon,
.sapUiResponsiveSplitter .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar .sapUiLoSplitterBarIcon {
	margin-top: -18px !important;
}

.sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage > .sapUiLoSplitter .sapUiLoSplitterBar .sapUiLoSplitterBarIcon:after,
.sapUiResponsiveSplitter .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar .sapUiLoSplitterBarIcon:after,
.sapUiResponsiveSplitter .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar .sapUiLoSplitterBarIcon:after {
	border-color: #dedede !important;
	width: 0.75rem !important;
	height: 0.75rem !important;
}

.sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage > .sapUiLoSplitter .sapUiLoSplitterBar .sapUiLoSplitterBarIcon:after {
	border-color: #dedede !important;
}

.sapUiResponsiveSplitter .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar .sapUiLoSplitterBarIcon:after,
.sapUiResponsiveSplitter .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar .sapUiLoSplitterBarIcon:after {
	border-color: #354a5f !important;
}

.sapMListInsetBG {
	padding: 1rem !important;
}

#content {
	height: 100%;
}

.sapUiHLayout  {
	width: 100%;
}

.sapUiHLayoutChildWrapper {
	display: block;
	width: 50%;
}

.ttInteraction .sapUiHLayoutChildWrapper {
	width: 30%;
	height: 100vh;
}

.ttCommonInfoPanel.sapMPanel {
	height: 100% !important;
	overflow: scroll !important;
}

.ttCommonInfoPanel .sapMITB {
	top: 2.75rem;
}

.sapMPanelContent:not(.sapMPanelBGTransparent) {
	border-bottom: none !important;
}