/* ================================= */
/* CSS for control sap.f/Card        */
/* Quartz High Contrast Black theme  */
/* ================================= */

@_sap_f_Card_HeaderHoverColor: @sapUiTileHoverBackground;
@_sap_f_Card_HeaderActiveColor: @sapUiTileActiveBackground;

.sapFCard .sapFCardHeader {
  border-bottom: 1px solid @sapUiTileBorderColor;

  .sapFCardIcon.sapFAvatar{
    .sapUiIcon {
      color: @sapUiContentIconColor;
    }
  }
}