/* ========================================== */
/* CSS for control sap.uxap/ObjectPageLayout  */
/* Horizon High Contrast Black theme          */
/* ========================================== */

.sapUxAPObjectPageNavigation {
	background: @sapUiObjectHeaderBackground;

	&.sapUxAPObjectPageNavigationTransparent {
		background: transparent;
	}

	&.sapUxAPObjectPageNavigationTranslucent {
		background: lighten(@sapUiObjectHeaderBackground, 10);
	}
}

.sapUxAPObjectPageHeaderDetails {
	.sapMOHTitle .sapMText {
		color: @sapUiContentLabelColor;
	}
	.sapMLabel {
		color: @sapUiContentLabelColor;
	}
}
.sapUiSizeCompact .sapUxAPObjectPageNavigation,
.sapUxAPObjectPageNavigation {
	.sapUxAPObjectChildPage {
		height: @sapUiElementLineHeight;
	}
}

.sapUxAPObjectPageNavigation .sapUxAPITBar.sapUxAPObjectChildPage {
	height: 2.9375rem;
}

.sapUiSizeCompact .sapUxAPObjectPageNavigation .sapUxAPITBar.sapUxAPObjectChildPage {
	height: 1.9375rem;
}

/* ======================================== */
/* Title and Toggle Header Visual Indicator */
/* ======================================== */
.sapUxAPObjectPageLayout {
  &.sapUxAPObjectPageLayoutTitleClickEnabled {

    &.sapUxAPObjectPageLayoutTitleForceHovered .sapFDynamicPageTitle {
      .title-hover(@sapUiObjectHeaderHoverBackground);
	}

	&.sapUxAPObjectPageLayoutTitleForceHovered .sapFDynamicPageTitleTranslucent {
		.title-hover(lighten(@sapUiObjectHeaderBackground, 10));
	}

	&.sapUxAPObjectPageLayoutTitleForceHovered .sapFDynamicPageTitleTransparent {
		.title-hover(transparent);
	}
  }
}

.sapUxAPObjectPageLayout:not(.sapUxAPObjectPageLayoutNoAnchorBar) > .sapUxAPObjectPageHeaderStickied > .sapFDynamicPageTitle {
		box-shadow: none;
}

// footer
.sapUxAPObjectPageLayout .sapUxAPObjectPageFooter .sapUxAPObjectPageFloatingFooter {
	background: @sapUiPageFooterBackground;
	color: @sapUiPageFooterTextColor;
	box-shadow: @sapUiShadowLevel1;
	border: none;
	border-radius: @sapUiElementBorderCornerRadius;
}

.title-hover(@backgroundColor) {
	background-color: darken(@backgroundColor, 3);
}