/******************************************************************
	Style of the DT Contextmenu - sap_fiori_3_dark Theme
*******************************************************************/
@_sap_ui_dt_ContextMenu_MnuItemTextColor: @sapUiListSelectionBorderColor; //#91c8f6
@_sap_ui_dt_ContextMenu_MnuItemBackgroundColor: @sapUiListBackground; // #29313a
@_sap_ui_dt_ContextMenu_MnuItemHoverBackgroundColor: @sapUiListSelectionBackgroundColor; // #334b5f
@_sap_ui_dt_ContextMenu_BorderRadius: @sapUiButtonBorderCornerRadius; // 0.25rem
@_sap_ui_dt_ContextMenu_FocusColor: @sapUiListSelectionBorderColor; //#91c8f6
@_sap_ui_dt_ContextMenu_DisabledMnuItemHoverTextColor: @sapUiListSelectionBorderColor; //#91c8f6

.sapUiDtContextMenu.sapMMenu {
	.sapMMenuList {
		.sapMMenuItem {
			color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
			background-color: @_sap_ui_dt_ContextMenu_MnuItemBackgroundColor;
			border: 0.0625rem dotted transparent;

			.sapMMenuItemIcon {
				color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
			}

			.sapMMenuItemSubMenu > div:after,
			.sapMMenuItem:hover .sapMMenuItemSubMenu > div:after {
				color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
				background-color: @_sap_ui_dt_ContextMenu_MnuItemBackgroundColor;
			}

			&:hover {
				color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
				background-color: @_sap_ui_dt_ContextMenu_MnuItemHoverBackgroundColor;

				.sapMMenuItemIcon {
					color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
					background-color: @_sap_ui_dt_ContextMenu_MnuItemHoverBackgroundColor;
				}
				&.sapMMenuItemDisabled {
					background-color: @_sap_ui_dt_ContextMenu_MnuItemBackgroundColor;
					.sapMMenuItemIcon {
						background-color: @_sap_ui_dt_ContextMenu_MnuItemBackgroundColor;
					}
				}
			}

			&:focus:not(.sapMMenuItemDisabled) {
				outline: 0.0625rem dotted @_sap_ui_dt_ContextMenu_FocusColor;
				outline-offset: -0.125rem;
				border-radius: @_sap_ui_dt_ContextMenu_BorderRadius;
			}

			&.sapMMenuItemSubMenuOpen {
				border-bottom: none !important;
			}

			&.sapMMenuItemDisabled {
				&:hover {
					color: @_sap_ui_dt_ContextMenu_DisabledMnuItemHoverTextColor;
				}
				&:focus {
					outline: none;
				}
			}
		}
	}
}