/******************************************************************
	Style of the DT Overlays - sap_fiori_3_dark Theme
*******************************************************************/
@_sap_ui_dt_Overlay_CuttedBackgroundColor: fade(@sapUiContentImagePlaceholderBackground, 50%); //rgba(104, 125, 148, 0.5)

.sapUiDtOverlayDropZone {
	> .sapUiDtOverlayChildren {
		> .sapUiDtOverlayMovable {
			background: inherit;

			&:before {
				content: none;
			}

			&.sapUiDtOverlayHover {
				&:after {
					content: none;
				}
			}

			&.sapUiDtOverlaySelected {
				box-shadow: none;
			}
		}
	}
}

.sapUiDtOverlayTargetZone {
	&:after {
		transition: box-shadow .25s;
		box-shadow: @_sap_ui_dt_Overlay_BoxShadow;
	}
}