@_sap_ui_mdc_PersonalizationDialog_Border_LightColor : @sapUiContentContrastFocusColor;  				//#fff
@_sap_ui_mdc_PersonalizationDialog_Border_DarkColor : @sapUiContentFocusColor;

.sapMP13nPopup {

}

.sapMP13nPopup .sapMMsgStrip {
	margin: 10px;
}

.sapMP13nPopup .sapUiMdcFieldBase {
	width: 100%
}

.sapMP13nPopup.sapMPopover .sapMPopoverScroll {
	overflow-y: initial;
}

.sapMP13nPopup.sapUiRTABorder {
	border: 3px solid @_sap_ui_mdc_PersonalizationDialog_Border_LightColor;
	border-image: repeating-linear-gradient( -45deg, @_sap_ui_mdc_PersonalizationDialog_Border_DarkColor, @_sap_ui_mdc_PersonalizationDialog_Border_DarkColor 5px, @_sap_ui_mdc_PersonalizationDialog_Border_LightColor 5px, @_sap_ui_mdc_PersonalizationDialog_Border_LightColor 10px) 4;
}

.sapMP13nPopup .sapMMenuBtn{
    max-width: none;
}

.sapMP13nPopup.sapMDialog:not(.sapMDialogWithSubHeader) > header:first-of-type .sapUiMdcContainerBar{
	box-shadow: none;
}