.sapUiMDCP13nWrapper {

}

//Change background color for the container control
.sapUiMDCP13nWrapper .sapMITB {
    padding-top: 1.75rem;
}

//Remove padding to align the ITB with the rest of the p13n related controls (left aligned)
.sapUiMDCP13nWrapper .sapMITH {
    padding: 0
}

.sapUiMDCP13nWrapper .wrapperDefaultList .sapMLIB{
    padding: 1.5rem;
}