<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
id="WebApp_ID" version="2.5">
	<display-name>Web Image Viewer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- ============================================================== -->
	<!-- UI5 resource servlet used to handle application resources      -->
	<!-- ============================================================== -->
	<servlet>
		<display-name>ResourceServlet</display-name>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<!-- BEGIN: DEV MODE -->
	<!-- DEV MODE switched off by default and can be switched on during development -->
	<!-- but has to be switched off for productive use on a Java server! -->
	<context-param>
		<param-name>com.sap.ui5.resource.DEV_MODE</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sap.ui5.resource.USE_CACHE</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sap.ui5.resource.MAX_AGE</param-name>
		<param-value>604800000</param-value>
	</context-param>
	<!-- END: DEV MODE -->

	<!-- ============================================================== -->
	<!-- Cache Control Filter to prevent caching of any resource        -->
	<!-- ============================================================== -->
	<filter>
		<display-name>CacheControlFilter</display-name>
		<filter-name>CacheControlFilter</filter-name>
		<filter-class>com.sap.ui5.resource.CacheControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.xml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<!-- ======================Spring======================================== -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/context.xml</param-value>
	</context-param>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.root.imageViewer</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<filter>
	    <filter-name>initResourceFilter</filter-name>
	    <filter-class>com.sap.web.filter.InitResourceFilter</filter-class>
	    <init-param>
	        <param-name>restUrlPattern</param-name>
	        <param-value>api</param-value>
	    </init-param>
	</filter>
	
	<filter-mapping>
	    <filter-name>initResourceFilter</filter-name>
	    <url-pattern>/api/jobs/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>initResourceFilter</filter-name>
	    <url-pattern>/api/modules/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>initResourceFilter</filter-name>
	    <url-pattern>/api/images/*</url-pattern>
	</filter-mapping>

</web-app>