/* ================================= */
/* CSS for control sap.ui.table/Row  */
/* Fiori 3 Dark                      */
/* ================================= */

@_sap_ui_table_Row_AlternateBackground: lighten(@sapUiListBackground, 2);
@_sap_ui_table_Row_AlternateBackgroundHovered: lighten(@sapUiListHoverBackground, 3);
@_sap_ui_table_Row_AlternateBackgroundSelected: lighten(@sapUiListSelectionBackgroundColor, 2);
