:root {
	--sapBrandColor: @sapBrandColor;
	--sapHighlightColor: @sapHighlightColor;
	--sapBaseColor: @sapBaseColor;
	--sapShellColor: @sapShellColor;
	--sapBackgroundColorDefault: @sapBackgroundColorDefault;
	--sapBackgroundColor: @sapBackgroundColor;
	--sapContent_GridSize: @sapContent_GridSize;
	--sapFontFamily: @sapFontFamily;
	--sapFontSize: @sapFontSize;
	--sapFontSmallSize: @sapFontSmallSize;
	--sapFontMediumSize: @sapFontMediumSize;
	--sapFontLargeSize: @sapFontLargeSize;
	--sapTextColor: @sapTextColor;
	--sapLinkColor: @sapLinkColor;
	--sapSubtleLinkColor: @sapSubtleLinkColor;
	--sapCompanyLogo: @sapCompanyLogo;
	--sapBackgroundImage: @sapBackgroundImage;
	--sapBackgroundImageOpacity: @sapBackgroundImageOpacity;

	--sapHC_StandardBackground: @sapHC_StandardBackground;
	--sapHC_HighlightBackground: @sapHC_HighlightBackground;
	--sapHC_HighlightAltBackground: @sapHC_HighlightAltBackground;
	--sapHC_ReducedBackground: @sapHC_ReducedBackground;
	--sapHC_ReducedAltBackground: @sapHC_ReducedAltBackground;
	--sapHC_StandardForeground: @sapHC_StandardForeground;
	--sapHC_EnhancedForeground: @sapHC_EnhancedForeground;
	--sapHC_ReducedForeground: @sapHC_ReducedForeground;
	--sapHC_ReducedAltForeground: @sapHC_ReducedAltForeground;

	/* Semantic Colors */
	--sapHC_NegativeColor: @sapHC_NegativeColor;
	--sapHC_CriticalColor: @sapHC_CriticalColor;
	--sapHC_PositiveColor: @sapHC_PositiveColor;
	--sapHC_InformativeColor: @sapHC_InformativeColor;
	--sapHC_NeutralColor: @sapHC_NeutralColor;

	/* ACCENT COLORS */
	--sapAccentColor1: @sapAccentColor1;
	--sapAccentColor2: @sapAccentColor2;
	--sapAccentColor3: @sapAccentColor3;
	--sapAccentColor4: @sapAccentColor4;
	--sapAccentColor5: @sapAccentColor5;
	--sapAccentColor6: @sapAccentColor6;
	--sapAccentColor7: @sapAccentColor7;
	--sapAccentColor8: @sapAccentColor8;
	--sapAccentColor9: @sapAccentColor9;
	--sapAccentColor10: @sapAccentColor10;

	/* Semantic Background Colors */
	--sapErrorBackground: @sapErrorBackground;
	--sapWarningBackground: @sapWarningBackground;
	--sapSuccessBackground: @sapSuccessBackground;
	--sapInformationBackground: @sapInformationBackground;
	--sapNeutralBackground: @sapNeutralBackground;

	/* Semantic Border Colors */
	--sapErrorBorderColor: @sapErrorBorderColor;
	--sapWarningBorderColor: @sapWarningBorderColor;
	--sapSuccessBorderColor: @sapSuccessBorderColor;
	--sapInformationBorderColor: @sapInformationBorderColor;
	--sapNeutralBorderColor: @sapNeutralBorderColor;

	/* Semantic Foreground Elements */
	--sapNegativeElementColor: @sapNegativeElementColor;
	--sapCriticalElementColor: @sapCriticalElementColor;
	--sapPositiveElementColor: @sapPositiveElementColor;
	--sapInformativeElementColor: @sapInformativeElementColor;
	--sapNeutralElementColor: @sapNeutralElementColor;

	/* Semantic Text */
	--sapNegativeTextColor: @sapNegativeTextColor;
	--sapCriticalTextColor: @sapCriticalTextColor;
	--sapPositiveTextColor: @sapPositiveTextColor;
	--sapInformativeTextColor: @sapInformativeTextColor;
	--sapNeutralTextColor: @sapNeutralTextColor;

	/* Semantic Foreground Colors */
	--sapNegativeColor: @sapNegativeColor;
	--sapCriticalColor: @sapCriticalColor;
	--sapPositiveColor: @sapPositiveColor;
	--sapInformativeColor: @sapInformativeColor;
	--sapNeutralColor: @sapNeutralColor;
	--sapErrorColor: @sapErrorColor;
	--sapWarningColor: @sapWarningColor;
	--sapSuccessColor: @sapSuccessColor;
	--sapInformationColor: @sapInformationColor;
	--sapIndicationColor_1: @sapIndicationColor_1;
	--sapIndicationColor_2: @sapIndicationColor_2;
	--sapIndicationColor_3: @sapIndicationColor_3;
	--sapIndicationColor_4: @sapIndicationColor_4;
	--sapIndicationColor_5: @sapIndicationColor_5;

	--sapSelectedColor: @sapSelectedColor;
	--sapActiveColor: @sapActiveColor;
	--sapTitleColor: @sapTitleColor;
	--sapElement_LineHeight: @sapElement_LineHeight;
	--sapElement_Height: @sapElement_Height;
	--sapElement_BorderWidth: @sapElement_BorderWidth;
	--sapContent_LineHeight: @sapContent_LineHeight;
	--sapContent_ElementHeight: @sapContent_ElementHeight;
	--sapContent_ElementHeight_PX: @sapContent_ElementHeight_PX;
	--sapContent_IconHeight: @sapContent_IconHeight;
	--sapContent_IconColor: @sapContent_IconColor;
	--sapContent_ContrastIconColor: @sapContent_ContrastIconColor;
	--sapContent_NonInteractiveIconColor: @sapContent_NonInteractiveIconColor;
	--sapContent_MarkerIconColor: @sapContent_MarkerIconColor;
	--sapContent_MarkerTextColor: @sapContent_MarkerTextColor;
	--sapContent_ImagePlaceholderBackground: @sapContent_ImagePlaceholderBackground;
	--sapContent_ImagePlaceholderForegroundColor: @sapContent_ImagePlaceholderForegroundColor;
	--sapContent_FocusColor: @sapContent_FocusColor;
	--sapContent_ContrastFocusColor: @sapContent_ContrastFocusColor;
	--sapContent_ShadowColor: @sapContent_ShadowColor;
	--sapContent_ContrastShadowColor: @sapContent_ContrastShadowColor;
	--sapContent_SearchHighlightColor: @sapContent_SearchHighlightColor;
	--sapContent_HelpColor: @sapContent_HelpColor;
	--sapContent_LabelColor: @sapContent_LabelColor;
	--sapContent_Selected_Background: @sapContent_Selected_Background;
	--sapContent_DisabledTextColor: @sapContent_DisabledTextColor;
	--sapContent_DisabledOpacity: @sapContent_DisabledOpacity;
	--sapContent_ContrastTextThreshold: @sapContent_ContrastTextThreshold;
	--sapContent_ContrastTextColor: @sapContent_ContrastTextColor;
	--sapContent_ForegroundColor: @sapContent_ForegroundColor;
	--sapContent_ForegroundBorderColor: @sapContent_ForegroundBorderColor;
	--sapContent_BadgeBackground: @sapContent_BadgeBackground;
	--sapContent_TextShadow: none;
	--sapContent_HeaderShadow: @sapContent_HeaderShadow;
  --sapContent_Shadow0: @sapContent_Shadow0;
  --sapContent_Shadow1: @sapContent_Shadow1;
  --sapContent_Shadow2: @sapContent_Shadow2;
  --sapContent_Shadow3: @sapContent_Shadow3;

	--sapShell_Background: @sapShell_Background;
	--sapShell_BackgroundPatternColor: @sapShell_BackgroundPatternColor;
	--sapShell_BorderColor: @sapShell_BorderColor;
	--sapShell_TextColor: @sapShell_TextColor;
	--sapShell_InteractiveTextColor: @sapShell_InteractiveTextColor;
	--sapShell_Hover_Background: @sapShell_Hover_Background;
	--sapShell_Active_Background: @sapShell_Active_Background;
	--sapShell_Active_TextColor: @sapShell_Active_TextColor;
	--sapShell_InteractiveBorderColor: @sapShell_InteractiveBorderColor;

	--sapButton_BorderWidth: @sapButton_BorderWidth;
	--sapButton_Background: @sapButton_Background;
	--sapButton_BorderColor: @sapButton_BorderColor;
	--sapButton_IconColor: @sapButton_IconColor;
	--sapButton_Selected_Background: @sapButton_Selected_Background;
	--sapButton_Selected_BorderColor: @sapButton_Selected_BorderColor;
	--sapButton_Selected_TextColor: @sapButton_Selected_TextColor;
	--sapButton_Hover_Background: @sapButton_Hover_Background;
	--sapButton_Hover_BorderColor: @sapButton_Hover_BorderColor;
	--sapButton_Active_TextColor: @sapButton_Active_TextColor;
	--sapButton_Active_Background: @sapButton_Active_Background;
	--sapButton_Active_BorderColor: @sapButton_BorderColor;
	--sapButton_Emphasized_Background: @sapButton_Emphasized_Background;
	--sapButton_Emphasized_BorderColor: @sapButton_Emphasized_BorderColor;
	--sapButton_Emphasized_Hover_BorderColor: @sapButton_Hover_BorderColor;
	--sapButton_Emphasized_Hover_Background: @sapButton_Emphasized_Hover_Background;
	--sapButton_Emphasized_TextShadow: none;
	--sapButton_Emphasized_Active_Background: @sapButton_Emphasized_Active_Background;
	--sapButton_Emphasized_Active_BorderColor: @sapButton_Emphasized_Active_BorderColor;
	--sapButton_Reject_TextColor: @sapButton_Reject_TextColor;
	--sapButton_Reject_Background: @sapButton_Reject_Background;
	--sapButton_Reject_BorderColor: @sapButton_BorderColor;
	--sapButton_Reject_Hover_Background: @sapButton_Reject_Hover_Background;
	--sapButton_Reject_Selected_Hover_Background: @sapButton_Reject_Selected_Hover_Background;
	--sapButton_Reject_Hover_BorderColor: @sapButton_BorderColor;
	--sapButton_Reject_Active_Background: @sapButton_Reject_Active_Background;
	--sapButton_Reject_Active_BorderColor: @sapButton_Active_BorderColor;
	--sapButton_Accept_TextColor: @sapButton_Accept_TextColor;
	--sapButton_Accept_BorderColor: @sapButton_Accept_BorderColor;
	--sapButton_Accept_Hover_Background: @sapButton_Accept_Hover_Background;
	--sapButton_Accept_Selected_Hover_Background: @sapButton_Accept_Selected_Hover_Background;
	--sapButton_Accept_Hover_BorderColor: @sapButton_Accept_Hover_BorderColor;
	--sapButton_Accept_Background: @sapButton_Accept_Background;
	--sapButton_Accept_Active_Background: @sapButton_Accept_Active_Background;
	--sapButton_Accept_Active_BorderColor: @sapButton_Accept_Active_BorderColor;
	--sapButton_Lite_Background: @sapButton_Background;
	--sapButton_Lite_TextColor: @sapButton_Lite_TextColor;
	--sapButton_Lite_Hover_Background: @sapButton_Hover_Background;
	--sapButton_Selected_Hover_BorderColor: @sapButton_Selected_Hover_BorderColor;
	--sapButton_Track_Background: @sapButton_Track_Background;
	--sapButton_Track_Selected_Background: @sapButton_Track_Selected_Background;

	--sapField_Background: @sapField_Background;
	--sapField_BorderColor: @sapField_BorderColor;
	--sapField_TextColor: @sapField_TextColor;
	--sapField_HelpBackground: @sapField_HelpBackground;
	--sapField_BorderWidth: @sapField_BorderWidth;
	--sapField_BorderCornerRadius: @sapField_BorderCornerRadius;
	--sapField_Hover_Background: @sapField_Hover_Background;
	--sapField_Hover_BorderColor: @sapField_Hover_BorderColor;
	--sapField_Hover_HelpBackground: @sapField_Hover_HelpBackground;
	--sapField_Focus_Background: @sapField_Focus_Background;
	--sapField_Focus_BorderColor: @sapField_Focus_BorderColor;
	--sapField_Focus_HelpBackground: @sapField_Focus_HelpBackground;
	--sapField_ReadOnly_Background: @sapField_ReadOnly_Background;
	--sapField_ReadOnly_BorderColor: @sapField_ReadOnly_BorderColor;
	--sapField_ReadOnly_HelpBackground: @sapField_ReadOnly_HelpBackground;
	--sapField_RequiredColor: @sapField_RequiredColor;
	--sapField_InvalidColor: @sapField_InvalidColor;
	--sapField_InvalidBackground: @sapField_InvalidBackground;
	--sapField_WarningColor: @sapField_WarningColor;
	--sapField_WarningBackground: @sapField_WarningBackground;
	--sapField_SuccessColor: @sapField_SuccessColor;
	--sapField_SuccessBackground: @sapField_SuccessBackground;
	--sapField_PlaceholderTextColor: @sapField_PlaceholderTextColor;
	--sapField_InformationColor: @sapField_InformationColor;
	--sapField_InformationBackground: @sapField_InformationBackground;

	--sapGroup_TitleBackground: @sapGroup_TitleBackground;
	--sapGroup_TitleBorderColor: @sapGroup_TitleBorderColor;
	--sapGroup_ContentBackground: @sapGroup_ContentBackground;
	--sapGroup_ContentBorderColor: @sapGroup_ContentBorderColor;
	--sapGroup_BorderWidth: @sapGroup_BorderWidth;
	--sapGroup_BorderCornerRadius: @sapGroup_BorderCornerRadius;
	--sapGroup_FooterBackground: @sapGroup_FooterBackground;
	--sapToolbar_Background: @sapToolbar_Background;
	--sapToolbar_SeparatorColor: @sapToolbar_SeparatorColor;

	--sapList_TextColor: @sapList_TextColor;
	--sapList_HeaderBackground: @sapList_HeaderBackground;
	--sapList_HeaderBorderColor: @sapList_HeaderBorderColor;
	--sapList_Active_Background: @sapList_Active_Background;
	--sapList_BorderColor: @sapList_BorderColor;
	--sapList_BorderWidth: @sapList_BorderWidth;
	--sapList_HighlightColor: @sapList_HighlightColor;
	--sapList_SelectionBackgroundColor: @sapList_SelectionBackgroundColor;
	--sapList_Background: @sapList_Background;
	--sapList_Hover_Background: @sapList_Hover_Background;
	--sapList_Hover_SelectionBackground: @sapList_Hover_SelectionBackground;
	--sapList_Active_TextColor: @sapList_Active_TextColor;
	--sapList_GroupHeaderBackground: @sapList_GroupHeaderBackground;
	--sapList_GroupHeaderTextColor: @sapList_GroupHeaderTextColor;
	--sapList_HeaderTextColor: @sapList_HeaderTextColor;
	--sapList_TableGroupHeaderBackground: @sapList_TableGroupHeaderBackground;
	--sapList_TableGroupHeaderTextColor: @sapList_TableGroupHeaderTextColor;
	--sapList_TableGroupHeaderBorderColor: @sapList_TableGroupHeaderBorderColor;
	--sapList_FooterBackground: @sapList_FooterBackground;
	--sapList_FooterTextColor: @sapList_FooterTextColor;
	--sapList_GroupHeaderBorderColor: @sapList_GroupHeaderBorderColor;
	--sapList_SelectionBorderColor: @sapList_SelectionBorderColor;

	--sapLegendColor1: @sapLegendColor1;
	--sapLegendColor2: @sapLegendColor2;
	--sapLegendColor3: @sapLegendColor3;
	--sapLegendColor4: @sapLegendColor4;
	--sapLegendColor5: @sapLegendColor5;
	--sapLegendColor6: @sapLegendColor6;
	--sapLegendColor7: @sapLegendColor7;
	--sapLegendColor8: @sapLegendColor8;
	--sapLegendColor9: @sapLegendColor9;
	--sapLegendColor10: @sapLegendColor10;

	--sapLegendBackgroundColor1: @sapLegendBackgroundColor1;
	--sapLegendBackgroundColor2: @sapLegendBackgroundColor2;
	--sapLegendBackgroundColor3: @sapLegendBackgroundColor3;
	--sapLegendBackgroundColor4: @sapLegendBackgroundColor4;
	--sapLegendBackgroundColor5: @sapLegendBackgroundColor5;
	--sapLegendBackgroundColor6: @sapLegendBackgroundColor6;
	--sapLegendBackgroundColor7: @sapLegendBackgroundColor7;
	--sapLegendBackgroundColor8: @sapLegendBackgroundColor8;
	--sapLegendBackgroundColor9: @sapLegendBackgroundColor9;
	--sapLegendBackgroundColor10: @sapLegendBackgroundColor10;

	--sapScrollBar_FaceColor: @sapScrollBar_FaceColor;
	--sapScrollBar_TrackColor: @sapScrollBar_TrackColor;
	--sapScrollBar_BorderColor: @sapScrollBar_BorderColor;
	--sapScrollBar_SymbolColor: @sapScrollBar_SymbolColor;
	--sapScrollBar_Dimension: @sapScrollBar_Dimension;
	--sapScrollBar_Hover_FaceColor: @sapScrollBar_Hover_FaceColor;
	--sapPageHeader_Background: @sapPageHeader_Background;
	--sapPageHeader_BorderColor: @sapPageHeader_BorderColor;

	--sapPageFooter_Background: @sapPageFooter_Background;
	--sapPageFooter_BorderColor: @sapPageFooter_BorderColor;
	--sapInfobar_Background: @sapInfobar_Background;
	--sapObjectHeader_Background: @sapObjectHeader_Background;
	--sapObjectHeader_BorderColor: @sapObjectHeader_BorderColor;
	--sapBlockLayer_Background: @sapBlockLayer_Background;
	--sapTile_Background: @sapTile_Background;
	--sapTile_BorderColor: @sapTile_BorderColor;
	--sapTile_SeparatorColor: @sapTile_SeparatorColor;
	--sapButton_TokenBackground: @sapButton_TokenBackground;
	--sapButton_TokenBorderColor: @sapButton_TokenBorderColor;
	--sapHighlightTextColor: @sapHighlightTextColor;
	--sapTile_TitleTextColor: @sapTile_TitleTextColor;
	--sapTile_TextColor: @sapTile_TextColor;
	--sapTile_IconColor: @sapTile_IconColor;
	--sapPageHeader_TextColor: @sapPageHeader_TextColor;
	--sapPageFooter_TextColor: @sapPageFooter_TextColor;
	--sapGroup_TitleTextColor: @sapGroup_TitleTextColor;
	--sapButton_Hover_TextColor: @sapButton_Hover_TextColor;
	--sapButton_TextColor: @sapButton_TextColor;
	--sapButton_Emphasized_TextColor: @sapButton_Emphasized_TextColor;
	--sapContent_ForegroundTextColor: @sapContent_ForegroundTextColor;

	// custom added params as no base ("sap" prefix) params equivalent exist
	--sapToggleButton_Pressed_HoverBackground: @sapToggleButton_Pressed_HoverBackground;
	--sapToggleButton_Pressed_HoverBorderColor: @sapToggleButton_Pressed_HoverBorderColor;
}
