
// Quartz Light
@sapActiveColor_Lighten3: lighten(@sapActiveColor, 3); // #085caf;
@sapAccentColor1_Lighten50: lighten(@sapAccentColor1, 50);
@sapAccentColor2_Lighten40: lighten(@sapAccentColor2, 40);
@sapAccentColor3_Lighten46: lighten(@sapAccentColor3, 46);
@sapAccentColor4_Lighten46: lighten(@sapAccentColor4, 46);
@sapAccentColor5_Lighten32: lighten(@sapAccentColor5, 32);
@sapAccentColor6_Lighten52: lighten(@sapAccentColor6, 52);
@sapAccentColor7_Lighten64: lighten(@sapAccentColor7, 64);
@sapAccentColor8_Lighten61: lighten(@sapAccentColor8, 61);
@sapAccentColor9_Lighten37: lighten(@sapAccentColor9, 37);
@sapAccentColor10_Lighten49: lighten(@sapAccentColor10, 49);

// Quartz Dark
@sapActiveColor1_Darken50: darken(@sapAccentColor1, 50);
@sapActiveColor2_Darken62: darken(@sapAccentColor2, 62);
@sapActiveColor3_Darken58: darken(@sapAccentColor3, 58);
@sapActiveColor4_Darken51: darken(@sapAccentColor4, 51);
@sapActiveColor5_Darken55: darken(@sapAccentColor5, 55);
@sapActiveColor6_Darken60: darken(@sapAccentColor6, 60);
@sapActiveColor7_Darken50: darken(@sapAccentColor7, 50);
@sapActiveColor8_Darken61: darken(@sapAccentColor8, 61);
@sapActiveColor9_Darken59: darken(@sapAccentColor9, 59);
@sapActiveColor10_Darken59: darken(@sapAccentColor10, 59);

@sapBackgroundColor_Fade72: fade(@sapBackgroundColor, 72);
@sapButton_Background_Darken2: darken(@sapButton_Background, 2); // #f2f2f2;
@sapButton_Background_Darken7: darken(@sapButton_Background, 7); // #e5e5e5;
@sapButton_Background_Darken10: darken(@sapButton_Background, 10);
@sapButton_Hover_Background_Darken2: darken(@sapButton_Hover_Background, 2); // #e5e5e5;
@sapButton_Hover_Background_Darken5: darken(@sapButton_Hover_Background, 5);
@sapButton_Reject_Active_Background_Lighten5: lighten(@sapButton_Reject_Active_Background, 5);
@sapButton_Reject_Active_Background_Darken5: darken(@sapButton_Reject_Active_Background, 5); // #a20000;
@sapButton_Accept_Active_Background_Darken5: darken(@sapButton_Accept_Active_Background, 5); // #246924;
@sapButton_Accept_Active_Background_Lighten5: lighten(@sapButton_Accept_Active_Background, 5);
@sapButton_Selected_Background_Lighten50_Desaturate47: lighten(desaturate(@sapButton_Selected_Background, 47), 50); // #dddddd;
@sapButton_Selected_BorderColor_Lighten19_Desaturate46: lighten(desaturate(@sapButton_Selected_BorderColor, 46), 19); // #818181;

@sapContent_ForegroundColor_Darken3: darken(@sapContent_ForegroundColor, 3); // #dedede;
@sapContent_ForegroundColor_Darken5: darken(@sapContent_ForegroundColor, 5); // #d9d9d9;
@sapContent_ForegroundColor_Darken10: darken(@sapContent_ForegroundColor, 10); // #cccccc;
@sapContent_ForegroundColor_Lighten5: lighten(@sapContent_ForegroundColor, 5); // #f2f2f2;
@sapContent_ForegroundColor_Lighten7: lighten(@sapContent_ForegroundColor, 7); // #f7f7f7;

@sapList_Background_Darken3: darken(@sapList_Background, 3); // #f7f7f7;
@sapList_Background_Darken10: darken(@sapList_Background, 10); // #e6e6e6;
@sapList_Background_Darken13: darken(@sapList_Background, 13); // #dedede;
@sapList_Background_Darken15: darken(@sapList_Background, 15); // #d9d9d9;
@sapList_Background_Darken20: darken(@sapList_Background, 20); // #cccccc;
@sapList_BorderColor_Lighten10: lighten(@sapList_BorderColor, 10); // #ffffff;

@sapErrorBackground_Lighten4: lighten(@sapErrorBackground, 4); // #fff8f8;
@sapLinkColor_Darken15: darken(@sapLinkColor, 15); // #004065;
@sapObjectHeader_Background_Darken8: darken(@sapObjectHeader_Background, 8);
@sapSelectedColor_Darken15: darken(@sapSelectedColor, 10); // #346187;
@sapShell_BorderColor_Lighten30: lighten(@sapShell_BorderColor, 30); // rgba(77, 77, 77, 0);
@sapSuccessBackground_Lighten5: lighten(@sapSuccessBackground, 5); // #f6fcf6;
@sapTile_Background_Darken20: darken(@sapTile_Background, 20); // #000000;