/* override header cell background color for non-accessibility themes */
html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .sapUiDemoApps .headlineCell {
	background-color: white !important;
}

/* override default padding for headline cells */
.sapUiDemoApps .headlineCell .sapUiBlockCellContent {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

/* override color for link to demo apps overview (features, controls, libraries, etc.) */
.readMoreLink:visited:not(.sapMLnkDsbl),
.readMoreLink:hover:not(.sapMLnkDsbl),
.readMoreLink {
	color: #7ed0ff;
	line-height: 30px;
}

/* fix to align link and label in horizontal layout*/
.sapUiDemoApps .namespaceLink {
	vertical-align: baseline;
}

/* fix to remove the 5px space below title images */
.sapUiDemokit .sapUiDemokitLandingImageCell {
	line-height: 0;
}

.headerGrid {
	position: absolute;
	top: 2rem;
	padding-left: 2rem;
	width: calc(100% - 4rem);
}

.headerButton {
	margin-top: 2rem;
}

/* shrink image to 200px height on landscape phone mode */
.phoneHeaderImageLandscape {
	object-fit: cover;
}

.phoneHeaderImageDesktop {
	object-fit: cover;
}

.desktopImage {
	min-height: 9.375rem;
	object-fit: cover;
}

.headerText {
	width: 100%;
	padding-top: 0.5rem;
	font-size: 3rem;
	margin-left: -0.2rem;
	color: #ffffff;
	text-shadow: 0 0 0.125rem #000000;
}

.headerSubText {
	width: 100%;
	font-size: 1.25rem;
	font-weight: normal;
	color: #ffffff;
	text-shadow: 0 0 0.125rem #000000;
}

/*SMALL*/

@media (max-width: 1024px) {
	.headerButton {
		margin-top: 1rem;
	}
	.headerGrid {
		top: 1.25rem;
		padding-left: 1rem;
		width: calc(100% - 2rem);
	}
	.headerText {
		font-size: 1.25rem;
		margin-left: -0.0625rem;
	}
	.headerSubText {
		font-size: 0.875rem;
	}
}


/*XTRA LARGE*/

@media (min-width: 1440px) {
	.headerGrid {
		padding-left: 3rem;
		width: calc(100% - 6rem);
	}
	.headerText {
		font-size: 4rem;
	}
	.headerSubText {
		font-size: 2rem;
	}
	.headerButton {
		margin-top: 2rem;
	}
}