/****************************************************************************
	Style of the RTA Add Fields Dialog  - Horizon High Contrast Black theme
*****************************************************************************/
.sapUiRtaMode {
	.sapUIRtaFieldRepositoryDialog {
		.sapMBtn:focus {
			> .sapMFocusable {
				outline-offset: -0.125rem; //2px
				border: 0.0625rem solid transparent; //2px
				&.sapMBtnEmphasized {
					border: 0.125rem solid transparent; //2px
				}
			}
		}
	}
}