/***********************************************************************
	Style of the RTA Toolbar (type: adaptation) - Horizon High Contrast Black theme
************************************************************************/
@_sap_ui_rta_Toolbar_Adaptation_TextColor: @sapUiShellTextColor; //#fff
@_sap_ui_rta_Toolbar_Adaptation_FocusOutlineColor: @sapUiContentFocusColor; //#fff
@_sap_ui_rta_Toolbar_Adaptation_DraftVersionColor: @sapUiShellCriticalColor; //#ffab1d
@_sap_ui_rta_Toolbar_Adaptation_ActiveVersionColor:@sapUiShellPositiveColor; //#9c9
@_sap_ui_rta_Toolbar_Adaptation_BoxShadowDarkColor: fade(@sapUiContentShadowColor, 60%); //rgba(255, 255, 255, 0.6)

.sapUiRtaMode {
	.sapUiRtaToolbar.sapUiRtaToolbarAdaptation {
		.sapMBtn {
			&:focus .sapMFocusable {
				outline: 0.125rem dotted @_sap_ui_rta_Toolbar_Adaptation_FocusOutlineColor;
				outline-offset: -0.125rem; //2px
				border-color: transparent;
			}
		}

		.sapMSegB {
			.sapMSegBBtn {
				&.sapMSegBBtnFocusable {
					&:focus .sapMSegBBtnInner {
						outline-width: 0.125rem; //2px
						outline-offset: -0.125rem; //2px
					}
				}

				&.sapMSegBBtnSel .sapMSegBBtnInner {
					&:after {
						content: none !important;
					}
				}

				.sapMSegBBtnInner {
					border: solid thin;
				}
			}
		}
		// set text to white on hover for better accessibility
		.sapUiRtaVersionButton {
			&:hover {
				> span > span > bdi {
					color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
				}
			}
		}
	}
	// set text to white on hover for better accessibility
	.sapUiRtaVersionHistory {
		.sapMLIBHoverable:hover {
			.sapMLIBContent {
				.sapMFeedListItem {
					.sapMFeedListItemText {
						.sapMFeedListItemTextText {
							.sapMFeedListItemTextString {
								color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
							}
						}
						.sapMFeedListItemFooter {
							.sapMFeedListItemInfoText,
							.sapMFeedListItemTimestampText {
								color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
							}
						}
					}
				}
			}
		}
	}
}