# see http://editorconfig.org

root = true

[*]
charset = utf-8

[*.js]
end_of_line = lf

# npm is using 2 spaces when modifying package.json
[package.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false