# see http://editorconfig.org

root = true

[*]
charset = utf-8

[*.{css,html,java,js,json,less,txt}]
trim_trailing_whitespace = true
end_of_line = lf
tab_width = 4

[pom.xml]
trim_trailing_whitespace = true
end_of_line = lf

# npm is using 2 spaces when modifying package.json
[package.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
