src/*/target
src/*/test

# library specific excludes - need to be consistent with the library-local .eslintignore files
src/sap.ui.core/src/sap/ui/thirdparty
src/sap.ui.demokit/src/sap/ui/demokit/js
src/testsuite-utils
