src/*/dist
src/*/target
src/*/node_modules

# library specific excludes - need to be consistent with the library-local .eslintignore files
src/sap.ui.core/src/sap/ui/thirdparty
src/sap.ui.core/src/sap/base/util/restricted/_
src/sap.ui.core/test/sap/ui/core/qunit/thirdparty
src/sap.m/src/sap/m/_thirdparty
src/sap.m/test/sap/m/demokit/cart/webapp/Component.js
src/sap.m/test/sap/m/demokit/master-detail/webapp/Component.js
src/sap.m/test/sap/m/demokit/master-detail/webapp/controller/BaseController.js
src/sap.m/test/sap/m/demokit/master-detail/webapp/controller/Master.controller.js
src/sap.m/test/sap/m/demokit/master-detail/webapp/test/testsuite.qunit.js
src/sap.m/test/sap/m/demokit/worklist/webapp/Component.js
src/sap.m/test/sap/m/demokit/worklist/webapp/controller/Worklist.controller.js
src/sap.m/test/sap/m/demokit/worklist/webapp/test/testsuite.qunit.js
src/sap.m/test/sap/m/qunit/_thirdparty
src/sap.ui.documentation/src/sap/ui/documentation/sdk/model/data/guide
src/sap.ui.documentation/src/sap/ui/documentation/sdk/thirdparty
src/sap.ui.codeeditor/src/sap/ui/codeeditor/js
src/sap.ui.fl/test/sap/ui/fl/qunit/testResources/TestChangeHandlersBROKEN.flexibility.js
src/sap.ui.fl/test/sap/ui/fl/testApps/controlPersonalizationAPI/test/testsuite.qunit.js
src/sap.ui.integration/src/sap/ui/integration/thirdparty
src/sap.ui.integration/src/sap/ui/integration/designtime/thirdparty
src/sap.ui.webc.main/src/sap/ui/webc/main/thirdparty
src/sap.ui.webc.common/src/sap/ui/webc/common/thirdparty
src/sap.ui.webc.fiori/src/sap/ui/webc/fiori/thirdparty
src/sap.ui.webc.fiori/src/sap/ui/webc/fiori/lib
