src/*/target

# library specific excludes - need to be consistent with the library-local .eslintignore files
src/sap.ui.core/src/sap/ui/thirdparty
src/sap.ui.core/src/sap/base/util/restricted/_
src/sap.ui.documentation/src/sap/ui/documentation/sdk/model/data/guide
src/sap.ui.documentation/src/sap/ui/documentation/sdk/thirdparty
src/sap.ui.codeeditor/src/sap/ui/codeeditor/js
src/sap.ui.fl/test/sap/ui/fl/qunit/registry/TestChangeHandlersBROKEN.flexibility.js
src/sap.ui.integration/src/sap/ui/integration/thirdparty
src/sap.ui.integration/src/sap/ui/integration/designtime/thirdparty
src/testsuite-utils
