# Ignore .gitignore and target folders
src/*/.gitignore
src/*/target/
/target

# Ignore Eclipse project and settings files
.classpath
.settings
.project
.externalToolBuilders

# Ignore IntelliJ project and settings files
.idea
*.iml

# Ignore temp folders
grunt/bin

# Ignore npm files/folders
node_modules
npm-debug.log

# Ignore bower folder
bower_components

# Ignore Mac files
.DS_Store

# Ignore Visual Studio project and settings files
*.sln
*.suo
web.config
/.user.project.json