.sapUiDemoWTmyCustomButton.sapMBtn {
	margin-right: 0.125rem;
}

.sapUiDemoWTmyCustomText {
	font-weight: bold;
}

/*  ProductRating */
.sapUiDemoWTProductRating {
	padding: 0.75rem;
}

.sapUiDemoWTProductRating .sapMRI {
	vertical-align: initial;
}
