/* =========================================================== */
/* CSS for control sap.ui.integration.controls/Paginator */
/* Quartz High Contrast Black theme */
/* =========================================================== */

@_sap_ui_integration_Paginator_BulletActiveBorder: @sapUiContentForegroundBorderColor;
@_sap_ui_integration_Paginator_BulletInactiveBackground: none;
@_sap_ui_integration_Paginator_BulletInactiveBorderColor: @sapUiContentForegroundBorderColor;
@_sap_ui_integration_Paginator_BulletInactiveHoverBackground: @sapUiButtonHoverBackground;

@_sap_ui_integration_Paginator_BulletInactiveWidth: 0.5rem;
@_sap_ui_integration_Paginator_BulletInactivePadding: 0.25rem;