/*!
 * SAP UI development toolkit for HTML5 (SAPUI5)
 *
 * (c) Copyright 2009-2012 SAP AG. All rights reserved
 */
/* Global CSS for 'base' theme */
/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
/* may be required by SubstitutionRulesManager.css in inbox lib */
/* ---------------------------------------------------------------------------------------- */
/* Global CSS for 'sap_mvi' theme */
/* not in use right now

@sapUiPurpleLight:    lighten(saturate(spin(@sapUiPurpleMedium,22),12),4);   // #ab218e;
@sapUiPurpleMedium:   #812990;
@sapUiPurpleDark:     darken(spin(@sapUiPurpleMedium,339),4);                // #52247f;

@sapUiOrangeLight:    saturate(spin(@sapUiOrangeMedium,7),2);                // #f68b1f;
@sapUiOrangeMedium:   #f37021;
@sapUiOrangeDark:     darken(desaturate(spin(@sapUiOrangeMedium,349),26),6); // #cb4d2c;

@sapUiGreenLight:     lighten(saturate(spin(@sapUiGreenMedium,337),12),5);   // #b1d34a;
@sapUiGreenMedium:    #72bf44;
@sapUiGreenDark:      darken(saturate(spin(@sapUiGreenMedium,48),51),24);    // #008a3b;

@sapUiBlueLight:      lighten(spin(@sapUiBlueMedium,357),5);                 // #00a1e4;
@sapUiBlueMedium:     #0083ca;
@sapUiBlueDark:       darken(spin(@sapUiBlueMedium,9),12);                   // #004990;
*/
/* Shared CSS for 'base' theme */
.sapUiBody {
  background-color: #f7f7f7;
  color: #000000;
  font-family: 'Helvetica Neue', Roboto, 'Droid Sans', 'BBGlobal Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* to prevent touch highlight on the entire body */

}
.sapUiArea {
  background-color: #f7f7f7;
  color: #000000;
  font-family: 'Helvetica Neue', Roboto, 'Droid Sans', 'BBGlobal Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
/* 
 * used for static (Core) and hidden (HTML) area 
 * (TODO: think about renaming static area also to hidden since static is not
 *        required for newer browsers anymore => position: static) 
 */
.sapUiHidden {
  position: absolute;
  visibility: hidden;
  top: -10000px;
  background-color: #f7f7f7;
  /* repeat the body style in case the application adapts it */

  color: #000000;
  font-family: 'Helvetica Neue', Roboto, 'Droid Sans', 'BBGlobal Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.sapUiCorePlaintext {
  font-family: 'Helvetica Neue', Roboto, 'Droid Sans', 'BBGlobal Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
}
.sapUiCoreDefaultFont {
  font-family: 'Helvetica Neue', Roboto, 'Droid Sans', 'BBGlobal Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.sapUiCoreDefaultCursor {
  cursor: default;
}
.sapUiBLy {
  background-color: #CCCCCC;
  opacity: 0.6;
  filter: alpha(opacity=60);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  outline: 0 none;
}
[data-sap-ui-type] {
  visibility: hidden;
}
/* Shared CSS for 'sap_mvi' theme */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}
input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}
.sapUiBody {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
}
.sapUiBLy {
  background-color: #666666;
  opacity: 0.5;
  filter: alpha(opacity=5);
}
.sap-android > .sapUiBody,
.sap-bb > .sapUiBody {
  font-family: Roboto, 'Droid Sans', Helvetica, Arial;
  color: #333333;
}
html[data-sap-ui-os^='Android2'] .sap-android > .sapUiBody,
html[data-sap-ui-os^='Android3'] .sap-android > .sapUiBody {
  font-family: 'Droid Sans', Helvetica, Arial;
}
.sap-ios > .sapUiBody {
  font-family: 'Helvetica Neue', Roboto, 'Droid Sans', 'BBGlobal Sans', Helvetica, Arial, sans-serif;
}
.sap-bb > .sapUiBody {
  font-family: 'BBGlobal Sans', Helvetica, Arial;
}
.sap-winphone > .sapUiBody {
  font-family: Tahoma,Arial;
}
/*
	CSS classes shared by BusyDialog and Dialg with type "Message" 
*/
.sap-ios {
  /*.sapMDialogBLyShown {
		opacity: 1;
	}*/

}
.sap-ios .sapMDialog.sapMCommonDialog,
.sap-ios .sapMBusyDialog.sapMCommonDialog {
  width: 18em;
  border-radius: 0.625em;
  background-image: -webkit-linear-gradient(top, rgba(79, 79, 79, 0.65) 0, rgba(23, 23, 23, 0.8) 22px, rgba(0, 0, 0, 0.85) 22px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  padding: 0.4375em;
  box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.1), 0.0625em 0 0 rgba(0, 0, 0, 0.1), 0 -0.0625em 0 rgba(0, 0, 0, 0.1), -0.0625em 0 0 rgba(0, 0, 0, 0.1), 0 0.1865em 0.375em rgba(0, 0, 0, 0.5);
  text-shadow: 0 -0.0625em #000000;
  -webkit-animation-duration: 300ms;
  -webkit-animation-iteration-count: 1;
}
.sap-ios .sapMDialogBLyInit {
  /*opacity: 0;*/

  opacity: 1;
  background-color: transparent;
  background-image: -webkit-radial-gradient(center, circle, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.6) 100%);
  /*-webkit-transition: opacity 300ms linear;*/

}
.sap-ios .sapMDialogTitle {
  font-size: 1.4em;
  line-height: 0.625em;
  color: #f0ab00;
  margin-top: .5em;
  font-weight: bold;
}
.sap-ios .sapMCommonDialog button.sapMDialogBtn,
.sap-ios .sapMActionSheetDialog.sapMDialogIPhone button.sapMActionSheetCancelButton {
  width: 100%;
  height: 44px;
  font-size: 1em;
  border-radius: 0.3125em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -0.0625em 0 #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0.0625em 0 #000000, inset 0 -0.0625em 0 #262626, inset 0 -0.125em 0 #000000;
  border: none;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(153, 153, 153, 0.55) 0%, rgba(48, 48, 48, 0.6) 50%, rgba(48, 48, 48, 0.6) 50%, rgba(64, 64, 64, 0.6) 100%);
}
.sap-ios .sapMCommonDialog button.sapMDialogBtn:active,
.sap-ios .sapMActionSheetDialog.sapMDialogIPhone button.sapMActionSheetCancelButton:active {
  background-image: -webkit-linear-gradient(top, rgba(153, 153, 153, 0.55) 0%, rgba(48, 48, 48, 0.1) 50%, rgba(48, 48, 48, 0.1) 50%, rgba(64, 64, 64, 0.5) 100%);
}
@-webkit-keyframes sapMDialogBounce {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  55% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }
  75% {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* TODO replace the font with the correct font size for checkbox and radioButton */
/* @font-face { */
/* 	font-family: 'ios-icons'; */
/* 	src: url('fonts/SAP-icons-IOS.eot?#iefix') format('embedded-opentype'), */
/* 		url('fonts/SAP-icons-IOS.woff') format('woff'), */
/* 		url('fonts/SAP-icons-IOS.ttf') format('truetype'), */
/* 		url('fonts/SAP-icons-IOS.svg#sap-icons') format('svg'); */
/* 	font-weight: normal; */
/* 	font-style: normal; */
/* } */
/* @font-face { */
/* 	font-family: 'android-icons'; */
/* 	src: url('fonts/SAP-icons-Android.eot?#iefix') format('embedded-opentype'), */
/* 		url('fonts/SAP-icons-Android.woff') format('woff'), */
/* 		url('fonts/SAP-icons-Android.ttf') format('truetype'), */
/* 		url('fonts/SAP-icons-Android.svg#sap-icons') format('svg'); */
/* 	font-weight: normal; */
/* 	font-style: normal; */
/* } */
.sapUiBliLy {
  position: absolute;
  display: inline-block;
}
.sapUiBliLy > iframe {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0.01;
  filter: alpha(opacity=1);
  width: 100%;
  height: 100%;
}
.sapUiBusy {
  background-image: url(img/Busy.gif);
  display: block;
  width: 48px;
  height: 48px;
  outline: none;
  cursor: wait;
}
.sapUiBlyBusy {
  cursor: wait;
}
/* ============================================= */
/* CSS for control sap.ui.core/ScrollBar.control */
/* ============================================= */
.sapUiScrollBarTouch ::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  -webkit-appearance: none;
}
.sapUiScrollBarTouch ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.sapUiShd {
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}
/*
 * TODO decide whether shadow should generally be enabled for IE8 (will break QTP tests, so visual benefit must be worth the effort ;-)
html[data-sap-ui-browser=ie8] .sapUiShd {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#808080')";
}
*/
.sapUiTInf {
  border: 1px solid #999999;
  background: #f7f7f7;
  padding: 6px;
}
.sapUiTInfCfg {
  font-size: 0.9em;
}
.sapUiTInfMList {
  font-size: 0.9em;
  color: #999999;
  overflow-y: auto;
  max-height: 12em;
}
.sapUiTInfMEmbd {
  color: #aaaaaa;
}
.sapUiTInfMFail {
  text-decoration: line-through;
}
.sapUiTInfMMore {
  text-decoration: underline;
  cursor: pointer;
}
/* ========================================= */
/* CSS for control sap.ui.core/View.control  */
/* ========================================= */
.sapUiView {
  display: inline-block;
}
