<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>Approve Purchase Orders</title>

<!--  Bootstrap the UI5 core library -->
<script src="../../../../../../../resources/sap-ui-core.js" id="sap-ui-bootstrap"
	data-sap-ui-libs="sap.m, sap.me"
	data-sap-ui-xx-bindingSyntax="complex"
	data-sap-ui-resourceroots='{"NavigationWithoutMasterDetailPattern": "./"}'>

</script>


<link rel="stylesheet" type="text/css" href="css/style.css">

<script>
	new sap.ui.core.ComponentContainer({
		name : "NavigationWithoutMasterDetailPattern",
		settings : {
			id : "NavigationWithoutMasterDetailPattern"
		}
	}

	).placeAt("content");
</script>

</head>
<body class="sapUiBody">
	<div id="content"></div>
</body>
</html>