/******************************************************************
	Style of the RTA Overlays - HCW Theme
*******************************************************************/
@sapUiRtaHoverBG : fade(@sapUiAccent6, 40%);
@sapUiRtaActiveBG : fade(@sapUiAccent6, 40%);
@sapUiRtaBorder : @sapUiAccent6;

@sapHCStandardFG: @sapUiPageHeaderTextColor;
@sapHCStandardBG: @sapUiPageHeaderBackground;

.sapUiDtOverlay {
	&:focus {
		outline: none;
		&:before {
			border-width: 2px;
		}
	}
}

.sapUiRta {
	.sapUiRtaOverlayHover {
		&:after {
			border-width: 2px;
		}
	}
}
