/* type: standalone */
.sapUiRtaToolbar.type_standalone.color_default {
	background-color: #fff;
	border-bottom: inherit;
	}
	.sapUiRtaToolbar.type_standalone.color_default .sapMBtn .sapMBtnContent,
	.sapUiRtaToolbar.type_standalone.color_default .sapMBtn .sapMBtnTransparent .sapMBtnIcon {
		color: inherit;
		}
		.sapUiRtaToolbar.type_standalone.color_default .sapMBtn.sapMBtnDisabled .sapMBtnContent,
		.sapUiRtaToolbar.type_standalone.color_default .sapMBtn.sapMBtnDisabled .sapMBtnIcon {
			color: inherit;
			}
		.sapUiRtaToolbar.type_standalone.color_default .sapMBtn:focus .sapMFocusable {
			outline-color: inherit;
			}
