/* ========================= */
/* CSS for sap.ui.table/Cell */
/* Fiori 3 theme             */
/* ========================= */

@_sap_ui_table_Cell_BorderColorSelected: @sapUiListSelectionBorderColor;
@_sap_ui_table_Cell_BorderColorFixedSelected: @sapUiListSelectionBorderColor;
@_sap_ui_table_Cell_ShadowColorFixed: @sapUiListTableFixedBorder;
@_sap_ui_table_Cell_BorderBottomFocus: transparent;