/* ================================== */
/* CSS for sap.ui.table/RowSelection  */
/* Fiori 3 theme                      */
/* ================================== */

@_sap_ui_table_RowSelection_CheckBoxBorderWidth: 0.0625rem;
@_sap_ui_table_RowSelection_CheckBoxBorderRadius: 0.125rem;
@_sap_ui_table_RowSelection_CheckBoxIconColor: @sapUiContentIconColor;