/* =================================== */
/* CSS for control sap.ui.table/Table  */
/* Belize High Contrast Black theme    */
/* =================================== */

@_sap_ui_table_Table_FocusOutlineOffset: -3px;

.sapUiTableHdr {
	border-bottom: 3px solid @sapUiListHeaderBorderColor;
}

.sapUiTableTbr,
.sapUiTableExt {
	border-bottom: @_sap_ui_table_BaseBorderWidth solid @sapUiListHeaderBorderColor;
	padding: 0.125rem;
	box-sizing: content-box;
}

.sapUiTableCnt {
	border: @_sap_ui_table_BaseBorderWidth solid @sapUiListBorderColor;
}

.sapUiTableColHdrCnt {
	border-bottom-width: 3px;
}