/* ================================ */
/* CSS for control sap.m/FeedInput  */
/* Quartz Dark theme                */
/* ================================ */

@_sap_m_FeedInput_BackgroundColor: lighten(@sapUiBaseColor, 9);

.sapMFeedIn {
	background-color: @_sap_m_FeedInput_BackgroundColor;
}

.sapMFeedIn .sapMFeedInContainer {
	background-color: @sapUiFieldBackground;
}