/* ====================================== */
/* CSS for control sap.m/HeaderContainer  */
/* Quartz Dark theme                      */
/* ====================================== */

@_sap_m_HeaderContainer_TranslucentBackground: fade(@sapUiObjectHeaderBackground, 100);

.sapMHdrCntrBtn > .sapMBtnInner {
	border: none;
}

.sapMHdrCntrBGTransparent {
	background-color: transparent;
}

.sapMHdrCntrBGTranslucent {
	background-color: @_sap_m_HeaderContainer_TranslucentBackground;
}