/* ================================ */
/* CSS for control sap.m/SlideTile  */
/* Quartz Dark theme                */
/* ================================ */

.sapMST:active .sapMSTFocusDiv {
	border: 1px solid var(--sapTile_Background);
}

.sapMST.sapMSTScopeActions.sapMSTDarkBackground .sapMSTMoreIcon {

	.sapMBtnIcon {
		color: var(--sapContent_ContrastTextColor);
	}
}

/* This part is used to achieve dotted white black interlace border */
.sapMST:focus .sapMSTFocusDiv::after,
.sapMST:active .sapMSTFocusDiv::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0.25rem;
	margin: -1px;
	border: 1px dotted var(--sapContent_FocusColor);
}

/* Bulleted indicator of multiple tiles */
.sapMSTBulleted .sapMSTIndicator {
	background-color: var(--sapContent_NonInteractiveIconColor);
	box-shadow: 0 0 0.25rem fade(@sapUiContentShadowColor, 25);
}

.sapMSTBulleted .sapMSTIndicator.sapMSTActive {
	background-color: var(--sapContent_ContrastIconColor);
	box-shadow: 0 0 0.25rem fade(@sapUiContentShadowColor, 25);
}

.sapMST .sapMSTIconDisplayArea {
	background-color: darken(@sapUiBrand, 18);
}

.sapMST.sapMSTIconPressed .sapMSTIconClickTapArea:hover ~.sapMSTIconDisplayArea {
	background-color: var(--sapBrandColor);
}

.sapMST .sapMSTIconNestedArea {
	text-shadow: 0 1px var(--sapButton_Emphasized_TextShadow);
}

.sapMST .sapMGT:active .sapMGTFocusDiv,
.sapMST .sapMGT:active .sapMGTFocusDiv::after {
	border: none;
}