/* =================================== */
/* CSS for control sap.m/StandardTile  */
/* Quartz Dark theme                   */
/* =================================== */

.sapMStdTileIconDiv {
	color: @sapUiHighlight;
}

.sapMStdIconCreate {
	opacity: .3;
}

.sapMStdTileMonitorType {
	background-color: lighten(@sapUiTileBackground, 5);
}

.sapMTCEditable .sapMStdTileMonitorType {
	background-color: fade(lighten(@sapUiTileBackground, 5), 50);
}

.sapMStdTileMonitorType .sapMStdTileTitle {
	color: @sapUiTileTitleTextColor;
}

.sapMTileActive-CTX .sapMStdTileMonitorType {
	background-color: transparent;
}