/* ======================================= */
/* CSS for control sap.m/SuggestionPopover */
/* Quartz Dark theme                       */
/* ======================================= */

// ==========================================================================
// Variables overriding
// ==========================================================================

@_sap_m_SuggestionsPopover_ItemHeight: 2.5rem;
@_sap_m_SuggestionsPopover_ItemHeightCompact: 2rem;
@_sap_m_SuggestionsPopover_GroupItemHeight: 2.75rem;
@_sap_m_SuggestionsPopover_GroupItemHeightCompact: 2.75rem;

@_sap_m_SuggestionsPopover_TabularItemHeight: 2.5rem;
@_sap_m_SuggestionsPopover_TabularItemHeightCompact: 2rem;
@_sap_m_SuggestionsPopover_TabularGroupItemHeight: 2.5rem;
@_sap_m_SuggestionsPopover_TabularGroupItemHeightCompact: 2rem;

.sapMSuggestionsPopover {

	.sapMListUl>.sapMLIB {
		height: @_sap_m_SuggestionsPopover_ItemHeight;
	}
	.sapMListUl>.sapMLIB.sapMGHLI {
		height: @_sap_m_SuggestionsPopover_GroupItemHeight;
	}

	.sapMListTbl .sapMLIB {
		height: @_sap_m_SuggestionsPopover_TabularItemHeight;
	}
	.sapMListTbl .sapMListTblHeader,
	.sapMListTbl .sapMLIB.sapMGHLI {
		height: @_sap_m_SuggestionsPopover_TabularGroupItemHeight;
	}

	.sapMListTbl .sapMListTblHeader .sapMColumnHeader,
	.sapMListTbl .sapMLIB .sapMListTblCell {
		padding-top: 0.625rem;
		padding-bottom: 0.625rem;
	}
}

div.sapMSuggestionsPopover {
	border: none;
	box-shadow: @sapUiShadowLevel1;
}

.sapUiSizeCompact {
	.sapMSuggestionsPopover {

		.sapMListUl>.sapMLIB {
			height: @_sap_m_SuggestionsPopover_ItemHeightCompact;
		}
		.sapMListUl>.sapMLIB.sapMGHLI {
			height: @_sap_m_SuggestionsPopover_GroupItemHeightCompact;
		}

		.sapMListTbl .sapMLIB {
			height: @_sap_m_SuggestionsPopover_TabularItemHeightCompact;
		}
		.sapMListTbl .sapMListTblHeader,
		.sapMListTbl .sapMLIB.sapMGHLI {
			height: @_sap_m_SuggestionsPopover_TabularGroupItemHeightCompact;
		}

		.sapMListTbl .sapMListTblHeader .sapMColumnHeader,
		.sapMListTbl .sapMLIB .sapMListTblCell {
			padding-top: 0.25rem;
			padding-bottom: 0.25rem;
		}
	}
}