/* ================================= */
/* CSS for control sap.m/TimePicker  */
/* Quartz Dark theme                 */
/* ================================= */

@_sap_m_TimePicker_ItemColor: @sapUiLegendWorkingBackground;
@_sap_m_TimePicker_ItemHoverColor: @sapUiListHoverBackground;
@_sap_m_TimePicker_ItemBorderColor: @sapUiListBackground;