/* ======================================= */
/* CSS for control sap.tnt/NavigationList  */
/* Horizon theme                           */
/* ======================================= */

@_sap_tnt_NavigationList_CollapsedWidth: 4rem;
@_sap_tnt_NavigationList_IconColor: @sapUiListTextColor;
@_sap_tnt_NavigationList_ExpandIconColor: @sapUiListTextColor;
@_sap_tnt_NavigationList_GroupBorderStyleColor: none;
@_sap_tnt_NavigationList_ItemHeight: 2.75rem;
@_sap_tnt_NavigationList_ItemBorderRadius: 0.375rem;
@_sap_tnt_NavigationList_ItemBottomMargin: 0.25rem;
@_sap_tnt_NavigationList_ItemBottomMarginInOverflowPopup: 0.25rem;
@_sap_tnt_NavigationList_ItemFocusBorderOffset: -@sapUiContentFocusWidth;
@_sap_tnt_NavigationList_ItemFocusBorderRadius: @_sap_tnt_NavigationList_ItemBorderRadius + @sapUiContentFocusWidth;
@_sap_tnt_NavigationList_ItemTransition: background-color 0.3s ease-in-out, max-width 0.3s ease-in-out;
@_sap_tnt_NavigationList_SelectedBorderStyleColor: none;
@_sap_tnt_NavigationList_Collapsed_SelectedItemBorderStyleColor: solid @_sap_tnt_NavigationList_SelectedItemBorderColor;
@_sap_tnt_NavigationList_SelectedItemBorder: none;
@_sap_tnt_NavigationList_Collapsed_SelectedItemBorder: 0.125rem solid @_sap_tnt_NavigationList_SelectedItemBorderColor;
@_sap_tnt_NavigationList_GroupIconWidth: 2rem;
@_sap_tnt_NavigationList_GroupIconWidthExpanded: 1rem;
@_sap_tnt_NavigationList_GroupIconMarginLeft: 1rem;
@_sap_tnt_NavigationList_GroupIconMarginRight: 0.5rem;
@_sap_tnt_NavigationList_ParentItemBottomMarginInPopup: 0.5rem;
@_sap_tnt_NavigationList_GroupTextWeight: bold;
@_sap_tnt_NavigationList_GroupPadding: 0;
@_sap_tnt_NavigationList_NoIconsNestedItemPadding: 2rem;
@_sap_tnt_NavigationList_Padding: 0.5rem 0.5rem 0 0.5rem;
@_sap_tnt_NavigationList_PaddingFixed: 0 0.5rem 0.5rem 0.5rem;
@_sap_tnt_NavigationList_PopupPadding: 0.5rem;
@_sap_tnt_NavigationList_PopupItemPadding: 0 0.5rem;
@_sap_tnt_NavigationList_PopupTitleTextSize: var(--sapFontSize);
@_sap_tnt_NavigationList_PopupTitleLineHeight: 1.5rem;
@_sap_tnt_NavigationList_Collapsed_HoverOrFocusTextDisplay: block;
@_sap_tnt_NavigationList_Collapsed_HoverOrFocusItemZIndex: 1;
@_sap_tnt_NavigationList_Collapsed_HoverOrFocusItemPosition: absolute;
@_sap_tnt_NavigationList_Collapsed_HoverOrFocusItemPadding: 0 0 0 0.5rem;
@_sap_tnt_NavigationList_Collapsed_HoverOrFocusItemPaddingCompact: @_sap_tnt_NavigationList_Collapsed_HoverOrFocusItemPadding;
@_sap_tnt_NavigationList_CollapsedIconPaddingLeft: 0.25rem;
@_sap_tnt_NavigationList_CollapsedHiddenExpanderPadding: 1rem;
@_sap_tnt_NavigationList_NavigationIndicator: "\E066";
@_sap_tnt_NavigationList_ExpandIconWidth: 2.25rem;
@_sap_tnt_NavigationList_ExpandIconMarginRight: 0.375rem;
@_sap_tnt_NavigationList_ExpandIconMarginLeft: 0.25rem;
@_sap_tnt_NavigationList_ExpandIconPaddingLeft: 0.25rem;
@_sap_tnt_NavigationList_ExpandIconFontSize: 1rem;
@_sap_tnt_NavigationList_Collapsed_SelectedItemBackground: ~"0 100% / 0.188rem 100%" no-repeat linear-gradient(0deg, @sapUiListHighlightColor, @sapUiListHighlightColor), @sapUiListSelectionBackgroundColor;
@_sap_tnt_NavigationList_Collapsed_SelectedItemBackgroundHover: @sapUiListSelectionHoverBackground;
@_sap_tnt_NavigationList_Collapsed_SelectedItemBackgroundRTL: ~"100% 0 / 0.188rem 100%" no-repeat linear-gradient(0deg, @sapUiListHighlightColor, @sapUiListHighlightColor), @sapUiListSelectionBackgroundColor;
@_sap_tnt_NavigationList_ActionItemBorderHover: @_sap_tnt_NavigationList_ActionItemBorder;
@_sap_tnt_NavigationList_ActionItemBorderPosition: -1px;
@_sap_tnt_NavigationList_ActionItemBorderHeight: auto;
@_sap_tnt_NavigationList_ActionItemBorderPaddingLeft: calc(@_sap_tnt_NavigationList_Collapsed_HoverOrFocusItemPadding ~"-" 0.0625rem);
