/* Table */
table.sapUiTable {
        margin-top: 5px;
        border-spacing: 0px;
}
table.sapUiTable th {
        background-color: #f5f5f5;
        border-bottom: 2px solid #ddd;
}
table.sapUiTable td {
        border-bottom: 1px solid #ddd;
        vertical-align: top;
}
table.sapUiTable th, table.sapUiTable td {
        text-align: left;
        padding: 10px;
}
table.sapUiTable tr:hover {
        background-color: #f5f5f5;
}

/* Other */
.sapUiSupportLabel {
        font-weight: bold;
}
.High {
        color: #bb0000;
}
.Medium {
        color: #e78c07;
}
.Low {
        color:#5e696e;
}

.bottom-margin-small {
        margin-bottom: 10px;
}
.top-margin-xsmall {
        margin-top: 5px;
}
