control-tree {
  font-family: Menlo, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  width: 100%;
  height: ~"calc(100% - 2rem)";
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 2rem;
  position: relative;
  flex: 1 1 0;
  flex-wrap: nowrap;

  filter {
    border-bottom: solid 1px #c0c0c0;
    display: flex;
    left: 0;
    line-height: 1;
    min-width: 550px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
  }

  filter > start,
  filter > end {
    display: flex;
  }

  filter > start {
    flex: 1 1 0;
  }

  filter [type="search"] {
    border: solid 1px #a3a3a3;
    border-radius: 2px;
  }

  filter [type="checkbox"] {
    margin-right: 2px;
  }

  filter label {
    display: flex;
    line-height: 20px;
    padding: 0 6px;
    white-space: nowrap;
    align-items: center;
  }

  tree {
    margin: 0;
    overflow-x: hidden;
    padding-top: 5px;
    transform: translateZ(0);
    flex: 1 1 0;
  }

  tree > ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  tree > :last-child {
    margin-bottom: 10px;
  }

  tree:not([show-filtered-elements]) {

    [matching] {
      background: #ffff70;
    }

    [selected] {
      background: #3879D9;
      ::selection {
        background: #a3a3a3;
      }
    }

  }

  [show-namespaces] {
    namespace {
      display: inline
    }
  }

  [show-problematic-elements] {
    [issue ], .showNumbOfIssues {
     background-color: #fdb;
    }
  }

  [show-attributes] {
    attribute {
      display: inline
    }
  }

  [show-filtered-elements] {
    li {
      display: none;
    }

    [visible],
    [matching] {
      display: flex;
    }

  }

  ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;

    & > ul {
      display: none;
    }
  }

  ul[expanded] > ul {
    display: flex;
  }

  li {
    border-radius: 0px;
    display: flex;
    line-height: 14px;
    padding-top: 1px;
    position: relative;
    word-break: break-word;

    &[hover] {
	  &:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		border: 1px dashed black;
		cursor: default;
		content: " ";
		pointer-events: none;
	  }
    }

	&[selected] {
	  &:before {
		border: 1px dashed white;
	  }
	}

    offset {
      width: 0;
      padding-right: 12px;
    }

    &[selected], &[selected] .showNumbOfIssues {
      background-color: #3879D9;
      border-radius: 0;

      tag,
      attribute,
      attribute-value,
      version,
      .showNumbOfIssues {
        color: #fff;
      }

      arrow {
        &[right] {
          background-image: url("images/arrows/arrow-right-white.png");
        }

        &[down] {
          background-image: url("images/arrows/arrow-down-white.png");
        }
      }
    }
  }

  version {
    color: #bbb;
    padding-left: 10px;
  }

  namespace,
  attribute {
    display: none;
  }

  //
  // Global styles
  // --------------------------------------------------

  arrow,
  place-holder {
    display: block;
    height: 14px;
    width: 12px;
  }

  arrow {
    background-repeat: no-repeat;
    background-position: center center;

    &[right] {
      background-image: url("images/arrows/arrow-right.png");
      background-size: 7px 8px;
    }
    &[down] {
      background-image: url("images/arrows/arrow-down.png");
      background-size: 8px 7px;
    }
  }

  arrow {
    cursor: pointer;
  }

  attribute,
  string {
    color: #994500;
  }

  attribute-value,
  boolean {
    color: #1a1aa6;
  }

  key {
    color: #C80000;
  }

  no-data {
    color: #c0c0c0;
    display: block;
    padding-top: 12px;
    text-align: center;
  }

  pre {
    display: inline;
    word-wrap: break-word;
  }

  section-title, value {
    color: #000
  }

  tag {
    color: #881280;
  }

  [hidden] {
    display: none;
  }

  opaque {
    color: #c0c0c0;
  }

  [padding] {
    padding: 10px;
  }
  .showNumbOfIssues {
  	display: initial;
  	right: 0;
  	padding-left: 0.5rem;
  	padding-right: 0.5rem;
    position: absolute;
    cursor: pointer;
  }

.showNumbOfIssues:hover,
.showNumbOfIssues::selection {
     color: white;
}

  .hideNumbOfIssues {
  	 display: none;
  }
}
