.sapUxAPBreadCrumbs {
	.sapMText:focus {
		outline: 0.125rem dotted @sapHCStandardFG;
		outline-offset: 0.2rem;
	}

	.sapMSlt > .sapMSltArrow:hover,
	.sapMSlt:hover > .sapMSltArrow,
	.sapMSltPressed > .sapMSltArrow {
		border-left: 0 none;
	}
}
