.sapUxAPObjectPageSectionHeader {
	background-color: @sapHCReducedBG;
	font-size: @sapMFontHeader3Size;
	color: @sapHCStandardFG;
	border-top: 0.0625rem solid @sapHCReducedAltFG;
	border-bottom: 0.0625rem solid @sapHCReducedAltFG;
}

.sapUxAPObjectPageSection:focus {
	outline: 0.125rem dotted @sapHCStandardFG;
	outline-offset: -0.125rem;
	border-color: transparent;
	border-radius: 0;
}

/* IE does not support css outline-offset */
html[data-sap-ui-browser^="ie"].sap-desktop .sapUxAPObjectPageSection:focus {
	outline: none;
	position: relative;
}

html[data-sap-ui-browser^="ie"].sap-desktop .sapUxAPObjectPageSection:focus:before {
	content: "";
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border: 0.125rem dotted @sapHCStandardFG;
}

.sapUxAPObjectPageSectionTitle {
	line-height: 2.9rem;
}

.sapUiSizeCompact .sapUxAPObjectPageSectionTitle {
	line-height: 2.4rem;
}