.sapUxAPObjectPageHeaderIdentifier {
	background-color: @sapHCStandardBG;

	.sapUxAPObjectPageHeaderIdentifierContainer {
		.sapUxAPObjectPageHeaderIdentifierDescription {
			font-size: @sapMFontMediumSize;
		}
	}

	.sapUxAPObjectPageHeaderIdentifierActions {

		&.sapUxAPObjectPageHeaderIdentifierActionsForce, .sapUxAPObjectPageHeaderStickied & {
			display: inline-block;
		}
	}
}

.sapUxAPObjectPageHeaderIdentifierSubTitleInContent {
	font-size: @sapMFontMediumSize;
}

.sapUiMedia-Std-Phone .sapUxAPObjectPageHeaderIdentifierTitle {
	font-size: @sapMFontHeader4Size;
}

.sapUiMedia-Std-Phone .sapUiSizeCompact.sapUxAPObjectPageHeaderLockBtn .sapMBtn,
.sapUiMedia-Std-Phone .sapUiSizeCompact.sapUxAPObjectPageHeaderChangesBtn .sapMBtn {
	margin-top: -0.3rem;
}

.sapUiSizeCompact.sapUxAPObjectPageHeaderLockBtn .sapMBtn,
.sapUiSizeCompact.sapUxAPObjectPageHeaderChangesBtn .sapMBtn {
	margin-top: -0.125rem;
}

.sapUxAPObjectPageHeaderSeparator {
	background-color: @sapHCStandardFG;
}