/* ================================================= */
/* CSS for control sap.ui.layout/ResponsiveSplitter  */
/* Base theme                                        */
/* ================================================= */

@_sap_ui_layout_ResponsiveSplitter_PaginatorHeight: 2.5rem;
@_sap_ui_layout_ResponsiveSplitter_PaginatorButtonWidth: 2.5rem;
@_sap_ui_layout_ResponsiveSplitter_PaginatorButtonHeight: 2.375rem;
@_sap_ui_layout_ResponsiveSplitter_PaginatorButtonFocusWidth: 2.125rem;
@_sap_ui_layout_ResponsiveSplitter_PaginatorButtonFocusHeight: 2.125rem;

.sapUiResponsiveSplitter {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sapUiResponsiveSplitterPage {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.sapUiRSVisiblePaginator {
	& .sapUiResponsiveSplitterPaginator {
		width: 100%;
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		outline: none;
		height: @_sap_ui_layout_ResponsiveSplitter_PaginatorHeight;
		background-color: @sapUiPageFooterBackground;
		border: 1px solid @sapUiPageFooterBorderColor;
	}

	& .sapUiResponsiveSplitterPage {
		height: calc(100% ~"-" @_sap_ui_layout_ResponsiveSplitter_PaginatorHeight);
	}

	& .sapUiResponsiveSplitterPaginator.sapUiResponsiveSplitterWithNavButtons {
		justify-content: space-between;
	}
}

.sapUiResponsiveSplitterPaginatorButton {
	width: @_sap_ui_layout_ResponsiveSplitter_PaginatorButtonWidth;
	height: @_sap_ui_layout_ResponsiveSplitter_PaginatorButtonHeight;
	cursor: pointer;
	background-color: transparent;
	display: inline-block;

	&:after {
		content: "";
		width: 0.5rem;
		height: 0.5rem;
		background-color: @sapUiContentIconColor;
		margin: auto;
		display: block;
		margin-top: 16px;
		border-radius: 50%;
	};

	&:focus {
		outline: none;
	}

	&:focus:before {
		content: "";
		position: absolute;
		width: @_sap_ui_layout_ResponsiveSplitter_PaginatorButtonFocusWidth;
		height: @_sap_ui_layout_ResponsiveSplitter_PaginatorButtonFocusHeight;
		margin: 1px 0 0 2px;
	}
}

.sapUiResponsiveSplitterPaginatorButton:first-child {
	margin-left: 0;
}

.sapUiResponsiveSplitterHiddenElement {
	display: none;
}

.sapUiResponsiveSplitterPaginatorNavButton {
	width: 2.5rem;
    height: 2.375rem;
	font-family: 'SAP-icons';
	cursor: pointer;

	&::after {
		position: absolute;
		margin-top: 11px;
		margin-left: 15px;
	}
}

.sapUiResponsiveSplitterPaginatorButtonBack {
	&::after {
		content: '\e067';
	}
}

.sapUiResponsiveSplitterPaginatorButtonForward {
	&::after {
		content: '\e066';
	}
}

.sapUiResponsiveSplitterHiddenBackButton,
 .sapUiResponsiveSplitterHiddenPaginatorButton {
	display: none !important;
	background-color: @sapUiSelected;
}

html.sap-phone .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage > .sapUiLoSplitter .sapUiLoSplitterBar,
html.sap-tablet .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage > .sapUiLoSplitter .sapUiLoSplitterBar,
html.sap-phone .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage > .sapUiLoSplitter .sapUiLoSplitterOverlayBar,
html.sap-tablet .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage > .sapUiLoSplitter .sapUiLoSplitterOverlayBar {
	& .sapUiLoSplitterBarIcon {
		width: 3rem;
		height: 3rem;
		z-index: 1;
		margin-left: -22px;
		top: 50%;
		display: block;
		position: relative;
		text-align: center;
		touch-action: none;
	}

	& .sapUiLoSplitterBarIcon:after {
		content: "";
		width: 1.25rem;
		height: 1.25rem;
		border-width: 0.125rem;
		border-radius: 50%;
		border-style: solid;
		display: block;
		position: relative;
		left: 25%;
		top: 25%;
	}
}

.sapUiResponsiveSplitter .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiResponsiveSplitter .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	&:hover {
		cursor: row-resize;
	}
}

.sapUiResponsiveSplitter .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiResponsiveSplitter .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {

	&:hover {
		cursor: col-resize;
	}
}

html.sap-phone .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage .sapUiLoSplitter.sapUiLoSplitterV .sapUiLoSplitterBar,
html.sap-phone .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage .sapUiLoSplitter.sapUiLoSplitterV .sapUiLoSplitterOverlayBar,
html.sap-tablet .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage .sapUiLoSplitter.sapUiLoSplitterV .sapUiLoSplitterBar,
html.sap-tablet .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage .sapUiLoSplitter.sapUiLoSplitterV .sapUiLoSplitterOverlayBar {
	& .sapUiLoSplitterBarIcon {
		position: absolute;
		margin-top: -22px;
		top: auto;
	}

	& .sapUiLoSplitterBarIcon:after {
		top: 25%;
		left: 25%;
	}
}

html.sap-phone .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage .sapUiLoSplitter.sapUiLoSplitterV .sapUiLoSplitterOverlayBar,
html.sap-tablet .sapUiResponsiveSplitter > .sapUiResponsiveSplitterPage .sapUiLoSplitter.sapUiLoSplitterV .sapUiLoSplitterOverlayBar {
	& .sapUiLoSplitterBarIcon {
		left: 50%;
		width: 3rem;
		height: 3rem;
		margin-left: -30px;
	}
}

.sapUiResponsiveSplitter .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiResponsiveSplitter .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	height: 0.25rem !important;
}

.sapUiResponsiveSplitter .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiResponsiveSplitter .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	width: 0.25rem !important;
}

html[data-sap-ui-browser^=ie].sap-desktop .sapUiResponsiveSplitter {// TODO remove after the end of support for Internet Explorer
	.sapUiLoSplitterH > .sapUiLoSplitterBar:focus::after {
		width: 2px;
		z-index: 1;
	}

	.sapUiLoSplitterV > .sapUiLoSplitterBar:focus::after {
		height: 2px;
		top: -6px;
		z-index: 1;
	}
}