/* ========================================= */
/* CSS for control sap.ui.layout/SimpleForm  */
/* Base theme                                */
/* ========================================= */

.sapUiSimpleForm {
	width:100%;
	box-sizing: border-box;
}

html.sap-tablet .sapUiFioriObjectPage > section > .sapUiSimpleForm,
html.sap-desktop .sapUiFioriObjectPage > section > .sapUiSimpleForm {
	margin: 1rem 0;
	padding: 0 1rem;
}

.sapUiFormEdit-CTX .sapMRb {
	vertical-align: top;
	line-height:1em;
}

.sapUiFormEdit-CTX .sapMRbBLabel {
	line-height:3rem;
}

.sapUiSizeCompact .sapUiFormEdit-CTX .sapMRbBLabel {
	line-height:  2rem;
}

.sapUiFormEdit-CTX .sapMSwtCont {
	vertical-align:middle;
}