/* ======================================================= */
/* CSS for control sap.ui.unified.FileUploader control     */
/* BlueCrystal theme                                       */
/* ======================================================= */

.sapUiFupGroup > div > div:last-child {
	padding-left: 4px;
}

.sapUiFup:hover .sapMBtnHoverable {
	background-image: none;
	background-color: @sapUiBtnBGStandardHover;
}

.sapUiFup:hover .sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive) {
	background-color: @sapUiBtnBGPositiveHover;
	border-color:     @sapUiBtnBGPositiveHover;
}

.sapUiFup:hover .sapMBtnHoverable.sapMBtnReject:not(.sapMBtnActive) {
	background-color: @sapUiBtnBGNegativeHover;
	border-color:     @sapUiBtnBGNegativeHover;
}

.sapUiFup:hover .sapMBtnHoverable.sapMBtnEmphasized:not(.sapMBtnActive) {
	background-color: @sapUiBtnBGEmphasizedHover;
	border-color:     @sapUiBtnBGEmphasizedHover;
}