/* =================================== */
/* CSS for control sap.m/ObjectNumber  */
/* Quartz High Contrast White theme    */
/* =================================== */

@_sap_m_ObjectNumber_TextShadowColor: none;

.sapMObjectNumberText,
.sapMObjectNumberUnit {
	text-shadow: @_sap_m_ObjectNumber_TextShadowColor;
}

.sapMObjectNumberLarge .sapMObjectNumberText,
.sapMObjectNumberLarge .sapMObjectNumberUnit {
	font-size: 1.5rem;
}