/* =================================== */
/* CSS for control sap.m/ObjectHeader  */
/* Quartz High Contrast White theme    */
/* =================================== */

.sapMOH.sapMOHBgTranslucent,
.sapMOHC.sapMOHBgTranslucent,
.sapMOH.sapMOHBgSolid,
.sapMOHC.sapMOHBgSolid {
	background-color: @sapUiObjectHeaderBackground;
	border-bottom: 0.125rem solid @sapUiObjectHeaderBorderColor;
}

.sapMOHC.sapMOHBgTranslucent,
.sapMOHC.sapMOHBgSolid {
	border: none;
	box-shadow: none;
}

.sapMOH.sapMOHBgTransparent,
.sapMOHC.sapMOHBgTransparent {
	background: transparent;
	border-bottom: 0.125rem solid @sapUiObjectHeaderBorderColor;
}

a.sapMOHTitle.sapMOHTitleActive:hover > h1 .sapMText {
	text-decoration: underline;
}

.sapMOHTitleArrow > .sapUiIcon {
	outline-offset: -1px;
}

.sapMOHTitle.sapMOHTitleActive:focus {
	outline: none;
}

.sapMOHTitle.sapMOHTitleActive:focus > h1 span,
.sapMOHTitle.sapMOHTitleActive:focus > h2 span,
.sapMOHTitle.sapMOHTitleActive:focus > h3 span,
.sapMOHTitle.sapMOHTitleActive:focus > h4 span,
.sapMOHTitle.sapMOHTitleActive:focus > h5 span,
.sapMOHTitle.sapMOHTitleActive:focus > h6 span,
.sapMOHIcon.sapMPointer .sapUiIcon.sapUiIconPointer:focus,
.sapMOHTitleArrow .sapUiIcon:focus {
	outline: 0.125rem dotted @sapUiContentFocusColor;
	outline-offset: -0.125rem;
}

/*** styles for responsive object header ***/
.sapMOHR:not(.sapMOHRNoBorder) {
	box-shadow: @sapUiShadowHeader;
}

.sapMOHR.sapMOHRBgSolid,
.sapMOHR.sapMOHRBgTranslucent {
	background: @sapUiObjectHeaderBackground;
}

.sapMOHR.sapMOHRBgTransparent {
	background: transparent;
}

.sapMOHRTitleArrow .sapUiIcon:focus {
	outline: 1px dotted @sapUiContentFocusColor;
	outline-offset: -1px;
}

.sapMOHRIcon.sapMPointer .sapUiIcon.sapUiIconPointer:focus {
	&:before {
		outline: 1px dotted @sapUiContentFocusColor;
	}
}

.sapMOHRTitleActive .sapMOHRTitleText:focus {
	outline: 1px dotted @sapUiContentFocusColor;
	outline-offset: -1px;
}

.sapMOHAttrRow .sapMObjStatus {
	margin: 4px 1px;
}