/* ========================================= */
/* CSS for control sap.m/ViewSettingsDialog  */
/* Quartz High Contrast White theme          */
/* ========================================= */

@_sap_m_ViewSettingsDialog_HeaderBorderColor: darken(@sapUiGroupContentBackground, 8);
.sapMVSD .sapMPageHeader{
	z-index: 2;
	.sapMBarTitleStart .sapMBarPH {
		padding-left: 0rem;
	}
}

.sapMTB.sapMVSDFilterHeaderToolbar {
	background-color:  @sapUiGroupContentBackground;
	border-bottom: 1px solid @_sap_m_ViewSettingsDialog_HeaderBorderColor;
	padding-left: 0;
	.sapMBarChild.sapMCb {
		.sapMCbLabel {
			font-family: @sapUiFontFamily;
			color: @sapUiGroupTitleTextColor;
		}
	}
}

.sapMVSD.sapMDialog.sapMPopup-CTX .sapMIBar.sapMHeader-CTX,
.sapMVSD.sapMDialog.sapMPopup-CTX .sapMIBar.sapMSubHeader-CTX {
	background-color: @sapUiGroupContentBackground;
}

.sapMVSD .sapMVSDBar {
	box-shadow: @sapUiShadowHeader;
}

.sapMVSDBarWithSearch.sapMBar ,
.sapMVSD.sapMDialog.sapMPopup-CTX .sapMIBar.sapMHeader-CTX .sapMVSDBarWithSearch,
.sapMVSD.sapMDialog.sapMPopup-CTX .sapMIBar.sapMSubHeader-CTX .sapMVSDBarWithSearch {
	box-shadow: none;
}

.sapMVSD .sapMPageWithSubHeader .sapMIBar.sapMHeader-CTX {
	border-bottom: none;
	box-shadow: none;
}
