/* ============================================ */
/* CSS for control sap.tnt/NavigationList.control			*/
/* ============================================ */
.sapMNavLI {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sapMNavLI ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sapMNavLIItem {
	width : 100%;
	height: 2.5rem;

	box-sizing: border-box;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	cursor: pointer;

	& > span {
		cursor: pointer;
	}

	&.sapMNavLIItemDisabled {
		cursor: auto;

		& > span {
			cursor: auto;
		}
	}
}

.sapMNavLIGroup {

}

.sapMNavLIText {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex: 1 1;
	flex-grow: 1;
}

.sapMNavLIGroupItem {

}

.sapMNavLIGroupItem > .sapMText {
	padding-left: 3rem;
}

.sapMNavLIPopup .sapMNavLIGroupItem > .sapMText {
	padding: 0 1rem;
}

.sapMNavLIPopup .sapMNavLIGroup > .sapMText {
	margin: 0 1rem 0 0;
}

.sapMNavLI .sapMNavLIGroupIcon {
	-webkit-box-flex: 0 0 3rem;
	-webkit-flex:  0 0 3rem;
	-ms-flex:  0 0 3rem;
	flex:  0 0 3rem;

	padding: 0.6875rem 0;

	outline: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


.sapMNavLIPopup .sapMNavLIGroupIcon {
	-webkit-box-flex: 0 0 1rem;
	-webkit-flex:  0 0 1rem;
	-ms-flex:  0 0 1rem;
	flex:  0 0 1rem;
	visibility: hidden;
}

.sapMNavLI .sapMNavLIExpandIcon {
	width: 2rem;
	padding: 0.6875rem 0;

	outline: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.sapMNavLIHiddenGroupItems {
	display: none;
}

.sapMNavLICollapsed {
	width: 3rem;
}

/* Compact size */
.sapUiSizeCompact {

	.sapMNavLIItem {
		height: 2rem;
	}

	.sapMNavLIGroupItem > .sapMText {
		padding-left: 2rem;
	}

	.sapMNavLIPopup .sapMNavLIGroupItem > .sapMText {
		padding: 0 0.5rem;
	}

	.sapMNavLIPopup .sapMNavLIGroup > .sapMText {
		margin: 0 0.5rem 0 0;
	}

	.sapMNavLI .sapMNavLIGroupIcon {
		-webkit-box-flex: 0 0 2rem;
		-webkit-flex:  0 0 2rem;
		-ms-flex:  0 0 2rem;
		flex:  0 0 2rem;

		padding: 0.5rem 0;
	}


	.sapMNavLIPopup .sapMNavLIGroupIcon {
		-webkit-box-flex: 0 0 0.5rem;
		-webkit-flex:  0 0 0.5rem;
		-ms-flex:  0 0 0.5rem;
		flex:  0 0 0.5rem;
	}

	.sapMNavLI .sapMNavLIExpandIcon {
		width: 2rem;
		padding: 0.5rem 0;
	}

	.sapMNavLICollapsed {
		width: 2rem;
	}
}