/* =============================================== */
/* CSS for control sap.ui.commons/RatingIndicator  */
/* Horizon theme                                    */
/* =============================================== */

// Override image URLs defined in base to point to the theme specific images
@_sap_ui_commons_RatingIndicator_SymbolSelected: url("img/rating/star_selected.png");
@_sap_ui_commons_RatingIndicator_SymbolUnselected: url("img/rating/star_unselected.png");
@_sap_ui_commons_RatingIndicator_SymbolHovered: url("img/rating/star_hover.png");

.sapUiRating {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
	margin-top: -2px;
}
