
.sapUiMdcTokenizerDisplay .sapMTokenizerIndicator:focus {
	text-decoration: none;
}

.sapUiMdcTokenizerDisplay .sapMTokenizerIndicator:hover {
	text-decoration: none;
}

.sapUiMdcTokenizerDisplay .sapMTokenizerIndicator {
    text-decoration: underline;
}
