/* ============================= */
/* CSS for control sap.f/Avatar  */
/* Belize theme                  */
/* ============================= */

@_sap_f_Avatar_Color: @sapUiContentContrastTextColor;

.sapFAvatarBorder {
	&.sapFAvatarIcon,
	&.sapFAvatarInitials,
	.sapFAvatarImageHolder {
		box-shadow: 0 0 0 0.0625rem fade(@sapUiContentShadowColor, 10) inset;
	}
}

.sapFAvatarIcon {
	color: @_sap_f_Avatar_Color;
}

.sapFAvatarInitialsHolder {
	color: @_sap_f_Avatar_Color;
}