/* =========================== */
/* CSS for control sap.f/Card  */
/* Belize theme                */
/* =========================== */

@_sap_f_card_BottomHeaderBorder: 1px solid darken(@sapUiTileBackground, 20);
@_sap_f_Card_HeaderBorderBottom: 1px solid darken(@sapUiTileBackground, 20);
@_sap_f_card_HeaderBoxShadow: none;