/* ================================== */
/* CSS for control sap.f/DynamicPageTitle  */
/* Belize theme                       */
/* ================================== */


.sapFDynamicPageTitle.sapFDynamicPageTitleTranslucent {
	background: lighten(@sapUiObjectHeaderBackground, 10);
}

.sapFDynamicPageTitle.sapFDynamicPageTitleTransparent {
	background: transparent;
}

.sapFDynamicPageTitleMainActions {
	padding-right: 0.25rem;

	.sapMTB {
		padding-right: 0;
	}
}