/* =========================================== */
/* CSS for control sap.f/FlexibleColumnLayout  */
/* Belize theme                                */
/* =========================================== */

@sapFFCLNavigationButtonHover: darken(@sapUiObjectHeaderBorderColor, 3);

.sapFFCLNavigationButton {
	// Hover
	&:hover {
		>.sapMBtnInner:not(.sapMBtnActive),
		>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive) {
			background: @sapFFCLNavigationButtonHover;
		}
	}

	.sapMBtnInner {
		border: 0;

		// Active
		&.sapMBtnActive {
			.sapMBtnIcon {
				color: @sapUiButtonActiveTextColor;
			}
		}
	}
}
