/* =================================== */
/* CSS for control sap.tnt/ToolHeader  */
/* Belize theme                        */
/* =================================== */

@_sap_tnt_ToolHeader_AvatarColor: @sapUiContentContrastTextColor;

.sapTntToolHeader:not(.sapUshellShellToolHeader).sapMTB {
	background-color: darken(@sapUiPageHeaderBackground, 8);
	border: 1px solid darken(@sapUiPageHeaderBorderColor, 8);
}

.sapTntToolHeader:not(.sapUshellShellToolHeader) .sapMITH,
.sapTntToolHeaderPopover.sapMOTAPopover.sapMPopover {
	background-color: darken(@sapUiPageHeaderBackground, 8);
}

.sapTntToolHeader {
	.sapContrast.sapMObjStatus .sapMObjStatusText,
	.sapContrast.sapMObjStatus .sapMObjStatusIcon {
		text-shadow: none;
	}
}

.sapTntToolHeader {
	&.sapContrast .sapMObjStatus .sapMObjStatusText,
	&.sapContrast .sapMObjStatus .sapMObjStatusIcon {
		text-shadow: none;
	}
}

.sapTntToolHeader:not(.sapUshellShellToolHeader) .sapMMenuBtn.sapMMenuBtnRegular .sapMBtn:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnEmphasized.sapMBtnActive::after {
	color: @sapUiButtonEmphasizedTextColor;
}

.sapTntToolHeader .sapMBtnDisabled .sapMBtnTransparent > .sapMBtnIcon {
	color: @sapContent_IconColor;
}

.sapTntToolHeader span.sapMBtnInner.sapMBtnEmphasized {
	background-color: transparent;
	border-color:  transparent;
	font-weight: bold;
	.sapMBtnIcon {
		color: @sapUiShellInteractiveTextColor;
	}

}

html.sap-desktop .sapTntToolHeader .sapMBtn:focus > .sapMBtnEmphasized.sapMFocusable {
	outline-color: @_sap_tnt_ToolHeader_BorderColor;
}

.sapTntToolHeader .sapMBtn:hover > .sapMBtnHoverable.sapMBtnEmphasized:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
	background: fade(lighten(@sapPrimary1, 18%), 50%);
	border-color: transparent;
	bdi {
		color:@sapUiShellInteractiveTextColor
	}
}

.sapTntToolHeader:not(.sapUshellShellToolHeader) .sapMMenuBtn.sapMMenuBtnRegular .sapMBtn:not(.sapMBtnDisabled)  .sapMBtnInner.sapMBtnActive {
	background: @sapButton_Active_Background;
}


.sapTntToolHeader:not(.sapUshellShellToolHeader) .sapMMenuBtn.sapMMenuBtnRegular .sapMBtnInner.sapMBtnEmphasized::after {
	color: @sapContent_IconColor;
}

.sapTntToolHeader span.sapMBtnInner.sapMBtnEmphasized .sapMBtnIcon {
	color: @sapContent_IconColor;
}

.sapTntToolHeader:not(.sapUshellShellToolHeader) .sapMITH.sapMITBTextOnly .sapMITHEndOverflow {
	margin-top: 0;
}

.sapTntToolHeader:not(.sapUshellShellToolHeader) {
	.sapMITH {
		.sapMITHStartOverflow,
		.sapMITHEndOverflow {
			.sapMITBItem {
				background-color: transparent;
				border-color: transparent;

				&:hover {
					background: fade(lighten(@sapPrimary1, 18%), 50%);
				}

				&:active {
					background: @sapButton_Active_Background;

					.sapMITBText {
						color: @sapUiShellActiveTextColor;

						.sapMITHShowSubItemsIcon .sapUiIcon {
							color: @sapUiShellActiveTextColor;
						}
					}
				}
			}
		}
	}
}

// ==========================================================================
// sap.m.Avatar / sap.f.Avatar overriding
// ==========================================================================

.sapTntToolHeader .sapFAvatar {
	background-color: @_sap_tnt_ToolHeader_AvatarBackground;
	.sapFAvatarInitialsHolder,
	.sapUiIcon.sapFAvatarTypeIcon  {
		color: @_sap_tnt_ToolHeader_AvatarColor;
	}
}

/* ------------------------------------------------ */
/* Shell overrides                        */
/* ------------------------------------------------ */

.sapTntToolHeader.sapUshellShellToolHeader {
	.sapMITH {
		border-bottom: none;
		box-shadow: none;
	}

	height: 3.125rem;
	box-sizing: border-box;
	border-bottom: 0.125rem solid @sapUiObjectHeaderBackground;
}