/******************************************************************
	Style of the RTA Toolbar (all types) - sap_belize Theme
*******************************************************************/
@_sap_ui_rta_Toolbar_Base_TextColor: @sapUiContentContrastTextColor; //#fff
@_sap_ui_rta_Toolbar_Base_BaseColor: darken(@sapUiShellTextColor, 8); //#2F3C48
@_sap_ui_rta_Toolbar_Base_BaseBG: darken(@sapUiShellTextColor, 8); //#2F3C48