/* ================================= */
/* CSS for control sap.ui.mdc/Table  */
/* Evening Horizon theme             */
/* ================================= */

@_sap_ui_mdc_Table_ExportButtonType: ~"Transparent";

.sapUiMdcTable .sapMIBar.sapMTBHeader-CTX {
	border-top-right-radius: @sapUiElementBorderCornerRadius;
	border-top-left-radius: @sapUiElementBorderCornerRadius;
}