/* ===================================== */
/* CSS for control sap.m/SuggestionItem  */
/* Base theme                            */
/* ===================================== */

.sapMSuL.sapMSelectList {
	.sapMSelectListItem {
		display: block;
	}
}

.sapMSuggestionItemIcon {
	margin-right: 0.5rem;
	margin-left: -0.5rem;
}