#content { /* Same as #qunit-fixture */
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 1000px;
    height: 1000px;
}

#content.visible { /* Dock it to the top right corner */
    top: 0;
    left: auto;
    right: 0;
    background-color: white;
}

#qunit-fixture.visible { /* Dock it to the bottom left corner */
    top: auto;
    left: 0;
    bottom: 0;
    background-color: white;
}

#content.visible:empty,
#qunit-fixture.visible:empty {
	visibility: hidden;
}