#content { /* Same as #qunit-fixture */
	position: absolute;
	top: -10000px;
	left: -10000px;
	width: 1000px;
	height: 1000px;
}

#content.visible { /* Dock it to the top right corner */
	position: fixed;
	top: 0;
	left: auto;
	right: 250px;
	background-color: white;
	opacity: 0.6;
}

#content.visible:hover {
	opacity: 1;
}

#qunit-fixture.visible { /* Dock it to the bottom right corner */
	position: fixed;
	top: auto;
	bottom: 0;
	left: auto;
	right: 250px;
	background-color: white;
	opacity: 0.6;
}

#qunit-fixture.visible:hover {
	opacity: 1;
}

@media all and (max-width: 1100px) {
	#content.visible {
		left: 0;
		right: auto;
	}

	#qunit-fixture.visible {
		left: 0;
		right: auto;
	}
}

#content.visible:empty,
#qunit-fixture.visible:empty {
	visibility: hidden;
}

/* BCP: 1780353075 */
[data-sap-ui-browser^="ie"] #qunit-tests.hidepass li.running {
	display: none;
}