.TestShellOptionsPanel .sapUiPanelCont > .sapUiHLayout > *,
.TestShellOptionsPanel .sapUiPanelCont > *{
	margin-right: 5px;
}

.TestShellOptionsPanel .sapUiPanelCont > .sapUiHLayout {
	display: block;
	margin-bottom: 5px;
}

.TestShellOptionsPanel .sapUiPanelCont > .sapuiVlt > * {
	display: block;
	margin-bottom: 5px;
}