/* ============================================ */
/* Shared CSS Belize High Contrast Black theme  */
/* ============================================ */

.sapUiBody {
	width: 100%;
	height: 100%;
	margin: 0;
}

.sapUiBLy {
	background-color: @sapUiHcStandardBackground;
	opacity: 0.3;
}

/**
 * Class used to hide the line-sliding busy indicator at the top (as used in goldreflection)
 */
.sapUiBusy {
	display: none;
}