/******************************************************************
	Style of the RTA Dialogs - Horizon Theme
*******************************************************************/
@_sap_ui_rta_Dialogs_BorderLightColor: @sapUiShellBorderColor; //#fff
@_sap_ui_rta_Dialogs_BorderDarkColor: @sapUiShellSelectedTextColor; //#0070f2

.sapMDialog.sapUiRTABorder {
	border-image: none;
	outline: 0.188rem dashed @_sap_ui_rta_Dialogs_BorderDarkColor; //3px
	outline-offset: -0.188rem;
}

.sapUiRtaPopover {

	&.sapMPopover, .sapMPopover {
		border: 0.188rem dashed @_sap_ui_rta_Dialogs_BorderDarkColor; //3px
		border-image: none;
	}

	&.sapMPopoverArr, .sapMPopoverArr {
		&:after {
			border: 0.188rem dashed @_sap_ui_rta_Dialogs_BorderDarkColor; //3px
			border-image: none;
		}
	}
}