/******************************************************************
	Style of the RTA Add Fields Dialog  - Horizon Theme
*******************************************************************/
@_sap_ui_rta_FieldRepository_BtnHoverOutlineColor: @sapUiButtonSelectedHoverBorderColor; //#0064d9
@_sap_ui_rta_FieldRepository_ListItmBorderRadius: @sapUiButtonBorderCornerRadius; //0.5rem
@_sap_ui_rta_FieldRepository_BtnHoverBorderColor: @sapUiButtonHoverBorderColor; //#bcc3ca
@_sap_ui_rta_FieldRepository_BtnEmphasizedFocusBorderColor: @sapUiButtonEmphasizedHoverTextColor; //#fff


.sapUiRtaMode {

	.sapUIRtaFieldRepositoryDialog {

		.sapMLIBHoverable {
			&.sapMLIB.sapMLIBSelected {
				border-bottom: 0.0625rem solid transparent;
			}
		}

		.sapUIRtaListItem {
			border-radius: @_sap_ui_rta_FieldRepository_ListItmBorderRadius;
		}

		// Search field
		.sapMSF.sapMFocus:hover .sapMSFF {
			outline: 0.0625rem solid @_sap_ui_rta_FieldRepository_BtnHoverOutlineColor; //1px
		}

		// Sort-Button
		.sapMTB:not(.sapMIBar-CTX){
			.sapMBtn {
				&:hover {
					.sapMBtnInner {
						border: 0.0625rem solid @_sap_ui_rta_FieldRepository_BtnHoverBorderColor!important; //1px
					}
				}
			}
		}
		.sapMBtn {

			>.sapMBtnInner {
				border: 0.0625rem solid transparent; //1px
			}

			&:focus {
				> .sapMBtnInner{
					outline: none;
				}
				&:not(:hover) > .sapMFocusable {
					outline: none;
				}
				&:not(:hover) > .sapMFocusable.sapMBtnEmphasized {
					border: 0.0625rem dotted @_sap_ui_rta_FieldRepository_BtnEmphasizedFocusBorderColor; //1px
				}
			}
		}
	}
}