/******************************************************************
	Style of the RTA Overlays - Horizon Theme
*******************************************************************/
@_sap_ui_rta_Overlay_PlaceholderBackgroundColor: @sapUiListSelectionBackgroundColor; //	#ebf8ff

.sapUiRta {
	.sapUiDtOverlayDropZone {
		> .sapUiDtOverlayChildren {
			> .sapUiRtaOverlayPlaceholder {
				background: @_sap_ui_rta_Overlay_PlaceholderBackgroundColor;
				// no "focus" border
				&:focus {
					&:before {
						content: none;
					}
				}

				// all descendants
				* {
					background: @_sap_ui_rta_Overlay_PlaceholderBackgroundColor;
					// no "focus" border
					&:focus {
						&:before {
							content: none;
						}
					}
				}
			}
		}
	}
}