/* =================================== */
/* CSS for control sap.m/MessageStrip  */
/* Horizon High Contrast White theme   */
/* =================================== */

.sapMMsgStrip {
	border-radius: @sapUiPopoverBorderCornerRadius;
	border-width: 0.125rem;
}

.sapMMsgStripCloseButton {
	top: -0.4375rem;
}

.sapUiSizeCompact .sapMMsgStripCloseButton {
	top: -0.0625rem;
}

.sapMMsgStripMessage>.sapMLnk {
	padding-right: 0.25rem;
	padding-left: 0.25rem;
}
