/* ================================== */
/* CSS for control sap.m/TimePicker   */
/* Horizon High Contrast White theme  */
/* ================================== */

@_sap_m_TimePicker_ItemColor: @sapUiLegendWorkingBackground;
@_sap_m_TimePicker_ItemHoverColor: @sapUiListHoverBackground;
@_sap_m_TimePicker_ItemBorderColor: @sapUiListBackground;