/* ======================================== */
/* CSS for control sap.m/ValueStateMessage  */
/* Horizon High Contrast White theme        */
/* ======================================== */

.sapMValueStateMessageError,
.sapMValueStateMessageWarning,
.sapMValueStateMessageInformation {
	border: var(--sapField_BorderWidth) solid var(--sapField_BorderColor);
	color: var(--sapTextColor);
}

.sapMValueStateMessage {
	line-height: 1rem;
	padding: 0.5rem 0.5rem 0.5rem 1.875rem;
}

.sapMValueStateMessageError::before {
	font-family: var(--sapContent_IconFontFamily);
	content: '\e1ec';
	position: absolute;
	top: 0.5rem;
	left: 0;
	vertical-align: middle;
	font-size: 1rem;
	color: var(--sapNegativeElementColor);
	padding-left: 0.5rem;
	padding-right: 0.375rem;
}

.sapMValueStateMessageWarning::before {
	font-family: var(--sapContent_IconFontFamily);
	content: '\e053';
	position: absolute;
	top: 0.5rem;
	left: 0;
	vertical-align: middle;
	font-size: 1rem;
	color: var(--sapCriticalElementColor);
	padding-left: 0.5rem;
	padding-right: 0.375rem;
}

.sapMValueStateMessageInformation::before {
	font-family: var(--sapContent_IconFontFamily);
	content: '\e289';
	position: absolute;
	top: 0.5rem;
	left: 0;
	vertical-align: middle;
	font-size: 1rem;
	color: var(--sapInformativeElementColor);
	padding-left: 0.5rem;
	padding-right: 0.375rem;
}