.nestedFlexboxes .item1 {
	padding: 1rem;
	background-color: #d1dbbd;
}
.nestedFlexboxes .item2 {
	padding: 1rem;
	background-color: #7D8A2E;
}
.nestedFlexboxes .item3 {
	padding: 1rem;
	background-color: #C9D787;
}
.nestedFlexboxes .item4 {
	padding: 1rem;
	background-color: #FFFFFF;
}
.nestedFlexboxes .item5 {
	padding: 1rem;
	background-color: #FFC0A9;
}
.nestedFlexboxes .item6 {
	padding: 1rem;
	background-color: #FF8598;
}

.nestedFlexboxes h2 {
	color: #32363a;
}