/* ============================================ */
/* Shared CSS Quartz High Contrast White theme  */
/* ============================================ */

:focus {
	outline-width: 3px;
	outline-style: solid;
	outline-color: @sapUiContentFocusColor;
}