/* ======================================== */
/* CSS for control sap.ui.commons/TextView  */
/* Quartz High Contrast White theme         */
/* ======================================== */

.sapUiTv {
	font-size: @sapUiDesktopFontSize;
}

.sapUiTvH1 { /* be careful - used in other controls with title too */
	font-size: @sapUiFontHeader1Size;
}

.sapUiTvH2 {
	font-size: @sapUiFontHeader2Size;
}

.sapUiTvH3 {
	font-size: @sapUiFontHeader3Size;
}

.sapUiTvH4 {
	font-size: @sapUiFontHeader4Size;
}

.sapUiTvH5 {
	font-size: @sapUiFontHeader5Size;
}

.sapUiTvH6 {
	font-size: @sapUiFontHeader6Size;
}

.sapUiTvSmall {
	font-size: @sapUiFontSmallSize;
}

/* as in HCW inverted popups are white too - no inverted text color */
.sapUiInverted-CTX .sapUiTv {
	color: @sapUiBaseText;
}

/* invalid state */
.sapUiTvErr {
	color: @sapUiNegativeText;
	border-color: transparent;
	background-color: transparent;
}

/* warning state */
.sapUiTvWarn,
.sapUiInverted-CTX .sapUiTvWarn {
	color: @sapUiCriticalText;
	background-color: transparent;
}

/* success state */
.sapUiTvSucc {
	color: @sapUiPositiveText;
	background-color: transparent;
}

/* Designs */
.sapUiTvMono {
	font-family: Lucida Console, monospace;
}