/* ================================================ */
/* CSS for control sap.ui.commons/TriStateCheckBox  */
/* Quartz High Contrast White theme                 */
/* ================================================ */

.sapUiTriCb {
	font-size: @sapUiDesktopFontSize;
}

.sapUiInverted-CTX .sapUiTriCb {
	color: @sapUiBaseText;
}

.sapUiTriCbInner.sapUiTriCbCheck,
.sapUiTriCbInner.sapUiTriCbMix {
	background-image: url(img/TriStateCheckBox.png);
}