/* ====================================== */
/* CSS for control sap.m/RatingIndicator  */
/* Belize High Contrast Black theme       */
/* ====================================== */

.sapMRI {
	.sapMRISel, .sapMRIHov {
		color: @sapUiContentRatedColor;
	}

	.sapMRIUnsel,
	&.sapMRIReadOnly .sapMRIUnsel,
	&.sapMRIDisplayOnly .sapMRIUnsel {
		color: @sapUiContentUnratedColor;
	}

	&.sapMRIDisplayOnly {
		.sapMRIIconSel {
			color: @sapUiContentIconColor;
		}
	}

	&.sapMRIDisabled {
		.sapMRIUnsel, .sapMRISel {
			color: @sapUiContentDisabledTextColor;
		}
	}
}

/* Custom focus outline */
html.sap-desktop .sapMRI:focus:not(.sapMRIDisabled):not(.sapMRIDisplayOnly){
	outline: 0.125rem dotted @sapUiContentFocusColor;
	outline-offset: -0.125rem;
}