.topicBody {
	overflow-x: hidden;
}

.topic {
	white-space: nowrap;
	font-size: 1rem;
	line-height: 22px;

	color: #32363A;
}

.topic h1 {
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 1rem;
	font-size: 2.25rem;
	font-weight: bold;
	line-height: 3rem;
}

.topic h2 {
	font-size: 24px;
	line-height: 28px;
}

.topic h3 {
	font-size: 20px;
	line-height: 23px;
}

.topic h4 {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.topic .navigation h4 {
	margin-bottom: 1rem;
}

.topic a {
	color: #0A6ED1;
	text-decoration: none;
}

.topic .navigation a {
	padding: 8px 0 0 0;
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
}

.content {
	padding: 0 2rem;
	overflow: hidden;
	white-space: normal;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	width: calc(100% - 10rem);
}

.topic .content a {
	line-height: 24px;
}

.navigation {
	top: 0.5rem;
	position: sticky;
	overflow: hidden;
	white-space: normal;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	width: 10rem;
}

/* table styles */

.topic table {
	border-collapse: collapse;
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
}

.topic table th,
.topic table td {
	text-align: left;
	padding: 8px 18px;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	line-height: 16px;
	font-size: 14px;
}

.topic table:not(.plainFirstColumn) th:first-of-type,
.topic table:not(.plainFirstColumn) td:first-of-type {
	font-weight: bold;
}

.topic table th {
	height: 40px;
	background-color: #F7F7F7;
	font-weight: normal;
}

/* "Try it out" button styles */

.topic .try-button {
	display: block;
	width: 85px;
	height: 21px;
	color: #EDFFFF;
	background-color: #0A6DD2;
	border: 1px solid #1F69B0;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
}

.topic .try-button:hover,
.topic .try-button:active {
	background-color: #1F69B0;
}

pre.prettyprint {
	background: #fff;
	border: 1px solid #e0e0e0 !important;
	border-radius: 5px;
}

.prettyprint {
	overflow: auto;
}

.tableWrapper {
	overflow-x:auto;
}

.messageStripWarning {
	background-color: #fef7f1;
    color: #32363a;
	border: 1px solid #e9730c;
    border-radius: 0.1875rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: normal;
    padding: 0.4375rem 1rem;
    position: relative;
	min-height: 2rem;
}

/* on Phone */

html.sap-phone .navigation {
	display: none;
}

html.sap-phone .content {
	width: 100%;
	padding: 0 1rem;
}

html.sap-phone .content ul{
	padding-inline-start: 16px;
}

html.sap-phone .cardHeadersImg {
	width: 320px;
}