/* =================================== */
/* CSS for control sap.m/ActionSelect  */
/* Base theme                          */
/* =================================== */

/* ----------------------------- */
/* button                        */
/* ----------------------------- */

.sapMActionSelectPicker .sapMBtn {
	display: block;
	width: 100%;
	height: 2.5rem;
	padding: 0;
	border-top-width: 0;
	border-bottom-width: 1px;
	text-shadow: var(--sapContent_TextShadow);
}

.sapMActionSelectPicker .sapMBtnInner {
	border: 1px solid var(--sapList_BorderColor);
	overflow: hidden;
}

.sapMActionSelectPicker .sapMSelectListItemBaseSelected.sapMActionSelectItemWithoutFocus {
	outline: none;
}