
/* ============================================= */
/* CSS for control sap.m/ActionSheet.control */
/* ============================================= */
.sapMActionSheetDialog.sapMDialog {
	position: fixed;
	-webkit-transform: translate(0, 100%);
	-moz-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	transform: translate(0, 100%);
	top: auto !important;
	bottom: 0 !important;
	left: 0 !important;
	width: 100%;
	max-width: 100% !important;
	max-height: 100% !important;
	opacity: 1;
	transform: translate(0, 0) !important;
}

.sapMActionSheetDialog.sapMDialogOpen {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
}

.sapMActionSheet:focus{
	outline: none;
}

.sapMActionSheetDialog .sapMDialogScroll {
	display: block;
}
