/* ===================================== */
/* CSS for control sap.m/CustomListItem  */
/* Base theme                            */
/* ===================================== */

.sapMLIBLegacyOutline.sapMCLI > .sapMLIBContent{
	width: 100%;	/* IE flexbox workaround max-width is not respected */
}

.sapMCLI {
	padding: 0;
}

.sapMListModeSingleSelectLeft > .sapMCLI,
.sapMListModeMultiSelect > .sapMCLI {
	padding-left: 1rem;
}