.sapMDynamicPageHeader {
	z-index: 2;
	position: relative;
	overflow: hidden;
	padding: 1rem 3rem;
}

.sapMDynamicPageHeader:focus {
	outline: none;
}

.sapMDynamicPage-Std-Tablet {
	.sapMDynamicPageHeader {
		padding: 1rem 2rem;
	}
}

.sapMDynamicPage-Std-Phone {
	.sapMDynamicPageHeader {
		padding: 1rem;
	}
}

.sapUiSizeCompact {
	.sapMDynamicPageHeader {
		padding: 1rem 3rem;
	}
}

.sapMDynamicPageHeaderPinButtonArea {
	position: absolute;
	right: 0;
	bottom: 1rem;
}