/* ============================================= */
/* CSS for control sap.m/DynamicDateRange        */
/* Base theme                                    */
/* ============================================= */

.sapMDynamicDateRangePopover {

	section {

		& > * {
			box-sizing: border-box;
			padding: 0 1rem;
		}
		& > .sapMSlt {
			left: 1rem;
		}
		& > .sapMLabel {
			display: block;
			margin: 0.75rem 0 0.25rem 0;

			&.sapMDDRAdditionalLabel {
				display: inline-block;
				padding-left: 1.25rem;
				padding-bottom: 0.25rem
			}
		}

		& > .sapMLabel:first-child {
			margin-top: 1rem;
		}
	}

	.sapUiCal:not(.sapUiCalInt) {
		padding: 0;
		min-width: auto;
	}

	.sapUiCalMonthPicker {
		min-width: 18.5rem;
		width: 100%;
		margin: 0;
		padding: 1rem 0.25rem
	}

	&.sapMPage {
		background-color: var(--sapGroup_ContentBackground);
	}

	.sapMTB-Info-CTX.sapMIBar-CTX .sapMLabel {
		color: var(--sapPageFooter_TextColor);
		white-space: break-spaces;
	}
}

.sapUiSizeCompact .sapMDynamicDateRangePopover {

	.sapUiCalMonthPicker,
	.sapUiCalYearPicker {
		width: 100%;
		min-width: 16.5rem;
	}

	.sapMPageFooter .sapMIBar {
		height: 2rem;
	}

	section > .sapMLabel.sapMDDRAdditionalLabel {
		padding-left: 0;
	}
}

.sapUiIcon.sapMDDRDateOption {
	font-size: 1rem;
	color: var(--sapContent_IconColor);
}

.sapMDDRHiddenInput > .sapMInputBase {
	display: none;
}

.sapMDDRPopover .sapMTB-Info-CTX .sapMLabel .sapMLabelTextWrapper {
	padding-right: 0.125rem;
}

.sapUiSizeCozy .sapMDDRPopover .sapUiCal:not(.sapUiCalDateInt) {
	min-width: auto;
}
