/* ========================================= */
/* CSS for control sap.m/GenericTile.control */
/* ========================================= */
.sapMGT {
	display: inline-block;
	overflow: hidden;
	background: @sapUiWhite;
	border-radius: 0.125rem;
	border: 1px solid transparent;
	position: relative;
	outline: none;
}

.sapMGT:focus {
	outline: none;
}

.sapMGT.OneByOne {
	width: 11rem;
	height: 11rem;
}

.sapMGT.TwoByOne {
	width: 22.5rem;
	height: 11rem;
}

.sapMGTHdrTxt > .sapMGTTitle,
.sapMGTSubHdrTxt,
.sapMGT .sapMGTContent {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
}

.sapMGTHdrTxt > .sapMGTTitle,
.sapMGenericTileFtrFldTxt>.sapMGTFailed {
	cursor: inherit;
}

.sapMGTFailed {
	width: 90%;
}

.sapMGTInnrCnt {
	display: inline-block;
}

.sapMGTContent {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}

.sapMGTHdrTxt {
	overflow: hidden;

	.sapMText {
		display: inline;
		line-height: 1.25rem;
	}
}
.sapMGTSubHdrTxt {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	line-height: 1.25rem;
}

.sapMGTHdrContent {
	height: 3.625rem;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.sapMGTHdrIconImage {
	float: right;
	width: 2.5rem;
	min-height: 2.5rem;
	font-size: 2.5rem;
}

.sapMGTOverlay {
	position: absolute !important;
	pointer-events: none;
	opacity: 0.8;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.sapMGTFocusDiv {
	position: absolute;
	pointer-events: none;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	border-radius: 0.25rem;
}

.sapMGenericTileLoading {
	height: 100%;
}

.sapMGenericTileFtrFld {
	left: 0.5rem;
	bottom: 0.5rem;
	display: table;
	position: absolute;
}

.sapMGenericTileFtrFldTxt {
	font-weight: normal;
	display:table-cell;
	padding-left: 0.5rem;
	vertical-align: bottom;
	width: 100%;
}

html[dir=rtl] .sapMGenericTileFtrFldTxt {
	padding-right:0.5rem;
}

.sapMGenericTileFtrFldIcn {
	margin-right: 0.5rem;
	display: table-cell;
	vertical-align: bottom;
}

.sapMGenericTileFtrFldIcn>.sapMGTFtrFldIcnMrk {
	vertical-align: bottom;
}

/* the following is needed for non-webkit browsers that don't support line-clamping */

/* some places should be left for subheader when the subheader exists*/
.sapMGT.sapMGTHeaderMode .sapMGTHdrTxt:nth-last-of-type(2) {
	max-height: 5rem;
}

.sapMGT:not(.sapMGTHeaderMode) .sapMGTHdrTxt:nth-last-of-type(2) {
	max-height: 2.5rem;
}

/* the max-height is calculated the same as webkit-line-clamping and supported to work when
the screen size changes between small and large (e.g. mobile devices auto rotation) without rerendering*/
html[data-sap-ui-browser*='ie'], html[data-sap-ui-browser*='ed'], html[data-sap-ui-browser*='ff'] {
	.sapMGT.sapMGTHeaderMode .sapMGTHdrContent .sapMTextMaxLine {
		max-height: 6.25rem !important;
	}
}

html[data-sap-ui-browser*='ie'], html[data-sap-ui-browser*='ed'], html[data-sap-ui-browser*='ff'] {
	.sapMGT:not(.sapMGTHeaderMode) .sapMGTHdrContent .sapMTextMaxLine {
		max-height: 3.75rem !important;
	}
}


/* BREAKPOINT FOR SMALL PHONES */
@media screen and (max-width: 374px) {
	.sapMGTHdrTxt .sapMText {
		line-height: 1.063rem;
	}

	.sapMGTSubHdrTxt {
		line-height: 1.063rem;
	}

	.sapMGT.sapMGTHeaderMode .sapMGTHdrTxt:nth-last-of-type(2) {
		max-height: 4.25rem;
	}

	.sapMGT:not(.sapMGTHeaderMode) .sapMGTHdrTxt:nth-last-of-type(2) {
		max-height: 2.125rem;
	}

	html[data-sap-ui-browser*='ie'], html[data-sap-ui-browser*='ed'], html[data-sap-ui-browser*='ff'] {
		.sapMGT.sapMGTHeaderMode > .sapMGTHdrContent .sapMTextMaxLine {
			max-height: 5.3rem !important;
		}
	}

	html[data-sap-ui-browser*='ie'], html[data-sap-ui-browser*='ed'], html[data-sap-ui-browser*='ff'] {
		.sapMGT:not(.sapMGTHeaderMode) > .sapMGTHdrContent .sapMTextMaxLine {
			max-height: 3.125rem !important;
		}
	}

	.sapMGT.OneByOne {
		width: 9.25rem;
		height: 9.25rem;
	}
	.sapMGT.TwoByOne {
		width: 19rem;
		height: 9.25rem;
	}

	.sapMGTHdrContent {
		height: 3.125rem;
		margin-top: 0.625rem;
		margin-left: 0.625rem;
		margin-right: 0.625rem;
	}
}
