/* ======================================== */
/* CSS for control sap.m/JamContent.control */
/* ======================================== */
.sapMJC {
	display: inline-block;
	outline: none;
}

.sapUiMedia-Std-Desktop .sapMJC.Auto,
.sapUiMedia-Std-Tablet .sapMJC.Auto,
.sapMJC.L, .sapMJC.M {
	width: 22.5rem;
	height: 4.5rem;
}

.sapUiMedia-Std-Phone .sapMJC.Auto,
.sapMJC.S, .sapMJC.XS {
	width: 18rem;
	height: 3.5rem;
}

.sapMJCCTxt {
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	font-family: Arial, Helvetica, sans-serif;
  	font-weight: normal;
  	color: @sapUiDarkText;
  	padding: 0.125rem 0;
  	max-width: 22.5rem;
}

.sapUiMedia-Std-Desktop .sapMJCCTxt.Auto,
.sapUiMedia-Std-Tablet .sapMJCCTxt.Auto,
.sapMJCCTxt.L, .sapMJCCTxt.M {
	height: 3.12rem;
}

.sapUiMedia-Std-Phone .sapMJCCTxt.Auto,
.sapMJCCTxt.S, .sapMJCCTxt.XS {
	height: 2.41rem;
}

.sapMJCSbh {
  	height: 1rem;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	font-family: @sapUiFontFamily;
  	font-weight: normal;
  	color: @sapUiLightText;
  	padding: 0.125rem 0;
  	max-width: 22.5rem;
}

.sapUiMedia-Std-Desktop .sapMJCSbh.Auto,
.sapUiMedia-Std-Tablet .sapMJCSbh.Auto,
.sapMJCSbh.L, .sapMJCSbh.M {
	height: 1rem;
}

.sapUiMedia-Std-Phone .sapMJCSbh.Auto,
.sapMJCSbh.S, .sapMJCSbh.XS {
	height: 0.78rem;
}

.sapMJCValue {
	position: relative;
  	float: right;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.sapUiMedia-Std-Desktop .sapMJCValue.Auto,
.sapUiMedia-Std-Tablet .sapMJCValue.Auto,
.sapMJCValue.L, .sapMJCValue.M {
  	padding-top: 1rem;
	font-size: 48px;
  	height: 3.6rem;
  	max-width: 22.5rem;
}

.sapUiMedia-Std-Phone .sapMJCValue.Auto,
.sapMJCValue.S, .sapMJCValue.XS {
  	padding-top: 1.3rem;
	font-size: 32px;
  	height: 2.45rem;
  	max-width: 18rem;
}
.sapMJCCTxt>.sapMText {
	cursor:inherit;
}

.sapMJC:focus:not([tabindex]) {
	outline: none;
}

.sapUiMedia-Std-Desktop .sapMJCCTxt.Auto > .sapMText,
.sapUiMedia-Std-Tablet .sapMJCCTxt.Auto > .sapMText,
.sapMJCCTxt.L > .sapMText, .sapMJCCTxt.M > .sapMText{
  	font-size: .875rem;
}

.sapUiMedia-Std-Phone .sapMJCCTxt.Auto > .sapMText,
.sapMJCCTxt.S > .sapMText, .sapMJCCTxt.XS > .sapMText {
  	font-size: 10px;
}

.sapUiMedia-Std-Desktop .sapMJCSbh.Auto,
.sapUiMedia-Std-Tablet .sapMJCSbh.Auto,
.sapMJCSbh.L, .sapMJCSbh.M {
  	font-size: .875rem;
}

.sapUiMedia-Std-Phone .sapMJCSbh.Auto,
.sapMJCSbh.S, .sapMJCSbh.XS {
  	font-size: 10px;
}

.sapMJCValue {
  	font-family: Arial, Helvetica, sans-serif;
  	font-weight: normal;
}