/* =========================== */
/* CSS for control sap.m/Menu  */
/* Base theme                  */
/* =========================== */

.sapMRespMenuDialog .sapMLIB {
	border-bottom: none;
}

/* compact */
.sapUiSizeCompact .sapMMenu.sapUiMnu {
	min-width: 50px;
}

.sapUiSizeCompact .sapMMenu .sapUiMnuItmIco > .sapUiIcon {
	font-size: 1rem;
}

/* end compact */