@leftIconsSpace: 2rem;
@dueDataWidth: 20%;
@containerPadding: 1rem;
@closeButtonSize: 1.625rem;
@bottomMargin: 0.5rem;
@readIconSize: 0.5rem;

.sapMNLI {
	margin-bottom: @bottomMargin;
}

// Icons styles =========================================================================================================

.sapMNLI-Icons {
	padding-top: @containerPadding;
	position: absolute;
	text-align: center;
	width: @leftIconsSpace;
}

.sapMNLI-Icons .sapUiIcon {
	color: @sapUiElement;
	font-size: 0.75rem;
}

.sapMNLI-ReadStatus {
	display: none;
}

.sapMNLI-UnreadStatus {
	border-radius: @readIconSize/2;
	display: block;
	height: @readIconSize;
	margin: 0.313rem auto 0.375rem;
	width: @readIconSize;
}

// Header styles =======================================================================================================

.sapMNLI-Header {
	padding-left: @leftIconsSpace;
	padding-top: @containerPadding;
	position: relative;
}

.sapMNLI-Header > .sapMTitle {
	display: block;
	font-weight: normal;
	line-height: 1.25;
	margin-bottom: 0.5rem;
	margin-right: 2rem;
}

.sapMNLI-CloseButton {
	background: none;
	border: none;
	cursor: pointer;
	height: @closeButtonSize;
	opacity: 0.75;
	padding: 0;
	position: absolute;
	right: @containerPadding/2;
	top: @containerPadding/2;
	transition: opacity;
	width: @closeButtonSize;

	&:hover {
		opacity: 1;
	}
}

.sapMNLI-CloseButton .sapMBtnIcon {
	font-size: 0.75rem;
	height: @closeButtonSize;
	line-height: @closeButtonSize;
	width: @closeButtonSize;
}

// Body styles =========================================================================================================

.sapMNLI-Body {
	position: relative;
}

.sapMNLI-Body .sapMNLI-Text {
	color: @sapUiLightText;
	display: block;
	line-height: 1.25;
	padding-bottom: 10px;
	padding-left: @leftIconsSpace;
	padding-right: 2rem;
	width: 100% - @dueDataWidth;
}

.sapMNLI-DueDate {
	color: @sapUiLightText;
	position: absolute;
	right: @containerPadding;
	top: 0;
	width: @dueDataWidth;
}

// Footer styles =======================================================================================================

.sapMNLI-Footer {
	border-top: 1px solid @sapUiExtraLightBorder;
	height: 3rem;
	line-height: 3rem;
	padding: 0 @containerPadding 0 @leftIconsSpace;
	text-align: right;
}

.sapMNLI-Footer > .sapMBtn {
	margin-left: 0.25rem;
	padding: 0;
}

.sapMNLI-Footer .sapMBtnInner,
.sapMNLI-Footer .sapMBtnContent {
	box-sizing: content-box;
	height: 1.875rem;
	line-height: 1.875rem;
}
