@containerPaddingLeft: 1.5rem;
@containerPadding: 1rem;
@closeButtonSize: 2.5rem;
@closeButtonCompactSize: 1.625rem;
@closeButtonCozyPosition: 0.25rem;
@closeButtonCompactPosition: 0.5rem;

/* ==========================================================================
   Notification List Base
  ========================================================================== */

.sapMLIB.sapMNLB {
	border-radius: 0.25rem;
	display: block;
	padding: 0 0 @containerPadding;
	margin: 0 0.25rem 0.5rem;
	overflow: hidden;
}

.sapMLIB.sapMNLB:first-of-type {
	margin-top: 0.125rem;
}

/* ==========================================================================
   Priority styles
  ========================================================================== */

.sapMNLB-Priority {
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	width: 0.375rem;
	z-index: 1;
}

/* ==========================================================================
   Header styles
  ========================================================================== */

.sapMNLB-Header {
	padding-left: @containerPaddingLeft;
	padding-right: @containerPadding;
	padding-top: @containerPadding;
	position: relative;
}

/* Close button styles
  ========================================================================== */

.sapMNLB-CloseButton {
	background: none;
	box-sizing: border-box;
	cursor: pointer;
	height: @closeButtonSize;
	margin-top: -@containerPadding;
	padding: @containerPadding 0 0;
	position: absolute;
	right: @closeButtonCompactPosition;
	top: @closeButtonCompactPosition;
	transition: opacity;
	width: @closeButtonSize;

	.sapMBtnInner {
		min-width: @closeButtonSize;

		.sapMBtnIcon {
			max-height: @closeButtonSize;
		}
	}
}

.sapMNLB-CloseButton .sapMBtnIcon {
	cursor: pointer;
	font-size: 1rem;
}

/* ==========================================================================
   Body styles
  ========================================================================== */

/* Author picture styles
  ========================================================================== */

.sapMNLB-AuthorPicture {
	display: block;
	height: 2rem;
	margin-right: 0.75rem;
	text-align: center;
	width: 2rem;
}

.sapMNLB-AuthorPicture .sapMImg {
	border-radius: 50%;
	max-height: 2rem;
	max-width: 2rem;
}

.sapMNLB-AuthorPicture .sapUiIcon {
	color: @sapUiLightText;
	font-size: 1.5rem;
}

/* ==========================================================================
   Footer styles
  ========================================================================== */

.sapMNLB-Footer {
	line-height: 3rem;
	padding: 0.25rem;

	.sapMTB {
		border: none;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}

/* Bullet styles
  ========================================================================== */

.sapMNLB-Bullet {
	color: @sapUiLightText;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* ==========================================================================
   Compact mode styles
  ========================================================================== */

.sapUiSizeCompact .sapMNLB-CloseButton {
	height: @closeButtonCompactSize;
	padding: 0;
	right: @closeButtonCompactPosition;
	top: @closeButtonCompactPosition + @containerPadding;
	width: @closeButtonCompactSize;

	.sapMBtnInner {
		min-width: 1.625rem;

		.sapMBtnIcon {
			max-height: 1.625rem;
		}
	}
}

.sapUiSizeCompact .sapMNLB-CloseButton .sapMBtnIcon {
	font-size: 0.75rem;
	margin: 0;
}