.sapMP13nContainer {

}

//Change background color for the container control
.sapMP13nContainer .sapMITB {
    line-height: 3rem;
}

//Remove padding to align the ITB with the rest of the p13n related controls (left aligned)
.sapMP13nContainer .sapMITH {
    padding: 0;
}

.sapMP13nContainer .p13nContainerDefaultList .sapMLIB{
    padding: 1.5rem;
}

.sapMP13nContainer .p13nContainerDefaultList .sapMLIB.sapMMenuDivider {
    border-top: 2px solid @sapList_GroupHeaderBorderColor;
}