@_sap_m_PlanningCalendarHeader_Background: @sapUiListBackground;

.sapMPCHead .sapMPCHeadActionsToolbar,
.sapMPCHead .sapMPCHeadNavToolbar,
.sapMPCHead .sapMTB.sapMTB-Transparent-CTX{
	padding-left: 1rem;
	background-color: @_sap_m_PlanningCalendarHeader_Background;
}

.sapMPCHead .sapMPCHeadNavToolbar {
	border-bottom: none;
	flex-wrap: wrap;
	white-space: normal;
	min-height: 3rem;

	&.sapMIBar {
		height: auto;
	}
}

.sapUiSizeCompact .sapMPCHead {
	.sapMPCHeadActionsToolbar {
		min-height: 3rem;
	}
	.sapMPCHeadNavToolbar {
		min-height: 2rem;
	}
}

.sapMIBar.sapMTB .sapMBarChild.sapUiCalMonthView {
	margin-left: 0;
}

html.sap-phone:not(.sapUiMedia-Std-Tablet),
html.sapUiMedia-Std-Phone:not(.sapUiMedia-Std-Tablet) {
	.sapMPCHeadNavToolbar {
		padding: 0 0 0 0.125rem;

		.sapMBarChild,
		.sapMBarChild ~ .sapMBarChild {
			margin: 0 0.5rem 0 0;

			&:last-of-type {
				margin: 0;
			}
		}

		.sapMBtn {
			max-width: 100%;

			bdi {
				overflow: inherit;
				text-overflow: inherit;
			}
		}
	}
}
