/* ======================================= */
/* CSS for sap.m.RangeSlider control       */
/* ======================================= */
.sapMSliderProgress {
  width: auto;
}

.sapMSliderHandleTooltip {
  display: inline-block;
  position: absolute;
}

//----- RangeSlider Labels------------
.sapMSliderLabels {
  position: relative;
  top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sapMSliderLabel {
  align-self: flex-end;
}

.sapMSliderTooltipContainer {
  display: flex;
  position: absolute;
  top: -2.75rem;
  height: 1.5rem;
  width: auto;
  justify-content: space-between;
  transition-property: left, right;
}

