/* ============================================== */
/* CSS for control sap.m/TablePersoDialog.control */
/* ============================================== */

html[data-sap-ui-browser="ie9"] .sapMPersoDialog .sapMPersoDialogFixedBar .sapMPersoDialogSelectAllCb {
	// in IE9 the list items have 1rem padding so this align the checkbox
	margin-left: 1rem;
}

.sapMPersoDialogFixedBar {
	position: relative;

	.sapMPersoDialogResetBtn {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.sapUiSizeCozy .sapMPersoDialogFixedBar {

	.sapMPersoDialogSelectAllCb > .sapMCbLabel {
		font-size: 1.125rem;
	}
}

.sapUiSizeCompact .sapMTB-Transparent-CTX.sapMTB.sapMPersoDialogFixedBar > :first-child {
    margin-left: 0.5rem;
}

.sapUiSizeCompact .sapMPersoDialogFixedBar .sapMCb {
    padding-left: 2.5rem;
}
