/* ====================================================== */
/* CSS for control sap.m/TabStripSelectList.control                   */
/* ====================================================== */

.sapMTabStripSelectList {
	position: relative;
}

.sapMTabStripSelectList .sapMSelectListItem {
	padding: 0 0 0 1rem;
	text-overflow: inherit!important;
	white-space: inherit !important;
}

.sapMTabStripSelectList .sapMSelectListItemBaseSelected {

}


.sapMSelectListItemText, .sapMTabStripSelectListItemModified {
	height: 100%;
	float:left;
	margin: 0;
}

.sapMTabStripSelectList .sapMSelectListItemBaseSelected .sapMSelectListItemText,
.sapMTabStripSelectList .sapMSelectListItemBaseSelected.sapMTabStripSelectListItemModified {

}

.sapMSltPicker .sapMBtn.sapMTabStripSelectListItemCloseBtn {
	height: 100%;
	width: 2rem;
	padding: 0;
	float: right;
}

html .sapMTabStripSelectListItemCloseBtn .sapMBtnInner {
	display: block;
	height: 1.625rem;
	min-width: 1.625rem;
	width: 1.625rem;
	padding: 0;
	margin: 0 auto;
}

.sapMTabStripSelectListItemCloseBtn .sapMBtnIcon {
	line-height: 1.45rem;
	width: 100%;
	height: 100%;
	font-size: 0.75rem;
}


.sapMTabStripSelectListItemModified {
	width: 1.625rem;
}

.sapMTabStripSelectList .sapMBtnInner.sapMBtnText {
	padding: 0;
}

.sapMTabStripSelectListItemCloseBtnInvisible, .sapMTabStripSelectListItemModifiedInvisible {
	visibility: hidden;
}


.sapUiSizeCompact {
	.sapMTabStripSelectListItemCloseBtn {
		.sapMSltPicker .sapMBtn.sapMTabStripSelectListItemCloseBtn  {
		  width: 1.5rem;
		}

		.sapMBtnContent {
			line-height: 1.25rem;
		}

		.sapMBtnInner  {
			height: 1.25rem;
			min-width: 1.25rem;
			width: 1.25rem;
			padding: 0;
			margin: 0 auto;
		}

		.sapMBtnIcon {
			line-height: 1.15rem;
		}

		/* icon first is here just to override another rule */
		.sapMBtnInner.sapMBtnIconFirst {
			padding: 0;
			.sapMBtnIcon {
				margin: 0;
				padding: 0;
			}
		}
	}
}

html.sap-tablet {
	.sapMSltPicker .sapMBtn.sapMTabStripSelectListItemCloseBtn {
		width: 2rem;
		.sapMBtnInner {
			height: 1.625rem;
			min-width: 1.625rem;
			width: 1.625rem;
			.sapMBtnIcon {
				line-height: 1.45rem;
			}
		}
	}
	.sapMTabStripSelectList .sapMSelectListItem {
		height: 2.5rem;
	}
	.sapMSelectListItemText, .sapMTabStripSelectListItemModified {
		line-height: 2.5rem;
	}
}


html.sap-phone {
	div.sapMSltPicker {
		box-shadow: none;
	}
	.sapMTabStripSelectList .sapMSelectListItem {
		height: 3rem;
		padding: 0 0.25rem 0 1rem;
	}
	.sapMSelectListItemText, .sapMTabStripSelectListItemModified {
		line-height: 3rem;
	}

	.sapMSltPicker .sapMBtn.sapMTabStripSelectListItemCloseBtn  {
		width: 2rem;
	}

	.sapMTabStripSelectListItemCloseBtn .sapMBtnContent {
		line-height: 1.625rem;
	}

	.sapMTabStripSelectListItemCloseBtn .sapMBtnInner  {
		height: 1.625rem;
		min-width: 1.625rem;
		width: 1.625rem;
		padding: 0;
		margin: 0 auto;
	}
}