/* ====================================================== */
/* CSS for control sap.m/Select.control                   */
/* ====================================================== */

/* ------------------------------ */
/* Select commons styles          */
/* ------------------------------ */

@sapUiSltBtnInnerSize: 1.25rem;

.sapMSltPressed .sapMSltIcon {
  color: white;
}

.sapMSltInvisible {
  visibility: hidden;
}
.sapMSlt.sapMTabSelect {
  width: @sapUiSltBtnInnerSize;
  height: @sapUiSltBtnInnerSize;
  background: transparent;
  float: left; /* ToDo: this is needed for the tabstrip layout but may be optional? */
}

.sapMSlt.sapMTabSelect {
  border-radius: 0.3125em;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.sapMSlt.sapMTabSelect span {
  font-size: 0.75rem;
  padding: 0;
  height: 100%;
  width:  100%;
  line-height: @sapUiSltBtnInnerSize;
}
