/* ================================== */
/* CSS for control sap.m/TileContent  */
/* Base theme                         */
/* ================================== */

.sapMTileCnt {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	height: 6.375rem;
    vertical-align: top;

	/* FrameType: Auto */
	&.sapMFrameTypeAuto {
		min-width: 10.875rem;
		max-width: 22.5rem;
	}

	/* FrameType: TwoByOne */
	&.sapMFrameTypeTwoByOne {
		width: 22.375rem;

		&.News {
			width: 22.5rem; //2px more, because the tile's border is omitted
		}
	}

	/* FrameType: OneByOne */
	&.sapMFrameTypeOneByOne {
		width: 10.875rem;
	}
}

/* Improved behaviour for TileContent in GenericTile */
.sapMGT .sapMTileCnt.sapMFrameTypeAuto:only-child {
	width: 100%;
}
.sapMGT .sapMTileCnt.sapMFrameTypeAuto:not(:only-child) {
	width: ~"calc(50% - 0.25rem)"; //0.5rem margin between the contents
}

/* Footer CSS */
.sapMTileCntFtrTxt {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
	position: absolute;
	right: 0;
	left: 0;
	box-sizing: border-box;
	height: 1.1875rem;
	bottom: 1rem;
	margin-left: 0.9375rem;
	margin-right: 0.9375rem;
	line-height: 1.1875rem;
	font-family: @sapUiFontFamily;
	font-size: @sapMFontMediumSize;
}

.sapMGT .sapMTileCntFtrTxt {
	text-align: left;
}


.sapMTileCntFooterTextColorNeutral {
	color: @sapUiTileTextColor;
}

.sapMTileCntFooterTextColorGood {
	color: @sapUiPositiveText;
}

.sapMTileCntFooterTextColorError {
	color: @sapUiNegativeText;
}

.sapMTileCntFooterTextColorCritical {
	color: @sapUiCriticalText;
}

html[dir=rtl] .sapMTileCntFtrTxt {
	text-align: left;
}

/* Content */
.sapMTileCntContent {
	overflow: visible;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}

.sapMTileCntContent > .sapMTcInnerMarker {
	vertical-align: bottom;
	line-height: normal;
}

.sapMTileCntContent {
	height: 3.875rem;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.sapMTileCnt + .sapMTileCnt {
	margin-left: 0.5rem;
}

.sapMTileCntContent > .sapMNwC {
	background-color: inherit;
}

.sapMTileCnt.News {
	height: 6.125rem;
	margin-top: 0.3125rem;
	background-color: @sapUiTileBackground;

	.sapMTileCntContent {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.sapMTileCntFtrTxt {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.sapMTileCntContent > .sapMTcInnerMarker {
		vertical-align: top;
	}
}

.sapMTileSmallPhone {
	.sapMTileCnt {
		height: 5.5rem;

		&.sapMFrameTypeAuto {
			min-width: 9.125rem;
			max-width: 19rem;
		}

		&.sapMFrameTypeTwoByOne {
			width: 18.875rem;

			&.News {
				width: 19rem;
			}
		}
		&.sapMFrameTypeOneByOne {
			width: 9.125rem;
		}
	}

	.sapMTileCntFtrTxt {
		height: 1.063rem;
		line-height: 1.063rem;
		bottom: 0.4375rem;
		margin-left: 0.5625rem;
		margin-right: 0.5625rem;
		font-size: @sapMFontSmallSize;
	}

	.sapMTileCntContent {
		height: 3.563rem;
		line-height: 3.563rem;
		margin-bottom: 0.25rem;
		margin-top: 0.25rem;
		padding-left: 0.5625rem;
		padding-right: 0.5625rem;
	}

	.sapMTileCnt.News {
		height: 5.25rem;

		.sapMTileCntContent {
			padding-left: 0.625rem;
			padding-right: 0.625rem;
		}

		.sapMTileCntFtrTxt {
			margin-left: 0.625rem;
			margin-right: 0.625rem;
		}
	}
}