.sapMUSFileName {
	flex-shrink: 0;
}

.sapMUSObjectMarkerContainer {
	display: inline-block;
	flex: none;
}

.sapMUSProgressBox {
	min-width: 120px;
	padding-left: 1rem;
}

.sapMUSProgressIndicator {
	padding: 5px;
}

.sapMUSTextInnerContainer {
	display: flex;
}

.sapMUSTFileUploaderVisibility {
	visibility: hidden;
	display: none !important;
}

.sapMUSObjectMarkersAsStatusContainer {
	display: flex;
	gap: 0.5rem;
	align-items: end;
	margin-left: 0.5rem;
}