/* ================================= */
/* CSS for control sap.tnt/InfoLabel */
/* Quartz High Contrast White theme  */
/* ================================= */

// ==========================================================================
// Variables overriding
// ==========================================================================

@_sap_tnt_InfoLabel_Margin: 0.8125rem;
@_sap_tnt_InfoLabel_NoTextPadding: 0.5rem;
@_sap_tnt_InfoLabel_NoTextDisplayOnlyPadding: 0.4375rem;
@_sap_tnt_InfoLabel_LineHeight: 1rem;
@_sap_tnt_InfoLabel_LineHeightDisplayOnly: 0.875rem;

.sapTntInfoLabel {
	background: @sapUiGroupContentBackground;
	border: solid 1px @sapUiGroupContentBorderColor;

	.sapTntInfoLabelInner {
		color: @sapUiContentForegroundTextColor;
	}
}
