/* ======================================= */
/* CSS for control sap.tnt/NavigationList  */
/* Quartz High Contrast White theme        */
/* ======================================= */

@_sap_tnt_NavigationList_ItemHeight: 2.75rem;
@_sap_tnt_NavigationList_NoIconsNestedItemPadding: 2rem;
@_sap_tnt_NavigationList_ItemFocusBorder: 0.125rem dotted @sapUiContentFocusColor;
@_sap_tnt_NavigationList_ItemFocusBorderIE: 0.125rem dashed @sapUiContentFocusColor;
@_sap_tnt_NavigationList_GroupBottomBorderColor: transparent;
@_sap_tnt_NavigationList_Collapsed_GroupBorderColor: transparent;