/*******************************************************************************
/* Due to deprecation of sap_goldreflection with SAPUI5 version 1.38
/* the less file of base is directly at the top section of this file
/* and no longer imported within the library.source.less file. This decoupling
/* of the base theme is introduced with SAPUI5 version 1.46.
*******************************************************************************/

/*******************************************************************************
/* Start of base section
*******************************************************************************/

/* ====================================================== */
/* CSS for control sap.ui.layout/form/GridLayout.control  */
/* ====================================================== */

/*.sapUiGrid{

}*/

.sapUiGrid td{
	vertical-align: top;
	overflow: hidden;
}

.sapUiGrid td.sapUiGridHeader{
	vertical-align: bottom;
}

.sapUiGrid th > .sapUiFormTitle,
.sapUiGrid td > .sapUiFormTitle{
	text-align: start;
/*	border-bottom: 2px solid @sapUiHighlight;*/
	position: relative;
}

/* Internet Explorer / Edge  does not support "text-align: start"!
Therefore the title needs to be positioned separately for RTL and LTR mode */
html[data-sap-ui-browser^=ie] .sapUiGrid th > .sapUiFormTitle,
html[data-sap-ui-browser^=ie] .sapUiGrid td > .sapUiFormTitle,
html[data-sap-ui-browser^=ed] .sapUiGrid th > .sapUiFormTitle,
html[data-sap-ui-browser^=ed] .sapUiGrid td > .sapUiFormTitle {
	text-align: left;
}

html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid td > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed] .sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed] .sapUiGrid td > .sapUiFormTitle {
	text-align: right;
}

/*
.sapUiGrid td[colspan="8"] > .sapUiFormTitle{
	border-color: @sapUiMediumBorder;
}
*/

.sapUiGridHeader > .sapUiFormTitle > button{
	position: absolute;
	right: 0;
}

/* Toolbar */
.sapUiGrid.sapUiFormToolbar th > div{
	text-align: start;
}

/*******************************************************************************
/* End of base section
/* Start of sap_goldreflection less section
*******************************************************************************/

/* ===================================================== */
/* CSS for control sap.ui.layout/form/GridLayout.control */
/* Goldreflection                                        */
/* ===================================================== */
/*
.sapUiGrid{

}
*/

.sapUiGrid td{
	padding: 3px 0 0 3px; /*Maybe better 2 1 1 2 because of focus outline of some controls ?*/
}

.sapUiGrid td:first-child{
	padding-left: 0;
}

.sapUiGrid > tbody > tr.sapUiGridTitle > th,
.sapUiGrid > tbody > tr.sapUiGridConteinerFirstRow > td{
	padding-top: 20px;
}

.sapUiGrid .sapUiGridHeader{
	padding: 0;
}

.sapUiGrid th > .sapUiFormTitle,
.sapUiGrid td > .sapUiFormTitle{
	text-transform: uppercase;
	margin-bottom: 2px;
	padding-bottom: 5px;
}

.sapUiGridSpace{
	width: 30px;
}

.sapUiGrid .sapUiFormTitle > img,
.sapUiGrid .sapUiFormTitle > span{
	margin-right: 3px;
}

.sapUiGridHeader > .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite{
	bottom: 5px;
}