.messages {
    display: flex;
}

.messages > * {
    margin: 1em 1em 0 1em;
}

.title {
    margin: 1em 0 1.5em 0;
    text-align: center;
}

.searchbar, .content {
    margin: 1em;
}

.searchbar {
    display: flex;
}

.searchbar > * {
    vertical-align: bottom;
    margin-left: 1em;
}

.searchbar > :first-child {
    flex-grow: 1;
    margin-left: 0;
}

.todoItems {
    display: flex;
    height: 2.5em;
}

.todoItems > :not(:first-child) {
    vertical-align: bottom;
    margin-left: 1em;
}

.todoItems > :nth-child(2) {
    flex-grow: 1;
}

.todoItems > :last-child {
    margin-right: 1em;
}

.dialogTodoInput {
    width: 100%;
}

.dialogCloseButton {
    margin: 0.5em;
}
