/******************************************************************
	Style of the DT Overlays - sap_fiori_3_hcb Theme
*******************************************************************/
@_sap_ui_dt_Overlay_FocusColor: fade(@sapUiNeutralBorder, 80%); //rgba(255, 255, 255, 0.8)
@_sap_ui_dt_Overlay_TargetZoneColor: @sapUiContentHelpColor; //#03b803
@_sap_ui_dt_Overlay_SelectionColor: @sapUiNeutralElement; //#ffffff
@_sap_ui_dt_Overlay_CuttedColor: @sapUiFieldReadOnlyBackground; //#585858
@_sap_ui_dt_Overlay_HighlightColor: @sapUiWarningBorder; // #ffab1d