/* ============================================== */
/* CSS for control sap.ui.unified/CalendarLegend  */
/* Horizon High Contrast White theme              */
/* ============================================== */

.sapUiUnifiedLegendItem {
	position: relative;

	&:focus {
		outline: none;
		&::after {
			content: "";
			position: absolute;
			box-sizing: border-box;
			left: 0.125rem;
			top: 0.125rem;
			right: 0.125rem;
			bottom: 0.125rem;
			border: @sapContent_FocusWidth @sapContent_FocusStyle @sapUiContentFocusColor;
			pointer-events: none;
		}
	}

	.sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
		border-radius: 0;
	}
}

.sapUiCalLegDayTypeNonWorking,
.sapUiUnifiedLegendNonWorkingDay {
	& > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
		background: @sapUiLegendNonWorkingBackground;
	}
}

.sapUiSizeCompact {
	.sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
		margin: 0.1875rem;
	}

	.sapUiUnifiedLegendItem {

		&:focus {
			&::after {
				left: 0.0625rem;
				top: 0.0625rem;
				right: 0.0625rem;
				bottom: 0.0625rem;
			}
		}
	}
}