/* ========================================== */
/* CSS for control sap.ui.unified.ColorPicker */
/* Horizon High Contrast Black theme          */
/* ========================================== */

.sapUiColorPicker-ColorPickerSlider.sapUiSliHori .sapUiSliBar,
.sapUiColorPicker-ColorPickerSlider.sapUiSliHori .sapUiSliBar .sapUiSliHiLi {
	border: none;
	background-color: transparent;
}

.sapUiColorPicker-ColorPickerAlphaSlider.sapUiSliHori .sapUiSliBar,
.sapUiColorPicker-ColorPickerAlphaSlider.sapUiSliHori .sapUiSliBar .sapUiSliHiLi {
	border: none;
	background-color: transparent;
}

.sapUiColorPicker-ColorPickerMatrix.sapUnifiedColorPicker {
	.sapUiColorPicker-ColorPickerAlphaSlider,
	.sapUiColorPicker-ColorPickerSlider {
		.sapMSliderHandle {
			width: 1.0625rem;
			top: -0.5rem;
			border: 0.125rem solid @sapUiContentContrastShadowColor;
			background-color: transparent;
			box-shadow: inset 0 0 0 0.125rem @sapUiContentForegroundColor;
		}
		.sapMSliderProgress {
				border: none;
		}
		.sapMSliderInner{
			border: 0.125rem solid @sapUiContentContrastShadowColor;
			/* pressed */
			&.sapMSliderPressed:not(.sapMSliderInnerDisabled ) > .sapMSliderHandle {
				//override the blue border color when the handle is pressed
				border-color: @sapUiContentContrastShadowColor;
			}
			.sapMSliderHandle:not(.sapMSliderHandlePressed):not(.sapMRangeSlider.sapMSlider .sapMSliderInner:not(.sapMSliderInnerDisabled) .sapMSliderHandle:focus):after {
				content: none;
			}
			&::before {
				content: none
			}
		}
	}
}

.sapUiColorPicker-ColorPickerMatrix.sapUnifiedColorPicker {
	.sapUiColorPicker-ColorPickerHexField,
	.sapUiCPHexWrapper,
	.sapUiCPComparisonWrapper {
		.sapUiColorPicker-ColorPickerOldColor,
		.sapUiColorPicker-ColorPickerNewColor {
			height: 2.25rem;
		}
		margin-top: 0.5rem;
		vertical-align: top;
	}
}

.sapUiColorPicker-Large.sapUiCPPhone .sapUiCPComparisonWrapper,
.sapUiColorPicker-ColorPickerMatrix.sapUnifiedColorPicker .sapUiCPHexWrapper,
.sapUiColorPicker-ColorPickerMatrix.sapUnifiedColorPicker:not(.sapUiCPPhone) .sapUiCPComparisonWrapper {
	height: 2.25rem;
}

.sapUiColorPicker-Large {
	.sapUiCPHSLVText {
		padding-left: 2.125rem;
	}
}

.sapUiColorPicker-Simplified.sapUnifiedColorPicker.sapUiCPPhone .sapUiColorPicker-ColorPickerNewColor,
.sapUiColorPicker-Simplified.sapUnifiedColorPicker.sapUiCPPhone .sapUiColorPicker-ColorPickerOldColor {
	height: 2.75rem;
}

.sapUiColorPicker-Default.sapUnifiedColorPicker.sapUiCPPhone .sapUiColorPicker-ColorPickerNewColor,
.sapUiColorPicker-Default.sapUnifiedColorPicker.sapUiCPPhone .sapUiColorPicker-ColorPickerOldColor {
	height: 2.3125rem;
}

.sapUiSizeCompact {
	.sapUnifiedColorPicker:not(.sapUiCPPhone) .sapUiCPComparisonWrapper {
		height: 1.5rem;
		vertical-align: top;
	}

	.sapUiColorPicker-Default.sapUnifiedColorPicker:not(.sapUiCPPhone) .sapMBtn .sapMBtnInner .sapMBtnIcon {
		margin-left: 0.3rem;
	}

	.sapUiColorPicker-Simplified.sapUnifiedColorPicker.sapUiCPPhone .sapUiColorPicker-ColorPickerNewColor,
	.sapUiColorPicker-Simplified.sapUnifiedColorPicker.sapUiCPPhone .sapUiColorPicker-ColorPickerOldColor {
		height: 2.065rem;
	}
	.sapUiColorPicker-Default.sapUnifiedColorPicker.sapUiCPPhone {
		.sapUiColorPicker-ColorPickerNewColor,
		.sapUiColorPicker-ColorPickerOldColor {
			width: 2.5rem;
			height: 1.5rem;
		}
		.sapMBtn {
			width: 2.5rem;
			margin-left: 1.1rem;
		}
		.sapUiColorPicker-ColorPickerSlider {
			margin-bottom: 0.0625rem;
		}
	}
	.sapUnifiedColorPicker {
		.sapMSliderInner:not(.sapMSliderInnerDisabled) .sapMSliderHandle:focus {
			top: -0.375rem;
		}
		.sapUiColorPicker-ColorPickerAlphaSlider,
		.sapUiColorPicker-ColorPickerSlider {
			.sapMSliderHandle {
				top: -0.375rem;
				height: 1.25rem;
			}
			
		}
	}
}

.sapUiColorPicker-ColorPickerMatrix.sapUnifiedColorPicker.sapUiCPPhone .sapUiColorPicker-ColorPickerAlphaSlider {
	padding-top: 0.1875rem;
}

.sapUiColorPicker-ColorPickerMatrix.sapUnifiedColorPicker .sapUiCPPercentSymbol {
	line-height: 2.75rem;
}

.sapUiColorPicker-ColorPickerMatrix.sapUnifiedColorPicker .sapUiColorPicker-ColorPickerCircle:after {
	border-color: @sapUiFieldBorderColor;
}

.sapUiColorPicker-ColorPickerMatrix {
	&.sapUnifiedColorPicker{
		.sapUiColorPicker-ColorPickerCircle {
			border: 0.125rem solid @sapUiFieldBorderColor;
			border-radius: 6px;
			&:after {
				width: 5px;
				height: 5px;
				border: 0.125rem solid @sapUiFieldBackground;
			}
		}
	}
}