/* ============================================== */
/* CSS for control sap.ui.unified/CalendarLegend  */
/* Belize_Plus theme                              */
/* ============================================== */

/*** items and colors ***/

@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType01: lighten(@sapUiAccent1, 10);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType02: lighten(@sapUiAccent2, 15);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType03: lighten(@sapUiAccent3, 18);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType04: lighten(desaturate(@sapUiAccent2, 50),10);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType05: lighten(@sapUiAccent4, 20);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType06: lighten(@sapUiAccent6, 5);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType07: lighten(@sapUiAccent7, 10);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType08: lighten(@sapUiAccent8, 20);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType09: lighten(@sapUiAccent6, 20);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType10: lighten(desaturate(@sapUiAccent4, 41), 20);