/* ============================================== */
/* CSS for control sap.ui.unified/CalendarLegend  */
/* Belize_Plus theme                              */
/* ============================================== */

/*** items and colors ***/

@_sap_ui_unified_CalendarLegend_sapUiUnifiedLegendWorkingDay: lighten(@sapUiContentForegroundColor, 1);
@_sap_ui_unified_CalendarLegend_sapUiUnifiedLegendNonWorkingDay: darken(@sapUiContentForegroundColor, 5);

.sapUiUnifiedLegendSquareColor {
	border-radius: 0;
}