/* ======================================== */
/* CSS for control sap.ui.unified/Calendar  */
/* Belize_Plus theme                        */
/* ======================================== */

@_sap_ui_unified_Calendar_ItemColor: lighten(@sapUiContentForegroundColor, 1);
@_sap_ui_unified_Calendar_ItemHoverColor: darken(@sapUiContentForegroundColor,6);
@_sap_ui_unified_Calendar_ItemBorderColor: darken(@sapUiListBorderColor, 7);
@_sap_ui_unified_Calendar_ItemWeekEndColor: darken(@sapUiContentForegroundColor,5);
@_sap_ui_unified_Calendar_ItemWeekEndHoverColor: darken(@sapUiContentForegroundColor, 8);
@_sap_ui_unified_Calendar_ItemOtherMonthColor: darken(@sapUiBaseText, 30);
@_sap_ui_unified_Calendar_ItemSelBetweenColor: darken(@sapUiSelected, 45);
@_sap_ui_unified_Calendar_ItemSelBetweenHoverColor: darken(@sapUiSelected, 40);