.customTextDiv {
	display: inline-block;
}

.customCloseDiv {
	display: inline-block;
}

.customCloseIcon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}

.customContentArrow {
	height: 0.8125rem;
}
