/* =================================== */
/* CSS for control sap.m/ObjectStatus  */
/* Horizon theme                       */
/* =================================== */

.sapMObjStatus .sapMObjStatusLink {
	display: inline-block;
}

.sapMObjStatusInverted:not(.sapMObjectStatusLarge) {
	.sapMObjStatusText {
		min-height: 1rem;
		height: 100%;
	}
	.sapMObjStatusIcon {
		min-height: 1rem;
	}
}

.sapMObjectStatusLarge:not(.sapMObjStatusInverted) {
	.sapMObjStatusTitle,
	.sapMObjStatusText,
	.sapMObjStatusIcon {
		font-size: 1.5rem;
		line-height: 2rem;
		min-height: 2rem;
	}
	.sapMObjStatusIcon > .sapUiIcon {
		font-size: 1.5rem;
	}
}

.sapMObjStatusInverted.sapMObjectStatusLarge .sapMObjStatusWrapper {
	height: 1.625rem;
}

.sapMObjStatus.sapMObjectStatusLarge.sapMObjStatusInverted {
	height: 1.75rem;
	min-height: 1.75rem;

	.sapMObjStatusTitle,
	.sapMObjStatusText,
	.sapMObjStatusIcon {
		font-family: @sapUiFontSemiboldDuplexFamily;
		font-size: 1.25rem;
	}
	.sapMObjStatusTitle {
		line-height: 1.625rem;
		height: 1.625rem;
	}
	.sapMObjStatusIcon,
	.sapMObjStatusText {
		padding: 0.125rem 0.25rem;
		line-height: 1.25rem;
		height: 1.25rem;
	}
	.sapMObjStatusIcon:not(.sapMObjStatusIconOnly) {
		padding-left: 0;
		padding-right: 0;
	}
	.sapMObjStatusIcon > .sapUiIcon {
		font-size: 1.25rem;
		line-height: 1.25rem;
		padding-left: 0;
		padding-right: 0;
	}
	.sapMObjStatusIconOnly {
		width: 1.75rem;
	}
}

.sapMObjStatusInverted {
	box-sizing: border-box;
	min-width: 1.375rem;
}

.sapMObjStatusInverted .sapMObjStatusWrapper {
	border-radius: @sapUiButtonBorderCornerRadius;
	border: 0.0625rem solid;
}

.sapMObjStatusInverted .sapMObjStatusText,
.sapMObjStatusInverted .sapMObjStatusIcon {
	color: @sapUiContentContrastTextColor;
}

.sapMObjStatusInverted:not(.sapMObjectStatusLarge) .sapMObjStatusIcon.sapMObjStatusIconOnly,
.sapMObjStatusInverted:not(.sapMObjectStatusLarge) .sapMObjStatusLink .sapMObjStatusIcon.sapMObjStatusIconOnly {
	padding: 0.1875rem 0.313rem;
}

.sapMObjStatusInverted .sapMObjStatusText {
	padding: 0.1875rem 0.25rem;
}

.sapMObjStatusInverted .sapMObjStatusIcon {
	padding: 0.1875rem 0 0.1875rem 0.25rem;
	vertical-align: middle;
}

html.sap-desktop .sapMObjStatusActive:not(.sapMObjStatusInverted) {
	.sapMObjStatusText {
		text-decoration: underline;
	}
	&:focus {
		.sapMObjStatusLink::after {
			outline: none;
			border-radius: @sapUiButtonBorderCornerRadius;
			content: "";
			position: absolute;
			box-sizing: border-box;
			left: 0;
			top: -0.0625rem;
			right: 0;
			bottom: -0.0625rem;
			pointer-events: none;
			border: 0.125rem solid @sapUiContentFocusColor;
			z-index: -1;
		}
		.sapMObjStatusLink {
			background: @sapUiContentFocusColor;
			border-radius: @sapUiButtonBorderCornerRadius;
			.sapMObjStatusIcon > .sapUiIcon,
			.sapMObjStatusText {
				color: @sapUiContentContrastTextColor;
			}
			.sapMObjStatusText {
				text-decoration: underline;
			}
			.sapMObjStatusIcon > .sapUiIcon {
				text-decoration: none;
			}
		}
	}
	&:hover,
	&:active,
	&:focus:hover,
	&:focus:active {
		.sapMObjStatusIcon > .sapUiIcon,
		.sapMObjStatusText {
			text-decoration: none;
		}
	}
	&.sapMObjectStatusLarge:focus {
		.sapMObjStatusLink::after {
			top: 0;
			bottom: 0;
		}
	}
}

html.sap-desktop .sapMObjStatusActive.sapMObjStatusInverted {
	.sapMObjStatusLink {
		height: auto;
	}
	&:focus,
	&.sapMObjectStatusLarge:focus {
		.sapMObjStatusLink::after {
			outline: none;
			content: "";
			position: absolute;
			box-sizing: border-box;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
			z-index: 1;
			box-shadow: inset 0 0 0 0.125em @sapUiContentFocusColor, inset 0 0 0 0.1875em @sapUiContentContrastFocusColor;
			border-radius: @sapUiButtonBorderCornerRadius;
			height: 100%;
		}
	}
	&.sapMObjectStatusLarge:focus {
		min-height: 1.75rem;
	}
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusWrapper {
	background-color: @sapUiButtonNegativeBackground;
	border-color: @sapUiButtonNegativeBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusIcon {
	color: @sapUiButtonNegativeTextColor;
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusWrapper {
	background-color: @sapUiButtonCriticalBackground;
	border-color: @sapUiButtonCriticalBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusIcon {
	color: @sapUiButtonCriticalTextColor;
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusWrapper {
	background-color: @sapUiButtonSuccessBackground;
	border-color: @sapUiButtonSuccessBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusIcon {
	color: @sapUiButtonSuccessTextColor;
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusWrapper {
	background-color: @sapUiButtonInformationBackground;
	border-color: @sapUiButtonInformationBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusIcon {
	text-shadow: @sapUiContentTextShadow;
	color: @sapUiButtonInformationTextColor;
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusWrapper {
	background-color: @sapNeutralBackground;
	border-color: @sapNeutralBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusIcon {
	text-shadow: @sapUiContentTextShadow;
	color: @sapTextColor;
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: @sapUiButtonNegativeHoverBackground;
	border-color: @sapUiButtonNegativeHoverBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: @sapUiButtonNegativeHoverTextColor;
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: @sapUiButtonCriticalHoverBackground;
	border-color: @sapUiButtonCriticalHoverBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: @sapUiButtonCriticalHoverTextColor;
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: @sapUiButtonSuccessHoverBackground;
	border-color: @sapUiButtonSuccessHoverBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: @sapUiButtonSuccessHoverTextColor;
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: @sapUiButtonInformationHoverBackground;
	border-color: @sapUiButtonInformationHoverBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: @sapUiButtonInformationHoverTextColor;
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: @sapUiButtonNeutralHoverBackground;
	border-color: @sapUiButtonNeutralHoverBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: @sapUiButtonNeutralHoverTextColor;
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiButtonNegativeActiveBackground;
	border-color: @sapUiButtonNegativeActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiButtonRejectSelectedTextColor;
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiButtonCriticalActiveBackground;
	border-color: @sapUiButtonCriticalActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiButtonAttentionSelectedTextColor;
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiButtonSuccessActiveBackground;
	border-color: @sapUiButtonSuccessActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiButtonAcceptSelectedTextColor;
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiButtonInformationActiveBackground;
	border-color: @sapUiButtonInformationActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiButtonSelectedTextColor;
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiButtonNeutralActiveBackground;
	border-color: @sapUiButtonNeutralActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiButtonActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusWrapper {
	background-color: @sapUiIndication1Background;
	border-color: @sapUiIndication1BorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusIcon {
	color: @sapUiIndication1TextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusWrapper {
	background-color: @sapUiIndication2Background;
	border-color: @sapUiIndication2BorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusIcon {
	color: @sapUiIndication2TextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusWrapper {
	background-color: @sapUiIndication3Background;
	border-color: @sapUiIndication3BorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusIcon {
	color: @sapUiIndication3TextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusWrapper {
	background-color: @sapUiIndication4Background;
	border-color: @sapUiIndication4BorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusIcon {
	color: @sapUiIndication4TextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusWrapper {
	background-color: @sapUiIndication5Background;
	border-color: @sapUiIndication5BorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusIcon {
	color: @sapUiIndication5TextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusWrapper {
	background-color: @sapUiIndication6Background;
	border-color: @sapUiIndication6BorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusIcon {
	color: @sapUiIndication6TextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusWrapper {
	background-color: @sapUiIndication7Background;
	border-color: @sapUiIndication7BorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusIcon {
	color: @sapUiIndication7TextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusWrapper {
	background-color: @sapUiIndication8Background;
	border-color: @sapUiIndication8BorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusIcon {
	color: @sapUiIndication8TextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication1ActiveBackground;
	border-color: @sapUiIndication1ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication1ActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication2ActiveBackground;
	border-color: @sapUiIndication2ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication2ActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication3ActiveBackground;
	border-color: @sapUiIndication3ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication3ActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication4ActiveBackground;
	border-color: @sapUiIndication4ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication4ActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication5ActiveBackground;
	border-color: @sapUiIndication5ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication5ActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication6ActiveBackground;
	border-color: @sapUiIndication6ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication6ActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication7ActiveBackground;
	border-color: @sapUiIndication7ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication7ActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication8ActiveBackground;
	border-color: @sapUiIndication8ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication8ActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication09 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication9ActiveBackground;
	border-color: @sapUiIndication9ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication09 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication09 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication9ActiveTextColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication10 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: @sapUiIndication10ActiveBackground;
	border-color: @sapUiIndication10ActiveBorderColor;
}

.sapMObjStatusInverted.sapMObjStatusIndication10 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication10 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: @sapUiIndication10ActiveTextColor;
}

/*  Second set of inverted indication colors regular state */
.sapMObjStatusInverted.sapMObjStatusIndication11 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication11 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication12 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication12 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication13 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication13 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication14 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication14 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication15 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication15 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication16 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication16 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication17 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication17 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication18 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication18 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication19 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication19 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication20 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication20 .sapMObjStatusIcon {
	text-shadow: @sapUiContentTextShadow;
}

.sapUiForm.sapUiFormEdit .sapMObjStatusInverted {
	padding-top: 0.6875rem;
}

.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont > div:has(.sapMObjStatusInverted) {
	padding-top: 0;
}

.sapUiFormM .sapMObjStatusInverted {
	padding-top: 0.0625rem;
}

.sapUiFormM .sapUiFormResGridCont .sapMObjStatus .sapMObjStatusTitle {
	vertical-align: baseline;
}