/* =================================== */
/* CSS for control sap.m/ObjectStatus  */
/* Horizon theme                       */
/* =================================== */

.sapMObjStatus .sapMObjStatusLink {
	display: inline-block;
}

.sapMObjStatus.sapMLnkLargeReactiveArea:not(.sapMObjectStatusLarge):not(.sapMObjStatusInverted) {
	.sapMObjStatusTitle,
	.sapMObjStatusIcon .sapUiIcon,
	.sapMObjStatusText {
		line-height: 1.5rem;
	}
	.sapMObjStatusIcon {
		height: 1.5rem;
	}
}

.sapMObjStatusInverted:not(.sapMObjectStatusLarge) {

	.sapMObjStatusText {
		min-height: 1rem;
		height: 100%;
	}

	.sapMObjStatusIcon {
		min-height: 1rem;
	}
}

.sapMObjectStatusLarge:not(.sapMObjStatusInverted) {

	.sapMObjStatusTitle,
	.sapMObjStatusText,
	.sapMObjStatusIcon {
		font-size: 1.5rem;
		line-height: 2rem;
		min-height: 2rem;
	}

	.sapMObjStatusIcon > .sapUiIcon {
		font-size: 1.5rem;
	}
}

.sapMObjStatusInverted.sapMObjectStatusLarge .sapMObjStatusWrapper {
	height: 1.625rem;
}

.sapMObjStatus.sapMObjectStatusLarge.sapMObjStatusInverted {
	height: 1.75rem;
	min-height: 1.75rem;

	.sapMObjStatusTitle,
	.sapMObjStatusText,
	.sapMObjStatusIcon {
		font-family: var(--sapFontSemiboldDuplexFamily);
		font-size: 1.25rem;
	}

	.sapMObjStatusTitle {
		line-height: 1.625rem;
		height: 1.625rem;
	}

	.sapMObjStatusIcon,
	.sapMObjStatusText {
		padding: 0.125rem 0.25rem;
		line-height: 1.25rem;
		height: 1.25rem;
	}

	.sapMObjStatusIcon:not(.sapMObjStatusIconOnly) {
		padding-left: 0;
		padding-right: 0;
	}

	.sapMObjStatusIcon > .sapUiIcon {
		font-size: 1.25rem;
		line-height: 1.25rem;
		padding-left: 0;
		padding-right: 0;
	}

	.sapMObjStatusIconOnly {
		width: 1.75rem;
	}
}

.sapMObjStatusInverted {
	box-sizing: border-box;
	min-width: 1.375rem;
}

.sapMObjStatusInverted .sapMObjStatusWrapper {
	border-radius: var(--sapButton_BorderCornerRadius);
	border: 0.0625rem solid;
}

.sapMObjStatusInverted .sapMObjStatusText,
.sapMObjStatusInverted .sapMObjStatusIcon {
	color: var(--sapContent_ContrastTextColor);
}

.sapMObjStatusInverted:not(.sapMObjectStatusLarge) .sapMObjStatusIcon.sapMObjStatusIconOnly,
.sapMObjStatusInverted:not(.sapMObjectStatusLarge) .sapMObjStatusLink .sapMObjStatusIcon.sapMObjStatusIconOnly {
	padding: 0.1875rem 0.313rem;
}

.sapMObjStatusInverted .sapMObjStatusText {
	padding: 0.1875rem 0.25rem;
}

.sapMObjStatusInverted .sapMObjStatusIcon {
	padding: 0.1875rem 0 0.1875rem 0.25rem;
	vertical-align: middle;
}

html.sap-desktop .sapMObjStatusActive:not(.sapMObjStatusInverted) {

	.sapMObjStatusText {
		text-decoration: underline;
	}

	&:focus {

		.sapMObjStatusLink::after {
			outline: none;
			border-radius: 0.125rem;
			content: '';
			position: absolute;
			box-sizing: border-box;
			left: 0;
			top: -0.0625rem;
			right: 0;
			bottom: 0.0625rem;
			pointer-events: none;
			border: 0.125rem solid var(--sapContent_FocusColor);
			z-index: -1;
		}

		.sapMObjStatusLink {
			background: var(--sapContent_FocusColor);
			border-radius: 0.125rem;
			line-height: 0.875rem;

			.sapMObjStatusIcon > .sapUiIcon,
			.sapMObjStatusText {
				color: var(--sapContent_ContrastTextColor);
			}

			.sapMObjStatusText {
				text-decoration: underline;
			}

			.sapMObjStatusIcon > .sapUiIcon {
				text-decoration: none;
			}
		}
	}

	&:hover,
	&:active,
	&:focus:hover,
	&:focus:active {

		.sapMObjStatusIcon > .sapUiIcon,
		.sapMObjStatusText {
			text-decoration: none;
		}
	}

	&.sapMObjectStatusLarge:focus {

		.sapMObjStatusLink::after {
			top: 0;
			bottom: 0;
		}
	}
}

html.sap-desktop .sapMObjStatusActive.sapMObjStatusInverted {

	.sapMObjStatusLink {
		height: auto;
	}

	&:focus,
	&.sapMObjectStatusLarge:focus {

		.sapMObjStatusLink::after {
			outline: none;
			content: '';
			position: absolute;
			box-sizing: border-box;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
			z-index: 1;
			box-shadow: inset 0 0 0 0.125em var(--sapContent_FocusColor), inset 0 0 0 0.1875em var(--sapContent_ContrastFocusColor);
			border-radius: var(--sapButton_BorderCornerRadius);
			height: 100%;
		}
	}

	&.sapMObjectStatusLarge:focus {
		min-height: 1.75rem;
	}
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusWrapper {
	background-color: var(--sapButton_Negative_Background);
	border-color: var(--sapButton_Negative_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusIcon {
	color: var(--sapButton_Negative_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusWrapper {
	background-color: var(--sapButton_Critical_Background);
	border-color: var(--sapButton_Critical_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusIcon {
	color: var(--sapButton_Critical_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusWrapper {
	background-color: var(--sapButton_Success_Background);
	border-color: var(--sapButton_Success_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusIcon {
	color: var(--sapButton_Success_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusWrapper {
	background-color: var(--sapButton_Information_Background);
	border-color: var(--sapButton_Information_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusIcon {
	text-shadow: var(--sapContent_TextShadow);
	color: var(--sapButton_Information_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusWrapper {
	background-color: var(--sapNeutralBackground);
	border-color: var(--sapNeutralBorderColor);
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusIcon {
	text-shadow: var(--sapContent_TextShadow);
	color: var(--sapTextColor);
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Negative_Hover_Background);
	border-color: var(--sapButton_Negative_Hover_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: var(--sapButton_Negative_Hover_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Critical_Hover_Background);
	border-color: var(--sapButton_Critical_Hover_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: var(--sapButton_Critical_Hover_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Success_Hover_Background);
	border-color: var(--sapButton_Success_Hover_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: var(--sapButton_Success_Hover_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Information_Hover_Background);
	border-color: var(--sapButton_Information_Hover_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: var(--sapButton_Information_Hover_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:hover > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Neutral_Hover_Background);
	border-color: var(--sapButton_Neutral_Hover_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:hover .sapMObjStatusIcon {
	color: var(--sapButton_Neutral_Hover_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Negative_Active_Background);
	border-color: var(--sapButton_Negative_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapButton_Reject_Selected_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Critical_Active_Background);
	border-color: var(--sapButton_Critical_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapButton_Attention_Selected_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Success_Active_Background);
	border-color: var(--sapButton_Success_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapButton_Accept_Selected_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Information_Active_Background);
	border-color: var(--sapButton_Information_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapButton_Selected_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapButton_Neutral_Active_Background);
	border-color: var(--sapButton_Neutral_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapButton_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_1_Background);
	border-color: var(--sapIndicationColor_1_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusIcon {
	color: var(--sapIndicationColor_1_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_2_Background);
	border-color: var(--sapIndicationColor_2_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusIcon {
	color: var(--sapIndicationColor_2_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_3_Background);
	border-color: var(--sapIndicationColor_3_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusIcon {
	color: var(--sapIndicationColor_3_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_4_Background);
	border-color: var(--sapIndicationColor_4_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusIcon {
	color: var(--sapIndicationColor_4_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_5_Background);
	border-color: var(--sapIndicationColor_5_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusIcon {
	color: var(--sapIndicationColor_5_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_6_Background);
	border-color: var(--sapIndicationColor_6_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusIcon {
	color: var(--sapIndicationColor_6_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_7_Background);
	border-color: var(--sapIndicationColor_7_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusIcon {
	color: var(--sapIndicationColor_7_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_8_Background);
	border-color: var(--sapIndicationColor_8_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusIcon {
	color: var(--sapIndicationColor_8_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_1_Active_Background);
	border-color: var(--sapIndicationColor_1_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication01 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_1_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_2_Active_Background);
	border-color: var(--sapIndicationColor_2_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication02 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_2_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_3_Active_Background);
	border-color: var(--sapIndicationColor_3_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication03 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_3_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_4_Active_Background);
	border-color: var(--sapIndicationColor_4_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication04 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_4_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_5_Active_Background);
	border-color: var(--sapIndicationColor_5_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication05 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_5_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_6_Active_Background);
	border-color: var(--sapIndicationColor_6_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication06 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_6_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_7_Active_Background);
	border-color: var(--sapIndicationColor_7_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication07 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_7_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_8_Active_Background);
	border-color: var(--sapIndicationColor_8_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication08 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_8_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication09 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_9_Active_Background);
	border-color: var(--sapIndicationColor_9_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication09 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication09 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_9_Active_TextColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication10 .sapMObjStatusLink:active > .sapMObjStatusWrapper {
	background-color: var(--sapIndicationColor_10_Active_Background);
	border-color: var(--sapIndicationColor_10_Active_BorderColor);
}

.sapMObjStatusInverted.sapMObjStatusIndication10 .sapMObjStatusLink:active .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication10 .sapMObjStatusLink:active .sapMObjStatusIcon {
	color: var(--sapIndicationColor_10_Active_TextColor);
}

/* Second set of inverted indication colors regular state */
.sapMObjStatusInverted.sapMObjStatusIndication11 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication11 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication12 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication12 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication13 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication13 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication14 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication14 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication15 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication15 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication16 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication16 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication17 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication17 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication18 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication18 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication19 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication19 .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusIndication20 .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusIndication20 .sapMObjStatusIcon {
	text-shadow: var(--sapContent_TextShadow);
}

.sapUiForm.sapUiFormEdit .sapMObjStatusInverted {
	padding-top: 0.6875rem;
}

.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont > div:has(.sapMObjStatusInverted) {
	padding-top: 0;
}

.sapUiFormM .sapMObjStatusInverted {
	padding-top: 0.0625rem;
}

.sapUiFormM .sapUiFormResGridCont .sapMObjStatus .sapMObjStatusTitle {
	vertical-align: baseline;
}