/* ================================== */
/* CSS for control sap.m/RadioButton  */
/* Horizon theme                      */
/* ================================== */

@_sap_m_Radio_Button_Read_Only_fill: var(--sapField_TextColor);

.sapMRb {
	height: 2.75rem;

	.sapMRbBOut {
		stroke-width: 0.125rem;
	}

	&:not(.sapMRbErr):not(.sapMRbWarn):not(.sapMRbInfo) {

		.sapMRbBOut {
			stroke-width: var(--sapField_BorderWidth);
		}
	}
}

.sapMRb .sapMRbB {
	height: 2.75rem;
	line-height: 2.75rem;
	width: 2.75rem;
}

.sapMRb > .sapMRbBLabel {
	line-height: 2.75rem;
	height: 2.75rem;
}

.sapMRbSvg {
	margin: 0.6875rem;
}

.sapMRbHasLabel.sapMRb:focus::before {
	bottom: 0.5rem;
	top: 0.5rem;
	left: 0.5rem;
	right: 0;
}

/* Right to left */
.sapMRbG[dir=rtl] .sapMRbHasLabel.sapMRb:focus::before {
	left: 0;
	right: 0.5rem;
}

.sapMRb.sapMRbHasLabel .sapMRbBLabel .sapMLabelTextWrapper {
	color: var(--sapField_TextColor);
}

.sapMRbHasLabel .sapMRbB {
	width: 2.75rem;
}

/* Align RadioButton in Form with other controls */
.sapUiForm.sapUiFormEdit-CTX {

	.sapMRb > .sapMRbB {
		width: 2.1875rem;
	}
}

.sapUiSizeCompact {

	.sapMRbB {
		height:2rem;
		line-height: 2rem;
		width: 2rem;
	}

	.sapMRb > .sapMLabel {
		height: 2rem;
		line-height: 2rem;
	}

	.sapMRb:focus::before {
		bottom: 0.25rem;
		top: 0.25rem;
		left: 0.25rem;
		right: 0.25rem;
	}
}

.sapMRb:not(.sapMRbErr):not(.sapMRbWarn):not(.sapMRbInfo):not(.sapMRbSucc):not(.sapMRbDis) .sapMRbHoverable:hover .sapMRbBOut {
	stroke: var(--sapField_Hover_BorderColor);
	fill: var(--sapField_Selector_Hover_Background);
}

.sapMRb:focus::before {
	border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	bottom: 0.25rem;
	top: 0.25rem;
	left: 0.25rem;
	right: 0.25rem;
	border-radius: 0.5rem;
}

.sapMLIBActive .sapMRbB .sapMRbBOut {
	border: 1px solid var(--sapList_Active_TextColor);
}

.sapMLIBActive .sapMRbSel .sapMRbBOut {
	background-color: var(--sapList_Active_Background);
}

.sapMRbDis {
	opacity: var(--sapContent_DisabledOpacity);
}

.sapMRbSel .sapMRbBInn {
	fill: var(--sapContent_Selected_ForegroundColor);
}

.sapMRbB .sapMRbBInn {
	r: 27.5%;
}

/* Value states */

.sapMRbErr.sapMRbSel,
.sapMRbErr.sapMRbSel.sapMRbRo {

	.sapMRbBInn {
		fill: var(--sapField_InvalidColor);
		stroke: none;
	}
}

.sapMRbErr,
.sapMRbErr.sapMRbBTouched {

	.sapMRbB .sapMRbBOut {
		stroke: var(--sapField_InvalidColor);
		fill: var(--sapField_InvalidBackground);
		stroke-width: var(--sapField_InvalidBorderWidth);
	}
}

.sapMRb.sapMRbErr .sapMRbHoverable:hover .sapMRbBOut {
	fill: var(--sapField_Selector_Hover_InvalidBackground);
}

.sapMRbWarn.sapMRbSel,
.sapMRbWarn.sapMRbSel.sapMRbRo {

	.sapMRbBInn {
		fill: var(--sapField_WarningColor);
		stroke: none;
	}
}

.sapMRbWarn,
.sapMRbWarn.sapMRbBTouched {

	.sapMRbB .sapMRbBOut {
		stroke: var(--sapField_WarningColor);
		fill: var(--sapField_WarningBackground);
		stroke-width: var(--sapField_WarningBorderWidth);
	}
}

.sapMRb.sapMRbWarn .sapMRbHoverable:hover .sapMRbBOut {
	fill: var(--sapField_Selector_Hover_WarningBackground);
}

.sapMRbSucc.sapMRbSel,
.sapMRbSucc.sapMRbSel.sapMRbRo {

	.sapMRbBInn {
		fill: var(--sapField_SuccessColor);
		stroke: none;
	}
}

.sapMRbSucc,
.sapMRbSucc.sapMRbBTouched {

	.sapMRbB .sapMRbBOut {
		stroke: var(--sapField_SuccessColor);
		fill: var(--sapField_SuccessBackground);
		stroke-width: var(--sapField_SuccessBorderWidth);
	}
}

.sapMRb.sapMRbSucc .sapMRbHoverable:hover .sapMRbBOut {
	fill: var(--sapField_Selector_Hover_SuccessBackground);
}

.sapMRbInfo.sapMRbSel,
.sapMRbInfo.sapMRbSel.sapMRbRo {

	.sapMRbBInn {
		fill: var(--sapField_InformationColor);
		stroke: none;
	}
}

.sapMRbInfo,
.sapMRbInfo.sapMRbBTouched {

	.sapMRbB .sapMRbBOut {
		stroke: var(--sapField_InformationColor);
		fill: var(--sapField_InformationBackground);
		stroke-width: var(--sapField_InformationBorderWidth);
	}
}

.sapMRb.sapMRbInfo .sapMRbHoverable:hover .sapMRbBOut {
	fill: var( --sapField_Selector_Hover_InformationBackground);
}

.sapMRbRo .sapMRbBOut {
	stroke-dasharray: 4,2; /* parameter needed for the type of the dashes */
}


html[data-sap-ui-browser^='sf'] {
	/* fix for blur caused by drop-shadow in Safari */
	.sapMRbHoverable:hover {
		z-index: 1;
	}

	/* fix for circle width on zoom in Safari */
	.sapMRb.sapMRbErr .sapMRbBOut,
	.sapMRb.sapMRbWarn .sapMRbBOut,
	.sapMRb.sapMRbInfo .sapMRbBOut {
		stroke-width: 2px;
	}

	/* fix for circle width on zoom in Safari */
	.sapMRb:not(.sapMRbErr):not(.sapMRbWarn):not(.sapMRbInfo) .sapMRbBOut {
		stroke-width: 1px;
	}
}