/* ============================= */
/* CSS for control sap.m/Select  */
/* Horizon theme                 */
/* ============================= */

/* IconOnly */

.sapMSlt.sapMSltIconOnly:not(.sapMSltDisabled) {
	border-color: @sapUiButtonLiteBorderColor;
	background: @sapUiButtonLiteBackground;
	border-radius: 0.2rem;
}

/* IconOnly Hover */

.sapMSltIconOnly.sapMSltHoverable:hover:not(.sapMSltState) {
	background: @sapUiButtonLiteHoverBackground;

	&.sapMSltWithIcon {
		border: 0.0625rem solid @sapUiButtonLiteHoverBorderColor;
	}
}

/*IconOnly Pressed */
.sapMSltPressed.sapMSltIconOnly:not(.sapMSltDisabled) {
	background: @sapUiToggleButtonPressedBackground;
	border: 0.0625rem solid @sapUiToggleButtonPressedBorderColor;
}

.sapMSlt:not(.sapMSltIconOnly) {
	border-radius: 0.5rem;
}

.sapMSlt {
	height: 2.25rem;
	border-bottom-color: @sapField_PlaceholderTextColor;
	border-bottom-width: 0.125rem;
	background: @sapBackgroundColor;

	&.sapMSltDisabled,
	&.sapMSltReadonly {
		border-bottom-width: 0.0625rem;
	}

	&.sapMSltReadonly > .sapMSltLabel {
		color: @sapButton_TextColor;
	}
}

.sapMSltError {
	border-bottom-color: @sapUiFieldInvalidColor;

	&.sapMSltHoverable:not(.sapMSltPressed):hover > .sapMSltArrow {
		background: @sapUiFieldBackground;
	}
}

.sapMSltWarning {
	border-bottom-color: @sapUiFieldWarningColor;

	&.sapMSltHoverable:not(.sapMSltPressed):hover > .sapMSltArrow {
		background: @sapUiFieldBackground;
	}
}

.sapMSltSuccess {
	border-bottom-color: @sapUiFieldSuccessColor;

	&.sapMSltHoverable:not(.sapMSltPressed):hover > .sapMSltArrow {
		background: @sapUiFieldBackground;
	}
}

.sapMSltInformation {
	border-bottom-color: @sapUiHighlight;

	&.sapMSltHoverable:not(.sapMSltPressed):hover > .sapMSltArrow {
		background: @sapUiFieldBackground;
	}
}

.sapMSlt > .sapMSltLabel {
	line-height: 2.125rem;
}

.sapMSltArrow {
	line-height: 2.25rem;
}

.sapMSltPressed > .sapMSltArrow::before {
	color: @sapUiButtonActiveTextColor;
}

.sapMSlt.sapMSltPressed,
.sapMSltPressed > .sapMSltArrow {
	background: @sapUiButtonLiteHoverBackground;
}

html.sap-desktop .sapMSlt.sapMSltFocused:not(.sapMSltExpanded):not(.sapMSltDisabled):not(.sapMSltState):before {
	outline-offset: -2px;
}

html.sap-desktop .sapMSlt.sapMSltFocused:not(.sapMSltExpanded):not(.sapMSltDisabled).sapMSltState:before {
	outline-offset: -2px;
}


html.sap-desktop .sapMSltIconOnly.focus:not(.sapMSltExpanded):not(.sapMSltDisabled).sapMSltPressed {
	outline-color: @sapUiContentContrastFocusColor;
}

.sapMSltHoverable:not(.sapMSltState):not(.sapMSltIconOnly):hover {
	background: @sapUiFieldHoverBackground;
}

/* pressed and hover */

.sapMSltIconOnly.sapMSltPressed.sapMSltHoverable:not(.sapMSltState):hover {
	background: @sapUiToggleButtonPressedHoverBackground;
	border-color: @sapUiFieldActiveBorderColor;
}

/* value state */

.sapMSltState {
	border-width: 2px;
}

/* disabled */

.sapMSltDisabled {
	opacity: 0.5;
}

div.sapMSltPicker .sapMSltPickerValueState {
	box-shadow: inset 0 -0.0625rem @_sap_m_Dialog_HeaderShadowColor;
}
