/* ==================================== */
/* CSS for control sap.m/SliderTooltip  */
/* Horizon theme                        */
/* ==================================== */

.sapMSliderTooltip {
	background: @sapField_Focus_Background; 
	border-radius: 0.5rem;
	border: none;
	box-shadow: @sapUiContentShadow1;
	height: 1.375rem;
	min-width: 2rem;
	padding: 0.25rem;
	font-size: @sapMFontSmallSize;
	color: @sapUiContentLabelColor;
}

.sapMSliderTooltipInput {
	font-size: @sapMFontMediumSize;
	color: @sapUiFieldTextColor;
}

.sapMSliderTooltipErrorState {
	box-shadow: inset 0px 0px 0px 2px @sapField_InvalidColor;
}

.sapMSliderTooltip.sapMSliderTooltipNonEditableWrapper {
	height: 0.875rem;
	padding: 0.25rem;
	font-size: @sapMFontSmallSize;
	color: @sapUiContentLabelColor;
}