/* =================================== */
/* CSS for control sap.m/StandardTile  */
/* Horizon theme                       */
/* =================================== */

.sapMStdTileIconDiv {
	color: @sapUiHighlight;
}

.sapMStdIconCreate {
	opacity: .3;
}

.sapMStdTileMonitorType {
	background-color: darken(@sapUiTileBackground, 5);
}

.sapMTCEditable .sapMStdTileMonitorType {
	background-color: fade(darken(@sapUiTileBackground, 5), 50);
}

.sapMStdTileMonitorType .sapMStdTileTitle {
	color: @sapUiTileTitleTextColor;
}

.sapMTileActive-CTX .sapMStdTileMonitorType {
	background-color: transparent;
}