/* ================================= */
/* CSS for control sap.m/TimePicker  */
/* Horizon theme                     */
/* ================================= */

@_sap_m_TimePicker_ItemColor: var(--sapLegend_WorkingBackground);
@_sap_m_TimePicker_ItemHoverColor: var(--sapList_Hover_Background);
@_sap_m_TimePicker_ItemBorderColor: var(--sapList_Background);