/* ===================================== */
/* CSS for control sap.ui.ux3/QuickView  */
/* Belize theme                          */
/* ===================================== */

.sapUiUx3QV {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
	background: lighten(@sapUiContentForegroundColor, 10); // @sapUiLightestBG = #ffffff
	border: none;
}

.sapUiUx3QVHeader{
	color: @sapUiPageHeaderTextColor; // @sapUiLightText = #666666
}

.sapUiUx3QVTitle1 {
	color: @sapUiBaseText;
}

.sapUiUx3QV a,
.sapUiUx3QV a:link,
.sapUiUx3QV a:visited,
.sapUiUx3QV a:active {
	text-decoration: none;
	color: @sapUiLink;
}

.sapUiUx3QV a:hover {
	text-decoration: underline;
	color: @sapUiLink;
}

.sapUiUx3QVTitle2 {
	color: darken(@sapUiTextTitle, 6.5); // @sapUiExtraDarkText = #222222
}

