/******************************************************************
	Style of the RTA Change Visualization - Quartz hcw theme
*******************************************************************/
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorLight: @sapUiPositiveText; //#006362
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorMedium: @sapUiActive; //#ec8b46
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark: lighten(@sapUiChart8, 20%); //#e52faa
@_sap_ui_rta_ChangeVisualization_OverlayOutline: @sapUiIndication5; //#004ccb

.sapUiDtOverlay {
	.sapUiRtaChangeIndicatorHovered {
		&:after {
			box-shadow: none;
		}
	}
}