/******************************************************************
	Style of the RTA Contextmenu - sap_fiori_3_hcw Theme
*******************************************************************/
@_sap_ui_rta_ContextMenu_Border_LightColor: @sapUiNeutralBorder; //#000
@_sap_ui_rta_ContextMenu_Border_DarkColor: @sapUiNeutralBG; //#fff
@_sap_ui_rta_ContextMenu_BoxShadow_DarkColor: fade(@sapUiContentShadowColor, 60%); //rgba(0, 0, 0, 0.6)
@_sap_ui_rta_ContextMenu_BoxShadow_LightColor: @sapUiNeutralBorder; //#000