/******************************************************************
	Style of Dialogs shown in RTA - sap_fiori_3_hcw Theme
*******************************************************************/
@_sap_ui_rta_Dialogs_Border_LightColor: @sapUiWhite; //#ffffff
@_sap_ui_rta_Dialogs_Border_DarkColor: @sapUiBlackBG; //#000000
@_sap_ui_rta_Dialogs_BoxShadowColor: fade(@sapUiBlackBG, 50%); //rgba(0, 0, 0, 0.5)

.sapMDialog.sapUiRTABorder {
	border: 0.1875rem solid @_sap_ui_rta_Dialogs_Border_LightColor; //3px
	border-image: repeating-linear-gradient( -45deg, @_sap_ui_rta_Dialogs_Border_DarkColor, @_sap_ui_rta_Dialogs_Border_DarkColor 5px, @_sap_ui_rta_Dialogs_Border_LightColor 5px, @_sap_ui_rta_Dialogs_Border_LightColor 10px) 4;
	box-shadow:0 0.625rem 4rem 0 @_sap_ui_rta_Dialogs_BoxShadowColor, 0 0 0.625rem -0.125rem @_sap_ui_rta_Dialogs_Border_DarkColor; //10px 64px 10px 2px
}

