/******************************************************************
	Style of the RTA Overlays - sap_fiori_3_hcw Theme
*******************************************************************/
@_sap_ui_rta_Overlay_BorderColor: @sapUiIndication5; //#004ccb
@_sap_ui_rta_Overlay_BoxShadowColor: @sapUiNeutralBG; //#fff
@_sap_ui_rta_Overlay_ShellBG: @sapUiNeutralBG; //#fff
@_sap_ui_rta_Overlay_FocusBorder: @sapUiNeutralElement; //#000
@_sap_ui_rta_Overlay_TargetZoneBG: fade(@sapUiSelected, 30%);
@_sap_ui_rta_Overlay_PlaceholderBG: @sapUiNeutralBG; //#fff

.sapUiRta {
	.sapUiDtOverlayTargetZone {
		&:after {
			box-shadow: none;
		}

		&.sapUiDtOverlayDropZone > .sapUiDtOverlayChildren > .sapUiDtOverlayMovable {
			background: @_sap_ui_rta_Overlay_TargetZoneBG;
		}
	}
}

.sapUiRta:not(.sapUiRtaVisualizationMode) {
	.sapUiDtOverlay {
		&:focus {
			outline: none;
			/* We create inner white shadow to make sure black border is in contrast with element */
			box-shadow: 0 0 0 0.125rem @_sap_ui_rta_Overlay_BoxShadowColor inset; //2px

			&:before {
				border: none;
				outline: 0.125rem dotted @_sap_ui_rta_Overlay_FocusBorder; //2px
				outline-offset: -0.25rem; //4px
			}
		}
	}

	.sapUiRtaOverlayHover {
		&:after {
			border: none;
			box-shadow: none;
			outline: 0.125rem dotted @_sap_ui_rta_Overlay_BorderColor; //2px
			outline-offset: -0.125rem; //2px
		}
	}

	.sapUiDtOverlaySelected {
		box-shadow: none;

		&:after {
			border: 0.125rem solid @_sap_ui_rta_Overlay_BorderColor; //2px
			outline: none;
		}

		&.sapUiDtOverlayFocusable {
			&:focus {
				/* Same trick as described above but doubled thickness */
				box-shadow: 0 0 0 0.25rem @_sap_ui_rta_Overlay_BoxShadowColor inset; //4px
			}
		}

		&.sapUiRtaOverlayHover {
			&:after {
				border: 0.125rem solid @_sap_ui_rta_Overlay_BorderColor !important; //2px
				outline: 0.125rem dotted @_sap_ui_rta_Overlay_BorderColor !important; //2px
				outline-offset: -0.25rem; //4px
				transition: none;
				box-shadow: none;
			}
		}
	}
}