<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Test Page for sap.ui.dt.DesignTimeEnablement</title>

		<script src="../../shared-config.js"></script>
		<script id="sap-ui-bootstrap"
				data-sap-ui-noConflict="true"
				data-sap-ui-preload="async"
				data-sap-ui-compatVersion="edge"
				data-sap-ui-libs="sap.ui.dt,sap.m"
				src="../../../../../../resources/sap-ui-core.js">
		</script>
		<script>

			sap.ui.getCore().attachInit(function () {
				sap.ui.require([
					'sap/ui/dt/enablement/report/Table',
					'sap/ui/dt/enablement/report/Statistic',
					'sap/ui/dt/enablement/report/LibraryReport'
				], function (
					Table,
					Statistic,
					LibraryReport
				) {
					var oLibraryReport = new LibraryReport({
						libraryName : "sap.ui.layout"
					});

					oLibraryReport.run().then(function (oData) {
						var oStatisticReport = new Statistic({
							data: oData
						});
						oStatisticReport.placeAt("content");

						var oReport = new Table({
							data: oData
						});
						oReport.placeAt("content");
					});
				});
		});

		</script>
	</head>
	<body class="sapUiBody">
		<h1>DesignTime Test Report</h1>
		<div id="content"></div>
	</body>
</html>
