<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>QUnit Page for sap.ui.layout.VerticalLayout design time and rta enabling</title>

<script src="../../shared-config.js"></script>
<script id="sap-ui-bootstrap" src="../../../../../../resources/sap-ui-core.js" data-sap-ui-noConflict="true" data-sap-ui-resourceroots='{"dt": "./"}'
	data-sap-ui-libs="sap.ui.layout,sap.ui.rta">

</script>

<link rel="stylesheet" href="../../../../../../resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen">
<script src="../../../../../../resources/sap/ui/thirdparty/qunit.js"></script>
<script src="../../../../../../resources/sap/ui/qunit/qunit-junit.js"></script>
<script src="../../../../../../resources/sap/ui/thirdparty/sinon.js"></script>
<script src="../../../../../../resources/sap/ui/thirdparty/sinon-qunit.js"></script>
<script src="../../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>

<script>

sap.ui.require([
	'sap/ui/dt/test/report/QUnit',
	'sap/ui/dt/test/ElementEnablementTest',
	'dt/VerticalLayout',
	'sap/ui/rta/test/controlEnablingCheck'
], function (QUnit, ElementEnablementTest, VerticalLayout, rtaControlEnablingCheck) {

	var oElementEnablementTest = new ElementEnablementTest({
		type : "sap.ui.layout.VerticalLayout",
		create : VerticalLayout.create
	});
	oElementEnablementTest.run().then(function(oData) {
		var oReport = new QUnit({
			data: oData
		});
	});

	// Move action
	var fnConfirmElement1IsOn3rdPosition = function (oUiComponent, oViewAfterAction, assert) {
		assert.strictEqual(oViewAfterAction.byId("button1").getId(),
				oViewAfterAction.byId("layout").getContent()[2].getId(),
				"then the control has been moved to the right position");
	};
	var fnConfirmElement1IsOn1stPosition = function (oUiComponent, oViewAfterAction, assert) {
		assert.strictEqual(oViewAfterAction.byId("button1").getId(),
				oViewAfterAction.byId("layout").getContent()[0].getId(),
				"then the control has been moved to the previous position");
	};

	rtaControlEnablingCheck("Checking the move action for a VerticalLayout control", {
		xmlView: '<mvc:View xmlns:mvc="sap.ui.core.mvc" xmlns:m="sap.m" xmlns:l="sap.ui.layout">' +
			'<l:VerticalLayout id="layout">' +
				'<m:Button text="Button 1" id="button1" />' +
				'<m:Button text="Button 2" id="button2" />' +
				'<m:Button text="Button 3" id="button3" />' +
			'</l:VerticalLayout>' +
		'</mvc:View>'
		,
		action: {
			name: "move",
			controlId: "layout",
			parameter: function (oView) {
				return {
					movedElements: [{
						element: oView.byId("button1"),
						sourceIndex: 0,
						targetIndex: 2
					}],
					source: {
						aggregation: "content",
						parent: oView.byId("layout")
					},
					target: {
						aggregation: "content",
						parent: oView.byId("layout")
					}
				};
			}
		},
		afterAction: fnConfirmElement1IsOn3rdPosition,
		afterUndo: fnConfirmElement1IsOn1stPosition,
		afterRedo: fnConfirmElement1IsOn3rdPosition
	});

	// Remove and reveal actions
	var fnConfirmLayoutIsInvisible = function (oUiComponent, oViewAfterAction, assert) {
		assert.strictEqual(oViewAfterAction.byId("layout").getVisible(), false, "then the Layout element is invisible");
	};

	var fnConfirmLayoutIsVisible = function (oUiComponent, oViewAfterAction, assert) {
		assert.strictEqual(oViewAfterAction.byId("layout").getVisible(), true, "then the Layout is visible");
	};

	rtaControlEnablingCheck("Checking the remove and reveal actions for VerticalLayout control", {
		xmlView: '<mvc:View xmlns:mvc="sap.ui.core.mvc" xmlns:m="sap.m" xmlns:l="sap.ui.layout">' +
			'<l:VerticalLayout id="layout">' +
				'<m:Text text="Text" id="text1" />' +
			'</l:VerticalLayout>' +
		'</mvc:View>'
		,
		action: {
			name: "remove",
			controlId: "layout",
			parameter: function (oView) {
				return {
					removedElement: oView.byId("layout")
				};
			}
		},
		afterAction: fnConfirmLayoutIsInvisible,
		afterUndo: fnConfirmLayoutIsVisible,
		afterRedo: fnConfirmLayoutIsInvisible
	});
});

</script>

</head>
<body id="body" class="sapUiBody">
	<h1 id="qunit-header">QUnit Page for sap.ui.layout.VerticalLayout</h1>
	<h2 id="qunit-banner"></h2>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
	<div id="content"></div>
	<div id="qunit-fixture"></div>
</body>
</html>
