<!DOCTYPE HTML>

<!--
  Tested classes: sap.ui.core.Component, sap.ui.core.UIComponent
-->

<html>
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="UTF-8">

	<title>QUnit tests: Component Models</title>

	<script id="sap-ui-bootstrap"
		type="text/javascript"
		src="../../../../../../resources/sap-ui-core.js"
		data-sap-ui-theme="sap_bluecrystal"
		data-sap-ui-noConflict="true">
	</script>

	<link rel="stylesheet" href="../../../../../../resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen" />

	<script>

	jQuery.sap.registerModulePath("sap.ui.test", "./");

	sap.ui.require([
		"jquery.sap.global",
		"sap/ui/thirdparty/URI",
		"sap/ui/thirdparty/qunit",
		"sap/ui/qunit/qunit-junit",
		"sap/ui/qunit/QUnitUtils",
		"sap/ui/thirdparty/sinon",
		"sap/ui/thirdparty/sinon-qunit",
		"sap/ui/core/UIComponent",
		"sap/ui/model/odata/ODataModel",
		"sap/ui/model/odata/v2/ODataModel",
		"sap/ui/model/json/JSONModel",
		"sap/ui/model/xml/XMLModel",
		"sap/ui/model/resource/ResourceModel",
		"sap/ui/test/v2models/parent/CustomModel"
	],
	function(jQuery, URI) {

		QUnit.module('default', {
			mockModels: function() {
				this.modelSpy = {
					odata: this.spy(sap.ui.model.odata, "ODataModel"),
					odataV2: this.spy(sap.ui.model.odata.v2, "ODataModel"),
					json: this.spy(sap.ui.model.json, "JSONModel"),
					xml: this.spy(sap.ui.model.xml, "XMLModel"),
					resource: this.spy(sap.ui.model.resource, "ResourceModel"),
					custom: this.spy(sap.ui.test.v2models.parent, "CustomModel")
				};
			},
			mockGetUriParameters: function() {
				var oGetParameterStub = this.stub();

				// returns sap-client=foo, sap-server=bar
				[ 'sap-client', 'sap-server' ].forEach(function(sName, i) {
					oGetParameterStub.withArgs(sName).returns(i ? 'bar': 'foo');
				});

				this.stub(jQuery.sap, 'getUriParameters').returns({
					get: oGetParameterStub
				});
			},
			assertModelInstances: function(mClasses) {
				this.mModels = {};
				for (var sName in mClasses) {
					var oClass = mClasses[sName];
					var oModel = this.oComponent.getModel(sName || undefined);
					this.mModels[sName] = oModel;
					QUnit.assert.ok(oModel instanceof oClass,
						'Expected model "' + sName + '" to be an instance of ' + oClass.getMetadata().getName());
				}
			},
			assertModelsDestroyed: function() {
				for (var sName in this.mModels) {
					var oModel = this.mModels[sName];
					QUnit.assert.ok(oModel.bDestroyed,
						'Expected model "' + sName + '" to be destroyed');
				}
			}
		});

		QUnit.test("metadata v2 with dataSources", function(assert) {
			this.mockGetUriParameters();
			this.mockModels();

			var oLogSpy = this.spy(jQuery.sap.log, "error");

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2models.parent"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 1);

			// model: "ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1', 'v2models/parent/path/to/local/odata/annotations/2' ],
				useBatch: false,
				refreshAfterChange: false,
				json: true
			});


			// sap.ui.model.odata.v2.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV2, 5);

			// model: "default-with-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar',
				annotationURI: [ 'v2models/parent/path/to/local/odata/annotations/2', '/path/to/odata/annotations/1' ]
			});

			// model: "old-uri-syntax"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service'
			});

			// model: ""
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar'
			});

			// model: "v2-ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service',
				useBatch: true,
				refreshAfterChange: true,
			});

			// model: "invalid-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1' ]
			});


			// sap.ui.model.json.JSONModel
			sinon.assert.callCount(this.modelSpy.json, 3);

			// model: "json"
			sinon.assert.calledWithExactly(this.modelSpy.json, '/path/to/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'v2models/parent/path/to/local/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative-2"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'path/to/other/data.json?sap-client=foo&sap-server=bar');


			// sap.ui.model.xml.XMLModel
			sinon.assert.callCount(this.modelSpy.xml, 2);

			// model: "xml"
			sinon.assert.calledWithExactly(this.modelSpy.xml, '/path/to/data.xml?sap-client=foo&sap-server=bar');

			// model: "xml-relative"
			sinon.assert.calledWithExactly(this.modelSpy.xml, 'v2models/parent/path/to/local/data.xml?sap-client=foo&sap-server=bar');


			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 2);

			// model: "resourceBundle-name"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleName: "sap.ui.test.v2models.parent.i18n"
			});

			// model: "resourceBundle-legacy-uri"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleUrl: "v2models/parent/i18n.properties"
			});


			// sap.ui.test.v2models.parent.CustomModel
			sinon.assert.callCount(this.modelSpy.custom, 7);

			// model: "custom-uri-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-relative-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, 'v2models/parent/path/to/local/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-string-with-settings"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar', {
				foo: 'bar'
			});

			// model: "custom-without-args"
			sinon.assert.calledWithExactly(this.modelSpy.custom);

			// model: "custom-uri-setting-name"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				myUri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar'
			});

			// model: "custom-uri-setting-merge"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar',
				foo: 'bar'
			});

			// model: "custom-uri-setting-already-defined"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: 'foo'
			});


			// jQuery.sap.log.error
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: Missing \"type\" for model \"no-model-type\"", "[\"sap.ui5\"][\"models\"][\"no-model-type\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, sinon.match("Class \"sap.ui.not.defined.Model\" for model \"missing-model-class\" could not be loaded."), "[\"sap.ui5\"][\"models\"][\"missing-model-class\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: Class \"sap.ui.test.v2models.parent.ModelNotDefined\" for model \"model-not-found\" could not be found", "[\"sap.ui5\"][\"models\"][\"model-not-found\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: ODataAnnotation \"undefined\" for dataSource \"odata-invalid-annotations\" could not be found in manifest", "[\"sap.app\"][\"dataSources\"][\"undefined\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: Missing \"uri\" for ODataAnnotation \"annotation-without-uri\"", "[\"sap.app\"][\"dataSources\"][\"annotation-without-uri\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: dataSource \"json\" was expected to have type \"ODataAnnotation\" but was \"JSON\"", "[\"sap.app\"][\"dataSources\"][\"json\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: dataSource \"invalid\" for model \"dataSource-invalid\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"invalid\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: dataSource \"does-not-exist\" for model \"dataSource-not-found\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"does-not-exist\"]", this.oComponent);


			// check if models are set on component (and save them internally)
			this.assertModelInstances({
				"": sap.ui.model.odata.v2.ODataModel,
				"default-with-annotations": sap.ui.model.odata.v2.ODataModel,
				"old-uri-syntax": sap.ui.model.odata.v2.ODataModel,
				"ODataModel": sap.ui.model.odata.ODataModel,
				"v2-ODataModel": sap.ui.model.odata.v2.ODataModel,
				"invalid-annotations": sap.ui.model.odata.v2.ODataModel,
				"json": sap.ui.model.json.JSONModel,
				"json-relative": sap.ui.model.json.JSONModel,
				"json-relative-2": sap.ui.model.json.JSONModel,
				"xml": sap.ui.model.xml.XMLModel,
				"xml-relative": sap.ui.model.xml.XMLModel,
				"resourceBundle-name": sap.ui.model.resource.ResourceModel,
				"resourceBundle-legacy-uri": sap.ui.model.resource.ResourceModel,
				"custom-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-relative-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-string-with-settings": sap.ui.test.v2models.parent.CustomModel,
				"custom-without-args": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-name": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-merge": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-already-defined": sap.ui.test.v2models.parent.CustomModel
			});

			// destroy the component
			this.oComponent.destroy();

			// check if all models got destroyed (uses the models from #assertModelInstances)
			this.assertModelsDestroyed();

			// check if internal models references were removed
			assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");

		});

		QUnit.test("metadata v2 with dataSources (empty inheritance)", function(assert) {
			this.mockGetUriParameters();
			this.mockModels();

			var oLogSpy = this.spy(jQuery.sap.log, "error");

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2models.empty"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 1);

			// model: "ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1', 'v2models/parent/path/to/local/odata/annotations/2' ],
				useBatch: false,
				refreshAfterChange: false,
				json: true
			});


			// sap.ui.model.odata.v2.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV2, 5);

			// model: "default-with-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar',
				annotationURI: [ 'v2models/parent/path/to/local/odata/annotations/2', '/path/to/odata/annotations/1' ]
			});

			// model: "old-uri-syntax"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service'
			});

			// model: ""
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar'
			});

			// model: "v2-ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service',
				useBatch: true,
				refreshAfterChange: true,
			});

			// model: "invalid-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1' ]
			});


			// sap.ui.model.json.JSONModel
			sinon.assert.callCount(this.modelSpy.json, 3);

			// model: "json"
			sinon.assert.calledWithExactly(this.modelSpy.json, '/path/to/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'v2models/parent/path/to/local/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative-2"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'path/to/other/data.json?sap-client=foo&sap-server=bar');


			// sap.ui.model.xml.XMLModel
			sinon.assert.callCount(this.modelSpy.xml, 2);

			// model: "xml"
			sinon.assert.calledWithExactly(this.modelSpy.xml, '/path/to/data.xml?sap-client=foo&sap-server=bar');

			// model: "xml-relative"
			sinon.assert.calledWithExactly(this.modelSpy.xml, 'v2models/parent/path/to/local/data.xml?sap-client=foo&sap-server=bar');


			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 2);

			// model: "resourceBundle-name"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleName: "sap.ui.test.v2models.parent.i18n"
			});

			// model: "resourceBundle-legacy-uri"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleUrl: "v2models/parent/i18n.properties"
			});


			// sap.ui.test.v2models.parent.CustomModel
			sinon.assert.callCount(this.modelSpy.custom, 7);

			// model: "custom-uri-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-relative-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, 'v2models/parent/path/to/local/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-string-with-settings"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar', {
				foo: 'bar'
			});

			// model: "custom-without-args"
			sinon.assert.calledWithExactly(this.modelSpy.custom);

			// model: "custom-uri-setting-name"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				myUri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar'
			});

			// model: "custom-uri-setting-merge"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar',
				foo: 'bar'
			});

			// model: "custom-uri-setting-already-defined"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: 'foo'
			});


			// jQuery.sap.log.error
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: Missing \"type\" for model \"no-model-type\"", "[\"sap.ui5\"][\"models\"][\"no-model-type\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, sinon.match("Class \"sap.ui.not.defined.Model\" for model \"missing-model-class\" could not be loaded."), "[\"sap.ui5\"][\"models\"][\"missing-model-class\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: Class \"sap.ui.test.v2models.parent.ModelNotDefined\" for model \"model-not-found\" could not be found", "[\"sap.ui5\"][\"models\"][\"model-not-found\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: ODataAnnotation \"undefined\" for dataSource \"odata-invalid-annotations\" could not be found in manifest", "[\"sap.app\"][\"dataSources\"][\"undefined\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: Missing \"uri\" for ODataAnnotation \"annotation-without-uri\"", "[\"sap.app\"][\"dataSources\"][\"annotation-without-uri\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: dataSource \"json\" was expected to have type \"ODataAnnotation\" but was \"JSON\"", "[\"sap.app\"][\"dataSources\"][\"json\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: dataSource \"invalid\" for model \"dataSource-invalid\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"invalid\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: dataSource \"does-not-exist\" for model \"dataSource-not-found\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"does-not-exist\"]", this.oComponent);


			// check if models are set on component (and save them internally)
			this.assertModelInstances({
				"": sap.ui.model.odata.v2.ODataModel,
				"default-with-annotations": sap.ui.model.odata.v2.ODataModel,
				"old-uri-syntax": sap.ui.model.odata.v2.ODataModel,
				"ODataModel": sap.ui.model.odata.ODataModel,
				"v2-ODataModel": sap.ui.model.odata.v2.ODataModel,
				"invalid-annotations": sap.ui.model.odata.v2.ODataModel,
				"json": sap.ui.model.json.JSONModel,
				"json-relative": sap.ui.model.json.JSONModel,
				"json-relative-2": sap.ui.model.json.JSONModel,
				"xml": sap.ui.model.xml.XMLModel,
				"xml-relative": sap.ui.model.xml.XMLModel,
				"resourceBundle-name": sap.ui.model.resource.ResourceModel,
				"resourceBundle-legacy-uri": sap.ui.model.resource.ResourceModel,
				"custom-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-relative-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-string-with-settings": sap.ui.test.v2models.parent.CustomModel,
				"custom-without-args": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-name": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-merge": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-already-defined": sap.ui.test.v2models.parent.CustomModel
			});

			// destroy the component
			this.oComponent.destroy();

			// check if all models got destroyed (uses the models from #assertModelInstances)
			this.assertModelsDestroyed();

			// check if internal models references were removed
			assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");

		});

		QUnit.test("metadata v2 with dataSources (extension inheritance)", function(assert) {
			this.mockGetUriParameters();
			this.mockModels();

			var oLogSpy = this.spy(jQuery.sap.log, "error");

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2models.extension"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 1);

			// model: "ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1', 'v2models/parent/path/to/local/odata/annotations/2' ],
				useBatch: true,
				skipMetadataAnnotationParsing: true,
				refreshAfterChange: false,
				json: true
			});


			// sap.ui.model.odata.v2.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV2, 5);

			// model: "default-with-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar',
				annotationURI: [
					'v2models/parent/path/to/local/odata/annotations/2',
					'/path/to/odata/annotations/1',
					'v2models/extension/path/to/local/extension/annotation'
				]
			});

			// model: "old-uri-syntax"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service'
			});

			// model: ""
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/extension/datasource?sap-client=foo&sap-server=bar'
			});

			// model: "v2-ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service',
				useBatch: true,
				refreshAfterChange: true,
			});

			// model: "invalid-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1' ]
			});


			// sap.ui.model.json.JSONModel
			sinon.assert.callCount(this.modelSpy.json, 3);

			// model: "json"
			sinon.assert.calledWithExactly(this.modelSpy.json, '/path/to/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'v2models/extension/path/to/extension/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative-2"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'path/to/other/data.json?sap-client=foo&sap-server=bar');


			// sap.ui.model.xml.XMLModel
			sinon.assert.callCount(this.modelSpy.xml, 3);

			// model: "xml"
			sinon.assert.calledWithExactly(this.modelSpy.xml, '/path/to/data.xml?sap-client=foo&sap-server=bar');

			// model: "xml-relative"
			sinon.assert.calledWithExactly(this.modelSpy.xml, 'v2models/parent/path/to/local/data.xml?sap-client=foo&sap-server=bar');

			// model: "xml-extension"
			sinon.assert.calledWithExactly(this.modelSpy.xml, 'v2models/extension/path/to/local/data.xml?sap-client=foo&sap-server=bar');


			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 2);

			// model: "resourceBundle-name"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleName: "sap.ui.test.v2models.parent.i18n"
			});

			// model: "resourceBundle-legacy-uri"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleUrl: "v2models/parent/i18n.properties"
			});


			// sap.ui.test.v2models.parent.CustomModel
			sinon.assert.callCount(this.modelSpy.custom, 7);

			// model: "custom-uri-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-relative-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, 'v2models/parent/path/to/local/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-string-with-settings"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar', {
				foo: 'bar'
			});

			// model: "custom-without-args"
			sinon.assert.calledWithExactly(this.modelSpy.custom);

			// model: "custom-uri-setting-name"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				myUri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar'
			});

			// model: "custom-uri-setting-merge"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar',
				foo: 'bar'
			});

			// model: "custom-uri-setting-already-defined"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: 'foo'
			});


			// jQuery.sap.log.error
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: Missing \"type\" for model \"no-model-type\"", "[\"sap.ui5\"][\"models\"][\"no-model-type\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, sinon.match("Class \"sap.ui.not.defined.Model\" for model \"missing-model-class\" could not be loaded."), "[\"sap.ui5\"][\"models\"][\"missing-model-class\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: Class \"sap.ui.test.v2models.parent.ModelNotDefined\" for model \"model-not-found\" could not be found", "[\"sap.ui5\"][\"models\"][\"model-not-found\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: ODataAnnotation \"undefined\" for dataSource \"odata-invalid-annotations\" could not be found in manifest", "[\"sap.app\"][\"dataSources\"][\"undefined\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: Missing \"uri\" for ODataAnnotation \"annotation-without-uri\"", "[\"sap.app\"][\"dataSources\"][\"annotation-without-uri\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: dataSource \"json\" was expected to have type \"ODataAnnotation\" but was \"JSON\"", "[\"sap.app\"][\"dataSources\"][\"json\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: dataSource \"invalid\" for model \"dataSource-invalid\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"invalid\"]", this.oComponent);
			sinon.assert.calledWithExactly(oLogSpy, "Component Manifest: dataSource \"does-not-exist\" for model \"dataSource-not-found\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"does-not-exist\"]", this.oComponent);


			// check if models are set on component (and save them internally)
			this.assertModelInstances({
				"": sap.ui.model.odata.v2.ODataModel,
				"default-with-annotations": sap.ui.model.odata.v2.ODataModel,
				"old-uri-syntax": sap.ui.model.odata.v2.ODataModel,
				"ODataModel": sap.ui.model.odata.ODataModel,
				"v2-ODataModel": sap.ui.model.odata.v2.ODataModel,
				"invalid-annotations": sap.ui.model.odata.v2.ODataModel,
				"json": sap.ui.model.json.JSONModel,
				"json-relative": sap.ui.model.json.JSONModel,
				"json-relative-2": sap.ui.model.json.JSONModel,
				"xml": sap.ui.model.xml.XMLModel,
				"xml-relative": sap.ui.model.xml.XMLModel,
				"resourceBundle-name": sap.ui.model.resource.ResourceModel,
				"resourceBundle-legacy-uri": sap.ui.model.resource.ResourceModel,
				"custom-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-relative-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-string-with-settings": sap.ui.test.v2models.parent.CustomModel,
				"custom-without-args": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-name": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-merge": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-already-defined": sap.ui.test.v2models.parent.CustomModel
			});

			// destroy the component
			this.oComponent.destroy();

			// check if all models got destroyed (uses the models from #assertModelInstances)
			this.assertModelsDestroyed();

			// check if internal models references were removed
			assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");

		});

		QUnit.test("metadata v2 without models", function(assert) {
			this.mockModels();

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2empty"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 0);
			// sap.ui.model.odata.v2.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV2, 0);
			// sap.ui.model.json.JSONModel
			sinon.assert.callCount(this.modelSpy.json, 0);
			// sap.ui.model.xml.XMLModel
			sinon.assert.callCount(this.modelSpy.xml, 0);
			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 0);
			// sap.ui.test.v2models.CustomModel
			sinon.assert.callCount(this.modelSpy.custom, 0);

			assert.ok(!this.oComponent.getModel(), "Component should not have a model");
			assert.deepEqual(this.oComponent._mManifestModels, {}, "Component should not have internal model references");

			// destroy the component
			this.oComponent.destroy();

		});

		QUnit.test("metadata v1 with models", function(assert) {
			this.mockGetUriParameters();
			this.mockModels();

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v1"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 1);

			// model: "sfapi"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/sap/opu/odata/snce/PO_S_SRV/',
				json: true
			});


			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 1);

			// model: "i18n"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleUrl: "v1/i18n/i18n.properties"
			});

			// check if models are set on component (and save them internally)
			this.assertModelInstances({
				"i18n": sap.ui.model.resource.ResourceModel,
				"sfapi": sap.ui.model.odata.ODataModel
			});

			// destroy the component
			this.oComponent.destroy();

			// check if all models got destroyed (uses the models from #assertModelInstances)
			this.assertModelsDestroyed();

			// check if internal models references were removed
			assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");

		});

		QUnit.test("metadata v1 without models", function(assert) {
			this.mockModels();

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v1empty"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 0);
			// sap.ui.model.odata.v2.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV2, 0);
			// sap.ui.model.json.JSONModel
			sinon.assert.callCount(this.modelSpy.json, 0);
			// sap.ui.model.xml.XMLModel
			sinon.assert.callCount(this.modelSpy.xml, 0);
			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 0);
			// sap.ui.test.v2models.CustomModel
			sinon.assert.callCount(this.modelSpy.custom, 0);

			assert.ok(!this.oComponent.getModel(), "Component should not have a model");
			assert.deepEqual(this.oComponent._mManifestModels, {}, "Component should not have internal model references");

			// destroy the component
			this.oComponent.destroy();

		});

	});

	</script>
	</head>
	<body><h1 id="qunit-header">QUnit tests: Component Models</h1>
		<h2 id="qunit-banner"></h2>
		<h2 id="qunit-userAgent"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<ol id="qunit-tests"></ol>
	</body>
</html>
