<!DOCTYPE HTML>

<!--
  Tested classes: sap.ui.core.Component, sap.ui.core.UIComponent
-->

<html>
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">

	<title>QUnit tests: Component Models</title>

	<script id="sap-ui-bootstrap"
		type="text/javascript"
		src="../../../../../../resources/sap-ui-core.js"
		data-sap-ui-theme="sap_bluecrystal"
		data-sap-ui-noConflict="true">
	</script>

	<link rel="stylesheet" href="../../../../../../resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen">

	<script>

	jQuery.sap.registerModulePath("sap.ui.test", "./");

	sap.ui.require([
		"jquery.sap.global",
		"sap/ui/thirdparty/URI",
		"sap/ui/thirdparty/qunit",
		"sap/ui/qunit/qunit-junit",
		"sap/ui/qunit/QUnitUtils",
		"sap/ui/thirdparty/sinon",
		"sap/ui/thirdparty/sinon-qunit",
		"sap/ui/core/UIComponent",
		"sap/ui/model/odata/ODataModel",
		"sap/ui/model/odata/v2/ODataModel",
		"sap/ui/model/odata/v4/ODataModel",
		"sap/ui/model/json/JSONModel",
		"sap/ui/model/xml/XMLModel",
		"sap/ui/model/resource/ResourceModel",
		"sap/ui/test/v2models/parent/CustomModel"
	],
	function(jQuery, URI) {

		// used to get access to the non-public core parts
		var oRealCore;
		sap.ui.getCore().registerPlugin({
			startPlugin: function(oCore, bOnInit) {
				oRealCore = oCore;
			}
		});

		var Helper = {
			spyModels: function() {
				this.modelSpy = {
					odata: sinon.spy(sap.ui.model.odata, "ODataModel"),
					odataV2: sinon.spy(sap.ui.model.odata.v2, "ODataModel"),
					odataV4: sinon.spy(sap.ui.model.odata.v4, "ODataModel"),
					json: sinon.spy(sap.ui.model.json, "JSONModel"),
					xml: sinon.spy(sap.ui.model.xml, "XMLModel"),
					resource: sinon.spy(sap.ui.model.resource, "ResourceModel"),
					custom: sinon.spy(sap.ui.test.v2models.parent, "CustomModel")
				};
			},
			restoreModels: function() {
				if (this.modelSpy) {
					for (var sName in this.modelSpy) {
						if (this.modelSpy[sName] && this.modelSpy[sName].restore) {
							this.modelSpy[sName].restore();
						}
					}
					this.modelSpy = null;
				}
			},
			stubGetUriParameters: function(mMockParams) {
				var oGetParameterStub = sinon.stub();

				oGetParameterStub.withArgs('sap-client').returns('foo');
				oGetParameterStub.withArgs('sap-server').returns('bar');
				oGetParameterStub.withArgs('sap-system').returns(mMockParams && mMockParams.system);

				if (mMockParams && mMockParams["preload-component-models"]) {
					oGetParameterStub.withArgs('sap-ui-xx-preload-component-models').returns('true');
				}

				this.oGetUriParametersStub = sinon.stub(jQuery.sap, 'getUriParameters').returns({
					get: oGetParameterStub
				});
			},
			restoreGetUriParameters: function() {
				if (this.oGetUriParametersStub && this.oGetUriParametersStub.restore) {
					this.oGetUriParametersStub.restore();
					this.oGetUriParametersStub = null;
				}
			},
			assertModelInstances: function(mClasses) {
				this.mModels = {};
				for (var sName in mClasses) {
					var oClass = mClasses[sName];
					var oModel = this.oComponent.getModel(sName || undefined);
					this.mModels[sName] = oModel;
					QUnit.assert.ok(oModel instanceof oClass,
						'Expected model "' + sName + '" to be an instance of ' + oClass.getMetadata().getName());
				}
			},
			assertModelsDestroyed: function() {
				for (var sName in this.mModels) {
					var oModel = this.mModels[sName];
					QUnit.assert.ok(oModel && oModel.bDestroyed,
						'Expected model "' + sName + '" to be destroyed');
				}
			}
		};
		// Binds all the helper functions to the test instance
		var bindHelper = function() {
			for (var method in Helper) {
				if (Helper.hasOwnProperty(method)) {
					this[method] = Helper[method].bind(this);
				}
			}
		}



		QUnit.module('default', {
			beforeEach: function() {
				bindHelper.call(this);

				this.spyModels();
				this.oLogSpy = sinon.spy(jQuery.sap.log, "error");
			},
			afterEach: function() {
				this.restoreModels();
				this.oLogSpy.restore();

				this.restoreGetUriParameters();
			}
		});

		QUnit.test("metadata v2 with dataSources", function(assert) {
			this.stubGetUriParameters();

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2models.parent"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 1);

			// model: "ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1', 'v2models/parent/path/to/local/odata/annotations/2' ],
				useBatch: false,
				refreshAfterChange: false,
				json: true
			});


			// sap.ui.model.odata.v2.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV2, 6);

			// model: "default-with-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar',
				annotationURI: [ 'v2models/parent/path/to/local/odata/annotations/2', '/path/to/odata/annotations/1' ],
				headers: { "Cache-Control": "max-age=500" }
			});

			// model: "old-uri-syntax"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service'
			});

			// model: ""
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar'
			});

			// model: "v2-ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service',
				useBatch: true,
				refreshAfterChange: true,
			});

			// model: "invalid-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1' ]
			});


			// sap.ui.model.odata.v4.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV4, 1);

			// model: "default-with-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV4, {
				serviceUrl: '/path/to/odata/service/?sap-client=foo&sap-server=bar',
				synchronizationMode : "None"
			});


			// sap.ui.model.json.JSONModel
			sinon.assert.callCount(this.modelSpy.json, 3);

			// model: "json"
			sinon.assert.calledWithExactly(this.modelSpy.json, '/path/to/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'v2models/parent/path/to/local/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative-2"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'path/to/other/data.json?sap-client=foo&sap-server=bar');


			// sap.ui.model.xml.XMLModel
			sinon.assert.callCount(this.modelSpy.xml, 2);

			// model: "xml"
			sinon.assert.calledWithExactly(this.modelSpy.xml, '/path/to/data.xml?sap-client=foo&sap-server=bar');

			// model: "xml-relative"
			sinon.assert.calledWithExactly(this.modelSpy.xml, 'v2models/parent/path/to/local/data.xml?sap-client=foo&sap-server=bar');


			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 2);

			// model: "resourceBundle-name"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleName: "sap.ui.test.v2models.parent.i18n"
			});

			// model: "resourceBundle-legacy-uri"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleUrl: "v2models/parent/i18n.properties"
			});


			// sap.ui.test.v2models.parent.CustomModel
			sinon.assert.callCount(this.modelSpy.custom, 7);

			// model: "custom-uri-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-relative-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, 'v2models/parent/path/to/local/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-string-with-settings"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar', {
				foo: 'bar'
			});

			// model: "custom-without-args"
			sinon.assert.calledWithExactly(this.modelSpy.custom);

			// model: "custom-uri-setting-name"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				myUri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar'
			});

			// model: "custom-uri-setting-merge"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar',
				foo: 'bar'
			});

			// model: "custom-uri-setting-already-defined"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: 'foo'
			});


			// jQuery.sap.log.error
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: Missing \"type\" for model \"no-model-type\"", "[\"sap.ui5\"][\"models\"][\"no-model-type\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, sinon.match("Class \"sap.ui.not.defined.Model\" for model \"missing-model-class\" could not be loaded."), "[\"sap.ui5\"][\"models\"][\"missing-model-class\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: Class \"sap.ui.test.v2models.parent.ModelNotDefined\" for model \"model-not-found\" could not be found", "[\"sap.ui5\"][\"models\"][\"model-not-found\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: ODataAnnotation \"undefined\" for dataSource \"odata-invalid-annotations\" could not be found in manifest", "[\"sap.app\"][\"dataSources\"][\"undefined\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: Missing \"uri\" for ODataAnnotation \"annotation-without-uri\"", "[\"sap.app\"][\"dataSources\"][\"annotation-without-uri\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: dataSource \"json\" was expected to have type \"ODataAnnotation\" but was \"JSON\"", "[\"sap.app\"][\"dataSources\"][\"json\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: dataSource \"invalid\" for model \"dataSource-invalid\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"invalid\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: dataSource \"does-not-exist\" for model \"dataSource-not-found\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"does-not-exist\"]", this.oComponent.toString());


			// check if models are set on component (and save them internally)
			this.assertModelInstances({
				"": sap.ui.model.odata.v2.ODataModel,
				"default-with-annotations": sap.ui.model.odata.v2.ODataModel,
				"old-uri-syntax": sap.ui.model.odata.v2.ODataModel,
				"ODataModel": sap.ui.model.odata.ODataModel,
				"v2-ODataModel": sap.ui.model.odata.v2.ODataModel,
				"invalid-annotations": sap.ui.model.odata.v2.ODataModel,
				"ODataV4Model": sap.ui.model.odata.v4.ODataModel,
				"json": sap.ui.model.json.JSONModel,
				"json-relative": sap.ui.model.json.JSONModel,
				"json-relative-2": sap.ui.model.json.JSONModel,
				"xml": sap.ui.model.xml.XMLModel,
				"xml-relative": sap.ui.model.xml.XMLModel,
				"resourceBundle-name": sap.ui.model.resource.ResourceModel,
				"resourceBundle-legacy-uri": sap.ui.model.resource.ResourceModel,
				"custom-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-relative-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-string-with-settings": sap.ui.test.v2models.parent.CustomModel,
				"custom-without-args": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-name": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-merge": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-already-defined": sap.ui.test.v2models.parent.CustomModel
			});

			// destroy the component
			this.oComponent.destroy();

			// check if all models got destroyed (uses the models from #assertModelInstances)
			this.assertModelsDestroyed();

			// check if internal models references were removed
			assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");

		});

		QUnit.test("metadata v2 with sap-system URL parameter", function(assert) {
			this.stubGetUriParameters({ system: "BLA_123" });

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2models.parent"
			});

			// model: "ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/path/to/odata/service;o=BLA_123?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1', 'v2models/parent/path/to/local/odata/annotations/2'],
				useBatch: false,
				refreshAfterChange: false,
				json: true
			});

			// model: "v2-ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service;o=BLA_123',
				useBatch: true,
				refreshAfterChange: true,
			});

			// model: "v2-ODataModel" with a trailing slash and URL Parameters
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service/with/trailing/slash;o=BLA_123/?sap-client=foo&sap-server=bar',
				annotationURI: ['/path/to/odata/service/with/trailing/slash;o=BLA_123/annotations.xml', 'v2models/parent/path/to/local/odata/annotations/2'],
				useBatch: true,
				refreshAfterChange: true,
			});

			//JSON Model, should not have an origin
			// model: json
			sinon.assert.calledWithExactly(this.modelSpy.json, '/path/to/data.json?sap-client=foo&sap-server=bar');

			//ResourceModel should also not have an origin attached
			// model: "resourceBundle-name"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleName: "sap.ui.test.v2models.parent.i18n"
			});

			// destroy the component
			this.oComponent.destroy();

			// check if all models got destroyed (uses the models from #assertModelInstances)
			this.assertModelsDestroyed();

			// check if internal models references were removed
			assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");

		});

		QUnit.test("metadata v2 with sap-system startup parameter", function(assert) {
			this.stubGetUriParameters();

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2models.parent",
				componentData: {
					startupParameters: {
						"sap-system": "STARTUP456"
					}
				}
			});

			// model: "ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/path/to/odata/service;o=STARTUP456?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1', 'v2models/parent/path/to/local/odata/annotations/2'],
				useBatch: false,
				refreshAfterChange: false,
				json: true
			});

			// model: "v2-ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service;o=STARTUP456',
				useBatch: true,
				refreshAfterChange: true,
			});

			// model: "v2-ODataModel" with a trailing slash and URL Parameters
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service/with/trailing/slash;o=STARTUP456/?sap-client=foo&sap-server=bar',
				annotationURI: ['/path/to/odata/service/with/trailing/slash;o=STARTUP456/annotations.xml', 'v2models/parent/path/to/local/odata/annotations/2'],
				useBatch: true,
				refreshAfterChange: true,
			});

			//JSON Model, should not have an origin
			// model: json
			sinon.assert.calledWithExactly(this.modelSpy.json, '/path/to/data.json?sap-client=foo&sap-server=bar');

			//ResourceModel should also not have an origin attached
			// model: "resourceBundle-name"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleName: "sap.ui.test.v2models.parent.i18n"
			});

			// destroy the component
			this.oComponent.destroy();

			// check if all models got destroyed (uses the models from #assertModelInstances)
			this.assertModelsDestroyed();

			// check if internal models references were removed
			assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");

		});

		QUnit.test("metadata v2 with dataSources (extension inheritance)", function(assert) {
			this.stubGetUriParameters();

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2models.extension"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 1);

			// model: "ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1', 'v2models/parent/path/to/local/odata/annotations/2' ],
				useBatch: true,
				skipMetadataAnnotationParsing: true,
				refreshAfterChange: false,
				json: true
			});


			// sap.ui.model.odata.v2.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV2, 6);

			// model: "default-with-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar',
				annotationURI: [
					'v2models/parent/path/to/local/odata/annotations/2',
					'/path/to/odata/annotations/1',
					'v2models/extension/path/to/local/extension/annotation'
				],
				headers: { "Cache-Control": "max-age=360" }
			});

			// model: "old-uri-syntax"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service'
			});

			// model: ""
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/default/extension/datasource?sap-client=foo&sap-server=bar'
			});

			// model: "v2-ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service',
				useBatch: true,
				refreshAfterChange: true,
			});

			// model: "invalid-annotations"
			sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
				serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
				annotationURI: [ '/path/to/odata/annotations/1' ]
			});


			// sap.ui.model.json.JSONModel
			sinon.assert.callCount(this.modelSpy.json, 3);

			// model: "json"
			sinon.assert.calledWithExactly(this.modelSpy.json, '/path/to/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'v2models/extension/path/to/extension/data.json?sap-client=foo&sap-server=bar');

			// model: "json-relative-2"
			sinon.assert.calledWithExactly(this.modelSpy.json, 'path/to/other/data.json?sap-client=foo&sap-server=bar');


			// sap.ui.model.xml.XMLModel
			sinon.assert.callCount(this.modelSpy.xml, 3);

			// model: "xml"
			sinon.assert.calledWithExactly(this.modelSpy.xml, '/path/to/data.xml?sap-client=foo&sap-server=bar');

			// model: "xml-relative"
			sinon.assert.calledWithExactly(this.modelSpy.xml, 'v2models/parent/path/to/local/data.xml?sap-client=foo&sap-server=bar');

			// model: "xml-extension"
			sinon.assert.calledWithExactly(this.modelSpy.xml, 'v2models/extension/path/to/local/data.xml?sap-client=foo&sap-server=bar');


			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 2);

			// model: "resourceBundle-name"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleName: "sap.ui.test.v2models.parent.i18n"
			});

			// model: "resourceBundle-legacy-uri"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleUrl: "v2models/parent/i18n.properties"
			});


			// sap.ui.test.v2models.parent.CustomModel
			sinon.assert.callCount(this.modelSpy.custom, 7);

			// model: "custom-uri-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-relative-string"
			sinon.assert.calledWithExactly(this.modelSpy.custom, 'v2models/parent/path/to/local/custom.datatype?sap-client=foo&sap-server=bar');

			// model: "custom-uri-string-with-settings"
			sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar', {
				foo: 'bar'
			});

			// model: "custom-without-args"
			sinon.assert.calledWithExactly(this.modelSpy.custom);

			// model: "custom-uri-setting-name"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				myUri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar'
			});

			// model: "custom-uri-setting-merge"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar',
				foo: 'bar'
			});

			// model: "custom-uri-setting-already-defined"
			sinon.assert.calledWithExactly(this.modelSpy.custom, {
				uri: 'foo'
			});


			// jQuery.sap.log.error
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: Missing \"type\" for model \"no-model-type\"", "[\"sap.ui5\"][\"models\"][\"no-model-type\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, sinon.match("Class \"sap.ui.not.defined.Model\" for model \"missing-model-class\" could not be loaded."), "[\"sap.ui5\"][\"models\"][\"missing-model-class\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: Class \"sap.ui.test.v2models.parent.ModelNotDefined\" for model \"model-not-found\" could not be found", "[\"sap.ui5\"][\"models\"][\"model-not-found\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: ODataAnnotation \"undefined\" for dataSource \"odata-invalid-annotations\" could not be found in manifest", "[\"sap.app\"][\"dataSources\"][\"undefined\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: Missing \"uri\" for ODataAnnotation \"annotation-without-uri\"", "[\"sap.app\"][\"dataSources\"][\"annotation-without-uri\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: dataSource \"json\" was expected to have type \"ODataAnnotation\" but was \"JSON\"", "[\"sap.app\"][\"dataSources\"][\"json\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: dataSource \"invalid\" for model \"dataSource-invalid\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"invalid\"]", this.oComponent.toString());
			sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: dataSource \"does-not-exist\" for model \"dataSource-not-found\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"does-not-exist\"]", this.oComponent.toString());


			// check if models are set on component (and save them internally)
			this.assertModelInstances({
				"": sap.ui.model.odata.v2.ODataModel,
				"default-with-annotations": sap.ui.model.odata.v2.ODataModel,
				"old-uri-syntax": sap.ui.model.odata.v2.ODataModel,
				"ODataModel": sap.ui.model.odata.ODataModel,
				"v2-ODataModel": sap.ui.model.odata.v2.ODataModel,
				"invalid-annotations": sap.ui.model.odata.v2.ODataModel,
				"json": sap.ui.model.json.JSONModel,
				"json-relative": sap.ui.model.json.JSONModel,
				"json-relative-2": sap.ui.model.json.JSONModel,
				"xml": sap.ui.model.xml.XMLModel,
				"xml-relative": sap.ui.model.xml.XMLModel,
				"resourceBundle-name": sap.ui.model.resource.ResourceModel,
				"resourceBundle-legacy-uri": sap.ui.model.resource.ResourceModel,
				"custom-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-relative-uri-string": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-string-with-settings": sap.ui.test.v2models.parent.CustomModel,
				"custom-without-args": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-name": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-merge": sap.ui.test.v2models.parent.CustomModel,
				"custom-uri-setting-already-defined": sap.ui.test.v2models.parent.CustomModel
			});

			// destroy the component
			this.oComponent.destroy();

			// check if all models got destroyed (uses the models from #assertModelInstances)
			this.assertModelsDestroyed();

			// check if internal models references were removed
			assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");

		});

		QUnit.test("metadata v2 without models", function(assert) {

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2empty"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 0);
			// sap.ui.model.odata.v2.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV2, 0);
			// sap.ui.model.json.JSONModel
			sinon.assert.callCount(this.modelSpy.json, 0);
			// sap.ui.model.xml.XMLModel
			sinon.assert.callCount(this.modelSpy.xml, 0);
			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 0);
			// sap.ui.test.v2models.CustomModel
			sinon.assert.callCount(this.modelSpy.custom, 0);

			assert.ok(!this.oComponent.getModel(), "Component should not have a model");
			assert.deepEqual(this.oComponent._mManifestModels, {}, "Component should not have internal model references");

			// destroy the component
			this.oComponent.destroy();

		});

		QUnit.test("metadata v1 with models", function(assert) {
			this.stubGetUriParameters();

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v1"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 1);

			// model: "sfapi"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/sap/opu/odata/snce/PO_S_SRV/',
				json: true
			});


			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 1);

			// model: "i18n"
			sinon.assert.calledWithExactly(this.modelSpy.resource, {
				bundleUrl: "v1/i18n/i18n.properties"
			});

			// check if models are set on component (and save them internally)
			this.assertModelInstances({
				"i18n": sap.ui.model.resource.ResourceModel,
				"sfapi": sap.ui.model.odata.ODataModel
			});

			// destroy the component
			this.oComponent.destroy();

			// check if all models got destroyed (uses the models from #assertModelInstances)
			this.assertModelsDestroyed();

			// check if internal models references were removed
			assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");

		});

		QUnit.test("metadata v1 without models", function(assert) {

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v1empty"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 0);
			// sap.ui.model.odata.v2.ODataModel
			sinon.assert.callCount(this.modelSpy.odataV2, 0);
			// sap.ui.model.json.JSONModel
			sinon.assert.callCount(this.modelSpy.json, 0);
			// sap.ui.model.xml.XMLModel
			sinon.assert.callCount(this.modelSpy.xml, 0);
			// sap.ui.model.resource.ResourceModel
			sinon.assert.callCount(this.modelSpy.resource, 0);
			// sap.ui.test.v2models.CustomModel
			sinon.assert.callCount(this.modelSpy.custom, 0);

			assert.ok(!this.oComponent.getModel(), "Component should not have a model");
			assert.deepEqual(this.oComponent._mManifestModels, {}, "Component should not have internal model references");

			// destroy the component
			this.oComponent.destroy();

		});

		QUnit.test("dynamic enhance of models and datasources", function(assert) {

			jQuery.sap.declare("sap.ui.test.v2local.Component");
			sap.ui.define(["sap/ui/core/UIComponent"], function(UIComponent) {

				var LocalComponent = UIComponent.extend("sap.ui.test.v2local.Component", {
					metadata : {
						manifest : {
							"sap.app": {
								"id": "sap.ui.test.v2local"
							}
						}
					}
				});

				LocalComponent.prototype._initComponentModels = function(mModels, mDataSources) {

					mModels = mModels || {};
					mDataSources = mDataSources || {};

					mModels["ODataModel"] = {
						"type": "sap.ui.model.odata.ODataModel",
						"dataSource": "OData",
						"settings": {
							"useBatch": false,
							"refreshAfterChange": false
						}
					};

					mDataSources["OData"] = {
						"uri": "/path/to/odata/service",
						"type": "OData",
						"settings": {
							"odataVersion": "2.0",
							"annotations": [ "annotations" ],
							"localMetaDataUri": "/path/to/local/metadata.xml"
						}
					};

					mDataSources["annotations"] = {
						"uri": "path/to/local/odata/annotations",
						"type": "ODataAnnotation"
					};

					UIComponent.prototype._initComponentModels.call(this, mModels, mDataSources);

				};

				return LocalComponent;

			});

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2local"
			});

			// sap.ui.model.odata.ODataModel
			sinon.assert.callCount(this.modelSpy.odata, 1);

			// model: "ODataModel"
			sinon.assert.calledWithExactly(this.modelSpy.odata, {
				serviceUrl: '/path/to/odata/service',
				annotationURI: [ 'v2local/path/to/local/odata/annotations' ],
				useBatch: false,
				refreshAfterChange: false,
				json: true
			});

			// check if models are set on component (and save them internally)
			this.assertModelInstances({
				"ODataModel": sap.ui.model.odata.ODataModel
			});

			// destroy the component
			this.oComponent.destroy();

		});

		QUnit.module("metadata v2 with dataSources (empty inheritance)", {
			beforeEach: function() {
				bindHelper.call(this);

				this.spyModels();
				this.stubGetUriParameters();
				this.oLogSpy = sinon.spy(jQuery.sap.log, "error");
			},
			afterEach: function() {
				this.restoreModels();
				this.restoreGetUriParameters();
				this.oLogSpy.restore();
			},
			assertAll: function(assert) {
				// sap.ui.model.odata.ODataModel
				sinon.assert.callCount(this.modelSpy.odata, 1);

				// model: "ODataModel"
				sinon.assert.calledWithExactly(this.modelSpy.odata, {
					serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
					annotationURI: [ '/path/to/odata/annotations/1', 'v2models/parent/path/to/local/odata/annotations/2' ],
					useBatch: false,
					refreshAfterChange: false,
					json: true
				});


				// sap.ui.model.odata.v2.ODataModel
				sinon.assert.callCount(this.modelSpy.odataV2, 6);

				// model: "default-with-annotations"
				sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
					serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar',
					annotationURI: [ 'v2models/parent/path/to/local/odata/annotations/2', '/path/to/odata/annotations/1' ],
					headers: { "Cache-Control": "max-age=500" }
				});

				// model: "old-uri-syntax"
				sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
					serviceUrl: '/path/to/odata/service'
				});

				// model: ""
				sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
					serviceUrl: '/path/to/default/datasource?sap-client=foo&sap-server=bar'
				});

				// model: "v2-ODataModel"
				sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
					serviceUrl: '/path/to/odata/service',
					useBatch: true,
					refreshAfterChange: true,
				});

				// model: "invalid-annotations"
				sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
					serviceUrl: '/path/to/odata/service?sap-client=foo&sap-server=bar',
					annotationURI: [ '/path/to/odata/annotations/1' ]
				});


				// sap.ui.model.json.JSONModel
				sinon.assert.callCount(this.modelSpy.json, 3);

				// model: "json"
				sinon.assert.calledWithExactly(this.modelSpy.json, '/path/to/data.json?sap-client=foo&sap-server=bar');

				// model: "json-relative"
				sinon.assert.calledWithExactly(this.modelSpy.json, 'v2models/parent/path/to/local/data.json?sap-client=foo&sap-server=bar');

				// model: "json-relative-2"
				sinon.assert.calledWithExactly(this.modelSpy.json, 'path/to/other/data.json?sap-client=foo&sap-server=bar');


				// sap.ui.model.xml.XMLModel
				sinon.assert.callCount(this.modelSpy.xml, 2);

				// model: "xml"
				sinon.assert.calledWithExactly(this.modelSpy.xml, '/path/to/data.xml?sap-client=foo&sap-server=bar');

				// model: "xml-relative"
				sinon.assert.calledWithExactly(this.modelSpy.xml, 'v2models/parent/path/to/local/data.xml?sap-client=foo&sap-server=bar');


				// sap.ui.model.resource.ResourceModel
				sinon.assert.callCount(this.modelSpy.resource, 2);

				// model: "resourceBundle-name"
				sinon.assert.calledWithExactly(this.modelSpy.resource, {
					bundleName: "sap.ui.test.v2models.parent.i18n"
				});

				// model: "resourceBundle-legacy-uri"
				sinon.assert.calledWithExactly(this.modelSpy.resource, {
					bundleUrl: "v2models/parent/i18n.properties"
				});


				// sap.ui.test.v2models.parent.CustomModel
				sinon.assert.callCount(this.modelSpy.custom, 7);

				// model: "custom-uri-string"
				sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar');

				// model: "custom-uri-relative-string"
				sinon.assert.calledWithExactly(this.modelSpy.custom, 'v2models/parent/path/to/local/custom.datatype?sap-client=foo&sap-server=bar');

				// model: "custom-uri-string-with-settings"
				sinon.assert.calledWithExactly(this.modelSpy.custom, '/path/to/custom.datatype?sap-client=foo&sap-server=bar', {
					foo: 'bar'
				});

				// model: "custom-without-args"
				sinon.assert.calledWithExactly(this.modelSpy.custom);

				// model: "custom-uri-setting-name"
				sinon.assert.calledWithExactly(this.modelSpy.custom, {
					myUri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar'
				});

				// model: "custom-uri-setting-merge"
				sinon.assert.calledWithExactly(this.modelSpy.custom, {
					uri: '/path/to/custom.datatype?sap-client=foo&sap-server=bar',
					foo: 'bar'
				});

				// model: "custom-uri-setting-already-defined"
				sinon.assert.calledWithExactly(this.modelSpy.custom, {
					uri: 'foo'
				});


				// jQuery.sap.log.error
				sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: Missing \"type\" for model \"no-model-type\"", "[\"sap.ui5\"][\"models\"][\"no-model-type\"]", this.oComponent.toString());
				sinon.assert.calledWithExactly(this.oLogSpy, sinon.match("Class \"sap.ui.not.defined.Model\" for model \"missing-model-class\" could not be loaded."), "[\"sap.ui5\"][\"models\"][\"missing-model-class\"]", this.oComponent.toString());
				sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: Class \"sap.ui.test.v2models.parent.ModelNotDefined\" for model \"model-not-found\" could not be found", "[\"sap.ui5\"][\"models\"][\"model-not-found\"]", this.oComponent.toString());
				sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: ODataAnnotation \"undefined\" for dataSource \"odata-invalid-annotations\" could not be found in manifest", "[\"sap.app\"][\"dataSources\"][\"undefined\"]", this.oComponent.toString());
				sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: Missing \"uri\" for ODataAnnotation \"annotation-without-uri\"", "[\"sap.app\"][\"dataSources\"][\"annotation-without-uri\"]", this.oComponent.toString());
				sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: dataSource \"json\" was expected to have type \"ODataAnnotation\" but was \"JSON\"", "[\"sap.app\"][\"dataSources\"][\"json\"]", this.oComponent.toString());
				sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: dataSource \"invalid\" for model \"dataSource-invalid\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"invalid\"]", this.oComponent.toString());
				sinon.assert.calledWithExactly(this.oLogSpy, "Component Manifest: dataSource \"does-not-exist\" for model \"dataSource-not-found\" not found or invalid", "[\"sap.app\"][\"dataSources\"][\"does-not-exist\"]", this.oComponent.toString());


				// check if models are set on component (and save them internally)
				this.assertModelInstances({
					"": sap.ui.model.odata.v2.ODataModel,
					"default-with-annotations": sap.ui.model.odata.v2.ODataModel,
					"old-uri-syntax": sap.ui.model.odata.v2.ODataModel,
					"ODataModel": sap.ui.model.odata.ODataModel,
					"v2-ODataModel": sap.ui.model.odata.v2.ODataModel,
					"invalid-annotations": sap.ui.model.odata.v2.ODataModel,
					"json": sap.ui.model.json.JSONModel,
					"json-relative": sap.ui.model.json.JSONModel,
					"json-relative-2": sap.ui.model.json.JSONModel,
					"xml": sap.ui.model.xml.XMLModel,
					"xml-relative": sap.ui.model.xml.XMLModel,
					"resourceBundle-name": sap.ui.model.resource.ResourceModel,
					"resourceBundle-legacy-uri": sap.ui.model.resource.ResourceModel,
					"custom-uri-string": sap.ui.test.v2models.parent.CustomModel,
					"custom-relative-uri-string": sap.ui.test.v2models.parent.CustomModel,
					"custom-uri-string-with-settings": sap.ui.test.v2models.parent.CustomModel,
					"custom-without-args": sap.ui.test.v2models.parent.CustomModel,
					"custom-uri-setting-name": sap.ui.test.v2models.parent.CustomModel,
					"custom-uri-setting-merge": sap.ui.test.v2models.parent.CustomModel,
					"custom-uri-setting-already-defined": sap.ui.test.v2models.parent.CustomModel
				});

				// destroy the component
				this.oComponent.destroy();

				// check if all models got destroyed (uses the models from #assertModelInstances)
				this.assertModelsDestroyed();

				// check if internal models references were removed
				assert.ok(!this.oComponent._mManifestModels, "Component should not have internal model references anymore");
			}
		});
		QUnit.test("Init component via name", function(assert) {

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2models.empty"
			});

			this.assertAll(assert);
		});
		QUnit.test("Init component via name and manifestFirst", function(assert) {

			this.oComponent = sap.ui.component({
				name: "sap.ui.test.v2models.empty",
				manifestFirst: true
			});

			this.assertAll(assert);
		});



		QUnit.module("Async component preload with manifest", {
			beforeEach: function() {
				bindHelper.apply(this);

				this.spyModels();

				jQuery.sap.registerModulePath("samples.components", "../../samples/components/");

				// enable async preloading
				this.oldCfgPreload = oRealCore.oConfiguration.preload;
				oRealCore.oConfiguration.preload = "async";

				//setup fake server
				var oManifest = this.oManifest = {
					"sap.app" : {
						"id" : "samples.components.button"
					},
					"sap.ui5": {
						"models": {
							"odata1": {
								"type": "sap.ui.model.odata.v2.ODataModel",
								"uri": "/path/to/odata/service1",
								"preload": true
							},
							"odata2": {
								"type": "sap.ui.model.odata.v2.ODataModel",
								"uri": "/path/to/odata/service2"
							},
							"json1": {
								"type": "sap.ui.model.json.JSONModel",
								"settings": {
									"data": {
										"foo": "bar"
									}
								},
								"preload": true
							},
							"json2": {
								"type": "sap.ui.model.json.JSONModel",
								"settings": {
									"data": {
										"bar": "foo"
									}
								}
							},
							"i18n1": {
								"type": "sap.ui.model.resource.ResourceModel",
								"uri": "./i18n.properties",
								"preload": true,
								"settings": {
									"async": true
								}
							},
							"i18n2": {
								"type": "sap.ui.model.resource.ResourceModel",
								"uri": "./i18n.properties"
							},

							// This model should not get preloaded as the class is not declared.
							// When creating the model on component init an error should get logged
							// but all other models should still be created
							"class-not-loaded": {
								"type": "sap.ui.sample.model.MyModel",
								"preload": true
							}

						}
					}
				};

				var oServer = this.oServer = sinon.sandbox.useFakeServer();

				oServer.xhr.useFilters = true;
				oServer.xhr.filters = [];
				oServer.xhr.addFilter(function(method, url) {
					return ("/anylocation/manifest.json" !== url && !/should\/cause\/an\/error\/library-preload\.json$/.test(url));
				});

				oServer.autoRespond = true;
				oServer.respondWith("GET", "/anylocation/manifest.json", [
					200,
					{
						"Content-Type": "application/json"
					},
					JSON.stringify(oManifest)
				]);
				oServer.respondWith("GET", /should\/cause\/an\/error\/library-preload\.json$/, [
					404,
					{
						"Content-Type": "text/plain"
					},
					"Not found"
				]);
			},
			afterEach: function() {
				this.restoreModels();
				this.oServer.restore();
				oRealCore.oConfiguration.preload = this.oldCfgPreload;
			}
		});

		QUnit.test("Early model instantiation", function(assert) {
			return sap.ui.component({
				manifestUrl: "/anylocation/manifest.json",
				async: true,
				asyncHints: {
					waitFor: new Promise(function(resolve, reject) {
						setTimeout(function() {

							// OData / JSON Models should be created before the Component instance
							// Resource Model should only be created on component init

							// sap.ui.model.odata.v2.ODataModel
							sinon.assert.callCount(this.modelSpy.odataV2, 1);
							// model: "odata"
							sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
								serviceUrl: "/path/to/odata/service1"
							});

							// sap.ui.model.json.JSONModel
							sinon.assert.callCount(this.modelSpy.json, 1);
							// model: "json"
							sinon.assert.calledWithExactly(this.modelSpy.json, {
								data: {
									foo: "bar"
								}
							});

							// sap.ui.model.resource.ResourceModel
							sinon.assert.callCount(this.modelSpy.resource, 1);

							resolve();

						}.bind(this), 1000);
					}.bind(this))
				}
			}).then(function(oComponent) {
				this.oComponent = oComponent;

				// Should be called twice now (2nd model created)
				// sap.ui.model.odata.v2.ODataModel
				sinon.assert.callCount(this.modelSpy.odataV2, 2);

				// Should be called twice now (2nd model created)
				// sap.ui.model.json.JSONModel
				sinon.assert.callCount(this.modelSpy.json, 2);

				// Resource Model should be now created
				// sap.ui.model.resource.ResourceModel
				sinon.assert.callCount(this.modelSpy.resource, 2);

				assert.ok(this.oComponent.getMetadata() instanceof sap.ui.core.UIComponentMetadata, "The metadata is instance of UIComponentMetadata");
				assert.ok(this.oComponent.getManifest(), "Manifest is available");
				assert.deepEqual(this.oComponent.getManifest(), this.oManifest, "Manifest matches the manifest behind manifestUrl");

				this.assertModelInstances({
					"odata1": sap.ui.model.odata.v2.ODataModel,
					"odata2": sap.ui.model.odata.v2.ODataModel,
					"json1": sap.ui.model.json.JSONModel,
					"json2": sap.ui.model.json.JSONModel,
					"i18n1": sap.ui.model.resource.ResourceModel,
					"i18n2": sap.ui.model.resource.ResourceModel
				});

				// destroy the component
				this.oComponent.destroy();

				// check if all models got destroyed (uses the models from #assertModelInstances)
				this.assertModelsDestroyed();

			}.bind(this));
		});

		QUnit.test("Early model instantiation (with startupParameters)", function(assert) {
			return sap.ui.component({
				manifestUrl: "/anylocation/manifest.json",
				async: true,
				asyncHints: {
					waitFor: new Promise(function(resolve, reject) {
						setTimeout(function() {

							// OData / JSON Models should be created before the Component instance
							// Resource Model should only be created on component init

							// sap.ui.model.odata.v2.ODataModel
							sinon.assert.callCount(this.modelSpy.odataV2, 1);
							// model: "odata"
							sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
								serviceUrl: "/path/to/odata/service1;o=XXX"
							});

							// sap.ui.model.json.JSONModel
							sinon.assert.callCount(this.modelSpy.json, 1);
							// model: "json"
							sinon.assert.calledWithExactly(this.modelSpy.json, {
								data: {
									foo: "bar"
								}
							});

							// sap.ui.model.resource.ResourceModel
							sinon.assert.callCount(this.modelSpy.resource, 1);

							resolve();

						}.bind(this), 1000);
					}.bind(this))
				},
				componentData: {
					startupParameters: {
						"sap-system": ["XXX"]
					}
				}
			}).then(function(oComponent) {
				this.oComponent = oComponent;

				// Still only called once
				// sap.ui.model.odata.v2.ODataModel
				sinon.assert.callCount(this.modelSpy.odataV2, 2);

				assert.ok(this.oComponent.getMetadata() instanceof sap.ui.core.UIComponentMetadata, "The metadata is instance of UIComponentMetadata");
				assert.ok(this.oComponent.getManifest(), "Manifest is available");
				assert.deepEqual(this.oComponent.getManifest(), this.oManifest, "Manifest matches the manifest behind manifestUrl");

				this.assertModelInstances({
					"odata1": sap.ui.model.odata.v2.ODataModel,
					"odata2": sap.ui.model.odata.v2.ODataModel
				});

				// destroy the component
				this.oComponent.destroy();

				// check if all models got destroyed (uses the models from #assertModelInstances)
				this.assertModelsDestroyed();

			}.bind(this));
		});

		QUnit.test("No early model instantiation (sap.ui.component.load)", function(assert) {
			return sap.ui.component.load({
				manifestUrl: "/anylocation/manifest.json",
				async: true
			}).then(function(ComponentClass) {

				assert.equal(ComponentClass.getMetadata().getComponentName(), "samples.components.button", "Component class should been loaded");
				assert.notOk(ComponentClass instanceof sap.ui.core.Component, "sap.ui.component.load should not create an instance");

				// No models should have been created!

				// sap.ui.model.odata.v2.ODataModel
				sinon.assert.callCount(this.modelSpy.odataV2, 0);
				// sap.ui.model.json.JSONModel
				sinon.assert.callCount(this.modelSpy.json, 0);
				// sap.ui.model.resource.ResourceModel
				sinon.assert.callCount(this.modelSpy.resource, 0);

			}.bind(this));
		});

		QUnit.test("Early model instantiation: error handling 'asyncHints.libs'", function(assert) {
			return sap.ui.component({
				manifestUrl: "/anylocation/manifest.json",
				async: true,
				asyncHints: {
					libs: ["should.cause.an.error"]
				}
			}).then(function(oComponent) {

				assert.ok(false, "Component Promise should not get resolved.");

			}, function(vError) {

				assert.ok(vError && vError.message && vError.message.indexOf("failed to preload libraries") === 0,
					"Component Promise should get rejected with library preloading issue.");

				// Models with preload flag should be created

				// sap.ui.model.odata.v2.ODataModel
				sinon.assert.callCount(this.modelSpy.odataV2, 1);
				// model: "odata"
				sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
					serviceUrl: "/path/to/odata/service1"
				});

				var oODataModel = this.modelSpy.odataV2.getCall(0).returnValue;
				assert.ok(oODataModel.bDestroyed, "ODataModel should have been destroyed.");

				// sap.ui.model.json.JSONModel
				sinon.assert.callCount(this.modelSpy.json, 1);
				// model: "json"
				sinon.assert.calledWithExactly(this.modelSpy.json, {
					data: {
						foo: "bar"
					}
				});

				var oJSONModel = this.modelSpy.json.getCall(0).returnValue;
				assert.ok(oJSONModel.bDestroyed, "JSONModel should have been destroyed.");

				// sap.ui.model.resource.ResourceModel
				sinon.assert.callCount(this.modelSpy.resource, 1);

				var oResourceModel = this.modelSpy.resource.getCall(0).returnValue;
				assert.ok(oResourceModel.bDestroyed, "ResourceModel should have been destroyed.");

			}.bind(this));
		});

		QUnit.test("Early model instantiation: error handling 'asyncHints.waitFor'", function(assert) {
			return sap.ui.component({
				manifestUrl: "/anylocation/manifest.json",
				async: true,
				asyncHints: {
					waitFor: new Promise(function(resolve, reject) {
						setTimeout(function() {
							reject("waitFor: rejected");
						}, 1000);
					})
				}
			}).then(function(oComponent) {

				assert.ok(false, "Component Promise should not get resolved.");

			}, function(vError) {

				assert.equal(vError, "waitFor: rejected", "Component Promise should get rejected.");

				// Models with preload flag should be created

				// sap.ui.model.odata.v2.ODataModel
				sinon.assert.callCount(this.modelSpy.odataV2, 1);
				// model: "odata"
				sinon.assert.calledWithExactly(this.modelSpy.odataV2, {
					serviceUrl: "/path/to/odata/service1"
				});

				var oODataModel = this.modelSpy.odataV2.getCall(0).returnValue;
				assert.ok(oODataModel.bDestroyed, "ODataModel should have been destroyed.");

				// sap.ui.model.json.JSONModel
				sinon.assert.callCount(this.modelSpy.json, 1);
				// model: "json"
				sinon.assert.calledWithExactly(this.modelSpy.json, {
					data: {
						foo: "bar"
					}
				});

				var oJSONModel = this.modelSpy.json.getCall(0).returnValue;
				assert.ok(oJSONModel.bDestroyed, "JSONModel should have been destroyed.");

				// sap.ui.model.resource.ResourceModel
				sinon.assert.callCount(this.modelSpy.resource, 1);

				var oResourceModel = this.modelSpy.resource.getCall(0).returnValue;
				assert.ok(oResourceModel.bDestroyed, "ResourceModel should have been destroyed.");

			}.bind(this));
		});

	});

	</script>
	</head>
	<body><h1 id="qunit-header">QUnit tests: Component Models</h1>
		<h2 id="qunit-banner"></h2>
		<h2 id="qunit-userAgent"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<ol id="qunit-tests"></ol>
	</body>
</html>
