/* ============================================= */
/* CSS for support performance statistics                  */
/* ============================================= */

.sapUiInteractionTreeContainer {
	position: relative;
}

.sapUiInteractionTree {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sapUiInteractionTree ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sapUiInteractionTreeItem {
	box-sizing: border-box;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.sapUiInteractionTreeItemLeft {
	width: 320px;
	box-sizing: border-box;
	border-right: 1px solid #e5e5e5;
	background-color: #fafafa;
}

.sapUiInteractionTreeItemLeft div {
	display: inline-block;
}

.sapUiInteractionTreeItemRight {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex: 1 1;
	flex-grow: 1;

	box-sizing: border-box;
	border-right: 1px solid #e5e5e5;
}

.sapUiInteractionItemComponentText {
	color: #000;
	font-size: 12px;
}

.sapUiInteractionItemTriggerText {
	color: #666;
	font-size: 11px;
}

.sapUiHiddenUiInteractionItems {
	display: none;
}

.sapUiIcon.sapUiInteractionTreeIcon {
	cursor: pointer;
	display: inline-block;
	color: #666;
	float: right;
	padding: 0.6125rem;
	height: 1rem;
	width: 1rem;
}

.sapUiInteractionItemDiv {
	border-top: 1px solid #bfbfbf;
}

.sapUiInteractionRequestLeft {
	box-sizing: border-box;
}

.sapUiInteractionTimeframe {
	background-color: #007cc0;
	display: inline-block;
	min-width: 1px;
}

.sapUiInteractionTimeInteractionFrame {
	height: 1rem;
	margin: 0.5rem 0;
}

.sapUiInteractionTimeframe.sapUiInteractionTimeRequestFrame {
	margin-top: 0.2rem;
	height: 0.8rem;
	position: absolute;
	left: 0;
	top: 0;
}

.sapUiInteractionRequestIcon {
	margin: 0.125rem;
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 100%;
}

.sapUiBlue {
	background-color: #007cc0;
}

.sapUiPurple {
	background-color: #ab218e;
}

.sapUiRed {
	background-color: #e52929;
}

.sapUiBlue70 {
	background-color: rgba(0, 124, 192, 0.7);
}

.sapUiPurple70 {
	background-color: rgba(171, 33, 142, 0.7);
}

.sapUiRed70 {
	background-color: rgba(229, 41, 41, 0.7);
}

.sapUiInteractionRequest {

}

.sapUiInteractionHeader {
	height: 2.5rem;
}

.sapUiInteractionGridLinesContainer {
	background-color: white;
	position: absolute;
	left: 20rem;
	top: 0;
	right: 0;
	bottom: 0;
}

.sapUiInteractionGridLine {
	background-color: #f2f2f2;
	position: absolute;
	width: 1px;
	height: 100%;
}

.sapUiInteractionGridLineIntervalText {
	position: absolute;
	top: 0.5rem;
	color: #666;
}