/* =============================================== */
/* CSS for control sap.ui.rta/ChangeVisualization  */
/* Horizon High Contrast White theme               */
/* =============================================== */

@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorLight: @sapUiContentFocusColor	;
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorMedium: @sapUiContentFocusColor;
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark: @sapUiContentFocusColor;

.sapUiRtaChangeIndicatorColorLight{
	opacity: 0.4;
}

.sapUiRtaChangeIndicatorColorMedium{
	opacity: 0.6;
}

.sapUiRtaChangeIndicatorColorDark{
	opacity: 0.85;
}