/******************************************************************
	Style of the RTA Overlays - Horizon High Contrast White theme
*******************************************************************/
@_sap_ui_rta_Overlay_ResizeHandleColor: darken(@sapUiSelected, 25%); //#004adc
@_sap_ui_rta_Overlay_PlaceholderBackgroundColor: @sapUiContentImagePlaceholderBackground; //#fff

.sapUiRta {
	.sapUiDtOverlayDropZone {
		> .sapUiDtOverlayChildren {
			> .sapUiRtaOverlayPlaceholder {
				background: @_sap_ui_rta_Overlay_PlaceholderBackgroundColor !important;
				// no "focus" border
				&:focus {
					&:before {
						content: none;
					}
				}

				// all descendants
				* {
					background: @_sap_ui_rta_Overlay_PlaceholderBackgroundColor;
					// no "focus" border
					&:focus {
						&:before {
							content: none;
						}
					}
				}
			}
		}
	}
}