<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

	<display-name>testsuite</display-name>

	<filter>
		<filter-name>CacheControlFilter</filter-name>
		<filter-class>com.sap.openui5.CacheControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>com.sap.openui5.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ConcatFilter</filter-name>
		<filter-class>com.sap.openui5.ConcatFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ConcatFilter</filter-name>
		<url-pattern>/resources/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>LessFilter</filter-name>
		<filter-class>com.sap.openui5.LessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LessFilter</filter-name>
		<url-pattern>/resources/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.sap.openui5.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/test-resources/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DiscoveryServlet</servlet-name>
		<servlet-class>com.sap.openui5.DiscoveryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiscoveryServlet</servlet-name>
		<url-pattern>/discovery/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProxyServlet</servlet-name>
		<servlet-class>com.sap.openui5.SimpleProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

<!--SimpleProxyServlet  NOT WORKING SO FAR
	because of missing SimpleProxyServlet library in openUI5 testsuite
	<servlet>
		<servlet-name>SimpleProxyServlet</servlet-name>
		<servlet-class>com.sap.ui5.proxy.SimpleProxyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SimpleProxyServlet</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
	</servlet-mapping>

	<context-param>
		this configuration will done in the tomcat server configuration
		e.g. -Dcom.sap.ui5.proxy.REMOTE_LOCATION="..."
		<param-name>com.sap.ui5.proxy.REMOTE_LOCATION</param-name>
		<param-value>http://dewdflhanaui5.emea.global.corp.sap:8001</param-value>
	</context-param>
-->

</web-app>
