<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

	<display-name>testsuite</display-name>

	<filter>
		<filter-name>CacheControlFilter</filter-name>
		<filter-class>com.sap.openui5.CacheControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>com.sap.openui5.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ConcatFilter</filter-name>
		<filter-class>com.sap.openui5.ConcatFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ConcatFilter</filter-name>
		<url-pattern>/resources/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>LessFilter</filter-name>
		<filter-class>com.sap.openui5.LessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LessFilter</filter-name>
		<url-pattern>/resources/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.sap.openui5.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/test-resources/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DiscoveryServlet</servlet-name>
		<servlet-class>com.sap.openui5.DiscoveryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiscoveryServlet</servlet-name>
		<url-pattern>/discovery/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProxyServlet</servlet-name>
		<servlet-class>com.sap.openui5.SimpleProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
