<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{TITLE}}</title>

	<script id="sap-ui-bootstrap"
		src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"
		data-sap-ui-libs="sap.m"
		data-sap-ui-theme="sap_fiori_3"
		data-sap-ui-resourceroots='{
			"{{SAMPLE_ID}}": "./",
			"sap.ui.demo.mock": "mockdata"
		}'
		data-sap-ui-compatVersion="edge"
		data-sap-ui-async="true"
		data-sap-ui-frameOptions="trusted">
	</script>
	<script src="index.js"></script>

	<style>
		html, body { height: 100%; }
	</style>
</head>

<body class="sapUiBody sapUiSizeCozy" id="content">
</body>
</html>
