<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{TITLE}}</title>

	<script id="sap-ui-bootstrap"
		src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"
		data-sap-ui-theme="sap_fiori_3"
		data-sap-ui-resourceroots='{
			"{{SAMPLE_ID}}": "./",
			"sap.ui.demo.mock": "mockdata"
		}'
		data-sap-ui-compatVersion="edge"
		data-sap-ui-async="true"
		data-sap-ui-frameOptions="trusted"
		data-sap-ui-oninit="module:sap/ui/core/ComponentSupport">
	</script>

	<style>
		html, body { height: 100%; }
	</style>
</head>

<body class="sapUiBody sapUiSizeCozy" id="content">
	<div data-sap-ui-component
		data-name="{{SAMPLE_ID}}"
		data-height="100%"
		data-id="container"
		data-settings='{"id" : "{{SAMPLE_ID}}"}'
		style="height: 100%">
	</div>
</body>
</html>