{
	"name": "{{SAMPLE_ID}}",
	"version": "1.0.0",
	"author": "SAP SE",
	"description": "{{TITLE}}",
	"scripts": {
		"start": "ui5 serve",
		"build": "ui5 build"
	},
	"dependencies": {
		"@openui5/themelib_sap_fiori_3" : "^1"
	},
	"devDependencies": {
		"@ui5/cli": "^2.0.0"
	}
}