.sapUiBody#content {
	padding-left: 0; /* overrides the padding of demokit */
}

#CompactModeLabel, #RTLLabel {
	padding-top: 1rem;
}

.sapUiSizeCompact #CompactModeLabel, .sapUiSizeCompact #RTLLabel {
	padding-top: 0.5rem;
}

html[dir="rtl"] #CompactModeButtons, html[dir="rtl"] #RTLButtons {
	float: left;
	left: 0.125rem;
}

#CompactModeButtons, #RTLButtons {
	float: right;
	left: -0.125rem;
}

/* Public, For Samples */

.sapUiExploredWarning {
	padding : 1rem;
	color : red;
	border: 1px red solid;
	background : white;
	display: block;	/* because of the margin */
}

.sapUiExploredInfo {
	display: block;
	background: #f2f8fc;
	border: 1px solid #ddd;
	margin : 2rem 0.25rem 0.25rem 0.25rem;
	padding : 0.5rem 1rem;
	color: #666;
	line-height: 1rem;
}

.sapUiExploredNoMarginInfo {
	display: block;
	background: #f2f8fc;
	border: 1px solid #ddd;
	padding : 0.5rem 1rem;
	color: #666;
	line-height: 1rem;
}

.sapUiExploredNoMarginInfo:before,
.sapUiExploredInfo:before {
	display: inline-block;
	font-family: "SAP-icons";
	vertical-align: middle;
	font-size: 1rem;
	content:"\e047";
	color: #666666;
	width: 1.5rem;
}

pre.sapUiCodeViewer.sapUiExploredCodeViewer {
	background-color: white;
	word-wrap: break-word;
	white-space: pre-wrap; /*for firefox*/
}

/* explored entity view */

.sapMOH[data-deprecated^="true"] .sapMText.sapMOHTitle {
	text-decoration: line-through;
}

.sapMListTbl .entitySampleName.sapMText  {
	font-weight: bold;
}
.sapMListTbl .docuKey.sapMText  {
	font-style: italic;
}
.sapMListTbl .docuKey.sapMText[data-deprecated^="true"]  {
	text-decoration: line-through;
}
.sapMListTbl .docuParam.sapMText  {
	font-style: italic;
}

/* explored code view */

pre {
	margin-top: 0;
}
code {
	font-family: Consolas, Courier, monospace;
	font-size: 0.85em;
}

.nameTitle {
	font-weight: bold;
}

#sampleFrame {
	width : 100%;
	height : 100%;
}

/* util */

.fs0875 {
	font-size: 0.875rem;
}
