/* ============================================== */
/* CSS for control sap.ui.commons/ValueHelpField  */
/* Belize theme                                   */
/* ============================================== */

.sapUiTfCombo {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
}

/* textField icon */
.sapUiTfCombo > .sapUiTfValueHelpIcon {
	height: 16px;
	padding: 2px;
	width: 16px;
}

/* textField icon */
.sapUiTfCombo > .sapUiTfValueHelpRegularIcon:hover,
.sapUiTfCombo > span.sapUiTfValueHelpIcon:hover {
	background-color: @sapUiFieldHoverHelpBackground;
	color: @sapUiContentContrastTextColor; // @sapUiTextInverted = #ffffff
}

.sapUiTfCombo.sapUiTfDsbl > span.sapUiTfValueHelpIcon:hover {
	background-color: transparent;
	color: @sapUiButtonHoverTextColor; // @sapUiDarkText = #333333
}

.sapUiTfRo.sapUiTfCombo > .sapUiTfValueHelpIcon {
	visibility: hidden;
}

/* ================= */
/* Alignment in Form */
/* ================= */

/* GridLayout */
html[data-sap-ui-browser="ie9"] .sapUiGrid td > .sapUiTfBrd > .sapUiTfValueHelpIcon,
html[data-sap-ui-browser="ie10"] .sapUiGrid td > .sapUiTfBrd > .sapUiTfValueHelpIcon{
	top: 0; /* because of padding-top the icon must be moved */
}
