<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Test page for sap.ui.layout.AlignedFlowLayout</title>
		<script id="sap-ui-bootstrap"
				src="../../../../../resources/sap-ui-core.js"
				data-sap-ui-noConflict="true"
				data-sap-ui-libs="sap.m, sap.ui.layout"
				data-sap-ui-compatVersion="edge"
				data-sap-ui-theme="sap_belize">
		</script>
		<link rel="stylesheet" href="../../../../../resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen">
		<script src="../../../../../resources/sap/ui/thirdparty/qunit.js"></script>
		<script src="../../../../../resources/sap/ui/qunit/qunit-junit.js"></script>
		<script src="../../../../../resources/sap/ui/qunit/qunit-coverage.js"></script>
		<script src="../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>
		<script src="../../../../../resources/sap/ui/thirdparty/sinon.js"></script>
		<script src="../../../../../resources/sap/ui/thirdparty/sinon-qunit.js"></script>
		<script src="AlignedFlowLayout.qunit.js"></script>
		<style type="text/css">
			.sapUiAFLayoutWithPadding {
				padding: 30px;
			}
		</style>
	</head>
	<body id="body" class="sapUiBody">
		<div id="content" class="content"></div>
		<h1 id="qunit-header">QUnit tests: sap.ui.layout.AlignedFlowLayout</h1>
		<h2 id="qunit-banner"></h2>
		<h2 id="qunit-userAgent"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<ol id="qunit-tests"></ol>
	</body>
</html>