<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Dynamic Side Content - sap.ui.layout</title>

		<script id="sap-ui-bootstrap"
			type="text/javascript"
			src="../../../../../resources/sap-ui-core.js"
			data-sap-ui-theme="sap_bluecrystal"
			data-sap-ui-noConflict="true"
			data-sap-ui-libs="sap.ui.layout, sap.m" >
		</script>
		<link rel="stylesheet" href="../../../../../resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen" />

		<script type="text/javascript" src="../../../../../resources/sap/ui/thirdparty/qunit.js"></script>
		<script type="text/javascript" src="../../../../../resources/sap/ui/qunit/qunit-junit.js"></script>
		<script type="text/javascript" src="../../../../../resources/sap/ui/thirdparty/sinon.js"></script>
		<script type="text/javascript" src="../../../../../resources/sap/ui/thirdparty/sinon-qunit.js"></script>
		<script type="text/javascript" src="../../../../../resources/sap/ui/qunit/qunit-coverage.js"></script>
		<script type="text/javascript" src="../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>

		<script>
			(function ($) {

				jQuery.sap.require("sap.ui.layout.DynamicSideContent");

				var	S = "S",
					M = "M",
					L = "L",
					XL = "XL",
					SPAN_SIZE_3 = 3,
					SPAN_SIZE_4 = 4,
					SPAN_SIZE_6 = 6,
					SPAN_SIZE_8 = 8,
					SPAN_SIZE_9 = 9,
					SPAN_SIZE_12 = 12,
					INVALID_BREAKPOINT_ERROR_MSG = "Invalid Breakpoint. Expected: S, M, L or XL",
					SIDE_CONTENT_LABEL = "SIDE_CONTENT_LABEL";

				QUnit.module("Public API", {
					setup : function () {
						this.oDSC = new sap.ui.layout.DynamicSideContent();
						this.oDSC.placeAt("qunit-fixture");
						sap.ui.getCore().applyChanges();
					},
					teardown : function () {
						this.oDSC.destroy();
						this.oDSC = null;
					}
				});

				QUnit.test("Default values",function(assert){
					assert.strictEqual(this.oDSC.getShowSideContent(), true, "'showSideContent' property default value should be 'true'");
					assert.strictEqual(this.oDSC.getShowMainContent(), true, "'showMainContent' property default value should be 'true'");
					assert.strictEqual(this.oDSC.getSideContentVisibility(), sap.ui.layout.SideContentVisibility.ShowAboveS, "'showMainContent' property default value should be 'ShowAboveS'");
					assert.strictEqual(this.oDSC.getSideContentFallDown(), sap.ui.layout.SideContentFallDown.OnMinimumWidth, "'showMainContent' property default value should be 'onMinimumWidth'");
					assert.strictEqual(this.oDSC.getEqualSplit(), false, "'equalSplit' property default value should be false");
					assert.strictEqual(this.oDSC.getContainerQuery(), false, "'containerQuery' property default value should be false");
				});

				QUnit.test("'ShowSideContent' property is set correctly",function(assert){
					var bSuppressVisualUpdate = false;
					sinon.spy(this.oDSC, "_changeGridState");

					this.oDSC.setShowSideContent(false, bSuppressVisualUpdate);
					assert.strictEqual(this.oDSC.getShowSideContent(), false, "'showSideContent' property is set to false");
					assert.ok(this.oDSC._changeGridState.calledOnce, "_changeGridState is called when side content is not visible");

					this.oDSC._changeGridState.restore();

					sinon.spy(this.oDSC, "_changeGridState");

					this.oDSC.setShowSideContent(true, bSuppressVisualUpdate);
					assert.strictEqual(this.oDSC.getShowSideContent(), true, "'showSideContent' property is set to true");
					assert.ok(this.oDSC._changeGridState.calledOnce, "_changeGridState is called when side content is visible and suppressVisualUpdate is false");

					this.oDSC._changeGridState.restore();

					sinon.spy(this.oDSC, "_changeGridState");
					bSuppressVisualUpdate = true;
					this.oDSC.setShowSideContent(false, bSuppressVisualUpdate);
					assert.ok(!this.oDSC._changeGridState.calledOnce, "_changeGridState is not called when suppressVisualUpdate is true");
					this.oDSC._changeGridState.restore();
				});

				QUnit.test("'ShowMainContent' property is set correctly",function(assert){
					var bSuppressInvalidate = false;

					sinon.spy(this.oDSC, "_changeGridState");

					this.oDSC.setShowMainContent(false, bSuppressInvalidate);
					assert.strictEqual(this.oDSC.getShowMainContent(), false, "'showMainContent' property is set to false");
					assert.ok(this.oDSC._changeGridState.calledOnce, "_changeGridState is called when main content is not visible");

					this.oDSC._changeGridState.restore();

					sinon.spy(this.oDSC, "_changeGridState");

					bSuppressInvalidate = true;
					this.oDSC.setShowMainContent(true, bSuppressInvalidate);
					assert.ok(!this.oDSC._changeGridState.calledOnce, "_changeGridState is not called when suppressVisualUpdate is true");

					this.oDSC._changeGridState.restore();

					sinon.spy(this.oDSC, "_changeGridState");

					bSuppressInvalidate = false;
					this.oDSC.setShowMainContent(true, bSuppressInvalidate);
					assert.strictEqual(this.oDSC.getShowMainContent(), true, "'showMainContent' property is set to true");
					assert.ok(this.oDSC._changeGridState.calledOnce, "_changeGridState is called when main content is visible and suppressVisualUpdate is false");

					this.oDSC._changeGridState.restore();
				});

				QUnit.test("'EqualSplit' property is set correctly",function(assert){
					sinon.spy(this.oDSC, "_setResizeData");
					sinon.spy(this.oDSC, "_changeGridState");

					this.oDSC.setEqualSplit(true);
					assert.strictEqual(this.oDSC.getEqualSplit(), true, "'equalSplit' property is set to true");
					assert.strictEqual(this.oDSC.getShowSideContent(), true, "Side content should be visible");
					assert.strictEqual(this.oDSC.getShowMainContent(), true, "Main content should be visible");

					this.oDSC._currentBreakpoint = XL;
					assert.ok(this.oDSC._setResizeData.calledOnce, "_setResizeData is called");
					assert.ok(this.oDSC._changeGridState.calledOnce, "_changeGridState is called");

					this.oDSC._setResizeData.restore();
					this.oDSC._changeGridState.restore();

					sinon.spy(this.oDSC, "_setResizeData");
					sinon.spy(this.oDSC, "_changeGridState");

					this.oDSC._currentBreakpoint = null;
					this.oDSC.setEqualSplit(false);
					assert.ok(!this.oDSC._setResizeData.calledOnce, "_setResizeData is not called when no breakpoint is set");
					assert.ok(!this.oDSC._changeGridState.calledOnce, "_changeGridState is not called when no breakpoint is set");

					this.oDSC._setResizeData.restore();
					this.oDSC._changeGridState.restore();
				});

				QUnit.test("'SideContent' aggregation is set correctly",function(assert){
					var oButton = new sap.m.Button("button1");

					sinon.spy(this.oDSC, "_rerenderControl");

					this.oDSC.addSideContent(oButton);
					assert.strictEqual(this.oDSC.getSideContent()[0], oButton, "'SideContent' aggregation is set with button1");
					assert.ok(this.oDSC._rerenderControl.calledOnce, "_rerenderControl is called");

					this.oDSC._rerenderControl.restore();
					oButton.destroy();
					oButton = null;
				});

				QUnit.test("'MainContent' aggregation is set correctly",function(assert){
					var oButton = new sap.m.Button("button1");

					sinon.spy(this.oDSC, "_rerenderControl");

					this.oDSC.addMainContent(oButton);
					assert.strictEqual(this.oDSC.getMainContent()[0], oButton, "'MainContent' aggregation is set with button1");
					assert.ok(this.oDSC._rerenderControl.calledOnce, "_rerenderControl is called");

					this.oDSC._rerenderControl.restore();
					oButton.destroy();
					oButton = null;
				});

				QUnit.test("'Toggle' button functionality",function(assert){
					// 1
					sinon.spy(this.oDSC, "_changeGridState");
					this.oDSC.setEqualSplit(true);
					this.oDSC._currentBreakpoint = S;
					this.oDSC.setShowMainContent(true);
					this.oDSC.setShowSideContent(false);

					this.oDSC.toggle();

					assert.ok(
						this.oDSC._changeGridState.called,
						"_changeGridState is called only when EqualSplit mode is true and current breakpoint is 'S'"
					);

					assert.strictEqual(this.oDSC.getShowMainContent(), false, "'showMainContent' property is 'false'");
					assert.strictEqual(this.oDSC.getShowSideContent(), true, "'showSideContent' property is 'true'");

					this.oDSC.setShowMainContent(false);
					this.oDSC.setShowSideContent(true);

					this.oDSC.toggle();

					assert.strictEqual(this.oDSC.getShowMainContent(), true, "'showMainContent' property is 'true'");
					assert.strictEqual(this.oDSC.getShowSideContent(), false, "'showSideContent' property is 'false'");

					this.oDSC._changeGridState.restore();

					// 2
					sinon.spy(this.oDSC, "_changeGridState");

					this.oDSC.setEqualSplit(false);
					this.oDSC._currentBreakpoint = M;

					assert.ok(!this.oDSC._rerenderControl.calledOnce, "_changeGridState is not called when EqualSplit mode is false");

					this.oDSC._changeGridState.restore();

					// 3
					sinon.spy(this.oDSC, "_changeGridState");

					this.oDSC.setEqualSplit(true);
					this.oDSC._currentBreakpoint = M;

					assert.ok(!this.oDSC._rerenderControl.calledOnce, "_changeGridState is not called when current breakpoint is different than 'S'");

					this.oDSC._changeGridState.restore();
				});

				QUnit.module("Helper functionality", {
					setup : function () {
						this.oDSC = new sap.ui.layout.DynamicSideContent();
						this.oDSC.placeAt("qunit-fixture");
						$("#qunit-fixture").width(500);
						sap.ui.getCore().applyChanges();
					},
					teardown : function () {
						this.oDSC.destroy();
						this.oDSC = null;
					},
					assertOnSideContentVisibility : function(sBreakpoint, sideContentVisibility, bExpectedResult, bIsInComparisonMode) {
						this.oDSC.setSideContentVisibility(sideContentVisibility);
						this.oDSC._setResizeData(sBreakpoint, bIsInComparisonMode);

						strictEqual(
								this.oDSC.getShowSideContent(),
								bExpectedResult,
								"Side content is hidden on " + "'" + sBreakpoint + "'" + " breakpoint when 'SideContentVisibility' property it set to " + sideContentVisibility
						);
					},
					assertOnMainContentVisibility : function(sBreakpoint, bExpectedResult, bIsInComparisonMode) {
						this.oDSC._setResizeData(sBreakpoint, bIsInComparisonMode);

						strictEqual(
								this.oDSC.getShowMainContent(),
								bExpectedResult,
								"Main content is hidden on " + "'" + sBreakpoint + "'"
						);
					},
					assertOnContentSpanSize : function(sContentName, sSpanPropertyName, sBreakpoint, sideContentFallDown, bExpectedResult, bIsInComparisonMode) {
						this.oDSC.setSideContentFallDown(sideContentFallDown);
						this.oDSC._setResizeData(sBreakpoint, bIsInComparisonMode);

						strictEqual(
								this.oDSC[sSpanPropertyName],
								bExpectedResult,
								sContentName + " content span size is set to " + bExpectedResult + " when breakpoint is " + "'" + sBreakpoint + "'" + " and 'SideContentFallDown' property is set to " + sideContentFallDown
						);
					}
				});

				QUnit.test("Calculate breakpoint from width",function(assert){
					// test S breakpoint
					var sBreakpoint = this.oDSC._getBreakPointFromWidth(200);
					strictEqual(sBreakpoint, S, "If parent container's width is under 720px, the breakpoint should be 'S'");

					sBreakpoint = this.oDSC._getBreakPointFromWidth(720);
					strictEqual(sBreakpoint, S, "If parent container's width is equal to 720px, the breakpoint should be 'S'");

					// test M breakpoint
					var sBreakpoint = this.oDSC._getBreakPointFromWidth(800);
					strictEqual(sBreakpoint, M, "If parent container's width is in the range 720px-1024px includingly, the breakpoint should be 'M'");

					sBreakpoint = this.oDSC._getBreakPointFromWidth(1024);
					strictEqual(sBreakpoint, M, "If parent container's width is in the range 720px-1024px includingly, the breakpoint should be 'M'");

					// test L breakpoint
					var sBreakpoint = this.oDSC._getBreakPointFromWidth(1060);
					strictEqual(sBreakpoint, L, "If parent container's width is in the range 1024px-1440px includingly, the breakpoint should be 'L'");

					sBreakpoint = this.oDSC._getBreakPointFromWidth(1440);
					strictEqual(sBreakpoint, L, "If parent container's width is in the range 1024px-1440px includingly, the breakpoint should be 'L'");

					// test XL breakpoint
					var sBreakpoint = this.oDSC._getBreakPointFromWidth(1500);
					strictEqual(sBreakpoint, XL, "If parent container's width is above 1440px, the breakpoint should be 'XL'");

					assert.throws(function () {
						this.oDSC._getBreakPointFromWidth(-2);
					}, "parent container's width should be greater then 0");
				});

				QUnit.test("The size of the main and side content is calculated correctly, according to the current breakpoint",function(){
					var bIsInComparisonMode = false;

					// S breakpoint
					this.oDSC._setResizeData(S, bIsInComparisonMode);

					strictEqual(this.oDSC._iMcSpan, SPAN_SIZE_12, "Main content span size is set to 12 when breakpoint is 'S'");
					strictEqual(this.oDSC._iScSpan, SPAN_SIZE_12, "Side content span size is set to 12 when breakpoint is 'S'.");
					strictEqual(this.oDSC.getShowSideContent(), false, "Side content is not visible.");

					// M breakpoint
					this.assertOnContentSpanSize("Main", "_iMcSpan", M, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_12, false);
					this.assertOnContentSpanSize("Side", "_iScSpan", M, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_12, false);

					this.assertOnContentSpanSize("Main", "_iMcSpan", M, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_12, false);
					this.assertOnContentSpanSize("Side", "_iScSpan", M, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_12, false);

					this.assertOnContentSpanSize("Main", "_iMcSpan", M, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_8, false);
					this.assertOnContentSpanSize("Side", "_iScSpan", M, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_4, false);

					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.ShowAboveS, true, false);
					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.AlwaysShow, true, false);
					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.NeverShow, false, false);
					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.ShowAboveL, false, false);
					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.ShowAboveM, false, false);

					// L breakpoint
					this.assertOnContentSpanSize("Main", "_iMcSpan", L, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_12, false);
					this.assertOnContentSpanSize("Side", "_iScSpan", L, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_12, false);

					this.assertOnContentSpanSize("Main", "_iMcSpan", L, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_8, false);
					this.assertOnContentSpanSize("Side", "_iScSpan", L, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_4, false);

					this.assertOnContentSpanSize("Main", "_iMcSpan", L, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_8, false);
					this.assertOnContentSpanSize("Side", "_iScSpan", L, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_4, false);

					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.ShowAboveS, true, false);
					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.ShowAboveM, true, false);
					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.AlwaysShow, true, false);
					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.ShowAboveL, false, false);
					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.NeverShow, false, false);

					// XL breakpoint
					this.assertOnContentSpanSize("Main", "_iMcSpan", XL, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_9, false);
					this.assertOnContentSpanSize("Side", "_iScSpan", XL, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_3, false);

					this.assertOnContentSpanSize("Main", "_iMcSpan", XL, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_9, false);
					this.assertOnContentSpanSize("Side", "_iScSpan", XL, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_3, false);

					this.assertOnContentSpanSize("Main", "_iMcSpan", XL, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_9, false);
					this.assertOnContentSpanSize("Side", "_iScSpan", XL, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_3, false);

					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.NeverShow, false, false);
					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.AlwaysShow, true, false);
					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.ShowAboveL, true, false);
					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.ShowAboveM, true, false);
					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.ShowAboveS, true, false);

					// EqualSplit mode S breakpoint

					this.assertOnContentSpanSize("Main", "_iMcSpan", S, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_12, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", S, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_12, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", S, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_12, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", S, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_12, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", S, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_12, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", S, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_12, true);

					// EqualSplit mode other than S
					this.assertOnSideContentVisibility(S, sap.ui.layout.SideContentVisibility.NeverShow, false, true);
					this.assertOnSideContentVisibility(S, sap.ui.layout.SideContentVisibility.AlwaysShow, false, true);
					this.assertOnSideContentVisibility(S, sap.ui.layout.SideContentVisibility.ShowAboveL, false, true);
					this.assertOnSideContentVisibility(S, sap.ui.layout.SideContentVisibility.ShowAboveM, false, true);
					this.assertOnSideContentVisibility(S, sap.ui.layout.SideContentVisibility.ShowAboveS, false, true);

					assert.throws(function () {
						this.oDSC._setResizeData("invalid breakpoint", false);
					}, INVALID_BREAKPOINT_ERROR_MSG);

					// EqualSplit mode other than S
					this.assertOnContentSpanSize("Main", "_iMcSpan", M, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_6, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", M, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_6, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", M, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_6, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", M, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_6, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", M, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_6, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", M, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_6, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", L, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_6, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", L, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_6, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", L, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_6, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", L, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_6, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", L, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_6, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", L, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_6, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", XL, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_6, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", XL, sap.ui.layout.SideContentFallDown.BelowL, SPAN_SIZE_6, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", XL, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_6, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", XL, sap.ui.layout.SideContentFallDown.BelowM, SPAN_SIZE_6, true);

					this.assertOnContentSpanSize("Main", "_iMcSpan", XL, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_6, true);
					this.assertOnContentSpanSize("Side", "_iScSpan", XL, sap.ui.layout.SideContentFallDown.BelowXL, SPAN_SIZE_6, true);

					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.NeverShow, true, true);
					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.AlwaysShow, true, true);
					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.ShowAboveL, true, true);
					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.ShowAboveM, true, true);
					this.assertOnSideContentVisibility(M, sap.ui.layout.SideContentVisibility.ShowAboveS, true, true);

					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.NeverShow, true, true);
					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.AlwaysShow, true, true);
					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.ShowAboveL, true, true);
					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.ShowAboveM, true, true);
					this.assertOnSideContentVisibility(L, sap.ui.layout.SideContentVisibility.ShowAboveS, true, true);

					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.NeverShow, true, true);
					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.AlwaysShow, true, true);
					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.ShowAboveL, true, true);
					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.ShowAboveM, true, true);
					this.assertOnSideContentVisibility(XL, sap.ui.layout.SideContentVisibility.ShowAboveS, true, true);

					this.assertOnMainContentVisibility(M, true, true);
					this.assertOnMainContentVisibility(L, true, true);
					this.assertOnMainContentVisibility(XL, true, true);
				});

				QUnit.test("Grid state",function(){
					var SC_GRID_CELL_SELECTOR = "SCGridCell",
						MC_GRID_CELL_SELECTOR = "MCGridCell",
						HIDDEN_CLASS = "sapUiHidden",
						SPAN_SIZE_12_CLASS = "sapUiSCSpan12",
					    $sideContent = this.oDSC.$(SC_GRID_CELL_SELECTOR),
						$mainContent = this.oDSC.$(MC_GRID_CELL_SELECTOR);

					// both main and side content are visible
					this.oDSC.setShowSideContent(true);
					this.oDSC.setShowMainContent(true);

					$mainContent.addClass("test1 test2");
					$sideContent.addClass("test1 test2");

					this.oDSC._changeGridState();

					ok(!$mainContent.hasClass("test1"), "Main content should not have 'test1' class");
					ok(!$mainContent.hasClass("test2"), "Main content should not have 'test2' class");

					ok(!$sideContent.hasClass("test1"), "Side content should not have 'test1' class");
					ok(!$sideContent.hasClass("test2"), "Side content should not have 'test2' class");

					ok($mainContent.hasClass("sapUiDSCSpan" + this.oDSC._iMcSpan), "Main content has class 'sapUiDSCSpan" + this.oDSC._iMcSpan + "' if both main and side content are visible");
					ok($sideContent.hasClass("sapUiDSCSpan" + this.oDSC._iScSpan), "Side content has class 'sapUiDSCSpan" + this.oDSC._iScSpan + "' if both main and side content are visible");

					// both main and side content are hidden
					this.oDSC.setShowSideContent(false);
					this.oDSC.setShowMainContent(false);

					this.oDSC._changeGridState();

					ok($mainContent.hasClass(HIDDEN_CLASS), "Main content has class '" + HIDDEN_CLASS + "' if both main and side content are hidden");
					ok($sideContent.hasClass(HIDDEN_CLASS), "Side content has class '" + HIDDEN_CLASS + "' if both main and side content are hidden");

					// only main content is visible
					this.oDSC.setShowSideContent(false);
					this.oDSC.setShowMainContent(true);

					$mainContent.addClass("test1 test2");

					this.oDSC._changeGridState();

					ok(!$mainContent.hasClass("test1"), "Main content should not have 'test1' class");
					ok(!$mainContent.hasClass("test2"), "Main content should not have 'test2' class");

					ok($mainContent.hasClass(SPAN_SIZE_12_CLASS), "Main content has class '" + SPAN_SIZE_12_CLASS + "' if only main content is visible");
					ok($sideContent.hasClass(HIDDEN_CLASS), "Side content has class '" + HIDDEN_CLASS + "' if side content is hidden");

					// only side content is visible
					this.oDSC.setShowSideContent(true);
					this.oDSC.setShowMainContent(false);

					$sideContent.addClass("test1 test2");

					this.oDSC._changeGridState();

					ok(!$sideContent.hasClass("test1"), "Side content should not have 'test1' class");
					ok(!$sideContent.hasClass("test2"), "Side content should not have 'test2' class");

					ok($mainContent.hasClass(HIDDEN_CLASS), "Main content has class '" + HIDDEN_CLASS + "' if side content is hidden");
					ok($sideContent.hasClass(SPAN_SIZE_12_CLASS), "Side content has class '" + SPAN_SIZE_12_CLASS + "' if only side content is visible");
				});

				QUnit.test("Check if height should be set",function(){
					this.oDSC._iScSpan = SPAN_SIZE_6;
					this.oDSC._iMcSpan = SPAN_SIZE_6;
					this.oDSC.setShowMainContent(true);
					this.oDSC.setShowSideContent(true);
					ok(this.oDSC._shouldSetHeight(), "Height should be set if MCSpan and SCSPan equal 12 spans and both main and side content are visible.");

					this.oDSC._iScSpan = SPAN_SIZE_3;
					this.oDSC._iMcSpan = SPAN_SIZE_6;
					this.oDSC.setShowMainContent(true);
					this.oDSC.setShowSideContent(true);
					ok(!this.oDSC._shouldSetHeight(), "Height should not be set if MCSpan and SCSPan do not equal 12 spans.");

					this.oDSC._iScSpan = SPAN_SIZE_6;
					this.oDSC._iMcSpan = SPAN_SIZE_6;
					this.oDSC.setShowMainContent(false);
					this.oDSC.setShowSideContent(true);
					ok(!this.oDSC._shouldSetHeight(), "Height should not be set if either main or side content is not visible.");

					this.oDSC._iScSpan = SPAN_SIZE_6;
					this.oDSC._iMcSpan = SPAN_SIZE_6;
					this.oDSC.setShowMainContent(true);
					this.oDSC.setShowSideContent(false);
					ok(!this.oDSC._shouldSetHeight(), "Height should not be set if either main or side content is not visible.");
				});

				QUnit.test("Set main and side content span sizes",function(){
					this.oDSC._setSpanSize(SPAN_SIZE_3, SPAN_SIZE_9);

					strictEqual(this.oDSC._iMcSpan, SPAN_SIZE_9, "Main content span size should be equal to " + SPAN_SIZE_9);
					strictEqual(this.oDSC._iScSpan, SPAN_SIZE_3, "Side content span size should be equal to " + SPAN_SIZE_3);
				});

				QUnit.module("Construction / Destruction", {
					setup : function () {
						this.oDSC = new sap.ui.layout.DynamicSideContent();
						this.oDSC.placeAt("qunit-fixture");
						sap.ui.getCore().applyChanges();
					},
					teardown : function () {
						this.oDSC = null;
					}
				});

				QUnit.test("Dynamic side content is created",function(){
					strictEqual(this.oDSC.$().length, 1, "Dynamic side content is created in the dom.");
				});

				QUnit.test("Current breakpoint is set",function(){
					ok(this.oDSC.getCurrentBreakpoint(), "The current breakpoint of the page is set");
				});

				QUnit.test("Calculate the size of the main and side content according to the current breakpoint",function(){
					sinon.spy(this.oDSC, "_setResizeData");

					assert.ok(!this.oDSC._setResizeData.calledOnce, "The size of the main and side content are set");

					this.oDSC._setResizeData.restore();
				});

				QUnit.test("Main content and Side content sliders are initialized",function(){
					ok(this.oDSC._oMCScroller, "Main content slider is set");
					ok(this.oDSC._oSCScroller, "Side content slider is set");
				});

				QUnit.test("dispose",function(){
					this.oDSC.destroy();
					this.oDSC.setContainerQuery(true);

					strictEqual(this.oDSC._oSCScroller, null, "Side content scroller is null");
					strictEqual(this.oDSC._oMCScroller, null, "Main content scroller is null");
				});

				QUnit.module("Listeners", {
					setup : function () {
						this.oDSC = new sap.ui.layout.DynamicSideContent({containerQuery: true});
						this.oDSC.placeAt("qunit-fixture");
						sap.ui.getCore().applyChanges();
					},
					teardown : function () {
						this.oDSC = null;
					}
				});

				QUnit.test("Listeners are created / removed",function(){
					notStrictEqual(this.oDSC._sContainerResizeListener, undefined, "Container resize listener is registered if there is container query");
					this.oDSC.destroy();
					strictEqual(this.oDSC._sContainerResizeListener, null, "Container resize listener is null if there is container query");
				});

				QUnit.module("Screen reader", {
					setup : function () {
						this.oDSC = new sap.ui.layout.DynamicSideContent({containerQuery: true});
						this.oDSC.placeAt("qunit-fixture");
						sap.ui.getCore().applyChanges();
					},
					teardown : function () {
						this.oDSC = null;
					}
				});

				QUnit.test("Side Content has correct aria attributes",function(){
					var sSideContentTag = sap.ui.Device.browser.firefox ? "div" : "aside",
						$sideContent = $("#" + this.oDSC.getId() + "-SCGridCell"),
						//$sideContent = this.oDSC.$().find("> aside"),
						oMessageBundle = sap.ui.getCore().getLibraryResourceBundle("sap.ui.layout");

					strictEqual($sideContent.length, 1, "Side Content has correct " + sSideContentTag + " tag");
					strictEqual($sideContent.attr("role"), "complementary", "Side Content has correct role 'complementary'");
					strictEqual($sideContent.attr("aria-label"), oMessageBundle.getText(SIDE_CONTENT_LABEL), "Side Content has correct 'aria-role' " + oMessageBundle.getText(SIDE_CONTENT_LABEL));
				});

			})(jQuery);

		</script>
	</head>
	<body>
		<h1 id="qunit-header">qUnit Page for sap.ui.layout.DynamicSideContent</h1>
		<h2 id="qunit-banner"></h2>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-fixture">test markup, will be hidden</div>
		<div id="content"></div>
	</body>
</html>
