<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Splitter - sap.ui.layout</title>
	<script src="../shared-config.js"></script>
	<script src="../../../../../resources/sap-ui-core.js"
	        id="sap-ui-bootstrap"
	        data-sap-ui-libs="sap.ui.core,sap.ui.layout,sap.ui.commons"
	        data-sap-ui-theme="sap_bluecrystal">
	</script>
	<link rel="stylesheet" href="../../../../../resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen">
	<script src="../../../../../resources/sap/ui/thirdparty/qunit.js"></script>
	<script src="../../../../../resources/sap/ui/qunit/qunit-junit.js"></script>
	<script src="../../../../../resources/sap/ui/qunit/qunit-coverage.js"></script>
	<script src="../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>
	<script src="../../../../../resources/sap/ui/thirdparty/sinon.js"></script>
	<script src="../../../../../resources/sap/ui/thirdparty/sinon-qunit.js"></script>

	<style>
		#content {
			display: block;
			position: absolute;
			left: -1000px;
			width: 500px;
			height: 500px;
		}

	</style>
	<script>
	// The following tests are not meant to be executed on IE < 9, as it is not supported!
	var bSupportedBrowser =
		!sap.ui.Device.browser.internet_explorer ||
		(!!sap.ui.Device.browser.internet_explorer && sap.ui.Device.browser.version > 8);

	if (bSupportedBrowser) {
		function createExampleContent(sSize) {
			if (createExampleContent.called === undefined) {
				createExampleContent.called = 0;
			}
			++createExampleContent.called;


			var oLd = new sap.ui.layout.SplitterLayoutData({
				resizable : true,
				size      : Math.random() > 0.5 ? "auto" : 50 + Math.floor(Math.random() * 300) + "px",
				minSize   : Math.random() > 0.5 ? 0 : Math.floor(Math.random() * 100)
			});

			if (sSize !== undefined) {
				oLd.setSize(sSize);
			}

			var oContent = new sap.ui.commons.Button({
				width: "100%",
				height: "100%",
				text : "Content!",
				layoutData: oLd
			});

			return oContent;
		}


		var oSplitter = new sap.ui.layout.Splitter("mySplitter0", {
			contentAreas: [ createExampleContent("100px"), createExampleContent("200px"), createExampleContent("300px") ]
		});


		var iResizes = 0;
		var fnResize = function(oEvent) { ++iResizes; };
		oSplitter.attachResize(fnResize);
		var iRenderings = 0;
		oSplitter.addDelegate({
			onAfterRendering: function() {
				++iRenderings;
			}
		});


		oSplitter.placeAt("content");

		sap.ui.getCore().applyChanges();

		QUnit.module("Absolute Area Sizes");

		QUnit.test("Absolute Horizontal sizing", function(assert) {
			oSplitter.setOrientation(sap.ui.core.Orientation.Horizontal);
			oSplitter.getContentAreas()[0].getLayoutData().setSize("100px");
			oSplitter.getContentAreas()[1].getLayoutData().setSize("200px");
			oSplitter.getContentAreas()[2].getLayoutData().setSize("300px");
			var oDelegate = {
				onAfterRendering : function() {
					var aAreas = oSplitter.getContentAreas();
					var aSizes = oSplitter.getCalculatedSizes();

					assert.ok(aSizes[0] === 100, "Content size #1 is correct.");
					assert.ok(aSizes[1] === 200, "Content size #2 is correct.");
					assert.ok(aSizes[2] === 300, "Content size #3 is correct.");

					oSplitter.removeDelegate(oDelegate);
				}
			};
			oSplitter.addDelegate(oDelegate);
			oSplitter.rerender();
		});

		QUnit.test("Absolute vertical sizing", function(assert) {
			oSplitter.setOrientation(sap.ui.core.Orientation.Vertical);
			oSplitter.getContentAreas()[0].getLayoutData().setSize("100px");
			oSplitter.getContentAreas()[1].getLayoutData().setSize("200px");
			oSplitter.getContentAreas()[2].getLayoutData().setSize("300px");
			var oDelegate = {
				onAfterRendering : function() {
					var aAreas = oSplitter.getContentAreas();
					var aSizes = oSplitter.getCalculatedSizes();

					assert.ok(aSizes[0] === 100, "Content size #1 is correct.");
					assert.ok(aSizes[1] === 200, "Content size #2 is correct.");
					assert.ok(aSizes[2] === 300, "Content size #3 is correct.");

					oSplitter.removeDelegate(oDelegate);
				}
			};
			oSplitter.addDelegate(oDelegate);
			oSplitter.rerender();
		});

		QUnit.test("Should calculate properly percentage containers", function (assert) {
			// Arrange
			var i, oCurContainer,
					aSizes = [],
					aWidths = [];

			// System under Test
			var oContainer1 = new sap.ui.commons.Button({
						text: "Content 1",
						width: "100%",
						height: '100%',
						layoutData: new sap.ui.layout.SplitterLayoutData({size: "33.33%"})
					}),
					oContainer2 = new sap.ui.commons.Button({
						text: "Content 2",
						width: "100%",
						height: '100%',
						layoutData: new sap.ui.layout.SplitterLayoutData({size: "33.33%"})
					}),
					oContainer3 = new sap.ui.commons.Button({
						text: "Content 3",
						width: "100%",
						height: '100%',
						layoutData: new sap.ui.layout.SplitterLayoutData({size: "33.33%"})
					}),

					oSplitter = new sap.ui.layout.Splitter({
						height: "500px",
						width: "500px",
						contentAreas: [oContainer1, oContainer2, oContainer3]
					}).placeAt("qunit-fixture");

			sap.ui.getCore().applyChanges();

			// Act- don't use loops in unit tests- anti-pattern
			oCurContainer = oSplitter.getContentAreas()[0];
			aSizes.push(oCurContainer.getLayoutData().getSize());
			aWidths.push(oCurContainer.$().parent(".sapUiLoSplitterContent").width());

			oCurContainer = oSplitter.getContentAreas()[1];
			aSizes.push(oCurContainer.getLayoutData().getSize());
			aWidths.push(oCurContainer.$().parent(".sapUiLoSplitterContent").width());

			oCurContainer = oSplitter.getContentAreas()[2];
			aSizes.push(oCurContainer.getLayoutData().getSize());
			aWidths.push(oCurContainer.$().parent(".sapUiLoSplitterContent").width());

			// Assert
			assert.strictEqual(aSizes[0], aSizes[1], "Container sizes should be equal");
			assert.strictEqual(aSizes[1], aSizes[2], "Container sizes should be equal");
			assert.strictEqual(aSizes[2], aSizes[0], "Container sizes should be equal");

			assert.strictEqual(aWidths[0], aWidths[1], "Container widths should be equal");
			assert.strictEqual(aWidths[1], aWidths[2], "Container widths should be equal");
			assert.strictEqual(aWidths[2], aWidths[0], "Container widths should be equal");

			// Cleanup
			oContainer1 = null;
			oContainer2 = null;
			oContainer3 = null;
			oSplitter.destroy();
		});

		QUnit.module("Automatic Area Sizes");

		QUnit.test("Automatic horizontal sizing ", function(assert) {
			oSplitter.setOrientation(sap.ui.core.Orientation.Horizontal);
			oSplitter.getContentAreas()[0].getLayoutData().setSize("auto");
			oSplitter.getContentAreas()[1].getLayoutData().setSize("auto");
			oSplitter.getContentAreas()[2].getLayoutData().setSize("auto");
			var oDelegate = {
				onAfterRendering : function() {
					var aAreas = oSplitter.getContentAreas();
					var aSizes = oSplitter.getCalculatedSizes();

					// Sizes should be about the same (rounding errors should be within 2px)
					assert.ok(aSizes[0] >= aSizes[1] - 2 && aSizes[0] <= aSizes[1] + 2, "Content size #1 is correct.");
					assert.ok(aSizes[1] >= aSizes[2] - 2 && aSizes[1] <= aSizes[2] + 2, "Content size #2 is correct.");
					assert.ok(aSizes[2] >= aSizes[0] - 2 && aSizes[2] <= aSizes[0] + 2, "Content size #3 is correct.");
					oSplitter.removeDelegate(oDelegate);
				}
			};
			oSplitter.addDelegate(oDelegate);
			oSplitter.rerender();
		});

		QUnit.test("Automatic vertical sizing ", function(assert) {
			oSplitter.setOrientation(sap.ui.core.Orientation.Vertical);
			oSplitter.getContentAreas()[0].getLayoutData().setSize("auto");
			oSplitter.getContentAreas()[1].getLayoutData().setSize("auto");
			oSplitter.getContentAreas()[2].getLayoutData().setSize("auto");
			var oDelegate = {
				onAfterRendering : function() {
					var aAreas = oSplitter.getContentAreas();
					var aSizes = oSplitter.getCalculatedSizes();
					// Sizes should be about the same (rounding errors should be within 1px)
					assert.ok(aSizes[0] >= aSizes[1] - 2 && aSizes[0] <= aSizes[1] + 2, "Content size #1 is correct.");
					assert.ok(aSizes[1] >= aSizes[2] - 2 && aSizes[1] <= aSizes[2] + 2, "Content size #2 is correct.");
					assert.ok(aSizes[2] >= aSizes[0] - 2 && aSizes[2] <= aSizes[0] + 2, "Content size #3 is correct.");
					oSplitter.removeDelegate(oDelegate);
				}
			}
			oSplitter.addDelegate(oDelegate);
			oSplitter.rerender();
		});


		QUnit.module("Mixed Area Sizes");

		QUnit.test("Mixed horizontal sizing", function(assert) {
			oSplitter.setOrientation(sap.ui.core.Orientation.Horizontal);
			oSplitter.getContentAreas()[0].getLayoutData().setSize("10px");
			oSplitter.getContentAreas()[1].getLayoutData().setSize("auto");
			oSplitter.getContentAreas()[2].getLayoutData().setSize("10px");
			var oDelegate = {
				onAfterRendering : function() {
					var aAreas = oSplitter.getContentAreas();
					var aSizes = oSplitter.getCalculatedSizes();

					// Fixed sizes should be exact
					assert.ok(aSizes[0] === 10, "Content size #1 is correct.");
					assert.ok(aSizes[2] === 10, "Content size #3 is correct.");

					// Auto size should be content size, minus fixed sizes, minus resize bars
					var iBarSize = jQuery("#" + oSplitter.getId() + "-splitbar-0").width();
					var iAutoSize = 500 - 20 - (2 * iBarSize)
					assert.ok(aSizes[1] >= iAutoSize - 1 && aSizes[1] <= iAutoSize + 1, "Content size #2 is correct.");

					oSplitter.removeDelegate(oDelegate);
				}
			};
			oSplitter.addDelegate(oDelegate);
			oSplitter.rerender();
		});

		QUnit.test("Mixed vertical sizing", function(assert) {
			oSplitter.setOrientation(sap.ui.core.Orientation.Vertical);
			oSplitter.getContentAreas()[0].getLayoutData().setSize("10px");
			oSplitter.getContentAreas()[1].getLayoutData().setSize("auto");
			oSplitter.getContentAreas()[2].getLayoutData().setSize("10px");
			var oDelegate = {
				onAfterRendering : function() {
					var aAreas = oSplitter.getContentAreas();
					var aSizes = oSplitter.getCalculatedSizes();

					// Fixed sizes should be exact
					assert.ok(aSizes[0] === 10, "Content size #1 is correct.");
					assert.ok(aSizes[2] === 10, "Content size #3 is correct.");

					// Auto size should be content size, minus fixed sizes, minus resize bars
					var iBarSize = jQuery("#" + oSplitter.getId() + "-splitbar-0").height();
					var iAutoSize = 500 - 20 - (2 * iBarSize)
					assert.ok(aSizes[1] >= iAutoSize - 1 && aSizes[1] <= iAutoSize + 1, "Content size #2 is correct.");

					oSplitter.removeDelegate(oDelegate);
				}
			};
			oSplitter.addDelegate(oDelegate);
			oSplitter.rerender();
		});

		QUnit.module("General tests");
		QUnit.test("Events and Rerendering", function(assert) {
			assert.ok(iResizes === 3, "Number of resize-events fired (" + iResizes + ") is correct.");
			assert.ok(iRenderings === 7, "Number of rerenderings (" + iRenderings + ") is correct.");
		});

		QUnit.test("_getContentAreas hook", function(assert) {
			var oSplitter = new sap.ui.layout.Splitter(),
				oButton = new sap.ui.commons.Button();

			oSplitter.addContentArea(oButton);
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();


			assert.strictEqual(oSplitter.getContentAreas().length, oSplitter._getContentAreas().length, "Should return same value as getContent()");
			assert.strictEqual(oSplitter._getContentAreas().length, 1, "Should have 1 content Area");
		});

		QUnit.test("triggerResize", function (assert) {
			var oSplitter = new sap.ui.layout.Splitter();
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();

			var oResizeSpy = sinon.spy(oSplitter, "_resize"),
					oDelayedResizeSpy = sinon.spy(oSplitter, "_delayedResize");

			oSplitter.triggerResize();
			assert.ok(oDelayedResizeSpy.calledOnce, "Call delayed resize");
			assert.ok(!oResizeSpy.calledOnce, "Direct resize not called");

			oSplitter.triggerResize(true);
			assert.ok(oResizeSpy.calledOnce, "Direct resize called");
		});

		QUnit.test("Live resize enabling", function (assert) {
			var oSplitter = new sap.ui.layout.Splitter();
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();

			assert.strictEqual(oSplitter._liveResize, true, "Live resize enabled by default");

			oSplitter.disableLiveResize();
			assert.strictEqual(oSplitter._liveResize, false, "Disable Live resize");

			oSplitter.enableLiveResize();
			assert.strictEqual(oSplitter._liveResize, true, "Enable Live resize");

		});

		QUnit.test("Keyboard support enabling", function (assert) {
			var oSplitter = new sap.ui.layout.Splitter({
				contentAreas: [
					new sap.ui.commons.Button(),
					new sap.ui.commons.Button()
				]
			});
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();

			var oEnableKeyboardSupportSpy = sinon.spy(oSplitter, "_enableKeyboardListeners"),
					oDisableKeyboardSupportSpy = sinon.spy(oSplitter, "_disableKeyboardListeners");

			oSplitter.enableKeyboardSupport();
			assert.ok(oEnableKeyboardSupportSpy.calledOnce, "Enable keyboard support");
			assert.strictEqual(oSplitter.$().find(".sapUiLoSplitterBar").attr("tabindex"), "0", "Set a proper tabindex");

			oSplitter.disableKeyboardSupport();
			assert.ok(oDisableKeyboardSupportSpy.calledOnce, "Disable keyboard support");
			assert.strictEqual(oSplitter.$().find(".sapUiLoSplitterBar").attr("tabindex"), "-1", "Set a proper tabindex");
		});

		QUnit.test("_onKeyboardResize", function (assert) {
			var oSplitter = new sap.ui.layout.Splitter({
						contentAreas: [
							new sap.ui.commons.Button(),
							new sap.ui.commons.Button()
						]
					}),
					oEvent = {
						target: {
							id: oSplitter.getId() + "-splitbar-0"
						}
					};
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();

			var oKeyboardResizeSpy = sinon.spy(oSplitter, "_resizeContents");
			oKeyboardResizeSpy.withArgs(12, 5, true);

			oSplitter._onKeyboardResize("inc", 5, oEvent);
			sap.ui.getCore().applyChanges();

			assert.ok(oKeyboardResizeSpy.withArgs(0, 5, true).calledOnce);
		});

		QUnit.module("Content areas");

		QUnit.test("addContentArea", function (assert) {
			var oSplitter = new sap.ui.layout.Splitter({
						contentAreas: [
							new sap.ui.commons.Button(),
							new sap.ui.commons.Button()
						]
					}),
					addedItem = new sap.ui.commons.Button();
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();


			oSplitter.addContentArea(addedItem);
			sap.ui.getCore().applyChanges();

			assert.ok(oSplitter.getContentAreas());
			assert.strictEqual(oSplitter.getContentAreas().length, 3, "Has 3 content areas");
			assert.strictEqual(oSplitter.getContentAreas()[2], addedItem, "Added an item at the end");
		});

		QUnit.test("insertContentArea", function (assert) {
			var oSplitter = new sap.ui.layout.Splitter({
						contentAreas: [
							new sap.ui.commons.Button(),
							new sap.ui.commons.Button()
						]
					}),
					addedItem = new sap.ui.commons.Button();
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();


			oSplitter.insertContentArea(addedItem, 1);
			sap.ui.getCore().applyChanges();

			assert.ok(oSplitter.getContentAreas());
			assert.strictEqual(oSplitter.getContentAreas().length, 3, "Has 3 content areas");
			assert.strictEqual(oSplitter.getContentAreas()[1], addedItem, "Added an item at the proper index");
		});

		QUnit.test("removeContentArea", function (assert) {
			var addedItem = new sap.ui.commons.Button(),
					oSplitter = new sap.ui.layout.Splitter({
						contentAreas: [
							addedItem
						]
					});
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();

			assert.ok(oSplitter.getContentAreas());
			assert.strictEqual(oSplitter.getContentAreas().length, 1, "Has 1 content areas");


			oSplitter.removeContentArea(addedItem);
			sap.ui.getCore().applyChanges();

			assert.ok(oSplitter.getContentAreas());
			assert.strictEqual(oSplitter.getContentAreas().length, 0, "Has 3 content areas");
		});

		QUnit.test("removeAllContentArea", function (assert) {
			var oSplitter = new sap.ui.layout.Splitter({
				contentAreas: [
					new sap.ui.commons.Button(),
					new sap.ui.commons.Button(),
					new sap.ui.commons.Button(),
					new sap.ui.commons.Button(),
					new sap.ui.commons.Button()
				]
			});
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();

			assert.ok(oSplitter.getContentAreas());
			assert.strictEqual(oSplitter.getContentAreas().length, 5, "Has 5 content areas");


			oSplitter.removeAllContentArea();
			sap.ui.getCore().applyChanges();

			assert.ok(oSplitter.getContentAreas());
			assert.strictEqual(oSplitter.getContentAreas().length, 0, "Has 0 content areas");
		});

		QUnit.test("destroyContentArea", function (assert) {
			var oBtn = new sap.ui.commons.Button(),
					oSplitter = new sap.ui.layout.Splitter({
						contentAreas: [
							oBtn
						]
					});
			oSplitter.placeAt("qunit-fixture");
			sap.ui.getCore().applyChanges();

			assert.ok(oSplitter.getContentAreas());
			assert.strictEqual(oSplitter.getContentAreas().length, 1, "Has 1 content areas");


			oSplitter.destroyContentArea();
			sap.ui.getCore().applyChanges();

			assert.ok(oSplitter.getContentAreas());
			assert.strictEqual(oSplitter.getContentAreas().length, 0, "Has 0 content areas");
			assert.ok(oBtn.bIsDestroyed, "Content inside has been destroyed");
		});

		QUnit.module("Resize Handling");

		QUnit.test("Prevent size calculation while rerendering", function (assert) {
			// Check whether the resize calculation is not done when the Splitter is located in the preserve area
			var done = assert.async();
			sap.ui.require(['sap/ui/core/mvc/XMLView', 'sap/ui/layout/Splitter', 'sap/ui/core/RenderManager'], function(XMLView, Splitter, RenderManager){

				// setup
				var sXMLViewContent = '<mvc:View xmlns:mvc="sap.ui.core.mvc" xmlns:layout="sap.ui.layout">'
																+ '<layout:Splitter id="myResizeSplitter">'
																+ '</layout:Splitter>'
															+ '</mvc:View>'
				var oXMLView = new XMLView({viewContent: sXMLViewContent});
				var oResizeSplitter = oXMLView.byId("myResizeSplitter");
				
				oXMLView.placeAt("qunit-fixture");
				sap.ui.getCore().applyChanges();
				var oSpy = sinon.spy(oResizeSplitter, "getCalculatedSizes");
				
				oXMLView.onBeforeRendering = function(){
					// check
					assert.ok(RenderManager.isPreservedContent(oXMLView.getDomRef()), "Splitter control is preserved as part of XMLView.");
					oResizeSplitter.triggerResize(true);
					assert.strictEqual(oSpy.called, false, "Splitter has not calculated its sizes again.");
					done();
				};

				oXMLView.rerender();
			});
		});

	}
	else{
		jQuery.sap.log.warning("Splitter control is not supported for Internet Explorer 8!");
	};
	</script>
</head>
<body class="sapUiBody" role="application">
	<h1 id="qunit-header">QUnit Page for sap.ui.layout.Splitter</h1>
	<h2 id="qunit-banner"></h2>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
	<div id="qunit-fixture">test markup, will be hidden</div>
	<div id="content"></div>
</body>
<script>
/*
jQuery(document).on("touchmove", function(oEv) {
	debug.innerHTML = oEv.changedTouches[0].pageX + ", " + oEv.changedTouches[0].pageY + "&nbsp; | &nbsp;"+ debug.innerHTML;
});
/**/
</script>
</html>
