/* ======================================== */
/* CSS for control sap.f/DynamicPageHeader  */
/* Quartz Dark theme                        */
/* ======================================== */

.sapFDynamicPage-Std-Desktop .sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
	padding: 1rem 2rem;
}

.sapFDynamicPageHeader.sapFDynamicPageHeaderTranslucent {
	background: @sapUiObjectHeaderBackground;
}

.sapFDynamicPageHeader.sapFDynamicPageHeaderTransparent {
	background: transparent;
}

.sapFDynamicPageToggleHeaderIndicator:not(.sapUiHidden) + .sapFDynamicPageHeaderPinButton:before {
	display: none;
}

.sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
	box-shadow: none;
}