@import url("ControlTree.css");

body {
	background: #fff;
	content: "SupportTools loading...";
}

.sapUiSupportToolSettingsPopoverPadding {
	padding-left: 1rem;
	padding-bottom: 0.5rem;
}

.supportAnalyzeButton > span {
	border-radius: 4px 0px 0px 4px;
}

.supportSettingsButton {
	margin-left: 0 !important;
}

.supportSettingsButton > span {
	border-radius: 0px 4px 4px 0px;
}

.sapMITBContent {
	height: 400px;
}

.topLabel {
	position: absolute;
	top: 8px;
	font-style: monospace;
	font-size: 0.75rem;
	cursor: pointer;
	color: #fff;
}

.STHelpIcon {
	padding-left: 1rem;
	padding-right: 1rem;
}

.issueReason {
	font-weight: bolder !important;
}

.sapMPanelWrappingDiv>h1, .sapUiFormTitle {
	height: 2rem !important;
	line-height: 2rem !important;
}

.sapMPanelContent {
	padding: 0rem 0.1rem 0.1rem 0rem !important;
}

.sapMLIB {
	height: auto !important;
}

.sapMSLIImgIcon {
	font-size: 1rem !important;
}

.sapMSLITitle {
	font-size: 0.875rem !important;
	padding-bottom: 0.125rem;
}

.customHBox {
	min-width: 0;
	flex: 1;
}

.customIconTabHeader {
	text-align: left;
	height: 1.96rem;
}

.customIconTabHeader .sapMITBHead {
	height: 1.95rem;
}

.customIconTabHeader .sapMITBHead .sapMITBText {
	margin: 0 !important;
	margin-top: 6px !important;
}

.customIconTabHeader .sapMITBContentArrow {
	height: 0.55rem !important;
}

.customIconTabHeader.sapMITH .sapMITBHead {
	padding-top: 0;
}

.customIconTabHeader {
	border-bottom: none !important;
	box-shadow: none !important;
}

.customMargin {
	margin-left: 0.25rem !important;
	margin-right: 0.25rem !important;
}

.sapUiSupportToolIssuesPage > section {
	top: 6rem !important;
}

.supportUrlUpload {
	margin: 2px;
}

.sapMLIBContent .sapMILILabel {
	max-width: 20rem;
}

.customSettingsPadding {
	padding-left: 0.375rem;
}

.customSettingsInfo {
	border-top: 1px solid #999999;
	margin: 0.4rem 0 0;
	width: 100%;
	padding: 0.4rem 0 0;
}

.sapUiSupportToolIssueHeader .sapMBarChild.sapMBtn {
	padding-top: 0.75rem;
}

.sapUiSupportToolIssuesTreeTable .sapMFT {
	overflow: hidden;
	font-size: 0.875rem;
}

.selectedRuleTitle {
	height: 2rem !important;
}

.sapMBarContainer.sapMBarRight > .sapMBarChild.sapMIBar > .sapUiIcon {
	padding: 0;
}

.sapUiSupportToolAdditionRuleSetNote.sapMText {
	padding-top: 0.5rem;
	padding-left: 1rem;
}

.sapUiSupportToolAdditionRuleSetNote.sapMLnk {
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}
.issuesSeverityIcon.sapUiIcon {
	vertical-align: middle;
}
.sapUiSupportToolIssuesPage .sapMIBar.sapMHeader-CTX.sapUiSupportToolToolbar {
	border-bottom: 1px solid #cccccc;
}

.sapUiSupportToolIssuesPage .sapUiSupportToolIssueHeader {
	border-bottom: none;
}

.sapUiSupportToolVariantCont {
	cursor: pointer;
	margin-left: 0.25rem;
}

.sapUiSupportToolVariantCont .sapUiSupportToolVariantTxt {
	color: #346187; /* @sapUiButtonTextColor */
	text-decoration: none !important;
}

.sapUiSupportToolVariantCont  .sapMLnk.sapUiSupportToolVariantTxt:hover {
	color: #427cac; /* @sapUiHighlight ?*/
}

.sapUiSupportToolVariantCont .sapUiSupportToolVariantBtn {
	margin-left: 0.25rem;
}

.sapUiSupportToolVariantCont:hover .sapUiSupportToolVariantBtn>span {
	background-image: none;
	background-color: rgba(179,179,179,0.5) !important; /* @sapUiButtonLiteHoverBackground */
	border-radius: 0.2rem;
}

.presetVariantLabel {
	margin-left: 0.25rem;
}

.sapMText.sapUiSupportToolError {
	color: #ee0000; /* @sapErrorCode */
}

.sapMScrollCont.sapUiSupportToolImportDescr {
	max-height: 5rem;
}

.sapMGHLI.sapMLIB.sapMLIB-CTX.sapMLIBFocusable.sapMLIBShowSeparator.sapMLIBTypeInactive.sapUiSupportToolGHLI {
	padding-left: 0.5rem;
}

.sapUiSupportToolVariantTxt.sapMFT {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 0.2rem;
}

.sapMFT.sapUiSupportToolPresetTitle {
	padding-right: 0.2rem;
}

