.myColorPreview {
	display:block;
	padding: 12px;
}
.myColorPreviewBorder {
	border-width:1px;
	border-style: solid;
}
.alignment .sapMListTblHeader th{
	vertical-align: middle;
}
.padding .sapMPanelContent {
	padding: 0rem;
}
.sapMObjLNumberDiv .sapMObjectNumber .sapMObjectNumberText {
	    font-size: 0.875rem;
}