/******************************************************************
	Style of the DT Contextmenu - sap_fiori_3_hcw Theme
*******************************************************************/
@_sap_ui_dt_ContextMenu_BorderRadius: @sapUiButtonBorderCornerRadius; // 0.375rem
@_sap_ui_dt_ContextMenu_OpenSubMenuBackgroundColor: @sapUiButtonSelectedBackground; //#8fb5ff

.sapUiDtContextMenu {
	.sapUiMnuLst {
		.sapUiMnuItm {

			&:focus {
				border-radius: @_sap_ui_dt_ContextMenu_BorderRadius;
			}

			&.sapUiMnuItmSubMnuOpen {
				border-bottom: 0.0625rem solid transparent !important; //1px
				border-radius: @_sap_ui_dt_ContextMenu_BorderRadius;
				&:not(.sapUiMnuItmHov) {
					background-color: @_sap_ui_dt_ContextMenu_OpenSubMenuBackgroundColor;
				}
			}
		}
	}
}

.sapUiDtContextMiniMenu {
	.sapUiMnuLst {
		.sapUiMnuItm {
			.sapUiIcon {
				border-radius: @_sap_ui_dt_ContextMenu_BorderRadius;
			}
		}
	}
}