/* =================================== */
/* CSS for control sap.ui.table/Table  */
/* Evening Horizon theme               */
/* =================================== */

@_sap_ui_table_Table_HeaderPaddingRight: 0.5rem;
@_sap_ui_table_Table_FooterPaddingRight: 0.5rem;

.sapUiTableExt .sapMTBHeader-CTX:first-child {
    border-top-right-radius: @sapUiElementBorderCornerRadius;
    border-top-left-radius: @sapUiElementBorderCornerRadius;
}

.sapUiTableCnt {
    background-color: @sapUiListBackground;
	border: transparent;
}

.sapUiTableFtr {
	border-left: none;
	border-right: none;
	border-bottom: none;
}