/******************************************************************
	Style of the DT Contextmenu - sap_fiori_3 Theme
*******************************************************************/
@_sap_ui_dt_ContextMenu_MnuItemTextColor: @sapUiListSelectionBorderColor; // #0854a0
@_sap_ui_dt_ContextMenu_MnuItemBackgroundColor: @sapUiListBackground; // #fff
@_sap_ui_dt_ContextMenu_MnuItemHoverBackgroundColor: @sapUiListSelectionBackgroundColor; // #e5f0fa
@_sap_ui_dt_ContextMenu_BorderRadius: @sapUiButtonBorderCornerRadius; // 0.25rem

.sapUiDtContextMenu {
	.sapUiMnuLst {
		.sapUiMnuItm {
			color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
			background: @_sap_ui_dt_ContextMenu_MnuItemBackgroundColor;
			margin: 0.0625rem;

			.sapUiMnuItmIco {
				color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
				background: @_sap_ui_dt_ContextMenu_MnuItemBackgroundColor;
			}

			.sapUiMnuItmSbMnu > div:after,
			.sapUiMnuItm.sapUiMnuItmHov .sapUiMnuItmSbMnu > div:after {
				color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
			}
			&.sapUiMnuItmHov {
				color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
				background-color: @_sap_ui_dt_ContextMenu_MnuItemHoverBackgroundColor;

				.sapUiMnuItmIco {
					color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
					background: @_sap_ui_dt_ContextMenu_MnuItemHoverBackgroundColor;
				}
				&.sapUiMnuItmDsbl {
					background: @_sap_ui_dt_ContextMenu_MnuItemBackgroundColor;
					.sapUiMnuItmIco {
						background: @_sap_ui_dt_ContextMenu_MnuItemBackgroundColor;
					}
				}
			}

			&:focus {
				border-radius: @_sap_ui_dt_ContextMenu_BorderRadius;
				outline-offset: 0;
				&.sapUiMnuItmDsbl{
					outline: none;
				}
			}

			&.sapUiMnuItmSubMnuOpen {
				border-bottom: none !important; //1px
			}
		}
	}
}