/******************************************************************
	Style of the DT Overlays - sap_fiori_3 Theme
*******************************************************************/

.sapUiDtOverlayDropZone {
	> .sapUiDtOverlayChildren {
		> .sapUiDtOverlayMovable {
			background: inherit;

			&:before {
				content: none;
			}

			&.sapUiDtOverlaySelected {
				box-shadow: none;
			}
		}
	}
}