/* =========================================== */
/* CSS for control sap.ui.unified/ColorPicker  */
/* Base theme                                  */
/* =========================================== */

@_sap_ui_unified_ColorPicker_CircleSize: 8px;

.sapUiColorPicker-ColorPickerMatrix {
	background-color: @sapUiBaseBG;
	padding-bottom: 0.2rem;
	&.sapUiColorPickerHSL .hideForHSL {
		display: none;
	}
	&:not(.sapUiColorPickerHSL) .hideForHSV {
		display: none;
	}
	&:not(.sapUnifiedColorPicker) {
		max-width: 300px;
		min-width: 270px;
		.sapUiVlt {
			&:first-child,
			&:last-child {
				margin-left: 0.5rem;
			}
		}
		.sapUiCPUnitLabel {
			display: none;
		}
		.sapUiColorPicker-swatches {
		  margin-left: 0.6rem;
		}
	}
	&.sapUnifiedColorPicker {
		max-width: 556px;
		min-width: 200px;
		.sapUiColorPicker-ColorPickerBox {
			max-width: 240px;
			max-height: 240px;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			margin: 0;
			// This is very important to help stretch the color picker box to 100% height and for it to remain responsive
			&:after {
				content: "";
				display: block;
				width: 100%;
				padding-bottom: 100%;
			}
		}
		.sapUiColorPicker-ColorPickerNewColor,
		.sapUiColorPicker-ColorPickerOldColor {
			width: 2rem;
			height: 2rem;
			border-color: @sapUiFieldBorderColor;
			background-color: @sapUiFieldBackground;
		}
		.sapUiColorPicker-swatches {
			margin: 0;
		}
		.sapUiColorPicker-ColorPickerHexField.sapMInputBase {
			width: ~"calc(100% - 3rem)";
		}
		.sapUiColorPicker-ColorPickerInputFieldsRight,
		.sapUiColorPicker-ColorPickerInputFieldsLeft {
			.sapMInputBaseInner {
				width: 3.5rem;
			}
		}
		.sapUiColorPicker-ColorPickerHexField {
			margin-top: 5px;
			margin-left: 2px;
		}
		// Make swatches and output type align center on phone screen size
		&.sapUiRespGridMedia-Std-Phone .sapUiRespGridSpanS12 {
			.sapUiColorPicker-RBRow,
			.sapUiColorPicker-swatches {
				text-align: center;
				width: 100%;
			}
		}
		// Black and white circle so it will be visible on top of all colors
		.sapUiColorPicker-ColorPickerCircle {
			position: absolute;
			box-sizing: border-box;
			width: @_sap_ui_unified_ColorPicker_CircleSize;
			height: @_sap_ui_unified_ColorPicker_CircleSize;
			border: 1px solid @sapUiContentContrastFocusColor ;
			border-radius: 6px;
			pointer-events: none;
			&:after {
				content: '';
				position: absolute;
				width: 4px;
				height: 4px;
				border: 1px solid @sapUiContentFocusColor;
				border-radius: 4px;
				pointer-events: none;
			}
		}
		// Big circle
		.sapUiColorPicker-ColorPickerBox:active .sapUiColorPicker-ColorPickerCircle:before {
			content: '';
			position: absolute;
			margin-left: -0.83rem;
			top: -0.83rem;
			height: 1.75rem;
			width: 1.75rem;
			border: 0.125rem solid @sapUiContentContrastFocusColor;
			border-radius: 1rem;
		}
		// Sliders - border
		.sapUiColorPicker-ColorPickerSlider,
		.sapUiColorPicker-ColorPickerAlphaSlider {
			.sapMSliderInner {
				border: solid @sapUiFieldBorderColor 1px;
			}
		}
		// HSL Alpha transparency helper for swatches
		&.sapUiColorPickerHSL .sapUiColorPicker-swatches {
			> div:first-child,
			> div:last-child {
				// Overwrite commons color picker Swatch background
				background-image: url(img/ColorPicker/Unified_Swatch_BG.png);
			}
		}
	}
	&.sapUiRespGrid.sapUiRespGridHSpace1 {
		padding: 0;
	}
	input {
		&.sapUiColorPicker-ColorPickerInputFieldsRight,
		&.sapUiColorPicker-ColorPickerInputFieldsLeft {
			width: 3em;
		}
	}
}

.sapUiSizeCompact .sapUiColorPicker-ColorPickerMatrix.sapUnifiedColorPicker {
	.sapUiColorPicker-ColorPickerSlider,
	.sapUiColorPicker-ColorPickerAlphaSlider {
		padding-top: 0.5rem;
	}
}

.sapUiColorPicker-ColorPickerBox {
	float: left;
	margin: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: @sapUiFieldBorderColor;
	position: relative;
	cursor: crosshair;
	display: inline-block;
	width: 105px;
	height: 105px;
	background-color: none;
	background-image: url(img/ColorPicker/GradientBox.png);
	background-size: 100%;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0) ),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1) );
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0) ), -moz-linear-gradient(top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1) );
	background-image: linear-gradient(left, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0) ), linear-gradient(top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1) );
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0) ), -ms-linear-gradient(top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1) );
	-moz-user-select: none;
	-webkit-user-select: none;
}

.sapUiColorPicker-ColorPickerMatrix:not(.sapUnifiedColorPicker) .sapUiColorPicker-ColorPickerBox > .sapUiColorPicker-ColorPickerCircle {
	position: absolute;
	box-sizing: border-box;
	width: @_sap_ui_unified_ColorPicker_CircleSize;
	height: @_sap_ui_unified_ColorPicker_CircleSize;
	border-width: 1px;
	border-style: solid;
	border-color: @sapUiContentContrastFocusColor;
	border-radius: 5px;
	pointer-events: none;
}

.sapUiColorPicker-ColorPickerOldColor {
	margin-top: 5px;
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: @sapUiBlackBorder;
	background-color: @sapUiWhiteBG;
}

.sapUiColorPicker-ColorPickerNewColor {
	margin-left: 6px;
	margin-top: 5px;
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: @sapUiBlackBorder;
	background-color: @sapUiWhiteBG;
}

.sapUiColorPicker-ColorPickerMatrix .sapUiHLayoutChildWrapper {
	vertical-align: middle;
}

.sapUiColorPicker-ColorPickerMatrix .sapUiMltPadRight{
	padding-right: 0px;
}

.sapUiColorPicker-ColorPickerMatrix .sapUiMltPadRight .sapUiVlt{
	padding-left: 5px;
}

.sapUiColorPicker-ColorPickerMatrix .sapUiMltPadRight .sapUiVlt.sapUiColorPicker-ColorPickerLastColumn{
	padding-left: 13px;
}

.sapUiColorPicker-ColorPickerInputFieldsRight {
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 4px;
}

.sapUiColorPicker-ColorPickerInputFieldsLeft {
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 29px;
}

.sapUiColorPicker-ColorPickerLabels {
	margin-top: 5px;
	width: 1.1em;
}

.sapUiColorPicker-ColorPickerHexField.sapUiTf:not(.sapUiTfInner) {
	margin-top: 5px;
	margin-left: 2px;
	width: 5em;
}

.sapUiColorPicker-ColorPickerSlider.sapUiSliHori .sapUiSliGrip {
	background-color: transparent;
	height: 12px;
	top: -3px;
}

.sapUiColorPicker-ColorPickerAlphaSlider.sapUiSliHori .sapUiSliGrip {
	background-color: transparent;
	height: 12px;
	top: -3px;
}

.sapUiColorPicker-ColorPickerSlider.sapUiSliHori .sapUiSliGrip:focus {
	background-color: transparent;
}

.sapUiColorPicker-ColorPickerAlphaSlider.sapUiSliHori .sapUiSliGrip:focus {
	background-color: transparent;
}

.sapUiColorPicker-ColorPickerSlider.sapUiSliHori .sapUiSliBar,
.sapUnifiedColorPicker .sapUiColorPicker-ColorPickerSlider .sapMSliderInner {
	height: 10px;
	background-image: url(img/ColorPicker/ColorBar.png);
	background-size: 100%;
	background-image: -webkit-linear-gradient(left, #FF0000, #FFFF00, #00FF00, #00FFFF,
		#0000FF, #FF00FF, #FF0000);
	background-image: -moz-linear-gradient(left, #FF0000, #FFFF00, #00FF00, #00FFFF, #0000FF,
		#FF00FF, #FF0000);
	background-image: -ms-linear-gradient(left, #FF0000, #FFFF00, #00FF00, #00FFFF, #0000FF,
		#FF00FF, #FF0000);
	background-image: linear-gradient(left, #FF0000, #FFFF00, #00FF00, #00FFFF, #0000FF,
		#FF00FF, #FF0000);
	background-color: none;
	margin: 0;
}

.sapUnifiedColorPicker {
  .sapUiColorPicker-ColorPickerAlphaSlider,
  .sapUiColorPicker-ColorPickerSlider {
    .sapMSliderProgress {
      background-color: transparent;
    }
    .sapMSliderHandle {
      margin-top: 0.25rem;
    }
  }
}

.sapUiColorPicker-ColorPickerAlphaSlider.sapUiSliHori .sapUiSliBar,
.sapUnifiedColorPicker .sapUiColorPicker-ColorPickerAlphaSlider .sapMSliderInner {
	height: 10px;
	background-image: url(img/ColorPicker/Alphaslider_BG.png);
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), url(img/ColorPicker/Alphaslider_BG.png); /* Chrome10+,Safari5.1+ */
	background-image: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), url(img/ColorPicker/Alphaslider_BG.png); /* W3C */
	background-color: none;
	margin: 0px;
}

.sapUiColorPicker-ColorPickerMatrix .sapUiSli.sapUiSliHori {
	padding: 3px 0 0 0;
	height: 10px;
}


/* AdvancedMode ColorPicker */

.sapUiColorPickerHSL .sapUiColorPicker-ColorPickerBox {
	background-size: 100%;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,1),rgba(0,0,0,0),rgba(255,255,255,1)),-webkit-linear-gradient(top,rgba(128,128,128,0),rgba(128,128,128,1));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,1),rgba(0,0,0,0),rgba(255,255,255,1)),-moz-linear-gradient(top,rgba(128,128,128,0),rgba(128,128,128,1));
	background-image: linear-gradient(left,rgba(0,0,0,1),rgba(0,0,0,0),rgba(255,255,255,1)),linear-gradient(top,rgba(128,128,128,0),rgba(128,128,128,1));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,1),rgba(0,0,0,0),rgba(255,255,255,1)),-ms-linear-gradient(top,rgba(128,128,128,0),rgba(128,128,128,1));
	-moz-user-select: none;
	-webkit-user-select: none;
}

.sapUiColorPickerHSL .sapUiColorPicker-ColorPickerMatrix .sapUiMltPadRight .sapUiVlt {
	padding-left: 0;
}

.sapUiColorPickerHSL .sapUiColorPicker-swatches {
	margin-left: 18px;
	margin-right: 16px;
}

.sapUiColorPickerHSL .sapUiColorPickerHSL-RB .sapUiRb {
	margin-left: 10px;
	margin-right: 0;
}
.sapUiColorPickerHSL .sapUiColorPickerHSL-RB .sapUiRb:first-child {
	margin-left: 8px;
	margin-right: 0;
}

.sapUiColorPickerHSL .sapUiColorPicker-Arrow {
	margin-left: 6px;
	margin-top: 0px;
	font-size: 12px;
}

.sapUiColorPickerHSL .sapUiColorPicker-ColorPickerOldColor {
	margin-top: 0;
}

.sapUiColorPickerHSL .sapUiColorPicker-ColorPickerNewColor {
	margin-top: 0;
}

.sapUiColorPickerHSL .sapUiColorPicker-swatches > div:last-child,
.sapUiColorPickerHSL .sapUiColorPicker-swatches > div:first-child {
	background-image: url(img/ColorPicker/Swatch_BG.png);
	background-position: 100%;
	background-repeat: no-repeat;
}

.sapUiColorPickerHSL .sapUiSliBar {
	background-image: url(img/ColorPicker/Alphaslider_BG.png);
}

/* needed for the Theme Designer, to overwrite the current style "box-sizing: border-box;" of all div's */
.sapUiColorPicker-ColorPickerMatrix:not(.sapUnifiedColorPicker) div {
	box-sizing: content-box;
}
