/* override header cell background color for non-accessibility themes */
html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .sapUiDemoApps .headlineCell {
	background-color: white !important;
}

/* override default padding for headline cells */
.sapUiDemoApps .headlineCell .sapUiBlockCellContent {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* override color for link to demo apps overview (features, controls, libraries, etc.) */
.readMoreLink {
    color: #7ed0ff;
}

/*gradient colors for all different browsers */
html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .gradient {
	background: #a9c4df; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9c4df 0%, #e7ecf0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a9c4df 0%,#e7ecf0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a9c4df 0%,#e7ecf0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9c4df', endColorstr='#e7ecf0',GradientType=0 ); /* IE6-9 */
}
