/* ============================================== */
/* CSS for control sap.ui.unified/CalendarLegend  */
/* High Contrast Black theme                      */
/* ============================================== */

.sapUiUnifiedLegend {
	border: 1px solid @sapUiContentForegroundBorderColor;
	padding: 11px 16px;
}

.sapUiUnifiedLegend[data-sap-ui-popup] {
	box-shadow: @sapUiShadowLevel3;
}

/*** items and colors ***/

.sapUiUnifiedLegendWorkingDay > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @sapUiListBackground;
}

.sapUiUnifiedLegendNonWorkingDay > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @sapUiHcReducedBackground;
}

.sapUiCalLegDayType01 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @sapUiAccent1;
}

.sapUiCalLegDayType02 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @sapUiAccent2;
}

.sapUiCalLegDayType03 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @sapUiAccent3;
}

.sapUiCalLegDayType04 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: darken(saturate(@sapUiAccent2, 70), 5);
}

.sapUiCalLegDayType05 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @sapUiAccent4;
}

.sapUiCalLegDayType06 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @sapUiAccent6;
}

.sapUiCalLegDayType07 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @sapUiAccent7;
}

.sapUiCalLegDayType08 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @sapUiAccent8;
}

.sapUiCalLegDayType09 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: darken(@sapUiAccent6, 15);
}

.sapUiCalLegDayType10 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: darken(desaturate(@sapUiAccent4, 40), 2);
}

.sapUiCalLegDayType11 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: lighten(saturate(@sapUiAccent1,15),20);
}

.sapUiCalLegDayType12 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: lighten(desaturate(@sapUiAccent2,50),10);
}

.sapUiCalLegDayType13 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: lighten(saturate(@sapUiAccent3,50),5);
}

.sapUiCalLegDayType14 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: lighten(saturate(@sapUiAccent2,30),15);
}

.sapUiCalLegDayType15 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: lighten(saturate(@sapUiAccent4,50),20);
}

.sapUiCalLegDayType16 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: desaturate(@sapUiAccent1,20);
}

.sapUiCalLegDayType17 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: lighten(saturate(@sapUiAccent7,30),15);
}

.sapUiCalLegDayType18 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: darken(desaturate(@sapUiAccent8,50),15);
}

.sapUiCalLegDayType19 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: lighten(desaturate(@sapUiAccent6,30),10);
}

.sapUiCalLegDayType20 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
  background: saturate(@sapUiAccent5,70);
}