/* =========================================================== */
/* CSS for control sap.ui.integration.controls/AnalyticsCloudContent */
/* Base theme                                                  */
/* =========================================================== */

.sapFCard {
	.sapFCardContent:has(.sapFCardAnalyticsCloudContent),
	.sapFCardAnalyticsCloudContent {
		overflow: visible;
	}

	.sapFCardContent:has(.sapFCardAnalyticsCloudContent) {
		padding-bottom: 0.8rem;
	}

	.sapUiIntAnalyticsCloudContentContainer {
		height: 100%;
		width: 100%;
	}
}
