/* =========================================================== */
/* CSS for control sap.ui.integration.controls/LinkWithIcon */
/* Base theme												  */
/* =========================================================== */

.sapUiIntCardLinkWithIcon.sapMLnk>.sapUiIcon {
	cursor: inherit;
	margin-right: 0.5rem;
	line-height: 1rem;
	vertical-align: text-bottom;
}
