/* ====================================================== */
/* CSS for control sap.ui.integration.cards/ObjectContent */
/* Base theme                                             */
/* ====================================================== */

.sapFCardObjectContent {
	padding: 1rem 1rem 0 1rem;
}

.sapFCardObjectGroup {
	padding-bottom: 1.75rem;

	& .sapFCardObjectItemTitle {
		margin-bottom: 0.5rem;
	}

	> .sapFCardObjectItemLabel {
		margin-top: 1rem;
	}

	&:not(.sapFCardObjectGroupWithTitle) {

		/* Don't apply margin to the first label when there is no title */
		> .sapFCardObjectItemLabel {
			margin-top: 0;
		}

		/* Apply margin to the rest of the labels */
		> .sapFCardObjectItemLabel ~ .sapFCardObjectItemLabel {
			margin-top: 1rem;
		}
	}

	& .sapFCardObjectItemText {
		margin-top: 0.25rem;
	}

	& .sapFCardObjectItemAvatar {
		margin-right: 0.5rem;
	}
}

.sapFCardObjectGroup.sapFCardObjectGroupLastInColumn {
	padding-bottom: 1rem;
}

.sapFCardObjectSpaceBetweenGroup {
	margin-right: 2rem;
}

.sapFCard .sapFCardContent {
	.sapFCardObjectContent .sapUiAFLayout .sapUiAFLayoutItem.sapFCardInvisibleContent {
		display: none;
	}
}
