/* ======================================== */
/* CSS for control sap.ui.commons/ComboBox  */
/* Fiori 3 theme                            */
/* ======================================== */

.sapUiTfCombo{
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
}

.sapUiTfBrd.sapUiTfCombo {
	padding: 0 20px 0 0;
}

.sapUiTfComboIcon {
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.sapUiTfStd > .sapUiTfComboIcon {
	background-image: url(img/combobox/ComboBoxArrow_regular.png);
}

.sapUiTfStd > .sapUiTfComboIcon:hover {
	background-image: url(img/combobox/ComboBoxArrow_hover.png);
	background-color: @sapUiFieldHoverHelpBackground;
}

.sapUiTfDsbl > .sapUiTfComboIcon {
	background-image: url(img/combobox/ComboBoxArrow_dsbl.png);
}