<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<link rel="stylesheet" href="./main.css">
	<script src="../../../../../../../resources/sap-ui-core.js"
			data-sap-ui-async="true"
			data-sap-ui-compat-version="edge"
			data-sap-ui-libs="sap.ui.core"
			data-sap-ui-on-init="module:sample/main"
			data-sap-ui-resource-roots='{
				"sample": ".",
				"test1/Component": "./Component1",
				"test1":  "./",
				"test2/Component": "./Component2",
				"test2": "./",
				"test3/Component": "./Component3",
				"test3": "./"
			}'
	></script>
</head>
<body>
	<div id="test"></div>
	<div>
		Test for including stylesheets via Component manifest (including variants).
		<br>
		Should switch color every 3 seconds, from red to green to yellow to blue.
	</div>
	<div id="target"></div>
</body>
</html>
