<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">

		<title>CSSGrid Playground</title>

        <link rel="stylesheet" href="./CSSGrid.css">

		<link rel="stylesheet" href="styles/main.css">
		<script id="sap-ui-bootstrap"
				src="../../../../../../resources/sap-ui-core.js"
				data-sap-ui-libs="sap.ui.layout, sap.m"
				data-sap-ui-compat-version="edge"
				data-sap-ui-resource-roots='{"sap.ui.layout.cssgrid.gridplayground":"./","local":"./"}'
				data-sap-ui-async="true"
				data-sap-ui-on-init="module:local/CSSGrid"
		>
		</script>
		
	</head>

	<body class="sapUiBody sapUiSizeCompact" id="content">
	</body>
</html>