/* ============================= */
/* CSS for control sap.m/Button  */
/* Belize theme                  */
/* ============================= */

@_sap_m_Button_EmphasizedFocusColor: @sapUiContentFocusColor;

/* ---------------------------------------------------------------------*/
/* Custom focus outline:                                                */
/* ---------------------------------------------------------------------*/

html.sap-desktop .sapMBtn:focus > .sapMFocusable {
	outline:          0.0625rem dotted @sapUiContentFocusColor;
	outline-offset:   -0.1875rem;
}

html.sap-desktop .sapMBtn:focus > .sapMBtnActive.sapMFocusable {
	outline-color:    @sapUiContentContrastFocusColor;
}

html.sap-desktop .sapMBtn:focus > .sapMBtnEmphasized.sapMFocusable {
	outline-color:    @_sap_m_Button_EmphasizedFocusColor;
}

html.sap-desktop .sapMBtn:focus > .sapMBtnActive.sapMBtnEmphasized.sapMFocusable {
	outline-color:    @sapUiContentContrastFocusColor;
}

.sapMTB-Transparent-CTX .sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
	border-color: @sapUiButtonLiteBorderColor;
}

.sapMBtnIcon {
	width: 1.375rem;
}

.sapMBtnText .sapMBtnIcon {
	padding-right: 0.4375rem;
}

.sapMBtnText .sapMBtnIcon.sapMBtnIconRight {
	padding-right: 0;
	padding-left: 0.4375rem;
}

.sapUiSizeCompact .sapMBtnText .sapMBtnIcon,
.sapUiSizeCondensed .sapMBtnText .sapMBtnIcon {
	padding-right: 0.375rem;
}

.sapUiSizeCompact .sapMBtnText .sapMBtnIcon.sapMBtnIconRight,
.sapUiSizeCondensed .sapMBtnText .sapMBtnIcon.sapMBtnIconRight {
	padding-right: 0;
	padding-left: 0.375rem;
}

html.sap-desktop .sapMFooter-CTX .sapMBtn:focus .sapMBtnFocusDiv,
.sapMBtn:focus .sapMBtnFocusDiv {
	border:           0.0625rem dashed @sapUiContentFocusColor;
}

html.sap-desktop .sapMFooter-CTX .sapMBtn:focus > .sapMBtnActive > .sapMBtnFocusDiv,
.sapMBtn:focus > .sapMBtnActive > .sapMBtnFocusDiv {
	border-color:    @sapUiContentContrastFocusColor;
}

html.sap-desktop .sapMFooter-CTX .sapMBtn:focus > .sapMBtnEmphasized.sapMBtnActive > .sapMBtnFocusDiv,
html.sap-desktop .sapMBtn:focus > .sapMBtnEmphasized > .sapMBtnFocusDiv {
	border-color:    @_sap_m_Button_EmphasizedFocusColor;
}

.sapMOverflowToolbarMenu-CTX .sapMBtnInner.sapMBtnIconFirst:not(.sapMBtnBack) {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

/* ---------------------------------------------------------------------*/
/* Disabled, hover and active states:                                   */
/* ---------------------------------------------------------------------*/

.sapMBtnDisabled {
	opacity:          0.5;
}

/* ------------------------------------------------ */
/* Buttons in a Bar                                 */
/* (add separators, remove top/bottom border)       */
/* ------------------------------------------------ */

.sapMIBar-CTX .sapMBtn:hover > .sapMBtnHoverable:not(.sapMBtnActive) {
	background-color: @sapUiButtonFooterHoverBackground;
	color:            @sapUiButtonFooterTextColor;
	border-color:     transparent;
}

.sapMIBar-CTX .sapMBtn:hover > .sapMBtnGhost.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
	background: fade(@sapUiButtonLiteTextColor, 20);
	border-color: fade(@sapUiButtonLiteTextColor, 50);
}

.sapMIBar-CTX .sapMBtn:hover > .sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi {
	color: @sapUiButtonLiteTextColor;
}

html.sap-desktop .sapMFooter-CTX .sapMBtnInner.sapMBtnAccept {
	border-color: @sapUiButtonAcceptBorderColor;
}

html.sap-desktop .sapMFooter-CTX .sapMBtnInner.sapMBtnAttention {
	border-color: @sapUiButtonAttentionBorderColor;
}

html.sap-desktop .sapMFooter-CTX .sapMBtnInner.sapMBtnReject {
	border-color: @sapUiButtonRejectBorderColor;
}

.sapMBar-CTX,
.sapMTB-Transparent-CTX {
	& :not(.sapMBtnDisabled) > span.sapMBtnInner.sapMBtnTransparent.sapMBtnActive {
		& > .sapMBtnContent,
		& > .sapMBtnIcon {
			color: @sapUiButtonActiveTextColor;
		}
	}
}

.sapMIBar-CTX .sapMBtnInner,
.sapMBar .sapMBtnInner,
.sapMHeader-CTX .sapMBtnInner,
.sapMFooter-CTX .sapMBtnInner {
	background: @sapUiButtonLiteBackground;
	border-color: @sapUiButtonLiteBorderColor;
}

.sapMIBar-CTX .sapMBtnInner.sapMBtnGhost,
.sapMBar .sapMBtnInner.sapMBtnGhost,
.sapMHeader-CTX .sapMBtnInner.sapMBtnGhost,
.sapMFooter-CTX .sapMBtnInner.sapMBtnGhost {
	background: @sapUiButtonLiteBackground;
	border-color: fade(@sapUiButtonLiteTextColor, 50);
}

.sapMSubHeader-CTX .sapMBtnInner {
	background: @sapUiButtonLiteBackground;
}

.sapMBar-CTX :not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive,
.sapMBar-CTX :not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnTransparent.sapMBtnHoverable.sapMBtnActive,
.sapMBar-CTX :not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnGhost.sapMBtnHoverable.sapMBtnActive {
	background-color: @sapUiButtonActiveBackground;
}

.sapUiSizeCompact {
	.sapMBtnInner.sapMBtnText,
	.sapMBtnInner.sapMBtnIconFirst {
		padding-left: 0.4375rem;
		padding-right: 0.4375rem;
	}
}

.sapMTB-Info-CTX .sapMBtn:hover > .sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi,
.sapMTB-Info-CTX .sapMBtn:hover:not(.sapMBtnDisabled) > .sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized) .sapUiIcon {
	color: @sapUiContentContrastIconColor;
}