/* ============================= */
/* CSS for control sap.m/Dialog  */
/* Belize theme                  */
/* ============================= */

@_sap_m_Dialog_NoStateHeaderShadow: inset 0 -0.0625rem darken(@sapUiGroupContentBackground, 8);
@_sap_m_Dialog_InformationHeaderShadow: inset 0 -0.125rem @sapUiNeutralBorder;

// This parameter is used in sap.m.Select. TODO: remove it when it is removed from there.
@_sap_m_Dialog_HeaderShadowColor: darken(@sapUiGroupContentBackground, 8);

.sapMDialog.sapMPopup-CTX > header .sapMHeader-CTX,
.sapMDialog.sapMPopup-CTX > header .sapMSubHeader-CTX {
	background-color: @sapUiGroupContentBackground;
}

.sapMDialog.sapMMessageDialog:not(.sapMDialogError):not(.sapMDialogWarning):not(.sapMDialogSuccess):not(.sapMDialogInformation):not(.sapMMessageBoxError):not(.sapMMessageBoxWarning):not(.sapMMessageBoxSuccess):not(.sapMMessageBoxInfo):not(.sapMMessageBoxQuestion) > header .sapMDialogTitleGroup .sapMIBar {
	box-shadow: inset 0 -0.125rem darken(@sapUiGroupContentBackground, 8);
}

.sapMDialog > header .sapMDialogTitleGroup .sapMDialogIcon.sapUiIcon {
	font-size: 1rem;
	margin-right: 0.5rem;
}

.sapMDialog > header .sapMDialogTitleGroup .sapMTitle {
	margin: 0;
}

.sapMDialogInformation > header {

	.sapMDialogTitleGroup .sapMDialogIcon.sapUiIcon {
		color: @sapUiNeutralElement;
	}
}

.sapMDialogResizeHandler::before {
	content: attr(data-sap-ui-icon-content);
	color: @sapUiButtonEmphasizedBackground;
}

// buttons on phone must stretch
html.sap-phone .sapMDialog {
	& > footer .sapMFooter-CTX {
		.sapMTBSpacer {
			display: none;
		}

		.sapMBtn {
			-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
			-webkit-flex: 1; /* Chrome */
			flex: 1;
			min-width: 31%;
		}
	}
}