/* ============================= */
/* CSS for control sap.m/Dialog  */
/* Belize theme                  */
/* ============================= */

@_sap_m_Dialog_NoStateHeaderShadow: inset 0 -0.0625rem darken(@sapUiGroupContentBackground, 8);

// This parameter is used in sap.m.Select. TODO: remove it when it is removed from there.
@_sap_m_Dialog_HeaderShadowColor: darken(@sapUiGroupContentBackground, 8);

.sapMDialog.sapMPopup-CTX > header .sapMHeader-CTX,
.sapMDialog.sapMPopup-CTX > header .sapMSubHeader-CTX {
	background-color: @sapUiGroupContentBackground;
}

.sapMDialog.sapMMessageDialog > .sapMDialogTitle .sapMIBar {
	box-shadow: inset 0 -0.125rem darken(@sapUiGroupContentBackground, 8);
}

.sapMDialog > header.sapMDialogTitle .sapMDialogIcon.sapUiIcon {
	font-size: 1rem;
}

.sapMDialogResizeHandler::before {
	content: attr(data-sap-ui-icon-content);
	color: @sapUiButtonEmphasizedBackground;
}

// buttons on phone must stretch
html.sap-phone .sapMDialog {
	& > footer .sapMFooter-CTX {
		.sapMBtn {
			-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
			-webkit-flex: 1; /* Chrome */
			flex: 1;
			min-width: 31%;
		}
	}
}