/* ============================ */
/* CSS for control sap.m/Input  */
/* Belize theme                 */
/* ============================ */

/* Value Help */
.sapMInputVH > .sapMInputBaseInner {
	padding-right: 2.375rem;
}

.sapMInputBaseState .sapMInputValHelp{
	top: 0.375rem;
	right: 0.125rem;
	height: 2.25rem;
	width: 2.25rem;
}

.sapMInputBaseState.sapMInputDescription.sapMInputVH > span > .sapMInputValHelp{
	left: -2.375rem;
	top: 0.125rem;
}

.sapMInputBaseState .sapMInputValHelp > .sapMInputValHelpInner {
	height: 2.25rem;
	width: 2.25rem;
	line-height: 2.25rem;
}

.sapMInputBaseState.sapMInputDescription.sapMInputVH > span > .sapMInputValHelp > .sapMInputValHelpInner{
	vertical-align: top;
}

/* suggestion popup */
div.sapMInputSuggestionPopup {
	border: none;
	box-shadow: @sapUiShadowLevel1;
}

/* Compact size */
.sapUiSizeCompact {
	.sapMInputBaseState .sapMInputValHelp{
		top: 0.3125rem;
		height: 1.375rem;
		width: 1.375rem;
	}

	.sapMInputBaseState.sapMInputDescription.sapMInputVH > span > .sapMInputValHelp{
		left: -1.5rem;
	}

	.sapMInputBaseState .sapMInputValHelp > .sapMInputValHelpInner {
		height: 1.375rem;
		width: 1.375rem;
		line-height: 1.375rem;
	}
}