/* ==========================================================================
   Container
  ========================================================================== */

.sapMLightBox {
  background-color: @sapUiGlobalBackgroundColor;
  box-shadow: @sapUiShadowLevel3;
}

.sapMLightBoxFooter {
  background-color: @sapUiPageFooterBackground;
}

/* ==========================================================================
   Error
  ========================================================================== */

.sapMLightBox .sapMLightBoxErrorTitle {
  color: @sapUiGroupTitleTextColor;
  font-size: @sapMFontHeader2Size;
}

.sapMLightBox .sapMLightBoxErrorSubtitle {
  color: @sapUiContentLabelColor;
  font-size: @sapMFontHeader5Size;
}

.sapMLightBox .sapMLightBoxErrorContainer .sapUiIcon::before,
.sapMLightBox .sapMLightBoxErrorContainerTwoHeaders .sapUiIcon::before {
  color: fade(@sapUiContentNonInteractiveIconColor, 50);
}

/* ==========================================================================
   Footer
  ========================================================================== */

.sapMText.sapMLightBoxTitle {
  color: @sapUiBaseText;
  font-family: @sapUiFontFamily;
  font-size: @sapMFontMediumSize;
}

.sapMText.sapMLightBoxSubtitle {
  color: @sapUiContentLabelColor;
  font-family: @sapUiFontFamily;
  font-size: @sapMFontMediumSize;
}

/* Subsection
  ========================================================================== */