/* =================================== */
/* CSS for control sap.m/ListItemBase  */
/* Belize theme                        */
/* =================================== */

@_sap_m_ListItemBase_ListTextShadowColor: none;

.sapMLIBCounter {
	text-shadow: @_sap_m_ListItemBase_ListTextShadowColor;
}

.sapMListBGTransparent .sapMLIB {
	background: fade(@sapUiListBackground, 0);
}

.sapMListBGTranslucent .sapMLIB {
	background: @sapUiListBackground;
}

.sapMListBGSolid .sapMLIB {
	background: @sapUiListBackground;
}

.sapMLIBActive.sapMLIBFocusable:focus {
	outline-color: @sapUiContentContrastFocusColor;
}

/* Fix for IE/Edge visual appearance of buttons */
.sapMLIB .sapMBtn:hover .sapMBtnHoverable.sapMBtnTransparent {
	background-clip: border-box;
	border-color: transparent;
}