/* ================================== */
/* CSS for control sap.m/MessageTost  */
/* Belize theme                       */
/* ================================== */

.sapMMessageToast {
	font-size: @sapMFontMediumSize;
	padding: 1rem;
	background: @sapUiPageFooterBackground;
	text-shadow: 0 0.0625rem @sapUiContentShadowColor;
	color: @sapUiContentContrastTextColor;
	box-shadow: 0 0.125rem 2.750rem 0.125rem fade(@sapUiContentShadowColor, 50), 0 0.250rem 0.250rem 0 fade(@sapUiContentShadowColor, 15);
	border-radius: 0.14285rem;
}

.sap-desktop .sapMMessageToast {
	background: @sapUiPageFooterBackground;
}