/* ===================================== */
/* CSS for control sap.m/MessagePopover  */
/* Belize theme                          */
/* ===================================== */

.sapMMsgView {
	.sapMLIBActive .sapMLIBImgNav {
		background: none;
	}

	.sapMSLITitle, .sapMSLITitleOnly,
	.sapMSLIWithDescription > .sapMLIBContent > .sapMSLIDiv > .sapMSLIDescription {
		margin-top: 0.125rem;
		margin-bottom: 0.125rem;
	}
}

.sapMMsgView .sapMIBar.sapMHeader-CTX {
	background-color: @sapUiGroupContentBackground;
}