/* ============================= */
/* CSS for sap.m/NumericContent  */
/* Belize theme                  */
/* ============================= */

.sapMNCIconImage {
	font-family: @sapUiFontHeaderFamily;
	font-weight: @sapUiFontHeaderWeight;
	color: @sapUiTileIconColor;
	float: none;
}

.sapMNCScale {
	font-family: @sapUiFontHeaderFamily;
	font-weight: @sapUiFontHeaderWeight;
}

.sapMNCValue {
	font-family: @sapUiFontHeaderFamily;
	font-weight: @sapUiFontHeaderWeight;
	font-size: 2.5rem;
}

.sapMNCValue.Neutral,
.sapMNCIndicator.Neutral,
.sapMNCScale.Neutral {
	color: @sapUiNeutralText;
}

.sapMNCValue.Good,
.sapMNCIndicator.Good,
.sapMNCScale.Good {
	color: @sapUiPositiveText;
}

.sapMNCValue.Error,
.sapMNCIndicator.Error,
.sapMNCScale.Error {
	color: @sapUiNegativeText;
}

.sapMNCValue.Critical,
.sapMNCIndicator.Critical,
.sapMNCScale.Critical {
	color: @sapUiCriticalText;
}

.sapMNCIndicator.Loading,
.sapMNCValue.Loading,
.sapMNCScale.Loading,
.sapMNCIconImage.Loading,
.sapMNCIndicator.Failed,
.sapMNCValue.Failed,
.sapMNCScale.Failed,
.sapMNCIconImage.Failed {
	color: @sapUiContentLabelColor;
	opacity: 0.25;
}

.sapMNC:focus {
	outline: 1px dotted @sapUiContentFocusColor; /* Usage of px as aligned with designers. */
}

.sapMNC:focus:not([tabindex]) {
	outline: none;
}

/* BREAKPOINT FOR SMALL PHONES */
@media screen and (max-width: 374px) {
	.sapMGTHdrTxt > .sapMText {
		font-size: @sapMFontHeader6Size;
	}

	.sapMNCValue {
		font-size: 2rem;
	}
}
