/* =================================== */
/* CSS for control sap.m/ObjectNumber  */
/* Belize theme                        */
/* =================================== */

.sapMObjectNumberUnit {
	font-size: @sapMFontSmallSize;
}

.sapMObjectNumberText {
	font-size: @sapMFontMediumSize;
}

.sapMLIBActive .sapMObjectNumber {
	color: @sapUiContentContrastTextColor;
}

.sapMObjectNumberStatusNone {
}

.sapMObjectNumberStatusError {
	color: @sapUiNegativeText;
}

.sapMObjectNumberStatusWarning {
	color: @sapUiCriticalText;
}

.sapMObjectNumberStatusSuccess {
	color: @sapUiPositiveText;
}