/* ======================================== */
/* CSS for control sap.m/ProgressIndicator  */
/* Belize theme                             */
/* ======================================== */

.sapMPI {
	outline: none;
	background: @sapUiFieldBackground;
	height: 1.375rem;
	width: 100%;
	min-width: 6rem;
	min-height: 1rem;
	padding: 0;
	margin: 0.125rem 0;
	border-radius: 0.5rem;
	overflow: hidden;
}

/* Progress Indicator Bar */
.sapMPIBar {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.sapMPIValueMax .sapMPIBar {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.sapMPIBarNeutral {
	background: @sapUiNeutralElement;
}

.sapMPIBarPositive {
	background: @sapUiPositiveElement;
}

.sapMPIBarNegative {
	background: @sapUiNegativeElement;
}

.sapMPIBarCritical {
	background: @sapUiCriticalElement;
}

/* Progress Indicator Value Text */
.sapMPIText {
	font-family: @sapUiFontFamily;
	font-size: @sapMFontSmallSize;
	font-weight: normal;
	line-height: 1.35rem;
	color: @sapUiContentForegroundTextColor;
}

.sapMPIBarNeutral .sapMPIText.sapMPITextLeft {
	color: contrast(@sapUiNeutralElement, @sapUiContentForegroundTextColor, @sapUiContentContrastTextColor, 0.5);
}

.sapMPIBarPositive .sapMPIText.sapMPITextLeft {
	color: contrast(@sapUiPositiveElement, @sapUiContentForegroundTextColor, @sapUiContentContrastTextColor, 0.5);
}

.sapMPIBarNegative .sapMPIText.sapMPITextLeft {
	color: contrast(@sapUiNegativeElement, @sapUiContentForegroundTextColor, @sapUiContentContrastTextColor, 0.5);
}

.sapMPIBarCritical .sapMPIText.sapMPITextLeft {
	color: contrast(@sapUiCriticalElement, @sapUiContentForegroundTextColor, @sapUiContentContrastTextColor, 0.5);
}

/* Tablet and phone (Cozy)*/
.sapUiSizeCozy .sapMPI,
.sapMDynamicPage-Std-Tablet .sapMPI,
.sapMDynamicPage-Std-Phone .sapMPI {
	height: 2rem;
	margin: 0.25rem 0;

	.sapMPIText {
		line-height: 2rem;
	}
}

/* Compact */
.sapUiSizeCompact .sapMPIText {
	line-height: 1.25rem;
}

/* Condensed */
.sapUiSizeCondensed .sapUiTableCell {
	.sapMPI {
		height: 1.5rem;
		margin: 0;
	}

	.sapMPIText{
		line-height: 1.25rem;
	}
}