/* ====================================== */
/* CSS for control sap.m/RatingIndicator  */
/* Belize theme                           */
/* ====================================== */

@_sap_m_RatingIndicator_IconUnselectedColor: darken(@sapUiContentForegroundColor, 30);
@_sap_m_RatingIndicator_IconHoverColor: darken(@sapUiAccent1, 5);

.sapMRIDisabled {
    opacity: 0.5;
}

/* Custom focus outline */
html.sap-desktop .sapMRI:focus:not(.sapMRIDisabled):not(.sapMRIDisplayOnly){
	outline: 1px dotted @sapUiContentFocusColor;
	outline-offset: -1px;
}

.sapMRIUnsel {
  color: @_sap_m_RatingIndicator_IconUnselectedColor;
}