/* ================================ */
/* CSS for control sap.m/SlideTile  */
/* Belize theme                     */
/* ================================ */

.sapMST {
	box-shadow: @sapUiShadowLevel0;
}

html.sap-desktop .sapMST:focus .sapMSTFocusDiv {
	border: 1px solid @sapUiTileBackground;
}

/* This part is used to achieve dotted white black interlace border*/
html.sap-desktop .sapMST:focus .sapMSTFocusDiv:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0.25rem;
	margin: -1px;
	border: 1px dotted @sapUiContentFocusColor;
}

/* Bulleted indicator of multiple tiles*/
.sapMSTBulleted > span {
	background-color: @sapUiContentNonInteractiveIconColor;
	box-shadow: 0 0 0.25rem fade(@sapUiContentShadowColor, 25);
}

.sapMSTBulleted > span.sapMSTActive {
	background-color: lighten(@sapUiContentNonInteractiveIconColor, 45);
	box-shadow: 0 0 0.25rem fade(@sapUiContentShadowColor, 25);
}

.sapMST .sapMSTIconDisplayArea {
	background-color: darken(@sapUiHighlight, 18);
}

.sapMST.sapMSTIconPressed .sapMSTIconClickTapArea:hover ~.sapMSTIconDisplayArea {
	background-color: @sapUiHighlight;
}

.sapMST .sapMSTIconNestedArea {
	text-shadow: 0px 1px @sapUiButtonEmphasizedTextShadow;
}
