/* ============================= */
/* CSS for control sap.m/Switch  */
/* Belize theme                  */
/* ============================= */

@_sap_m_Switch_OffBackground: lighten(@sapUiButtonBackground, 3);
@_sap_m_Switch_OffBorderColor: @sapUiButtonBorderColor;

/* ------------------------------ */
/* Switch container               */
/* ------------------------------ */

/* focus */

html.sap-desktop .sapMSwtCont:focus > .sapMSwt {
	outline: 1px dotted @sapUiContentFocusColor;
	outline-offset: 0.0625rem;
}

/* ------------------------------ */
/* Switch                         */
/* ------------------------------ */

/* background */

.sapMSwtOff:not(.sapMSwtAcceptReject) {
	background: @_sap_m_Switch_OffBackground;
	border-color: @_sap_m_Switch_OffBorderColor;
}

/* disabled */

.sapMSwtDisabled {
	opacity: 0.5;
}

/* ------------------------------ */
/* Switch handler                 */
/* ------------------------------ */

/* background */

.sapMSwtOff .sapMSwtHandle {
	border-color: @_sap_m_Switch_OffBorderColor;
}

/* ====================================================== */
/* Switch type "AcceptReject"                             */
/* ====================================================== */

/* ------------------------------ */
/* Switch                         */
/* ------------------------------ */

/* background */

.sapMSwtAcceptReject.sapMSwt {
	background: @_sap_m_Switch_OffBackground;
}