/* ============================ */
/* CSS for control sap.m/Table  */
/* Belize theme                 */
/* ============================ */

.sapMListBGTransparent .sapMListTblHeader,
.sapMListBGTransparent .sapMListTblFooter {
	background-color: fade(@sapUiListBackground, 0%);
}

.sapMListBGTranslucent .sapMListTblHeader,
.sapMListBGTranslucent .sapMListTblFooter {
	background-color: @sapUiListBackground;
}

.sapMListBGSolid .sapMListTblHeader,
.sapMListBGSolid .sapMListTblFooter {
	background-color: @sapUiListBackground;
}

/* make the focus visible on all sides */
.sapMSticky .sapMLIBShowSeparator:first-child > td {
	border-top-color: transparent;
}

/* moved due to new default vertical-align regardless of density */
.sapMListTblSelCol,
.sapMListTblNavCol,
.sapMListTblCell {
  vertical-align: top;
}

/* vertical alignment is middle for the compact */
.sapUiSizeCompact{
	.sapMListTblSelCol,
	.sapMListTblNavCol,
	.sapMListTblCell {
		vertical-align: middle;
	}
}

/* default padding of the data cells */
.sapMListTblCell {
	padding-top: .875rem;
	padding-bottom: .875rem;
}

/* reduced padding for compact and vAlign=Middle */
.sapUiSizeCompact .sapMListTblCell,
.sapMListTblRowMiddle > .sapMListTblCell {
	padding-top: .25rem;
	padding-bottom: .25rem;
}