/* ============================ */
/* CSS for control sap.m/Token  */
/* Belize theme                 */
/* ============================ */

.sapMToken {
	background: @sapUiButtonBackground;
	border: 1px solid darken(@sapUiButtonBackground, 10);
	border-radius: 0.125rem;
	color: @sapUiButtonTextColor;
}

.sapContrast .sapMToken,
.sapContrast.sapMToken {
	border: 1px solid lighten(@sapUiButtonBackground, 15);
}

.sapMToken.sapMTokenReadOnly {
	color: @sapUiContentForegroundTextColor;
}

html.sap-desktop .sapMToken:hover {
	background: @sapUiButtonHoverBackground;
	border: 1px solid darken(@sapUiButtonHoverBackground, 5);
	border-radius: 0.125rem;
}

html.sap-desktop .sapMToken:focus {
	outline: 1px dotted @sapUiContentFocusColor;
	outline-offset: -3px;
}

html.sap-desktop .sapMToken.sapMTokenSelected:focus {
	outline: 1px dotted @sapUiContentContrastFocusColor;
}

html.sap-desktop .sapContrast .sapMToken:focus,
html.sap-desktop .sapContrast.sapMToken:focus {
	outline-color: @sapUiContentFocusColor;
}

html[data-sap-ui-browser^="ie"].sap-desktop,
html[data-sap-ui-browser^="ed"].sap-desktop {
	.sapMToken:focus {
		.sapMTokenText:before {
			border: 1px dashed @sapUiContentFocusColor; //dashed only in IE due to visual issues with dotted - ticket 1670468323
		}
	}

	.sapMToken.sapMTokenSelected:focus {
		.sapMTokenText:before {
			border: 1px dashed @sapUiContentContrastFocusColor; //dashed only in IE due to visual issues with dotted - ticket 1670468323
		}
	}
}

.sapMTokenSelected,
.sapMToken.sapMTokenReadOnly.sapMTokenSelected {
	color: @sapUiToggleButtonPressedTextColor;
	background: @sapUiToggleButtonPressedBackground;
	border: 1px solid @sapUiToggleButtonPressedBorderColor;
	border-radius: 0.125rem;
}

html.sap-desktop .sapMToken.sapMTokenSelected:hover {
	background: @sapUiToggleButtonPressedHoverBackground;
	border: 1px solid @sapUiToggleButtonPressedHoverBorderColor;
	border-radius: 0.125rem;
}

.sapMTokenSelected .sapMTokenIcon {
	color: @sapUiToggleButtonPressedTextColor;
}

.sapMTokenIcon {
	color: @sapUiContentIconColor;
}

.sapUiSizeCompact .sapMListTbl .sapMToken .sapUiIcon:not(.sapMLIBImgNav) {
	font-size: 0.75rem;
}