/* ============================== */
/* CSS for control sap.m/Toolbar  */
/* Belize theme                   */
/* ============================== */

html.sap-desktop .sapMTBActive.sapMTBFocused {
	outline: 1px dotted @sapUiContentFocusColor;
	outline-offset: -0.1875rem;
}

/* Info Toolbar Context */
.sapMTB-Info-CTX.sapMTB {
	height: 2rem;
	padding: 0 0.5rem;
	border-bottom: none;

	.sapMText,
	.sapMLabel,
	> .sapMTitle,
	> .sapUiIcon {
		color: inherit;
	}
}

.sapUiFormContainerToolbar > .sapMTB-Transparent-CTX.sapMTB {
	padding-right: 0.25rem;
}

html.sap-desktop .sapMTB-Info-CTX.sapMTBActive.sapMTBFocused{
	outline-color: @sapUiContentContrastFocusColor;
}