/* ============================================== */
/* CSS for control sap.m/WizardProgressNavigator  */
/* Belize theme                                   */
/* ============================================== */

.sapMWizardProgressNav {
	background: @sapUiObjectHeaderBackground;
	font-size: @sapMFontMediumSize;
	border-bottom: solid 0.125rem darken(@sapUiObjectHeaderBackground, 8);
}

.sapMWizardProgressNavStep:hover .sapMWizardProgressNavAnchorCircle {
	background: lighten(@sapUiObjectHeaderBackground, 5);
}

.sapMWizardProgressNavAnchor:focus {
	outline: 1px dotted @sapUiContentFocusColor;
	outline-offset: 1px;
}

.sapMWizardProgressNavAnchorCircle {
	color: @sapUiHighlight;
	background: @sapUiObjectHeaderBackground;
	border-color: @sapUiHighlight;
}

.sapMWizardProgressNavAnchorIcon {
	font-size: @sapMFontLargeSize;
}

.sapMWizardProgressNavAnchorTitle {
	background: @sapUiObjectHeaderBackground;
}

.sapMWizardProgressNavStep::after {
	border-bottom-color: @sapUiHighlight;
}

.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] {

	& .sapMWizardProgressNavAnchor::after {
		background: @sapUiSelected;
	}

	& .sapMWizardProgressNavAnchorCircle {
		background: @sapUiHighlight;
		color: @sapUiContentContrastIconColor;
	}
}

.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] {

	& ~ .sapMWizardProgressNavStep {
		color: fade(@sapUiGroupTitleTextColor, 50);
	}

	/* anchors in all steps after the active one have inactive style */
	& ~ .sapMWizardProgressNavStep .sapMWizardProgressNavAnchorCircle {
		border-color: fade(@sapUiHighlight, 50);
		color: fade(@sapUiHighlight, 50);
	}

	/* all separators after (and including) the active step have inactive style */
	&::after,
	& ~ .sapMWizardProgressNavStep::after {
		border-bottom-color: fade(@sapUiHighlight, 50);
	}
}