/* ========================================== */
/* CSS for control sap.ui.ux3/FaceFilterList  */
/* Evening Horizon theme                      */
/* ========================================== */

/* Header */
.sapUiUx3FFLstHead {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
	border-top: 1px solid darken(@sapUiListHeaderBorderColor, 15); // @sapUiDarkBorder = #bfbfbf
	border-left: 1px solid darken(@sapUiListHeaderBorderColor, 15); // @sapUiDarkBorder = #bfbfbf
	border-right: 1px solid darken(@sapUiListHeaderBorderColor, 15); // @sapUiDarkBorder = #bfbfbf
	background-color: lighten(@sapUiListHeaderBackground, 3); // @sapUiLightestBG = #ffffff
}

.sapUiUx3FFLstHeadTxt {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
}

/* Facet Filter List*/
.sapUiUx3FFLst {
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
}

/* List Box */
.sapUiUx3FFLst > .sapUiLbx {
	width: 100%;
	border-bottom: 1px solid darken(@sapUiListHeaderBorderColor, 15); // @sapUiDarkBorder = #bfbfbf
}