<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>ResponsiveFlowLayout - sap.ui.layout</title>
		<link href="ResponsiveFlowLayout.css" rel="stylesheet">
		<script src="shared-config.js"></script>
		<script id="sap-ui-bootstrap"
			data-sap-ui-async = "true"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-libs="sap.ui.layout,sap.m"
			data-sap-ui-onInit="module:local/ResponsiveFlowLayout"
			data-sap-ui-resourceroots='{
				"local": "./",
				"qunit.internal.acc": "../../../../../test-resources/sap/ui/core/qunit/internal/acc"
			}'
			src="../../../../../resources/sap-ui-core.js">
		</script>
	</head>
	<body class="sapUiBody">
		<div id="content"></div>
	</body>
</html>
