<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Splitter ACC Test - sap.ui.layout</title>
	<script src="../shared-config.js"></script>
	<script id="sap-ui-bootstrap"
			data-sap-ui-async="true"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-libs="sap.ui.layout, sap.m"
			data-sap-ui-resourceroots='{
				"qunit.internal.acc": "../../../../../test-resources/sap/ui/core/qunit/internal/acc"
			}'
			src="../../../../../resources/sap-ui-core.js"
			>
	</script>

	<script>
	sap.ui.getCore().attachInit(function() {
		sap.ui.require([
			"sap/m/Button",
			"sap/m/FlexBox",
			"sap/m/Text",
			"sap/ui/core/library",
			"sap/ui/layout/Splitter"
		], function(Button, FlexBox, Text, coreLibrary, Splitter) {
			"use strict";

			var Orientation = coreLibrary.Orientation;

			var sLorem = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae congue diam. Donec venenatis justo sed bibendum finibus.",
				oSplitter = new Splitter("mySplitter", {
					contentAreas: [
						new FlexBox({
							width: 'auto',
							items: [
								new Text({text: sLorem}),
								new Button({text: "Press me"})
							]
						}),
						new FlexBox({
							width: 'auto',
							items: [
								new Text({text: sLorem}),
								new Button({text: "Press me 2"})
							]
						}),
						new FlexBox({
							width: 'auto',
							items: [
								new Text({text: sLorem}),
								new Button({text: "Press me 3"})
							]
						})
					]
				});
			oSplitter.placeAt("content");

			new Button({
				text: "Switch Orientation",
				press: function () {
					var sOrientation = oSplitter.getOrientation() === Orientation.Vertical ? Orientation.Horizontal : Orientation.Vertical;
					oSplitter.setOrientation(sOrientation);
				}
			}).placeAt("content");
		});
	});
	</script>

</head>
<body class="sapUiBody">
<h1 id="header">ACC Test Page for <code>sap.ui.layout.Splitter</code></h1>
<div id="content" style="height: 500px"></div>
</body>
</html>
