
.sapMPDFViewerLoading {
	visibility: hidden;
}

.sapMPDFViewerWrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.sapMPDFViewerContent {
	width: 100%;
	height: 100%;
	border: 0 none;
	outline: 0 none;
}

.sapMPDFViewerContent.sapMPDFViewerReducedContent {
	height: calc(~'100% - 3.5rem');
}

.sapMPDFViewerError {
	width: 100%;
	height: 100%;
    .sapMMessagePage {
        min-height: 300px;
    }
}

.sapMPDFViewerError.sapMPDFViewerReducedContent {
	height: calc(~'100% - 3.5rem');
}

.sapMPDFViewerNonTrustedIllustratedMessage {
	width: 100%;
	height: 100%;
}