body {
	overflow: hidden;
}

#within {
	display: none;
	position: absolute;
	width: 50%;
	height: 80%;
	background-color: rgba(255, 0, 0, 0.5);
	z-index: 1;
	pointer-events: none;
	top: 20px;
	left: 20px;
}

/* bottom */
.positioned {
	position: absolute !important;
	top: 10px;
	right: 0;
}

html[dir="rtl"] .positioned {
	left: 0;
	right: auto;
}

/* right */
.positioned1 {
	position: absolute !important;
	top: 25px;
	left: 25px;
}

html[dir="rtl"] .positioned1 {
	left: auto;
	right: 25px;
}

/* left */
.positioned2 {
	position: absolute !important;
	top: 80px;
	right: 10px;
}

html[dir="rtl"] .positioned2 {
	left: 10px;
	right: auto;
}

/* top */
.positioned3 {
	position: absolute !important;
	bottom: 10px;
	left: 100px;
}

html[dir="rtl"] .positioned3 {
	left: auto;
	right: 100px;
}

/* vertical bottom */
.positioned4 {
	position: absolute !important;
	top: 150px;
	right: 10px;
}

html[dir="rtl"] .positioned4 {
	left: 10px;
	right: auto;
}

/* vertical top */
.positioned5 {
	position: absolute !important;
	bottom: 100px;
	left: 100px;
}

html[dir="rtl"] .positioned5 {
	left: auto;
	right: 100px;
}

/* horizontal left */
.positioned6 {
	position: absolute !important;
	top: 200px;
	right: 10px;
}

html[dir="rtl"] .positioned6 {
	left: 10px;
	right: auto;
}

.positioned11 {
	position: absolute !important;
	top: 300px;
	right: 10px;
}

html[dir="rtl"] .positioned11 {
	left: 10px;
	right: auto;
}

/* horizontal right */
.positioned7 {
	position: absolute !important;
	top: 350px;
	left: 100px;
}

html[dir="rtl"] .positioned7 {
	left: auto;
	right: 100px;
}

/* auto 1 */
.positioned8 {
	position: absolute !important;
	top: 200px;
	right: 200px;
}

html[dir="rtl"] .positioned8 {
	left: 200px;
	right: auto;
}

/* auto 2 */
.positioned9 {
	position: absolute !important;
	bottom: 200px;
	left: 200px;
}

html[dir="rtl"] .positioned9 {
	left: auto;
	right: 200px;
}

.positioned12 {
	position: absolute !important;
	top: 350px;
	right: 10px;
}

html[dir="rtl"] .positioned12 {
	left: 10px;
	right: auto;
}

.positioned15 {
	position: absolute !important;
	top: 500px;
	right: 10px;
}

html[dir="rtl"] .positioned15 {
	left: 10px;
	right: auto;
}

.positioned16 {
	position: absolute !important;
	top: 550px;
	right: 10px;
}

.vbox {
	position: absolute !important;
	top: 100px;
	left: 10px;
}

html[dir="rtl"] .vbox {
	left: auto;
	right: 10px;
}

.customClassForVisualTests {
	caret-color: transparent;
}