<!DOCTYPE HTML>
<html>
	<head>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Form - sap.ui.layout</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/controls/sap.ui.layout.form.Form.gif">
		<script src="../shared-config.js"></script>
		<script id="sap-ui-bootstrap"
		        data-sap-ui-libs="sap.ui.layout, sap.m"
		        src="../../../../../resources/sap-ui-core.js">
		</script>

		<script src="Form.js"></script>
	</head>
	<body  id="body" class="sapUiBody">
	</body>
</html>
