<!DOCTYPE HTML>
<html>
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Form - sap.ui.layout</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/controls/sap.ui.layout.form.Form.gif">
	<script id="sap-ui-bootstrap" type="text/javascript"
	        data-sap-ui-theme="sap_bluecrystal"
	        data-sap-ui-libs="sap.ui.layout, sap.ui.commons"
	        src="../../../../../resources/sap-ui-core.js"></script>

	<script type="text/javascript">

		var oSB1 = new sap.ui.commons.SegmentedButton("SB1", {
			buttons: [ new sap.ui.commons.Button("B1",{text: "FormLayout"}),
			           new sap.ui.commons.Button("B2",{text: "ResponsiveLayout"}),
			           new sap.ui.commons.Button("B3",{text: "GridLayout"}),
			           new sap.ui.commons.Button("B4",{text: "ResponsiveGridLayout"})
			          ],
			selectedButton: "B1",
			select: function(oEvent){
				var oForm1 = sap.ui.getCore().byId("F1");
				var oForm2 = sap.ui.getCore().byId("F2");
				switch (oEvent.getParameter("selectedButtonId")) {
				case "B1":
					oForm1.setLayout(sap.ui.getCore().byId("L1"));
					oForm2.setLayout(sap.ui.getCore().byId("L_A"));
					break;

				case "B2":
					oForm1.setLayout(sap.ui.getCore().byId("L2"));
					oForm2.setLayout(sap.ui.getCore().byId("L_B"));
					break;

				case "B3":
					oForm1.setLayout(sap.ui.getCore().byId("L3"));
					oForm2.setLayout(sap.ui.getCore().byId("L_C"));
					break;

				case "B4":
					oForm1.setLayout(sap.ui.getCore().byId("L4"));
					oForm2.setLayout(sap.ui.getCore().byId("L_D"));
					break;

				default:
					break;
				}
			}
		}).placeAt("button");

		var oLayout1 = new sap.ui.layout.form.FormLayout("L1");
		var oLayout2 = new sap.ui.layout.form.ResponsiveLayout("L2");
		var oLayout3 = new sap.ui.layout.form.GridLayout("L3");
		var oLayout4 = new sap.ui.layout.form.ResponsiveGridLayout("L4");

		var oForm = new sap.ui.layout.form.Form("F1",{
			title: new sap.ui.core.Title({text: "Form Title", icon: "../../commons/images/ui5_small.png", tooltip: "Title tooltip"}),
			tooltip: "Form tooltip",
			editable: true,
			layout: oLayout1,
			formContainers: [
				new sap.ui.layout.form.FormContainer("C1",{
					title: "contact data",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Name",
							fields: [new sap.ui.commons.TextField()]
						}),
						new sap.ui.layout.form.FormElement({
							label: "First name",
							fields: [new sap.ui.commons.TextField()]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Date of birth",
							fields: [new sap.ui.commons.DatePicker()]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Gender",
							fields: [new sap.ui.commons.RadioButtonGroup({
								items: [new sap.ui.core.Item({text: "male"}),
								        new sap.ui.core.Item({text: "female"})]
							})]
						})
					]
				}),
				new sap.ui.layout.form.FormContainer("C2",{
					title: new sap.ui.core.Title({text: "Address", icon: "../../commons/images/ui5_small.png", tooltip: "Title tooltip"}),
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text:"Street"}),
							fields: [new sap.ui.commons.TextField(),
							         new sap.ui.commons.TextField({width: "5em",
														layoutData: new sap.ui.core.VariantLayoutData({
															multipleLayoutData: [new sap.ui.layout.form.GridElementData({hCells: "1"}),
															                     new sap.ui.layout.GridData({span: "L2 M2 S2"})]})
							         })]
						}),
						new sap.ui.layout.form.FormElement({
							label: "City",
							fields: [new sap.ui.commons.TextField()]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Post code", icon:"../../commons/images/help.gif"}),
							fields: [new sap.ui.commons.TextField({
														layoutData: new sap.ui.core.VariantLayoutData({
															multipleLayoutData: [new sap.ui.layout.form.GridElementData({hCells: "2"}),
															                     new sap.ui.layout.GridData({span: "L2 M2 S2"})]})
												})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Country",
							fields: [new sap.ui.commons.DropdownBox({
								items: [new sap.ui.core.ListItem({text: "Germany"}),
								        new sap.ui.core.ListItem({text: "USA"}),
								        new sap.ui.core.ListItem({text: "England"})]
							})]
						})
					],
					layoutData: new sap.ui.core.VariantLayoutData({
						multipleLayoutData: [new sap.ui.layout.form.GridContainerData({halfGrid: true})]})
				}),
				new sap.ui.layout.form.FormContainer("C3",{
					title: new sap.ui.core.Title({text: "Education", emphasized: true}),
					tooltip: "This container is expandable",
					expandable: true,
					formElements: [
						new sap.ui.layout.form.FormElement({
							fields: [new sap.ui.commons.CheckBox({text: 'Kindergarden'}),
							         new sap.ui.commons.CheckBox({text: 'primary school'})]
						}),
						new sap.ui.layout.form.FormElement({
							fields: [new sap.ui.commons.CheckBox({text: 'high school'})]
						}),
						new sap.ui.layout.form.FormElement({
							fields: [new sap.ui.commons.CheckBox({text: 'college'})]
						}),
						new sap.ui.layout.form.FormElement({
							fields: [new sap.ui.commons.CheckBox({text: 'university'})]
						}),
						new sap.ui.layout.form.FormElement({
							visible: false,
							fields: [new sap.ui.commons.TextField({value: 'you shold not see me'})]
						})
					],
					layoutData: new sap.ui.core.VariantLayoutData({
						multipleLayoutData: [new sap.ui.layout.form.GridContainerData({halfGrid: true})]})
				}),
				new sap.ui.layout.form.FormContainer("C4",{
					formElements: [
						new sap.ui.layout.form.FormElement({
							fields: [new sap.ui.commons.Button({text: 'OK',
														layoutData: new sap.ui.core.VariantLayoutData({
															multipleLayoutData: [new sap.ui.layout.form.GridElementData({hCells: "1"})]})
												}),
							         new sap.ui.commons.Button({text: 'Cancel',
														layoutData: new sap.ui.core.VariantLayoutData({
															multipleLayoutData: [new sap.ui.layout.form.GridElementData({hCells: "1"})]})
							         })]
						})
					],
					layoutData: new sap.ui.core.VariantLayoutData({
						multipleLayoutData: [new sap.ui.layout.form.GridContainerData({halfGrid: true})]})
				}),
				new sap.ui.layout.form.FormContainer("C5",{
					visible: false,
					title: "invisible",
					formElements: [
						new sap.ui.layout.form.FormElement({
							fields: [new sap.ui.commons.TextField({value: 'Hello'})]
						})
					]
				}),
				new sap.ui.layout.form.FormContainer("C6",{
					title: "Background",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "BackgroundDesign",
							fields: [new sap.ui.commons.SegmentedButton("BackCol", {
								buttons: [ new sap.ui.commons.Button("Back1", {text: sap.ui.layout.BackgroundDesign.Transparent}),
								         new sap.ui.commons.Button("Back2", {text: sap.ui.layout.BackgroundDesign.Solid}),
								         new sap.ui.commons.Button("Back3", {text: sap.ui.layout.BackgroundDesign.Translucent})
								        ],
								selectedButton: "Back3",
								select: function(oEvent) {
									var sButtonId = oEvent.getParameter("selectedButtonId");
									var oButton = sap.ui.getCore().byId(sButtonId);
									var sBackground = oButton.getText();
									oLayout1.setBackgroundDesign(sBackground);
									oLayout2.setBackgroundDesign(sBackground);
									oLayout3.setBackgroundDesign(sBackground);
									oLayout4.setBackgroundDesign(sBackground);
								}
							})]
						})
					],
				layoutData: new sap.ui.core.VariantLayoutData({
					multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true})]})
				})]
		});

		oForm.placeAt("content");

		(new sap.ui.commons.Button({text: 'Button after the form'})).placeAt("contentAfterForm");

		//////////////// Form 2 ////////////////////////////////////////////////////////////////////////////////////////

		var oLayoutA = new sap.ui.layout.form.FormLayout("L_A");
		var oLayoutB = new sap.ui.layout.form.ResponsiveLayout("L_B");
		var oLayoutC = new sap.ui.layout.form.GridLayout("L_C");
		var oLayoutD = new sap.ui.layout.form.ResponsiveGridLayout("L_D");

		var oForm = new sap.ui.layout.form.Form("F2",{
			toolbar: new sap.ui.commons.Toolbar("TB1", {
									items: [new sap.ui.commons.Image({src: "../../commons/images/ui5_small.png", width: "25px"}),
									        new sap.ui.commons.TextView("F2-Title", {text: "Car", design: sap.ui.commons.TextViewDesign.H3, tooltip: "Title tooltip"})
									        ],
									rightItems: [ new sap.ui.commons.Button({text: "Text", lite: true}),
									              new sap.ui.commons.Button({icon: "sap-icon://sap-ui5", lite: true})
									             ]
								}),
			ariaLabelledBy: "F2-Title",
			tooltip: "Form tooltip",
			editable: true,
			layout: oLayoutA,
			formContainers: [
				new sap.ui.layout.form.FormContainer("F2C1",{
					toolbar: new sap.ui.commons.Toolbar("TB2", {
							items: [new sap.ui.commons.TextView("F2C1-Title", {text: "technical data", design: sap.ui.commons.TextViewDesign.H4, tooltip: "Title tooltip"})],
							rightItems: [ new sap.ui.commons.Button({text: "Text", lite: true}),
							              new sap.ui.commons.Button({icon: "sap-icon://sap-ui5", lite: true})
							             ]
						}),
					ariaLabelledBy: "F2C1-Title",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Manufacturer",
							fields: [new sap.ui.commons.TextField()]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Model",
							fields: [new sap.ui.commons.TextField()]
						}),
						new sap.ui.layout.form.FormElement({
							label: "initial registration",
							fields: [new sap.ui.commons.DatePicker()]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Engine",
							fields: [new sap.ui.commons.RadioButtonGroup({
								items: [new sap.ui.core.Item({text: "diesel"}),
								        new sap.ui.core.Item({text: "gas"})]
							})]
						})
					],
					layoutData: new sap.ui.core.VariantLayoutData({
						multipleLayoutData: [new sap.ui.layout.form.GridContainerData({halfGrid: true})]})
				}),
				new sap.ui.layout.form.FormContainer("F2C2",{
					title: "You should not see me !!!",
					toolbar: new sap.ui.commons.Toolbar("TB3", {
						items: [new sap.ui.commons.TextView("F2C2-Title", {text: "other data", design: sap.ui.commons.TextViewDesign.H4, tooltip: "Title tooltip"})],
						rightItems: [ new sap.ui.commons.Button({text: "Text", lite: true}),
						              new sap.ui.commons.Button({icon: "sap-icon://collapse-group", lite: true,
						              	press: function(oEvent) {
						              		var oContainer = sap.ui.getCore().byId("F2C2");
						              		if(oContainer.getExpanded()) {
						              			oContainer.setExpanded(false);
						              			oEvent.oSource.setIcon("sap-icon://expand-group");
						              		} else {
						              			oContainer.setExpanded(true);
						              			oEvent.oSource.setIcon("sap-icon://collapse-group");
						              		}
						              	}})
						             ]
					}),
					ariaLabelledBy: "F2C2-Title",
					expandable: true,
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "license tag",
							fields: [new sap.ui.commons.TextField()]
						}),
						new sap.ui.layout.form.FormElement({
							label: "driver",
							fields: [new sap.ui.commons.TextField()]
						})
					],
					layoutData: new sap.ui.core.VariantLayoutData({
						multipleLayoutData: [new sap.ui.layout.form.GridContainerData({halfGrid: true})]})
				})
			]
		}).placeAt("content2");

	</script>

</head>
<body class="sapUiBody" role="application">

	<h1 id="header">Test Page for <code>sap.ui.layout.form.Form</code></h1>

	<div id="button"></div>
	<br>
	<div id="content"></div>
	<br>
	<div id="contentAfterForm"></div>
	<br>
	<div id="content2"></div>
</body>
</html>
