<!DOCTYPE HTML>
<html>
	<head>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>GridLayout - sap.ui.layout.form</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/controls/sap.ui.layout.form.GridLayout.gif">
		<script src="../shared-config.js"></script>
		<script id="sap-ui-bootstrap"
				data-sap-ui-libs="sap.ui.layout, sap.m"
				src="../../../../../resources/sap-ui-core.js"></script>

		<script>

			var changeLayoutData = function(oEvent){
				var oControl = sap.ui.getCore().byId("Sel_C5");
				var oLayoutData = oControl.getLayoutData();
				if(!oLayoutData){
					oLayoutData = new sap.ui.layout.form.GridElementData({hCells: "3"});
					oControl.setLayoutData(oLayoutData);
				}else{
					if(oLayoutData.getHCells() == "3"){
						oLayoutData.setHCells("4");
					}else{
						oLayoutData.setHCells("3");
					}
				}
			};

			var deleteLayoutData = function(oEvent){
				var oControl = sap.ui.getCore().byId("Sel_C5");
				var oLayoutData = oControl.getLayoutData();
				if(oLayoutData){
					oControl.setLayoutData(null);
				}
			};

			var oLayout1 = new sap.ui.layout.form.GridLayout("L1");
			var oLayout2 = new sap.ui.layout.form.GridLayout("L2");
			var oLayout3 = new sap.ui.layout.form.GridLayout("L3");
			var oLayout4 = new sap.ui.layout.form.GridLayout("L4");

			var oForm1 = new sap.ui.layout.form.Form("F1",{
				title: new sap.ui.core.Title({text: "Form Title", icon: "../../commons/images/help.gif", tooltip: "Title tooltip", emphasized: true}),
				editable: true,
				layout: oLayout1,
				formContainers: [
					new sap.ui.layout.form.FormContainer("C1",{
						title: "contact data",
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text:"ID"}),
								fields: [new sap.m.Input({value: "SAP SE", required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Street / Number",
								fields: [new sap.m.Input({value: "Dietmar-Hopp-Allee", layoutData: new sap.ui.layout.form.GridElementData({hCells: "12"})}),
												 new sap.m.Input({value: "16", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text: "Post code / City"}),
								fields: [new sap.m.Input({value: "69190", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
												 new sap.m.Input({value: "Walldorf", layoutData: new sap.ui.layout.form.GridElementData({hCells: "11"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.m.Input({value: "DE", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
												 new sap.m.Input({value: "Germany", layoutData: new sap.ui.layout.form.GridElementData({hCells: "12"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Date of birth",
								fields: [new sap.m.DatePicker({dateValue: new Date(2012, 11, 12), layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Gender",
								fields: [new sap.m.RadioButtonGroup({
									buttons: [new sap.m.RadioButton({text: "male"}),
									          new sap.m.RadioButton({text: "female"})]
								})]
							})
						]
					}),
					new sap.ui.layout.form.FormContainer("C2",{
						title: "Text Area",
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: "Text Area",
								fields: [new sap.m.TextArea({layoutData: new sap.ui.layout.form.GridElementData({hCells: "full"})})]
							})
						]
					}),
					new sap.ui.layout.form.FormContainer("C3",{
						title: new sap.ui.core.Title({text: "Two Column", level: sap.ui.core.TitleLevel.H5}),
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text:"Required"}),
								fields: [new sap.m.Input({required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Colspan 4 / 1",
								fields: [new sap.m.Text({text: "4 cells", layoutData: new sap.ui.layout.form.GridElementData({hCells: "4"})}),
												 new sap.m.Text({text: "1 cell", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text: "Colspan 2 / 3"}),
								fields: [new sap.m.Text({text: "2 cells", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
												 new sap.m.Text({text: "3 cells", layoutData: new sap.ui.layout.form.GridElementData({hCells: "3"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Colspan 1 / 4",
								fields: [new sap.m.Link({text: "1 cell", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "4"})})]
							})
						],
					layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
					}),
					new sap.ui.layout.form.FormContainer("C4",{
						title: new sap.ui.core.Title({text: "Form Layout", level: sap.ui.core.TitleLevel.H5}),
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text:"ID"}),
								fields: [new sap.m.Input({required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Street / Number",
								fields: [new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "4"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text: "Post code / City"}),
								fields: [new sap.m.Input({showValueHelp: true, valueHelpRequest: function(oEvent) { sap.m.MessageBox.alert("Value help requested"); }, layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "3"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "4"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Text Area",
								fields: [new sap.m.TextArea({required: true, layoutData: new sap.ui.layout.form.GridElementData({hCells: "full"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Image",
								fields: [new sap.m.Image({src: "../../commons/images/SAPLogo.gif", densityAware: false, layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})})]
							})
						],
					layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
					}),
					new sap.ui.layout.form.FormContainer("C5",{
						title: new sap.ui.core.Title({text: "Address", icon: "../../commons/images/mail.gif", tooltip: "Title tooltip", level: sap.ui.core.TitleLevel.H5}),
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text:"Street"}),
								fields: [new sap.m.Input(),
												 new sap.m.Input({enabled: false})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "City",
								fields: [new sap.m.Input(),
												 new sap.m.Input({editable: false, layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text: "Post code"}),
								fields: [new sap.m.Input()]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.m.Select("Sel_C5",{
									items: [new sap.ui.core.ListItem({text: "Germany"}),
													new sap.ui.core.ListItem({text: "USA"}),
													new sap.ui.core.ListItem({text: "England"})]
								})]
							})
						],
					layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
					}),
					new sap.ui.layout.form.FormContainer("C6",{
						title: new sap.ui.core.Title({text: "Education", icon: "sap-icon://education", level: sap.ui.core.TitleLevel.H5}),
						tooltip: "This container is expandable",
						expandable: true,
						formElements: [
							new sap.ui.layout.form.FormElement({
								fields: [new sap.m.CheckBox({text: 'Kindergarden'}),
												 new sap.m.CheckBox({text: 'primary school'})]
							}),
							new sap.ui.layout.form.FormElement({
								fields: [new sap.m.CheckBox({text: 'high school'})]
							}),
							new sap.ui.layout.form.FormElement({
								fields: [new sap.m.CheckBox({text: 'college'})]
							}),
							new sap.ui.layout.form.FormElement({
								fields: [new sap.m.CheckBox({text: 'university'})]
							})
						],
						layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
					}),
					new sap.ui.layout.form.FormContainer("C7",{
						formElements: [
							new sap.ui.layout.form.FormElement({
								fields: [new sap.m.Button({text: 'Change LayoutData',
																	press: changeLayoutData,
																	layoutData: new sap.ui.layout.form.GridElementData({hCells: "3"})}),
												 new sap.m.Button({text: 'Reset LayoutData',
																	press: deleteLayoutData,
																	layoutData: new sap.ui.layout.form.GridElementData({hCells: "3"})}),
												 new sap.m.Button({text: 'OK',
																	layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
												 new sap.m.Button({text: 'Cancel',
																	layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})]
							})
						],
						layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: false})
					}),
					new sap.ui.layout.form.FormContainer("C8",{
						title: new sap.ui.core.Title({text: "Test for vCells"}),
						formElements: [
										new sap.ui.layout.form.FormElement({
											label: new sap.m.Label("Label1", {text:"Label1"}),
											fields: [new sap.m.TextArea({height: "9rem", layoutData: new sap.ui.layout.form.GridElementData({vCells: 3})}),
															 new sap.m.TextArea({height: "6rem", layoutData: new sap.ui.layout.form.GridElementData({vCells: 2})}),
															 new sap.m.TextArea({height: "3rem", layoutData: new sap.ui.layout.form.GridElementData({vCells: 1})})
																]
										}),
										new sap.ui.layout.form.FormElement({
											fields: [new sap.m.TextArea({height: "3rem", ariaLabelledBy: "Label1", layoutData: new sap.ui.layout.form.GridElementData({vCells: 1})}),
															 new sap.m.TextArea({height: "6rem", ariaLabelledBy: "Label1", layoutData: new sap.ui.layout.form.GridElementData({vCells: 2})})
																]
										}),
										new sap.ui.layout.form.FormElement({
											label: new sap.m.Label({text:"Label3"}),
											fields: [new sap.m.TextArea({height: "3rem", layoutData: new sap.ui.layout.form.GridElementData({vCells: 1})})
																]
										})
						],
						layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
					})
				]
			}).placeAt("content");

			var oForm2 = new sap.ui.layout.form.Form("F2",{
				title: new sap.ui.core.Title({text: "Form: One Column (Fixed Width)"}),
				editable: true,
				layout: oLayout2,
				formContainers: [
					new sap.ui.layout.form.FormContainer("C9",{
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text:"ID"}),
								fields: [new sap.m.Input({required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Street / Number",
								fields: [new sap.m.Input(),
												 new sap.m.Input()]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text: "Post code / City"}),
								fields: [new sap.m.Input(),
												 new sap.m.Input()]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.m.Input(),
												 new sap.m.Input(),
												 new sap.m.Input()]
							})
						]
					})
				]
			}).placeAt("content");

			var oForm3 = new sap.ui.layout.form.Form("F3",{
				title: new sap.ui.core.Title({text: "Form: One Column A (Responsive)"}),
				editable: true,
				layout: oLayout3,
				formContainers: [
					new sap.ui.layout.form.FormContainer("C10",{
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text:"ID"}),
								fields: [new sap.m.Input({required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Street / Number",
								fields: [new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "4"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text: "Post code / City"}),
								fields: [new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "3"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "4"})})]
							})
						]
					})
				]
			}).placeAt("content2");

			var oForm4 = new sap.ui.layout.form.Form("F4",{
				title: new sap.ui.core.Title({text: "Form: One Column B (Responsive)"}),
				editable: true,
				layout: oLayout4,
				formContainers: [
					new sap.ui.layout.form.FormContainer("C11",{
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text:"ID"}),
								fields: [new sap.m.Input({required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Street / Number",
								fields: [new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "4"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.m.Label({text: "Post code / City"}),
								fields: [new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "3"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
												 new sap.m.Input({layoutData: new sap.ui.layout.form.GridElementData({hCells: "4"})})]
							})
						]
					})
				]
			}).placeAt("content3");

		</script>

	</head>
	<body class="sapUiBody" role="application">

		<h1 id="header">Test Page for <code>sap.ui.layout.form.GridLayout</code></h1>

		<div id="content"></div>
		<br>
		<div id="content2" style="width: 45%; display: inline-block"></div>
		<div style="width: 6%; display: inline-block"></div>
		<div id="content3" style="width: 45%; display: inline-block"></div>
	</body>
</html>
