<!DOCTYPE HTML>
<html>
	<head>

		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>ResponsiveGridLayout - sap.ui.layout.form</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/controls/sap.ui.layout.form.GridLayout.gif">
		<script id="sap-ui-bootstrap" type="text/javascript"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.ui.layout, sap.ui.commons"
				src="../../../../../resources/sap-ui-core.js"></script>

		<script type="text/javascript">

			var changeLayoutData = function(oEvent){
				var oControl = sap.ui.getCore().byId("DDB_C5");
				var oLayoutData = oControl.getLayoutData();
				if(!oLayoutData){
					oLayoutData = new sap.ui.layout.GridData({span: "L3 M3 S3"});
					oControl.setLayoutData(oLayoutData);
				}else{
					if(oLayoutData.getSpan() == "L3 M3 S3"){
						oLayoutData.setSpan("L4 M4 S4");
					}else{
						oLayoutData.setSpan("L3 M3 S3");
					}
				}
			};

			var deleteLayoutData = function(oEvent){
				var oControl = sap.ui.getCore().byId("DDB_C5");
				var oLayoutData = oControl.getLayoutData();
				if(oLayoutData){
					oControl.setLayoutData(null);
				}
			};

			var moveContainer = function(oEvent){

				var oForm = sap.ui.getCore().byId("F1");
				var oContainer = sap.ui.getCore().byId("C2");
				oForm.removeFormContainer(oContainer);
				if(oEvent.getParameter("pressed")){
					oForm.insertFormContainer(oContainer, 0);
				}else{
					oForm.insertFormContainer(oContainer, 1);
				}

			};

			var newContainer = function(oEvent){

				var oForm = sap.ui.getCore().byId("F1");
				var oContainer = sap.ui.getCore().byId("CX");
				if(oEvent.getParameter("pressed")){
					oForm.addFormContainer(oContainer);
				}else{
					oForm.removeFormContainer(oContainer);
				}

			};

			var visibilityContainer = function(oEvent){

				var oForm = sap.ui.getCore().byId("F1");
				var oContainer = sap.ui.getCore().byId("C6");
				if(oEvent.getParameter("pressed")){
					oContainer.setVisible(false);
				}else{
					oContainer.setVisible(true);
				}

			};

			var toggleAdjustLabelSpan = function(oEvent){

				var oLayout = sap.ui.getCore().byId("L1");
				if(oEvent.getParameter("pressed")){
					oLayout.setAdjustLabelSpan(true);
				}else{
					oLayout.setAdjustLabelSpan(false);
				}

			};

			var oLayout1 = new sap.ui.layout.form.ResponsiveGridLayout("L1");

			var oForm1 = new sap.ui.layout.form.Form("F1",{
				title: new sap.ui.core.Title({text: "Form Title", icon: "../../commons/images/help.gif", tooltip: "Title tooltip", emphasized: true}),
				editable: true,
				layout: oLayout1,
				formContainers: [
					new sap.ui.layout.form.FormContainer("C1",{
						title: "contact data",
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text:"ID"}),
								fields: [new sap.ui.commons.TextField({value: "SAP SE", required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Street / Number",
								fields: [new sap.ui.commons.TextField({value: "Dietmar-Hopp-Allee"}),
												 new sap.ui.commons.TextField({value: "16", layoutData: new sap.ui.layout.GridData({span: "L1 M1 S1"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text: "Post code / City"}),
								fields: [new sap.ui.commons.TextField({value: "69190", layoutData: new sap.ui.layout.GridData({span: "L2 M2 S2"})}),
												 new sap.ui.commons.TextField({value: "Walldorf"})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.ui.commons.TextField({value: "DE", layoutData: new sap.ui.layout.GridData({span: "L1 M1 S1"})}),
												 new sap.ui.commons.TextField({value: "Germany"})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Date of birth",
								fields: [new sap.ui.commons.DatePicker({yyyymmdd: "20121212", layoutData: new sap.ui.layout.GridData({span: "L3 M3 S3"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Gender",
								fields: [new sap.ui.commons.RadioButtonGroup({
									items: [new sap.ui.core.Item({text: "male"}),
											new sap.ui.core.Item({text: "female"})]
								})]
							})
						]
					}),
					new sap.ui.layout.form.FormContainer("C2",{
						title: "Text Area",
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text: "Text Area", layoutData: new sap.ui.layout.GridData({span: "L12 M12 S12"})}),
								fields: [new sap.ui.commons.TextArea({layoutData: new sap.ui.layout.GridData({span: "L12 M12 S12"})})]
							})
						]
					}),
					new sap.ui.layout.form.FormContainer("C3",{
						title: new sap.ui.core.Title({text: "Full width", level: sap.ui.core.TitleLevel.H5}),
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text:"Required"}),
								fields: [new sap.ui.commons.TextField({required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Colspan 9 / 1",
								fields: [new sap.ui.commons.TextView({text: "9 cells", layoutData: new sap.ui.layout.GridData({span: "L9 M9 S9"})}),
										new sap.ui.commons.TextView({text: "1 cell", layoutData: new sap.ui.layout.GridData({span: "L1 M1 S1"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text: "Colspan 2 / 8"}),
								fields: [new sap.ui.commons.TextView({text: "2 cells", layoutData: new sap.ui.layout.GridData({span: "L2 M2 S2"})}),
										new sap.ui.commons.TextView({text: "8 cells", layoutData: new sap.ui.layout.GridData({span: "L8 M8 S8"})})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Colspan 1 / 9",
								fields: [new sap.ui.commons.Link({text: "1 cell", layoutData: new sap.ui.layout.GridData({span: "L1 M1 S1"})}),
										new sap.ui.commons.TextField()]
							})
						],
					layoutData: new sap.ui.layout.GridData({linebreak: true, span: "L12 M12 S12"})
					}),
					new sap.ui.layout.form.FormContainer("C4",{
						title: new sap.ui.core.Title({text: "Form Layout", level: sap.ui.core.TitleLevel.H5}),
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text:"ID"}),
								fields: [new sap.ui.commons.TextField({required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Street / Number",
								fields: [new sap.ui.commons.TextField(),
										new sap.ui.commons.TextField()]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text: "Post code / City"}),
								fields: [new sap.ui.commons.TextField(),
										new sap.ui.commons.TextField()]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.ui.commons.TextField(),
										new sap.ui.commons.TextField()]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Text Area",
								fields: [new sap.ui.commons.TextArea({required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Image",
								fields: [new sap.ui.commons.Image({src: "../../commons/images/SAPLogo.gif"})]
							})
						],
					layoutData: new sap.ui.layout.GridData({linebreak: true, span: "L12 M12 S12"})
					}),
					new sap.ui.layout.form.FormContainer("C5",{
						title: new sap.ui.core.Title({text: "Address", icon: "../../commons/images/mail.gif", tooltip: "Title tooltip", level: sap.ui.core.TitleLevel.H5}),
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text:"Street"}),
								fields: [new sap.ui.commons.TextField(),
										new sap.ui.commons.TextField({enabled: false})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "City",
								fields: [new sap.ui.commons.TextField(),
										new sap.ui.commons.TextField({editable: false}),
										new sap.ui.commons.TextField()]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text: "Post code", icon:"../../commons/images/help.gif"}),
								fields: [new sap.ui.commons.TextField()]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.ui.commons.DropdownBox("DDB_C5",{
									items: [new sap.ui.core.ListItem({text: "Germany"}),
											new sap.ui.core.ListItem({text: "USA"}),
											new sap.ui.core.ListItem({text: "England"})]
								})]
							})
						],
					layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
					}),
					new sap.ui.layout.form.FormContainer("C6",{
						title: new sap.ui.core.Title({text: "Education", icon: "sap-icon://education", level: sap.ui.core.TitleLevel.H5}),
						tooltip: "This container is expandable",
						expandable: true,
						formElements: [
							new sap.ui.layout.form.FormElement({
								fields: [new sap.ui.commons.CheckBox({text: 'Kindergarden'}),
										new sap.ui.commons.CheckBox({text: 'primary school'})]
							}),
							new sap.ui.layout.form.FormElement({
								fields: [new sap.ui.commons.CheckBox({text: 'high school'})]
							}),
							new sap.ui.layout.form.FormElement({
								fields: [new sap.ui.commons.CheckBox({text: 'college'})]
							}),
							new sap.ui.layout.form.FormElement({
								fields: [new sap.ui.commons.CheckBox({text: 'university'})]
							})
						]
					}),
					new sap.ui.layout.form.FormContainer("C7",{
						formElements: [
							new sap.ui.layout.form.FormElement({
								fields: [new sap.ui.commons.Button({text: 'Change LayoutData',
																	press: changeLayoutData,
																	layoutData: new sap.ui.layout.GridData({span: "L3 M3 S3"})}),
										new sap.ui.commons.Button({text: 'Reset LayoutData',
																	press: deleteLayoutData,
																	layoutData: new sap.ui.layout.GridData({span: "L3 M3 S3"})}),
										new sap.ui.commons.ToggleButton({text: "move Container",
																	press: moveContainer,
																	layoutData: new sap.ui.layout.GridData({span: "L3 M3 S3"})}),
										new sap.ui.commons.ToggleButton({text: "new Container",
																	press: newContainer,
																	layoutData: new sap.ui.layout.GridData({span: "L3 M3 S3"})}),
										new sap.ui.commons.ToggleButton({text: "visibility Container",
																	press: visibilityContainer,
																	layoutData: new sap.ui.layout.GridData({linebreak: true, span: "L3 M3 S3"})}),
										new sap.ui.commons.ToggleButton({text: "adjust Label Span",
																	pressed: true,
																	press: toggleAdjustLabelSpan,
																	layoutData: new sap.ui.layout.GridData({span: "L3 M3 S3"})}),
										new sap.ui.commons.Button({text: 'OK',
																	layoutData: new sap.ui.layout.GridData({span: "L1 M1 S1"})}),
										new sap.ui.commons.Button({text: 'Cancel',
																	layoutData: new sap.ui.layout.GridData({span: "L1 M1 S1"})})]
							})
						]
					})
				]
			});

			var oTitle = new sap.ui.core.Title("TitleX",{text: "new Container", level: sap.ui.core.TitleLevel.H2});
			var oContainer = new sap.ui.layout.form.FormContainer("CX",{
					title: oTitle,
					formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text:"Label1"}),
								fields: [new sap.ui.commons.TextField({value: "Text1", required: true}),
								         new sap.ui.commons.TextField({value: "Text2"}),
								         new sap.ui.commons.TextField({value: "Text3"})]
							})
					]
			});

			oForm1.placeAt("content");

		</script>

	</head>
	<body class="sapUiBody" role="application">

		<h1 id="header">Test Page for <code>sap.ui.layout.form.ResponsiveGridLayout</code></h1>

		<div id="content"></div>
		<br>
	</body>
</html>
