<!DOCTYPE HTML>
<html>
	<head>

		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>ResponsiveLayout - sap.ui.layout.form</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/controls/sap.ui.layout.form.ResponsiveLayout.gif">
		<script id="sap-ui-bootstrap" type="text/javascript"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.ui.layout, sap.ui.commons"
				src="../../../../../resources/sap-ui-core.js"></script>

		<script type="text/javascript">

			var moveContainer = function(oEvent){

				var oForm = sap.ui.getCore().byId("F1");
				var oContainer = sap.ui.getCore().byId("C2");
				oForm.removeFormContainer(oContainer);
				if(oEvent.getParameter("pressed")){
					oForm.insertFormContainer(oContainer, 0);
				}else{
					oForm.insertFormContainer(oContainer, 1);
				}

			};

			var newContainer = function(oEvent){

				var oForm = sap.ui.getCore().byId("F1");
				var oContainer = sap.ui.getCore().byId("CX");
				if(oEvent.getParameter("pressed")){
					oForm.addFormContainer(oContainer);
				}else{
					oForm.removeFormContainer(oContainer);
				}

			};

			var newElement = function(oEvent){

				var oContainer = sap.ui.getCore().byId("CX");
				var oElement = sap.ui.getCore().byId("EX");
				if(oEvent.getParameter("pressed")){
					oContainer.addFormElement(oElement);
				}else{
					oContainer.removeFormElement(oElement);
				}

			};

			var newField = function(oEvent){

				var oElement = sap.ui.getCore().byId("EX");
				var oField = sap.ui.getCore().byId("TX");
				if(oEvent.getParameter("pressed")){
					oElement.addField(oField);
				}else{
					oElement.removeField(oField);
				}

			};

			var toggleExpandable = function(oEvent){

				var oContainer = sap.ui.getCore().byId("CX");
				oContainer.setExpandable(oEvent.getParameter("pressed"));

			};

			var toggleTitle = function(oEvent){

				var oContainer = sap.ui.getCore().byId("CX");
				if(oEvent.getParameter("pressed")){
					oContainer.setTitle(sap.ui.getCore().byId("TitleX"));
				}else{
					oContainer.setTitle();
				}

			};

			var lineBreakContainer = function(oEvent){

				var oContainer = sap.ui.getCore().byId("CX");
				var oLayoutData = oContainer.getLayoutData();
				oLayoutData.setLinebreak(oEvent.getParameter("pressed"));

			};

			var lineBreakElement = function(oEvent){

				var oElement = sap.ui.getCore().byId("EX");
				var oLayoutData = oElement.getLayoutData();
				if (!oLayoutData){
					oLayoutData = new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: oEvent.getParameter("pressed"), margin: false});
					oElement.setLayoutData(oLayoutData);
				}else{
					oLayoutData.setLinebreak(oEvent.getParameter("pressed"));
				}

			};

			var lineBreakField = function(oEvent){

				var oField = sap.ui.getCore().byId("TX");
				var oLayoutData = oField.getLayoutData();
				if (!oLayoutData){
					oLayoutData = new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: oEvent.getParameter("pressed")});
					oField.setLayoutData(oLayoutData);
				}else{
					oLayoutData.setLinebreak(oEvent.getParameter("pressed"));
				}

			};

			var iState = 0;
			var switchVisible = function(oEvent){
				if( iState == 0 ){
					sap.ui.getCore().byId("C4E4").setVisible(false);
					iState++;
				}else if( iState == 1 ){
					sap.ui.getCore().byId("C4E1").setVisible(false);
					sap.ui.getCore().byId("C4E4").setVisible(true);
					iState++;
				}else {
					sap.ui.getCore().byId("C4E1").setVisible(true);
					iState = 0;
				}
			};

			var oLayout1 = new sap.ui.layout.form.ResponsiveLayout("L1");

			var oForm1 = new sap.ui.layout.form.Form("F1",{
				title: new sap.ui.core.Title({text: "Form Title", icon: "../../commons/images/help.gif", tooltip: "Title tooltip", emphasized: true}),
				editable: true,
				layout: oLayout1,
				formContainers: [
					new sap.ui.layout.form.FormContainer("C1",{
						title: "contact data",
						tooltip: "Test",
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text:"ID"}),
								fields: [new sap.ui.commons.TextField({value: "SAP SE", required: true})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Street / Number",
								fields: [new sap.ui.commons.TextField({value: "Dietmar-Hopp-Allee"}),
												 new sap.ui.commons.TextField({value: "16", width: "4em"})]
							}),
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text: "Post code / City"}),
								fields: [new sap.ui.commons.TextField({value: "69190", width: "5em"}),
												 new sap.ui.commons.TextField({value: "Walldorf"})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Country",
								fields: [new sap.ui.commons.TextField({value: "DE", width: "3em"}),
												 new sap.ui.commons.TextField({value: "Germany"})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Date of birth",
								fields: [new sap.ui.commons.DatePicker({yyyymmdd: "20121212"})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Gender",
								fields: [new sap.ui.commons.RadioButtonGroup({
									items: [new sap.ui.core.Item({text: "male"}),
											new sap.ui.core.Item({text: "female"})]
								})]
							})
						]
					}),
					new sap.ui.layout.form.FormContainer("C2",{
						title: new sap.ui.core.Title({text: "Address", icon: "../../commons/images/mail.gif", tooltip: "Title tooltip", level: sap.ui.core.TitleLevel.H4, emphasized: true}),
						expandable: true,
						formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text:"Label1"}),
								fields: [new sap.ui.commons.TextField({value: "Text1", required: true}),
								         new sap.ui.commons.TextField({value: "Text2"}),
								         new sap.ui.commons.TextField({value: "Text3"})]
							}),
							new sap.ui.layout.form.FormElement({
								label: "Label2",
								fields: [new sap.ui.commons.TextField({value: "1"}),
												 new sap.ui.commons.TextField({value: "2"})]
							}),
							new sap.ui.layout.form.FormElement({
								fields: [new sap.ui.commons.TextField({value: "A"}),
												 new sap.ui.commons.TextField({value: "B"})]
							})
						]
					}),
					new sap.ui.layout.form.FormContainer("C3",{
						formElements: [
							new sap.ui.layout.form.FormElement({
								fields: [new sap.ui.commons.TextArea({value: "Text", width: "100%",
												layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({minWidth: 300})})]
							})
						]
					}),
					new sap.ui.layout.form.FormContainer("C4",{
						title: new sap.ui.core.Title({text: "contact data using LayoutData", icon: "sap-icon://email"}),
						tooltip: "Test",
						expandable: true,
						formElements: [
							new sap.ui.layout.form.FormElement("C4E1",{
								label: new sap.ui.commons.Label({text:"ID"}),
								fields: [new sap.ui.commons.TextField({value: "SAP SE", required: true, layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 3})})],
								layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
							}),
							new sap.ui.layout.form.FormElement("C4E2",{
								label: "Street / Number",
								fields: [new sap.ui.commons.TextField({value: "Dietmar-Hopp-Allee", layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 2})}),
												 new sap.ui.commons.TextField({value: "16", width: "4em", layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 1})})],
								layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
							}),
							new sap.ui.layout.form.FormElement("C4E3",{
								label: new sap.ui.commons.Label({text: "Post code / City"}),
								fields: [new sap.ui.commons.TextField({value: "69190", width: "5em", layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 1})}),
												 new sap.ui.commons.TextField({value: "Walldorf", layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 2})})],
								layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
							}),
							new sap.ui.layout.form.FormElement("C4E4",{
								label: "Country",
								fields: [new sap.ui.commons.TextField({value: "DE", width: "3em", layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 1})}),
												 new sap.ui.commons.TextField({value: "Germany", layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 2})})],
								layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
							}),
							new sap.ui.layout.form.FormElement("C4E5",{
								label: "Date of birth",
								fields: [new sap.ui.commons.DatePicker({yyyymmdd: "20121212"})],
								layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
							}),
							new sap.ui.layout.form.FormElement("C4E6",{
								label: "Gender",
								fields: [new sap.ui.commons.RadioButtonGroup({
									items: [new sap.ui.core.Item({text: "male"}),
											new sap.ui.core.Item({text: "female"})]
								})]
							}),
							new sap.ui.layout.form.FormElement("C4E7",{
								fields: [new sap.ui.commons.Button({text: "Visibility", press: switchVisible})],
								layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false, weight: 2})
							})
						],
					layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, minWidth: 400, margin: false})
					}),
					new sap.ui.layout.form.FormContainer("C5",{
						formElements: [
							new sap.ui.layout.form.FormElement({
								fields: [new sap.ui.commons.ToggleButton("B1",{text: "move Container", press: moveContainer}),
								         new sap.ui.commons.ToggleButton("B2",{text: "new Container", press: newContainer}),
								         new sap.ui.commons.ToggleButton("B3",{text: "new Element", press: newElement}),
								         new sap.ui.commons.ToggleButton("B4",{text: "new Field", press: newField}),
								         new sap.ui.commons.ToggleButton("B5",{text: "expandable", press: toggleExpandable}),
								         new sap.ui.commons.ToggleButton("B6",{text: "title",pressed: true, press: toggleTitle}),
								         new sap.ui.commons.ToggleButton("B7",{text: "LineBreak Container",pressed: true, press: lineBreakContainer,
								          		layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true})}),
								         new sap.ui.commons.ToggleButton("B8",{text: "LineBreak Element", press: lineBreakElement}),
								         new sap.ui.commons.ToggleButton("B9",{text: "LineBreak Field", press: lineBreakField})
												]
							})
						],
					layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
					})
					]
			}).placeAt("content");

			var oTitle = new sap.ui.core.Title("TitleX",{text: "new Container", level: sap.ui.core.TitleLevel.H2});
			var oContainer = new sap.ui.layout.form.FormContainer("CX",{
					title: oTitle,
					formElements: [
							new sap.ui.layout.form.FormElement({
								label: new sap.ui.commons.Label({text:"Label1"}),
								fields: [new sap.ui.commons.TextField({value: "Text1", required: true}),
								         new sap.ui.commons.TextField({value: "Text2"}),
								         new sap.ui.commons.TextField({value: "Text3"})]
							})
					],
					layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
			});

			var oElement = new sap.ui.layout.form.FormElement("EX",{
				label: new sap.ui.commons.Label({text:"new Label"}),
				fields: [new sap.ui.commons.TextField({value: "new Text", required: true})]
			});

			var oField = new sap.ui.commons.TextField("TX", {value: "new Field", valueState: sap.ui.core.ValueState.Warning});

		</script>

	</head>
	<body class="sapUiBody" role="application">

		<h1 id="header">Test Page for <code>sap.ui.layout.form.ResponsiveLayout</code></h1>

		<div id="content"></div>
		<br>
	</body>
</html>