<!DOCTYPE HTML>
<html>
	<head>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>ResponsiveGridLayout - sap.ui.layout.form</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/controls/sap.ui.layout.form.GridLayout.gif">
		<script src="../shared-config.js"></script>
		<script id="sap-ui-bootstrap"
				data-sap-ui-libs="sap.ui.layout, sap.m"
				src="../../../../../resources/sap-ui-core.js"></script>

		<script src="ResponsiveGridLayout.js"></script>

	</head>
	<body class="sapUiBody">

		<h1 id="header">Test Page for <code>sap.ui.layout.form.ResponsiveGridLayout</code></h1>

		<div id="content"></div>
		<br>
	</body>
</html>
