<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>SimpleForm - sap.ui.layout.form</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/controls/sap.ui.layout.form.Form.gif">
	<script id="sap-ui-bootstrap" type="text/javascript"
	        data-sap-ui-theme="sap_bluecrystal"
	        data-sap-ui-libs="sap.ui.layout, sap.m"
	        src="../../../../../resources/sap-ui-core.js">
	</script>

	<style type="text/css">
	body {
		overflow: auto;
	}
	</style>

	<script type="text/javascript">

		var oButtonLayout = new sap.m.SegmentedButton("MyLayout", {
			selectedKey: "L1",
			items: [ new sap.m.SegmentedButtonItem({key: "L1", text: "ResponsiveLayout"}),
			         new sap.m.SegmentedButtonItem({key: "L2", text: "GridLayout"}),
			         new sap.m.SegmentedButtonItem({key: "L3", text: "ResponsiveGridLayout"})
			        ],
			select: function(oEvent) {
				var oSimpleForm1 = sap.ui.getCore().byId("SF1");
				var oSimpleForm2 = sap.ui.getCore().byId("SF2");
				switch (oEvent.getParameter("key")) {
				case "L1":
					oSimpleForm1.setLayout(sap.ui.layout.form.SimpleFormLayout.ResponsiveLayout);
					oSimpleForm2.setLayout(sap.ui.layout.form.SimpleFormLayout.ResponsiveLayout);
					break;

				case "L2":
					oSimpleForm1.setLayout(sap.ui.layout.form.SimpleFormLayout.GridLayout);
					oSimpleForm2.setLayout(sap.ui.layout.form.SimpleFormLayout.GridLayout);
					break;

				case "L3":
					oSimpleForm1.setLayout(sap.ui.layout.form.SimpleFormLayout.ResponsiveGridLayout);
					oSimpleForm2.setLayout(sap.ui.layout.form.SimpleFormLayout.ResponsiveGridLayout);
					break;

				default:
					break;
				}
			}
		});

		var oSimpleForm1 = new sap.ui.layout.form.SimpleForm("SF1", {
					minWidth : 1024,
					maxContainerCols: 2,
					editable: true,
					title: "Editable SimpleForm",
					content:[
					        new sap.ui.core.Title({text:"Title 1"}),
					        new sap.m.Label({text:"Label 1"}),
					        new sap.m.Input("I1",{value:"Value 1"}),
					        new sap.m.Label({text:"Label 2"}),
					        new sap.m.Input("I2",{value:"Value 2/1"}),
					        new sap.m.Input("I3",{value:"Value 2/2", layoutData: new sap.ui.core.VariantLayoutData({multipleLayoutData: [new sap.ui.layout.form.GridElementData({hCells: "1"}),new sap.ui.layout.GridData({span: "L2 M2 S2"})]})}),
					        new sap.ui.core.Title({text:"Title 2"}),
					        new sap.m.Label({text:"Label 1"}),
					        new sap.m.Input({value:"Value 1"}),
					        new sap.m.Label({text:"Label 2"}),
					        new sap.m.Input({value:"Value 2/1"}),
					        new sap.m.Input({value:"Value 2/2"})
					]
				});

		var oSimpleForm2 = new sap.ui.layout.form.SimpleForm("SF2", {
					minWidth : 1024,
					maxContainerCols: 2,
					editable: false,
					backgroundDesign: sap.ui.layout.BackgroundDesign.Transparent,
					toolbar: new sap.m.Toolbar("TB1", {
						content: [new sap.m.Title("SF2-Title", {text: "Non-Editable SimpleForm with transparent background and Toolbars", level: sap.ui.core.TitleLevel.H4, titleStyle: sap.ui.core.TitleLevel.H4, tooltip: "Title tooltip"}),
						          new sap.m.ToolbarSpacer(),
						          new sap.m.Button({icon: "sap-icon://sap-ui5"})
						          ]
					}),
					ariaLabelledBy: "SF2-Title",
					content:[
					        new sap.m.Toolbar("TB2", {
					        	content: [new sap.m.Title("SF2C1-Title", {text: "Title 1", level: sap.ui.core.TitleLevel.H5, titleStyle: sap.ui.core.TitleLevel.H5, tooltip: "Title tooltip"}),
					        	          new sap.m.ToolbarSpacer(),
					        	          new sap.m.Button({icon: "sap-icon://sap-ui5"})
					        	          ]
					        }),
					        new sap.m.Label({text:"Label 1"}),
					        new sap.m.Text("T1",{text:"Value 1"}),
					        new sap.m.Label({text:"Label 2"}),
					        new sap.m.Text("T2",{text:"Value 2/1"}),
					        new sap.m.Text("T3",{text:"Value 2/2", layoutData: new sap.ui.core.VariantLayoutData({multipleLayoutData: [new sap.ui.layout.form.GridElementData({hCells: "1"}),new sap.ui.layout.GridData({span: "L2 M2 S2"})]})}),
					        new sap.m.OverflowToolbar("TB3", {
					        	content: [new sap.m.Title("SF2C2-Title", {text: "Title 2", level: sap.ui.core.TitleLevel.H5, titleStyle: sap.ui.core.TitleLevel.H5, tooltip: "Title tooltip"}),
					        	          new sap.m.ToolbarSpacer(),
					        	          new sap.m.Button({icon: "sap-icon://sap-ui5"})
					        	          ]
					        }),
					        new sap.m.Label({text:"Label 1", layoutData: new sap.ui.core.VariantLayoutData({multipleLayoutData: [new sap.ui.layout.GridData({span: "L4 M2 S5", linebreak: true})]})}),
					        new sap.m.Text({text:"Value 1"}),
					        new sap.m.Label({text:"Label 2", layoutData: new sap.ui.core.VariantLayoutData({multipleLayoutData: [new sap.ui.layout.GridData({span: "L4 M2 S5", linebreak: true})]})}),
					        new sap.m.Text({text:"Value 2/1"}),
					        new sap.m.Text({text:"Value 2/2"})
					]
				});

		var oApp = new sap.m.App("myApp", {
			pages: new sap.m.Page("page1", {
				title: "Test Page for sap.ui.layout.form.SimpleForm using Mobile controls",
				content: [
				          oSimpleForm1,
				          oSimpleForm2
				         ],
				footer: new sap.m.Bar({
									contentMiddle: [oButtonLayout]
								})
			})
		}).placeAt("body");

	</script>

</head>
<body id="body" class="sapUiBody">
</body>
</html>
