<template>

	<div class="titlesSpace">

		<div class="titlesSpaceViewport">

			<h1 class="titlesIntro">
				Just now, in an IT industry close to you....
			</h1>

			<h1 class="titlesHeader">
				SAPUI5
				<sub>Explored</sub>
				<p>(Without Animations in Internet Explorer 9)</p>
			</h1>

			<div class="titlesText">

				<p class="caption">Episode V</p>
				<p>In a period where HTML has become a standard UI technology,
					SAP's UI5 has won its first battles against evil proprietary forces.
					Pursued by agents of native technologies SAPUI5 now advances to mobile devices and beyond.
					This app gives a quick overview of the arsenal at hand:</p>

				<p class="caption">Action</p>
				<p>Do your users need to trigger actions to restore freedom to the galaxy? Use these controls.
				</p>

				<p class="caption">Container</p>
				<p>Don't scatter your controls all around the place.
					Organizing them in containers might hide you from the empire's remote probes.
				</p>

				<p class="caption">Display</p>
				<p>Don't suppress information but display them to your small band of rebel users.
				</p>

				<p class="caption">Layout</p>
				<p>Beat the enemy by arranging your controls in different formations.
				</p>

				<p class="caption">List</p>
				<p>Lists are very common in the mobile world.
					They present a set of items vertically, keeping evil disarrangement at bay.
				</p>

				<p class="caption">List Item</p>
				<p>sap.m provides a basic set of predefined list items ...
					and the custom list item gives you all the flexibility necessary.
				</p>

				<p class="caption">Popup</p>
				<p>Use the element of surprise against your enemy; every good application has popups.
				</p>

				<p class="caption">User Input</p>
				<p>Sooner or later you'll need some user input to lead the way.
				</p>

				<p>... may the force and good luck be with you.</p>

			</div>

		</div>

	</div>
</template>