/* ============================================== */
/* CSS for control sap.ui.unified/CalendarLegend  */
/* Belize theme                                   */
/* ============================================== */

/*** items and colors ***/

@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType01: @sapUiAccent1;
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType02: @sapUiAccent2;
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType03: @sapUiAccent3;
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType04: darken(@sapUiAccent2, 20);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType05: lighten(@sapUiAccent4, 20);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType06: @sapUiAccent6;
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType07: @sapUiAccent7;
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType08: @sapUiAccent8;
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType09: lighten(@sapUiAccent6, 15);
@_sap_ui_unified_CalendarLegend_sapUiCalLegDayType10: darken(@sapUiAccent4, 10);

.sapUiCalLegDayType01 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor{
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType01;
}

.sapUiCalLegDayType02 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType02;
}

.sapUiCalLegDayType03 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType03;
}

.sapUiCalLegDayType04 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType04;
}

.sapUiCalLegDayType05 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType05;
}

.sapUiCalLegDayType06 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType06;
}

.sapUiCalLegDayType07 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType07;
}

.sapUiCalLegDayType08 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType08;
}

.sapUiCalLegDayType09 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType09;
}

.sapUiCalLegDayType10 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
	background: @_sap_ui_unified_CalendarLegend_sapUiCalLegDayType10;
}