/* ==========================================================================
   Landing Page Header styles
  ========================================================================== */

/* basic setup of the welcome page landing image, center vertically and horizontally above image */
.sapUiDemokit .sapMText.welcomeImageTextHeadline {
	font-size: 3rem;
	font-family: Arial;
	color: #fff;
	text-shadow: 0 0 0.125rem #000;
}

.sapUiDemokit .welcomeImageCell {
	position:relative;
}

/*MEDIUM*/
.sapUiDemokit .welcomeImageTextLayout {
	position:absolute;
	top: 70%;
	left:0;
	margin-top: -7rem;
}

.sapUiDemokit .welcomeImageTextLayout .sapUiVltCell {
	text-align: center;
}

.sapUiDemokit .sapMText.welcomeImageTextHeadline {
	font-weight: bold;
	margin-bottom: 1.5rem;
}

/*SMALL*/
@media only screen and (max-width: 64rem) {
	.sapUiDemokit .welcomeImage {
		min-height: 150px;
		object-fit: cover;
	}

	.sapUiDemokit .welcomeImageTextLayout {
		margin-top: -5.5rem;
	}

	.sapUiDemokit .sapMText.welcomeImageTextHeadline {
		font-size: 1.625rem;
		margin-bottom: 0.5rem;
	}

	.sapUiDemokit .welcomeImageTextLayout {
		margin-top: -5rem;
	}

	.sap-phone .sapUiDemokit .welcomeImageTextLayout {
		margin-top: -6rem;
	}
}

/*XTRA LARGE*/
@media only screen and (min-width: 90rem) {
	.sapUiDemokit .sapMText.welcomeImageTextHeadline {
		font-size: 4rem;
		margin-bottom: 2rem;
	}

	.sapUiDemokit .welcomeImageTextLayout {
		margin-top: -10rem;
	}
}

/* ==========================================================================
   Documentation Page Header styles
  ========================================================================== */
.sapUiDemokit .sapMText.sapUiDocumentationDocumentationHeaderText {
	position: absolute;
	padding-left: 2rem;
	left: 0rem;
	font-family: Arial;
	color: #333333;
	text-shadow: 0 0 0.125rem #ffffff;
}

.sapUiDemokit .sapMText.sapUiDocumentationDocumentationHeaderTitleText {
	top: 2.5rem;
	font-size: 3rem;
	margin-left: -0.2rem;
}

.sapUiDemokit .sapMText.sapUiDocumentationDocumentationHeaderSubText {
	top: 6.25rem;
	font-size: 1.25rem;
	font-weight: normal;
}

/*SMALL*/
@media only screen and (max-width: 64rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationDocumentationHeaderTitleText {
		top: 1.25rem;
		font-size: 1.625rem;
		padding-left: 1rem;
		margin-left: -0.0625rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationDocumentationHeaderSubText {
		top: 3.125rem;
		font-size: 0.875rem;
		padding-left: 1rem;
	}
}

/*XTRA LARGE*/
@media only screen and (min-width: 90rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationDocumentationHeaderTitleText {
		top: 2.5rem;
		font-size: 4rem;
		padding-left: 3rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationDocumentationHeaderSubText {
		top: 6.875rem;
		font-size: 2rem;
		padding-left: 3rem;
	}
}
/* ==========================================================================
   Explored Page Header styles
  ========================================================================== */
.sapUiDemokit .sapMText.sapUiDocumentationExploredHeaderText {
	position: absolute;
	padding-left: 2rem;
	left: 0;
	font-family: Arial;
	color: #ffffff;
	text-shadow: 0 0 0.125rem #000000;
}

.sapUiDemokit .sapMText.sapUiDocumentationExploredHeaderTitleText {
	top: 2.5rem;
	font-size: 3rem;
	margin-left: -0.2rem;
}

.sapUiDemokit .sapMText.sapUiDocumentationExploredSubText {
	top: 6.25rem;
	font-size: 1.25rem;
	font-weight: normal;
}

/*SMALL*/
@media only screen and (max-width: 64rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationExploredHeaderTitleText {
		top: 1.25rem;
		font-size: 1.625rem;
		padding-left: 1rem;
		margin-left: -0.0625rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationExploredSubText {
		top: 3.125rem;
		font-size: 0.875rem;
		padding-left: 1rem;
	}
}

/*XTRA LARGE*/
@media only screen and (min-width: 90rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationExploredHeaderTitleText {
		top: 2.5rem;
		font-size: 4rem;
		padding-left: 3rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationExploredSubText {
		top: 6.875rem;
		font-size: 2rem;
		padding-left: 3rem;
	}
}

/* ==========================================================================
   API Page Header styles
  ========================================================================== */
.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderText {
	position: absolute;
	padding-left: 2rem;
	left: 0;
	font-family: Arial;
	color: #ffffff;
	text-shadow: 0 0 0.125rem #000000;
}

.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderTitleText {
	top: 2.5rem;
	font-size: 3rem;
	margin-left: -0.2rem;
}

.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderSubText {
	top: 6.25rem;
	font-size: 1.25rem;
	font-weight: normal;
}

/*SMALL*/
@media only screen and (max-width: 64rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderTitleText {
		top: 1.25rem;
		font-size: 1.625rem;
		padding-left: 1rem;
		margin-left: -0.0625rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderSubText {
		top: 3.125rem;
		font-size: 0.875rem;
		padding-left: 1rem;
	}
}

/*XTRA LARGE*/
@media only screen and (min-width: 90rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderTitleText {
		top: 2.5rem;
		font-size: 4rem;
		padding-left: 3rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderSubText {
		top: 6.875rem;
		font-size: 2rem;
		padding-left: 3rem;
	}
}