.sapUiTheme-sap_belize .demokitInitialPageColorPatternA {
	background-color: #ffffff;
}

.sapUiTheme-sap_belize .demokitInitialPagesColorPatternB {
	background-color: #eff4f9;
}

.sapUiTheme-sap_belize .demokitInitialPagesColorPatternBContrast {
	background-color: #3F5161;
}

.sapUiTheme-sap_belize .demokitInitialPagesColorPatternC {
	background-color: #d5e2ef;
}

.sapUiTheme-sap_belize .demokitInitialPagesColorPatternD {
	background-color: #cadbeb;
}

.sapUiTheme-sap_belize .demokitInitialPagesColorPatternE {
	background-color: #bbd0e6;
}

.sapUiTheme-sap_belize .sapUiBlockLayout .sapUiBlockLayoutRow.sapUiBlockHorizontalCellsRow .sapUiBlockLayoutCell.demokitInitialPagesColorPatternFContrast {
	background-color: #2f3c48;
}

.sapUiTheme-sap_belize .demokitInitialPagesWhiteText {
	color: #FFFFFF;
	text-shadow: none;
}

.sapUiTheme-sap_belize .demokitInitialPagesBrightIcon {
	color: #CAE4FB;
}

.sapUiTheme-sap_belize .demokitInitialPagesBrightLink.sapMLnk,
.sapUiTheme-sap_belize .demokitInitialPagesBrightLink.sapMLnk:hover {
	color: #7ed0ff;
}

.demokitInitialPagesBrightLinkSmallerText {
	font-size: 0.8rem;
}

.demokitInitialPagesBigImageContainer .sapUiBlockCellContent{
	padding: 2rem
}