html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPageColorPatternA {
	background-color: #ffffff;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesColorPatternB {
	background-color: #eff4f9;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesColorPatternBContrast {
	background-color: #3F5161;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesColorPatternC {
	background-color: #d5e2ef;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesColorPatternD {
	background-color: #cadbeb;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesColorPatternE {
	background-color: #bbd0e6;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .sapUiBlockLayout .sapUiBlockLayoutRow.sapUiBlockHorizontalCellsRow .sapUiBlockLayoutCell.demokitInitialPagesColorPatternFContrast {
	background-color: #2f3c48;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesWhiteText {
	color: #fff;
	text-shadow: none;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesWhiteText .sapMLnk {
	color: #fff;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesWhiteText .sapMLnk:hover:not(.sapMLnkDsbl) {
	color: #7ed0ff;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesBrightIcon {
	color: #CAE4FB;
}

html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesBrightLink.sapMLnk,
html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .demokitInitialPagesBrightLink.sapMLnk:hover {
	color: #7ed0ff;
}

.demokitInitialPagesBrightLinkSmallerText {
	font-size: 0.8rem;
}

.demokitInitialPagesBigImageContainer .sapUiBlockCellContent{
	padding: 2rem
}

/* define large cell height for s,m,l */
.sapUiDemokit :not(.sapUiBlockLayoutSizeS) .largeCell {
	min-height: 13rem;
}

.sapUiDemokit .sapUiBlockLayout.sapUiBlockLayoutSizeM .largeCell {
	min-height: 10rem;
}

.sapUiDemokit .sapUiBlockLayout.sapUiBlockLayoutSizeS .largeCell {
	min-height: 7rem;
}

/* shrink image to 200px height on landscape phone mode */
.phoneHeaderImageLandscape {
	max-height: 200px;
	object-fit: cover;
}