.ui-controls-section, .meet-the-library, .samples-section, .theme-designer, .icon-section, .footer-class {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.meet-the-library h2, .samples-section h2, .theme-designer h2, .icon-section h2 {
	margin-top: 0;
	padding-top: 2rem;
}
.ui-controls-section h1 {
	padding-top: 5rem;
}

/* ==========================================================================
   "UI5 Controls" section styles
  ========================================================================== */

.ui-controls-section {
	text-align: center;
	height: 40rem;
	background-color: #394958;
	background-image: linear-gradient(#394958, #7E9EBA);
}

.ui-controls-section h1 {
	color: #009de0;
	font-size: 2rem;
	margin-top: 0;
}

.ui-controls-section h2{
	display: block;
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
}

/* ==========================================================================
   "Meet the Library" sections styles
  ========================================================================== */

.meet-the-library {
	background-color: #f7f7f7;
	padding: 1rem;
	box-sizing: border-box;
}

.meet-the-library h2 {
	text-align: center;
}

.meet-the-library > div {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.meet-the-library--subheader {
	width: 100%;
	margin-bottom: 3rem;
}

.controls-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.controls-list ul {
	list-style: none;
	padding-left: 0;
}

/* "Most Popular" styles
  ========================================================================== */

.most-popular > p {
	text-align: left;
	text-transform: uppercase;
	font-size: 0.75rem;
	margin: 0;
}

/* "Controls" styles
  ========================================================================== */

.all-controls.controls-list {
	justify-content: flex-start;
}

.all-controls ul {
	padding-right: 3rem;
}

.all-controls li:first-child {
	font-size: 0.75rem;
	text-transform: uppercase;
}

/* ==========================================================================
   "Sample the Samples" sections styles
  ========================================================================== */

.samples-section {
	background-color: #fff;
}

.samples-section h2 {
	text-align: center;
}

.sample-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.sample-container img {
	background-color: #ddeef1;
	border: 0.5rem solid #fff;
	border-radius: 7rem;
	box-shadow: 0 0.5rem 1.75rem 0 rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
   "Theme Designer" sections styles
  ========================================================================== */

.theme-designer {
	background-image: url("http://www.mrwallpaper.com/wallpapers/gradient-background-1440x900.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 30rem;
}

.theme-designer h2, .theme-designer  p, .theme-designer--button-container {
	text-align: center;
}


/* ==========================================================================
   "Cool Icons" sections styles
  ========================================================================== */

.icon-section {
	background-image: url("http://cdn1.bestpsdfreebies.com/wp-content/uploads/2014/06/Icon_back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 30rem;
}

.icon-section h2, .icon-section > p {
	text-align: center;
}

.icon-section__search-field {
	text-align: center;
}

/* ==========================================================================
   Footer sections styles
  ========================================================================== */

.footer-class {
	display: flex;
	flex-wrap: wrap;
	background-color: #2f3c48;
	padding: 2rem 10rem;
	box-sizing: border-box;
}

.footer-class__logo {
	flex-grow: 3;
}

.footer-class section {
	flex-grow: 11;
}