<!DOCTYPE HTML>
<template data-controller-name="sap.ui.core.sample.View.async.Sample">
	<div data-sap-ui-type="sap.m.ObjectHeader" data-icon="{img>/products/screw}" data-icon-density-aware="false" data-title="Deluxe Screw">
		<div data-sap-ui-aggregation="statuses">
			<div data-sap-ui-type="sap.m.ObjectStatus" data-text="In Stock" data-state="Success">

			</div>
		</div>
		<div data-sap-ui-aggregation="attributes">
			<div data-sap-ui-type="sap.m.ObjectAttribute" data-text="Weight: 10 gr"></div>
			<div data-sap-ui-type="sap.m.ObjectAttribute" data-text="Size: 1,4 x 1,8 x 0,8 inch"></div>
			<div data-sap-ui-type="sap.m.ObjectAttribute" data-text="Material: Mithril"></div>
			<div data-sap-ui-type="sap.m.ObjectAttribute" data-text="Description: A really nice html screw."></div>
		</div>
	</div>
</template>
Success
