/* ====================================================== */
/* CSS for control sap.ui.integration.cards/Footer */
/* Base theme                                             */
/* ====================================================== */

.sapFCardFooter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}