/*!
 * SAP UI development toolkit for HTML5 (SAPUI5)
 *
 * (c) Copyright 2009-2012 SAP AG. All rights reserved
 */
/* Global CSS for 'base' theme */
/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
/* may be required by SubstitutionRulesManager.css in inbox lib */
/* ---------------------------------------------------------------------------------------- */
/* ============================================= */
/* CSS for control sap.m/App.control */
/* ============================================= */
.sapMApp {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
/* ============================================ */
/* CSS for control sap.m/Bar.control			*/
/* ============================================ */
.sapMBar {
  display: block;
  width: 100%;
  position: relative;
}
footer.sapMBar {
  position: absolute;
  bottom: 0em;
  left: 0em;
}
/* ============================================= */
/* CSS for controlsap.m/BusyScreen.control */
/* ============================================= */
.sapMBusyDialog {
  width: 18.75em;
  text-align: center;
}
.sapMLabel.sapMBusyDialogLabel {
  display: block;
  white-space: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  line-height: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  text-align: center !important;
}
/* ============================================= */
/* CSS for controlsap.m/BusyIndicator.control */
/* ============================================= */
.sapMBusyIndicator {
  display: inline-block;
}
.sapMBsyIndLabel {
  vertical-align: middle;
  padding-left: .5em;
}
.sapMBsyIndIcon {
  vertical-align: middle;
  -webkit-transform: rotate(0deg) translatez(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: sapMBsyIndRotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes sapMBsyIndRotate {
  from {
    -webkit-transform: rotate(0deg) translatez(0);
  }
  to {
    -webkit-transform: rotate(360deg) translatez(0);
  }
}
.sapMSpinner {
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
.sapMSpin {
  position: relative;
  height: 100%;
  width: 100%;
}
/* ============================================= */
/* CSS for control sap.m/Button.control */
/* ============================================= */
.sapMBtn {
  -webkit-appearance: none;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  height: 2.75em;
  line-height: 2.75em;
  margin: .125em 0 .125em 0;
  min-width: 2.75em;
  padding: 0 .625em 0 .625em;
  text-align: center;
  /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */

  /* -webkit-user-select: none; */

}
.sapMBtnContent {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
.sapMBtnContent > img {
  margin: 0.35em 0.125em;
  vertical-align: top;
}
.sapMBtnDisabled {
  cursor: default;
}
/* ============================================= */
/* CSS for control sap.m/Carousel.control */
/* ============================================= */
.sapMCrsl {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 100%;
}
.sapMCrslCont {
  height: 100%;
  -webkit-box-flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.sapMCrslContMstPag {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
/*visual indicator’s container*/
.sapMCrslIndLst {
  position: relative;
  display: -webkit-box;
  /*Center the content*/

  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: transparent;
  padding: 0;
  margin: 0;
  min-height: 1.875em;
  width: 100%;
}
/*Here’s the bubbles*/
.sapMCrslIndLstIt {
  display: block;
  width: 0.375em;
  height: 0.375em;
  background: rgba(220, 220, 220, 0.2);
  padding: 0;
  margin: 0.3125em;
  -webkit-border-radius: 0.1875em;
}
/*The selected bubble*/
.sapMCrslIndLstItSel {
  background: #c3c3c3;
}
/*
 * Class for transparent previous and next button to the left and
 * right of the visual indicator. 
 */
.sapMCrslIndLstBt {
  display: block;
  min-height: 1.875em;
  -webkit-box-flex: 1;
}
/* ============================================= */
/* CSS for control sap.m/CheckBox.control */
/* ============================================= */
.sapMCb {
  display: inline-block;
  position: relative;
}
.sapMCbBg {
  height: 2em;
  width: 2em;
  position: relative;
  display: inline-block;
  top: 0.7em;
}
.sapMCbBg > .sapMCbMark {
  font-size: inherit;
}
.sapMCbMark.sapMCbMarkChecked:before {
  content: "\2714";
}
.sapMLIB-CTX .sapMCb {
  height: 3em;
  width: 3em;
}
.sapMLIB-CTX .sapMCbBg {
  top: 0.5em;
  left: 0.5em;
}
/* ============================================= */
/* CSS for controlsap.m/CustomListItem.control */
/* ============================================= */
.sapMCLI {
  -webkit-box-shadow: inset 0 0.0625em #ffffff, inset 0 -0.0625em 0 #dedede;
  -webkit-user-select: none;
  display: -webkit-box;
}
.sapMCLIActive {
  background-image: -webkit-linear-gradient(bottom, #130e61 0%, #141489 100%);
  color: #ffffff;
}
.sapMCLI .sapMLIBContent {
  -webkit-box-flex: 1;
}
/* ============================================= */
/* CSS for control sap.m/Dialog.control */
/* ============================================= */
.sapMDialog {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-timing-function: ease-in;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
}
.sapMDialogScroll {
  min-height: 100%;
  overflow: hidden;
}
.sapMDialogHidden {
  display: none;
}
.sapMDialogBlockLayer {
  opacity: 0.6;
}
.sapMDialogTransparent {
  opacity: 0;
}
.sap-android .sapMDialog,
.sap-bb .sapMDialog {
  color: #000000;
  border-top: 1px solid #a9a9a9;
  background-color: #ffffff;
}
.sap-android .sapMDialog > header,
.sap-bb .sapMDialog > header {
  border-bottom: 2px solid #130e61;
  /* #0062A9 */

}
.sap-android .sapMDialog > header > h1,
.sap-bb .sapMDialog > header > h1 {
  font-size: 1.2em;
  font-weight: normal;
  padding: 0.375em;
  margin: 0;
  height: 2em;
}
.sap-android .sapMDialog > header > h1 > span,
.sap-bb .sapMDialog > header > h1 > span {
  vertical-align: middle;
  line-height: 2em;
}
.sap-android .sapMDialog > header > h1 > span > .sapMLabel,
.sap-bb .sapMDialog > header > h1 > span > .sapMLabel {
  display: inline-block;
  color: #000000;
  font-size: inherit;
  margin: 0;
}
.sap-android .sapMDialog > header > h1 > .sapMImg,
.sap-bb .sapMDialog > header > h1 > .sapMImg {
  height: 2em;
  vertical-align: middle;
  margin-right: 0.375em;
}
.sap-android .sapMDialog-CTX .sapMDialogActions > .sapMDialogAction > button.sapMBtn,
.sap-bb .sapMDialog-CTX .sapMDialogActions > .sapMDialogAction > button.sapMBtn {
  color: #333333;
  font-size: 1em;
  font-weight: normal;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #ffffff;
  width: 100%;
  margin: 0;
}
.sap-android .sapMDialog-CTX .sapMDialogActions > .sapMDialogAction > button.sapMBtn > .sapMBtnContent > .sapMImg,
.sap-bb .sapMDialog-CTX .sapMDialogActions > .sapMDialogAction > button.sapMBtn > .sapMBtnContent > .sapMImg {
  display: none;
}
.sap-android .sapMDialog-CTX .sapMDialogActions > .sapMDialogAction:last-child > button.sapMBtn,
.sap-bb .sapMDialog-CTX .sapMDialogActions > .sapMDialogAction:last-child > button.sapMBtn {
  border-right: none;
}
.sap-android .sapMDialog-CTX .sapMDialogActions,
.sap-bb .sapMDialog-CTX .sapMDialogActions {
  display: -webkit-box;
}
.sap-android .sapMDialog-CTX .sapMDialogActions > .sapMDialogAction,
.sap-bb .sapMDialog-CTX .sapMDialogActions > .sapMDialogAction {
  -webkit-box-flex: 1;
}
.sap-ios .sapMDialog {
  color: #000000;
  background-color: #ffffff;
  border-radius: 0.3125em;
}
.sap-ios .sapMDialogIPhone {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
.sap-ios .sapMDialog > section {
  border-radius: 0 0 0.3125em 0.3125em;
}
.sap-ios .sapMDialogBottom {
  -webkit-transition-property: -webkit-transform;
  -webkit-transform: translate3d(0px, 100%, 0px);
  transform: translate3d(0px, 100%, 0px);
  transition-property: transform;
}
.sap-ios .sapMDialogSliding {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sap-ios .sapMDialogTransparentBlk {
  opacity: 0;
}
/* ============================================= */
/* CSS for controlsap.m/DisplayListItem.control  */
/* ============================================= */
.sapMDLI {
  display: -webkit-box;
}
.sap-ios .sapMDLI {
  height: 2.75em;
  -webkit-box-align: start;
}
.sap-android .sapMDLI,
.sap-bb .sapMDLI {
  height: 3em;
}
.sap-android .sapMDLI .sapMLIBContent {
  -webkit-box-orient: vertical;
}
.sap-ios .sapMDLI .sapMLIBContent {
  line-height: 2.75em;
}
.sapMDLILabel {
  -webkit-box-flex: 1;
  text-shadow: 0 0.05em 0 #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 3em;
  display: block;
}
.sap-ios .sapMDLILabel {
  font-weight: bold;
  font-size: 1.0625em;
  margin: 0 0 0 0.625rem;
  -webkit-box-align: center;
}
.sap-android .sapMDLILabel,
.sap-bb .sapMDLILabel {
  font-weight: normal;
  line-height: 1.14286em;
  font-size: 1.125em;
  margin: 0 0 0 0.5rem;
}
.sapMDLIValue {
  -webkit-box-flex: 1;
  font-size: 0.875em;
  color: #130e61;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 3em;
}
.sap-ios .sapMDLIValue {
  margin: 0 0 0 0.625rem;
  text-align: right;
  color: #130e61;
}
.sap-android .sapMDLIValue,
.sap-bb .sapMDLIValue {
  line-height: 1.14286em;
  margin: 0 0 0 0.5rem;
  color: #999999;
}
.sapMLIBActive .sapMDLIValue {
  color: #ffffff;
}
.sapMDLI .sapMLIBContent {
  display: -webkit-box;
  -webkit-box-flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ============================================= */
/* CSS for control sap.m/FlexBox.control */
/* ============================================= */
.sapMFlexItem {
  position: relative;
}
.sapMImg {
  border: none;
  /* fix the highlight color on tap*/

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.sapMImg.sapMNoImg {
  visibility: hidden;
}
/* fix chrome browser yellow border on focus problem*/
.sapMImg:focus {
  outline: none;
}
/* ********** */
/* BASE Theme */
/* ********** */
/* ============================================= */
/* CSS for control sap.m/Input.control */
/* ============================================= */
.sapMInput,
.sapMInputInner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
}
.sapMInputDisabled {
  background-color: transparent;
  opacity: 0.3;
}
/* ============================================= */
/* CSS for control sap.m/InputListItem.control   */
/* ============================================= */
.sapMILI {
  height: 2.75em;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}
.sap-ios .sapMILI {
  height: 2.75em;
}
.sap-android .sapMILI,
.sap-bb .sapMILI {
  height: 3em;
}
.sapMILILabel {
  font-size: 1.0625em;
  font-weight: bold;
  text-shadow: 0 0.05em 0 #ffffff;
  -webkit-box-flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.sap-ios .sapMILILabel {
  -webkit-box-align: center;
  margin: 0 0.625em 0 0.625em;
}
.sap-android .sapMILILabel,
.sap-bb .sapMILILabel {
  -webkit-box-align: center;
  font-weight: normal;
  margin: 0 0.5em 0 0.5em;
}
.sapMILIDiv {
  display: -webkit-box;
  -webkit-box-align: center;
}
.sap-ios .sapMILIDiv {
  margin: 0 0 0 0.625em;
}
.sap-android .sapMILIDiv,
.sap-bb .sapMILIDiv {
  margin: 0 0 0 0.5em;
}
.sapMILI .sapMLIBContent {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ============================================= */
/* CSS for control sap.m/Label.control */
/* ============================================= */
.sapMLabel {
  color: #000000;
  font-size: medium;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sapMLabelBold {
  font-weight: bold;
}
/* ============================================= */
/* CSS for controlsap.m/List.control */
/* ============================================= */
.sapMList {
  min-width: 150px;
}
.sapMListInset {
  overflow: hidden;
}
/* ============================================= */
/* CSS for control sap.m/ListItemBase.control    */
/* ============================================= */
.sapMLIB {
  -webkit-user-select: none;
  list-style-type: none;
  -webkit-box-align: center;
}
.sap-ios .sapMLIB {
  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0 0.0625em 1px 0 #ffffff, inset 0 -0.0625em 1px 0 #dedede;
}
.sap-android .sapMLIB,
.sap-bb .sapMLIB {
  border-bottom: 1px solid #dedede;
}
.sapMLIBSelectS,
.sapMLIBSelectM,
.sapMLIBSelectD {
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}
.sap-ios .sapMLIBSelectS,
.sap-ios .sapMLIBSelectM,
.sap-ios .sapMLIBSelectD {
  width: 2.75em;
  height: 2.75em;
}
.sap-android .sapMLIBSelectS,
.sap-bb .sapMLIBSelectS,
.sap-android .sapMLIBSelectM,
.sap-bb .sapMLIBSelectM,
.sap-android .sapMLIBSelectD,
.sap-bb .sapMLIBSelectD {
  width: 3em;
  height: 3em;
}
.sapMLIBSelectAnimation {
  -webkit-animation-name: resize;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes resize {
  0% {
    width: 0em;
  }
  100% {
    width: 2.75em;
  }
}
@-webkit-keyframes resize {
  0% {
    width: 0em;
  }
  100% {
    width: 3em;
  }
}
.sapMLIBUnselectAnimation {
  -webkit-animation-name: close;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes close {
  0% {
    width: 2.75em;
  }
  100% {
    width: 0em;
  }
}
@-webkit-keyframes close {
  0% {
    width: 3em;
  }
  100% {
    width: 0em;
  }
}
.sapMLIBImgNav,
.sapMLIBImgDet,
.sapMLIBImgDel {
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}
.sap-ios .sapMLIBImgNav,
.sap-ios .sapMLIBImgDet,
.sap-ios .sapMLIBImgDel {
  height: 2.75em;
  width: 2.75em;
}
.sap-android .sapMLIBImgNav,
.sap-android .sapMLIBImgDet,
.sap-android .sapMLIBImgDel,
.sap-bb .sapMLIBImgNav,
.sap-bb .sapMLIBImgDet,
.sap-bb .sapMLIBImgDel {
  height: 3em;
  width: 3em;
}
.sap-ios .sapMLIBContentMargin {
  margin-right: 0.625em;
}
.sap-android .sapMLIBContentMargin,
.sap-bb .sapMLIBContentMargin {
  margin-right: 0.5em;
}
.sapMLIBSelected h1,
.sapMLIBSelected p {
  text-shadow: 0 0 0 #ffffff;
}
.sap-ios .sapMLIBSelected {
  background: #cecfdd;
  /*color: darken(@sapUiHighlight, 5%);*/

}
.sap-android .sapMLIBSelected,
.sap-bb .sapMLIBSelected {
  background: #9e9bc3;
  /*color: @sapUiTextInverted;*/

}
.sapMLIBActive {
  color: #ffffff;
}
.sap-ios .sapMLIBActive {
  background-image: -webkit-linear-gradient(top, #141489 0%, #0e0e61 100%);
}
.sap-android .sapMLIBActive,
.sap-bb .sapMLIBActive {
  background-image: -webkit-linear-gradient(bottom, #130e61 0%, #141489 100%);
  background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0, #130e61), color-stop(1, #141489));
}
.sapMLIBActive h1,
.sapMLIBActive p {
  text-shadow: 0 0 0 #ffffff;
  color: #ffffff;
}
/* ============================================= */
/* CSS for control sap.m/NavContainer.control */
/* ============================================= */
.sapMNav {
  overflow: hidden;
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.sapMNavItem,
.sapMNavItem.sapMPage {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
.sapMNavItem.sapMNavItemRendering {
  visibility: hidden;
  left: -4000px;
}
.sapMNavItem.sapMNavItemHidden {
  display: none;
}
/* for slide animation */
.sapMNavItem.sapMNavItemRight {
  -webkit-transition-property: -webkit-transform;
  -webkit-transform: translate3d(100%, 0px, 0px);
  transform: translate3d(100%, 0px, 0px);
  transition-property: transform;
}
.sapMNavItem.sapMNavItemLeft {
  -webkit-transition-property: -webkit-transform;
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transition-property: transform;
  transform: translate3d(-100%, 0px, 0px);
}
.sapMNavItem.sapMNavItemSliding {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* for fade animation */
.sapMNavItem.sapMNavItemTransparent {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 0;
}
.sapMNavItem.sapMNavItemOpaque {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 1;
}
.sapMNavItem.sapMNavItemFading {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* for flip animation */
.sapMNavItem.sapMNavItemFlipNext {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sapMNavItem.sapMNavItemFlipPrevious {
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}
.sapMNavItem.sapMNavItemFlipping {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* ============================================= */
/* CSS for control sap.m/Page.control            */
/* ============================================= */
.sapMPage {
  width: 100%;
  height: 100%;
  position: relative;
}
.sapMPage > section {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3em;
  /* Android version */

  top: 3em;
  /* Android version */

}
.sap-ios .sapMPage > section {
  top: 2.75em;
  bottom: 2.75em;
}
.sapMPage > section:first-child {
  /* when the page has no header, the content area should cover the whole height */

  top: 0;
}
.sapMPage > section:nth-child(3) {
  /* when the page has header & subHeader */

  top: 6em;
}
.sap-ios .sapMPage > section:nth-child(3) {
  /* when the page has header & subHeader */

  top: 5.5em;
}
.sapMPage > section:last-child {
  /* when the page has no footer, the content area should cover the whole height */

  bottom: 0;
}
.sapMPageScroll {
  min-height: 100%;
  overflow: hidden;
}
/* ============================================= */
/* CSS for controlsap.m/Popover.control */
/* ============================================= */
.sapMPopover {
  color: #000000;
  border-width: 0px;
  background-color: #000000;
}
.sapMPopoverCont {
  margin: 0px;
  padding: 0px;
  border-style: none;
}
.sapMPopoverArr {
  display: none;
}
.sapMPopoverBLayer {
  opacity: 0.3;
  /* position fixed doesn't work inside the mobile browser */

  position: absolute;
}
.sapMPopoverCont:focus {
  outline: none;
}
.sapMPopoverTransparent {
  opacity: 0;
}
.saMPopoverOpaque {
  opacity: 1;
}
.sapMPopoverAnimation {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* ============================================= */
/* CSS for controlsap.m/RadioButton.control */
/* ============================================= */
.sapMRb {
  display: inline-block;
  outline: none;
}
.sapMRbB {
  display: -webkit-inline-box;
  vertical-align: middle;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.sap-android .sapMRbB,
.sap-bb .sapMRbB {
  height: 3em;
  width: 3em;
}
.sap-android .sapMRbB .sapMRbBInn,
.sap-bb .sapMRbB .sapMRbBInn {
  height: .53em;
  width: .53em;
  border-radius: 1em;
}
.sap-android .sapMRbB .sapMRbBOut,
.sap-bb .sapMRbB .sapMRbBOut {
  height: 1.03em;
  width: 1.03em;
  border-radius: 1em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.sap-android .sapMRbBLabel,
.sap-bb .sapMRbBLabel {
  vertical-align: top;
  height: 3em;
  line-height: 3em;
}
.sap-ios .sapMRbB {
  width: 2.4em;
  height: 2.4em;
}
.sap-ios .sapMRbBLabel {
  vertical-align: middle;
  height: 2.75em;
  line-height: 2.75em;
}
.sap-android .sapMRbB input,
.sap-bb .sapMRbB input,
.sap-ios .sapMRbB input {
  -webkit-appearance: none;
}
/* ============================================= */
/* CSS for control sap.m/ScrollContainer.control */
/* ============================================= */
.sapMScrollCont {
  overflow: hidden;
  position: relative;
  /* to make the iScroll scrollbars appear at the correct position, if enabled */

}
.sapMScrollContScroll {
  display: inline-block;
  /* to make this content wrapper as large as its content */

}
.sapMScrollContV .sapMScrollContScroll {
  display: block;
  /* when there is only vertical scrolling, the whole available width should be consumed */

}
/* ============================================= */
/* CSS for control     sap.m/SearchField.control */
/* Styling is in general reused from sap.m.Input */
/* ============================================= */
/* ============================================= */
/* CSS for controlsap.m/SegmentedButton.control */
/* ============================================= */
.sapMSegB {
  margin: 0;
  /*To override the native browser margin*/

  padding: 0;
  border: none;
  display: inline-block;
  white-space: nowrap;
}
.sapMSegBBtn {
  list-style: none;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: inline-block;
  text-align: center;
}
.sapMSegB img {
  margin: 0;
  vertical-align: top;
  pointer-events: none;
  /*To disable the save image menu on ios*/

}
/* ======================================= */
/* CSS for control sap.m/Select.control    */
/* ======================================= */
/*
 * [ANDROID|iOS] Select commons
 */
.sapMSlt {
  position: relative;
  display: inline-block;
}
.sapMSltDisabled {
  opacity: 0.3;
}
.sapMSlt > .sapMSltText {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  text-indent: 0;
  text-align: left;
  -webkit-user-select: none;
}
.sapMSlt > select {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border: none;
  margin: 0;
  width: auto;
}
.sapMSlt > select,
.sapMSlt > select > option {
  font: inherit;
}
/* ======================================= */
/* CSS for control sap.m/Slider.control */
/* ======================================= */
/*
 * [ANDROID|iOS] Slider commons
 */
.sapMSldCont {
  display: -webkit-inline-box;
  display: inline-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  box-align: center;
  position: relative;
}
.sapMSldCont,
.sapMSld {
  -webkit-appearance: none;
}
.sapMSld {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}
.sapMSld > .sapMSldThumb {
  display: block;
  position: absolute;
}
.sapMSldCont > input[type="range"] {
  display: none;
}
/* ============================================= */
/* CSS for control sap.m/SplitView.control */
/* ============================================= */
/* ============================================= */
/* CSS for controlsap.m/StandardListItem.control */
/* ============================================= */
.sapMSLI {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}
.sap-ios .sapMSLI {
  height: 2.75em;
}
.sap-android .sapMSLI,
.sap-bb .sapMSLI {
  height: 3em;
}
.sap-ios .sapMSLIImg {
  height: 1.75em;
  width: 1.75em;
  margin: 0.5em 0 0.5em 0.625em;
  border-radius: 0.3125em;
}
.sap-android .sapMSLIImg,
.sap-bb .sapMSLIImg {
  height: 2rem;
  width: 2rem;
  margin: 0.5em 0 0.5em 0.5em;
}
.sap-ios .sapMSLIImgThumb {
  height: 2.75rem;
  width: 2.75rem;
}
.sap-android .sapMSLIImgThumb,
.sap-bb .sapMSLIImgThumb {
  height: 3rem;
  width: 3rem;
}
.sapMSLIDiv {
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
}
.sap-ios .sapMSLIDiv {
  height: 2.75rem;
}
.sap-android .sapMSLIDiv,
.sap-bb .sapMSLIDiv {
  height: 3rem;
}
.sapMSLITitle {
  font-size: 1.0625em;
  text-shadow: 0 0.0588em 0 #f7f7f7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sap-ios .sapMSLITitle {
  line-height: 1.41em;
  margin: 0 0 0 0.625rem;
}
.sap-android .sapMSLITitle,
.sap-bb .sapMSLITitle {
  line-height: 1.66em;
  font-weight: normal;
  margin: 0 0 0 0.5rem;
}
.sapMSLIDescription {
  font-size: 0.875em;
  font-weight: regular;
  text-shadow: 0 0.0714em 0 #f7f7f7;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sap-ios .sapMSLIDescription {
  margin: 0 0 0 0.625rem;
}
.sap-android .sapMSLIDescription,
.sap-bb .sapMSLIDescription {
  margin: 0 0 0 0.5rem;
}
.sapMSLITitleOnly {
  font-size: 1.0625em;
  text-shadow: 0 0.0588em 0 #f7f7f7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sap-ios .sapMSLITitleOnly {
  line-height: 2.75rem;
  margin: 0 0 0 0.625rem;
}
.sap-android .sapMSLITitleOnly,
.sap-bb .sapMSLITitleOnly {
  line-height: 3rem;
  font-weight: normal;
  margin: 0 0 0 0.5rem;
}
.sapMSLI .sapMLIBContent {
  display: -webkit-box;
  -webkit-box-flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ************************************* */
/* CSS for control sap.m/Switch.control  */
/* ************************************* */
.sapMSwt {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
}
.sapMSwt > input[type=checkbox] {
  display: none;
}
.sapMSwtBtn {
  content: "";
  position: absolute;
  display: block;
}
/* list context */
.sapMILI-CTX > .sapMSwt {
  display: -webkit-box;
  display: box;
}
.sapMText {
  display: inline-block;
}
