.color-flex-container,
.logo-flex-container {
	display: -webkit-flex;
	display: flex;
}

.logo-flex-item {
	display: inline-block;
	flex: 1 1 45%;
}

.color-flex-title {
	display: inline-block;
	flex: 1 1 20%;
}

.color-flex-item {
	display: inline-block;
	flex: 1 1 25%;
}

.margin-bottom {
	margin-bottom: 20px;
}

.logo-image-link > img {
	display: inline-block;
	margin: -4px;
}

.headlineLogo{
	font-weight: bold;
}

.ui5-logo-new{
	margin: 50px;
}

.color-table-block {
	height: 60px;
	text-align: center;
	line-height: 60px;
}

.margin-bottom {
   margin-bottom: 20px;
} 

@media (max-width: 800px) {
	.ui5-logo-new{
		margin: 20px;
	}
}

@media (max-width: 550px) {
	.color-flex-container{
		display: block;
	}

	.color-table_header {
		display: none;
	}

    .color-flex-item {
	    display: block;
    }

	.color-flex-title {
		display: block;
	}
}


@media (max-width: 400px) {
	.logo-flex-container {
		display: block;
	}
}

