/* =================================================== */
/* CSS for control sap.ui.layout/ResponsiveGridLayout  */
/* Horizon High Contrast White theme                   */
/* =================================================== */

/* Title */
.sapUiRGLContainer > .sapUiFormTitle > .sapUiBtn {
	bottom: 0.4375rem;
	height: 2.75rem;
	line-height: 2.75rem;
	padding: 0 1rem;
}

/* Toolbar */
.sapUiFormResGrid.sapUiFormToolbar > div:first-child {
	padding-right: 1rem;
}

/* alignment of Labels */
.sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanS12),
.sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanM12),
.sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanL12),
.sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-LargeDesktop.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanXL12){
	padding-top: 0.875rem;
}