/* ============================= */
/* CSS for control sap.m/Avatar  */
/* Evening Horizon theme         */
/* ============================= */

@_sap_m_Avatar_Font_Size_XL: 3rem;
@_sap_m_Avatar_Font_Size_L: 2.25rem;
@_sap_m_Avatar_Font_Size_M: 1.5rem;
@_sap_m_Avatar_Font_Size_S: 1.125rem;
@_sap_m_Avatar_Font_Size_XS: 1rem;

.sapFAvatarSquare {
	border-radius: var(--sapElement_BorderCornerRadius);

	.sapFAvatarImageHolder {
		border-radius: var(--sapElement_BorderCornerRadius);
	}
}

.sapFAvatar.sapFAvatarInitials > .sapFAvatarInitialsHolder {
	font-size: inherit;
}

.sapFAvatarFocusable.sapMAvatarPressed {
	box-shadow: 0 0 0 0.125rem var(--sapContent_FocusColor);

	&:hover {
		box-shadow: 0 0 0 0.125rem var(--sapButton_Selected_Hover_BorderColor);
	}
}

.sapFAvatarFocusable:focus {
	outline-offset: 0.125rem;

	&.sapFAvatarSquare {
		outline-offset: 0.125rem;
	}
}

.sapFAvatarColorTileIcon {
	background-color: var(--sapTile_Background);
	color: var(--sapTile_IconColor);

	.sapFAvatarInitialsHolder {
		color: currentColor;
	}
}

.sapFAvatarColorPlaceholder {
	background-color: var(--sapContent_ImagePlaceholderBackground);
	color: var(--sapContent_ImagePlaceholderForegroundColor);

	.sapFAvatarInitialsHolder {
		color: currentColor;
	}
}

.generateColor (@accentIndex) {
	@css-selector: ~"sapFAvatarColorAccent@{accentIndex}"; // Create the css selector string
	@background-param: ~"sapUiAvatar@{accentIndex}Background"; // Build the color param which is a sapUiAccent
	@color-param: ~"sapUiAvatar@{accentIndex}TextColor";

	// Build the real CSS selector.
	// The output would be something like this: .sapFAvatar.sapFAvatarColorAccent6 {background-color: #0092d1;}
	.@{css-selector} {
		background-color: @@background-param;
	}

	.@{css-selector}.sapFAvatarIcon,
	.@{css-selector} .sapFAvatarInitialsHolder {
		color: contrast(@@background-param, @@color-param, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
	}
}