/* ==================================== */
/* CSS for control sap.m/BusyIndicator  */
/* Evening Horizon theme                */
/* ==================================== */

/* Background animation element */
.sapUiLocalBusyIndicatorAnimation > div::before {
	background: @sapUiContentBusyColor;
	animation-duration: 0ms;
}

/* Shadow animation element */
.sapUiLocalBusyIndicatorAnimation > div::after {
	box-shadow: inset 0px 0px 0px 0px @sapUiContentBusyColor;
}