/* ================================ */
/* CSS for control sap.m/FeedInput  */
/* Evening Horizon theme            */
/* ================================ */

@_sap_m_FeedInput_BackgroundColor: darken(@sapUiBaseColor, 9);

.sapMFeedIn {
	background-color: var(--sapGroup_ContentBackground);
}

.sapMFeedIn .sapMFeedInContainer {
	background-color: var(--sapField_Background);
}