/* ================================= */
/* CSS for control sap.m/MultiInput  */
/* Evening Horizon theme             */
/* ================================= */

.sapMMultiInput.sapMInputBaseReadonly.sapMMultiInputHasTokens.sapMInputFocused .sapMTokenizer {
	left: 0;
}

.sapMMultiInput .sapMTokenizer {
	padding-top: 1px;
}

.sapUiSizeCondensed .sapUiTableDataCell .sapMMultiInput .sapMTokenizer {
	padding-top: 0px;
	.sapMToken {
		margin-top: 0.0625rem;
		margin-bottom: 0.0625rem;
	}
}

.sapUiSizeCompact {
	.sapMMultiInput.sapMMultiInputHasTokens .sapMInputBaseContentWrapper.sapMInputBaseContentWrapperState:not(.sapMInputBaseContentWrapperSuccess) {
		.sapMToken {
			margin-top: 0.125rem;
			margin-bottom: 0.125rem;
		}
	}
}