/* ======================================= */
/* CSS for control sap.m/RadioButtonGroup  */
/* Evening Horizon theme                   */
/* ======================================= */

@_sap_m_RadioButtonGroup_WidthWithLabel: 2.75rem;
@_sap_m_RadioButtonGroup_PaddingLeftLabel: 2.75rem;
@_sap_m_RadioButtonGroup_PaddingLeftLabel_Form: 2.1875rem;