/* ============================ */
/* CSS for control sap.m/Table  */
/* Evening Horizon theme        */
/* ============================ */

.sapMListBGTransparent .sapMListTblHeader,
.sapMListBGTransparent .sapMListTblFooter {
	background-color: fade(@sapUiListBackground, 0%);
}

.sapMListTblSelCol,
.sapMListTblHasNav .sapMListTblNavCol {
	width: 2.75rem;
}

.sapMTableRowCustomFocus:focus {
	& + .sapMListTblSubRow > td::before,
	& > :not(.sapMListTblDummyCell:last-child)::before {
		margin-right: 0; /* make the focus border clearly visible on all sides */
	}
}

.sapMListBGTranslucent .sapMListTblHeader,
.sapMListBGTranslucent .sapMListTblFooter {
	background-color: var(--sapList_Background);
}

.sapMListBGSolid .sapMListTblHeader,
.sapMListBGSolid .sapMListTblFooter {
	background-color: var(--sapList_Background);
}

/* make the focus visible on all sides */
.sapMSticky .sapMLIBShowSeparator:first-child > td {
	border-top-color: transparent;
}

.sapMListTblDummyCell:last-child {
	background-color: var(--sapList_Background);
}