/* =========================== */
/* CSS for control sap.m/Text  */
/* Evening Horizon theme       */
/* =========================== */

/*Necessary to align vertically to Input */
.sapUiFormEdit .sapMText {
	min-height: 2.75rem; /* for empty text */
	padding-top: 0.6875rem;
	padding-bottom: 0.6875rem;
}
html[data-sap-ui-browser^="cr"] .sapUiFormEdit .sapMText {
	line-height: 1.4375rem;
}

.sapMTB-Info-CTX > .sapMText {
	font-style: italic;
	padding-right: 5px;
}

.sapUiTableHeaderDataCell .sapMText,
.sapMColumnHeader .sapMText {
	font-family: @sapUiFontSemiboldDuplexFamily;
	font-weight: normal;
}