<!DOCTYPE HTML>
<!--
  Tested control/class: sap.ui.layout.form.FormContainer
  Author: SAP
-->

<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<script src="../../shared-config.js"></script>
	<script id="sap-ui-bootstrap"
		src="../../../../../../resources/sap-ui-core.js"
		data-sap-ui-noConflict="true"
		data-sap-ui-libs="sap.ui.layout, sap.m"
		data-sap-ui-language="en-US">
	</script>
	<title>QUnit Test for FormContainer</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../images/controls/sap.ui.layout.form.FormContainer.gif">
	<link rel="stylesheet" href="../../../../../../resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen">
	<script src="../../../../../../resources/sap/ui/thirdparty/qunit.js"></script>
	<script src="../../../../../../resources/sap/ui/qunit/qunit-junit.js"></script>
	<script src="../../../../../../resources/sap/ui/qunit/qunit-coverage.js"></script>
	<script src="../../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>
	<script src="../../../../../../resources/sap/ui/thirdparty/sinon.js"></script>
	<script src="../../../../../../resources/sap/ui/thirdparty/sinon-qunit.js"></script>
	<script src="./FormContainer.qunit.js"></script>
</head>
<body class="sapUiBody">
	<div id="qunit"></div>
</body>
</html>
