<!DOCTYPE HTML>
<!--
  Tested control/class: sap.ui.layout.form.ResponsiveGridLayout
  Author: SAP
-->

<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta charset="utf-8">
		<base href="../../../../../../">
		<script src="resources/sap/ui/test/starter/runTest.js"
				data-sap-ui-testsuite="test-resources/sap/ui/layout/qunit/form/testsuite.form.qunit"
				data-sap-ui-test="ResponsiveGridLayout"></script>
	</head>
	<body class="sapUiBody">
		<div id="qunit"></div>
		<br>
		<div id="content"></div>
	</body>
</html>