<!DOCTYPE HTML>
<!-- 
  Tested control/class: sap.ui.layout.form.ResponsiveGridLayout
  Author: SAP
-->

<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<script id="sap-ui-bootstrap"
		type="text/javascript"
		src="../../../../../../resources/sap-ui-core.js"
		data-sap-ui-theme="sap_bluecrystal"
		data-sap-ui-noConflict="true"
		data-sap-ui-libs="sap.ui.layout, sap.ui.commons">
	</script>
	<link rel="stylesheet" href="../../../../../../resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen" />
	<script type="text/javascript" src="../../../../../../resources/sap/ui/thirdparty/qunit.js"></script>
	<script type="text/javascript" src="../../../../../../resources/sap/ui/qunit/qunit-junit.js"></script>
	<script type="text/javascript" src="../../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>

	<script language="javascript">

		// create Form

		var oLayout1 = new sap.ui.layout.form.ResponsiveGridLayout("Layout1");
		var oForm1 = new sap.ui.layout.form.Form("F1",{
			title: new sap.ui.core.Title("F1T",{text: "Form1"}),
			editable: true,
			layout: oLayout1,
			formContainers: [
				new sap.ui.layout.form.FormContainer("F1C1",{
						formElements: [
							new sap.ui.layout.form.FormElement("F1C1E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F1C1E1_T1",{value: "Text"})]
								})
							]
					})
				]
			}).placeAt("uiArea1");

		var oLayout2 = new sap.ui.layout.form.ResponsiveGridLayout("Layout2",  {
			singleContainerFullSize: false
		});
		var oForm2 = new sap.ui.layout.form.Form("F2",{
			title: "Form2",
			editable: true,
			layout: oLayout2,
			formContainers: [
				new sap.ui.layout.form.FormContainer("F2C1",{
						title: "Title as text",
						formElements: [
							new sap.ui.layout.form.FormElement("F2C1E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F2C1E1_T1",{value: "Text"}),
									         new sap.ui.commons.TextField("F2C1E1_T2",{value: "Text"})]
								})
							]
					})
				]
			}).placeAt("uiArea2");

		var oLayout3 = new sap.ui.layout.form.ResponsiveGridLayout("Layout3");
		var oForm3 = new sap.ui.layout.form.Form("F3",{
			title: "Form3",
			editable: true,
			layout: oLayout3,
			formContainers: [
				new sap.ui.layout.form.FormContainer("F3C1",{
						title: new sap.ui.core.Title("F3C1T",{text: "Title as Control"}),
						formElements: [
							new sap.ui.layout.form.FormElement("F3C1E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F3C1E1_T1",{value: "Text"}),
									         new sap.ui.commons.TextField("F3C1E1_T2",{value: "Text"})]
								}),
							new sap.ui.layout.form.FormElement("F3C1E2",{
									label: new sap.ui.commons.Label("F3C1E2_L2",{text: "Label",
															layoutData: new sap.ui.layout.GridData("F3C1E2_L2_LD",{span: "L3 M3 S12"})}),
									fields: [new sap.ui.commons.TextField("F3C1E2_T1",{value: "Text"}),
									         new sap.ui.commons.TextField("F3C1E2_T2",{value: "Text"})]
								})
							]
					}),
				new sap.ui.layout.form.FormContainer("F3C2",{
						title: "Title as Text",
						expandable: true,
						formElements: [
							new sap.ui.layout.form.FormElement("F3C2E1",{
									fields: [new sap.ui.commons.TextField("F3C2E1_T1",{value: "Text without label"}),
									         new sap.ui.commons.TextField("F3C2E1_T2",{value: "Text without label"})]
								}),
							new sap.ui.layout.form.FormElement("F3C2E2",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F3C2E2_T1",{value: "Text"}),
									         new sap.ui.commons.TextField("F3C2E2_T2",{value: "Text",
																layoutData: new sap.ui.layout.GridData("F3C2E2_T2LD",{span: "L2 M2 S2"})
														})]
								}),
							new sap.ui.layout.form.FormElement("F3C2E3",{
									visible: false,
									label: "Label",
									fields: [new sap.ui.commons.TextField("F3C2E3_T1",{value: "invisible"})]
								})
							],
						layoutData: new sap.ui.layout.GridData("F3C2LD",{span: "L6 M12 S12"})
					}),
				new sap.ui.layout.form.FormContainer("F3C3",{
						title: "Title as Text",
						expandable: true,
						expanded: false,
						formElements: [
							new sap.ui.layout.form.FormElement("F3C3E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F3C3E1_T1",{value: "Text"}),
									         new sap.ui.commons.TextField("F3C3E1_T2",{value: "Text"})]
								}),
							new sap.ui.layout.form.FormElement("F3C3E2",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F3C3E2_T1",{value: "Text"}),
									         new sap.ui.commons.TextField("F3C3E2_T2",{value: "Text"})]
								})
							],
						layoutData: new sap.ui.core.VariantLayoutData("F3C3VLD",{
														multipleLayoutData: [new sap.ui.core.LayoutData(),
														                     new sap.ui.layout.GridData("F3C3LD",{span: "L6 M12 S12"})]})
					}),
				new sap.ui.layout.form.FormContainer("F3C5",{
						title: "Invisible",
						visible: false,
						formElements: [
							new sap.ui.layout.form.FormElement("F3C5E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F3C5E1_T1",{value: "Text"})]
								})
							]
					})
				]
			}).placeAt("uiArea3");

			// special case, only one container visible, but not the first one
		var oLayout4 = new sap.ui.layout.form.ResponsiveGridLayout("Layout4");
		var oForm4 = new sap.ui.layout.form.Form("F4",{
			title: "Form4",
			layout: oLayout4,
			formContainers: [
				new sap.ui.layout.form.FormContainer("F4C1",{
						title: "container 1",
						visible: false,
						formElements: [
							new sap.ui.layout.form.FormElement("F4C1E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F4C1E1_T1")]
								})]
					}),
				new sap.ui.layout.form.FormContainer("F4C2",{
						title: "container 2",
						visible: true,
						formElements: [
							new sap.ui.layout.form.FormElement("F4C2E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F4C2E1_T1")]
								})]
					})]
			}).placeAt("uiArea4");

		// test label span without adjusting
		var oLayout5 = new sap.ui.layout.form.ResponsiveGridLayout("Layout5", {
			labelSpanL: 4,
			columnsM: 2,
			labelSpanM: 12,
			adjustLabelSpan: false
		});
		var oForm5 = new sap.ui.layout.form.Form("F5",{
			title: "Form5",
			layout: oLayout5,
			width: "800px",
			formContainers: [
				new sap.ui.layout.form.FormContainer("F5C1",{
						title: "container 1",
						formElements: [
							new sap.ui.layout.form.FormElement("F5C1E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F5C1E1_T1")]
								})]
					}),
				new sap.ui.layout.form.FormContainer("F5C2",{
						title: "container 2",
						formElements: [
							new sap.ui.layout.form.FormElement("F5C2E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F5C2E1_T1")]
								})]
					})]
			}).placeAt("uiArea5");

		// test functions
		qutils.delayTestStart();

		module("functions");

		test("Getter", function() {
			// overwritten getter must return data of corresponding objects
			var oContainer = sap.ui.getCore().byId("F1C1");
			var oElement = sap.ui.getCore().byId("F1C1E1");
			var oGrid = sap.ui.getCore().byId("F1C1--Grid");
			equal(oGrid.getContent()[0].getParent().getId(), oElement.getId(), "Form1: Element must be still parent of Label");
			equal(oGrid.getContent()[1].getParent().getId(), oElement.getId(), "Form1: Element must be still parent of Field");

			var oPanel = sap.ui.getCore().byId("F2C1---Panel");
			var oContainer = sap.ui.getCore().byId("F2C1");
			var oElement = sap.ui.getCore().byId("F2C1E1");
			var oGrid = sap.ui.getCore().byId("F2C1--Grid");
			equal(oGrid.getContent()[0].getParent().getId(), oElement.getId(), "Form2: Element must be still parent of Label");
			equal(oGrid.getContent()[1].getParent().getId(), oElement.getId(), "Form2: Element must be still parent of Field");

			oPanel = sap.ui.getCore().byId("F3C1---Panel");
			oContainer = sap.ui.getCore().byId("F3C1");
			equal(oContainer.getTitle().getParent().getId(), oContainer.getId(), "Form3: Container3 Title must still have Container as Parent");

			oPanel = sap.ui.getCore().byId("F3C2---Panel");
			oContainer = sap.ui.getCore().byId("F3C2");
			var oLayoutData = sap.ui.getCore().byId("F3C2LD");
			equal(oPanel.getLayoutData().getId(), oLayoutData.getId(), "Form3: Panel2 must get LayoutData from Container");
			equal(oLayoutData.getParent().getId(), oContainer.getId(), "Form3: Container2 LayoutData must still have Container as Parent");

			oPanel = sap.ui.getCore().byId("F3C3---Panel");
			oContainer = sap.ui.getCore().byId("F3C3");
			oLayoutData = sap.ui.getCore().byId("F3C3LD");
			equal(oPanel.getLayoutData().getId(), oLayoutData.getId(), "Form3: Panel3 must get LayoutData from Container");
		});

		test("LayoutData calculation", function() {
			var oElement = sap.ui.getCore().byId("F1C1E1");
			var oLabel = oElement.getLabelControl();
			var oGrid = sap.ui.getCore().byId("F1C1--Grid");
			oLayoutData = oGrid._getLayoutDataForControl(oLabel);
			equal(oLayoutData.getId(), "Layout1--Dummy", "Form1: Label1 must use calculated LayoutData");
			equal(oLayoutData.getSpan(), "L2 M2 S12", "Form1: Label1 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), true, "Form1: Label1 calculated LayoutData linebreak correct");

			var oField = sap.ui.getCore().byId("F1C1E1_T1");
			oLayoutData = oGrid._getLayoutDataForControl(oField);
			equal(oLayoutData.getId(), "Layout1--Dummy", "Form1: Field1 must use calculated LayoutData");
			equal(oLayoutData.getSpan(), "L10 M10 S12", "Form1: Field1 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), false, "Form1: Field1 calculated LayoutData linebreak correct");

			var oPanel = sap.ui.getCore().byId("F3C1---Panel");
			var oLayoutData = oPanel.getLayoutData();
			equal(oLayoutData.getId(), "F3C1---Panel--LD", "Form3: Panel1 must use calculated LayoutData");
			equal(oLayoutData.getLinebreakL(), true, "Form3: Panel1 calculated LayoutData linebreakL correct");

			oElement = sap.ui.getCore().byId("F3C1E1");
			oLabel = oElement.getLabelControl();
			oGrid = sap.ui.getCore().byId("F3C1--Grid");
			oLayoutData = oGrid._getLayoutDataForControl(oLabel);
			equal(oLayoutData.getId(), "Layout3--Dummy", "Form3: Label1 must use calculated LayoutData");
			equal(oLayoutData._getEffectiveSpanLarge(), 4, "Form3: Label1 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), true, "Form3: Label1 calculated LayoutData linebreak correct");

			oField = sap.ui.getCore().byId("F3C1E1_T1");
			oLayoutData = oGrid._getLayoutDataForControl(oField);
			equal(oLayoutData.getId(), "Layout3--Dummy", "Form3: Field1 must use calculated LayoutData");
			equal(oLayoutData._getEffectiveSpanLarge(), 4, "Form3: Field1 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), false, "Form3: Field1 calculated LayoutData linebreak correct");

			oField = sap.ui.getCore().byId("F3C1E1_T2");
			oLayoutData = oGrid._getLayoutDataForControl(oField);
			equal(oLayoutData.getId(), "Layout3--Dummy", "Form3: Field2 must use calculated LayoutData");
			equal(oLayoutData._getEffectiveSpanLarge(), 4, "Form3: Field2 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), false, "Form3: Field2 calculated LayoutData linebreak correct");

			oLabel = sap.ui.getCore().byId("F3C1E2_L2");
			oLayoutData = oGrid._getLayoutDataForControl(oLabel);
			equal(oLayoutData.getId(), "F3C1E2_L2_LD", "Form3: Label2 must use given LayoutData");

			oField = sap.ui.getCore().byId("F3C1E2_T1");
			oLayoutData = oGrid._getLayoutDataForControl(oField);
			equal(oLayoutData.getId(), "Layout3--Dummy", "Form3: Field3 must use calculated LayoutData");
			equal(oLayoutData.getSpan(), "L5 M5 S12", "Form3: Field3 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), false, "Form3: Field3 calculated LayoutData linebreak correct");

			oField = sap.ui.getCore().byId("F3C1E2_T2");
			oLayoutData = oGrid._getLayoutDataForControl(oField);
			equal(oLayoutData.getId(), "Layout3--Dummy", "Form3: Field4 must use calculated LayoutData");
			equal(oLayoutData.getSpan(), "L4 M4 S12", "Form3: Field4 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), false, "Form3: Field4 calculated LayoutData linebreak correct");

			oField = sap.ui.getCore().byId("F3C2E1_T1");
			oLayoutData = oGrid._getLayoutDataForControl(oField);
			equal(oLayoutData.getId(), "Layout3--Dummy", "Form3: Container2 Field1 must use calculated LayoutData");
			equal(oLayoutData.getSpan(), "L6 M6 S12", "Form3: Container2 Field1 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), true, "Form3: Container2 Field1 calculated LayoutData linebreak correct");

			oField = sap.ui.getCore().byId("F3C2E1_T2");
			oLayoutData = oGrid._getLayoutDataForControl(oField);
			equal(oLayoutData.getId(), "Layout3--Dummy", "Form3: Container2 Field2 must use calculated LayoutData");
			equal(oLayoutData.getSpan(), "L6 M6 S12", "Form3: Container2 Field2 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), false, "Form3: Container2 Field2 calculated LayoutData linebreak correct");

			oField = sap.ui.getCore().byId("F3C2E2_T1");
			oLayoutData = oGrid._getLayoutDataForControl(oField);
			equal(oLayoutData.getId(), "Layout3--Dummy", "Form3: Container2 Field3 must use calculated LayoutData");
			equal(oLayoutData._getEffectiveSpanLarge(), 6, "Form3: Container2 Field3 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), false, "Form3: Container2 Field3 calculated LayoutData linebreak correct");

			oField = sap.ui.getCore().byId("F3C2E2_T2");
			oLayoutData = oGrid._getLayoutDataForControl(oField);
			equal(oLayoutData.getId(), "F3C2E2_T2LD", "Form3: Container2 Field3 must use given LayoutData");

			oElement = sap.ui.getCore().byId("F5C1E1");
			oLabel = oElement.getLabelControl();
			oGrid = sap.ui.getCore().byId("F5C1--Grid");
			oLayoutData = oGrid._getLayoutDataForControl(oLabel);
			equal(oLayoutData.getId(), "Layout5--Dummy", "Form5: Label1 must use calculated LayoutData");
			equal(oLayoutData.getSpan(), "L4 M12 S12", "Form5: Label1 calculated LayoutData span correct");
			equal(oLayoutData.getLinebreak(), true, "Form5: Label1 calculated LayoutData linebreak correct");
		});

		test("DOM representation", function() {
			var oContainer = sap.ui.getCore().byId("F1C1");
			equal(oContainer.getRenderedDomRef().id, "F1C1--Grid", "Form1: Container1 ResponsiveFlowLayout is DOM representation");
			oContainer = sap.ui.getCore().byId("F2C1");
			equal(oContainer.getRenderedDomRef().id, "F2C1---Panel", "Form2: Container1 Panel is DOM representation");
			oContainer = sap.ui.getCore().byId("F3C5");
			ok(!oContainer.getRenderedDomRef(), "Form3: invisible Container5 no DOM representation");

			var oElement = sap.ui.getCore().byId("F1C1E1");
			ok(!oElement.getRenderedDomRef(), "no DOM representation rendered for FormElements");
		});

		module("Rendering");

		test("Container rendering", function() {
			ok(jQuery.sap.domById("F1"), "Form1 is rendered");
			ok(jQuery.sap.domById("Layout1"), "Layout1 is rendered");
			ok(!jQuery.sap.domById("F1--Grid"), "Form1: no Main-Grid rendered as only one container");
			ok(!jQuery.sap.domById("F1C1---Panel"), "Form1: Container1 no Panel rendered (because no title and expander)");
			ok(jQuery.sap.domById("F1C1--Grid"), "Form1: Container1 Grid rendered");

			// panel
			ok(jQuery.sap.domById("F2--Grid"), "Form2: Main-Grid rendered as singleContainerFullSize disabled");
			ok(jQuery.sap.domById("F2C1---Panel"), "Form2: Container1 Panel rendered (because title)");
			ok(jQuery.sap.domById("F2C1--Grid"), "Form2: Container1 Grid rendered");
			// title as text
			var oContainer = sap.ui.getCore().byId("F2C1");
			ok(jQuery.sap.domById("F2C1--title"), "Form2: Container1 Title rendered");
			equal(jQuery.sap.byId("F2C1--title").text(), oContainer.getTitle(), "Form2: Container1 Title Text");
			// title as control
			oContainer = sap.ui.getCore().byId("F3C1");
			var sTitleId = oContainer.getTitle().getId();
			ok(jQuery.sap.domById(sTitleId), "Form3: Container1 Title rendered");
			equal(jQuery.sap.byId(sTitleId).text(), oContainer.getTitle().getText(), "Form3: Container1 Title Text");
			// expander
			ok(!jQuery.sap.domById("F3C1--Exp"), "Form3: Container1 no expander rendered");
			ok(jQuery.sap.domById("F3C2--Exp"), "Form3: Container2 expander rendered");

			ok(!jQuery.sap.domById("F3C5---Panel"), "Form3: invisible Container5 - Panel not rendered");
			ok(!jQuery.sap.domById("F3C5--Grid"), "Form3: invisible Container5 - Grid not rendered");

			ok(!jQuery.sap.domById("F4--Grid"), "Form4: no Main-Grid rendered as only one container visible");
			ok(!jQuery.sap.domById("F4C1---Panel"), "Form4: invisible Container1 - Panel not rendered");
			ok(!jQuery.sap.domById("F4C1--Grid"), "Form4: invisible Container1 - Grid not rendered");
			ok(jQuery.sap.domById("F4C2---Panel"), "Form4: Container2 Panel rendered");
			ok(jQuery.sap.domById("F4C2--Grid"), "Form4: Container2 Grid rendered");
		});

		test("Fields Rendering", function() {
			ok(jQuery.sap.domById(sap.ui.getCore().byId("F1C1E1").getLabelControl().getId()), "Label1 rendered");
			ok(jQuery.sap.domById("F1C1E1_T1"), "TextField1 rendered");

			ok(jQuery.sap.domById(sap.ui.getCore().byId("F2C1E1").getLabelControl().getId()), "Form2: Label rendered");
			ok(jQuery.sap.domById("F2C1E1_T1"), "Form2: TextField1 rendered");
			ok(jQuery.sap.domById("F2C1E1_T2"), "Form2: TextField2 rendered");

			ok(!jQuery.sap.domById("F3C2E3_T1"), "Form3: invisible Element - TextField not rendered");
			ok(!jQuery.sap.domById("F3C5E1_T1"), "Form3: invisible Container - TextField not rendered");
		});

		test("Aria", function() {
			equal(jQuery("#F1C1--Grid").attr("role"), "form", "Container-F1C1: role \"form\" set on grid level");
			ok(!jQuery("#F1C1--Grid").attr("aria-labelledby"), "Container-F1C1: aria-labelledby not set on grid level");
			equal(jQuery("#F2C1---Panel").attr("role"), "form", "Container-F2C1: role \"form\" set on panel level");
			ok(!jQuery("#F2C1--Grid").attr("role"), "Container-F2C1: role \"form\" not set on grid level");
			equal(jQuery("#F2C1---Panel").attr("aria-labelledby"), "F2C1--title", "Container-F2C1: aria-labelledby set");
			equal(jQuery("#F3C1---Panel").attr("aria-labelledby"), "F3C1T", "Container-F3C1: aria-labelledby set");
		});

		module("Interaction");

		test("add container", function() {
			oForm3.addFormContainer(
				new sap.ui.layout.form.FormContainer("F3C4",{
						title: "new container",
						formElements: [
							new sap.ui.layout.form.FormElement("F3C4E1",{
									label: "Label",
									fields: [new sap.ui.commons.TextField("F3C4E1_T1",{value: "Text"}),
									         new sap.ui.commons.TextField("F3C4E1_T2",{value: "Text"})]
								})
							]
					})
				);
			sap.ui.getCore().applyChanges();
			ok(jQuery.sap.domById("F3C4---Panel"), "Form3: new Container Panel rendered (because title)");
			ok(jQuery.sap.domById("F3C4--Grid"), "Form3: new Container Grid rendered");
			ok(jQuery.sap.domById(sap.ui.getCore().byId("F3C4E1").getLabelControl().getId()), "Form3: new Label1 rendered");
			ok(jQuery.sap.domById("F3C4E1_T1"), "Form3: new TextField1 rendered");
		});

		test("add element", function() {
			var oContainer = sap.ui.getCore().byId("F3C4");
			oContainer.addFormElement(
					new sap.ui.layout.form.FormElement("F3C4E2",{
						label: "Label",
						fields: [new sap.ui.commons.TextField("F3C4E2_T1",{value: "Text"})]
					})
				);
			sap.ui.getCore().applyChanges();
			ok(jQuery.sap.domById(sap.ui.getCore().byId("F3C4E2").getLabelControl().getId()), "Form3: new Label2 rendered");
			ok(jQuery.sap.domById("F3C4E2_T1"), "Form3: new TextField1 rendered");
		});

		test("add field", function() {
			var oElement = sap.ui.getCore().byId("F3C4E2");
			oElement.addField(new sap.ui.commons.TextField("F3C4E2_T2",{value: "Text"}));
			sap.ui.getCore().applyChanges();
			ok(jQuery.sap.domById("F3C4E2_T1"), "Form3: new still TextField1 rendered");
			ok(jQuery.sap.domById("F3C4E2_T2"), "Form3: new TextField2 rendered");
		});

		test("make Element invisible", function() {
			oElement = sap.ui.getCore().byId("F3C4E2");
			oElement.setVisible(false);
			sap.ui.getCore().applyChanges();
			ok(!jQuery.sap.domById(sap.ui.getCore().byId("F3C4E2").getLabelControl().getId()), "Form3: Label2 not longer rendered");
			ok(!jQuery.sap.domById("F3C4E2_T1"), "Form3: TextField1 not longer rendered");
		});

		test("make Element visible", function() {
			oElement = sap.ui.getCore().byId("F3C4E2");
			oElement.setVisible(true);
			sap.ui.getCore().applyChanges();
			ok(jQuery.sap.domById(sap.ui.getCore().byId("F3C4E2").getLabelControl().getId()), "Form3: Label2 rendered");
			ok(jQuery.sap.domById("F3C4E2_T1"), "Form3: TextField1 rendered");
		});

		test("make Container invisible", function() {
			oContainer = sap.ui.getCore().byId("F3C4");
			oContainer.setVisible(false);
			sap.ui.getCore().applyChanges();
			ok(!sap.ui.getCore().byId("F3C4---Panel"), "Form3: Containers Panel does not exist any more.");
			ok(!sap.ui.getCore().byId("F3C4--Grid"), "Form3: Grid for Container content does not exist any more.");
			ok(!jQuery.sap.domById(sap.ui.getCore().byId("F3C4E2").getLabelControl().getId()), "Form3: Label2 not longer rendered");
			ok(!jQuery.sap.domById("F3C4E2_T1"), "Form3: TextField1 not longer rendered");
		});

		test("make Container visible", function() {
			oContainer = sap.ui.getCore().byId("F3C4");
			oContainer.setVisible(true);
			sap.ui.getCore().applyChanges();
			ok(sap.ui.getCore().byId("F3C4---Panel"), "Form3: Containers Panel exist again.");
			ok(sap.ui.getCore().byId("F3C4--Grid"), "Form3: Grid for Container exist again.");
			ok(jQuery.sap.domById("F3C4---Panel"), "Form3: Containers Panel rendered");
			ok(jQuery.sap.domById("F3C4--Grid"), "Form3: Containers Grid rendered");
			ok(jQuery.sap.domById(sap.ui.getCore().byId("F3C4E2").getLabelControl().getId()), "Form3: Label2 rendered");
			ok(jQuery.sap.domById("F3C4E2_T1"), "Form3: TextField1 rendered");
		});

		test("destroy and add container new", function() {
			var oContainer = sap.ui.getCore().byId("F3C4");
			var aFormElements = oContainer.removeAllFormElements();
			oContainer.destroy();
			oForm3.addFormContainer(
				new sap.ui.layout.form.FormContainer("F3C4",{
						title: "new container",
						formElements: aFormElements
					})
				);
			sap.ui.getCore().applyChanges();
			ok(jQuery.sap.domById("F3C4---Panel"), "Form3: Container Panel still rendered");
			ok(jQuery.sap.domById("F3C4--Grid"), "Form3: Container Grid still rendered");
			ok(jQuery.sap.domById(sap.ui.getCore().byId("F3C4E1").getLabelControl().getId()), "Form3: Label1 still rendered");
			ok(jQuery.sap.domById("F3C4E1_T1"), "Form3: TextField1 still rendered");
		});

		test("destroy and add element new", function() {
			var oElement = sap.ui.getCore().byId("F3C4E2");
			oElement.destroy();
			var oContainer = sap.ui.getCore().byId("F3C4");
			oContainer.addFormElement(
					new sap.ui.layout.form.FormElement("F3C4E2",{
						label: "Label",
						fields: [new sap.ui.commons.TextField("F3C4E2_T1",{value: "Text"})]
					})
				);
			sap.ui.getCore().applyChanges();
			ok(jQuery.sap.domById(sap.ui.getCore().byId("F3C4E2").getLabelControl().getId()), "Form3: Label2 still rendered");
			ok(jQuery.sap.domById("F3C4E2_T1"), "Form3: TextField1 still rendered");
		});

		test("remove field", function() {
			var oElement = sap.ui.getCore().byId("F3C4E2");
			oElement.removeField("F3C4E2_T1");
			sap.ui.getCore().applyChanges();
			ok(!jQuery.sap.domById("F3C4E2_T1"), "Form4: new TextField1 not longer rendered");
		});

		test("remove element", function() {
			var oContainer = sap.ui.getCore().byId("F3C4");
			oContainer.removeFormElement("F3C4E2");
			sap.ui.getCore().applyChanges();
			ok(!jQuery.sap.domById(sap.ui.getCore().byId("F3C4E2").getLabelControl().getId()), "Form4: new Label2 not longer rendered");
			ok(!jQuery.sap.domById("F3C4E2_T1"), "Form4: new TextField1 not longer rendered");
		});

		test("remove container", function() {
			oForm3.removeFormContainer("F3C4");
			sap.ui.getCore().applyChanges();
			ok(!jQuery.sap.domById("F3C4---Panel"), "Form3: new Container Panel not longer rendered rendered");
			ok(!jQuery.sap.domById("F3C4--Grid"), "Form3: new Container Grid not longer rendered");
			ok(!jQuery.sap.domById(sap.ui.getCore().byId("F3C4E1").getLabelControl().getId()), "Form4: new Label1 not longer rendered");
			ok(!jQuery.sap.domById("F3C4E1_T1"), "Form4: new TextField1 not longer rendered rendered");
			ok(!oLayout3.mContainers["F3C4"], "Container not longer in the layout control data");
			ok(!sap.ui.getCore().byId("F3C4--Grid"), "Container Grid destroyed");
			ok(!sap.ui.getCore().byId("F3C4---Panel"), "Panel destroyed");
		});

		test("destroy layout", function() {
			oForm3.setLayout("");
			oLayout3.destroy();
			var iLength = 0;

			if (!Object.keys) {
				jQuery.each(oLayout3.mContainers, function(){iLength++});
			} else {
				iLength = Object.keys(oLayout3.mContainers).length;
			}
			equal(iLength, 0, "Layout control data cleared");
			ok(!sap.ui.getCore().byId("F3C1--Grid"), "Container Grid destroyed");
			ok(!sap.ui.getCore().byId("F3C1---Panel"), "Panel destroyed");
		});

		</script>

	<title>qUnit Test for ResponsiveGridLayout</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../images/controls/sap.ui.layout.form.ResponsiveLayout.gif">


</head>
<body class="sapUiBody">
	<h1 id="qunit-header">QUnit tests: sap.ui.layout.form.ResponsiveGridLayout</h1>
	<h2 id="qunit-banner"></h2>
	<h2 id="qunit-userAgent"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<ol id="qunit-tests"></ol>
	<br>
	<div id="uiArea1"></div>
	<br>
	<div id="uiArea2"></div>
	<br>
	<div id="uiArea3"></div>
	<br>
	<div id="uiArea4"></div>
	<br>
	<div id="uiArea5"></div>

</body>
</html>