<!DOCTYPE HTML>
<!--
  Tested control/class: sap.ui.layout.form.Form
  Author: SAP
-->

<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="../../shared-config.js"></script>
	<script id="sap-ui-bootstrap"
		src="../../../../../../resources/sap-ui-core.js"
		data-sap-ui-noConflict="true"
		data-sap-ui-libs="sap.ui.layout, sap.m">
	</script>
	<link rel="stylesheet" href="../../../../../../resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen">
	<script src="../../../../../../resources/sap/ui/thirdparty/qunit.js"></script>
	<script src="../../../../../../resources/sap/ui/qunit/qunit-junit.js"></script>
	<script src="../../../../../../resources/sap/ui/qunit/qunit-coverage.js"></script>
	<script src="../../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>

	<script>

		// create SimpleForm
	var oSimpleForm = new sap.ui.layout.form.SimpleForm(
			"sf1",
			{
				editable: true,
				width: "100%",
				minWidth : 1024,
				maxContainerCols: 2,
				content:[
					    new sap.ui.core.Title("title1",{text:"Title 1"}),
			        new sap.m.Label("L1",{text:"Label 1"}),
			        new sap.m.Input("I1",{value:"Value 1"}),
			        new sap.m.Label("L2",{text:"Label 2"}),
			        new sap.m.Input("I2",{value:"Value 2/1"}),
			        new sap.m.Input("I3",{value:"Value 2/2"}),
			        new sap.m.Label("L3",{text:"Label 3"}),
			        new sap.m.Input("I4",{value:"Value 3/1"}),
			        new sap.m.Input("I5",{value:"Value 3/2"}),
			        new sap.m.Input("I6",{value:"Value 3/3"}),
			        new sap.m.Label({text:"Label 4"}),
			        new sap.m.CheckBox({selected:false}),
			        new sap.m.Label({text:"Label 5"}),
			        new sap.m.TextArea({value:"Long Text,Long Text,Long Text,Long Text,Long TextLong Text,Long TextLong Text,Long TextLong TextLong TextLong TextLong TextLong TextLong TextLong TextLong TextLong TextLong TextLong TextLong TextLong Text"}),
			        new sap.ui.core.Title("title2",{text:"Title 2"}),
			        new sap.m.Label("L2-1",{text:"Label 1"}),
			        new sap.m.Input("I2-1",{value:"Value 1"}),
			        new sap.m.Label("L2-2",{text:"Label 2"}),
			        new sap.m.Input("I2-2",{value:"Value 2/1"}),
			        new sap.m.Input("I2-3",{value:"Value 2/2", layoutData:new sap.ui.layout.ResponsiveFlowLayoutData("LD_tf2-3", {linebreak:true,weight:8})}),
			        new sap.m.Label("L2-3",{text:"Label 3"}),
			        new sap.m.Input("I2-4",{value:"Value 3/1", layoutData:new sap.ui.layout.ResponsiveFlowLayoutData("LD_tf2-4", {weight:3})}),
			        new sap.m.Input("I2-5",{value:"Value 3/2"}),
			        new sap.m.Input("I2-6",{value:"Value 3/3"})
					    ],
				ariaLabelledBy: ["ARIA-1"]
			}).placeAt("uiArea1");

	var oSimpleForm2 = new sap.ui.layout.form.SimpleForm(
			"sf2",
			{
				toolbar: new sap.m.Toolbar("SF2-TB", {
					content: [new sap.m.Title("SF2-Title", {text: "Form Title", level: sap.ui.core.TitleLevel.H3, titleStyle: sap.ui.core.TitleLevel.H3, tooltip: "Title tooltip"}),
					          new sap.m.ToolbarSpacer(),
					          new sap.m.Button({icon: "sap-icon://sap-ui5"})]
				}),
				editable: true,
				minWidth : 1024,
				maxContainerCols: 2,
				layout: sap.ui.layout.form.SimpleFormLayout.GridLayout,
				backgroundDesign: sap.ui.layout.BackgroundDesign.Transparent,
				content:[
					    new sap.ui.core.Title("SF2-title1",{text:"Title 1"}),
			        new sap.m.Label("SF2-L1",{text:"Label 1"}),
			        new sap.m.Input("SF2-I1",{value:"Value 1"}),
			        new sap.m.Label("SF2-L2",{text:"Label 2"}),
			        new sap.m.Input("SF2-I2",{value:"Value 2/1"}),
			        new sap.m.Input("SF2-I3",{value:"Value 2/2"}),
			        new sap.ui.core.Title("SF2-title2",{text:"Title 2"}),
			        new sap.m.Label("SF2-L2-1",{text:"Label 1"}),
			        new sap.m.Input("SF2-I2-1",{value:"Value 1"}),
			        new sap.m.Label("SF2-L2-2",{text:"Label 2"}),
			        new sap.m.Input("SF2-I2-2",{value:"Value 2/1"}),
			        new sap.m.Input("SF2-I2-3",{value:"Value 2/2", layoutData:new sap.ui.layout.ResponsiveFlowLayoutData("SF2-LD_tf2-3", {linebreak:true,weight:8})})
				]
			}).placeAt("uiArea2");

	var oSimpleForm3 = new sap.ui.layout.form.SimpleForm(
			"sf3",
			{
				editable: true,
				minWidth : 1024,
				maxContainerCols: 2,
				backgroundDesign: sap.ui.layout.BackgroundDesign.Static,
				title: "Test",
				content:[
					    new sap.ui.core.Title("SF3-title1",{text:"Title 1"}),
			        new sap.m.Label("SF3-L1",{text:"Label 1"}),
			        new sap.m.Input("SF3-I1",{value:"Value 1"}),
			        new sap.m.Label("SF3-L2",{text:"Label 2"}),
			        new sap.m.Input("SF3-I2",{value:"Value 2/1"}),
			        new sap.m.Input("SF3-I3",{value:"Value 2/2"}),
			        new sap.ui.core.Title("SF3-title2",{text:"Title 2"}),
			        new sap.m.Label("SF3-L2-1",{text:"Label 1"}),
			        new sap.m.Input("SF3-I2-1",{value:"Value 1"}),
			        new sap.m.Label("SF3-L2-2",{text:"Label 2"}),
			        new sap.m.Input("SF3-I2-2",{value:"Value 2/1"}),
			        new sap.m.Input("SF3-I2-3",{value:"Value 2/2", layoutData:new sap.ui.layout.ResponsiveFlowLayoutData("SF3-LD_tf2-3", {linebreak:true,weight:8})})
				]
			}).placeAt("uiArea3");

	// test functions
		qutils.delayTestStart();

		QUnit.module("Setter/Getter");

		QUnit.test("width", function(assert) {
			ok(/width:/.test(oSimpleForm.$().attr("style")) && /100%/.test(oSimpleForm.$().attr("style")), "SimpleForm1: width set");
			ok(!/width:/.test(oSimpleForm2.$().attr("style")), "SimpleForm2: no width set");
		});

		QUnit.test("used Layout", function(assert) {
			var oForm = oSimpleForm.getAggregation("form");
			var oLayout = oForm.getLayout();
			equal(oLayout.getMetadata().getName(), "sap.ui.layout.form.ResponsiveLayout", "ResponsiveLayout used by default");
			equal(oLayout.getBackgroundDesign(), sap.ui.layout.BackgroundDesign.Translucent, "BackgroundDesign set")

			oForm = oSimpleForm2.getAggregation("form");
			oLayout = oForm.getLayout();
			equal(oLayout.getMetadata().getName(), "sap.ui.layout.form.GridLayout", "GridLayout used");
			equal(oLayout.getBackgroundDesign(), sap.ui.layout.BackgroundDesign.Transparent, "BackgroundDesign set")
		});

		QUnit.test("title", function(assert) {
			var oForm = oSimpleForm.getAggregation("form");
			equal(oForm.getTitle(), undefined, "Form1 has no title");

			oForm = oSimpleForm3.getAggregation("form");
			equal(oForm.getTitle(), "Test", "Form3 gets Title of SimpleForm");
		});

		QUnit.test("toolbar", function(assert) {
			var oForm = oSimpleForm.getAggregation("form");
			ok(!oForm.getToolbar(), "Form1 has no toolbar");

			oForm = oSimpleForm2.getAggregation("form");
			ok(oForm.getToolbar(), "Form2 gets Toolbar of SimpleForm");
			equal(oForm.getToolbar().getId(), "SF2-TB", "Form2 gets Toolbar of SimpleForm");
		});

		QUnit.test("first content", function(assert) {
			var aContent = oSimpleForm.getContent();
			equal(aContent.length, 24, "Number of content entries");

			ok(oSimpleForm.getAggregation("form"), "Internal Form exists");
			ok(oSimpleForm.getAggregation("form").getDomRef(), "Internal Form rendered");

			//containers + title
			var aContainers = oSimpleForm.getAggregation("form").getFormContainers();
			equal(aContainers.length, 2, "number of FormContainers");
			equal(aContainers[1].getTitle().getId(), "title2", "Second container title");

			//FormElements
			var aElements1 = aContainers[0].getFormElements();
			equal(aElements1.length, 5, "number of FormElements of first Container");
			equal(aElements1[0].getLabel().getId(), "L1", "Label of first FormElement");
			equal(aElements1[0].getFields().length, 1, "Number of Fields of first FormElement");
			equal(aElements1[1].getLabel().getId(), "L2", "Label of second FormElement");
			equal(aElements1[1].getFields().length, 2, "Number of Fields of second FormElement");

			var aElements2 = aContainers[1].getFormElements();
			equal(aElements2.length, 4, "number of FormElements of second Container");
			equal(aElements2[1].getLabel().getId(), "L2-2", "Label of second FormElement");
			equal(aElements2[1].getFields().length, 1, "Number of Fields of second FormElement");
			ok(!aElements2[2].getLabel(), "no Label on third FormElement");
			equal(aElements2[2].getFields().length, 1, "Number of Fields of third FormElement");
		});

		QUnit.test("LayoutData", function(assert) {
			var oLabel = sap.ui.getCore().byId("L1");
			var oLayoutData = oLabel.getLayoutData();
			ok(oLayoutData, "Label has LayoutData");
			equal(oLayoutData.getWeight(), 3, "Label LayoutData weight");
			var oInput = sap.ui.getCore().byId("I1");
			oLayoutData = oInput.getLayoutData();
			ok(oLayoutData, "TextField has LayoutData");
			equal(oLayoutData.getWeight(), 5, "TextField LayoutData weight");

			oLabel = sap.ui.getCore().byId("L2");
			oLayoutData = oLabel.getLayoutData();
			ok(oLayoutData, "Label2 has LayoutData");
			equal(oLayoutData.getWeight(), 3, "Label2 LayoutData weight");
			oInput = sap.ui.getCore().byId("I2");
			oLayoutData = oInput.getLayoutData();
			ok(oLayoutData, "TextField2 has LayoutData");
			equal(oLayoutData.getWeight(), 3, "TextField2 LayoutData weight");
			oInput = sap.ui.getCore().byId("I3");
			oLayoutData = oInput.getLayoutData();
			ok(oLayoutData, "TextField3 has LayoutData");
			equal(oLayoutData.getWeight(), 2, "TextField3 LayoutData weight");

			oLabel = sap.ui.getCore().byId("L3");
			oLayoutData = oLabel.getLayoutData();
			ok(oLayoutData, "Label3 has LayoutData");
			equal(oLayoutData.getWeight(), 3, "Label3 LayoutData weight");
			oInput = sap.ui.getCore().byId("I4");
			oLayoutData = oInput.getLayoutData();
			ok(oLayoutData, "TextField4 has LayoutData");
			equal(oLayoutData.getWeight(), 2, "TextField4 LayoutData weight");
			oInput = sap.ui.getCore().byId("I5");
			oLayoutData = oInput.getLayoutData();
			ok(oLayoutData, "TextField5 has LayoutData");
			equal(oLayoutData.getWeight(), 2, "TextField5 LayoutData weight");
			oInput = sap.ui.getCore().byId("I6");
			oLayoutData = oInput.getLayoutData();
			ok(oLayoutData, "TextField6 has LayoutData");
			equal(oLayoutData.getWeight(), 1, "TextField6 LayoutData weight");

			oLabel = sap.ui.getCore().byId("L2-2");
			oLayoutData = oLabel.getLayoutData();
			ok(oLayoutData, "Container2: Label2 has LayoutData");
			equal(oLayoutData.getWeight(), 3, "Container2: Label2 LayoutData weight");
			oInput = sap.ui.getCore().byId("I2-2");
			oLayoutData = oInput.getLayoutData();
			ok(oLayoutData, "Container2: TextField2 has LayoutData");
			equal(oLayoutData.getWeight(), 5, "Container2: TextField2 LayoutData weight");
			oInput = sap.ui.getCore().byId("I2-3");
			oLayoutData = oInput.getLayoutData();
			equal(oLayoutData.getId(), "LD_tf2-3", "Container2: TextField3 has own LayoutData");
			equal(oLayoutData.getWeight(), 8, "Container2: TextField3 LayoutData weight");

			oInput = sap.ui.getCore().byId("I2-4");
			oLayoutData = oInput.getLayoutData();
			equal(oLayoutData.getId(), "LD_tf2-4", "Container2: TextField4 has own LayoutData");
			equal(oLayoutData.getWeight(), 3, "Container2: TextField4 LayoutData weight");
			oInput = sap.ui.getCore().byId("I2-5");
			oLayoutData = oInput.getLayoutData();
			ok(oLayoutData, "Container2: TextField5 has LayoutData");
			equal(oLayoutData.getWeight(), 1, "Container2: TextField5 LayoutData weight");
			oInput = sap.ui.getCore().byId("I2-6");
			oLayoutData = oInput.getLayoutData();
			ok(oLayoutData, "Container2: TextField6 has LayoutData");
			equal(oLayoutData.getWeight(), 1, "Container2: TextField6 LayoutData weight");
		});

		QUnit.test("addContent", function(assert) {

			oSimpleForm.addContent(new sap.ui.core.Title("title3",{text:"Title 3"}));
			var aContent = oSimpleForm.getContent();
			equal(aContent.length, 25, "Number of content entries after title added");
			var aContainers = oSimpleForm.getAggregation("form").getFormContainers();
			equal(aContainers.length, 3, "number of FormContainers");
			equal(aContainers[2].getTitle().getId(), "title3", "Third container title");

			oSimpleForm.addContent(new sap.m.Input("I3-1",{value:"Text"}));
			aContent = oSimpleForm.getContent();
			equal(aContent.length, 26, "Number of content entries after TextField added");
			var oInput = sap.ui.getCore().byId("I3-1");
			var oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "TextField is inside new container");
			ok(!oElement.getLabel(), "First Element of new container has no label");

			oSimpleForm.addContent(new sap.m.Label("L-X",{text:"Label"}));
			oSimpleForm.addContent(new sap.m.Input("I-X-1",{value:"Text"}));
			oSimpleForm.addContent(new sap.m.Input("I-X-2",{value:"Text"}));
			oSimpleForm.addContent(new sap.m.Input("I-X-3",{value:"Text"}));
			aContent = oSimpleForm.getContent();
			equal(aContent.length, 30, "Number of content entries after new Fields added");
			var oLabel = sap.ui.getCore().byId("L-X");
			oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "Label is inside new container");
			equal(aContainers[2].getFormElements().length, 2, "Container has now 2 FormElemnts");
			equal(oElement.getLabel().getId(), "L-X", "new FormElement has label");
			equal(oElement.getFields().length, 3, "new FormElemnt number of fields");

			var oToolbar = new sap.m.Toolbar("SF2-TB1", {
				content: [new sap.m.Title("SF2-TB1-Title", {text: "Title", level: sap.ui.core.TitleLevel.H4, titleStyle: sap.ui.core.TitleLevel.H4}),
				          new sap.m.ToolbarSpacer(),
				          new sap.m.Button({icon: "sap-icon://sap-ui5"})]
			});
			oSimpleForm2.addContent(oToolbar);
			aContainers = oSimpleForm2.getAggregation("form").getFormContainers();
			equal(aContainers.length, 3, "Form2 number of FormContainers after adding Toolbar");
			equal(aContainers[2].getToolbar(), oToolbar, "Form2: toolbar assigned to container")

			sap.ui.getCore().applyChanges();
		});

		QUnit.test("insertContent", function(assert) {
			oSimpleForm.insertContent(new sap.ui.core.Title("title4",{text:"Title 4"}), 26); // insert before Label
			var aContent = oSimpleForm.getContent();
			var oTitle = sap.ui.getCore().byId("title4");
			equal(aContent.length, 31, "Number of content entries after new Title inserted");
			equal(oSimpleForm.indexOfContent(oTitle), 26, "Index of new title");
			var aContainers = oSimpleForm.getAggregation("form").getFormContainers();
			equal(aContainers.length, 4, "number of FormContainers");
			equal(aContainers[3].getTitle().getId(), "title4", "container4 title");
			var oLabel = sap.ui.getCore().byId("L-X");
			var oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[3].getId(), "Last label now in new container");

			oSimpleForm.insertContent(new sap.m.Label("L-Y",{text:"Label"}), 26); // insert before title
			aContent = oSimpleForm.getContent();
			var oLabel = sap.ui.getCore().byId("L-Y");
			equal(aContent.length, 32, "Number of content entries after new Label inserted");
			equal(oSimpleForm.indexOfContent(oLabel), 26, "Index of new Label");
			oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "new label in third container");

			oSimpleForm.insertContent(new sap.m.Label("L-Z",{text:"Label"}), 28); // insert before Label
			aContent = oSimpleForm.getContent();
			var oLabel = sap.ui.getCore().byId("L-Z");
			equal(aContent.length, 33, "Number of content entries after new Label inserted");
			equal(oSimpleForm.indexOfContent(oLabel), 28, "Index of new Label");
			oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[3].getId(), "new label in container 4");
			var iIndex = aContainers[3].indexOfFormElement(oElement);
			equal(iIndex, 0, "index of new FormElement in Container4");

			oSimpleForm.insertContent(new sap.m.Label("L-Z1",{text:"Label"}), 32); // insert before TextField
			aContent = oSimpleForm.getContent();
			var oLabel = sap.ui.getCore().byId("L-Z1");
			equal(aContent.length, 34, "Number of content entries after new Label inserted");
			equal(oSimpleForm.indexOfContent(oLabel), 32, "Index of new Label");
			oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[3].getId(), "new label in container 4");
			iIndex = aContainers[3].indexOfFormElement(oElement);
			equal(iIndex, 2, "index of new FormElement in Container4");

			oSimpleForm.insertContent(new sap.m.Label("L-Z2",{text:"Label"}), 25); // insert before TextField, but no label before
			aContent = oSimpleForm.getContent();
			var oLabel = sap.ui.getCore().byId("L-Z2");
			oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "new label in container 3");
			iIndex = aContainers[2].indexOfFormElement(oElement);
			equal(iIndex, 0, "index of FormElement in Container3");
			oLayoutData = oLabel.getLayoutData();
			ok(oLayoutData, "Label has LayoutData");
			equal(oLayoutData.getWeight(), 3, "Label LayoutData weight");

			oSimpleForm.insertContent(new sap.m.Input("I-X",{value:"Text X"}), 28); // insert before title
			var oInput = sap.ui.getCore().byId("I-X");
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "new TextField in container 3");
			iIndex = aContainers[2].indexOfFormElement(oElement);
			equal(iIndex, 1, "index of FormElement in Container3");

			oSimpleForm.insertContent(new sap.m.Input("I-Y",{value:"Text Y"}), 34); // insert before Label
			var oInput = sap.ui.getCore().byId("I-Y");
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[3].getId(), "new TextField in container 4");
			iIndex = aContainers[3].indexOfFormElement(oElement);
			equal(iIndex, 1, "index of FormElement in Container4");
			iIndex = oElement.indexOfField(oInput);
			equal(iIndex, oElement.getFields().length-1, "TextField is last Field of FormElement");

			oSimpleForm.insertContent(new sap.m.Input("I-Z",{value:"Text Z"}), 28); // insert before TextField
			var oInput = sap.ui.getCore().byId("I-Z");
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "new TextField in container 2");
			iIndex = aContainers[2].indexOfFormElement(oElement);
			equal(iIndex, 1, "index of FormElement in Container3");
			iIndex = oElement.indexOfField(oInput);
			iIndex2 = oElement.indexOfField(sap.ui.getCore().byId("I-X"));
			equal(iIndex, iIndex2-1, "TextField is before old TextField in FormElement");

			oSimpleForm.insertContent(new sap.ui.core.Title("title5",{text:"Title 5"}), 37); // insert before TextField
			oTitle = sap.ui.getCore().byId("title5");
			aContainers = oSimpleForm.getAggregation("form").getFormContainers();
			equal(aContainers.length, 5, "number of FormContainers");
			equal(aContainers[4].getTitle().getId(), "title5", "container5 title");
			oLabel = sap.ui.getCore().byId("L-Z1");
			oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[3].getId(), "Last label still in container4");
			oInput = sap.ui.getCore().byId("I-X-3");
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[4].getId(), "TextField now in container5");

			var oToolbar = new sap.m.Toolbar("SF2-TB2", {
				content: [new sap.m.Title("SF2-TB2-Title", {text: "Title", level: sap.ui.core.TitleLevel.H4, titleStyle: sap.ui.core.TitleLevel.H4}),
				          new sap.m.ToolbarSpacer(),
				          new sap.m.Button({icon: "sap-icon://sap-ui5"})]
			});
			oSimpleForm2.insertContent(oToolbar, 9);
			aContainers = oSimpleForm2.getAggregation("form").getFormContainers();
			equal(aContainers.length, 4, "Form2: number of FormContainers after adding Toolbar");
			equal(aContainers[2].getToolbar().getId(), "SF2-TB2", "Form2: container4 toolbar");
			oLabel = sap.ui.getCore().byId("SF2-L2-2");
			oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "Label now in container3");
			oInput = sap.ui.getCore().byId("SF2-I2-1");
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[1].getId(), "TextField still in container2");

			oInput = new sap.m.Input("I-ZZ",{value:"Text ZZ"});
			oSimpleForm2.insertContent(oInput, 9); // insert before Toolbar
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[1].getId(), "new TextField in container 1");
			iIndex = aContainers[1].indexOfFormElement(oElement);
			equal(iIndex, aContainers[1].getFormElements().length - 1, "is last FormElement in Container2");
			iIndex = oElement.indexOfField(oInput);
			equal(iIndex, oElement.getFields().length - 1, "TextField is last field FormElement");

			oLabel = new sap.m.Label("L-ZZ",{text:"Label ZZ"});
			oSimpleForm2.insertContent(oLabel, 10); // insert before Toolbar
			oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[1].getId(), "new Label in container 1");
			iIndex = aContainers[1].indexOfFormElement(oElement);
			equal(iIndex, aContainers[1].getFormElements().length - 1, "is last FormElement in Container2");

			sap.ui.getCore().applyChanges();
		});

		QUnit.test("removeContent", function(assert) {
			var aContent = oSimpleForm.getContent();
			var iContentLengthBefore = aContent.length;
			var sOldContainerId = sap.ui.getCore().byId("title4").getParent().getId();
			oSimpleForm.removeContent("title4");
			aContent = oSimpleForm.getContent();
			var iContentLengthAfter = aContent.length;
			equal(iContentLengthBefore, iContentLengthAfter+1, "Number of content entries after title was removed");
			var aContainers = oSimpleForm.getAggregation("form").getFormContainers();
			equal(aContainers.length, 4, "number of FormContainers");
			ok(!sap.ui.getCore().byId(sOldContainerId), "Old container not longer exists");
			var oLabel = sap.ui.getCore().byId("L-X");
			var oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "Label now in container3");
			var oInput = sap.ui.getCore().byId("I-Y");
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "TextField now in container3");
			oInput = sap.ui.getCore().byId("I-X-3");
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[3].getId(), "TextField still in container5");

			sOldContainerId = sap.ui.getCore().byId("title5").getParent().getId();
			oInput = sap.ui.getCore().byId("I-X-3");
			var sOldElementId = oInput.getParent().getId();
			oSimpleForm.removeContent("title5"); // remove title before element without label
			aContent = oSimpleForm.getContent();
			iContentLengthAfter = aContent.length;
			equal(iContentLengthBefore, iContentLengthAfter+2, "Number of content entries after title was removed");
			aContainers = oSimpleForm.getAggregation("form").getFormContainers();
			equal(aContainers.length, 3, "number of FormContainers");
			ok(!sap.ui.getCore().byId(sOldContainerId), "Old container not longer exists");
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[2].getId(), "TextField now in container3");
			equal(oElement.indexOfField(oInput), oElement.getFields().length-1, "TextField now last Field in Element");
			ok(!sap.ui.getCore().byId(sOldElementId), "Old element not longer exists");

			oLabel = sap.ui.getCore().byId("L-Y");
			sOldElementId = oLabel.getParent().getId();
			oSimpleForm.removeContent("L-Y"); // remove label
			aContent = oSimpleForm.getContent();
			iContentLengthAfter = aContent.length;
			equal(iContentLengthBefore, iContentLengthAfter+3, "Number of content entries after label was removed");
			oInput = sap.ui.getCore().byId("I-Z");
			oElement = oInput.getParent();
			equal(oElement.getLabel().getId(), "L-Z2", "TextField now in previous FormElement");
			equal(oElement.indexOfField(oInput), 1, "TextField now second Field in Element");
			ok(!sap.ui.getCore().byId(sOldElementId), "Old element not longer exists");
			ok(!oLabel.getLayoutData(), "Label has no LayoutData");

			oLabel = sap.ui.getCore().byId("L-Z2");
			oElement = oLabel.getParent();
			oSimpleForm.removeContent("L-Z2"); // remove label of first FormElement of Container
			ok(!oElement.getLabel(), "FormElement has no longer a label");

			oInput = sap.ui.getCore().byId("I-X-2");
			oElement = oInput.getParent();
			oSimpleForm.removeContent("I-X-2"); // remove TextField
			equal(oElement.getFields().length, 2, "FormElement number of fields after removing TextField");
			ok(!oInput.getLayoutData(), "TextField has no LayoutData");

			oSimpleForm2.removeContent("L-ZZ"); // remove Label
			oSimpleForm2.removeContent("I-ZZ"); // remove TextField
			oSimpleForm2.removeContent("SF2-TB2"); // remove Toolbar
			aContainers = oSimpleForm2.getAggregation("form").getFormContainers();
			equal(aContainers.length, 3, "Form2: number of FormContainers after adding Toolbar");
			oLabel = sap.ui.getCore().byId("SF2-L2-2");
			oElement = oLabel.getParent();
			equal(oElement.getParent().getId(), aContainers[1].getId(), "Label now in container2");
			oInput = sap.ui.getCore().byId("SF2-I2-1");
			oElement = oInput.getParent();
			equal(oElement.getParent().getId(), aContainers[1].getId(), "TextField still in container2");

			sap.ui.getCore().applyChanges();
		});

		QUnit.test("removeAllContent", function(assert) {
			var oLabel = sap.ui.getCore().byId("SF2-L1");
			var sOldElementId = oLabel.getParent().getId();
			var sOldContainerId = oLabel.getParent().getParent().getId();
			oSimpleForm2.removeAllContent();
			equal(oSimpleForm2.getContent().length, 0, "No content");
			var aContainers = oSimpleForm2.getAggregation("form").getFormContainers();
			equal(aContainers.length, 0, "No FormContainers");
			ok(!oLabel.getLayoutData(), "Label has no LayoutData");
			ok(!oLabel.getParent(), "Label has no parent");
			var oInput = sap.ui.getCore().byId("SF2-I1");
			ok(!oInput.getLayoutData(), "TextField has no LayoutData");
			ok(!oInput.getParent(), "TextField has no parent");
			oInput = sap.ui.getCore().byId("SF2-I2-3");
			ok(oInput.getLayoutData(), "TextField still has LayoutData");
			equal(oInput.getLayoutData().getId(), "SF2-LD_tf2-3", "TextField has original LayoutData");
			ok(!sap.ui.getCore().byId(sOldContainerId), "FormContainer not longer exists");
			ok(!sap.ui.getCore().byId(sOldContainerId), "FormElement not longer exists");

			sap.ui.getCore().applyChanges();
		});

		QUnit.test("destroyContent", function(assert) {
			var oLabel = sap.ui.getCore().byId("SF3-L1");
			var sOldElementId = oLabel.getParent().getId();
			var sOldContainerId = oLabel.getParent().getParent().getId();
			oSimpleForm3.destroyContent();
			equal(oSimpleForm3.getContent().length, 0, "No content");
			var aContainers = oSimpleForm3.getAggregation("form").getFormContainers();
			equal(aContainers.length, 0, "No FormContainers");
			var oLabel = sap.ui.getCore().byId("SF3-L1");
			ok(!oLabel, "Label no longer exist");
			var oInput = sap.ui.getCore().byId("SF3-I1");
			ok(!oInput, "TextField no longer exist");
			ok(!sap.ui.getCore().byId(sOldContainerId), "FormContainer not longer exists");
			ok(!sap.ui.getCore().byId(sOldContainerId), "FormElement not longer exists");

			sap.ui.getCore().applyChanges();
		});

		QUnit.module("Content changing");

		QUnit.test("toggle visibility", function(assert) {

			var oInput = sap.ui.getCore().byId("I-X-3");
			var oElement = oInput.getParent();
			oInput.setVisible(false);
			equal(oElement.getVisible(), false, "FormElement is invisible if Field is invisible");

			oInput = sap.ui.getCore().byId("I-X-1");
			oElement = oInput.getParent();
			oInput.setVisible(false);
			equal(oElement.getVisible(), true, "FormElement is still visible if only one Field is invisible");
			oInput = sap.ui.getCore().byId("I-Y");
			oInput.setVisible(false);
			equal(oElement.getVisible(), false, "FormElement is invisible if all fields are invisible");

			oInput.setVisible(true);
			equal(oElement.getVisible(), true, "FormElement is visible again if one field is visible");

			sap.ui.getCore().applyChanges();
		});


		QUnit.module("ARIA");

		QUnit.test("aria-labelledby", function(assert) {
			var oForm = oSimpleForm.getAggregation("form");
			ok(jQuery.sap.equal(oForm.getAriaLabelledBy(), ["ARIA-1"]), "Form1 gets AriaLabelledBy from SimpleForm");
			var sIds = oForm.$().attr("aria-labelledby");
			ok(sIds.search("ARIA-1") >= 0, "AriaLabelledBy rendered on Form");
			ok(!oSimpleForm.$().attr("aria-labelledby"), "SimpleForm has no aria-labelledby rendered");

			oForm = oSimpleForm3.getAggregation("form");
			equal(oForm.getAriaLabelledBy().length, 0, "Form3 no AriaLabelledBy");
		});

		</script>

	<title>qUnit Test for SimpleForm</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../images/controls/sap.ui.layout.form.gif">


</head>
<body class="sapUiBody">
	<h1 id="qunit-header">QUnit tests: sap.ui.layout.form.SimpleForm</h1>
	<h2 id="qunit-banner"></h2>
 	<h2 id="qunit-userAgent"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<ol id="qunit-tests"></ol>
	<br>
	<div id="uiArea1"></div>
	<br>
	<div id="uiArea2"></div>
	<br>
	<div id="uiArea3"></div>

</body>
</html>
