// ===========================
// Global CSS for 'base' theme
// ===========================

// ===========================
// Semantic Theming Mapping
// ===========================

// ===========================
// Demo Kit Theming
// ===========================

@sapUiDemoKitTableTdBorder: #ccc;
@sapUiDemoKitTableThBorder: #ccc;

@sapUiDemoKitColorBlue: rgb(47,160,224);
@sapUiDemoKitColorGreen: rgb(79,184,28);
@sapUiDemoKitColorYellow: rgb(240,171,0);

@sapUiDemoKitBgrBlue: transparent;
@sapUiDemoKitBorderBlue: #ccc;

@sapUiDemoKitBgrYellow: transparent;
@sapUiDemoKitBorderYellow: #ccc;

@sapUiDemoKitBgrGreen: transparent;
@sapUiDemoKitBorderGreen: #ccc;
