.sapUiDemokit .sapUiDocTitleLink a {
	font-size: inherit;
}

.sapUiDemokit .sapUiDocTitleLink.wrap a {
	text-overflow: inherit;
	white-space: inherit;
}
.sapUiDemokit .sapUiDocTitleLink.wrap {
	white-space: normal;
	text-overflow: inherit;
}