/* =========================================== */
/* CSS for control sap.ui.ux3/FacetFilterList  */
/* Quartz High Contrast Black theme            */
/* =========================================== */

/* Header */
.sapUiUx3FFLstHead {
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3FFLstHeadTxt {
	font-size: @sapUiDesktopFontSize;
}

/* Facet Filter List*/
.sapUiUx3FFLst {
	font-size: @sapUiDesktopFontSize;
}