.sapUxAPBreadCrumbs {

	.sapMText:focus {
		outline: 0.0625rem dotted @sapUiFocus;
		outline-offset: 0.2rem;
	}

	.sapMSlt {
		background-color: transparent;

		.sapMSltLabel {
			color: @sapUiDarkText;
		}
	}

	.sapMSltPressed > .sapMSltArrow::before {
		color: @sapUiSelectArrowColor;
	}
}
