<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/git2p4-tool/src/main/java/com/sap/ui5/tools/infra/git2p4/Git2P4Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sap.ui5.tools.infra.git2p4.Git2P4Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--p4-dest-path //tc1/phoenix/#&#13;&#10;--ui5-git-root C:\ws\Phoenix\depot\tmp.patch&#13;&#10;--log-file C:\ws\Phoenix\depot\tmp.patch\logs\git2p4.log &#13;&#10;--log-file-template C:\ws\Phoenix\depot\tmp.patch\logs\#.log &#13;&#10;--verbose&#13;&#10;--optimize-diffs&#13;&#10;--milestone&#13;&#10;--preview"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="git2p4-tool"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
