/* ================================= */
/* CSS for control sap.ui.mdc/Table  */
/* Morning Horizon theme             */
/* ================================= */

@_sap_ui_mdc_Table_ExportButtonType: ~"Transparent";
@_sap_ui_mdc_Table_ToolbarDesign: ~"Solid";
@_sap_ui_mdc_Table_HeaderStyle: ~"H5";

.sapUiMdcTable .sapMIBar.sapMTBHeader-CTX {
	border-top-right-radius: var(--sapElement_BorderCornerRadius);
	border-top-left-radius: var(--sapElement_BorderCornerRadius);
}