/* ======================================= */
/* CSS for control sap.ui.layout/Splitter  */
/* Quartz High Contrast Black theme        */
/* ======================================= */

@_sap_ui_layout_Splitter_BarColor: @sapUiHcReducedAltForeground;
@_sap_ui_layout_Splitter_BarHoverColor: @sapUiBaseBG;

.sapUiLoSplitter {
	background-color: @sapUiHcStandardBackground;
}

html.sap-desktop .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
html.sap-desktop .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	height: 100%;
	width: 0.25rem;
}

html.sap-desktop .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
html.sap-desktop .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	width: 100%;
	height: 0.25rem;
}

.sapUiLoSplitter > .sapUiLoSplitterBar {
	background-color:@_sap_ui_layout_Splitter_BarColor;
}

.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	background-color: @sapUiGlobalBackgroundColor;
}

.sapUiLoSplitterBarIcon {
	display: none;
}

.sapUiLoSplitter > .sapUiLoSplitterBar:hover,
.sapUiLoSplitter > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
	background-color: @sapUiHcStandardForeground;
}

/*********************************** IE Focus outline workaround **********************************/// TODO remove after the end of support for Internet Explorer

html[data-sap-ui-browser^=ie] .sapUiLoSplitterH > .sapUiLoSplitterBar:focus::after {
	top: 0;
}
