/* ===================================== */
/* CSS for control sap.m/ActionListItem  */
/* Fiori 3 theme                         */
/* ===================================== */

html.sap-desktop .sapMList .sapMLIB.sapMALI:not(.sapMLIBActive) {
	padding: 0;
}

.sapMList .sapMLIB.sapMALI:focus {
	outline-offset: -0.2rem;
}

.sapMALI > .sapMLIBContent {
	line-height: 3rem;
}