/* ============================= */
/* CSS for control sap.m/Avatar  */
/* Fiori 3 theme                 */
/* ============================= */

.sapFAvatarInitialsHolder {
	color: @sapUiContentContrastTextColor;
}

.sapFAvatarIcon {
	color: @sapUiContentContrastIconColor;
}

.sapFAvatarSquare {
	border-radius: @sapUiElementBorderCornerRadius;

	.sapFAvatarImageHolder {
		border-radius: @sapUiElementBorderCornerRadius;
	}
}

.sapFAvatarXL{
	font-size: 3rem;
}

.sapFAvatarL {
	font-size: 2.25rem;
}

.sapFAvatarM {
	font-size: 1.5rem;
}

.sapFAvatarS {
	font-size: 1.125rem;
}

.sapFAvatarXS {
	font-size: 1rem;
}

.sapFAvatar.sapFAvatarInitials > .sapFAvatarInitialsHolder {
	font-size: inherit;
}