/* =========================== */
/* CSS for control sap.m/Link  */
/* Fiori 3 theme               */
/* =========================== */

@_sap_m_Link_TextShadowColor: none;
@sapUiLinkSubtleColor: darken(@sapUiLink, 15);

.sapMLnkDsbl {
	opacity: @sapUiContentDisabledOpacity;
	outline: none;
	cursor: default;
}

.sapMLIBActive .sapMLnk {
	color: @sapUiListActiveTextColor;
	text-decoration: underline;
}

.sapMLnkSubtle {
	color: @sapUiLinkSubtleColor;
}

.sapMLnkSubtle:focus {
	color: @sapUiContentFocusColor;
}

.sapMLnk:not(.sapMLnkDsbl) {
	text-shadow: @_sap_m_Link_TextShadowColor;
}