/* =============================== */
/* CSS for control sap.m/ListBase  */
/* Fiori 3 theme                   */
/* =============================== */

.sapMGrowingListDescription,
.sapMGrowingListTriggerText > .sapMSLITitle {
	text-shadow: @sapUiShadowText;
}

.sapMSticky > .sapMListHdrText,
.sapMSticky > .sapMListHdrTBar.sapMTB-Transparent-CTX {
	background: lighten(@sapUiListHeaderBackground, 2);
}

.sapMGrowingListTrigger {
    border-top: @sapUiListBorderWidth solid @sapUiListHeaderBorderColor;
}