/* ==================================== */
/* CSS for control sap.m/MenuButton     */
/* Fiori 3 theme                        */
/* ==================================== */

/* Compact size */
.sapUiSizeCompact {
	.sapMMenuBtn {
		.sapMBtnInner.sapMBtnText .sapMBtnIcon {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.sapMMenuBtn .sapMBtnIcon {
		margin-left: 0.4375rem;
		margin-right: 0.4375rem;
	}
}

.sapMMenuBtn.sapMMenuBtnRegular .sapMBtnInner:not(.sapMBtnText) {
	padding-left: 0rem;
}

.sapMMenuBtn .sapMBtn:not(.sapMSBArrow) .sapMBtnInner.sapMBtnIconFirst:not(.sapMBtnText) .sapMBtnIcon {
	padding-right: 0rem;
}
