/* =================================== */
/* CSS for control sap.m/MessageStrip  */
/* Fiori 3 theme                       */
/* =================================== */

.sapMMsgStrip {
	border-radius: @sapUiElementBorderCornerRadius;
}

.sapMMsgStripInformation {
	background-color: @sapInformationBackground;
	border-color: @sapInformationBorderColor;
	color: @sapUiBaseText;

	& .sapMMsgStripIcon {
		color: @sapInformativeElementColor;
	}
}

.sapMMsgStripCloseButton {
	top: -0.4375rem;
}