/* ================================== */
/* CSS for control sap.m/NewsContent  */
/* Fiori 3 theme                      */
/* ================================== */

@_sap_m_NewsContent_HeaderTextColor: contrast(@_sap_m_TileContent_NewsContentBackgroundColor, @sapUiTileTitleTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@_sap_m_NewsContent_SubHeaderTextColor: contrast(@_sap_m_TileContent_NewsContentBackgroundColor, @sapUiTileTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);

.sapMNwC {
	background-color: fade(@sapUiTileBackground, 60);
	height: 3.625rem;
}

.sapMTileCnt.News {
	.sapMNwC {
		text-shadow: 0 0 0.125rem contrast(@_sap_m_NewsContent_SubHeaderTextColor, @sapUiContentShadowColor, @sapUiContentContrastShadowColor, @sapUiContentContrastTextThreshold);
		.sapMNwCSbh {
			color: @_sap_m_NewsContent_SubHeaderTextColor;
			line-height: normal;
		}
		.sapMNwCCTxt .sapMText, .sapMNwCCTxt .sapMFT {
			color: @_sap_m_NewsContent_HeaderTextColor;
			line-height: normal;
		}
	}
}

.sapMNwC:focus {
	outline: 1px dotted @sapUiContentFocusColor;
}