/* =============================== */
/* CSS for control sap.m/TextArea  */
/* Fiori 3 theme                   */
/* =============================== */

/* uses sapMInputBase styles */
.sapMInputBase.sapMTextArea {
	min-height: 2.25rem;
}

html.sap-desktop:not(.sapUiNativeScrollbars) .sapMTextArea {
	.sapMInputBaseContentWrapperWarning ::-webkit-scrollbar {
		background: @sapUiFieldWarningBackgroundStyle;
		background-color: @sapUiScrollBarTrackColor;
	}

	.sapMInputBaseContentWrapperError ::-webkit-scrollbar {
		background: @sapUiFieldInvalidBackgroundStyle;
		background-color: @sapUiScrollBarTrackColor;
	}

	.sapMInputBaseContentWrapperInformation ::-webkit-scrollbar {
		background: @sapUiFieldInformationBackgroundStyle;
		background-color: @sapUiScrollBarTrackColor;
	}

	.sapMInputBaseContentWrapperSuccess ::-webkit-scrollbar {
		background: @sapUiFieldSuccessBackgroundStyle;
		background-color: @sapUiScrollBarTrackColor;
	}
}