/* =============================== */
/* CSS for control sap.m/TextArea  */
/* Fiori 3 theme                   */
/* =============================== */

/* uses sapMInputBase styles */
.sapMInputBase.sapMTextArea {
	min-height: 2.25rem;
}

html.sap-desktop:not(.sapUiNativeScrollbars) .sapMTextArea {

	.sapMInputBaseContentWrapperWarning ::-webkit-scrollbar {
		background: var(--sapField_WarningBackgroundStyle);
		background-color: var(--sapScrollBar_TrackColor);
	}

	.sapMInputBaseContentWrapperError ::-webkit-scrollbar {
		background: var(--sapField_InvalidBackgroundStyle);
		background-color: var(--sapScrollBar_TrackColor);
	}

	.sapMInputBaseContentWrapperInformation ::-webkit-scrollbar {
		background: var(--sapField_InformationBackgroundStyle);
		background-color: var(--sapScrollBar_TrackColor);
	}

	.sapMInputBaseContentWrapperSuccess ::-webkit-scrollbar {
		background: var(--sapField_SuccessBackgroundStyle);
		background-color: var(--sapScrollBar_TrackColor);
	}
}