/* ================================== */
/* CSS for control sap.m/TileContent  */
/* Fiori 3 theme                  */
/* ================================== */

@_sap_m_TileContent_NewsContentBackgroundColor: var(--sapTile_OverlayBackground);
@_sap_m_TileContent_NewsFooterTextColor: @_sap_m_NewsContent_SubHeaderTextColor;

.sapMTileCnt.News {
	background-color: @_sap_m_TileContent_NewsContentBackgroundColor;
	opacity: 0.8;
}

.sapMTileCnt.News .sapMTileCntFtrTxt {
	color: @_sap_m_TileContent_NewsFooterTextColor;
}