/* ==================================== */
/* CSS for control sap.m/ToggleButton   */
/* Fiori 3 theme                        */
/* ==================================== */

/* hover and down on toggled button */
.sapMBtn:hover > .sapMBtnHoverable.sapMToggleBtnPressed:not(.sapMBtnActive),
.sapMBtn .sapMBtnHoverable.sapMToggleBtnPressed:hover {

	&.sapMBtnReject {
		background-color: var(--sapButton_Reject_Selected_Hover_Background);
		border-color: var(--sapButton_Reject_Selected_Hover_BorderColor);
		color: var(--sapButton_Reject_Selected_TextColor);

		& .sapUiIcon {
			color: var(--sapButton_Reject_Selected_TextColor);
		}
	}

	&.sapMBtnAccept {
		background-color: var(--sapButton_Accept_Selected_Hover_Background);
		border-color: var(--sapButton_Accept_Selected_Hover_BorderColor);
		color: var(--sapButton_Accept_Selected_TextColor);

		& .sapUiIcon {
			color: var(--sapButton_Accept_Selected_TextColor);
		}
	}

	&.sapMBtnAttention {
		background-color: var(--sapButton_Attention_Selected_Hover_Background);
		border-color: var(--sapButton_Attention_Selected_Hover_BorderColor);
		color: var(--sapButton_Attention_Selected_TextColor);

		& .sapUiIcon {
			color: var(--sapButton_Attention_Selected_TextColor);
		}
	}
}