.sapUiTstCtrl {
	color: white;
}

/* Inline theming parameters */
#sap-ui-theme-testlibs\.themeParameters\.lib16{background-image:url('data:text/plain;utf-8,%7B%22default%22%3A%7B%22sapUiThemeParamForLib16%22%3A%22%23dfdfdf%22%7D%2C%22scopes%22%3A%7B%7D%7D')};