/* =============================== */
/* CSS for a command shortcut hint */
/* Base theme                      */
/* =============================== */

.sapUiHintContainer {
	background: @sapUiBaseBG;
	border: none;
	box-shadow: @sapUiShadowLevel1;
	white-space: nowrap;
}

.sapUiHintText {
	font-family: @sapUiFontFamily;
	font-size: @sapMFontMediumSize;
	color: @sapUiBaseText;
	padding: 0 0.5rem;
}