/* =============================== */
/* CSS for a command shortcut hint */
/* Base theme                      */
/* =============================== */

.sapUiHintContainer {
	background: @sapUiBaseBG;
	border: none;
	border-radius: 0.0625rem;
	box-shadow: @sapUiContentShadow1;
	white-space: nowrap;
}

.sapUiHintText {
	font-family: @sapUiFontFamily;
	font-size: @sapMFontSmallSize;
	color: @sapUiBaseText;
	padding: 0 0.5rem;
	line-height: 1rem;
}