
/* CSS parameters which are available in base theme */

/* font */
.sapThemeFont {
	font-family: @sapUiFontFamily !important;
	font-size: @sapUiFontSize !important;
}
.sapThemeFontFamily {
	font-family: @sapUiFontFamily !important;
}
.sapThemeFontSize {
	font-size: @sapUiFontSize !important;
}

/* text color */
.sapThemeText,
.sapThemeText-asColor {
	color: @sapUiBaseText !important;
}
.sapThemeText-asBackgroundColor {
	background-color: @sapUiBaseText !important;
}
.sapThemeText-asBorderColor {
	border-color: @sapUiBaseText !important;
}
.sapThemeText-asOutlineColor {
	outline-color: @sapUiBaseText !important;
}

/* text color inverted */
.sapThemeTextInverted,
.sapThemeTextInverted-asColor {
	color: @sapUiContentContrastTextColor !important;
}

/* base bg */
.sapThemeBaseBG,
.sapThemeBaseBG-asBackgroundColor {
	background-color: @sapUiBaseBG !important;
}
.sapThemeBaseBG-asBorderColor {
	border-color: @sapUiBaseBG !important;
}
.sapThemeBaseBG-asColor {
	color: @sapUiBaseBG !important;
}

/* brand color */
.sapThemeBrand,
.sapThemeBrand-asColor {
	color: @sapUiBrand !important;
}
.sapThemeBrand-asBorderColor {
	border-color: @sapUiBrand !important;
}
.sapThemeBrand-asBackgroundColor {
	background-color: @sapUiBrand !important;
}
.sapThemeBrand-asOutlineColor {
	outline-color: @sapUiBrand !important;
}

/* highlight color */
.sapThemeHighlight,
.sapThemeHighlight-asColor {
	color: @sapUiHighlight !important;
}
.sapThemeHighlight-asBorderColor {
	border-color: @sapUiHighlight !important;
}
.sapThemeHighlight-asBackgroundColor {
	background-color: @sapUiHighlight !important;
}
.sapThemeHighlight-asOutlineColor {
	outline-color: @sapUiHighlight !important;
}

/* border color */
.sapThemeForegroundBorderColor,
.sapThemeForegroundBorderColor-asBorderColor {
	border-color: @sapUiContentForegroundBorderColor  !important;
}