/* ======================================= */
/* CSS for control sap.f/DynamicPageTitle  */
/* Horizon theme                           */
/* ======================================= */


.sapFDynamicPageTitle {
	padding: 0.5rem 2rem;
	word-wrap: break-word;
}

.sapFDynamicPage-Std-Desktop-XL .sapFDynamicPageTitle {
	padding: 0.5rem 3rem;
}

.sapFDynamicPage-Std-Tablet {
	.sapFDynamicPageTitle,
	.sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnapped > .sapFDynamicPageTitle {
		padding: 0.5rem 2rem;
	}

	// Needed because on some high-end phones in landscape mode,
	// the width of the viewport is bigger than 600 (Tablet breakpoint).
	.sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnappedTitleOnMobile > .sapFDynamicPageTitle {
		padding: 0 2rem;
	}
}

.sapFDynamicPage-Std-Phone {
	.sapFDynamicPageTitle,
	.sapFDynamicPageTitleWrapper.sapFDynamicPageTitleOnly > .sapFDynamicPageTitle,
	.sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnapped > .sapFDynamicPageTitle {
		padding: 0.5rem 1rem;
	}

	.sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnappedTitleOnMobile > .sapFDynamicPageTitle {
		padding: 0 1rem;
	}
}

.sapFDynamicPageTitle.sapFDynamicPageTitleTranslucent {
	background: @sapUiObjectHeaderBackground;
}

.sapFDynamicPageTitle.sapFDynamicPageTitleTransparent {
	background: transparent;
}

.sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnappedTitleOnMobile > .sapFDynamicPageTitle {
	box-shadow: @sapUiShadowHeader;
}

.sapFDynamicPageNavigation .sapFDynamicPageTitleWrapper {
	&.sapFDynamicPageTitleSnapped,
	&.sapFDynamicPageTitleOnly {
		& > .sapFDynamicPageTitle {
			box-shadow: none;
		}
	}
}

.sapFDynamicPageTitle .sapMTB {
	background: transparent;
	padding: 0;
}

.sapFDynamicPageTitleMainNavigationArea > .sapMTBSeparator {
	margin: 0 0.5rem;
}

.sapFDynamicPageTitleMain > .sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner {
	margin-top: 0.6875rem;
}

.sapUiSizeCompact .sapFDynamicPageTitleMain > .sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner {
	margin-top: 0.3125rem;
}

.sapUxAPObjectPageLayoutNoHeaderContent.sapUxAPObjectPageLayoutNoAnchorBar .sapFDynamicPageTitle {
		box-shadow: @sapUiShadowHeader;
}

// =====================================
// =====================================
// Delta Styles for Horizon
// =====================================

.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner .sapMTitle:not(.sapUICompVarMngmtTitle) {
	font-size: @sapObjectHeader_Title_FontSize;
	font-family: @sapFontBlackFamily;
}


// Expanded Header title is small on small screens

.sapFDynamicPage-Std-Phone .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner .sapMTitle:not(.sapUICompVarMngmtTitle) {
	font-size: @sapObjectHeader_Title_SnappedFontSize;
	font-family: @sapFontBlackFamily;
}


// Snapped Header title is small on all screen sizes

.sapFDynamicPageTitleSnapped .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner .sapMTitle:not(.sapUICompVarMngmtTitle) {
	font-size: @sapObjectHeader_Title_SnappedFontSize;
	font-family: @sapFontBlackFamily;
}

// Overview Page using Dynamic page Header
.ovpApplication .sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnapped>.sapFDynamicPageTitle,
.ovpApplication .sapFDynamicPageTitleWrapper.sapFDynamicPageTitleOnly>.sapFDynamicPageTitle {
    box-shadow: @sapUiContentHeaderShadow;
}

// Dynamic page Title Focus - Experimental
html.sap-desktop {
        .sapFDynamicPageTitle.sapFDynamicPageTitleFocus {
            outline: @sapContent_FocusWidth @sapContent_FocusStyle @sapUiContentFocusColor;
            outline-offset: -0.0625rem;
        }
}

// =====================================
// Dynamic page Snapped header bottom spacing allows for pin buttons
// =====================================
.sapFDynamicPageTitle, .sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnapped>.sapFDynamicPageTitle {
    padding-bottom: 1rem;
}

// =====================================
// GenericTag
// =====================================
.sapFDynamicPageTitleMain .sapMGenericTag.sapMBarChild  {
    margin-top: 1rem;
}

.sapFDynamicPageTitleSnapped .sapMGenericTag.sapMBarChild  {
    margin-top: 0.3125rem;
}

.sapUiSizeCompact {
	.sapFDynamicPageTitle .sapMTB {
		height: 2.75rem;
	}

	.sapFDynamicPageTitleMain .sapMGenericTag.sapMBarChild {
		margin-top: 0;
	}
}