/* ======================================== */
/* CSS for control sap.m/ProgressIndicator  */
/* Quartz High Contrast Black theme         */
/* ======================================== */

.sapMPIBarNeutral {
	background: var(--sapHighlightColor);
	box-sizing: border-box;
	border: 1px solid var(--sapField_BorderColor);
}

.sapMPIBarPositive {
	background: var(--sapHighlightColor);
	box-sizing: border-box;
	border: 1px solid var(--sapField_BorderColor);
}

.sapMPIBarNegative {
	background: var(--sapHighlightColor);
	box-sizing: border-box;
	border: 1px solid var(--sapField_BorderColor);
}

.sapMPIBarCritical {
	background: var(--sapHighlightColor);
	box-sizing: border-box;
	border: 1px solid var(--sapField_BorderColor);
}

.sapMPIBarInformation {
	background: var(--sapHighlightColor);
	box-sizing: border-box;
	border: 1px solid var(--sapField_BorderColor);
}

/* HCB Additional Styles */
.sapMPIText::before {
	font-family: var(--sapContent_IconFontFamily);
	font-size: 0.875rem;
	margin-right: 0.375rem;
	vertical-align: bottom;
}

.sapMPIDisplayOnly .sapMPIText::before {
	font-size: 0.6875rem;
	vertical-align: top;
}

.sapMPIDisplayOnly:not(.sapMPIBarDisabled) .sapMPIBarNeutral {
	background: var(--sapHighlightColor);
}

.sapMPITextLeft::before {
	margin-left: 0.25rem;
}

.sapMPIBarPositive > .sapMPITextLeft::before,
.sapMPIBarPositive + .sapMPIBarRemaining > .sapMPITextRight::before {
	content: '\e1c1';
}

.sapMPIBarNegative > .sapMPITextLeft::before,
.sapMPIBarNegative + .sapMPIBarRemaining > .sapMPITextRight::before {
	content: '\e1ec';
}

.sapMPIBarCritical > .sapMPITextLeft::before,
.sapMPIBarCritical + .sapMPIBarRemaining > .sapMPITextRight::before {
	content: '\e053';
}

.sapMPIBarInformation > .sapMPITextLeft::before,
.sapMPIBarInformation + .sapMPIBarRemaining > .sapMPITextRight::before {
	content: '\e289';
}

.sapMPIBarPositive + .sapMPIBarRemaining > .sapMPITextRight::before,
.sapMPIBarNegative + .sapMPIBarRemaining > .sapMPITextRight::before,
.sapMPIBarCritical + .sapMPIBarRemaining > .sapMPITextRight::before,
.sapMPIBarInformation + .sapMPIBarRemaining > .sapMPITextRight::before {
	color: var(--sapContent_ForegroundTextColor);
}

.sapMPIBarDisabled {
	opacity: 1;
	border-color: @sapUiHcReducedForeground;

	.sapMPIText.sapMPITextLeft,
	.sapMPITextRight,
	.sapMPIBarRemaining > .sapMPITextRight::before {
		color: var(--sapContent_DisabledTextColor);
	}

	.sapMPIBarNeutral,
	.sapMPIBarPositive,
	.sapMPIBarNegative,
	.sapMPIBarCritical,
	.sapMPIBarInformation {
		background: @sapUiHcReducedBackground;
		border-color: @sapUiHcReducedForeground;
	}

	.sapMPIBarRemaining {
		border-color: @sapUiHcReducedForeground;
	}
}

.sapMPIValueMin >.sapMPIBar {
	border: none;
}

.sapMPI {
	height: 1rem;
	min-width: 4rem;

	&:not(.sapMPIDisplayOnly) {
		margin: 0.5rem 0;
	}
}

.sap-phone,
.sap-tablet:not(.sap-combi) {

	.sapMPI:not(.sapMPIDisplayOnly) {
		margin: 0.875rem 0;
	}
}