/* ==================================== */
/* CSS for control sap.m/PullToRefresh  */
/* Quartz High Contrast Black theme     */
/* ==================================== */

.sapMPullDownNontouch:focus {
	outline-width: 0.125rem;
}

html[data-sap-ui-browser^="ie"] .sapMPullDownNontouch:focus:before {
	width: calc(~'100% - 0.125rem');
	height: calc(~'100% - 0.125rem');
	border-width: 0.125rem;
}