/* ================================= */
/* CSS for control sap.m/QuickView   */
/* Quartz High Contrast Black theme  */
/* ================================= */

@_sap_m_QuickView_HorizontalLayoutMarginBottom: 1rem;
@_sap_m_QuickView_HorizontalLayoutIconFontSize: 1.5rem;
@_sap_m_QuickView_PagePaddingTop: 2.75rem;
@_sap_m_QuickView_PageThumbnailBackgroundColor: @sapUiAccent7;
@_sap_m_QuickView_PageThumbnailColor: @sapUiContentContrastTextColor;
@_sap_m_QuickView_PageThumbnailBorderRadius: @sapUiElementBorderCornerRadius;
@_sap_m_QuickView_DesktopIconFocusOutline: 0.125rem dotted @sapUiContentFocusColor;
@_sap_m_QuickView_DesktopIconFocusOutlineOffset: -0.125rem;

.sapMQuickViewCard {
	box-sizing: border-box;
	padding: 1rem;
	background: @sapUiGroupContentBackground;
	box-shadow: @sapUiShadowLevel0;
	border-radius: @sapUiElementBorderCornerRadius;
}