/* ============================================= */
/* CSS for control sap.ui.table/AnalyticalTable  */
/* Belize theme                                  */
/* ============================================= */

.sapUiAnalyticalTable .sapUiTableColHdrCnt {
	min-height: @sapUiTableColHdrHeight;
}

.sapUiAnalyticalTable .sapUiTableCtrl tr {
	height: @sapUiTableRowHeight;
}

.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableColHdrScr,
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableColHdrFixed {
	margin-left: @sapUiTableRowHdrWidth;
}

.sapUiAnalyticalTable .sapUiTableColRowHdr,
.sapUiAnalyticalTable .sapUiTableColRowHdrIco,
.sapUiAnalyticalTable .sapUiTableRowHdrScr {
	width: @sapUiTableRowHdrWidth;
}

.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableCtrlScr,
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableCtrlScrFixed {
	margin-left: @sapUiTableRowHdrWidth;
}

.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableHSb {
	padding-left: @sapUiTableRowHdrWidth;
}

.sapUiAnalyticalTable .sapUiTableColCell > .sapUiLbl {
	font-weight: bold;
	font-size: 0.875rem;
	color: @sapUiListTextColor;
}

.sapUiAnalyticalTable .sapUiTableCell > .sapUiTv {
	font-size: 0.875rem;
}

/* Hierarchical Support */

.sapUiAnalyticalTable tr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiAnalyticalTableSum {
	background-color: @sapUiListBackground;
}

.sapUiAnalyticalTableSum .sapUiTv,
.sapUiAnalyticalTableSum .sapUiUfdCurrency,
.sapUiAnalyticalTableSum .sapUiTableCell > .sapMLabel {
	font-weight: bold !important;
}

.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiAnalyticalTableDummy {
	font-size: 14px;
	line-height: 28px;
	color: @sapUiContentLabelColor;
}

.sapUiAnalyticalTable .sapUiTableCtrl tr.sapUiTableRowHvr,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLbl,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiTf,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:visited,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLbl,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiTf,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:visited,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:hover {
	color: @sapUiListTextColor;
	background-color: @sapUiListHoverBackground;
}

.sapUiSizeCompact, .sapUiSizeCozy {
	.sapUiTableSelModeMultiToggle .sapUiAnalyticalTableSum.sapUiTableRowHdr::after {
		display: none;
	}
}

.sapUiAnalyticalTable .sapUiTableRowHdr {
	position: relative;
}

.sapUiAnalyticalTable .sapUiTableTr.sapUiAnalyticalTableSum td:last-child {
	border-right: 1px solid @sapUiListVerticalBorderColor;
}