/* ============================= */
/* CSS for control sap.m/Dialog  */
/* Belize Plus theme             */
/* ============================= */

@_sap_m_Dialog_NoStateHeaderShadow: inset 0 -0.0625rem lighten(@sapUiGroupContentBackground, 8);

// This parameter is used in sap.m.Select. TODO: remove it when it is removed from there.
@_sap_m_Dialog_HeaderShadowColor: lighten(@sapUiGroupContentBackground, 8);

// buttons on phone must stretch
html.sap-phone .sapMDialog {
	& > footer .sapMFooter-CTX {
		.sapMBtn {
			-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
			-webkit-flex: 1; /* Chrome */
			flex: 1;
			min-width: 31%;
		}
	}
}