/* ================================= */
/* CSS for control sap.m/IconTabBar  */
/* Belize Plus theme                 */
/* ================================= */

@_sap_m_IconTabBar_TextHoverColor: lighten(@sapUiGroupTitleTextColor, 2);
@_sap_m_IconTabBar_SelectedTextColor: @sapUiSelected;
@_sap_m_IconTabBar_SelectedTextHoverColor: lighten(@sapUiSelected, 10);
@_sap_m_IconTabBar_HeaderMinHeight: 3rem;