/* =============================== */
/* CSS for control sap.m/ListBase  */
/* Belize plus theme               */
/* =============================== */

.sapMGrowingList > .sapMCLI.sapMLIB:not(.sapMLIBActive) {
	background: lighten(@sapUiListBackground, 3);
	border-color: lighten(@sapUiListBorderColor, 3);
}

.sapMGrowingList > .sapMCLI.sapMLIBHoverable:hover {
	background: lighten(@sapUiListHoverBackground, 3);
}

.sapMGrowingListDescription,
.sapMGrowingListTriggerText > .sapMSLITitle {
	text-shadow: @sapUiShadowText;
}