/* ================================== */
/* CSS for control sap.m/NewsContent  */
/* Belize Plus theme                  */
/* ================================== */

.sapMTileCnt.News {
	.sapMNwC {
		text-shadow: @sapUiShadowText;
		.sapMNwCSbh {
			color: @sapUiTileTextColor;
		}
		.sapMNwCCTxt .sapMText {
			color: @sapUiGroupTitleTextColor;
		}
	}
}