.sapMSliderInner {
  background: darken(@sapUiFieldBorderColor, 5);
}

.sapMSliderHandle {
  border: 0.125rem solid lighten(@sapUiFieldBorderColor, 15);
}

.sapMSliderHandle:hover {
  background-color: fade(lighten(@sapUiFieldBackground, 15), 60);
  border: 0.125rem solid lighten(@sapUiFieldBorderColor, 15);
}