/* =============================== */
/* CSS for control sap.m/TabStrip  */
/* Belize plus theme                    */
/* =============================== */

.sapMTabStrip {
	box-shadow: inset 0 -0.125rem 0 0 lighten(@sapUiObjectHeaderBackground,8);
	.sapMTSTabsContainer {
		.sapMTSTabs {
			.sapMTabStripItem {
				&:hover {
					color: lighten(@sapUiGroupTitleTextColor, 10);
				}
				&.sapMTabStripItemSelected {
					color: lighten(@sapUiGroupTitleTextColor, 20);
				}
			}
		}
	}
}
