/* ========================================= */
/* CSS for control sap.m/ViewSettingsDialog  */
/* Belize Plus theme                         */
/* ========================================= */

@_sap_m_ViewSettingsDialog_HeaderBorderColor: lighten(@sapUiGroupContentBackground, 8);

.sapMVSD {
	.sapMPageSubHeader .sapMVSDBar {
		height: 2.75rem;
	}
	.sapMTB.sapMVSDFilterHeaderToolbar {
		padding-left: 0;
	}
	.sapMPage > .sapMPageHeader + .sapMPageSubHeader + section {
		top: 6rem;
	}
}

.sapUiSizeCompact .sapMVSD {
	.sapMPageSubHeader .sapMVSDBar {
		height: 2rem;
	}
	.sapMTB.sapMVSDFilterHeaderToolbar {
		padding-left: 0.75rem;
	}
	.sapMPage > .sapMPageHeader + .sapMPageSubHeader + section {
		top: 4.75rem;
	}
}