<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>sap.ui.layout.AlignedFlowLayout</title>
		<script id="sap-ui-bootstrap"
				src="../../../../resources/sap-ui-core.js"
				data-sap-ui-async="true"
				data-sap-ui-compatVersion="edge"
				data-sap-ui-libs="sap.ui.layout, sap.m"
				data-sap-ui-theme="sap_horizon">
		</script>
		<script>
			sap.ui.getCore().attachInit(function() {
				sap.ui.require([
					"sap/m/App",
					"sap/m/Button",
					"sap/m/Input",
					"sap/m/Page",
					"sap/m/Text",
					"sap/ui/layout/AlignedFlowLayout"
				], function(App, Button, Input, Page, Text, AlignedFlowLayout) {
					"use strict";

					var oAlignedFlowLayout = new AlignedFlowLayout({
						content: [
							new Input(),
							new Input(),
							new Input(),
							new Input(),
							new Input(),
							new Input()
						],
						endContent: new Button({
							text: "Search"
						})
					}).addStyleClass("sapUiContentPadding");

					new App({
						pages: new Page({
							title: "AlignedFlowLayout Test Page",
							content: [
								new Text({
									text: "A FilterBar-like Layout"
								}),
								oAlignedFlowLayout
							]
						})
					}).placeAt("content");
				});
			});
		</script>
	</head>
	<body id="content" class="sapUiBody">
	</body>
</html>
