<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<title>sap.ui.layout.AlignedFlowLayout</title>
		<script id="sap-ui-bootstrap"
				src="../../../../resources/sap-ui-core.js"
				data-sap-ui-libs="sap.ui.layout, sap.m"
				data-sap-ui-xx-bindingSyntax="complex"
				data-sap-ui-compatVersion="edge"
				data-sap-ui-theme="sap_belize">
		</script>
		<script>
			sap.ui.getCore().attachInit(function() {
				var oAlignedFlowLayout = new sap.ui.layout.AlignedFlowLayout({
					content: [
						new sap.ui.layout.VerticalLayout({
							content: [
								new sap.m.Label({text: "Delivery Date", required: true}),
								new sap.m.DatePicker({width: "100%"})
							]
						}).addStyleClass("sapUiCompFilterBarItem"),

						new sap.ui.layout.VerticalLayout({
							content: [
								new sap.m.Label({text: "Region", required: true}),
								new sap.m.Select({width: "100%"})
							]
						}).addStyleClass("sapUiCompFilterBarItem"),

						new sap.ui.layout.VerticalLayout({
							content: [
								new sap.m.Label({text: "Other Date"}),
								new sap.m.DatePicker({width: "100%"})
							]
						}).addStyleClass("sapUiCompFilterBarItem"),

						new sap.ui.layout.VerticalLayout({
							content: [
								new sap.m.Label({text: "Other State"}),
								new sap.m.Select({width: "100%"})
							]
						}).addStyleClass("sapUiCompFilterBarItem")

					],
					endContent: [
						new sap.m.Button({
							text: "Adapt Filters (1)",
							type: "Transparent"
						}),
						new sap.m.Button({
							text: "Go",
							type: "Emphasized"
						}),
						new sap.m.ToggleButton({
							icon: "sap-icon://pushpin-off",
							type: "Transparent"
						})
					]
				});

				new sap.m.App({
					pages: new sap.m.Page({
						title: "AlignedFlowLayout Test Page",
						content: [
							new sap.m.Text({
								text: "A FilterBar-like Layout"
							}),
							oAlignedFlowLayout
						]
					})
				}).placeAt("content");
			});
		</script>
		<style>
			.sapUiVlt.sapUiCompFilterBarItem { /* TODO: only in filterbar usage */
				display: block;
				padding-right: 1rem;
				padding-top: 0.5rem;
			}

			.sapUiVlt.sapUiCompFilterBarItem > .sapUiVltCell { /* TODO: only in filterbar usage */
				display: block;
			}
		</style>
	</head>
	<body id="content" class="sapUiBody">
	</body>
</html>
