<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">

		<title>CSSGrid Playground</title>

		<link rel="stylesheet" href="./CSSGridVisualTests.css">

		<link rel="stylesheet" href="./cssgrid/gridplayground/styles/main.css">
		<script id="sap-ui-bootstrap"
				src="../../../../resources/sap-ui-core.js"
				data-sap-ui-async="true"
				data-sap-ui-compat-version="edge"
				data-sap-ui-libs="sap.ui.layout, sap.m"
				data-sap-ui-on-init="module:local/CSSGridVisualTests"
				data-sap-ui-resource-roots='{
					"local": "./",
					"sap.ui.layout.cssgrid.gridplayground": "./cssgrid/gridplayground"
				}'
		>
		</script>
	</head>

	<body class="sapUiBody sapUiSizeCompact" id="content">
	</body>
</html>