<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>FixFlex - sap.ui.layout</title>
		<script id='sap-ui-bootstrap' type='text/javascript'
				src='../../../../resources/sap-ui-core.js'
				data-sap-ui-theme='sap_bluecrystal'
				data-sap-ui-libs='sap.ui.layout, sap.m, sap.ui.table'>

		</script>
		<script type="text/javascript">
			var app = new sap.m.App('myApp', {
				initialPage: 'page1'
			});

			/* =============================================
			 * Page 1!
			 * ============================================ */

			var oFixFlexColumn = new sap.ui.layout.FixFlex({
				minFlexSize: 450,

				fixContent: [new sap.m.Panel({
					expandable: true,
					expanded: false,
					headerText: "Panel with a header text",
					content: new sap.m.Button({
						text: 'Dummy Button'
					})
				})],

				flexContent: new sap.m.Carousel({
					height:'800px',

					pages: [new sap.m.Image({
						src: "../../../../test-resources/sap/ui/demokit/explored/img/HT-6100-large.jpg"
					}), new sap.m.Image({
						src: "../../../../test-resources/sap/ui/demokit/explored/img/HT-1112.jpg"
					})]
				})

			});

			var page1 = new sap.m.Page('page1', {
				title: 'FixFlex vertical layout',
				enableScrolling: true,
				content: [oFixFlexColumn],
				footer: fnCreateNavigation()
			});

			/* =============================================
			 * Page 2!
			 * ============================================ */

			var oFixFlexHorizontal = new sap.ui.layout.FixFlex({
				fixFirst: false,
				vertical: false,
				minFlexSize: 455,


				fixContent: [
					// Dummy button
					new sap.m.Button({
						text: 'Dummy Button'
					}),
					// Dummy button
					new sap.m.Button({
						text: 'Dummy Button'
					})],

				flexContent: new sap.m.Carousel({
					width: '800px',

					pages: [new sap.m.Image({
						src: "../../../../test-resources/sap/ui/demokit/explored/img/HT-6100-large.jpg"
					}), new sap.m.Image({
						src: "../../../../test-resources/sap/ui/demokit/explored/img/HT-1112.jpg"
					})]
				})
			});

			var page2 = new sap.m.Page('page2', {
				title: 'FixFlex horizontal layout',
				enableScrolling: false,
				content: [oFixFlexHorizontal],
				footer: fnCreateNavigation()
			});

			/* =============================================
			 * Page 3!
			 * ============================================ */

			var oFixFlex3 = new sap.ui.layout.FixFlex({
				fixContent: [new sap.m.ObjectHeader("oh1Small", {
					responsive: true,
					backgroundDesign: "Translucent",
					intro: "Type XS",
					title: "Example 2 Small container",
					number: "624,00",
					numberUnit: "Euro",
					fullScreenOptimized: false,
					showMarkers: false,
					markFlagged: true,
					markFavorite: true,
					numberState: sap.ui.core.ValueState.Success,
					attributes: [
						new sap.m.ObjectAttribute({
							title: "Manufacturer",
							text: "ACME Corp",
							active: true
						})
					],
					statuses: [
						new sap.m.ObjectStatus({
							title: "Approval",
							text: "Pending",
							state: sap.ui.core.ValueState.Warning

						})
					]
				})],

				flexContent: new sap.m.IconTabBar({
					upperCase: true,
					stretchContentHeight: true,
					backgroundDesign: "Transparent",
					applyContentPadding: false,
					layoutData: new sap.m.FlexItemData({
						growFactor: 1
					}),

					items: [new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Lorem',
						count: '3',
						key: 'k1',
						content: [new sap.ui.table.AnalyticalTable({
							visibleRowCountMode: 'Auto',
							selectionMode: 'MultiToggle',
							rowHeight: 32
						})]
					}), new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Ipsum',
						count: '3',
						key: 'key2',
						content: [new sap.m.Input({
							placeholder: 'input placeholder'
						})]
					}), new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Lorem Ipsum',
						key: 'key3',
						count: '233',
						content: [new sap.m.RatingIndicator({
							value: 3
						})]
					})]

				})
			});

			var page3 = new sap.m.Page('page3', {
				title: 'Table with ObjectHeader',
				enableScrolling: false,
				content: [oFixFlex3],
				footer: fnCreateNavigation()
			});

			/* =============================================
			 * Page 4!
			 * ============================================ */

			var oFixFlexNoFix = new sap.ui.layout.FixFlex({
				fixContent: [],

				flexContent: new sap.m.IconTabBar({
					upperCase: true,
					stretchContentHeight: true,
					backgroundDesign: "Transparent",
					applyContentPadding: false,
					layoutData: new sap.m.FlexItemData({
						growFactor: 1
					}),

					items: [new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Lorem',
						count: '3',
						key: 'k1',
						content: [new sap.ui.table.AnalyticalTable({
							visibleRowCountMode: 'Auto',
							selectionMode: 'MultiToggle',
							rowHeight: 32
						})]
					}), new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Ipsum',
						count: '3',
						key: 'key2',
						content: [new sap.m.Input({
							placeholder: 'input placeholder'
						})]
					}), new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Lorem Ipsum',
						key: 'key3',
						count: '233',
						content: [new sap.m.RatingIndicator({
							value: 3
						})]
					})]

				})
			});

			var page4 = new sap.m.Page('page4', {
				title: 'FixFlex with no Fix content',
				enableScrolling: false,
				content: [oFixFlexNoFix],
				footer: fnCreateNavigation()
			});

			/* =============================================
			 * Page 6!
			 * ============================================ */

			var oFixFlex6 = new sap.ui.layout.FixFlex({
				vertical: false,

				fixContent: [
					// Dummy button
					new sap.m.Button({
						text: 'Dummy Button'
					}),
					// Dummy button
					new sap.m.Button({
						text: 'Dummy Button'
					})],

				flexContent: new sap.m.IconTabBar({
					upperCase: true,
					layoutData: new sap.m.FlexItemData({
						growFactor: 1
					}),

					items: [new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Lorem',
						count: '3',
						key: 'k1',
						content: [new sap.ui.table.AnalyticalTable({
							visibleRowCountMode: 'Auto',
							selectionMode: 'MultiToggle',
							rowHeight: 32
						})]
					}), new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Ipsum',
						count: '3',
						key: 'key2',
						content: [new sap.m.Input({
							placeholder: 'input placeholder'
						})]
					}), new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Lorem Ipsum',
						key: 'key3',
						count: '233',
						content: [new sap.m.RatingIndicator({
							value: 3
						})]
					})]

				})
			});

			var page6 = new sap.m.Page('page6', {
				title: 'FixFlex horizontal with ITB',
				enableScrolling: false,
				content: [oFixFlex6],
				footer: fnCreateNavigation()
			});

			/* =============================================
			 * Page 7!
			 * ============================================ */

			var oFixFlex7 = new sap.ui.layout.FixFlex({

				fixContent: [
					// Dummy button
					new sap.m.Button({
						text: 'Dummy Button'
					}),
					// Dummy button
					new sap.m.Button({
						text: 'Dummy Button'
					})],

				flexContent: new sap.m.IconTabBar({
					upperCase: true,
					layoutData: new sap.m.FlexItemData({
						growFactor: 1
					}),

					items: [new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Lorem',
						count: '3',
						key: 'k1',
						content: [new sap.ui.table.AnalyticalTable({
							visibleRowCountMode: 'Auto',
							selectionMode: 'MultiToggle',
							rowHeight: 32
						})]
					}), new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Ipsum',
						count: '3',
						key: 'key2',
						content: [new sap.m.Input({
							placeholder: 'input placeholder'
						})]
					}), new sap.m.IconTabFilter({
						iconColor: sap.ui.core.IconColor.Default,
						text: 'Lorem Ipsum',
						key: 'key3',
						count: '233',
						content: [new sap.m.RatingIndicator({
							value: 3
						})]
					})]

				})
			});

			var oDialog = new sap.m.Dialog({
				contentWidth: "90%",
				contentHeight: "500px",
				content: [
					new sap.m.Page({
						title: 'asdf',
						enableScrolling: false,
						content: oFixFlex7
					})
				],
				buttons: [
					new sap.m.Button({
						text: "Close",
						press: function (oEvent) {
							oDialog.close();
						}
					})
				]
			}).setVerticalScrolling(true).setHorizontalScrolling(true);

			var page7 = new sap.m.Page('page7', {
				title: 'FixFlex horizontal with ITB',
				enableScrolling: false,
				content: new sap.m.Button({
					text: "Open Dialog",
					press: function (oEvent) {
						oDialog.open();
					}
				}),
				footer: fnCreateNavigation()
			});

			/* =============================================
			 * Navigation
			 * ============================================ */
			function fnCreateNavigation() {
				return new sap.m.Bar({
					contentMiddle: [new sap.m.Button({
						text: 'FixFlex Vertical',
						press: function () {
							app.to('page1');
						}
					}), new sap.m.Button({
						text: 'FixFlex Horizontal',
						press: function () {
							app.to('page2');
						}
					}), new sap.m.Button({
						text: 'FixFlex with ObjectHeader',
						press: function () {
							app.to('page3');
						}
					}), new sap.m.Button({
						text: 'FixFlex with no Fix content',
						press: function () {
							app.to('page4');
						}
					}), new sap.m.Button({
						text: 'FixFlex Horizontal ITB',
						press: function () {
							app.to('page6');
						}
					}), new sap.m.Button({
						text: 'FixFlex in a Dialog',
						press: function () {
							app.to('page7');
						}
					})]
				});
			}

			app.addPage(page1).addPage(page2).addPage(page3).addPage(page4).addPage(page6).addPage(page7).placeAt('body');
		</script>

	</head>
	<body id="body" class="sapUiBody">
	</body>
</html>
