<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Grid - sap.ui.layout</title>

		<script src="shared-config.js"></script>
		<script id="sap-ui-bootstrap"
				src="../../../../resources/sap-ui-core.js"
				data-sap-ui-async="true"
				data-sap-ui-compat-version="edge"
				data-sap-ui-libs="sap.ui.layout"
				data-sap-ui-on-init="module:local/GridXL"
				data-sap-ui-resource-roots='{
					"local": "./"
				}'
		>
		</script>


		

		<link rel="stylesheet" href="./GridXL.css">

	</head>
	<body class="sapUiBody">
		<div id="content1"></div>
		<br>
		<br>
		<br>
		<br>
		<div id="content2"></div>
	</body>
</html>