<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>HorizontalLayout - sap.ui.layout</title>

	<script src="shared-config.js"></script>
	<script id='sap-ui-bootstrap'
		src='../../../../resources/sap-ui-core.js'
		data-sap-ui-theme='sap_belize'
		data-sap-ui-libs='sap.ui.layout, sap.m'></script>


	<script>

		// create a HorizontalLayout with some initial content
	var oDefaultLayout = new sap.ui.layout.HorizontalLayout("myLayout", {content:[
			new sap.m.Button({text:"Hello World 1"}),
			new sap.m.Button({text:"Hello World 2"}),
			new sap.m.Panel({width:"200px", headerText:"A Panel", content:[
				new sap.m.Button({text:"Hello World a"}),
				new sap.m.Button({text:"Hello World b"}),
				new sap.ui.core.HTML({content:"<div style='width:40px;'>as df rg eth et het h erj rzj rjz </div>"})
			]})
	]});

	var btn3 = new sap.m.Button({text:"Hello World 3"});
	oDefaultLayout.addContent(btn3);


	var oSplitter = new sap.ui.layout.Splitter("splitter", {
		contentAreas: new sap.m.Page({
			title: "HorizontalLayout in Splitter",
			content: new sap.ui.layout.HorizontalLayout({
				allowWrapping: true,
				content: [
					new sap.m.Input({ width: "12rem" }),
					new sap.m.Input({ width: "12rem" }),
					new sap.m.Input({ width: "12rem" }),
					new sap.m.Input({ width: "12rem" }),
					new sap.m.Input({ width: "12rem" }),
					new sap.m.Input({ width: "12rem" }),
					new sap.m.Input({ width: "12rem" }),
					new sap.m.Input({ width: "12rem" }),
					new sap.m.Input({ width: "12rem" })
				]
			})
		})
	});

	var page1 = new sap.m.Page("area-default", {
		title: "HorizontalLayout",
		content: [oDefaultLayout, oSplitter]
	});
	var app = new sap.m.App("myApp", {initialPage:"page1"});
	app.addPage(page1);
	app.placeAt("content");

	</script>

	</head>
	<body class='sapUiBody'>
		<div id='content'></div>
	</body>
</html>