<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width" />
	<title>ResponsiveSplitter</title>
	<script id="sap-ui-bootstrap" data-sap-ui-theme="sap_bluecrystal"
	data-sap-ui-trace="false" type="text/javascript"
	data-sap-ui-libs="sap.ui.layout,sap.m,sap.ui.ux3"
	src="../../../../resources/sap-ui-core.js">

	</script>

	<style type="text/css" media="screen">
		html, body, #content {
			height: 100%;
			padding: 0;
			margin: 0;
			overflow: hidden;
		}
	</style>

	<script>
	var lorem = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.";
	
	var createPanel = function (headerText) {
		var panel = new sap.m.Panel({
			headerText: headerText,
			content: new sap.m.Text({text: lorem + lorem})
		});

		return panel;
	};

	var oDefaultPane = new sap.ui.layout.SplitPane("defaultPane", {
		content: new sap.m.Panel({
			headerText: "Default Pane (900)",
			content: new sap.m.Text({text: lorem + lorem})
		}),
		requiredParentWidth: 900,
		demandPane: true
	})

	oResponsiveSplitter = new sap.ui.layout.ResponsiveSplitter({
		defaultPane: "defaultPane",
		rootPaneContainer: [
			new sap.ui.layout.PaneContainer({
				orientation: "Horizontal",
				panes: [

					new sap.ui.layout.PaneContainer({
						orientation: "Vertical",
						panes: [
							new sap.ui.layout.SplitPane({
								demandPane: true,
								content:  new sap.m.Panel({
									headerText: "header 900",
									content: new sap.m.Text({text: lorem + lorem})
								}),
								requiredParentWidth: 900
							}),
							new sap.ui.layout.SplitPane({
								demandPane: true,
								content:  new sap.m.Panel({
									headerText: "header 800",
									content: new sap.m.Text({text: lorem + lorem})
								}),
								requiredParentWidth: 800,
							}),
							new sap.ui.layout.SplitPane({
								demandPane: true,
								content: new sap.m.Panel({
									headerText: "header 950",
									content: new sap.m.Text({text: lorem + lorem})
								}),
								requiredParentWidth: 950,
							}),
						]
					}),
					new sap.ui.layout.SplitPane({
						demandPane: true,
						content: new sap.m.Panel({
							headerText: "header 400 1 ",
							content: new sap.m.Text({text: lorem + lorem})
						}),
						requiredParentWidth: 400,
					}),
					new sap.ui.layout.SplitPane({
						demandPane: true,
						content: new sap.m.Panel({
							headerText: "header 500",
							content: new sap.m.Text({text: lorem + lorem})
						}),
						requiredParentWidth: 500
					}),
					oDefaultPane,
					new sap.ui.layout.SplitPane({
						demandPane: true,
						content: new sap.m.Panel({
							headerText: "header 1000",
							content: new sap.m.Text({text: lorem + lorem})
						}),
						requiredParentWidth: 1000,
						layoutData: new sap.ui.layout.SplitterLayoutData({
							size: "30%"
						})
					}),
					new sap.ui.layout.PaneContainer({
						orientation: "Vertical",
						panes: [
							new sap.ui.layout.SplitPane({
								demandPane: true,
								content:  new sap.m.Panel({
									headerText: "header 400 2 ",
									content: new sap.m.Text({text: lorem + lorem})
								}),
								requiredParentWidth: 400
							}),
							new sap.ui.layout.SplitPane({
								demandPane: true,
								content:  new sap.m.Panel({
									headerText: "header 600 DEMAND FALSE",
									content: new sap.m.Text({text: lorem + lorem})
								}),
								requiredParentWidth: 600,
							}),
							new sap.ui.layout.SplitPane({
								demandPane: true,
								content: new sap.m.Panel({
									headerText: "header 600",
									content: new sap.m.Text({text: lorem + lorem})
								}),
								requiredParentWidth: 600
							}),
						]
					})
				]
			})
		]
	});

	// oResponsiveSplitter = new sap.ui.layout.ResponsiveSplitter({
	// 	defaultPane: "default",
	// 	rootPaneContainer: new sap.ui.layout.PaneContainer({
	// 		panes: [
	// 			// new sap.ui.layout.SplitPane({
	// 			// 	demandPane: true,
	// 			// 	requiredParentWidth: 1200,
	// 			// 	content: new sap.m.Panel({
	// 			// 		headerText: "Splitter Area 1 1200"
	// 			// 	})
	// 			// }), new sap.ui.layout.PaneContainer({
	// 				// orientation: "Vertical",
	// 				// panes: [
	// 					new sap.ui.layout.SplitPane( {
	// 						demandPane: true,
	// 						requiredParentWidth: 6000,
	// 						content: new sap.m.Panel({
	// 							headerText: "Splitter Area 2 - Default 800"
	// 						})
	// 					}),
	// 					new sap.ui.layout.SplitPane("default",{
	// 						demandPane: true,
	// 						requiredParentWidth: 6000,
	// 						content: new sap.m.Panel({
	// 							headerText: "Splitter Area 3 400"
	// 						})
	// 					}),

	// 				]
	// 			})
	// 		// ]
	// 	// })
	// });

	oResponsiveSplitter.placeAt("content");
	
	// oResponsiveSplitter1.placeAt("content");

	</script>
</head>
<body>
	<div id = "content"></div>
</body>
</html>