<!DOCTYPE HTML>
<html>
<head>

<title>ResponsiveFlowLayout - sap.ui.layout</title>

<script src="shared-config.js"></script>
<script id="sap-ui-bootstrap" data-sap-ui-theme="sap_bluecrystal"
	data-sap-ui-trace="false"
	data-sap-ui-theme="sap_bluecrystal"
	data-sap-ui-libs="sap.ui.layout,sap.ui.ux3"
	src="../../../../resources/sap-ui-core.js">

</script>

<style type="text/css">
.sampleButtonBox {
	border: 1px solid blue;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 10px;
	padding: 5px;
}
</style>
<script>
sap.ui.require([
	"sap/m/Button",
	"sap/m/CheckBox",
	"sap/m/Input",
	"sap/m/Label",
	"sap/ui/layout/ResponsiveFlowLayout",
	"sap/ui/layout/ResponsiveFlowLayoutData"
], function(Button, CheckBox, Input, Label, ResponsiveFlowLayout, ResponsiveFlowLayoutData) {

	var oCheck = new CheckBox({
		text : "Use line breaks (line breaks for TextFields)",
		checked : false,
		change : function() {
			var bChecked = oCheck.getChecked();

			var oLDFirst = oInputFirst.getLayoutData();
			var oLDLast = oInputLast.getLayoutData();

			oLDFirst.setLinebreak(bChecked);
			oLDLast.setLinebreak(bChecked);
		}
	}).placeAt("RFLcheckBreak");

	var bResponsive = true;
	var oCheckRFL = new CheckBox({
		text : "Set Layout to responsive",
		checked : true,
		change : function() {
			bResponsive = this.getChecked();

			oInnerFirst.setResponsive(bResponsive);
			oInnerLast.setResponsive(bResponsive);
			oAddress.setResponsive(bResponsive);
			oRFL.setResponsive(bResponsive);
		}
	}).placeAt("RFLcheckResponsive");
	var oButtonInvalidate = new Button({
		text : "Invalidate Layouts",
		press : function() {
			oInnerFirst.invalidate();
			oInnerLast.invalidate();
			oAddress.invalidate();
			oRFL.invalidate();
		}
	}).placeAt("RFLcheckResponsive");

	/*
	 * Inner layout for first name
	 */
	var oInnerFirst = new ResponsiveFlowLayout("rfl_firstname");
	oInnerFirst.setLayoutData(new ResponsiveFlowLayoutData({
		minWidth : 250,
		margin : false,
		responsive : bResponsive
	}));

	var oLblFirst = new Label({
		text : "First name",
		width : "100%"
	});

	var oInputFirst = new Input({
		width : "100%"
	}).setLayoutData(new ResponsiveFlowLayoutData({
		weight : 1
	}));

	oInnerFirst.addContent(oLblFirst);
	oInnerFirst.addContent(oInputFirst);

	/*
	 * inner layout for last name name
	 */
	var oInnerLast = new ResponsiveFlowLayout("rfl_lastname");
	oInnerLast.setLayoutData(new ResponsiveFlowLayoutData({
		minWidth : 250,
		responsive : bResponsive
	}));

	var oLblLast = new Label({
		text : "Last name",
		width : "100%"
	});

	var oInputLast = new Input({
		width : "100%"
	}).setLayoutData(new ResponsiveFlowLayoutData({
		weight : 2,
		minWidth : 100
	}));
	oInnerLast.addContent(oLblLast);
	oInnerLast.addContent(oInputLast);

	/*
	 * inner layout for street
	 */
	var oAddress = new ResponsiveFlowLayout("rfl_address");
	oAddress.setLayoutData(new ResponsiveFlowLayoutData({
		minWidth : 250,
		linebreak : true,
		responsive : bResponsive
	}));

	var oLblStreet = new Label({
		text : "Address",
		width : "100%"
	}).setLayoutData(new ResponsiveFlowLayoutData({
		weight : 1,
		minWidth : 80
	}));

	var oInputStreet = new Input({
		width : "100%"
	});
	var oLD = new ResponsiveFlowLayoutData({
		weight : 5
	});
	oInputStreet.setLayoutData(oLD);

	var oInputStreetNo = new Input({
		width : "100%"
	}).setLayoutData(new ResponsiveFlowLayoutData({
		weight : 2,
		linebreakable : false
	}));
	oAddress.addContent(oLblStreet);
	oAddress.addContent(oInputStreet);
	oAddress.addContent(oInputStreetNo);

	// outer layout for the form stuff
	var oRFL = new ResponsiveFlowLayout("rfl_outer", {
		responsive : bResponsive
	});
	oRFL.placeAt("RFL1");

	oRFL.addContent(oInnerFirst);
	oRFL.addContent(oInnerLast);
	oRFL.addContent(oAddress);

	/*
	 * Next example
	 */
	var oRFL = new ResponsiveFlowLayout("rflLayout").placeAt("RFL2");

	var oBtn1 = new Button("button1", {
		text : "Button1",
		width : "100%"
	});
	oBtn1.setLayoutData(new ResponsiveFlowLayoutData());

	var oBtn2 = new Button("button2", {
		text : "Button1 (lb)",
		width : "100%"
	});
	oBtn2.setLayoutData(new ResponsiveFlowLayoutData({
		weight : 2,
		linebreak : false
	}));

	// adding content
	oRFL.addContent(oBtn1);
	oRFL.addContent(oBtn2);

	/*
	 * Example of a SimpleForm using an XML-View
	 */

	var sXmlView =
			  '<mvc:View controllerName="sampleController" xmlns="sap.m" xmlns:layout="sap.ui.layout" xmlns:form="sap.ui.layout.form" xmlns:core="sap.ui.core" xmlns:mvc="sap.ui.core.mvc" xmlns:html="http://www.w3.org/1999/xhtml">'
			+ '		<layout:ResponsiveFlowLayout>'
			+ '			<Button text="A button" width="100%">'
			+ '				<layoutData>'
			+ '					<layout:ResponsiveFlowLayoutData weight="2" />'
			+ '				</layoutData>'
			+ '			</Button>'
			+ '			<Button id="buttonOpener" text="Open Form" width="100%" press="openForm">'
			+ '			</Button>'
			+ '			<Button text="A button" width="100%">'
			+ '			</Button>'
			+ '		</layout:ResponsiveFlowLayout>'
			+ '	</mvc:View>';

	var sXmlViewSimpleForm =
			  '<mvc:View xmlns="sap.m" xmlns:layout="sap.ui.layout" xmlns:form="sap.ui.layout.form" xmlns:core="sap.ui.core" xmlns:mvc="sap.ui.core.mvc" xmlns:html="http://www.w3.org/1999/xhtml">'
			+ '		<form:SimpleForm>'
			+ '			<Label text="First Label"></Label>'
			+ '			<link text="Press the Phone">'
			+ ' 			<core:Icon src="sap-icon://iphone-2" color="#666666" /> '
			+ '			<Label text="Second Label" />'
			+ '			<link text="Just a Link">'
			+ '			<Label text="E-Mail" />'
			+ '			<link text="test@sap.com">'
			+ '		</form:SimpleForm>'
			+ '	</mvc:View>';

	var oController = sap.ui.controller("sampleController", {
		openForm : function() {
			if (!oTP.getOpener()) {
				var sId = oXMLView.getId() + "--buttonOpener";
				var oOpener = sap.ui.getCore().byId(sId);
				oTP.setOpener(oOpener);
			}

			if (oTP.isOpen()) {
				oTP.close();
			} else {
				oTP.open(sap.ui.core.Popup.Dock.EndTop, sap.ui.core.Popup.Dock.BeginTop);
			}
		}
	});

	var oXMLView = sap.ui.xmlview({
		viewContent : sXmlView,
		controller : oController
	}).placeAt("RFL3");

	var oXMLViewSimpleForm = sap.ui.xmlview("simpleFormView", {
		viewContent : sXmlViewSimpleForm
	}).placeAt("RFL3");

	var oXMLViewTP = sap.ui.xmlview("simpleFormTP", {
		viewContent : sXmlViewSimpleForm
	});

	var oTP = new sap.ui.ux3.ToolPopup("formInPopup", {
		content : oXMLViewTP
	});
</script>
<style type="text/css">
.sapUiRFLFullLength {
	background-color: fuchsia;
}
</style>
<body class="sapUiBody">
	<h1 id="header">
		Test Page for
		<code>sap.ui.layout.ResponsiveFlowLayout</code>
	</h1>
	<br />
	<div id="RFLcheckBreak" style="padding-left: 10px;"></div>
	<div id="RFLcheckResponsive" style="padding-left: 10px;"></div>
	<br />
	<div id="RFL1" class="sampleButtonBox" style="min-width: 250px;"></div>
	<br />
	<h2>Simple Example. Second button twice as big as the first one</h2>
	<div id="RFL2" class="sampleButtonBox" style="min-width: 150px"></div>
	<br />
	<div id="RFL3" class="sampleButtonBox" style="min-width: 150px"></div>
</body>
</html>