<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>ResponsiveFlowLayout - sap.ui.layout</title>
		<link href="ResponsiveFlowLayout.css" rel="stylesheet">
		<script src="shared-config.js"></script>
		<script id="sap-ui-bootstrap"
				src="../../../../resources/sap-ui-core.js"
				data-sap-ui-async="true"
				data-sap-ui-compat-version="edge"
				data-sap-ui-libs="sap.ui.layout,sap.m"
				data-sap-ui-on-init="module:local/ResponsiveFlowLayout"
				data-sap-ui-resource-roots='{
					"local": "./",
					"qunit.internal.acc": "../../../../test-resources/sap/ui/core/qunit/internal/acc"
				}'
		>
		</script>
	</head>
	<body class="sapUiBody">
		<h1 id="header">
			Test Page for <code>sap.ui.layout.ResponsiveFlowLayout</code>
		</h1>
		<br>
		<div id="RFLcheckBreak" class="paddingLeft10px"></div>
		<div id="RFLcheckResponsive" class="paddingLeft10px"></div>
		<br>
		<div id="RFL1" class="sampleButtonBox"></div>
		<br>
		<h2>Simple Example. Second button twice as big as the first one</h2>
		<div id="RFL2" class="sampleButtonBox"></div>
		<br>
		<div id="RFL3" class="sampleButtonBox"></div>
	</body>
</html>
