<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">

		<title>VerticalLayout - sap.ui.layout</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/controls/sap.ui.layout.VerticalLayout.gif">

		<script src="shared-config.js"></script>
		<script id="sap-ui-bootstrap"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-trace="false"
				data-sap-ui-libs="sap.ui.layout,sap.m"
				src="../../../../resources/sap-ui-core.js"
				>
		</script>
		<!-- relative URLs depend on testsuite frame?! -->
		<script>
			var oCore = sap.ui.getCore();

			oCore.attachInitEvent(
			  function () {

				var oLayout = new sap.ui.layout.VerticalLayout("Layout1", {
					content: [
						new sap.m.Button({text:"Press me", tooltip:"Button tooltip"}),
						new sap.m.Input({value:"Test"}),
						new sap.m.Image({src:"http://www.sap.com/global/images/SAPLogo.gif"})
					]
				});
				oLayout.placeAt("uiArea1");

				oLayout = new sap.ui.layout.VerticalLayout("Layout2", {
					width: "200px",
					content: [
						new sap.m.Slider({value:25, tooltip:"Slider tooltip", width: "300px"}),
						new sap.m.TextArea({value:"This text is longer than the width of the VerticalLayout.\nSo it should be cut.\n1\n2\n3\n4\n5\n6\n7\n8\n9", width: "300px", height: "150px", wrapping: sap.ui.core.Wrapping.Off}),
						new sap.m.RatingIndicator({value: 4}),
						new sap.m.CheckBox({text: "Test"}),
						new sap.m.Text({text: "This text is longer than the width of the VerticalLayout.\nSo it should be cut.", width: "300px", wrapping: false})
					]
				});
				oLayout.placeAt("uiArea2");

			  }
			);
		</script>
</head>
	<body class="sapUiBody" role="application">
		<h1>Testcase for sap.ui.layout.VerticalLayout</h1>
		<br> VerticalLayout with 3 elements:
		<div id="uiArea1" ></div>
		<br> VerticalLayout with 5 elements and defined width of 200px but larger content -> content must be cut:
		<div id="uiArea2" ></div>
	</body>
</html>
