<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">

		<title>VerticalLayout - sap.ui.layout</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/controls/sap.ui.layout.VerticalLayout.gif">

		<script src="shared-config.js"></script>
		<script id="sap-ui-bootstrap"
				data-sap-ui-async="true"
				data-sap-ui-libs="sap.ui.layout,sap.m"
				src="../../../../resources/sap-ui-core.js"
				data-sap-ui-compat-version="edge"
				data-sap-ui-on-init="module:local/VerticalLayout"
				data-sap-ui-resource-roots='{"local":"./"}'
		>
		</script>
		<!-- relative URLs depend on testsuite frame?! -->
		
	</head>
	<body class="sapUiBody">
		<h1>Testcase for sap.ui.layout.VerticalLayout</h1>
		<br> VerticalLayout with 3 elements:
		<div id="uiArea1"></div>
		<br> VerticalLayout with 5 elements and defined width of 200px but larger content -> content must be cut:
		<div id="uiArea2"></div>
		<br> VerticalLayout with content padding and partially hidden content
		<div id="uiArea3"></div>
	</body>
</html>
