/*******************************************************************************
/* Due to deprecation of sap_goldreflection with SAPUI5 version 1.38
/* the less file of base is directly at the top section of this file
/* and no longer imported within the library.source.less file. This decoupling
/* of the base theme is introduced with SAPUI5 version 1.46.
*******************************************************************************/

/*******************************************************************************
/* Start of base section
*******************************************************************************/

/* =============================================== */
/* CSS for control sap.ui.unified/Calendar.control */
/* =============================================== */

.sapUiCal{
	background: none repeat scroll 0 0 @sapUiListBackground;
	overflow: hidden;
	position: relative;
	outline: none;
	display: inline-block;
	white-space: initial; /* To not inherit */
	box-sizing: border-box;
	text-align: center;
}

.sapUiCalInt{
	box-sizing: border-box;
}

/* calendar should have only a border if on popup */
.sapUiCal.sapUiShd{
	border: 0.0625rem solid @sapUiContentForegroundBorderColor;
}

/*** HEADER ***/
.sapUiCalHead{
	width: 100%;
	height: @sapUiLineHeight;
	position: relative;
	text-align:center;
	display: inline-block;
}

.sapUiCal:not(.sapUiCalInt) > .sapUiCalHead{
	max-width: 40rem;
}

.sapUiCalHead > button,
.sapUiCalCancel{
	background-color: @sapUiButtonLiteBackground;
	border: none;
	color: @sapUiButtonTextColor;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

.sapUiCalHeadB{
	vertical-align: top;
}

.sapUiCalHeadBAddText{
	width: 100%;
	float: left;
	color: @sapUiContentLabelColor;
	font-size: 0.625rem;
}

.sapUiCalHeadPrev,
.sapUiCalHeadNext{
	position: absolute;
}

.sapUiCalHeadPrev{
	left: 0;
}

.sapUiCalHeadNext{
	right: 0;
}

/* no default (browser) outline, if device needs focus visualization its defined later */
.sapUiCalHead > button:focus,
.sapUiCalCancel:focus{
	outline: none;
}

/* hover and focus makes only sense on desktops. On mobile devices it's not needed */
html.sap-desktop .sapUiCalHead > button:focus,
html.sap-desktop .sapUiCalCancel:focus{
	background-color: @sapUiButtonHoverBackground;
	color: @sapUiButtonHoverTextColor;
}

html.sap-desktop .sapUiCalHead > button:hover,
html.sap-desktop .sapUiCalCancel:hover{
	background-color: @sapUiButtonHoverBackground;
	color: @sapUiButtonHoverTextColor;
}

/* once for desktop to overwrite focus and once for all devices needed */
.sapUiCalHead > button:active,
.sapUiCalCancel:active,
html.sap-desktop .sapUiCalHead > button:active,
html.sap-desktop .sapUiCalHead > button:active > .sapUiCalHeadBAddText,
html.sap-desktop .sapUiCalCancel:active{
	background-color: @sapUiButtonActiveBackground;
	color: @sapUiButtonActiveTextColor;
}

.sapUiCalHead > button.sapUiCalDsbl{
	cursor: default;
	opacity: .3;
	filter: alpha(opacity=30);
}

html.sap-desktop .sapUiCalHead > button.sapUiCalDsbl:focus,
.sapUiCalHead > button.sapUiCalDsbl:hover,
.sapUiCalHead > button.sapUiCalDsbl:active{
	background-color: @sapUiButtonLiteBackground;
	color: @sapUiButtonTextColor;
}

/*** days, months, years ***/
.sapUiCalMonthView{
	vertical-align: top;
}

.sapUiCalMonthView,
.sapUiCalMonthPicker,
.sapUiCalYearPicker{
	width: 14em;
	display: inline-block;
}

.sapUiCal .sapUiCalMonthView,
.sapUiCal .sapUiCalRow{
	box-sizing: border-box;
}

.sapUiCalInt > .sapUiCalContent > .sapUiCalMonthPicker,
.sapUiCalInt > .sapUiCalContent > .sapUiCalYearPicker{
	width: auto;
}

.sapUiCalHeadText{
	text-align: center;
}

.sapUiCalContentSingle .sapUiCalHeadText{
	text-align: left;
	margin-left: 12.5%;
}

.sapUiCalRow .sapUiCalHeadText{
	float: left;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	whitespace: nowrap;
}

.sapUiCalRow div > .sapUiCalHeadText:last-child{
	float: none; /* if not set, in IE the item line is displayed in the same line */
}

.sapUiCalItems{
	display: inline-block;
	width: 100%;
	white-space: nowrap;
}

.sapUiCalWH,
.sapUiCalItem{
	display: block;
	overflow: hidden;
	float: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sapUiCalMonthView .sapUiCalWH,
.sapUiCalMonthView .sapUiCalItem{
	width: 12.5%;
}

.sapUiCalMonthView.sapUiCalNoWeekNum .sapUiCalWH,
.sapUiCalMonthView.sapUiCalNoWeekNum .sapUiCalItem{
	width: 14.2857%;
}

.sapUiCalItemText{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.sapUiCalWeekNum{
	position: absolute;
	right: 100%;
	width: 100%;
	color: @sapUiContentLabelColor;
	font-size: @sapUiFontSmallSize;
	cursor: default;
	pointer-events: none;
}

.sapUiCalWH{
	color: @sapUiContentLabelColor;
	white-space: nowrap;
}

.sapUiCalItem{
	color: @sapUiBaseText;
	background-color: lighten(@sapUiContentForegroundColor,5);
}

.sapUiCalItemDsbl{
	color: fade(@sapUiBaseText, 50);
	background-color: fade(lighten(@sapUiContentForegroundColor,5), 50);
}

html.sap-desktop .sapUiCalItem:focus{
	background-color: darken(@sapUiContentForegroundColor,5);
}

.sapUiCalMonthView .sapUiCalFirstWDay{
	clear: both;
	margin-left: 12.5%;
	position: relative;
	overflow: visible;
}

.sapUiCalMonthView.sapUiCalNoWeekNum .sapUiCalFirstWDay{
	margin-left: 0;
}

.sapUiCalItemOtherMonth{
	color: @sapUiContentDisabledTextColor;
}

.sapUiCalItemNow{
	color: @sapUiHighlight;
}

.sapUiCalItemWeekEnd{
	background-color: @sapUiContentForegroundColor;
}

.sapUiCalItemWeekEnd.sapUiCalItemDsbl{
	background-color: fade(@sapUiContentForegroundColor, 50);
}

.sapUiCalItemSel{
	background-color: @sapUiSelected;
}

.sapUiCalContent{
	position: relative;
	text-align: center;
}

.sapUiCalContentOver{
	background-color: @sapUiBlockLayerBackground;
	opacity: 0.15;
	filter: alpha(opacity=60);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	outline: 0 none;
}

.sapUiCalContent > .sapUiCalMonthPicker,
.sapUiCalContent > .sapUiCalYearPicker,
.sapUiCalTimeInt > .sapUiCalContent > .sapUiCalDatesRow{
	position: absolute;
	top: @sapUiLineHeight;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: @sapUiListBackground;
}

.sapUiCalTimeInt > .sapUiCalContent > .sapUiCalDatesRow .sapUiCalWH{
	display: none;
}

/* Day names inside day */
.sapUiCalNoNameLine > .sapUiCalItems > .sapUiCalItem {
	position: relative;
}

.sapUiCalNoNameLine > .sapUiCalItems > .sapUiCalItem > .sapUiCalDayName{
	position: absolute;
	top: 0;
	right: 0;
	height: 33%;
	width: 100%;
	color: @sapUiContentLabelColor;
	overflow: hidden;
	white-space: nowrap;
	line-height: 100%;
}

.sapUiCalItemTextAmPm{
	font-size: @sapUiFontSmallSize;
	vertical-align: top;
}

.sapUiCalCancel{
	display: none; /* cancel button only visible on phones */
	position: absolute;
}

/* 2 calendar types */
.sapUiCalMonthSecType > .sapUiCalItems .sapUiCalItem {
	position: relative;
}

.sapUiCalMonthSecType > .sapUiCalItems .sapUiCalItem > .sapUiCalItemSecText{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 33%;
	width: 50%;
	color: @sapUiContentLabelColor;
	overflow: hidden;
	white-space: nowrap;
	line-height: 100%;
}

/* Day, Month and YearPicker on popup */
.sapUiCalMonthView[data-sap-ui-popup],
.sapUiCalMonthPicker[data-sap-ui-popup],
.sapUiCalYearPicker[data-sap-ui-popup]{
	padding: 1rem;
}

/*******************************************************************************
/* End of base section
/* Start of sap_goldreflection less section
*******************************************************************************/

/* =============================================== */
/* CSS for control sap.ui.unified/Calendar.control */
/* GoldReflection                                  */
/* =============================================== */

.sapUiCal{
	border-width: 4px 2px 0 2px;
	border-style: solid;
	border-color: @sapUiFieldBackground;
}

.sapUiCal:not(.sapUiCalInt){
	width: 198px;
	min-width: 198px;
}

.sapUiCalMulti:not(.sapUiCalInt){
	width: 392px; /* to display 2 months side by side as default */
}

/* calendar should have only a border if on popup */
.sapUiCal.sapUiShd{
	border: 0.0625rem solid @sapUiFieldBorderColor;
	width: 196px;
	min-width: 196px;
}

.sapUiCalMulti{
	max-width: 776px; /* maximal 4 months in one row */
}

/*** HEADER ***/
.sapUiCalHead{
	padding-bottom: 9px;
	height: 22px;
}

.sapUiCalHead > button{
	height: 22px;
	padding: 0;
}

.sapUiCalHeadPrev,
.sapUiCalHeadNext{
	width: 22px;
	padding-top: 2px; /* to set arrows in middle */
}

.sapUiCal .sapUiCalHeadPrev{
	left: 2px;
}

.sapUiCal .sapUiCalHeadNext{
	right: 2px;
}

.sapUiCalHeadB{
	width: 70px;
	font-weight: bold;
}

.sapUiCalMulti .sapUiCalHeadB1,
.sapUiCalIntLarge .sapUiCalHeadB1,
.sapUiCalMonthInt .sapUiCalHeadB2{
	width: 150px;
}

/*** days, months, years ***/
.sapUiCalMonthView,
.sapUiCalMonthPicker,
.sapUiCalYearPicker{
	width: 190px;
}

.sapUiCalMonthView,
.sapUiCalMonthPicker,
.sapUiCalYearPicker,
.sapUiCalRow{
	background-color: @sapUiFieldBackground;
}

.sapUiCalHeadText{
	height: 24px;
	line-height: 22px;
	color: @sapUiHighlight;
}

.sapUiCal .sapUiCalMonthView,
.sapUiCal .sapUiCalRow{
	border-width: 0 2px 4px 2px;
	border-style: solid;
	border-color: @sapUiFieldBackground;
}

.sapUiCalWH,
.sapUiCalItem,
.sapUiCalWeekNum{
	border: 1px solid @sapUiFieldBackground;
	box-sizing: border-box;
}

.sapUiCalWH,
.sapUiCalItem,
.sapUiCalWeekNum{
	height: 24px;
	line-height: 22px;
}

.sapUiCalItemText{
	border: 1px solid transparent;
	box-sizing: border-box;
}

.sapUiCalWeekNum{
	top: -1px;
	padding-top: 1px;
	color: @sapUiHighlight;
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
}

.sapUiCalWH{
	color: @sapUiHighlight;
	font-size: 11px;
	font-weight: bold;
}

.sapUiCalItem{
	background-color: @sapUiExtraLightBG;
	color: @sapUiDeepText;
}

.sapUiCalItemDsbl{
	color: fade(@sapUiDeepText, 50);
	background-color: fade(@sapUiExtraLightBG, 50);
}

/* hover and focus makes only sense on desktops. On mobile devices it's not needed */
html.sap-desktop .sapUiCalItem:hover,
html.sap-desktop .sapUiCalItem:focus{
	background-color: @sapUiHighlight;
	color: @sapUiTextSelection;
}

html.sap-desktop .sapUiCalItem:focus{
	outline: none;
}

.sapUiCalItemOtherMonth{
	color: @sapUiLightText;
}

.sapUiCalItemNow > .sapUiCalItemText{
	background-color: @sapUiFieldBackground;
	border-color: @sapUiCalendarColorToday;
	box-shadow: inset 1px 1px 0 1px @sapUiCalendarColorToday, inset -1px -1px 0 1px @sapUiCalendarColorToday;
}

html.sap-desktop .sapUiCalItemNow:hover > .sapUiCalItemText,
html.sap-desktop .sapUiCalItemNow:focus > .sapUiCalItemText{
	background-color: @sapUiHighlight;
}

.sapUiCalItemWeekEnd{
	background-color: @sapUiLightBG;
}

.sapUiCalItemWeekEnd.sapUiCalItemDsbl{
	background-color: fade(@sapUiLightBG, 50);
}

.sapUiCalItemSel{
	background-color: @sapUiFieldBackground;
}

.sapUiCalItemSel > .sapUiCalItemText{
	border-color: @sapUiButtonHoverBackground;
}

html.sap-desktop .sapUiCalItemSel:not(.sapUiCalItemNow):hover > .sapUiCalItemText,
html.sap-desktop .sapUiCalItemSel:not(.sapUiCalItemNow):focus > .sapUiCalItemText{
	box-shadow: inset 1px 1px 0 0 @sapUiFieldBackground, inset -1px -1px 0 0 @sapUiFieldBackground;
}

.sapUiCalContentOver{
	background-color: @sapUiBlackBG;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.sapUiCalContent > .sapUiCalMonthPicker,
.sapUiCalContent > .sapUiCalYearPicker{
	top: 0;
	padding: 24px 2px 4px 2px;
	background-color: @sapUiFieldBackground;
	left: 50%;
	margin-left: -97px; /* to position in the middle (for multi-month) */
}

.sapUiCalInt > .sapUiCalContent > .sapUiCalMonthPicker,
.sapUiCalInt > .sapUiCalContent > .sapUiCalYearPicker{
	margin-left: 0;
	left: 0;
	padding-bottom: 0;
}

.sapUiCalTimeInt > .sapUiCalContent > .sapUiCalDatesRow{
	top: 0;
}

.sapUiCalTimeInt > .sapUiCalContent > .sapUiCalMonthPicker,
.sapUiCalTimeInt > .sapUiCalContent > .sapUiCalYearPicker,
.sapUiCalMonthInt > .sapUiCalContent > .sapUiCalYearPicker{
	padding-top: 0;
}

.sapUiCalInt.sapUiCalIntHead > .sapUiCalContent > .sapUiCalMonthPicker,
.sapUiCalInt.sapUiCalIntHead > .sapUiCalContent > .sapUiCalYearPicker{
	padding-top: 48px;
}

.sapUiCalTimeInt.sapUiCalIntHead > .sapUiCalContent > .sapUiCalMonthPicker,
.sapUiCalTimeInt.sapUiCalIntHead > .sapUiCalContent > .sapUiCalYearPicker,
.sapUiCalTimeInt.sapUiCalIntHead > .sapUiCalContent > .sapUiCalDatesRow,
.sapUiCalMonthInt.sapUiCalIntHead > .sapUiCalContent > .sapUiCalYearPicker{
	padding-top: 24px;
}

.sapUiCalWidth:not(.sapUiCalInt) > .sapUiCalContent > .sapUiCalMonthPicker,
.sapUiCalWidth:not(.sapUiCalInt) > .sapUiCalContent > .sapUiCalYearPicker,
.sapUiCalMulti > .sapUiCalContent > .sapUiCalMonthPicker,
.sapUiCalMulti > .sapUiCalContent > .sapUiCalYearPicker{
	top: 20px;
	bottom: auto;
	padding: 4px;
	margin-left: -99px;
}

.sapUiCalContent > .sapUiCalYears.sapUiCalYearNoTop{
	padding-top: 0;
}

.sapUiCalWidth:not(.sapUiCalInt) > .sapUiCalContent > .sapUiCalYearPicker.sapUiCalYearNoTop{
	top: 0;
}

.sapUiCalMonthPicker .sapUiCalItem,
.sapUiCalYearPicker .sapUiCalItem{
	padding: 0 4px;
	overflow: hidden;
	height: 24px;
	line-height: 22px;
}

.sapUiCalMonthPicker .sapUiCalItemSel,
.sapUiCalYearPicker .sapUiCalItemSel{
	box-shadow: inset 1px 1px 0 0 @sapUiButtonHoverBackground, inset -1px -1px 0 0 @sapUiButtonHoverBackground;
}

/* Day names inside day */
.sapUiCalNoNameLine > .sapUiCalItems > .sapUiCalItem > .sapUiCalItemText{
	padding-left: 50%;
	text-align: left;
}

.sapUiCalNoNameLine > .sapUiCalItems > .sapUiCalItem > .sapUiCalDayName{
	left: 0;
	height: 100%;
	width: 50%;
	line-height: inherit;
	padding-right: 0.5rem;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: right;
	box-sizing: border-box;
}

.sapUiCalNoNameLine > .sapUiCalItems > .sapUiCalItem:focus > .sapUiCalDayName,
.sapUiCalNoNameLine > .sapUiCalItems > .sapUiCalItem:hover > .sapUiCalDayName{
	color: @sapUiTextInverted;
}

/* 2 calendar types */
.sapUiCalMonthSecType > .sapUiCalItems .sapUiCalItem  > .sapUiCalItemText{
	line-height: 20px;
	vertical-align: top;
	text-align: start;
}

.sapUiCalMonthSecType > .sapUiCalItems .sapUiCalItem > .sapUiCalItemSecText{
	font-size: 8px;
	height: 8px;
	line-height: 8px;
	padding-right: 1px;
	padding-bottom: 1px;
	box-sizing: border-box;
}

.sapUiCalMonthSecType > .sapUiCalItems .sapUiCalItem.sapUiCalItemSel:not(.sapUiCalItemSelBetween) > .sapUiCalItemSecText{
	color: @sapUiTextInverted;
}