/******************************************************************
	Style of the DT Contextmenu - Horizon Theme
*******************************************************************/
@_sap_ui_dt_ContextMenu_BorderRadius: @sapUiFieldBorderCornerRadius; // 0.25rem

.sapUiDtContextMenu.sapMMenu {
	.sapMMenuList {
		.sapMMenuItem {
			margin: 0.0625rem;
			border-radius: @_sap_ui_dt_ContextMenu_BorderRadius;

			&:focus {
				outline-offset: -0.125rem;
				&.sapMMenuItemDisabled{
					outline: none;
				}
			}
			&.sapMMenuItemSubMenuOpen {
				border-bottom: none !important; //1px
			}
		}
	}
}