/******************************************************************
	Style of the DT Contextmenu - base Theme
*******************************************************************/
@_sap_ui_dt_ContextMenu_BoxShadow: @sapUiUx3ToolPopupShadow;			// 0px 6px 12px 0px fade(black, 30);
@_sap_ui_dt_ContextMenu_FocusColor: @sapUiWhite;						// #fff

.sapUiDtContextMenu {

	.sapMPopoverScroll {
		margin-right: 0 !important;
	}

	.sapMBtnInner {
		text-align: left;
	}

	&.sapMPopover, .sapMPopover {
		opacity: 0;
		min-width: 0;
		transition: box-shadow .25s;
		box-shadow: @_sap_ui_dt_ContextMenu_BoxShadow;
		padding: 0.2rem;

		&.sapUiDtContextMenuVisible {
			opacity: 1;
		}
	}

	&.sapMPopoverArr, .sapMPopoverArr {
		bottom: -9px;
		left: 13px!important;

		&:after {
			box-shadow: none;
			width: 0.7rem;
			height: 0.7rem;
		}

		&.sapMPopoverArrUp {
			top: -9px;
		}
	}
	&.sapUiDtContextMenuRightArrow{
		&.sapMPopoverArr, .sapMPopoverArr {
			left: unset!important;
			right: 13px!important;
		}
	}
}

.sapUiSizeCozy .sapUiDtContextMenu.sapUiDtContextMenuRightArrow{
	&.sapMPopoverArr, .sapMPopoverArr {
		left: unset!important;
		right: 16px!important;
	}
}

.sapUiSizeCozy .sapUiDtContextMenu{
	&.sapMPopoverArr, .sapMPopoverArr {
		left: 16px !important;
	}
}

html.sap-desktop .sapUiDtContextMenu .sapMBtn:focus > .sapMFocusable,
html.sap-desktop .sapUiDtContextMenu.sapMBtn:focus > .sapMFocusable {
	border: 1px dotted @_sap_ui_dt_ContextMenu_FocusColor;
	outline: none;
}

.sapUiSizeCompact .sapUiDtContextMenu .sapMBtn {
	padding-left: 1px;
	padding-right: 1px;
}