.sapMPopover.sapUiDtMiniMenu {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.sapUiDtMiniMenu .sapMPopoverScroll {
    margin-right: 0px !important;
}

.sapUiDtMiniMenu .sapMBtnInner {
    text-align : left;
}

.sapMPopover.sapUiDtMiniMenu {
    min-width: 0px;
}