.sapMPopover {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.sapMPopoverScroll {
    margin-right: 0px !important;
}

.sapMBtnInner {
    text-align : left;
}

.sapMPopover {
    min-width: 0px;
}