@sapUiDtFocusColor : rgba(77, 144, 254, 0.5);
@sapUiDtTargetZoneColor : green;
@sapUiDtSelectionColor : #35F;
@sapUiDtCuttedColor : white;

.sapUiDtOverlay {
	position : absolute;
	outline: none;

	&:focus {
		&:before {
			content: " ";
			pointer-events: none;
			position: absolute;
			top: 1px;
			bottom: 1px;
			left: 1px;
			right: 1px;
			outline: 2px solid @sapUiDtFocusColor;
		}
	}
}

.sapUiDtDummyScrollContainer {
	position: absolute;
	top: 0;
	left: 0;
}

.sapUiDtOverlayTargetZone {
	&:after {
		content: " ";
		pointer-events: none;
		position: absolute;
		top: 1px;
		bottom: 1px;
		left: 1px;
		right: 1px;
		outline: 1px dashed @sapUiDtTargetZoneColor;
	}
}

.sapUiDtOverlaySelected {
	outline: 1px solid @sapUiDtSelectionColor;
}

.sapUiDtOverlayMovable {
	cursor: move;
}

.sapUiDtOverlayCutted {
	background-color: @sapUiDtCuttedColor !important;
	opacity: 0.5;
}

#overlay-container {
	// to prevent overlay's height from expanding the body
	position: fixed;
	top: 0;
	left: 0;
}

.sapUiDtDragGhostWrapper {
	position: fixed;
	pointer-events: none;
}

/* fix for chrome */
.sap-desktop[data-sap-ui-browser^="cr"] {

	.sapUiDtDragGhostWrapper {
		padding-right: 500px;
		padding-bottom: 500px;
		bottom: -1000px;
	}

}