/* ================================== */
/* CSS for sap.ui.table/Scrolling     */
/* Horizon High Contrast White theme  */
/* ================================== */

._sap_ui_table_Scrolling_NativeScrollbarDesktop() {
	&::-webkit-scrollbar-thumb:vertical {
		border-left-width: 0.25rem !important;
		border-right-width: 0.25rem !important;
	}

	&::-webkit-scrollbar-thumb:horizontal {
		border-top-width: 0.25rem !important;
		border-bottom-width: 0.25rem !important;
	}
}