/* =========================================== */
/* CSS for control sap.ui.ux3/NotificationBar  */
/* Horizon High Contrast White theme           */
/* =========================================== */

.sapUiNotificationBar {
	border-top: 1px solid @sapUiBaseColor;
	border-left: 1px solid @sapUiBaseColor;
	border-right: 1px solid @sapUiBaseColor;
	font-size: @sapUiDesktopFontSize;
}

.sapUiNotifierCallout {
	font-size: @sapUiDesktopFontSize;
}

.sapUiNotifierTitle {
	font-size: @sapUiDesktopFontSize;
}

.sapUiBarToggle {
	border-top: 1px solid @sapUiBaseColor;
	border-left: 1px solid @sapUiBaseColor;
	border-right: 1px solid @sapUiBaseColor;
}

.sapUiNotifierMessageCount {
	background-color: @sapUiHighlight;
	border-color: @sapUiBaseColor;
	color : @sapUiBaseColor;
}

.sapUiNotifierMessageCount.sapUiMessage,
.sapUiNotifierMessageCount.sapUiMessage.sapUiMessageInformation,
.sapUiNotifierMessageCount.sapUiMessage.sapUiMessageSuccess,
.sapUiNotifierMessageCount.sapUiMessage.sapUiMessageWarning,
.sapUiNotifierMessageCount.sapUiMessage.sapUiMessageError {
	color : @sapUiBaseColor;
	background-color: @sapUiSelected;
}