/* =============================== */
/* CSS for sap.ui.table/Scrolling  */
/* High Contrast Black theme       */
/* =============================== */

._sap_ui_table_Scrolling_NativeScrollbarCommon() {
	&::-webkit-scrollbar {
		border: none !important;
	}

	&::-webkit-scrollbar-thumb {
		border: none !important;
		box-shadow: none !important;
	}
}