/* =================================== */
/* CSS for control sap.ui.table/Table  */
/* High Contrast Black theme           */
/* =================================== */

.sapUiTable > .sapUiTableHdr {
	height: auto;
}

.sapUiTableColHdrCnt {
	border-bottom: 3px solid @sapUiListHeaderBorderColor;
}

.sapUiTable > .sapUiTableHdr {
	border-bottom: 3px solid @sapUiListHeaderBorderColor;
}

.sapUiTable > .sapUiTableTbr {
	border: none;
	border-bottom: 1px solid @sapUiListHeaderBorderColor;
	height: 30px;
	padding: 0.125rem;
}

.sapUiTableFtr {
	border-bottom: 1px solid @sapUiListHeaderBorderColor;
	border-left: 1px solid @sapUiListHeaderBorderColor;
	border-right: 1px solid @sapUiListHeaderBorderColor;
}

.sapUiTable > div {
	border-bottom: 1px solid @sapUiListHeaderBorderColor;
}

.sapUiTable > .sapUiTableExt {
	border: none;
	border-bottom: 1px solid @sapUiListHeaderBorderColor;
	padding: 0.125rem;
}

.sapUiTableCtrl tr.sapUiTableRowHvr,
tr.sapUiTableRowHvr .sapMObjStatusText,
tr.sapUiTableRowHvr .sapMObjStatusTitle,
tr.sapUiTableRowHvr .sapMObjStatusIcon,
.sapUiTableCol:hover .sapMObjStatusText,
.sapUiTableCol:hover .sapMObjStatusTitle,
.sapUiTableCol:hover .sapMObjStatusIcon {
	color: @sapUiContentContrastTextColor;
}

.sapUiTableCCnt {
	background-color: @sapUiListBackground;
}

.sapUiTable > div.sapUiTableCnt {
	border: 1px solid @sapUiListBorderColor;
}

.sapUiTableRowHdr.sapUiTableRowHvr {
	color: @sapUiContentContrastTextColor;
}

.sapUiTableCol:hover,
.sapUiTableColRowHdr:hover,
.sapUiSizeCompact .sapUiTableCol:hover,
.sapUiSizeCompact .sapUiTableColRowHdr:hover {
	background-color: @sapUiListHoverBackground;
}

.sapUiSizeCompact, .sapUiSizeCozy {
	.sapUiTableSelModeMultiToggle {
		.sapUiTableColRowHdr.sapUiTableSelAllEnabled::after,
		.sapUiTableRowHdr::after {
			color: @sapUiContentIconColor;
		}
	}
}

.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableRowHdr:hover:after,
.sapUiSizeCozy .sapUiTableSelModeMultiToggle .sapUiTableRowHdr:hover:after {
	background-color: @sapUiSelected;
}

/*
 * Focus Outline for Table Cells
 *
 * IE, Edge : use native outline rendering. It has correct contrast and offset.
 * Any attempt to specify another outline in CSS breaks it.
 *
 * Other browsers see below:
 */

/* WebKit */
.sapUiTableTr > td:focus:not(*:root),
.sapUiTableCol:focus:not(*:root),
.sapUiTableRowHdr:focus:not(*:root),
.sapUiTableColRowHdr:focus:not(*:root) {
	outline-offset: -3px;
	outline: 2px dotted @sapUiContentFocusColor;
}

/* Firefox */
@supports (-moz-appearance:meterbar) {
.sapUiTableTr > td:focus,
.sapUiTableCol:focus,
.sapUiTableRowHdr:focus,
.sapUiTableColRowHdr:focus {
	outline-offset: -3px;
	outline: 2px dotted @sapUiContentFocusColor;
	}
}

// Scrollbar adjustments

html.sap-desktop .sapUiTableVSb::-webkit-scrollbar-thumb {
	border-right: 4px solid @sapUiScrollBarTrackColor;
	border-top: 2px solid @sapUiScrollBarTrackColor;
	border-bottom: 2px solid @sapUiScrollBarTrackColor;
	box-shadow: none;
}

html.sap-desktop .sapUiTableHSb::-webkit-scrollbar-thumb {
	border-bottom: 4px solid @sapUiScrollBarTrackColor;
	box-shadow: none;
}

html.sap-desktop .sapUiTableHSb::-webkit-scrollbar,
html.sap-desktop .sapUiTableHSb::-webkit-scrollbar-thumb,
html.sap-desktop .sapUiTableVSb::-webkit-scrollbar,
html.sap-desktop .sapUiTableVSb::-webkit-scrollbar-thumb {
	border-left: none;
}