/* =================================== */
/* CSS for control sap.m/ComboBoxBase  */
/* High Contrast Black theme           */
/* =================================== */

/* ------------------------------ */
/* picker                         */
/* ------------------------------ */

.sapMInputBaseIconPressed .sapMComboBoxBaseClearIcon {
	border-left-color: transparent;

	&:hover {
		border-left-color: @sapUiFieldActiveBorderColor;
	}

	&:active {
		border-left-color: @sapUiFieldActiveBorderColor;
	}
}