/* ============================================== */
/* CSS for control sap.m/DynamicContainer.control */
/* ============================================== */
.sapMDC {
	box-shadow: 0px 0px 0px 1px @sapHCStandardFG;
}

.sap-desktop .sapMDC:focus {
	outline-color: @sapHCStandardFG;
	outline-style: dotted;
	outline-width: 0.125rem;
	box-shadow: 0px 0px 0px 1px @sapHCStandardFG;
}

.sap-desktop .sapMDC:hover:not(:focus) {
	box-shadow: 0px 0px 0px 2px @sapHCStandardFG;
}


.sapMDCIcon {
	color: @sapHCStandardBG;
}

.sap-desktop .sapMDC:hover,
.sap-tablet .sapMDCHvr:hover,
.sap-phone .sapMDCHvr:hover {
	box-shadow: 0px 0px 0px 2px @sapHCStandardFG;
}