.sapMDynamicPageTitle {
	background: @sapHCStandardBG;
	border-bottom:0.125rem solid @sapHCStandardBG;
}

.sapMDynamicPageTitleWrapper.sapMDynamicPageTitleSnapped > .sapMDynamicPageTitle {
	border-bottom: 0.125rem solid @sapHCStandardFG;
}

.sapMDynamicPageTitle > .sapMDynamicPageTitleLeft {
	.sapMDynamicPageTitleLeftInner {
		.sapMDynamicPageTitleLeftSnappedExpandContent {
			color: @sapHCReducedAltFG;
		}
	}
}