/* ========================================= */
/* CSS for control sap.m/GenericTile.control */
/* ========================================= */
.sapMGT {
	border-radius: 0.375rem;
	box-shadow: 0 0 0 1px @sapHCStandardFG; /* Usage of px as aligned with designers. */
	background: @sapHCStandardBG;
}

.sapMGT.sapMGTBackgroundImage .sapMGTContent {
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}

.sapMGT.sapMGTScopeActions.sapMGTBackgroundImage .sapMGTContent:before {
	border-radius: 0.375rem;
}

/************************ LINE MODE COZY ********************/

.sapMGT.sapMGTLineMode {
	border: 0.0625rem solid @sapHCStandardFG;
}

.sapMGTLineMode.sapMGTFailed, .sapMGTLineMode.sapMGTDisabled {
	border-color: @sapHCReducedFG;
	.sapMGTHdrTxt, .sapMGTSubHdrTxt {
		color: @sapUiContentDisabledTextColor;
	}
}

/************************ LINE MODE COMPACT *****************/

.sapUiSizeCompact {
	.sapMGT.sapMGTLineMode {
		font-size: @sapMFontMediumSize;
		border: none;

		.sapMGTHdrTxt {
			color: @sapHCStandardFG;
			font-weight: bold;
			font-size: @sapMFontMediumSize;
			font-family: @sapUiFontFamily;
		}

		.sapMGTLineModeFailedIcon {
			cursor: pointer;
			color: @sapHCStandardFG;
			border-right: 0.25rem solid transparent; //padding-right
		}

		.sapMGTLineStyleHelper {
			.sapMGTLineStyleHelperInner {
				box-shadow: 0 0 0 1px @sapHCStandardFG;
				bottom: 1px;
			}

			&:first-child:not(:only-child) .sapMGTLineStyleHelperInner {
				margin-right: 0.125rem;
			}

			&:not(:first-child) .sapMGTLineStyleHelperInner {
				margin: 0 0.125rem;
			}
			&:last-child .sapMGTLineStyleHelperInner {
				margin-right: 0;
			}

			&:first-child .sapMGTLineStyleHelperInner {
				border-top-left-radius: 0.375rem;
				border-bottom-left-radius: 0.375rem;
			}

			&:last-child .sapMGTLineStyleHelperInner {
				border-top-right-radius: 0.375rem;
				border-bottom-right-radius: 0.375rem;
			}
		}

		&.sapMGTFailed, &.sapMGTDisabled {
			.sapMGTLineStyleHelperInner {
				box-shadow: 0 0 0 1px @sapHCReducedFG;
			}
			.sapMGTHdrTxt, .sapMGTSubHdrTxt {
				color: @sapUiContentDisabledTextColor;
			}
		}
	}
}

.sap-desktop .sapUiSizeCompact .sapMGT.sapMGTLineMode {
	&:hover {
		box-shadow: none !important;
	}

	&:not(.sapMGTDisabled):not(.sapMGTFailed):hover .sapMGTLineStyleHelperInner {
		box-shadow: 0 0 0 0.1875rem @sapHCStandardFG;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	&:focus {
		border: 0.125rem dotted @sapUiContentFocusColor;
	}

	&:focus .sapMGTLineStyleHelperInner:before {
		content: "";
		position: absolute;
		top: 1px;
		left: 1px;
		bottom: 1px;
		right: 1px;
		box-sizing: border-box;
		border: 2px dotted @sapHCStandardFG;
	}
}

.sapMGTHdrContent {
	color: @sapHCStandardFG;
}

.sapMGTBackgroundImage {
	border: none;
}

.sapMGTHdrTxt > .sapMText {
	color: @sapHCStandardFG;
	font-weight: normal;
	font-family: @sapUiFontFamily;
	font-size: @sapMFontHeader5Size;
}

.sapMGTSubHdrTxt {
	font-family: @sapUiFontFamily;
	font-size: @sapMFontMediumSize;
	font-weight: normal;
	color: @sapHCStandardFG;
}

.sapMGTHdrIconImage {
	font-family: @sapUiFontFamily;
	color: @sapHCStandardFG;
}

html.sap-desktop .sapMGT:focus .sapMGTFocusDiv {
	border: 0.125rem dotted @sapUiContentFocusColor;
}

html.sap-desktop .sapMGT:focus:not([tabindex]) {
	border-color: transparent;
}

.sapMGenericTileFtrFldTxt {
	font-family: @sapUiFontFamily;
	font-size: @sapMFontMediumSize;
	color: @sapHCStandardFG;
}

.sapMGenericTileFtrFldIcn {
	color: @sapHCStandardFG;
}

.sapMGTOverlay {
	background-color: @sapUiBaseBG;
	opacity: 1;
}

.sapMGTOverlay > .sapUiLocalBusyIndicator > .sapUiLocalBusyIndicatorAnimation {
	border: none;
	box-shadow: none;
}

html.sap-desktop .sapMGT:hover,
html.sap-phone .sapMGTHvrOutln:active,
html.sap-tablet .sapMGTHvrOutln:active,
html.sap-phone .sapMGTBackgroundHvrOutln:active,
html.sap-tablet .sapMGTBackgroundHvrOutln:active {
	box-shadow: 0 0 0 0.125rem @sapHCStandardFG;
}

.sap-desktop .sapMGTLineMode:hover {
	&.sapMGTDisabled, &.sapMGTLineModePress, &.sapMGTFailed {
		box-shadow: none;
	}
}

/* BREAKPOINT FOR SMALL PHONES */
@media screen and (max-width: 374px) {
	.sapMGTHdrTxt > .sapMText {
		font-size: @sapMFontHeader6Size;
	}

	.sapMGTSubHdrTxt {
		font-size: @sapMFontSmallSize;
	}
}
