/* ======================================================== */
/* CSS for control sap.M.ui.commons/HeaderContainer.control */
/* ======================================================== */
.sapMHdrCntrBtn.sapMBtn {
	background-color: transparent;
}
.sapMHdrCntrBtn .sapMBtnIcon {
	color: @sapHCStandardFG;
	font-size: 22px;
}

.sapMHrdrCntrInner:focus:not ([tabindex]) {
	outline: none;
}

.sapMHdrCntrBGTransparent {
	background-color: @sapHCStandardBG;
}

.sapMHdrCntrBGSolid {
	background-color: @sapHCStandardBG;
}

.sapMHdrCntrBGTranslucent {
	background-color: @sapHCStandardBG;
}

html.sap-desktop .sapMHrdrCntrInner:focus {
	outline: none;
	border: 1px dotted @sapHCStandardFG;
}

.sapMHrdrCntrDvdrs.Horizontal .sapMHrdrCntrInner::after {
	border-left: 1px solid @sapHCReducedAltFG;
}

.sapMHrdrCntrDvdrs.Vertical .sapMHrdrCntrInner::after {
	border-top: 1px solid @sapHCReducedAltFG;
}