/* ========================================== */
/* CSS for control sap.m/ImageContent.control */
/* HCB theme                                  */
/* ========================================== */
html.sap-desktop .sapMImageContent:focus {
	outline-color: @sapHCStandardFG;
	outline-style: dotted;
	outline-width: 1px;
}

html.sap-desktop .sapMImageContent:focus:not([tabindex]) {
	outline: none;
}

.sapMImageContentImageIcon.sapUiIcon {
	font-size: 2.25rem;
	color: @sapHCStandardFG;
}

/* BREAKPOINT FOR SMALL PHONES */
@media screen and (max-width: 374px) {
	.sapMImageContentImageIcon.sapUiIcon {
		font-size: 1.5rem;
	}
}