/* =========================== */
/* CSS for control sap.m/Link  */
/* High Contrast Black theme   */
/* =========================== */

.sapMLnkDsbl, .sapMLnkDsbl:visited {
	outline: none;
	cursor: default;
	color: @sapUiContentDisabledTextColor;
}

html.sap-desktop .sapMLnk:focus:not(.sapMLnkDsbl) {
	outline: 0.125rem dotted @sapUiContentFocusColor;
}

.sapMLnk:hover.sapMLnkDsbl, .sapMLnk:focus.sapMLnkDsbl {
	outline: none;
}