/* ============================================= */
/* CSS for control sap.m/MessageBox.js in HCB Theme */
/* ============================================= */
.sapMDialog.sapMMessageBoxInfo > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapHCStandardFG;
}

.sapMDialog.sapMMessageBoxWarning > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapHCStandardFG;
}

.sapMDialog.sapMMessageBoxError > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapHCStandardFG;
}

.sapMDialog.sapMMessageBoxSuccess > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapHCStandardFG;
}

.sapMDialog.sapMMessageBoxQuestion > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapHCStandardFG;
}

.sapMDialog.sapMMessageBoxInfo > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapHCStandardFG;
}

.sapMDialog.sapMMessageBoxWarning > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapHCStandardFG;
}

.sapMDialog.sapMMessageBoxError > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapHCStandardFG;
}

.sapMDialog.sapMMessageBoxSuccess > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapHCStandardFG;
}

.sapMDialog.sapMMessageBoxQuestion > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapHCStandardFG;
}