.sapMNLI {
	background-color: @sapUiLightestBG;
	border: 1px solid @sapUiExtraLightBorder;
  	box-shadow: 0 0.125rem 1rem 0 @sapHCShadowTint;
}

.sapMNLI-UnreadStatus {
	background: @sapHCStandardFG;
}

.sapMNLI-Icons .sapUiIcon {
	color: @sapHCStandardFG;
}

.sapMNLI-Header > .sapMTitle {
	font-size: @sapMFontLargeSize;
}

.sapMText.sapMNLI-Datetime {
	font-size: @sapMFontSmallSize;
}
