/* ================================= */
/* CSS for control sap.m/SelectList  */
/* High Contrast Black theme         */
/* ================================= */

@_sap_m_SelectList_ItemHCBFocus_Height: 7px; // 2 borders * 2px + 2 offsets (top and bottom) * 1px + 1px due to browser rendering issues
/* ------------------------------ */
/* item                           */
/* ------------------------------ */

.sapMSelectListItemBase {
	border-bottom: 1px solid @sapUiListBorderColor;
}

/* selected */
.sapMSelectListItemBaseSelected {
	background: @sapUiListSelectionBackgroundColor;
}

.sapMSltPicker-CTX .sapMSelectListItemBaseSelected,
.sapMComboBoxBasePicker-CTX .sapMSelectListFocus .sapMSelectListItemBaseSelected {
	outline: 0.125rem dotted @sapUiContentFocusColor;
	outline-offset: -0.188rem;
}

/* disabled */
.sapMSelectListItemBaseDisabled {
	background: @sapUiHcReducedBackground;
	color: @sapUiContentDisabledTextColor;
}

/* focus */
html.sap-desktop li.sapMSelectListItemBase:focus {
	outline: 0.125rem dotted @sapUiContentFocusColor;
	outline-offset: -0.188rem;
}