/* ======================================== */
/* CSS for control sap.m/TimePicker.control */
/* High Contrast Black theme                */
/* ======================================== */

.sapMTimePicker {
  .sapUiIcon {
	color: @sapHCStandardFG;
	&:hover {
	  background: @sapHCHighlightBG;
	}
	&:active {
	  background: @sapHCHighlightAltBG;
	}
	&:focus {
	  	outline: 1px dotted @sapUiFocus;
	  	outline-offset: -1px;
	}
  }
  &.sapMTPInputActive {

	.sapUiIcon {

	  background-color: @sapHCHighlightAltBG;
	  border-left: 0.0625rem solid @sapHCStandardFG;
	  margin-left: -0.0625rem;
	}
	.sapMInputIE9.sapUiIcon {
	  .sapUiIcon;
	}
  }
}

/* Compact size */

.sapUiSizeCompact .sapMDP > .sapUiIcon {
  top : 0.25rem;
}

/* fix for IE9 icon border missing */
html[data-sap-ui-browser^="ie9"] {
  .sapMDP > .sapUiIcon {
	border: 1px solid transparent;
  }
  .sapMDP > .sapUiIcon:hover {
	border: 1px solid @sapHCStandardFG;
  }
  .sapUiSizeCompact .sapMDP > .sapUiIcon,
  .sapUiSizeCompact .sapMDP > .sapUiIcon:hover {
	border-top: 0 none;
	border-bottom: 0 none;
  }
}


.sapMTimePickerDropDown {
  .sapMTimePickerContainer {

	.sapMTPColumn {
	  .sapMTimePickerLabel {
	  }
	  .sapMTimePickerItemArrows {
	  }
	  .sapMTimePickerSlider {
		.sapMTimePickerItem {
		  background: @sapHCStandardBG;
		  border: 1px solid @sapHCReducedAltFG;
		  font-size: @sapMFontMediumSize;
		  color: @sapHCStandardFG;
		  text-align: center;

		  &:hover {
			background: @sapHCHighlightBG;
			font-weight: bold;
		  }
		  &:active {
			background: @sapHCHighlightAltBG;
			font-weight: bold;
		  }
		  &:focus {
			outline: 2 px dotted @sapHCStandardFG;
		  }
		  &.sapMTimePickerItemSelected {
			//	background: @sapHCHighlightAltBG;
			font-weight: bold;
			&:active {
			  border: 2px solid @sapHCStandardFG;
			}
		  }
		}
		.sapMTPPickerSelectionFrame {
		}
		& > ul {
		}

	  }
	  &.sapMTPSliderExpanded {
		font-weight: normal;
		.sapMTimePickerItem {
		  background: @sapHCStandardBG;

		  &:hover {
			background: @sapHCHighlightBG;
		  }
		  &:active {
			background: @sapHCHighlightAltBG;
		  }
		  &:focus {
			outline: 2 px dotted @sapHCStandardFG;
		  }
		  &.sapMTimePickerItemSelected {
			background: @sapHCHighlightAltBG;
			border: 2px solid @sapHCStandardFG;
			font-weight: bold;
		  }
		}
	  }
	  &:focus {
		outline: none;
	  }
	}
  }
}

.sap-phone {
  /* ======================================== */
  /* TimePicker Input Field                   */
  /* ======================================== */
  .sapMTimePicker {
	.sapMInputBaseInner {

	}
	.sapUiIcon {
	  &:active {
		background-color: @sapHCHighlightAltBG !important;
	  }
	  &:focus {
		outline: 1px dotted @sapUiFocus;
		outline-offset: -1px;
	  }
	}
  }
  //in order to not be displayed hover in mobile
  //is there a better way?
  .sapMTimePickerItem{
	&:hover {
	  background-color: transparent !important;
	}
  }
}
