/* =========================================== */
/* CSS for control sap.m/Token.control ======= */
/* High Contrast Black theme ================= */
/* =========================================== */

.sapMToken {
	font-size: @sapMFontMediumSize;
	background: @sapHCStandardBG;
	border: 0.0625rem solid @sapHCStandardFG;
	border-radius: 0.125rem;
	color: @sapHCStandardFG;
	padding-left: 0.375rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	height: 1.625rem;
}

.sapMToken.sapMTokenReadOnly {
	padding: 0.25rem 0.375rem;
}

.sapMToken:focus {
	outline: 0.125rem dotted @sapUiFocus;
	outline-offset: -3px;
	outline-color: @sapUiInvertedFocus;
}

html[data-sap-ui-browser^="ie"].sap-desktop,
html[data-sap-ui-browser^="ed"].sap-desktop {
	.sapMToken:focus{
		position: relative;
		outline: none;
	}

	.sapMTokenText:before{
		position: absolute;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		border: 0.0625rem dotted @sapUiInvertedFocus;
		content: "";
		pointer-events: none;
	}
}

.sapMTokenSelected, .sapMToken:focus {
	color: @sapHCStandardFG;
	background: @sapHCHighlightAltBG;
}

html.sap-desktop .sapMToken:hover {
	background: @sapHCHighlightBG;
}

.sapMTokenSelected .sapMTokenIcon, .sapMToken:focus .sapMTokenIcon {
	color: @sapHCStandardFG;
}

.sapMTokenIcon {
	padding: 0.25rem 0.375rem;
	font-size: @sapMFontLargeSize;
	color: @sapHCStandardFG;
	vertical-align: middle;
}

.sapMToken.sapMTokenActive {
	background: @sapHCHighlightBG;
}

.sapUiSizeCompact .sapMToken {
	padding-left: 0.25rem;
	padding-bottom: 0.1rem;
	height: 1.25rem;
}

.sapUiSizeCompact .sapMToken.sapMTokenReadOnly {
	padding: 0.1rem 0.25rem;
}

.sapUiSizeCompact .sapMTokenIcon {
	font-size: @sapMFontSmallSize;
	padding: 0.1rem 0.25rem;
	vertical-align: baseline;
}

.sapUiSizeCompact .sapMListTbl .sapMToken .sapUiIcon:not(.sapMLIBImgNav) {
	font-size: 0.75rem;
}

