/* ================================================================= */
/* CSS for control sap.m/ViewSettingsDialog.control HCB theme */
/* ================================================================= */

/* workaround to remove the blurry effect on the icons */
.sapMVSDSeg .sapMSegBBtn {
	text-shadow: 0 0px;
}

.sapMTB.sapMVSDFilterHeaderToolbar {
	.sapMBarChild.sapMCb {
		.sapMCbLabel {
			font-size: 1.125rem;
			font-weight: bold;
		}
	}
}

.sapMSF.sapMVSDFilterSearchField {
	border-bottom: 0.0625rem solid @sapHCStandardFG;
}

.sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMCb:focus::before {
		border: 0.125rem dotted @sapHCStandardFG;
		pointer-events: none;
	}
}

html.sap-desktop .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
		content: '';
		position: absolute;
		top: 0.675rem;
		right: 0.125rem;
		bottom: 0.675rem;
		left: 0.675rem;
	}
}

html.sap-desktop .sapUiSizeCompact .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
		content: '';
		position: absolute;
		top: 0.375rem;
		right: 0.125rem;
		bottom: 0.375rem;
		left: 0.375rem;
	}
}

.sapUiSizeCompact .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMLabel.sapMCbLabel {
		font-size: @sapMFontMediumSize;
	}
}