/* ============================= */
/* CSS for control sap.f/Card    */
/* High Contrast Black theme     */
/* ============================= */

@_sap_f_card_BottomHeaderBorder: 1px solid @sapUiTileBorderColor;
@_sap_f_card_BoxShadow: none;
@_sap_f_Card_HeaderIconColor: @sapUiContentIconColor;
@_sap_f_Card_HeaderBorderBottom: 1px solid @sapUiTileBorderColor;
@_sap_f_card_HeaderBoxShadow: none;
@_sap_f_Card_FocusBorderWidth: 0.125rem;

.sapFCard .sapFCardHeader.sapFCardClickable {
	&:hover {
		.sapFCardHeaderMainIndicator {
			.sapMNCValue,
			.sapMNCIndicator,
			.sapMNCScale,
			.sapMNCIndIcon {
				color: @sapUiContentContrastTextColor;
			}
		}
	}

	&:active {
		.sapFCardHeaderMainIndicator {
			.sapMNCValue,
			.sapMNCIndicator,
			.sapMNCScale,
			.sapMNCIndIcon {
				color: @sapUiContentContrastTextColor;
			}
		}
	}
}