/* ================================== */
/* CSS for control sap.f/DynamicPage  */
/* Belize High Contrast Black theme   */
/* ================================== */

.sapFDynamicPageActualFooterControl.sapMTB {
	box-shadow: @sapUiShadowLevel2;
	border-bottom: 0 none;
}

.sapFDynamicPageFooter {
	opacity: 1;
}