/* =========================================== */
/* CSS for control sap.uxap/ObjectPageSection  */
/* Quartz High Contrast Black theme            */
/* =========================================== */

.sapUxAPObjectPageSectionHeader {
	background-color: @sapUiListGroupHeaderBackground;
	font-size: @sapMFontHeader2Size;
	color: @sapUiGroupTitleTextColor;
	border-top: 0.0625rem solid @sapUiListBorderColor;
	border-bottom: 0.0625rem solid @sapUiListBorderColor;
}

.sapUxAPObjectPageSection:focus {
	outline: 0.125rem dotted @sapUiContentFocusColor;
	outline-offset: -0.125rem;
	border-color: transparent;
	border-radius: 0;
}

.sapUxAPObjectPageSectionTitle {
	line-height: 2.9rem;
}

.sapUiSizeCompact .sapUxAPObjectPageSectionTitle {
	line-height: 2.4rem;
}

/* IE ignores outline-offset. Use an overlay: */
/* TODO remove after 1.62 version */
html[data-sap-ui-browser^="ie"].sap-desktop {
	.sapUxAPObjectPageSection:focus:before {
		border-width: 0.125rem;
	}
}

.sapUxAPObjectPageLayout-Std-Desktop .sapUxAPBlockContainer,
.sapUxAPObjectPageLayout-Std-Tablet .sapUxAPBlockContainer {
	padding-bottom: 1rem;
}

/* compact size */
.sapUiSizeCompact {
	.sapUxAPObjectPageLayout-Std-Desktop .sapUxAPBlockContainer,
	.sapUxAPObjectPageLayout-Std-Tablet .sapUxAPBlockContainer,
	.sapUxAPObjectPageLayout-Std-Phone .sapUxAPBlockContainer{
		padding-bottom: 1rem;
	}
}