/* ===================================== */
/* CSS for control sap.m/ActionListItem  */
/* BlueCrystal theme                     */
/* ===================================== */

.sapMList .sapMLIB.sapMALI:focus {
	outline-offset: -0.2rem;
}

.sapMALI > .sapMLIBContent {
	line-height: 3rem;
}

.sapMALIText {
	color: @sapUiContentContrastTextColor;
}