/* =================================== */
/* CSS for control sap.m/ComboBoxBase  */
/* BlueCrystal theme                   */
/* =================================== */

/* ------------------------------ */
/* picker                         */
/* ------------------------------ */

.sapMComboBoxBasePicker-CTX .sapMSelectListItemBaseSelected {
	outline: 1px dotted @sapUiContentFocusColor;
	outline-offset: -2px;
}

/* ------------------------------ */
/* dialog                         */
/* ------------------------------ */

.sapMComboBoxBaseBar {
	box-shadow: none;
}