/* ============================================================ */
/* CSS for control sap.m/ComboBoxBase.control BlueCrystal theme */
/* ============================================================ */

/* ------------------------------ */
/* arrow                          */
/* ------------------------------ */

/* hover */

.sap-desktop .sapMComboBoxBaseArrow:not(.sapMComboBoxBasePressed):hover {
	background: contrast(@sapUiFieldHoverBackground, darken(@sapUiFieldHoverBackground, 6), lighten(@sapUiFieldHoverBackground, 6));
}

/* pressed */

/* note: do not optimize this selector, the sap.m.MulticomboBox DOM structure differ from sap.m.ComboBox */
.sapMComboBoxBasePressed .sapMComboBoxBaseArrow,
.sap-desktop .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover {
	background: @sapUiFieldActiveBackground;
}

/* note: do not optimize this selector, the sap.m.MulticomboBox DOM structure differ from sap.m.ComboBox */
.sapMComboBoxBasePressed .sapMComboBoxBaseArrow::before {
	color: @sapUiInvertedElement;
}

/* ------------------------------ */
/* ComboBox's Picker              */
/* ------------------------------ */

div.sapMComboBoxBasePicker {
	box-shadow: 0 0.0625rem 0.1875rem fade(@sapUiDarkShadowTint, 50);
	border: none;
}

/* ------------------------------ */
/* ComboBox's Dialog              */
/* ------------------------------ */

.sapMComboBoxBaseBar {
	box-shadow: none;
}

div.sapMComboBoxBasePicker .sapMDialogScrollCont {
	padding: 0;
}

/* ===================================================================== */
/* CSS for control sap.m/ComboBox.control BlueCrystal theme compact size */
/* ===================================================================== */

/* ------------------------------ */
/* ComboBox Arrow                 */
/* ------------------------------ */

.sapUiSizeCompact .sapMComboBoxBaseArrow {
	width: 2rem;
	height: 1.5rem;
	line-height: 1.5rem;
}

.sapUiSizeCompact .sapMComboBoxBaseState .sapMComboBoxBaseArrow {
	height: 1.375rem;
	line-height: 1.375rem;
}

.sapUiSizeCondensed .sapUiTableCell .sapMComboBoxBaseArrow {
	right: 0;
}