/* ======================================== */
/* CSS for control sap.m/FeedContent.control */
/* ======================================== */

.sapMFCCTxt {
	font-family: @sapUiFontFamily;
	font-weight: normal;
	color: @sapUiTileTextColor;

	.sapMText {
		font-size: @sapMFontSmallSize;
	}
}

.sapMFCSbh {
	color: lighten(@sapUiTileTextColor, 20);
	font-family: @sapUiFontFamily;
	font-weight: normal;
	font-size: @sapMFontSmallSize;
}


.sapMFCValue.Neutral {
	color: @sapUiChartNeutral;
}

.sapMFCValue.Good {
	color: @sapUiChartGood;
}

.sapMFCValue.Critical {
	color: @sapUiChartCritical;
}

.sapMFCValue.Error {
	color: @sapUiChartBad;
}

html.sap-desktop .sapMFC:focus {
	outline: 1px dotted @sapUiFocus; /* Usage of px as aligned with designers. */
}

html.sap-desktop .sapMFC:focus:not([tabindex]) {
	outline: none;
}