/* ====================================== */
/* CSS for control sap.m/HeaderContainer  */
/* BlueCrystal theme                      */
/* ====================================== */

.sapMHdrCntrBtn > .sapMBtnInner {
	border: none;
}

.sapMHdrCntrBGTransparent {
	background-color: transparent;
}

.sapMHdrCntrBGTranslucent {
	background-color: fade(@sapUiObjectHeaderBackground, 60);
}