/* ================================ */
/* CSS for control sap.m/InputBase  */
/* Belize theme                     */
/* ================================ */

.sapMInputBaseInner {
	font-size: @sapMFontMediumSize;
}

.sapMInputBaseContentWrapper {
	&.sapMInputBaseContentWrapperState {
		border-width: 2px;
		.sapMInputBaseIcon {
			line-height: 2.25rem;
		}
	}
	&:hover:not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):not(.sapMInputBaseReadonlyWrapper) {
		border-color: @sapUiHighlight;
	}
}

.sapMInputBaseIcon {
	color: @sapUiContentIconColor;
	&:hover {
		background: @sapUiButtonLiteHoverBackground;
	}
	&:active {
		background-color: @sapUiButtonLiteActiveBackground;
		color: @sapUiButtonActiveTextColor;
	}
}

/*disabled*/

.sapMInputBase .sapMInputBaseDisabledWrapper {
	border: 1px solid @sapUiDarkBorder;
	background: @sapUiLightestBG;
}

/* focus and hover */

.sapMFocus:not(.sapMInputBaseReadonly):not(.sapMInputBaseReadonly):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabled):hover {
	border-color: @sapUiFieldFocusBorderColor;
}

.sapMFocus .sapMInputBaseContentWrapper:not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseReadonlyWrapper) {
	border: 1px solid @sapUiHighlight;
}

/* List specific styles */
.sapMILI-CTX .sapMInputBaseContentWrapper,
.sapMILI-CTX .sapMInputBaseInner,
.sapMILI-CTX .sapMInputBaseDisabled .sapMInputBaseInner,
.sapMILI-CTX .sapMInputBaseReadonlyWrapper .sapMInputBaseInner {
	text-align: right;
	background: transparent;
}

.sapMLIBActive {
	.sapMInputBaseInner,
	.sapMInputBaseContentWrapper {
		color: @sapUiListActiveTextColor;
		background: transparent;
	}

	.sapMInputDescriptionText {
		color: @sapUiListActiveTextColor;
	}
}

.sapMLIBActive .sapMInputBaseInner::-webkit-input-placeholder {
	color: @sapUiListActiveTextColor;
}