/* =================================== */
/* CSS for control sap.m/ListItemBase  */
/* BlueCrystal theme                   */
/* =================================== */

.sapMListBGTransparent .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover) {
	background: fade(@sapUiListBackground, 0);
}

.sapMListBGTranslucent .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover) {
	background: fade(@sapUiListBackground, @sapUiTranslucentBGOpacity);
}

.sapMListBGSolid .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover) {
	background: @sapUiListBackground;
}