/* ============================================= */
/* CSS for control sap.m/MessageBox.js in Blue Crystal Theme */
/* ============================================= */
.sapMDialog.sapMMessageBoxInfo .sapMDialogIcon.sapUiIcon {
	color: @sapUiNeutralElement;
}

.sapMDialog.sapMMessageBoxWarning .sapMDialogIcon.sapUiIcon {
	color: @sapUiCriticalElement;
}

.sapMDialog.sapMMessageBoxError .sapMDialogIcon.sapUiIcon {
	color: @sapUiNegativeElement;
}

.sapMDialog.sapMMessageBoxSuccess .sapMDialogIcon.sapUiIcon {
	color: @sapUiPositiveElement;
}

.sapMDialog.sapMMessageBoxQuestion .sapMDialogIcon.sapUiIcon {
	color: @sapUiNeutralElement;
}

.sapMMessageBoxInfo > .sapMBar {
	.sapMBarShadow(@sapUiNeutralElement);
}

.sapMMessageBoxWarning > .sapMBar {
	.sapMBarShadow(@sapUiCriticalElement);
}

.sapMMessageBoxError > .sapMBar {
	.sapMBarShadow(@sapUiNegativeElement);
}

.sapMMessageBoxSuccess > .sapMBar {
	.sapMBarShadow(@sapUiPositiveElement);
}

.sapMMessageBoxQuestion > .sapMBar {
	.sapMBarShadow(@sapUiNeutralElement);
}
