/* ================================== */
/* CSS for control sap.m/NewsContent  */
/* BlueCrystal theme                  */
/* ================================== */

.sapMNwC {
	background-color: fade(@sapUiTileBackground, 80);
}

.sapMNwCCTxt .sapMText {
	color: @sapUiTileTitleTextColor;
}

html.sap-desktop .sapMNwC:focus {
	outline: 1px dotted @sapUiContentFocusColor;
}