/* ====================================== */
/* CSS for control sap.m/ObjectAttribute  */
/* BlueCrystal theme                      */
/* ====================================== */

html.sap-desktop .sapMObjectAttributeActive:focus > .sapMText {
	outline: 1px dotted @sapUiContentFocusColor;
	outline-offset: -1px;
}

html[data-sap-ui-browser ^= "ie"], html[data-sap-ui-browser^="ed"] {
	.sapMObjectAttributeActive:focus > .sapMText {
		outline-style: dashed;
	}
}

/*=========================================== */
/* Custom design for Responsive Object Header */
/*=========================================== */

.sapMOHR .sapMObjectAttributeActive .sapMObjectAttributeText:active,
.sapMOHR .sapMObjectAttributeActive .sapMObjectAttributeText:hover,
.sapMOHR .sapMObjectAttributeActive:focus .sapMObjectAttributeText {
	text-decoration: underline;
}

/*=========================================== */
/* Custom design for Static Object Header     */
/*=========================================== */

.sapMOH .sapMObjectAttributeActive .sapMObjectAttributeText:active,
.sapMOH .sapMObjectAttributeActive .sapMObjectAttributeText:hover {
	text-decoration: underline;
}