/* ============================================= */
/* CSS for control sap.m/ObjectMarker.control    */
/* ============================================= */
.sapMObjectMarker {
	.sapUiIcon {
		color: @sapUiContentMarkerIconColor;
	}
	.sapMText {
		color: @sapUiContentLabelColor;
	}
}
.sapMListTbl .sapMObjectMarker .sapMText {
	color: @sapUiContentLabelColor;
}