/* ============================================== */
/* CSS for control sap.m/SlideTile.control */
/* ============================================== */
.sapMST {
	border: 1px solid @sapUiTileBorderColor;
}

html.sap-desktop .sapMST:hover,
html.sap-tablet .sapMSTHvr:active,
html.sap-phone .sapMSTHvr:active {
	box-shadow: 0rem 0rem 0rem 0.125rem @sapUiContentContrastShadowColor;
}

html.sap-desktop .sapMST:focus .sapMSTFocusDiv {
	border: 1px solid @sapUiContentContrastShadowColor;
}

/* This part is used to achieve dotted white black interlace border*/
html.sap-desktop .sapMST:focus .sapMSTFocusDiv:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0.25rem;
	margin: -1px;
	border: 1px dotted @sapUiContentFocusColor;
}

/* Bulleted indicator of multiple tiles*/
.sapMSTBulleted > span {
	background-color: lighten(@sapUiElement, 38);
	box-shadow: 0 0 0.25rem fade(@sapUiContentContrastShadowColor, 30);
}

.sapMSTBulleted > span.sapMSTActive {
	background-color: @sapUiElement;
	box-shadow: 0 0 0.25rem fade(@sapUiContentContrastShadowColor, 30);
}

.sapMST .sapMSTIconDisplayArea {
	background-color: darken(@sapUiHighlight, 18);
}

.sapMST.sapMSTIconPressed .sapMSTIconClickTapArea:hover ~.sapMSTIconDisplayArea {
	background-color: @sapUiHighlight;
}
