/* ============================================= */
/* CSS for control sap.m/Tokenizer.control BlueCrystal theme*/
/* ============================================= */

html.sap-desktop .sapMTokenizer:focus {
	outline: 1px dotted @sapUiFocus;
	outline-offset: -3px;
}

html[data-sap-ui-browser^="ie"].sap-desktop,
html[data-sap-ui-browser^="ed"].sap-desktop {
	.sapMTokenizer:focus {
		&:before {
			border: 1px dotted @sapUiFocus;
		}
	}
}