/* ========================================================= */
/* CSS for value state message BlueCrystal theme             */
/* ========================================================= */

.sapMValueStateMessage {
	color: @sapUiFieldTextColor;
	border-width: 0;
	font-size: @sapMFontSmallSize;
	font-family: @sapUiFontFamily;
	padding: 0.3rem 0.625rem;
	min-width: 6rem;
}

.sapMValueStateMessageError {
	background: @sapUiErrorBG;
}

.sapMValueStateMessageWarning {
	background: @sapUiWarningBG;
}