/* ================================================================= */
/* CSS for control sap.m/TableFilterDialog.control BlueCrystal theme */
/* ================================================================= */

/* workaround to remove the blurry effect on the icons */
.sapMVSDSeg .sapMSegBBtn {
	text-shadow: 0 0px;
}

.sapMTB.sapMVSDFilterHeaderToolbar {
	background-color: @sapUiToolbarSolidBG;
	border-bottom: 0.0625rem solid @sapUiToolbarBorder;
	.sapMBarChild.sapMCb {
		.sapMCbLabel {
			font-family: @sapUiFontFamily;
			color: @sapUiDarkText;
			font-size: 1.125rem;
		}
	}
}

.sapMSF.sapMVSDFilterSearchField {
	border-bottom: 0.0625rem solid @sapUiToolbarBorder;
	.sapMSFF {
		border: none;
	}
}

.sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMCb:focus::before {
		border: 0.0625rem dotted @sapUiFocus;
		pointer-events: none;
	}
}

html.sap-desktop .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
		content: '';
		position: absolute;
		top: 0.625rem;
		right: 0.25rem;
		bottom: 0.625rem;
		left: 0.625rem;
	}
}

html.sap-desktop .sapUiSizeCompact .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
		content: '';
		position: absolute;
		top: 0.25rem;
		right: 0.25rem;
		bottom: 0.25rem;
		left: 0.25rem;
	}
}

.sapUiSizeCompact .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMLabel.sapMCbLabel {
		font-size: @sapMFontMediumSize;
	}
}