/* ================================================================= */
/* CSS for control sap.m/ViewSettingsPopover BlueCrystal theme              */
/* ================================================================= */

.sapMVSPopover .sapMPopoverHeader .sapMSegBBtn,
.sapMPopoverHeader .sapMSegBBtn:last-child,
.sapMPopoverHeader .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel {
	border-color: @sapUiLightestBG;
}

/* Custom focus outline: */
html.sap-desktop .sapMVSPopover {
	.sapMSegBBtnFocusable:focus + .sapMSegBBtn {
		outline: none;
		border-left: 1px solid @sapUiLightestBG;
	}
}

.sapMVSPopover .sapMPopoverHeader .sapMSegBBtn,
.sapMVSPopover .sapMDialogTitle .sapMSegBBtn {
	margin-right: 5px;
	border-radius: 3px;
	border: 1px solid @sapUiLightestBG;
}

.sapMVSPopover.sapMPopup-CTX .sapMIBar.sapMHeader-CTX {
	background: @sapUiLightestBG;
}

html.sap-phone,
html.sap-tablet:not(.sap-desktop) {
  .sapMVSPopover {
	.sapMLIBSelectM > .sapMCb:focus,
	.sapMBarChild.sapMCb:focus {
	  outline: none;
	}
  }
}
