/* ================================== */
/* CSS for control sap.m/GenericTile  */
/* Belize High Contrast White theme   */
/* ================================== */

.sapMGT {
	border-radius: 0.375rem;
}

.sapMGT.sapMGTBackgroundImage .sapMGTContent {
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}

.sapMGT.sapMGTScopeActions.sapMGTBackgroundImage .sapMGTContent:before {
	border-radius: 0.375rem;
}

/************************ LINE MODE COZY ********************/

.sapMGT.sapMGTLineMode {
	border: 0.0625rem solid @sapUiTileBorderColor;
}

.sapMGTLineMode.sapMGTFailed {
	.sapMGTHdrTxt {
		opacity: 0.5;
	}
	.sapMGTSubHdrTxt {
		opacity: 0.5;
	}
}

/************************ LINE MODE COMPACT *****************/

.sapUiSizeCompact {
	.sapMGT.sapMGTLineMode {
		font-size: @sapMFontMediumSize;
		border: none;

		.sapMGTHdrTxt {
			color: @sapUiTileTitleTextColor;
			font-weight: bold;
			font-size: @sapMFontMediumSize;
			font-family: @sapUiFontFamily;
		}

		.sapMGTLineModeFailedIcon {
			cursor: pointer;
			color: @sapUiTileTextColor;
			border-right: 0.25rem solid transparent;
		}

		.sapMGTLineStyleHelper {
			.sapMGTLineStyleHelperInner {
				box-shadow: @sapUiShadowLevel0;
				bottom: 1px;
			}

			&:first-child:not(:only-child) .sapMGTLineStyleHelperInner {
				margin-right: 0.125rem;
			}

			&:not(:first-child) .sapMGTLineStyleHelperInner {
				margin: 0 0.125rem;
			}
			&:last-child .sapMGTLineStyleHelperInner {
				margin-right: 0;
			}

			&:first-child .sapMGTLineStyleHelperInner {
				border-top-left-radius: 0.375rem;
				border-bottom-left-radius: 0.375rem;
			}

			&:last-child .sapMGTLineStyleHelperInner {
				border-top-right-radius: 0.375rem;
				border-bottom-right-radius: 0.375rem;
			}
		}

		&.sapMGTDisabled {
			.sapMGTLineStyleHelperInner {
				border: 1px solid @sapUiHcReducedForeground;
			}
			.sapMGTHdrTxt {
				color: @sapUiContentDisabledTextColor;
			}
			.sapMGTSubHdrTxt {
				color: @sapUiContentDisabledTextColor;
			}
		}
	}
}

.sap-desktop .sapUiSizeCompact .sapMGT.sapMGTLineMode {
	&:hover {
		box-shadow: none !important;
	}

	&:not(.sapMGTDisabled):not(.sapMGTFailed):hover .sapMGTLineStyleHelperInner {
		box-shadow: 0 0 0 0.1875rem @sapUiContentShadowColor;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	&:focus {
		border: 0.125rem dotted @sapUiContentFocusColor;
	}

	&:focus .sapMGTLineStyleHelperInner:before {
		content: "";
		position: absolute;
		top: 1px;
		left: 1px;
		bottom: 1px;
		right: 1px;
		box-sizing: border-box;
		border: 0.125rem dotted @sapUiContentFocusColor;
	}
}

.sapMGTHdrContent {
	color: @sapUiTileTextColor;
}

.sapMGTBackgroundImage {
	border: none;
}

html.sap-desktop .sapMGT:focus .sapMGTFocusDiv {
	border: 0.125rem dotted @sapUiContentFocusColor;
}

.sapMGTOverlay {
	opacity: 1;
}

.sapMGTOverlay > .sapUiLocalBusyIndicator > .sapUiLocalBusyIndicatorAnimation {
	border: none;
	box-shadow: none;
}

html.sap-desktop .sapMGT:hover,
html.sap-phone .sapMGTHvrOutln:active,
html.sap-tablet .sapMGTHvrOutln:active,
html.sap-phone .sapMGTBackgroundHvrOutln:active,
html.sap-tablet .sapMGTBackgroundHvrOutln:active {
	box-shadow: 0 0 0 0.125rem @sapUiContentShadowColor;
}

.sap-desktop .sapMGTLineMode:hover {
	&.sapMGTDisabled, &.sapMGTLineModePress, &.sapMGTFailed {
		box-shadow: none;
	}
}
