/* ================================= */
/* CSS for control sap.m/Image       */
/* Belize High Contrast White theme  */
/* ================================= */

.sapMLightBoxMagnifyingGlass {
	background-color: @sapUiContentForegroundColor;
	border: 1px solid @sapUiContentForegroundBorderColor;
}

.sapMLightBoxMagnifyingGlass:before {
	color: @sapUiContentIconColor;
}

.sapMImgFocusable:focus {
	outline: 1px dotted @sapUiContentFocusColor;
}