/* =================================== */
/* CSS for control sap.m/ListItemBase  */
/* Belize High Contrast White theme    */
/* =================================== */

@_sap_m_ListItemBase_Highlight_InformationColor: @sapUiAccent6;

.sapMLIBFocusable:focus {
	outline-width: 0.125rem;
}

.sapMLIBImgNav {
	font-size: 1rem;
}

.sapMTableRowCustomFocus:focus > :not(.sapMListTblDummyCell:last-child)::before {
	border-width: 2px;
}