/* =================================== */
/* CSS for control sap.m/ObjectStatus  */
/* Belize High Contrast White theme    */
/* =================================== */

/* HCB theme specific styles */
.sapMLIBSelected, .sapMLIB:hover,
.sapUiTableRowSel, .sapUiTableRowHvr {
	.sapMObjStatusNone .sapMObjStatusText,
	.sapMObjStatusNone .sapMObjStatusIcon,
	.sapMObjStatusError .sapMObjStatusText,
	.sapMObjStatusError .sapMObjStatusIcon,
	.sapMObjStatusWarning .sapMObjStatusText,
	.sapMObjStatusWarning .sapMObjStatusIcon,
	.sapMObjStatusSuccess .sapMObjStatusText,
	.sapMObjStatusSuccess .sapMObjStatusIcon
	.sapMObjStatusInformation .sapMObjStatusText,
	.sapMObjStatusInformation .sapMObjStatusIcon {
		color: @sapUiListTextColor;
	}
}

.sapMObjStatusActive:not(.sapMObjStatusInverted) .sapMObjStatusIcon:only-child > .sapUiIcon,
.sapMObjStatusActive:not(.sapMObjStatusInverted) .sapMObjStatusLink .sapMObjStatusText {
	text-decoration: underline;
}

.sapMObjStatusActive:not(.sapMObjStatusInverted):hover .sapMObjStatusIcon:only-child > .sapUiIcon,
.sapMObjStatusActive:not(.sapMObjStatusInverted):hover .sapMObjStatusLink .sapMObjStatusText,
.sapMObjStatusActive:not(.sapMObjStatusInverted):focus .sapMObjStatusLink .sapMObjStatusText,
.sapMObjStatusActive:not(.sapMObjStatusInverted):focus .sapMObjStatusIcon:only-child > .sapUiIcon{
	text-decoration: none;
}

.sapMObjStatusInverted .sapMObjStatusTitle,
.sapMObjStatusInverted .sapMObjStatusText,
.sapMObjStatusInverted .sapMObjStatusIcon .sapMObjStatusIconOnly {
	padding: 0.025rem 0.25rem;
}

.sapMObjStatusInverted.sapMObjStatusIndication01,
.sapMObjStatusInverted.sapMObjStatusIndication02,
.sapMObjStatusInverted.sapMObjStatusIndication03,
.sapMObjStatusInverted.sapMObjStatusIndication04,
.sapMObjStatusInverted.sapMObjStatusIndication05,
.sapMObjStatusInverted.sapMObjStatusNone,
.sapMObjStatusInverted.sapMObjStatusError,
.sapMObjStatusInverted.sapMObjStatusWarning,
.sapMObjStatusInverted.sapMObjStatusSuccess,
.sapMObjStatusInverted.sapMObjStatusInformation {
	border: 0.0625rem solid @sapUiButtonBorderColor;
	border-radius: @sapElement_BorderCornerRadius;
	.sapMObjStatusText,
	.sapMObjStatusIcon {
		color: @sapUiButtonTextColor;
		background-color: @sapUiButtonBackground;
	}
}

.sapMObjStatusInverted.sapMObjStatusActive:hover,
.sapMObjStatusInverted.sapMObjStatusActive:hover .sapMObjStatusLink,
.sapMObjStatusInverted.sapMObjStatusActive:hover .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusActive:hover .sapMObjStatusIcon .sapUiIcon,
.sapMObjStatusInverted.sapMObjStatusActive:hover .sapMObjStatusLink .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusLink:hover .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:hover .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusLink:hover .sapMObjStatusIcon,
.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:hover .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusLink:hover.sapMObjStatusIcon
.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:hover .sapMObjStatusText,
.sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusLink:hover .sapMObjStatusIcon {
	border-radius: @sapElement_BorderCornerRadius;
	background-color: @sapUiButtonHoverBackground;
}