/* ====================================== */
/* CSS for control sap.m/ObjectAttribute  */
/* Belize High Contrast White theme       */
/* ====================================== */

html.sap-desktop .sapMObjectAttributeActive:focus .sapMObjectAttributeText {
	outline: 0.125rem dotted @sapUiContentFocusColor;
	outline-offset: -0.125rem;
	text-decoration: none;
}

.sapMObjectAttributeActive .sapMText {
	color: @sapUiListActiveTextColor;
	cursor: pointer;
	text-decoration: underline;
}

.sapMObjectAttributeActive .sapMText:hover {
	text-decoration: none;
}

.sapMObjectAttributeActive .sapMObjectAttributeText:hover,
.sapMObjectAttributeActive .sapMText:hover {
	text-decoration: none;
}

.sapMObjectAttributeActive .sapMObjectAttributeText {
	text-decoration: underline;
}

/*=========================================== */
/* Custom design for Responsive Object Header */
/*=========================================== */

.sapMOHR .sapMObjectAttributeActive .sapMObjectAttributeText {
	text-decoration: underline;
}

.sapMOHR .sapMObjectAttributeActive:focus .sapMObjectAttributeText {
	outline: 0.125rem dotted @sapUiHcStandardForeground;
	outline-offset: -0.125rem;
}

/*=========================================== */
/* Custom design for Static Object Header     */
/*=========================================== */

.sapMOH .sapMObjectAttributeActive .sapMObjectAttributeText {
	text-decoration: underline;
}

.sapMOH .sapMObjectAttributeActive:focus .sapMObjectAttributeText {
	outline: 0.125rem dotted @sapUiContentFocusColor;
	outline-offset: -0.125rem;
}