/* ============================== */
/* CSS for control sap.m/Popover  */
/* Belize HCW theme                   */
/* ============================== */

/* Arrow offset from the Popover's corners */
@_sap_m_Popover_ArrowOffset: 4;

.sapMPopover {
	box-shadow: @sapUiShadowLevel2;
}

.sapMPopoverArr:after {
	border-style: solid;
	border-width: 2px;
}

/* pointing upward arrow */
.sapMPopoverArrUp {
	top: -0.5rem;
	&:after {
		margin: 0.23rem 0 0 0.04rem;
	}
}

/* pointing right arrow */
.sapMPopoverArrRight {
	&:after {
		margin: 0 0 0 -0.55rem;
	}
}

/* pointing downward arrow */
.sapMPopoverArrDown {
	bottom: -0.5rem;
	&:after {
		margin: -0.625rem  0 0 0.03rem;
	}
}