/* ================================= */
/* CSS for control sap.m/TimePickerSliders  */
/* Belize High Contrast White theme  */
/* ================================= */
.sapMTimePickerContainer {
	.sapMTPColumn {
		.sapMTimePickerSlider {
			.sapMTimePickerItem {
				&:focus {
					outline: 0.125rem dotted @sapUiContentContrastFocusColor;
				}
			}
		}
		&.sapMTPSliderExpanded {
			.sapMTimePickerSlider {
				.sapMTimePickerItem {
					&:focus {
						outline: 0.125rem dotted @sapUiContentFocusColor;
					}
				}
			}
		}

		&.sapMTPDisabled .sapMTimePickerSlider .sapMTimePickerItem {
			color: @sapUiHcReducedAltForeground;
			border-color: @sapUiHcReducedAltForeground;
			background-color: @sapUiHcReducedBackground;
		}
	}
}

.sapUiSizeCompact {
	.sapMTPColumn:not(.sapMTimePickerSliderShort) {
		.sapMTimePickerSlider {
			box-shadow: 0 0 0 1px @sapUiListBorderColor;
		}
	}
}

.sap-phone {
	.sapMTimePickerContainer {
		.sapMTPColumn {
			.sapMTimePickerSlider {
				.sapMTimePickerItem {
					&:focus {
						outline: 0.125rem dotted @sapUiContentContrastFocusColor;
					}
				}
			}
			&.sapMTPSliderExpanded {
				.sapMTimePickerSlider {
					.sapMTimePickerItem {
						&:focus {
							outline: 0.125rem dotted @sapUiContentFocusColor;
						}
					}
				}
			}
		}
	}
}