.sapUiDemokitBody {
	margin:0;
	padding: 5px 20px 5px 20px;
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	background-color: #ffffff !important;
	background-image: linear-gradient(to bottom, #E0F2F4 0px, #DCECF0 50%, #DDE4EC 100%) !important;
	background-image: -webkit-linear-gradient(to bottom, #E0F2F4 0px, #DCECF0 50%, #DDE4EC 100%) !important;
	background-image: -ms-linear-gradient(to bottom, #E0F2F4 0px, #DCECF0 50%, #DDE4EC 100%) !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
}

.sapUiDemokitTitle {
	width: 90%;
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 0.25em;
	height: 120px;
}

.sapUiDemokitTitle > span {
	left: 90px;
	top: 0px;
	position: absolute;
}

.sapUiDemokitSampleCont {
	width: 100%;
}

.sapUiDemokitHeader {
	font-size:3em;
	font-weight: bold;
	padding-bottom: 0.1em;
	border-bottom: 3px solid #bfbfbf;
}

.license {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 144px;
	font-size: 10px;
	font-style: italic;
}

.sapUiDemokitBody code {
	padding-left: 4px;
	padding-right: 4px;
	background-color: #e8e8e8;
}

.sapUiDemokitBody .keycode {
	padding: 2px 4px;
	background-color: #e8e8e8;
	border-radius: 4px;
	border: 1px solid #c8c8c8;
	text-transform: uppercase;
}

.sapUiDemokitScreenshot {
	padding: 10px 20px;
}

.sapUiDemokitScreenshot > span {
	font-size: 80%;
	font-weight: bold;
	font-style: italic;
	text-alignment: center;
}

A.sapUiDemokitSrcLink, A.sapUiDemokitLink,
A.sapUiDemokitSrcLink:visited, A.sapUiDemokitLink:visited,
A.sapUiDemokitSrcLink:visited:hover, A.sapUiDemokitLink:visited:hover,
A.sapUiDemokitSrcLink:hover, A.sapUiDemokitLink:hover {
	text-decoration: none;
	color: #0078BB;
	border: none;
}

A.sapUiDemokitSrcLink:hover, A.sapUiDemokitLink:hover,
A.sapUiDemokitSrcLink:visited:hover, A.sapUiDemokitLink:visited:hover {
	text-decoration: underline;
}

A.sapUiDemokitSrcLink {
	padding-left: 18px;
	background-image: url(images/file.gif);
	background-repeat: no-repeat;
}

/*Copy from dev-guide*/

.sapUiDemokitBody > h1, 
.sapUiDemokitBody > h2, 
.sapUiDemokitBody > h3, 
.sapUiDemokitBody > h4, 
.sapUiDemokitBody > h5 {
	font-family: "Verdana",Arial,Helvetica,sans-serif;
	font-weight: normal;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: -10px;
	font-weight: bold;
	/*text-transform: uppercase;*/
}

.sapUiDemokitBody > h1 {
	font-size: 20px;
}

.sapUiDemokitBody > h2 {
	font-size: 16px;
}

.sapUiDemokitBody > h3 {
	font-size: 14px;
}

.sapUiDemokitBody > h4 {
	font-size: 13px;
}

.sapDkTLN {
	padding-left: 0;
	background-color : white;
}

.sapDkTLN > LI {
	display : inline-block;
	margin: 0;
	margin-left: 5px;
	padding: 0 5px;
}

.sapDkTLN > LI:first-child {
	margin-left: 0;
	border-left : 0;
}
