.sapDkSimpleTree {
	color: #eff4f9;
	background-color: #3f5161;
}

.sapDkSimpleTreeTitle {
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.sapMSF.sapDkSimpleTreeSearchField {
	padding-left: 15px;
}

.sapMSF.sapDkSimpleTreeSearchField {
	padding-right: 15px;
}

.sapDkSimpleTreeRootList {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-left: 0;
	height: 100%;
	overflow: auto;
}

.sapDkSimpleTreeRootList ul {
	padding-left: 0;
}

.sapDkSimpleTreeHiddenChildrenNodes {
	display: none;
}

.sapDkSimpleTreeVisibleChildrenNodes {
	display: block;
}

.sapDkSimpleTreeNodeFirstLvlRootExp {
	border-bottom: 1px solid #4d6376;
}

.sapDkSimpleTreeNode {
	list-style-type: none;
	cursor: pointer;
	background-color: #394958;

	div {
		height: 22px;
		line-height: 22px;
		padding-top: 5px;
		padding-bottom: 5px;

		.sapDkSimpleTreeNodeLabel {
			display: inline-block;
			width: ~"calc(100% - 20px)";
			text-overflow: ellipsis;
			overflow: hidden;
			vertical-align: top;
		}
	}

	.sapDkSimpleTreeNodeFirstLvl {
		background-color: #3f5161;
		border-bottom: 1px solid #4d6376;

		&.sapDkSimpleTreeNodeSelected {
			background-color: #416b8e;
		}
	}

	.sapDkSimpleTreeNodeSelected {
		background-color: #416b8e;
	}

	& > div:focus:not(.sapDkSimpleTreeNodeSelected),
	& > div:hover:not(.sapDkSimpleTreeNodeSelected){
		outline: none;
		background-color: #45596a;
	}

	.sapDkSimpleTreeNodeSelected:focus {
		outline: none;
		background-color: #467398;
	}
}

.sapDkSimpleTreeNodeIconBase {
	color: #cae4fb;
	font-size: 12px;
}

.sapDkSimpleTreeNodeIconCol {
	&:extend(.sapDkSimpleTreeNodeIconBase);
	padding-right: 13px;
}

.sapDkSimpleTreeNodeIconExp {
	&:extend(.sapDkSimpleTreeNodeIconBase);
	padding-right: 8px;
}

.sapDkSimpleTreeNodeNoChildren {
	padding-left: 20px;
}

.sapDkSimpleTreeRootList {
	scrollbar-face-color: #009DE0;
	scrollbar-arrow-color: #3F5161;
	scrollbar-track-color: #3F5161;

	&::-webkit-scrollbar-thumb {
		background-color: #009DE0;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: #009DE0;
	}
	&::-webkit-scrollbar {
		background-color: #3F5161;
	}
}