/* ======================================= */
/* CSS for control sap.tnt/SideNavigation  */
/* Evening Horizon theme                   */
/* ======================================= */

@_sap_tnt_SideNavigation_Width: 16rem;
@_sap_tnt_SideNavigation_CollapsedWidth: 3.5rem;
@_sap_tnt_SideNavigation_NavigationSeparatorMargin: 0.5rem;
@_sap_tnt_SideNavigation_NavigationSeparatorMarginCollapsed: 0.5rem;
@_sap_tnt_SideNavigation_NavigationSeparatorBackgroundColor: @sapUiToolbarSeparatorColor;
@_sap_tnt_SideNavigation_NavigationSeparatorRadius: 0.125rem;
@_sap_tnt_SideNavigation_NavigationSeparatorHeight: 0.0625rem;
@_sap_tnt_SideNavigation_TriangleColor: @sapUiContentNonInteractiveIconColor;
@_sap_tnt_SideNavigation_BorderRight: 0;
@_sap_tnt_SideNavigation_BorderRadius: 0.5rem 0.5rem 0 0;
@_sap_tnt_SideNavigation_PhoneBorderRadius: 0.5rem;
@_sap_tnt_SideNavigation_BoxShadow: 0 0 0.125rem 0 fade(@sapUiContentShadowColor, 16), 0 0.5rem 1rem 0 fade(@sapUiContentShadowColor, 16);
@_sap_tnt_SideNavigation_SeparatorMargin: 0.3125rem 0.5rem 0.3125rem 0.5rem;
@_sap_tnt_SideNavigation_TriangleDisplay: none;
@_sap_tnt_SideNavigation_PhoneWidth: ~"100% !important";