// Public Theme Parameters

/* ===================================== */
/* Quick Theming                         */
/* ===================================== */

// [Label "Brand Color"]
// [Description "The color which builds your brand"]
// [Tags "Quick", "Base", "Color"]
@sapBrandColor: @sapHC_HighlightBackground;

// [Label "Highlight Color"]
// [Description "The color which is used to highlight screen elements"]
// [Tags "Quick", "Base", "Content", "Color"]
@sapHighlightColor: @sapBrandColor;

// [Label "Base Color"]
// [Description "The color which is used to derive the most dominant background colors"]
// [Tags "Quick", "Base", "Color"]
@sapBaseColor: @sapHC_StandardBackground;

// [Label "Shell Header Color"]
// [Description "The color of the shell header bar"]
// [Tags "Quick", "Base", "Color"]
@sapShellColor: @sapHC_StandardBackground;

// [Description "The default background color of this theme"]
// [Tags "Base", "Content", "Color", "Protected"]
@sapBackgroundColorDefault: @sapHC_StandardBackground;

// [Label "Background Color"]
// [Description "The main background color of the screen"]
// [Tags "Quick", "Base", "Color"]
@sapBackgroundColor: @sapHC_StandardBackground;

// [Label "Font Family"]
// [Description "The preferred font family"]
// [Tags "Quick", "Base", "Content", "Font", "Protected"]
@sapFontFamily: "72fallback", "72", "72full", Arial, Helvetica, sans-serif;

@sapFontLightFamily: "72fallback", "72-Light", "72-Lightfull", "72", "72full", Arial, Helvetica, sans-serif;

@sapFontBoldFamily: "72fallback", "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica, sans-serif;

@sapFontHeaderFamily:  @sapFontFamily;

// [Label "Font Size"]
// [Description "The preferred font size"]
// [Tags "Quick", "Base", "Content", "Dimension", "Font", "Protected"]
@sapFontSize: 0.875 * @sapContent_GridSize; //14px

@sapFontSmallSize: 0.75 * @sapContent_GridSize; //12px

@sapFontLargeSize: 1.0 * @sapContent_GridSize; //16px

@sapFontHeader1Size: 1.625 * @sapContent_GridSize; //26px

@sapFontHeader2Size: 1.375 * @sapContent_GridSize; //22px

@sapFontHeader3Size: 1.25 * @sapContent_GridSize; //20px

@sapFontHeader4Size: 1.125 * @sapContent_GridSize; //18px

@sapFontHeader5Size: 1.0 * @sapContent_GridSize; //16px

@sapFontHeader6Size: 0.875 * @sapContent_GridSize; //14px

// [Label "Text Color"]
// [Description "The preferred text color"]
// [Tags "Quick", "Base", "Content", "Color", "Font"]
@sapTextColor: @sapHC_StandardForeground;

// [Label "Link Color"]
// [Description "The color of the link text"]
// [Tags "Quick", "Base", "Content", "Color", "Font", "Link"]
@sapLinkColor: @sapHC_StandardForeground;

@sapLink_Hover_Color: @sapLinkColor;

@sapLink_Active_Color: @sapLinkColor;

@sapLink_Visited_Color: @sapLinkColor;

@sapLink_InvertedColor: @sapLinkColor;

@sapLink_SubtleColor: @sapLinkColor;

// [Label "Company Logo"]
// [Description "The URI to the logo of your company"]
// [Tags "Quick", "Base", "URI", "Image"]
@sapCompanyLogo: none;

// [Label "Background Image"]
// [Description "The URI to the image which is shown as background"]
// [Tags "Quick", "Base", "URI", "Image"]
@sapBackgroundImage: none;

// [Label "Background Opacity"]
// [Description "A value between 0.0 and 1.0 to control the opacity of the background image"]
// [Tags "Quick", "Base", "Opacity"]
@sapBackgroundImageOpacity: 1.0;

// [Label "Background Repeat"]
// [Description "The switch to turn on/off the repetition of the background image. Chose 'true' or 'false' as value."]
// [Tags "Quick", "Base"]
@sapBackgroundImageRepeat: false;


/*
 UX COLOR SET
*/

@sapContent_GridSize: 1rem;

// [Label "High-Contrast Standard Background"]
// [Description "The high-contrast reference background color for most backgrounds"]
// [Tags "Quick", "Base", "Content", "Color", "HighContrast"]
@sapHC_StandardBackground: #ffffff;

// [Label "High-Contrast Highlight Interaction Background"]
// [Description "The high-contrast reference background color used for hover and active states "]
// [Tags "Quick", "Base", "Content", "Color", "HighContrast"]
@sapHC_HighlightBackground: #ec8b46;

// [Label "High-Contrast Highlight Selection Background"]
// [Description "The high-contrast reference background color used for selection"]
// [Tags "Quick", "Base", "Content", "Color", "HighContrast"]
@sapHC_HighlightAltBackground: #8fb5ff;

// [Label "High-Contrast Reduced Background"]
// [Description "The high-contrast reference background color used for read-only and disabled items"]
// [Tags "Quick", "Base", "Content", "Color", "HighContrast"]
@sapHC_ReducedBackground: #b3b3b3;

@sapHC_ReducedAltBackground: #4d4d4d;

// [Label "High-Contrast Standard Foreground"]
// [Description "The high-contrast reference foreground color for elements such as text, icons, and borders"]
// [Tags "Quick", "Base", "Content", "Color", "HighContrast"]
@sapHC_StandardForeground: #000000;

// [Label "High-Contrast Enhanced Help Foreground"]
// [Description "The high-contrast reference foreground color for elements such as help borders and help text"]
// [Tags "Quick", "Base", "Content", "Color", "HighContrast"]
@sapHC_EnhancedForeground: #006500;

// [Label "High-Contrast Reduced Disabled Foreground"]
// [Description "The high-contrast reference foreground color for elements such as disabled text, icons, and borders"]
// [Tags "Quick", "Base", "Content", "Color", "HighContrast"]
@sapHC_ReducedForeground: #888888;

// [Label "High-Contrast Reduced Contrast Foreground"]
// [Description "The high-contrast reference foreground color for elements such as list borders or read-only borders that are less prominent than standard elements"]
// [Tags "Quick", "Base", "Content", "Color", "HighContrast"]
@sapHC_ReducedAltForeground: #585858;

/* Semantic Colors */
@sapHC_NegativeColor:    #ab0000;
@sapHC_CriticalColor:    #5c5c00;
@sapHC_PositiveColor:    #006362;
@sapHC_InformativeColor: #000000;
@sapHC_NeutralColor:     #000000;

/* ACCENT COLORS */
@sapAccentColor1: #5f5800;
@sapAccentColor2: #5e4101;
@sapAccentColor3: #973333;
@sapAccentColor4: #961d7c;
@sapAccentColor5: #365892;
@sapAccentColor6: #004ccb;
@sapAccentColor7: #105b5b;
@sapAccentColor8: #26340b;
@sapAccentColor9: #6c32a9;
@sapAccentColor10: #4a5964;


/* LEGEND COLORS */

@sapLegend_WorkingBackground: darken(@sapList_Background, 15);

@sapLegend_NonWorkingBackground: darken(@sapList_Background, 30);

@sapLegend_CurrentDateTime: @sapAccentColor4;

@sapLegendColor1: #5f5800;
@sapLegendColor2: #5e4101;
@sapLegendColor3: #973333;
@sapLegendColor4: #463000;
@sapLegendColor5: #961d7c;
@sapLegendColor6: #004ccb;
@sapLegendColor7: #105b5b;
@sapLegendColor8: #26340b;
@sapLegendColor9: #002f7e;
@sapLegendColor10: #6c3d62;
@sapLegendColor11: #383513;
@sapLegendColor12: #734f00;
@sapLegendColor13: #723e3e;
@sapLegendColor14: #5f5642;
@sapLegendColor15: #60535d;
@sapLegendColor16: #465878;
@sapLegendColor17: #435b5b;
@sapLegendColor18: #4e5a36;
@sapLegendColor19: #4e5869;
@sapLegendColor20: #001b49;

@sapLegendBackgroundColor1: @sapList_Background;
@sapLegendBackgroundColor2: @sapList_Background;
@sapLegendBackgroundColor3: @sapList_Background;
@sapLegendBackgroundColor4: @sapList_Background;
@sapLegendBackgroundColor5: @sapList_Background;
@sapLegendBackgroundColor6: @sapList_Background;
@sapLegendBackgroundColor7: @sapList_Background;
@sapLegendBackgroundColor8: @sapList_Background;
@sapLegendBackgroundColor9: @sapList_Background;
@sapLegendBackgroundColor10: @sapList_Background;
@sapLegendBackgroundColor11: @sapList_Background;
@sapLegendBackgroundColor12: @sapList_Background;
@sapLegendBackgroundColor13: @sapList_Background;
@sapLegendBackgroundColor14: @sapList_Background;
@sapLegendBackgroundColor15: @sapList_Background;
@sapLegendBackgroundColor16: @sapList_Background;
@sapLegendBackgroundColor17: @sapList_Background;
@sapLegendBackgroundColor18: @sapList_Background;
@sapLegendBackgroundColor19: @sapList_Background;
@sapLegendBackgroundColor20: @sapList_Background;


/* Semantic Background Colors */
@sapErrorBackground: @sapHC_StandardBackground;
@sapWarningBackground: @sapHC_StandardBackground;
@sapSuccessBackground: @sapHC_StandardBackground;
@sapInformationBackground: @sapHC_StandardBackground;
@sapNeutralBackground: @sapHC_StandardBackground;


/* Semantic Border Colors */
@sapErrorBorderColor: @sapErrorColor;
@sapWarningBorderColor: @sapWarningColor;
@sapSuccessBorderColor: @sapSuccessColor;
@sapInformationBorderColor: @sapInformationColor;
@sapNeutralBorderColor: @sapNeutralColor;


/* Semantic Foreground Elements */
@sapNegativeElementColor: @sapNegativeColor;
@sapCriticalElementColor: @sapCriticalColor;
@sapPositiveElementColor: @sapPositiveColor;
@sapInformativeElementColor: @sapInformativeColor;
@sapNeutralElementColor: @sapNeutralColor;


/* Semantic Text */
@sapNegativeTextColor: @sapNegativeColor;
@sapCriticalTextColor: @sapCriticalColor;
@sapPositiveTextColor: @sapPositiveColor;
@sapInformativeTextColor: @sapInformativeColor;
@sapNeutralTextColor: @sapNeutralColor;


/* Semantic Foreground Colors */

// [Label "Negative Color"]
// [Description "The color for elements showing negative state"]
// [Tags "Base", "SemanticColor", "Color"]
@sapNegativeColor: @sapHC_NegativeColor;

// [Label "Critical Color"]
// [Description "The color for elements showing critical state"]
// [Tags "Base", "SemanticColor", "Color"]
@sapCriticalColor: @sapHC_CriticalColor;

// [Label "Positive Color"]
// [Description "The color for elements showing positive state"]
// [Tags "Base", "SemanticColor", "Color"]
@sapPositiveColor: @sapHC_PositiveColor;

// [Label "Informative Color"]
// [Description "The color for elements showing informative state"]
// [Tags "Base", "SemanticColor", "Color"]
@sapInformativeColor: @sapHC_InformativeColor;

// [Label "Neutral Color"]
// [Description "The color for elements showing neutral state"]
// [Tags "Base", "SemanticColor", "Color"]
@sapNeutralColor: @sapHC_NeutralColor;


@sapErrorColor: @sapNegativeColor;
@sapWarningColor: @sapCriticalColor;
@sapSuccessColor: @sapPositiveColor;
@sapInformationColor: @sapInformativeColor;


// [Label "Indication Color 1"]
// [Tags "Base", "SemanticColor", "Color"]
@sapIndicationColor_1: #780000;

@sapIndicationColor_1_Hover_Background: @sapButton_Hover_Background;

@sapIndicationColor_1_Active_Background: @sapButton_Active_Background;

@sapIndicationColor_1_TextColor: contrast(@sapIndicationColor_1, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Indication Color 2"]
// [Tags "Base", "SemanticColor", "Color"]
@sapIndicationColor_2: #ab0000;

@sapIndicationColor_2_Hover_Background: @sapButton_Hover_Background;

@sapIndicationColor_2_Active_Background: @sapButton_Active_Background;

@sapIndicationColor_2_TextColor: contrast(@sapIndicationColor_2, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Indication Color 3"]
// [Tags "Base", "SemanticColor", "Color"]
@sapIndicationColor_3: #5c5c00;

@sapIndicationColor_3_Hover_Background: @sapButton_Hover_Background;

@sapIndicationColor_3_Active_Background: @sapButton_Active_Background;

@sapIndicationColor_3_TextColor: contrast(@sapIndicationColor_3, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Indication Color 4"]
// [Tags "Base", "SemanticColor", "Color"]
@sapIndicationColor_4: #006362;

@sapIndicationColor_4_Hover_Background: @sapButton_Hover_Background;

@sapIndicationColor_4_Active_Background: @sapButton_Active_Background;

@sapIndicationColor_4_TextColor: contrast(@sapIndicationColor_4, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Indication Color 5"]
// [Tags "Base", "SemanticColor", "Color"]
@sapIndicationColor_5: #004ccb;

@sapIndicationColor_5_Hover_Background: @sapButton_Hover_Background;

@sapIndicationColor_5_Active_Background: @sapButton_Active_Background;

@sapIndicationColor_5_TextColor: contrast(@sapIndicationColor_5, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Indication Color 6"]
// [Tags "Base", "SemanticColor", "Color"]
@sapIndicationColor_6: @sapAccentColor7;

@sapIndicationColor_6_Hover_Background: @sapButton_Hover_Background;

@sapIndicationColor_6_Active_Background: @sapButton_Active_Background;

@sapIndicationColor_6_TextColor: contrast(@sapIndicationColor_6, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Indication Color 7"]
// [Tags "Base", "SemanticColor", "Color"]
@sapIndicationColor_7: @sapAccentColor9;

@sapIndicationColor_7_Hover_Background: @sapButton_Hover_Background;

@sapIndicationColor_7_Active_Background: @sapButton_Active_Background;

@sapIndicationColor_7_TextColor: contrast(@sapIndicationColor_7, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Indication Color 8"]
// [Tags "Base", "SemanticColor", "Color"]
@sapIndicationColor_8: @sapAccentColor4;

@sapIndicationColor_8_Hover_Background: @sapButton_Hover_Background;

@sapIndicationColor_8_Active_Background: @sapButton_Active_Background;

@sapIndicationColor_8_TextColor: contrast(@sapIndicationColor_8, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);


/* ===================================== */
/* Expert Theming                        */
/* ===================================== */

// [Label "Selected Color"]
// [Description "The color of selected elements"]
// [Tags "Base", "Color"]
@sapSelectedColor: @sapHC_HighlightAltBackground;

// [Label "Active Color"]
// [Description "The color of activated elements"]
// [Tags "Base", "Color"]
@sapActiveColor: @sapHighlightColor;

// [Label "Highlight Text Color"]
// [Description "The text color of highlighted screen elements"]
// [Tags "Base", "Content", "Color", "Font"]
@sapHighlightTextColor: contrast(@sapHighlightColor, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Title Text Color"]
// [Description "The text color of the application title"]
// [Tags "Base", "Color", "Font"]
@sapTitleColor: @sapTextColor;

// [Label "Element Line Height"]
// [Description "The height of the line box surrounding the inline elements in the content area."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapElement_LineHeight: 3 * @sapContent_GridSize; // Cozy

// [Label "Element Height"]
// [Description "The height of inline elements in the content area."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapElement_Height: 2.5 * @sapContent_GridSize; // Cozy

// [Label "Element Border Thickness"]
// [Description "The standard thickness of element borders."]
// [Tags "Base", "Button", "Dimension", "Protected"]
@sapElement_BorderWidth: 0.0625 * @sapContent_GridSize; // Cozy

@sapElement_BorderCornerRadius: 0.25 * @sapContent_GridSize;

@sapElement_Compact_LineHeight: 2 * @sapContent_GridSize;

@sapElement_Compact_Height: 1.625 * @sapContent_GridSize;

@sapElement_Condensed_LineHeight: 1.5 * @sapContent_GridSize;

@sapElement_Condensed_Height: 1.375 * @sapContent_GridSize;

// [Label "Content Line Height EM"]
// [Description "The height of lines in the content area (in em). Basically this is used as the CSS line-height property."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapContent_LineHeight: 1.4;

// [Label "Content Element Height"]
// [Description "The height of inline elements in the content area (in em)."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapContent_ElementHeight: 1.37em; // deprecated/protected (only used by older UR versions). Can be deleted from Belize end 2019.

// [Label "Content Element Height PX"]
// [Description "The height of lines in the content area (in pixel)."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapContent_ElementHeight_PX: 22px; // deprecated/protected (only used by older UR versions). Can be deleted from Belize end 2019.

// [Label "Content Icon Height"]
// [Description "The height of inline icons in the content area (in pixel)."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapContent_IconHeight: @sapContent_GridSize;

// [Label "Content Icon Color"]
// [Description "The color of icons."]
// [Tags "Base", "Content", "Color"]
@sapContent_IconColor: @sapHC_StandardForeground;

// [Label "Content Icon Contrast Color"]
// [Description "The alternative icon color switched to by a threshold to keep contrast for icons."]
// [Tags "Base", "Content", "Color"]
@sapContent_ContrastIconColor: @sapContent_IconColor;

// [Label "Content Icon Noninteractive Color"]
// [Description "The color of noninteractive icons."]
// [TranslationKey "sapContent_NoIntactvIcoClr"]
// [Tags "Base", "Content", "Color"]
@sapContent_NonInteractiveIconColor: @sapContent_IconColor;

// [Label "Marker Icon Color"]
// [Description "The color of marker icons."]
// [Tags "Base", "Content", "Color"]
@sapContent_MarkerIconColor: @sapContent_IconColor;

// [Label "Marker Text Color"]
// [Description "The color of Marker Texts."]
// [Tags "Base", "Content", "Color", "Font"]
@sapContent_MarkerTextColor: @sapTextColor;

@sapContent_Placeholderloading_Background: @sapHC_ReducedForeground;

@sapContent_Placeholderloading_Gradient: linear-gradient(to right, @sapHC_ReducedForeground 0%, @sapHC_ReducedForeground 35%, @sapHC_ReducedAltForeground 50%, @sapHC_ReducedForeground 65%, @sapHC_ReducedForeground 100%);

// [Label "Image Placeholder Background Color"]
// [Description "The background color of Image Placeholders."]
// [Tags "Base", "Content", "Color"]
@sapContent_ImagePlaceholderBackground: @sapContent_IconColor;

// [Label "Image Placeholder Foreground Color"]
// [Description "The foreground color of Image Placeholders."]
// [Tags "Base", "Content", "Color"]
@sapContent_ImagePlaceholderForegroundColor: @sapHC_ReducedAltForeground;

@sapContent_RatedColor: @sapContent_IconColor;

@sapContent_UnratedColor: @sapHC_ReducedAltForeground;

// [Label "Content Focus Color"]
// [Description "The color of the focus."]
// [Tags "Base", "Content", "Color"]
@sapContent_FocusColor: @sapHC_StandardForeground;

@sapContent_FocusStyle: dotted;

@sapContent_FocusWidth: 0.125 * @sapContent_GridSize;

// [Label "Content Focus Contrast Color"]
// [Description "The alternative focus color."]
// [Tags "Base", "Content", "Color"]
@sapContent_ContrastFocusColor: @sapContent_FocusColor;

// [Label "Content Shadow Color"]
// [Description "The shadow color."]
// [Tags "Base", "Content", "Color"]
@sapContent_ShadowColor: @sapHC_StandardForeground;

// [Label "Content Shadow Contrast Color"]
// [Description "The alternative shadow color."]
// [Tags "Base", "Content", "Color"]
@sapContent_ContrastShadowColor: @sapContent_ShadowColor;

@sapContent_Shadow0: 0 0 1rem 0 fade(@sapContent_ContrastShadowColor, 50), 0 0 0 0.125rem @sapContent_ShadowColor;

@sapContent_Shadow1: 0 0 1rem 0 fade(@sapContent_ShadowColor, 50), 0 0 0 0.125rem @sapContent_ShadowColor;

@sapContent_Shadow2: 0 0.25rem 2rem 0 fade(@sapContent_ContrastShadowColor, 60), 0 0 0 0.125rem @sapContent_ShadowColor;

@sapContent_Shadow3: 0 0.625rem 4rem 0 fade(@sapContent_ContrastShadowColor, 80), 0 0 0 0.125rem @sapContent_ShadowColor;

@sapContent_TextShadow: none;

@sapContent_HeaderShadow: inset 0 -0.125rem @sapObjectHeader_BorderColor;

// [Label "Content Search Result Highlight Color"]
// [Description "The color of found search results in the content."]
// [Tags "Base", "Content", "Color"]
@sapContent_SearchHighlightColor: @sapHighlightColor;

// [Label "Content Help Indication Color"]
// [Description "The color which indicates that the element has help content."]
// [Tags "Base", "Content", "Color"]
@sapContent_HelpColor: @sapHC_EnhancedForeground;

// [Label "Content Label Color"]
// [Description "The color of labels in the content area."]
// [Tags "Base", "Content", "Color", "Font"]
@sapContent_LabelColor: @sapTextColor;

// [Label "Content Monospace Font Family"]
// [Description "Defines which monospaced font is used for specific texts in the content area."]
// [Tags "Base", "Content", "Font", "Protected"]
@sapContent_MonospaceFontFamily: lucida console, monospace;

// [Label "Content Disabled Text Color"]
// [Description "The color of texts on disabled screen elements in the content area."]
// [Tags "Base", "Content", "Color", "Font"]
@sapContent_DisabledTextColor: @sapHC_ReducedForeground;

@sapContent_DisabledOpacity: 0.5;

// [Label "Text Contrast Threshold"]
// [Description "The threshold to switch to alternative text color to keep contrast for texts"]
// [TranslationKey "sapContent_ContrastTxtThreshold"]
// [Tags "Base", "Content", "Font"]
@sapContent_ContrastTextThreshold: 0.65;

// [Label "Text Contrast Color"]
// [Description "The alternative text color switched to by a threshold to keep contrast for texts"]
// [Tags "Base", "Content", "Color", "Font"]
@sapContent_ContrastTextColor: @sapTextColor;

// [Label "Content Foreground Color"]
// [Description "The foreground color of the content area."]
// [Tags "Base", "Content", "Color"]
@sapContent_ForegroundColor: @sapBackgroundColor;

// [Label "Content Foreground Border Color"]
// [Description "The foreground color of the borders of the content area."]
// [TranslationKey "sapContent_ForegroundBorderCol"]
// [Tags "Base", "Content", "Color"]
@sapContent_ForegroundBorderColor: @sapHC_StandardForeground;

// [Label "Content Foreground Text Color"]
// [Description "The foreground color of texts in the content area."]
// [Tags "Base", "Content", "Color", "Font"]
@sapContent_ForegroundTextColor: contrast(@sapContent_ForegroundColor, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Content Badge Background"]
// [Description "The background color of badges."]
// [Tags "Base", "Content", "Color"]
@sapContent_BadgeBackground: @sapBackgroundColor;

@sapContent_BadgeTextColor: contrast(@sapContent_BadgeBackground, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapContent_DragAndDropActiveColor: @sapContent_HelpColor;

@sapContent_Selected_TextColor: contrast(@sapContent_Selected_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapContent_Selected_Background: @sapSelectedColor;

@sapContent_Selected_Hover_Background: @sapHighlightColor;

/* Content Illustrative Colors */
@sapContent_Illustrative_Color1: #0a6ed1;
@sapContent_Illustrative_Color2: #434e56;
@sapContent_Illustrative_Color3: #62737c;
@sapContent_Illustrative_Color4: #030303;
@sapContent_Illustrative_Color5: #9da4aa;
@sapContent_Illustrative_Color6: #0a6ed1;
@sapContent_Illustrative_Color7: #e7e9ea;
@sapContent_Illustrative_Color8: #fff;

// [Label "Shell Background Color"]
// [Description "The background color of the shell."]
// [Tags "Base", "Shell", "Color"]
@sapShell_Background: @sapBackgroundColor;

// [Label "Shell Background Image/Gradient"]
// [Description "The background image or gradient of the shell."]
// [Tags "Base", "Shell", "URI", "Image"]
@sapShell_BackgroundImage: @sapBackgroundColor;

// [Label "Background Opacity"]
// [Description "A value between 0.0 and 1.0 to control the opacity of the shell background image"]
// [Tags "Quick", "Base", "Opacity"]
@sapShell_BackgroundImageOpacity: 1.0;

// [Label "Background Repeat"]
// [Description "The switch to turn on/off the repetition of the shell background image. Chose 'true' or 'false' as value."]
// [Tags "Quick", "Base"]
@sapShell_BackgroundImageRepeat: false;

// [Label "Shell Background Pattern Color"]
// [Description "The background pattern color of the shell. To turn off the pattern set the value to 'transparent'"]
// [Tags "Base", "Shell", "Color"]
@sapShell_BackgroundPatternColor: @sapBackgroundColor;

// [Label "Shell Border Color"]
// [Description "The color of the borders of the shell."]
// [Tags "Base", "Shell", "Color"]
@sapShell_BorderColor: @sapHC_StandardForeground;

// [Label "Shell Text Color"]
// [Description "The color of texts in the shell."]
// [Tags "Base", "Shell", "Color", "Font"]
@sapShell_TextColor: @sapTextColor;

// [Label "Shell Interactive Text Color"]
// [Description "The color of interactive texts in the shell."]
// [Tags "Base", "Shell", "Color", "Font"]
@sapShell_InteractiveTextColor: @sapShell_TextColor;

@sapShell_InteractiveBorderColor: @sapField_BorderColor;

@sapShell_GroupTitleTextColor: @sapTitleColor;

@sapShell_Hover_Background: @sapHighlightColor;

@sapShell_Active_Background: @sapActiveColor;

@sapShell_Active_TextColor: contrast(@sapShell_Active_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapShell_Selected_Background: @sapSelectedColor;

@sapShell_Selected_TextColor: contrast(@sapShell_Selected_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapShell_Selected_Hover_Background: @sapShell_Selected_Background;

// [Label "Shell Favicon"]
// [Description "The URI to the favorite or shortcut icon displayed for the shell."]
// [Tags "Base", "Shell", "URI", "Image"]
@sapShell_Favicon: none;

@sapShell_Navigation_Background: @sapShellColor;

@sapShell_Navigation_Hover_Background: @sapShell_Hover_Background;

@sapShell_Navigation_SelectedColor: @sapShell_Navigation_Selected_TextColor;

@sapShell_Navigation_Selected_TextColor: @sapShell_InteractiveTextColor;

@sapShell_Navigation_TextColor: contrast(@sapShell_Navigation_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapShell_Navigation_Active_TextColor: contrast(@sapShell_Navigation_Active_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapShell_Navigation_Active_Background: @sapShell_Active_Background;

@sapShell_Shadow: 0 0.125rem 0 0 @sapShell_BorderColor;

// [Label "Button Border Thickness"]
// [Description "The thickness of button borders."]
// [Tags "Base", "Button", "Dimension"]
@sapButton_BorderWidth: @sapElement_BorderWidth;

// [Label "Button Corner Radius"]
// [Description "Defines whether a button has rounded corners."]
// [Tags "Base", "Button", "Dimension"]
@sapButton_BorderCornerRadius: 0.375 * @sapContent_GridSize;

// [Label "Button Background Color"]
// [Description "The background color of buttons."]
// [Tags "Base", "Button", "Color"]
@sapButton_Background: @sapBackgroundColor;

// [Label "Button Border Color"]
// [Description "The color of a button's borders."]
// [Tags "Base", "Button", "Color"]
@sapButton_BorderColor: @sapHC_StandardForeground;

// [Label "Button Text Color"]
// [Description "The color of texts on buttons."]
// [Tags "Base", "Button", "Color", "Font"]
@sapButton_TextColor: contrast(@sapButton_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Button Hover Background Color"]
// [Description "The background color of buttons on hover."]
// [Tags "Base", "Button", "Color"]
@sapButton_Hover_Background: @sapHighlightColor;

// [Label "Button Hover Border Color"]
// [Description "The color of a button's borders on hover."]
// [Tags "Base", "Button", "Color"]
@sapButton_Hover_BorderColor: @sapButton_BorderColor;

// [Label "Button Hover Text Color"]
// [Description "The color of texts on buttons on hover."]
// [Tags "Base", "Button", "Color", "Font"]
@sapButton_Hover_TextColor: contrast(@sapButton_Hover_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_IconColor: @sapButton_TextColor;

@sapButton_Active_Background: @sapActiveColor;

@sapButton_Active_BorderColor: @sapButton_BorderColor;

@sapButton_Active_TextColor: contrast(@sapButton_Active_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Emphasized Button Background Color"]
// [Description "The background color of emphasized buttons."]
// [Tags "Base", "Button", "Color"]
@sapButton_Emphasized_Background: @sapButton_Background;

// [Label "Emphasized Button Border Color"]
// [Description "The border color of emphasized buttons."]
// [TranslationKey "sapButton_Emphasized_BorderCol"]
// [Tags "Base", "Button", "Color"]
@sapButton_Emphasized_BorderColor: @sapButton_BorderColor;

// [Label "Emphasized Button Text Color"]
// [Description "The color of texts on emphasized buttons."]
// [Tags "Base", "Button", "Color", "Font"]
@sapButton_Emphasized_TextColor: contrast(@sapButton_Emphasized_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Emphasized_Hover_Background: @sapButton_Hover_Background;

@sapButton_Emphasized_Hover_BorderColor: @sapButton_Hover_BorderColor;

@sapButton_Emphasized_Hover_TextColor: contrast(@sapButton_Emphasized_Hover_Background , @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Emphasized_Active_Background: @sapButton_Active_Background;

@sapButton_Emphasized_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Emphasized_TextShadow: transparent;

@sapButton_Emphasized_FontWeight: bold;

// [Label "Reject Button Background Color"]
// [Description "The background color of \"Reject\" buttons."]
// [Tags "Base", "Button", "Color"]
@sapButton_Reject_Background: @sapButton_Background;

@sapButton_Reject_BorderColor: @sapButton_BorderColor;

@sapButton_Reject_TextColor: contrast(@sapButton_Reject_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Reject_Hover_Background: @sapButton_Hover_Background;

@sapButton_Reject_Hover_BorderColor: @sapButton_Hover_BorderColor;

@sapButton_Reject_Hover_TextColor: contrast(@sapButton_Reject_Hover_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Reject_Active_Background: @sapButton_Active_Background;

@sapButton_Reject_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Reject_Selected_Background: @sapSelectedColor;

@sapButton_Reject_Selected_BorderColor: @sapButton_BorderColor;

@sapButton_Reject_Selected_TextColor: contrast(@sapButton_Reject_Selected_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Reject_Selected_Hover_Background: @sapButton_Hover_Background;

@sapButton_Reject_Selected_Hover_BorderColor: @sapButton_Hover_BorderColor;

// [Label "Accept Button Background Color"]
// [Description "The background color of \"Accept\" buttons."]
// [Tags "Base", "Button", "Color"]
@sapButton_Accept_Background: @sapButton_Background;

@sapButton_Accept_BorderColor: @sapButton_BorderColor;

@sapButton_Accept_TextColor: contrast(@sapButton_Accept_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Accept_Hover_Background: @sapButton_Hover_Background;

@sapButton_Accept_Hover_BorderColor: @sapButton_Hover_BorderColor;

@sapButton_Accept_Hover_TextColor: contrast(@sapButton_Accept_Hover_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Accept_Active_Background: @sapButton_Active_Background;

@sapButton_Accept_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Accept_Selected_Background: @sapSelectedColor;

@sapButton_Accept_Selected_BorderColor: @sapButton_BorderColor;

@sapButton_Accept_Selected_TextColor: contrast(@sapButton_Accept_Selected_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Accept_Selected_Hover_Background: @sapButton_Hover_Background;

@sapButton_Accept_Selected_Hover_BorderColor: @sapButton_Hover_BorderColor;

@sapButton_Lite_Background: @sapButton_Background;

@sapButton_Lite_BorderColor: @sapButton_BorderColor;

@sapButton_Lite_TextColor: @sapButton_TextColor;

@sapButton_Lite_Hover_Background: @sapButton_Hover_Background;

@sapButton_Lite_Hover_BorderColor: @sapButton_Hover_BorderColor;

@sapButton_Lite_Hover_TextColor: @sapButton_Lite_TextColor;

@sapButton_Lite_Active_Background: @sapButton_Active_Background;

@sapButton_Lite_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Selected_Background: @sapSelectedColor;

@sapButton_Selected_BorderColor: @sapButton_BorderColor;

@sapButton_Selected_TextColor: contrast(@sapButton_Selected_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Selected_Hover_Background: @sapButton_Hover_Background;

@sapButton_Selected_Hover_BorderColor: @sapButton_Hover_BorderColor;

@sapButton_Attention_Background: @sapButton_Background;

@sapButton_Attention_BorderColor: @sapButton_BorderColor;

@sapButton_Attention_TextColor: contrast(@sapButton_Attention_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Attention_Hover_Background: @sapButton_Hover_Background;

@sapButton_Attention_Hover_BorderColor: @sapButton_Hover_BorderColor;

@sapButton_Attention_Hover_TextColor: contrast(@sapButton_Attention_Hover_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Attention_Active_Background: @sapButton_Active_Background;

@sapButton_Attention_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Attention_Selected_Background: @sapSelectedColor;

@sapButton_Attention_Selected_BorderColor: @sapButton_BorderColor;

@sapButton_Attention_Selected_TextColor: contrast(@sapButton_Attention_Selected_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Attention_Selected_Hover_Background: @sapButton_Hover_Background;

@sapButton_Attention_Selected_Hover_BorderColor: @sapButton_Hover_BorderColor;

@sapButton_Negative_Background: @sapButton_Background;

@sapButton_Negative_BorderColor: @sapButton_BorderColor;

@sapButton_Negative_TextColor: contrast(@sapButton_Negative_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Negative_Hover_Background: @sapButton_Hover_Background;

@sapButton_Negative_Hover_BorderColor: @sapButton_Negative_BorderColor;

@sapButton_Negative_Hover_TextColor: contrast(@sapButton_Negative_Hover_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Negative_Active_Background: @sapButton_Active_Background;

@sapButton_Negative_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Critical_Background: @sapButton_Background;

@sapButton_Critical_BorderColor: @sapButton_BorderColor;

@sapButton_Critical_TextColor: contrast(@sapButton_Critical_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Critical_Hover_Background: @sapButton_Hover_Background;

@sapButton_Critical_Hover_BorderColor: @sapButton_Critical_BorderColor;

@sapButton_Critical_Hover_TextColor: contrast(@sapButton_Critical_Hover_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Critical_Active_Background: @sapButton_Active_Background;

@sapButton_Critical_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Success_Background: @sapButton_Background;

@sapButton_Success_BorderColor: @sapButton_BorderColor;

@sapButton_Success_TextColor: contrast(@sapButton_Success_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Success_Hover_Background: @sapButton_Hover_Background;

@sapButton_Success_Hover_BorderColor: @sapButton_Success_BorderColor;

@sapButton_Success_Hover_TextColor: contrast(@sapButton_Success_Hover_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Success_Active_Background: @sapButton_Active_Background;

@sapButton_Success_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Information_Background: @sapButton_Background;

@sapButton_Information_BorderColor: @sapButton_BorderColor;

@sapButton_Information_TextColor: contrast(@sapButton_Information_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Information_Hover_Background: @sapButton_Hover_Background;

@sapButton_Information_Hover_BorderColor: @sapButton_Information_BorderColor;

@sapButton_Information_Hover_TextColor: contrast(@sapButton_Information_Hover_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Information_Active_Background: @sapButton_Active_Background;

@sapButton_Information_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Neutral_Background: @sapButton_Background;

@sapButton_Neutral_BorderColor: @sapButton_BorderColor;

@sapButton_Neutral_TextColor: contrast(@sapButton_Neutral_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Neutral_Hover_Background: @sapButton_Hover_Background;

@sapButton_Neutral_Hover_BorderColor: @sapButton_Neutral_BorderColor;

@sapButton_Neutral_Hover_TextColor: contrast(@sapButton_Neutral_Hover_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Neutral_Active_Background: @sapButton_Active_Background;

@sapButton_Neutral_Active_BorderColor: @sapButton_Active_BorderColor;

@sapButton_Track_Selected_Background: @sapButton_Selected_Background;

@sapButton_Track_Selected_TextColor: contrast(@sapButton_Track_Selected_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_Track_Background: @sapButton_Background;

@sapButton_Track_TextColor: contrast(@sapButton_Track_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapButton_TokenBackground: @sapButton_Background;

@sapButton_TokenBorderColor: @sapButton_BorderColor;

// [Label "Field Background Color"]
// [Description "The background color of input fields."]
// [Tags "Base", "Field", "Color"]
@sapField_Background: @sapBackgroundColor;

// [Label "Field Border Color"]
// [Description "The color of an input field's borders."]
// [Tags "Base", "Field", "Color"]
@sapField_BorderColor: @sapField_TextColor;

// [Label "Field Text Color"]
// [Description "The text color of input fields."]
// [Tags "Base", "Field", "Color", "Font"]
@sapField_TextColor: @sapTextColor;

@sapField_PlaceholderTextColor: @sapField_TextColor;

// [Label "Field Help Background Color"]
// [Description "The color of the value help icon."]
// [Tags "Base", "Field", "Color"]
@sapField_HelpBackground: @sapField_Background;

// [Label "Field Border Thickness"]
// [Description "The thickness of an input field's borders."]
// [Tags "Base", "Field", "Dimension"]
@sapField_BorderWidth: @sapElement_BorderWidth;

// [Label "Field Corner Radius"]
// [Description "Defines whether an input field has rounded corners."]
// [Tags "Base", "Field", "Dimension"]
@sapField_BorderCornerRadius: 0.125 * @sapContent_GridSize;

// [Label "Field Hover Background Color"]
// [Description "The background color of input fields on hover."]
// [Tags "Base", "Field", "Color"]
@sapField_Hover_Background: @sapField_Background;

// [Label "Field Hover Border Color"]
// [Description "The color of an input field's borders on hover."]
// [Tags "Base", "Field", "Color"]
@sapField_Hover_BorderColor: @sapField_BorderColor;

// [Label "Field Help Hover Background Color"]
// [Description "The color of the value help icon on hover."]
// [Tags "Base", "Field", "Color"]
@sapField_Hover_HelpBackground: @sapField_Background;

@sapField_Active_BorderColor: @sapField_BorderColor;

// [Label "Focused Field Background Color"]
// [Description "The background color of focused input fields."]
// [Tags "Base", "Field", "Color"]
@sapField_Focus_Background: @sapField_Background;

// [Label "Focused Field Border Color"]
// [Description "The color of a focused input field's borders."]
// [Tags "Base", "Field", "Color"]
@sapField_Focus_BorderColor: @sapField_BorderColor;

// [Label "Focused Field Help Background Color"]
// [Description "The background color of a focused input field's value help icon."]
// [Tags "Base", "Field", "Color"]
@sapField_Focus_HelpBackground: @sapField_Background;

// [Label "Read Only Field Background Color"]
// [Description "The background color of a read-only input field."]
// [Tags "Base", "Field", "Color"]
@sapField_ReadOnly_Background: @sapHC_ReducedBackground;

// [Label "Read Only Field Border Color"]
// [Description "The color of a read-only input field's borders."]
// [Tags "Base", "Field", "Color"]
@sapField_ReadOnly_BorderColor: @sapHC_ReducedAltForeground;

// [Label "Read Only Field Help Color"]
// [Description "The background color of a read-only input field's value help icon."]
// [TranslationKey "sapField_ReadOnly_HelpBackgrnd"]
// [Tags "Base", "Field", "Color"]
@sapField_ReadOnly_HelpBackground: @sapField_ReadOnly_Background;

// [Label "Required Field Color"]
// [Description "The color of the asterisk next to required input fields."]
// [Tags "Base", "Field", "Color"]
@sapField_RequiredColor: @sapTextColor;

// [Label "Invalid Field Color"]
// [Description "The base color of input fields with an invalid value."]
// [Tags "Base", "Field", "Color"]
@sapField_InvalidColor: @sapField_BorderColor;

// [Label "Invalid Field Background Color"]
// [Description "The background color of input fields with an invalid value."]
// [Tags "Base", "Field", "Color"]
@sapField_InvalidBackground: @sapHighlightColor;

// [Label "Warning Field Color"]
// [Description "The base color of an input field indicating a warning."]
// [Tags "Base", "Field", "Color"]
@sapField_WarningColor: @sapField_BorderColor;

// [Label "Warning Field Background Color"]
// [Description "The background color of an input field indicating a warning."]
// [Tags "Base", "Field", "Color"]
@sapField_WarningBackground: @sapField_Background;

// [Label "Success Field Color"]
// [Description "The base color an input field indicating a successful user action."]
// [Tags "Base", "Field", "Color"]
@sapField_SuccessColor: @sapField_BorderColor;

// [Label "Success Field Background Color"]
// [Description "The background color of an input field indicating a successful user action."]
// [Tags "Base", "Field", "Color"]
@sapField_SuccessBackground: @sapField_Background;

// [Label "Information Field Color"]
// [Description "The base color an input field indicating an information status."]
// [Tags "Base", "Field", "Color"]
@sapField_InformationColor: @sapField_BorderColor;

// [Label "Information Field Background Color"]
// [Description "The background color of an input field indicating an information status."]
// [Tags "Base", "Field", "Color"]
@sapField_InformationBackground: @sapField_Background;

// [Label "Group Title Background Color"]
// [Description "The background color of the group header area."]
// [Tags "Base", "Group", "Color"]
@sapGroup_TitleBackground: @sapBackgroundColor;

// [Label "Group Title Border Color"]
// [Description "The color of the borders of the group header area."]
// [Tags "Base", "Group", "Color"]
@sapGroup_TitleBorderColor: @sapHC_StandardForeground;

// [Label "Group Title Text Color"]
// [Description "The text color of the group title. The text color of the title of a group."]
// [Tags "Base", "Group", "Color", "Font"]
@sapGroup_TitleTextColor: contrast(@sapBackgroundColor, @sapTitleColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Group Title Font Size"]
// [Description "The font size of the group title."]
// [Tags "Base", "Group", "Dimension", "Font", "Protected"]
@sapGroup_Title_FontSize: @sapFontSize;

// [Label "Group Content Background Color"]
// [Description "The background color of the content area of a group."]
// [Tags "Base", "Group", "Color"]
@sapGroup_ContentBackground: @sapBackgroundColor;

// [Label "Group Content Border Color"]
// [Description "The color of the borders of a group's content area."]
// [Tags "Base", "Group", "Color"]
@sapGroup_ContentBorderColor: @sapHC_StandardForeground;

// [Label "Group Border Thickness"]
// [Description "The thickness of the borders of a group's content area."]
// [Tags "Base", "Group", "Dimension", "Protected"]
@sapGroup_BorderWidth: @sapElement_BorderWidth;

// [Label "Group Corner Radius"]
// [Description "Defines whether a group has rounded corners."]
// [Tags "Base", "Group", "Dimension", "Protected"]
@sapGroup_BorderCornerRadius: 0;

// [Label "Group Footer Background Color"]
// [Description "The background color of the footer area of a group."]
// [Tags "Base", "Group", "Color", "Protected"]
@sapGroup_FooterBackground: @sapBackgroundColor;

// [Label "Toolbar Background Color"]
// [Description "The background color of the toolbar."]
// [Tags "Base", "Toolbar", "Color"]
@sapToolbar_Background: @sapBackgroundColor;

// [Label "Toolbar Separator Color"]
// [Description "The color of a toolbar's separators."]
// [Tags "Base", "Toolbar", "Color"]
@sapToolbar_SeparatorColor: @sapHC_StandardForeground;

// [Label "List Column Header Background Color"]
// [Description "The background color of the column header area of lists."]
// [Tags "Base", "List", "Color"]
@sapList_HeaderBackground: @sapBackgroundColor;

// [Label "List Column Header Border Color"]
// [Description "The color of the borders of the list column header area."]
// [Tags "Base", "List", "Color"]
@sapList_HeaderBorderColor: @sapHC_StandardForeground;

// [Label "List Column Header Text Color"]
// [Description "The color of texts on the list column header area."]
// [Tags "Base", "List", "Color", "Font"]
@sapList_HeaderTextColor: contrast(@sapList_HeaderBackground, @sapTitleColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "List Border Color"]
// [Description "The color of the border in a list separating the entries."]
// [Tags "Base", "List", "Color"]
@sapList_BorderColor: @sapHC_ReducedAltForeground;

// [Label "List Grid Thickness"]
// [Description "The thickness of the border in a list separating the entries."]
// [Tags "Base", "List", "Dimension"]
@sapList_BorderWidth: @sapElement_BorderWidth;

@sapList_TextColor: contrast(@sapList_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapList_Active_Background: @sapActiveColor;

@sapList_Active_TextColor: contrast(@sapList_Active_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "List Highlight Color"]
// [Description "The color of highlighted elements in lists."]
// [Tags "Base", "List", "Color"]
@sapList_HighlightColor: @sapHighlightColor; // deprecated since Fiori 3

// [Label "List Selection Background Color"]
// [Description "The background color of selected elements in lists."]
// [TranslationKey "sapList_SelectBackgrndColor"]
// [Tags "Base", "List", "Color"]
@sapList_SelectionBackgroundColor: @sapSelectedColor;

@sapList_SelectionBorderColor: @sapHC_StandardForeground;

@sapList_Hover_SelectionBackground: @sapList_Hover_Background;

// [Label "List Background Color"]
// [Description "The background color of lists."]
// [Tags "Base", "List", "Color"]
@sapList_Background: @sapBackgroundColor;

// [Label "List Hover Background Color"]
// [Description "The background color of lists on hover."]
// [Tags "Base", "List", "Color"]
@sapList_Hover_Background: @sapHighlightColor;

@sapList_AlternatingBackground: darken(@sapList_Background, 10);

@sapList_GroupHeaderBackground: @sapList_Background;

@sapList_GroupHeaderBorderColor: @sapHC_StandardForeground;

@sapList_GroupHeaderTextColor: @sapList_TextColor;

@sapList_FooterBackground: @sapList_Background;

@sapList_FooterTextColor: contrast(@sapList_FooterBackground, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapList_TableGroupHeaderBackground: @sapHC_ReducedBackground;

@sapList_TableGroupHeaderBorderColor: @sapList_GroupHeaderBorderColor;

@sapList_TableGroupHeaderTextColor: @sapList_GroupHeaderTextColor;

@sapList_TableFooterBorder: @sapHC_StandardForeground;

@sapList_TableFixedBorderColor: @sapHC_StandardForeground;

// [Label "Scrollbar Face Color"]
// [Description "The color of the surface of a scrollbar."]
// [Tags "Base", "Scrollbar", "Color"]
@sapScrollBar_FaceColor: @sapHC_ReducedAltForeground;

// [Label "Scrollbar Track Color"]
// [Description "The color of the track of a scrollbar."]
// [Tags "Base", "Scrollbar", "Color"]
@sapScrollBar_TrackColor: @sapBackgroundColor;

// [Label "Scrollbar Border Color"]
// [Description "The color of the borders of a scrollbar."]
// [Tags "Base", "Scrollbar", "Color"]
@sapScrollBar_BorderColor: @sapScrollBar_FaceColor;

// [Label "Scrollbar Symbol Color"]
// [Description "The color of the scroll arrows in a scrollbar."]
// [Tags "Base", "Scrollbar", "Color"]
@sapScrollBar_SymbolColor: @sapContent_IconColor;

// [Label "Scrollbar Dimension"]
// [Description "The size of the scrollbar (in pixel)."]
// [Tags "Base", "Scrollbar", "Dimension", "Protected"]
@sapScrollBar_Dimension: 0.7 * @sapContent_GridSize; // Cozy

// [Label "Scrollbar Hover Face Color"]
// [Description "The hover color of the surface of a scrollbar."]
// [Tags "Base", "Scrollbar", "Color"]
@sapScrollBar_Hover_FaceColor: @sapHC_StandardForeground;

// [Label "Page Header Background Color"]
// [Description "The background color of page headers."]
// [Tags "Base", "Page", "Color"]
@sapPageHeader_Background: @sapBaseColor;

// [Label "Page Header Border Color"]
// [Description "The border color of page headers."]
// [Tags "Base", "Page", "Color"]
@sapPageHeader_BorderColor: @sapHC_StandardForeground;

// [Label "Page Header Text Color"]
// [Description "The color of texts on page headers."]
// [Tags "Base", "Page", "Color", "Font"]
@sapPageHeader_TextColor: contrast(@sapPageHeader_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Page Footer Background Color"]
// [Description "The background color of page footers."]
// [Tags "Base", "Page", "Color"]
@sapPageFooter_Background: @sapBackgroundColor;

@sapPageFooter_BorderColor: @sapHC_StandardForeground;

// [Label "Page Footer Text Color"]
// [Description "The color of texts on page footers."]
// [Tags "Base", "Page", "Color", "Font"]
@sapPageFooter_TextColor: contrast(@sapPageFooter_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Infobar Background Color"]
// [Description "The background color of infobars."]
// [Tags "Base", "Page", "Color"]
@sapInfobar_Background: @sapBackgroundColor;

@sapInfobar_Hover_Background:  @sapHighlightColor;

@sapInfobar_Active_Background: @sapActiveColor;

@sapInfobar_NonInteractive_Background: @sapHC_ReducedBackground;

@sapInfobar_TextColor: contrast(@sapInfobar_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Object Header Background Color"]
// [Description "The background color of object headers."]
// [Tags "Base", "Page", "Color"]
@sapObjectHeader_Background: @sapBaseColor;

@sapObjectHeader_Hover_Background: @sapHighlightColor;

@sapObjectHeader_BorderColor: @sapHC_StandardForeground;

// [Label "BlockLayer Background Color"]
// [Description "The background color of blocklayers."]
// [Tags "Base", "Page", "Color"]
@sapBlockLayer_Background: @sapBackgroundColor;

// [Label "Tile Background Color"]
// [Description "The background color of tiles."]
// [Tags "Base", "Tile", "Color"]
@sapTile_Background: @sapBackgroundColor;

@sapTile_Hover_Background: @sapHighlightColor;

@sapTile_Active_Background: @sapActiveColor;

// [Label "Tile Border Color"]
// [Description "The border color of tiles."]
// [Tags "Base", "Tile", "Color"]
@sapTile_BorderColor: @sapHC_StandardForeground;

// [Label "Tile Title Text Color"]
// [Description "The color of title texts on tiles."]
// [Tags "Base", "Tile", "Color", "Font"]
@sapTile_TitleTextColor: contrast(@sapTile_Background, @sapTitleColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Tile Text Color"]
// [Description "The color of texts on tiles."]
// [Tags "Base", "Tile", "Color", "Font"]
@sapTile_TextColor: contrast(@sapTile_Background, @sapContent_LabelColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// [Label "Tile Icon Color"]
// [Description "The color of icons on tiles."]
// [Tags "Base", "Content", "Color"]
@sapTile_IconColor: contrast(@sapTile_Background, @sapContent_IconColor, @sapContent_ContrastIconColor, @sapContent_ContrastTextThreshold);

@sapTile_SeparatorColor: @sapTile_BorderColor;

@sapTile_Interactive_BorderColor: @sapTile_BorderColor;

// [Label "Chart Ordered Color 1"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_1: #286ac3;

// [Label "Chart Ordered Color 2"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_2: #d74114;

// [Label "Chart Ordered Color 3"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_3: #057d47;

// [Label "Chart Ordered Color 4"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_4: #e11e48;

// [Label "Chart Ordered Color 5"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_5: #642eb2;

// [Label "Chart Ordered Color 6"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_6: #03778c;

// [Label "Chart Ordered Color 7"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_7: #232deb;

// [Label "Chart Ordered Color 8"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_8: #9b136f;

// [Label "Chart Ordered Color 9"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_9: #395563;

// [Label "Chart Ordered Color 10"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_10: #e02e2e;

// [Label "Chart Ordered Color 11"]
// [Description "This color is used as a ordered color of a sequence of 11 chart colors. It has a defined contrast to its predecessor and successor."]
// [Tags "Base", "Chart", "Color"]
@sapChart_OrderedColor_11: #0d3367;

// [Label "Chart Color 'Bad'"]
// [Description "This color is to visualize a 'Bad' value."]
// [Tags "Base", "Chart", "Color"]
@sapChart_Bad: @sapHC_NegativeColor;

// [Label "Chart Color 'Critical'"]
// [Description "This color is to visualize a 'Critical' value."]
// [Tags "Base", "Chart", "Color"]
@sapChart_Critical: @sapHC_CriticalColor;

// [Label "Chart Color 'Good'"]
// [Description "This color is to visualize a 'Good' value."]
// [Tags "Base", "Chart", "Color"]
@sapChart_Good: @sapHC_PositiveColor;

// [Label "Chart Color 'Neutral'"]
// [Description "This color is to visualize a 'Neutral' value."]
// [Tags "Base", "Chart", "Color"]
@sapChart_Neutral: @sapHC_NeutralColor;

// [Label "Chart Color Sequence 1"]
// [Description "This color is the base chart color of the sequence 1"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_1: @sapChart_OrderedColor_1;

// [Label "Chart Color Sequence 2"]
// [Description "This color is the base chart color of the sequence 2"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_2: @sapChart_OrderedColor_2;

// [Label "Chart Color Sequence 3"]
// [Description "This color is the base chart color of the sequence 3"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_3: @sapChart_OrderedColor_3;

// [Label "Chart Color Sequence 4"]
// [Description "This color is the base chart color of the sequence 4"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_4: @sapChart_OrderedColor_4;

// [Label "Chart Color Sequence 5"]
// [Description "This color is the base chart color of the sequence 5"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_5: @sapChart_OrderedColor_5;

// [Label "Chart Color Sequence 6"]
// [Description "This color is the base chart color of the sequence 6"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_6: @sapChart_OrderedColor_6;

// [Label "Chart Color Sequence 7"]
// [Description "This color is the base chart color of the sequence 7"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_7: @sapChart_OrderedColor_7;

// [Label "Chart Color Sequence 8"]
// [Description "This color is the base chart color of the sequence 8"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_8: @sapChart_OrderedColor_8;

// [Label "Chart Color Sequence 9"]
// [Description "This color is the base chart color of the sequence 9"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_9: @sapChart_OrderedColor_9;

// [Label "Chart Color Sequence 10"]
// [Description "This color is the base chart color of the sequence 10"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_10: @sapChart_OrderedColor_10;

// [Label "Chart Color Sequence 11"]
// [Description "This color is the base chart color of the sequence 11"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_11: @sapChart_OrderedColor_11;

// [Label "Chart Color Sequence 'Neutral'"]
// [Description "This color is the base chart color of the sequence 'Neutral'"]
// [Tags "Base", "Chart", "Color"]
@sapChart_Sequence_Neutral: @sapChart_Neutral;