/*******************************************************************************
 * M
 ******************************************************************************/

.sapUiAnalyticalTableSum .sapUiTableCell > .sapMLabel {
	font-weight: bold !important;
}

.sapUiAnalyticalTable .sapUiTableCell > .sapMLabel,
.sapUiAnalyticalTable .sapUiTableCell > .sapMText {
	width: 100%;
}

.sapUiAnalyticalTable .sapUiTableCol .sapMLabel {
	width: 100%;
}

.sapUiSizeCompact .sapUiTableColCell > .sapMLabel {
	font-weight: normal;
	font-size: 0.875rem;
	color: @sapUiListTextColor;
}


.sapUiSizeCozy .sapUiTableFtr > .sapMLabel {
	height: 3rem;
	line-height: 3rem;
}

.sapUiSizeCondensed .sapUiTableCell .sapMDP > .sapUiIcon,
.sapUiSizeCondensed .sapUiTableCell .sapMDP.sapMInputIE9 > .sapUiIcon {
	height: 1.5rem;
	line-height: 1.5rem;
}

.sapUiSizeCompact .sapUiTableCell > .sapMLabel {
	font-weight: normal;
	font-size: 0.875rem;
	color: @sapUiListTextColor;
}