/*******************************************************************************
 * STYLE ADAPTATIONS OF FOREIGN CONTROLS
 ******************************************************************************/

.sapUiSizeCozy .sapUiTableFtr > .sapMLabel {
	height: 3rem;
	line-height: 3rem;
}

.sapUiTableTbr .sapUiTb,
.sapUiTableTbr .sapUiTbCont {
	border: none;
}

.sapUiTableTbr > .sapUiTb {
	background-color: @sapUiListBackground;
}

.sapUiTableCell > .sapUiTf,
.sapUiTableCell > .sapUiSearchField,
.sapUiTableCell > .sapUiSearchField > .sapUiTfCombo,
.sapUiTableCell > .sapUiTfCombo {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sapUiTableCell > .sapUiTf.sapUiTfErr.sapUiTfStd,
.sapUiTableCell > .sapUiTfCombo.sapUiTfErr.sapUiTfStd {
	background-color: @sapUiFieldInvalidBackground;
}
.sapUiTableCell > .sapUiTf.sapUiTfWarn.sapUiTfStd,
.sapUiTableCell > .sapUiTfCombo.sapUiTfWarn.sapUiTfStd {
	background-color: @sapUiFieldWarningBackground;
}
.sapUiTableCell > .sapUiTf.sapUiTfSucc.sapUiTfStd,
.sapUiTableCell > .sapUiTfCombo.sapUiTfSucc.sapUiTfStd {
	background-color: @sapUiFieldSuccessBackground;
}

.sapUiTableCell > .sapUiTfCombo {
	padding: 0 8px 0 0;
}

.sapUiTableCell > .sapUiTv,
.sapUiTableCell > .sapUiLbl,
.sapUiTableCell > .sapUiLnk {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Keep sure that sap.m.Link is vertically aligned inside a table cell */
.sapUiTableCell .sapUiLnk, .sapUiTableColCell .sapUiImg {
	vertical-align: middle;
}

.sapUiTableCell > .sapUiImg {
	margin-top: 1px;
}

.sapUiTableRowHidden .sapUiTableCell > .sapUiImg {
	display: none; /* images will be removed to avoid pushing the height of the line */
}

.sapUiTableCell > .sapUiRating {
	display: block;
}