/* ====================================== */
/* CSS for control sap.ui.table/Grouping  */
/* Base theme                             */
/* ====================================== */

@_sap_ui_table_Grouping_GroupIconHeightDefault: 32px; /*2rem*/
@_sap_ui_table_Grouping_GroupIconHeightCondensed: 24px; /*1.5rem*/
@_sap_ui_table_Grouping_GroupIconHeightCozy: 48px; /*3rem*/
@_sap_ui_table_Grouping_GroupHeaderBackground: @sapUiListTableGroupHeaderBackground;
@_sap_ui_table_Grouping_GroupOutlineWidth: @_sap_ui_table_FocusOutlineWidth;
@_sap_ui_table_Grouping_GroupIconBorderWidth: 1px;
@_sap_ui_table_Grouping_GroupIconFontSize: @sapMFontMediumSize;

.sapUiTableTreeIcon {
	flex: none;
	text-align: center;
	width: @_sap_ui_table_RowHdrWidth;
	align-self: center;
	cursor: default;
}

.sapUiSizeCondensed {

	.sapUiTableCell > .sapUiTableTreeIcon {
		padding: 0;
		margin-right: 1px;
	}

	.sapUiTableCell > .sapUiTableTreeIcon::before {
		line-height: 1.5rem;
	}

}

.sapUiTableTreeIcon:focus {
	outline: @_sap_ui_table_Grouping_GroupOutlineWidth dotted @sapUiContentFocusColor;
}

html[data-sap-ui-browser^="ed"] .sapUiTableTreeIcon:focus,
html[data-sap-ui-browser^="ie"] .sapUiTableTreeIcon:focus {
	outline: 0px;
}

html[data-sap-ui-browser^="ed"] .sapUiTableTreeIcon:focus::before,
html[data-sap-ui-browser^="ie"] .sapUiTableTreeIcon:focus::before {
	outline: @_sap_ui_table_Grouping_GroupOutlineWidth dotted @sapUiContentFocusColor;
}

.sapUiTableTreeIcon:focus:not(*:root) { /*Webkit*/
	outline-offset: -2px;
}

@supports (-moz-appearance:meterbar) { /* Firefox */
	.sapUiTableTreeIcon:focus {
		outline-offset: -2px;
	}
}

.sapUiTableGroupIcon {
	display: none;
	font-size: @_sap_ui_table_Grouping_GroupIconFontSize;
	cursor: pointer;
	line-height: @_sap_ui_table_Grouping_GroupIconHeightDefault - 2 * @_sap_ui_table_Grouping_GroupIconBorderWidth - @_sap_ui_table_Grouping_GroupOutlineWidth;
	position: absolute;
	left: 0px;
	top: @_sap_ui_table_Grouping_GroupOutlineWidth;
	bottom: 0px;
	white-space: nowrap;
	font-weight: normal;
	color: @sapUiListTextColor;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 48px;
	background-color: transparent;
	padding-right: 40px;
	background: @_sap_ui_table_Grouping_GroupHeaderBackground;
	z-index: 1;
	box-sizing: border-box;
	border: @_sap_ui_table_Grouping_GroupIconBorderWidth solid transparent;
	background-clip: content-box;
}

.sapUiSizeCondensed .sapUiTableGroupIcon {
	line-height: @_sap_ui_table_Grouping_GroupIconHeightCondensed - 2 * @_sap_ui_table_Grouping_GroupIconBorderWidth - @_sap_ui_table_Grouping_GroupOutlineWidth;
}

.sapUiSizeCozy .sapUiTableGroupIcon {
	line-height: @_sap_ui_table_Grouping_GroupIconHeightCozy - 2 * @_sap_ui_table_Grouping_GroupIconBorderWidth - @_sap_ui_table_Grouping_GroupOutlineWidth;
}

.sapUiTableGroupIcon::before,
.sapUiTableTreeIcon::before {
	font-family: "SAP-icons";
	font-size: 12px;
	color: @sapUiContentIconColor;
}

.sapUiTableGroupIcon::before {
	width: @_sap_ui_table_RowHdrWidth;
	text-align: center;
	vertical-align: middle;
}

.sapUiTableGroupIcon.sapUiTableGroupIconOpen::before,
.sapUiTableTreeIcon.sapUiTableTreeIconNodeOpen::before {
	content: '\e1e2';
}

.sapUiTableGroupIcon.sapUiTableGroupIconClosed::before,
.sapUiTableTreeIcon.sapUiTableTreeIconNodeClosed::before {
	content: '\e066';
}

html[dir=rtl] {
	.sapUiTableGroupIcon.sapUiTableGroupIconClosed::before,
	.sapUiTableTreeIcon.sapUiTableTreeIconNodeClosed::before {
		content: '\e067';
	}
}

// Fading effect for overlapping
.sapUiTableGroupIcon:after {
	display: none;
	position: absolute;
	content: "";
	width: 40px;
	top: 1px;
	bottom: 1px;
	right: 0;
	box-shadow: inset 40px 0px 20px -20px @_sap_ui_table_Grouping_GroupHeaderBackground;
}

.sapUiTableRowHdr.sapUiTableGroupHeader {
	border-right: none;
}

.sapUiTableRowHdr.sapUiTableGroupHeader:focus .sapUiTableGroupIcon {
	outline-width: @_sap_ui_table_Grouping_GroupOutlineWidth;
	outline-style: dotted;
	outline-offset: 0px;
	outline-color: @sapUiContentFocusColor;
}

.sapUiTableCtrl tr.sapUiTableGroupHeader,
.sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiTableRowAction.sapUiTableGroupHeader {
	background-color: @_sap_ui_table_Grouping_GroupHeaderBackground;
	border-color: @sapUiListBorderColor;
	color: @sapUiListTextColor;
}

.sapUiTableRowAction.sapUiTableGroupHeader {
	border-left-color: transparent;
}

.sapUiTableRowAction.sapUiTableGroupHeader.sapUiTableFixedPreBottomRow {
	border-bottom-color: @sapUiListTableFixedBorder;
}

.sapUiTableGroupMode .sapUiTableRowHdr.sapUiTableGroupHeader > .sapUiTableGroupIcon,
.sapUiTableGroupMode .sapUiTableRowHdr.sapUiTableGroupHeader > .sapUiTableGroupIcon::before,
.sapUiTableGroupMode .sapUiTableRowHdr.sapUiTableGroupHeader > .sapUiTableGroupIcon:after {
	display: inline-block;
}

.sapUiTableGroupMode .sapUiTableGroupHeader td {
	border-right: none;
}

.sapUiTableGroupMode .sapUiTableRowHdr {
	border-left: 1px solid @sapUiListVerticalBorderColor;
}

.sapUiTableGroupMode .sapUiTableGroupHeader.sapUiTableRowHvr,
.sapUiTableGroupMode .sapUiTableRowHvr .sapUiTableGroupIcon {
	background-color: @sapUiListHoverBackground;
}

.sapUiTableGroupMode .sapUiTableRowHvr .sapUiTableGroupIcon:after {
	box-shadow: inset 40px 0px 20px -20px @sapUiListHoverBackground;
}

// The cell under the first column cell of a group header is only allowed to show a measure label. Any other content should be hidden.
.sapUiTableGroupMode.sapUiAnalyticalTable .sapUiTableGroupHeader .sapUiTableTdFirst:not(.sapUiTableMeasureCell) .sapUiTableCell {
	display: none;
}

// sapUiAnalyticalTableGroupCellHidden and sapUiAnalyticalTableSumCellHidden provides the possibility for applications to hide
// the cell content of a column on group headers and / or sums by using addStyleClass of the column template
.sapUiTableGroupMode.sapUiAnalyticalTable .sapUiTableGroupHeader .sapUiTableCell > .sapUiAnalyticalTableGroupCellHidden,
.sapUiTableGroupMode.sapUiAnalyticalTable .sapUiAnalyticalTableSum .sapUiTableCell > .sapUiAnalyticalTableSumCellHidden {
	visibility: hidden; /* hidden cell content*/
}

// Shift last cell content to left, on the right edge the touch button is placed.
html.sap-tablet:not(.sap-desktop), html.sap-phone {
	.sapUiTableGroupMode .sapUiTableCtrlScroll .sapUiTableGroupHeader td:last-child {
		padding-right: 3rem;
	}
}

.sapUiTableGroupMode .sapUiTableRowHdr.sapUiTableFixedFirstBottomRow::before {
	border-top-color: @sapUiListTableFixedBorder;
}

.sapUiTableGroupShield {
	position: absolute;
	top: 0px;
	left: -1px;
	bottom: -1px;
	box-sizing: border-box;
	width: 0px;
	margin-left: -0px;
	background-color: @sapUiListBackground;
	pointer-events: none;
}

.sapUiTableRowHdr.sapUiTableGroupHeader:focus:not(*:root) {
	outline: 0px;
}

/*Separation needed from declaration above because of IE*/
.sapUiTableRowHdr.sapUiTableGroupHeader:focus {
	outline: 0px;
}

.sapUiTableGroupMode .sapUiTableTr.sapUiTableGroupHeader > .sapUiTableTDDummy {
	border-bottom: 1px solid @sapUiListBorderColor;
	background: @_sap_ui_table_Grouping_GroupHeaderBackground;
}

.sapUiTableRowHdr.sapUiTableGroupHeader.sapUiTableFixedPreBottomRow,
.sapUiTableGroupMode .sapUiTableTr.sapUiTableGroupHeader.sapUiTableFixedPreBottomRow > .sapUiTableTDDummy {
	border-bottom-color: @sapUiListTableFixedBorder;
}

.sapUiTableGroupMenuButton {
	display: none;
}

.sapUiTableGroupMode.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiTableGroupHeader .sapUiTableGroupMenuButton {
	position: absolute;
	min-width: 2.5rem;
	text-align: center;
	z-index: 2;
	right: 0;
	top: 50%;
	-webkit-transform: translatey(-50%);
	transform: translatey(-50%);
	background: @_sap_ui_table_Grouping_GroupHeaderBackground;
	font-family: 'SAP-icons';
	font-size: 1.375rem;
	color: @sapUiContentIconColor;
	display: block;
}