/* ============================== */
/* CSS for sap.ui.table/Grouping  */
/* Base theme                     */
/* ============================== */

@_sap_ui_table_Grouping_GroupIconHeight: @_sap_ui_table_RowHeight;
@_sap_ui_table_Grouping_GroupIconHeightCozy: @_sap_ui_table_RowHeightCozy;
@_sap_ui_table_Grouping_GroupIconHeightCondensed: @_sap_ui_table_RowHeightCondensed;
@_sap_ui_table_Grouping_GroupHeaderBackground: @sapUiListTableGroupHeaderBackground;
@_sap_ui_table_Grouping_GroupHeaderFadingWidth: 40px;
@_sap_ui_table_Grouping_GroupOutlineWidth: @_sap_ui_table_FocusOutlineWidth;
@_sap_ui_table_Grouping_GroupIconBorderWidth: @_sap_ui_table_BaseBorderWidth;
@_sap_ui_table_Grouping_GroupIconFontSize: @sapMFontMediumSize;

@_sap_ui_table_Grouping_TreeIconFontSize: 0.75rem;
@_sap_ui_table_Grouping_TreeIconFontSizeCozy: 1rem;

.sapUiTableTreeIcon {
	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
	width: @_sap_ui_table_BaseSize;
	height: @_sap_ui_table_BaseSize;
	cursor: default;

	.sapUiSizeCondensed & {
		height: @_sap_ui_table_BaseSizeCondensed;
	}

	&:focus {
		outline: @_sap_ui_table_Grouping_GroupOutlineWidth @sapUiContentFocusStyle @sapUiContentFocusColor;
		outline-offset: -2px;
	}
}

.sapUiTableGroupIcon {
	display: none;
	font-size: @_sap_ui_table_Grouping_GroupIconFontSize;
	cursor: pointer;
	line-height: calc(@_sap_ui_table_Grouping_GroupIconHeight ~"- 2 *" @_sap_ui_table_Grouping_GroupIconBorderWidth ~"-" @_sap_ui_table_Grouping_GroupOutlineWidth);
	position: absolute;
	left: 1px;
	top: @_sap_ui_table_Grouping_GroupOutlineWidth;
	bottom: @_sap_ui_table_Grouping_GroupOutlineWidth;
	white-space: nowrap;
	font-weight: normal;
	color: @sapUiListTextColor;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: @_sap_ui_table_Grouping_GroupHeaderFadingWidth;
	background-color: @_sap_ui_table_Grouping_GroupHeaderBackground;
	z-index: 1;
	box-sizing: border-box;
	border: @_sap_ui_table_Grouping_GroupIconBorderWidth solid transparent;
	background-clip: content-box;
}

.sapUiSizeCondensed .sapUiTableGroupIcon {
	line-height: calc(@_sap_ui_table_Grouping_GroupIconHeightCondensed ~"- 2 *" @_sap_ui_table_Grouping_GroupIconBorderWidth ~"-" @_sap_ui_table_Grouping_GroupOutlineWidth);
}

.sapUiSizeCozy .sapUiTableGroupIcon {
	line-height: calc(@_sap_ui_table_Grouping_GroupIconHeightCozy ~"- 2 *" @_sap_ui_table_Grouping_GroupIconBorderWidth ~"-" @_sap_ui_table_Grouping_GroupOutlineWidth);
}

.sapUiTableGroupIcon::before,
.sapUiTableTreeIcon::before {
	font-family: "SAP-icons";
	font-size: @_sap_ui_table_Grouping_TreeIconFontSize;
	color: @sapUiContentIconColor;

	.sapUiSizeCozy & {
		font-size: @_sap_ui_table_Grouping_TreeIconFontSizeCozy;
	}
}

.sapUiTableGroupIcon::before {
	width: @_sap_ui_table_RowSelectorWidth;
	text-align: center;
	vertical-align: middle;
	margin-left: -2px;
	margin-right: 2px;
}

.sapUiSizeCozy .sapUiTableGroupIcon::before {
	width: @_sap_ui_table_RowSelectorWidthCozy;
}

.sapUiTableGroupIcon.sapUiTableGroupIconOpen::before,
.sapUiTableTreeIcon.sapUiTableTreeIconNodeOpen::before {
	content: '\e1e2';
}

.sapUiTableGroupIcon.sapUiTableGroupIconClosed::before,
.sapUiTableTreeIcon.sapUiTableTreeIconNodeClosed::before {
	content: '\e066';
}

html[dir=rtl] {
	.sapUiTableGroupIcon.sapUiTableGroupIconClosed::before,
	.sapUiTableTreeIcon.sapUiTableTreeIconNodeClosed::before {
		content: '\e067';
	}
}

.sapUiTableTreeIcon.sapUiTableTreeIconLeaf {
	visibility: hidden;
}

.sapUiTableGroupHeaderFading(@color) {
	box-shadow: inset @_sap_ui_table_Grouping_GroupHeaderFadingWidth 0 @_sap_ui_table_Grouping_GroupHeaderFadingWidth / 2 -@_sap_ui_table_Grouping_GroupHeaderFadingWidth / 2 @color;
}

// Fading effect for overlapping
.sapUiTableGroupIcon::after {
	display: none;
	position: absolute;
	content: "";
	width: @_sap_ui_table_Grouping_GroupHeaderFadingWidth;
	top: 1px;
	bottom: 1px;
	right: 0;
	.sapUiTableGroupHeaderFading(@_sap_ui_table_Grouping_GroupHeaderBackground);
}

.sapUiTableGroupHeaderRow > .sapUiTableRowSelectionCell:focus .sapUiTableGroupIcon {
	outline-width: @_sap_ui_table_Grouping_GroupOutlineWidth;
	outline-style: @sapUiContentFocusStyle;
	outline-offset: 0;
	outline-color: @sapUiContentFocusColor;
}

.sapUiTableGroupHeaderRow > .sapUiTableRowSelectionCell:focus::before {
	outline: none;
}

.sapUiTableGroupHeaderRow > .sapUiTableCell.sapUiTableCellFirst:focus::before,
.sapUiTableGroupMode .sapUiTableRowIndented > .sapUiTableCell.sapUiTableCellFirst:focus::before {
	z-index: 2;
	left: var(--CalculatedGroupIndent, 0);
}

// Override row background and cell borders in group header rows.
.sapUiTableGroupHeaderRow {
	&.sapUiTableRow {
		background-color: @_sap_ui_table_Grouping_GroupHeaderBackground;
	}

	> .sapUiTableCell {
		&.sapUiTableRowSelectionCell,
		&.sapUiTableDataCell {
			border-right-color: transparent;
		}

		&.sapUiTableRowActionCell {
			border-left-color: transparent;
		}
	}
}

.sapUiTableGroupMode .sapUiTableGroupHeaderRow > .sapUiTableRowSelectionCell {
	> .sapUiTableGroupIcon {
		display: flex;
		align-items: center;

		&::before,
		&::after {
			display: block;
		}
	}
}

.sapUiTableGroupMode .sapUiTableGroupHeaderRow.sapUiTableRowHvr,
.sapUiTableGroupMode .sapUiTableRowHvr .sapUiTableGroupIcon {
	background-color: @sapUiListHoverBackground;
}

.sapUiTableGroupMode .sapUiTableRowHvr .sapUiTableGroupIcon::after {
	.sapUiTableGroupHeaderFading(@sapUiListHoverBackground);
}

.sapUiTableGroupMode .sapUiTableRowFirstFixedBottom > .sapUiTableRowSelectionCell::before {
	border-top-color: @sapUiListTableFixedBorder;
}

.sapUiTableGroupShield {
	position: absolute;
	top: 0;
	left: -1px;
	bottom: -1px;
	box-sizing: border-box;
	width: 0;
	margin-left: -0px;
	background-color: @sapUiListBackground;
	pointer-events: none;
}

.sapUiTableRowHidden > .sapUiTableCell > .sapUiTableGroupShield {
	display: block;
}

.sapUiTableGroupHeaderRow > .sapUiTableRowSelectionCell:focus {
	outline: 0;
}

.sapUiTableGroupHeaderRow > .sapUiTableContentCell {
	box-sizing: border-box;
	border-bottom: 1px solid @sapList_TableGroupHeaderBorderColor;
}

.sapUiTableGroupHeaderRow:first-child > .sapUiTableContentCell {
	border-top: 0;
}

.sapUiTableGroupMode .sapUiTableTr.sapUiTableGroupHeaderRow > .sapUiTableCellDummy {
	background-color: @_sap_ui_table_Grouping_GroupHeaderBackground;
}

.sapUiTableGroupHeaderRow.sapUiTableRowLastScrollable > .sapUiTableRowSelectionCell,
.sapUiTableGroupMode .sapUiTableTr.sapUiTableGroupHeaderRow.sapUiTableRowLastScrollable > .sapUiTableCellDummy {
	border-bottom-color: @sapUiListTableFixedBorder;
}