/* =============================== */
/* CSS for sap.ui.table/Scrolling  */
/* Base theme                      */
/* =============================== */

/*
 * BEHAVIOR CLASSES:
 * -----------------
 * sapUiTableVScr   - display vertical scrollbar
 * sapUiTableHScr   - display horizontal scrollbar
 */
@_sap_ui_table_Scrolling_ScrollbarSize: 16px;
@_sap_ui_table_Scrolling_ScrollbarSizeIE: 18px; /* scrollbar sizes do not depend on the base font size in IE */
@_sap_ui_table_Scrolling_ScrollbarSizeEdge: 16px; /* scrollbar sizes do not depend on the base font size in Edge */
@_sap_ui_table_Scrolling_ScrollbarSizeMobile: 8px;

@_sap_ui_table_Scrolling_HScrollbarHeight: @_sap_ui_table_Scrolling_ScrollbarSize;
@_sap_ui_table_Scrolling_HScrollbarHeightIE: @_sap_ui_table_Scrolling_ScrollbarSizeIE;
@_sap_ui_table_Scrolling_HScrollbarHeightEdge: @_sap_ui_table_Scrolling_ScrollbarSizeEdge;
@_sap_ui_table_Scrolling_HScrollbarHeightMobile: @_sap_ui_table_Scrolling_ScrollbarSizeMobile;

@_sap_ui_table_Scrolling_VScrollbarWidth: calc(@_sap_ui_table_Scrolling_HScrollbarHeight ~"+" @_sap_ui_table_BaseBorderWidth);
@_sap_ui_table_Scrolling_VScrollbarWidthIE: calc(@_sap_ui_table_Scrolling_HScrollbarHeightIE ~"+" @_sap_ui_table_BaseBorderWidth);
@_sap_ui_table_Scrolling_VScrollbarWidthEdge: calc(@_sap_ui_table_Scrolling_HScrollbarHeightEdge ~"+" @_sap_ui_table_BaseBorderWidth);
@_sap_ui_table_Scrolling_VScrollbarWidthMobile: calc(@_sap_ui_table_Scrolling_HScrollbarHeightMobile ~"+" @_sap_ui_table_BaseBorderWidth);

@_sap_ui_table_Scrolling_ScrollbarBackground: @sapUiListHeaderBackground;

// Can be used in other themes to add styles for which there are no style definitions in the base theme and therefore no theme parameters.
._sap_ui_table_Scrolling_NativeScrollbarCommon() {}
._sap_ui_table_Scrolling_NativeScrollbarDesktop() {}
._sap_ui_table_Scrolling_NativeScrollbarMobile() {}

.sapUiTableVSb,
.sapUiTableVSbBg {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: @_sap_ui_table_Scrolling_VScrollbarWidth;
	box-sizing: border-box;
	border-left: @_sap_ui_table_BaseBorderWidth solid @sapUiListVerticalBorderColor;
}

.sapUiTableVSb {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: auto;
	background-color: @sapUiListBackground;
	z-index: 4; /* Ensure scrollbar before Resize/Reorder bars*/
}

.sapUiTableVSbBg {
	background-color: @_sap_ui_table_Scrolling_ScrollbarBackground;
}

.sapUiTableVSbExternal {
	width: @_sap_ui_table_Scrolling_VScrollbarWidth;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: auto;
	background-color: @sapUiListBackground;
}

.sapUiTableVSbHeader {
	width: @_sap_ui_table_Scrolling_VScrollbarWidth;
	box-sizing: border-box;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: @sapUiListHeaderBackground;
	border-left: @_sap_ui_table_BaseBorderWidth solid @sapUiListVerticalBorderColor;
	display: none;

	.sapUiTableVScr & {
		display: block;
	}
}

html[data-sap-ui-browser^="ie"] .sapUiTableVSb,
html[data-sap-ui-browser^="ie"] .sapUiTableVSbBg,
html[data-sap-ui-browser^="ie"] .sapUiTableVSbExternal,
html[data-sap-ui-browser^="ie"] .sapUiTableVSbHeader {
	width: @_sap_ui_table_Scrolling_VScrollbarWidthIE;
	-ms-overflow-style: scrollbar;
}

html[data-sap-ui-browser^="ed"] .sapUiTableVSb,
html[data-sap-ui-browser^="ed"] .sapUiTableVSbBg,
html[data-sap-ui-browser^="ed"] .sapUiTableVSbExternal,
html[data-sap-ui-browser^="ed"] .sapUiTableVSbHeader {
	width: @_sap_ui_table_Scrolling_VScrollbarWidthEdge;
	-ms-overflow-style: scrollbar;
}

.sapUiTableVSbContent {
	width: 1px;
}

.sapUiTableVScr {

	.sapUiTableVSb, .sapUiTableVSbBg {
		display: block;
	}

	.sapUiTableHSb, .sapUiTableCtrlScr, .sapUiTableColHdrScr, .sapUiTableRowActionScr, .sapUiTableRowWithAction {
		margin-right: @_sap_ui_table_Scrolling_VScrollbarWidth;
	}

}

// workaround for the css minimization script implemented inside the build (0px is being converted to 0 which produces invalid css)
._sapUiTableVScrWithActionsInnerMixin_CalcMarginRight(@ScrollbarSize, @RowActionWidth) when (@ScrollbarSize = 0px) {
	// calc is needed for IE
	margin-right: calc(@RowActionWidth);
}
._sapUiTableVScrWithActionsInnerMixin_CalcMarginRight(@ScrollbarSize, @RowActionWidth) when (default()) {
	margin-right: calc(@ScrollbarSize ~"+" @RowActionWidth);
}

._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @RowActionWidth) {

	.sapUiTableHSb, .sapUiTableCtrlScr, .sapUiTableColHdrScr {
		._sapUiTableVScrWithActionsInnerMixin_CalcMarginRight(@ScrollbarSize, @RowActionWidth);
	}

	.sapUiTableRowActionHeaderCell {
		margin-right: @ScrollbarSize;
	}

}

._sapUiTableVScrWithActionsMixin(@ScrollbarSize) {

	.sapUiTableVScr.sapUiTableRAct {
		._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnWidth);

		html[data-sap-ui-browser^="ie"] & {
			._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnWidthForIECalc);
		}
	}

	.sapUiSizeCozy.sapUiTableVScr.sapUiTableRAct,
	.sapUiSizeCozy .sapUiTableVScr.sapUiTableRAct {
		._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnWidthCozy);

		html[data-sap-ui-browser^="ie"] & {
			._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnWidthCozyForIECalc);
		}
	}

	.sapUiSizeCondensed.sapUiTableVScr.sapUiTableRAct,
	.sapUiSizeCondensed .sapUiTableVScr.sapUiTableRAct {
		._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnWidthCondensed);

		html[data-sap-ui-browser^="ie"] & {
			._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnWidthCondensedForIECalc);
		}
	}

	.sapUiTableVScr.sapUiTableRActS {
		._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnSmallWidth);

		html[data-sap-ui-browser^="ie"] & {
			._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnSmallWidthForIECalc);
		}
	}

	.sapUiSizeCozy.sapUiTableVScr.sapUiTableRActS,
	.sapUiSizeCozy .sapUiTableVScr.sapUiTableRActS {
		._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnSmallWidthCozy);

		html[data-sap-ui-browser^="ie"] & {
			._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnSmallWidthCozyForIECalc);
		}
	}

	.sapUiSizeCondensed.sapUiTableVScr.sapUiTableRActS,
	.sapUiSizeCondensed .sapUiTableVScr.sapUiTableRActS {
		._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnSmallWidthCondensed);

		html[data-sap-ui-browser^="ie"] & {
			._sapUiTableVScrWithActionsInnerMixin(@ScrollbarSize, @_sap_ui_table_RowActionColumnSmallWidthCondensedForIECalc);
		}
	}

}

.sapUiTableRAct:not(.sapUiTableVScr) {
	._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnWidth);

	html[data-sap-ui-browser^="ie"] & {
		._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnWidthForIECalc);
	}
}

.sapUiSizeCozy.sapUiTableRAct:not(.sapUiTableVScr),
.sapUiSizeCozy .sapUiTableRAct:not(.sapUiTableVScr) {
	._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnWidthCozy);

	html[data-sap-ui-browser^="ie"] & {
		._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnWidthCozyForIECalc);
	}
}

.sapUiSizeCondensed.sapUiTableRAct:not(.sapUiTableVScr),
.sapUiSizeCondensed .sapUiTableRAct:not(.sapUiTableVScr) {
	._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnWidthCondensed);

	html[data-sap-ui-browser^="ie"] & {
		._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnWidthCondensedForIECalc);
	}
}

.sapUiTableRActS:not(.sapUiTableVScr) {
	._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnSmallWidth);

	html[data-sap-ui-browser^="ie"] & {
		._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnSmallWidthForIECalc);
	}
}

.sapUiSizeCozy.sapUiTableRActS:not(.sapUiTableVScr),
.sapUiSizeCozy .sapUiTableRActS:not(.sapUiTableVScr) {
	._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnSmallWidthCozy);

	html[data-sap-ui-browser^="ie"] & {
		._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnSmallWidthCozyForIECalc);
	}
}

.sapUiSizeCondensed.sapUiTableRActS:not(.sapUiTableVScr),
.sapUiSizeCondensed .sapUiTableRActS:not(.sapUiTableVScr) {
	._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnSmallWidthCondensed);

	html[data-sap-ui-browser^="ie"] & {
		._sapUiTableVScrWithActionsInnerMixin(0px, @_sap_ui_table_RowActionColumnSmallWidthCondensedForIECalc);
	}
}

._sapUiTableVScrWithActionsMixin(@_sap_ui_table_Scrolling_VScrollbarWidth);

html[data-sap-ui-browser^="ie"] {

	.sapUiTableVScr {
		.sapUiTableHSb, .sapUiTableCtrlScr, .sapUiTableColHdrScr, .sapUiTableRowActionScr, .sapUiTableRowWithAction {
			margin-right: @_sap_ui_table_Scrolling_VScrollbarWidthIE;
		}
	}

	._sapUiTableVScrWithActionsMixin(@_sap_ui_table_Scrolling_VScrollbarWidthIE);

}

html[data-sap-ui-browser^="ed"] {

	.sapUiTableVScr {
		.sapUiTableHSb, .sapUiTableCtrlScr, .sapUiTableColHdrScr, .sapUiTableRowActionScr, .sapUiTableRowWithAction {
			margin-right: @_sap_ui_table_Scrolling_VScrollbarWidthEdge;
		}
	}

	._sapUiTableVScrWithActionsMixin(@_sap_ui_table_Scrolling_VScrollbarWidthEdge);

}

/* Hide last border right of column header and cell when no vertical scroll is available */
.sapUiTable:not(.sapUiTableVScr) {
	.sapUiTableColHdrScr .sapUiTableHeaderCell:last-child,
	.sapUiTableCtrlScroll .sapUiTableTr > td:last-child {
		border-right: none;
	}
}

.sapUiTableHSb,
.sapUiTableHSbBg {
	display: none;
	height: @_sap_ui_table_Scrolling_HScrollbarHeight;
	margin: 0;
	box-sizing: border-box;
}

.sapUiTableHSb {
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: auto;
	border-right: @_sap_ui_table_BaseBorderWidth solid transparent; /* Simulates the right border of the table cells in the content area */
	background-color: @sapUiListBackground;
}

.sapUiTableHSbBg {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: @_sap_ui_table_Scrolling_ScrollbarBackground;
}

.sapUiTableHSbExternal {
	height: @_sap_ui_table_Scrolling_HScrollbarHeight;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: auto;
	background-color: @sapUiListBackground;
}

html[data-sap-ui-browser^="ie"] .sapUiTableHSb,
html[data-sap-ui-browser^="ie"] .sapUiTableHSbBg,
html[data-sap-ui-browser^="ie"] .sapUiTableHSbExternal {
	height: @_sap_ui_table_Scrolling_HScrollbarHeightIE;
	-ms-overflow-style: scrollbar;
}

html[data-sap-ui-browser^="ed"] .sapUiTableHSb,
html[data-sap-ui-browser^="ed"] .sapUiTableHSbBg,
html[data-sap-ui-browser^="ed"] .sapUiTableHSbExternal {
	height: @_sap_ui_table_Scrolling_HScrollbarHeightEdge;
	-ms-overflow-style: scrollbar;
}

.sapUiTableHSbContent {
	height: 1px;
}

.sapUiTableHScr {

	.sapUiTableHSb, .sapUiTableHSbBg {
		display: block;
	}

	.sapUiTableFtr {
		border-top: @_sap_ui_table_BaseBorderWidth solid @sapUiListHeaderBorderColor;
	}

	.sapUiTableColReorderIndicator, .sapUiTableColRsz {
		bottom: @_sap_ui_table_Scrolling_HScrollbarHeight;
	}

}

html[data-sap-ui-browser^="ie"] .sapUiTableHScr {
	.sapUiTableColReorderIndicator, .sapUiTableColRsz {
		bottom: @_sap_ui_table_Scrolling_HScrollbarHeightIE;
	}
}

html[data-sap-ui-browser^="ed"] .sapUiTableHScr {
	.sapUiTableColReorderIndicator, .sapUiTableColRsz {
		bottom: @_sap_ui_table_Scrolling_HScrollbarHeightEdge;
	}
}

.sapUiTableVSb,
.sapUiTableHSb,
.sapUiTableVSbExternal,
.sapUiTableHSbExternal {
	&::-webkit-scrollbar-thumb {
		background-color: @sapUiScrollBarFaceColor !important;
	}

	&::-webkit-scrollbar {
		background-color: @sapUiScrollBarTrackColor !important;
	}

	._sap_ui_table_Scrolling_NativeScrollbarCommon();
}

html.sap-desktop {
	.sapUiTableVSb,
	.sapUiTableHSb,
	.sapUiTableVSbExternal,
	.sapUiTableHSbExternal {
		._sap_ui_table_Scrolling_NativeScrollbarDesktop();
	}

	.sapUiTableVSb,
	.sapUiTableVSbExternal {
		&::-webkit-scrollbar:vertical {
			width: @_sap_ui_table_Scrolling_HScrollbarHeight !important;
		}

		&::-webkit-scrollbar-thumb:vertical {
			border-left: 0.125rem solid @sapUiScrollBarTrackColor !important;
			border-right: 0.125rem solid @sapUiScrollBarTrackColor !important;
		}
	}

	.sapUiTableHSb,
	.sapUiTableHSbExternal {
		&::-webkit-scrollbar:horizontal {
			height: @_sap_ui_table_Scrolling_HScrollbarHeight !important;
		}

		&::-webkit-scrollbar-thumb:horizontal {
			border-top: 0.125rem solid @sapUiScrollBarTrackColor !important;
			border-bottom: 0.125rem solid @sapUiScrollBarTrackColor !important;
		}
	}
}

html.sap-tablet:not(.sap-desktop),
html.sap-phone {
	.sapUiTableVSb,
	.sapUiTableHSb,
	.sapUiTableVSbExternal,
	.sapUiTableHSbExternal {
		-webkit-appearance: none;
		._sap_ui_table_Scrolling_NativeScrollbarMobile();
	}

	.sapUiTableVSb,
	.sapUiTableVSbExternal {
		&::-webkit-scrollbar:vertical {
			width: @_sap_ui_table_Scrolling_HScrollbarHeightMobile !important;
		}

		&::-webkit-scrollbar-thumb:vertical {
			width: 0.25rem !important;
			min-height: 0.25rem !important;
			border-left: 0.125rem solid @sapUiScrollBarBorderColor !important;
			border-right: 0.125rem solid @sapUiScrollBarBorderColor !important;
		}
	}

	.sapUiTableHSb,
	.sapUiTableHSbExternal {
		&::-webkit-scrollbar:horizontal {
			height: @_sap_ui_table_Scrolling_HScrollbarHeightMobile !important;
		}

		&::-webkit-scrollbar-thumb:horizontal {
			height: 0.25rem !important;
			min-width: 0.25rem !important;
			border-top: 0.125rem solid @sapUiScrollBarBorderColor !important;
			border-bottom: 0.125rem solid @sapUiScrollBarBorderColor !important;
		}
	}

	.sapUiTableVSb,
	.sapUiTableVSbBg,
	.sapUiTableVSbExternal,
	.sapUiTableVSbHeader {
		width: @_sap_ui_table_Scrolling_VScrollbarWidthMobile;
	}

	.sapUiTableHSb,
	.sapUiTableHSbBg,
	.sapUiTableHSbExternal {
		height: @_sap_ui_table_Scrolling_HScrollbarHeightMobile;
	}

	.sapUiTableVScr {
		.sapUiTableCtrlScr, .sapUiTableColHdrScr, .sapUiTableHSb, .sapUiTableRowActionScr, .sapUiTableRowWithAction {
			margin-right: @_sap_ui_table_Scrolling_VScrollbarWidthMobile;
		}
	}

	.sapUiTableHScr {
		.sapUiTableColReorderIndicator, .sapUiTableColRsz, .sapUiTableRowActionScr, .sapUiTableRowWithAction {
			bottom: @_sap_ui_table_Scrolling_HScrollbarHeightMobile;
		}
	}

	._sapUiTableVScrWithActionsMixin(@_sap_ui_table_Scrolling_VScrollbarWidthMobile);
}