/* ============================================== */
/* CSS for control sap.ui.layout/BlockLayout      */
/* Quartz High Contrast White theme               */
/* ============================================== */

@_sap_ui_layout_BlockLayout_BackgroundDashboardMargin: 0.5rem;
@_sap_ui_layout_BlockLayout_BackgroundDashboardEdgeChildMargin: 1rem;
@_sap_ui_layout_BlockLayout_BackgroundDashboardAfterScrollbarMargin: 0.75rem;

@_sap_ui_layout_BlockLayout_LinkTextShadow: none;

@_sap_ui_layout_BlockLayout_BackgroundDashboardColor: @sapUiTileBackground;
@_sap_ui_layout_BlockLayout_BackgroundDashboardBorderRadius: 0.25rem;