/* Inline theming parameters */
#sap-ui-theme-testlibs\.themeParameters\.lib17{background-image:url('data:text/plain;utf-8,%7B%22default%22%3A%7B%22sapUiThemeParamForLib17%22%3A%22%23afafaf%22%7D%2C%22scopes%22%3A%7B%7D%7D')};