.sapUiMDCAdaptFiltersPanel >div>section {
    margin-top: 0.25rem;
}

//Change background color for the container control
.sapUiMDCAdaptFiltersPanel .sapMPageBgStandard {
    background: @sapUiListBackground;
}


.sapUiMDCAdaptFiltersPanel .sapUiMDCPanelPadding{
    padding-left: 1rem;
    padding-right: 0.75rem;
}

.sapUiMDCAdaptFiltersPanel .sapUiMDCPaddingPanelLeft {
    padding-left: 1.5rem;
}

.sapUiMDCGroupPanelBase .sapMBar-CTX {
    border: none;
    box-shadow: none;
}

.sapUiMDCGroupPanelBase .sapUiMDCContainerContent {
    padding-top: 0.25rem;
}

.sapUiMDCAdaptFiltersSearchBar {
    padding-bottom: 0.25rem;
}