.sapUiMdcFilterBarBase {
}

.sapUiMdcFilterBarBaseAFLayout > .sapUiAFLayoutItem,
.sapUiMdcFilterBarBaseAFLayout > .sapUiAFLayoutEnd {
	margin-right: 1rem;
	margin-top: 0.5rem;
}

.sapUiMdcFilterBarBaseAFLayout.sapUiAFLayoutOneLine > .sapUiAFLayoutEnd {
	margin-top: 0.5rem;
}

.sapUiMdcFilterBarBase .sapUiMdcFilterBarBaseButtonPaddingRight {
    padding-right: 0.5rem;
}

.sapUiMdcFilterBarBase .sapUiMdcFilterBarPaddingLeft {
	padding-left: 0.5rem;
}

.sapUiMdcFilterBarBase .sapUiMdcFilterBarBaseLabel .sapMLabelColonAndRequired::before {
	content: attr(data-colon);
}

.sapUiMdcFilterBarBaseAFLayout > .sapUiAFLayoutItem > div,
.sapUiMdcFilterBarBaseAFLayout > .sapUiAFLayoutItem .sapUiMdcFieldBase {
    width: 100%;
}
