/******************************************************************
	Style of the RTA Contextmenu - sap_fiori_3 Theme
*******************************************************************/
@_sap_ui_rta_ContextMenu_Border_LightColor: @sapUiWhite; //#fff
@_sap_ui_rta_ContextMenu_Border_DarkColor: @sapPrimary1; //#354a5f
@_sap_ui_dt_ContextMenu_BoxShadow: 0 0.625rem 1.25rem fade(black, 19), 0 0.375rem 0.375rem fade(black, 23), 0 0 0 0.0625rem fade(white, 20), 0 0.0625rem 0 0 fade(white, 20); //10px 20px 6px 6px 1px 1px
@_sap_ui_dt_ContextMenu_FocusColor: @sapContent_FocusColor; //#000

.sapUiRtaMode {

	.sapUiDtContextMenu {

		&.sapMPopover, .sapMPopover {
			border: 0.125rem solid @_sap_ui_rta_ContextMenu_Border_LightColor; //2px
			border-image: repeating-linear-gradient( -45deg, @_sap_ui_rta_ContextMenu_Border_DarkColor, @_sap_ui_rta_ContextMenu_Border_DarkColor 4px, @_sap_ui_rta_ContextMenu_Border_LightColor 4px, @_sap_ui_rta_ContextMenu_Border_LightColor 6px) 4;
			box-shadow: @_sap_ui_dt_ContextMenu_BoxShadow;
		}

		&.sapMPopoverArr, .sapMPopoverArr {
			width: 2rem; //32px
			height: 2rem; //32px
			bottom: -2rem; //32px
			left: 0.25rem !important; //4px
			&:after {
				box-shadow: 0.375rem -0.375rem 0.75rem 0 fade(black,30), 0 0 0 0.0625rem fade(white,20); //6px 6px 12px 1px
				border: 0.125rem solid @_sap_ui_rta_ContextMenu_Border_LightColor; //2px
				border-image: repeating-linear-gradient( -50deg, @_sap_ui_rta_ContextMenu_Border_DarkColor, @_sap_ui_rta_ContextMenu_Border_DarkColor 3px, @_sap_ui_rta_ContextMenu_Border_LightColor 3px, @_sap_ui_rta_ContextMenu_Border_LightColor 5px) 4;
				width: 1rem; //16px
				height: 0.8125rem; //13px
				margin: -0.65rem 0 0 0.35rem; //10px 6px
			}
			&.sapMPopoverArrUp {
				height: 0.8125rem; //13px
				top: -0.8125rem; //13px
				&:after {
					box-shadow: -0.375rem 0.375rem 0.75rem 0 fade(black,30), 0 0 0 0.0625rem fade(white,20); //6px 6px 12px 1px
					margin: 0.35rem 0 0 0.35rem; //6px 6px
				}
			}
		}

		.sapMBtnInner.sapMBtnText .sapMBtnIcon {
			padding-left: 0;
		}

		.sapMBtnIcon {
			margin-left: 0.4375rem; //7px
			margin-right: 0.4375rem; //7px
		}

		&.sapMBtn:focus:not(:hover) > .sapMFocusable,
		.sapMBtn:focus:not(:hover) > .sapMFocusable {
			outline: none;
			border: 0.0625rem dotted; //1px
		}
		&.sapMBtn:hover:not(:focus) > .sapMBtnHoverable,
		.sapMBtn:hover:not(:focus) > .sapMBtnHoverable {
			outline: none;
			border: 0.0625rem solid; //1px
		}

		.sapMBtn:focus:hover > .sapMFocusable,
		&.sapMBtn:focus:hover > .sapMFocusable {
			border: 0.0625rem solid; //1px
			outline: 0.0625rem dotted; //1px
			outline-offset: -0.25rem; //4px
		}
	}
}