/******************************************************************
	Style of the RTA Toolbar (type: adaptation) - sap_fiori_3 Theme
*******************************************************************/
@_sap_ui_rta_Toolbar_Adaptation_TextColor: @sapUiShellTextColor; //#fff
@_sap_ui_rta_Toolbar_Adaptation_BtnFocusBorderColor: @sapUiShellTextColor; //#fff
@_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverTextColor: @sapUiShellInteractiveTextColor; //#d1e8ff
@_sap_ui_rta_Toolbar_Adaptation_SegBBtnBackgroundColor: @sapUiShellColor; //#354a5f
@_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverBackgroundColor: @sapUiShellColor; //#354a5f
@_sap_ui_rta_Toolbar_Adaptation_DraftVersionColor: lighten(@sapUiContentRatedColor, 25%); //#f1bb72
@_sap_ui_rta_Toolbar_Adaptation_ActiveVersionColor: @sapUiShellPositiveColor; // #ace1c2
@_sap_ui_rta_Toolbar_Adaptation_FocusOutlineColor: @sapUiShellTextColor; //#fff
@_sap_ui_rta_Toolbar_Adaptation_VersionHistoryBackgroundColor: @sapUiShellColor; //#354a5f

.sapUiRtaMode {
	.sapUiRtaToolbar.sapUiRtaToolbarAdaptation {
		.sapMBtn {
			&.sapMBtnDisabled .sapMBtnInner {
				opacity: 1.0;
			}
			.sapMBtnTransparent,
			.sapMBtnTransparent>.sapMBtnIcon {
				color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
			}
		}

		.sapMSegBBtn.sapMSegBBtnFocusable {
			.sapMSegBBtnInner {
				background-color: @_sap_ui_rta_Toolbar_Adaptation_SegBBtnBackgroundColor;
				color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
			}

			&.sapMSegBBtnSel {
				&:hover .sapMSegBBtnInner::after {
					border-bottom: 0.125rem solid @_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverTextColor;
				}

				&:hover .sapMSegBBtnInner {
					color: @_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverTextColor;
					background-color: @_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverBackgroundColor;

					.sapUiIcon {
						color: @_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverTextColor;
					}
				}
			}

			&:hover .sapMSegBBtnInner {
				color: @_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverTextColor;
				background-color: @_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverBackgroundColor;

				.sapUiIcon {
					color: @_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverTextColor;
				}
			}
		}
	}
	.sapUiRtaVersionHistory {
		.sapMListUl > .sapMLIB {
			background: @_sap_ui_rta_Toolbar_Adaptation_VersionHistoryBackgroundColor;
		}
		.sapMLIBHoverable:hover {
			background: darken(@_sap_ui_rta_Toolbar_Adaptation_VersionHistoryBackgroundColor, 5%);
		}
	}
}

.sapUiSizeCozy.sapUiRtaMode {
	.sapUiRtaToolbar {
		.sapMSegB {
			.sapMSegBBtn {
				.sapMSegBBtnInner {
					line-height: 2rem; //32px
				}
			}
		}
	}
}