/* =========================================== */
/* CSS for control sap.f/FlexibleColumnLayout  */
/* Horizon High Contrast Black theme           */
/* =========================================== */

// Cozy mode
.sapFFCL > {
	&.sapFFCLBackgroundDesignSolid {
		background: @sapUiContentForegroundColor;
	}

	&.sapFFCLBackgroundDesignTranslucent {
		background: @sapUiBaseBG;
	}

	&.sapFFCLBackgroundDesignTransparent {
		background: @sapUiBaseBG;
	}

	& > .sapFFCLColumnMid.sapFFCLColumnActive {
		border-left: 0.0625rem solid @sapUiGroupContentBorderColor;
		border-right: 0.0625rem solid @sapUiGroupContentBorderColor;
	}

	& > .sapFFCLColumnActive.sapFFCLColumnLastActive {
		border-right: none;
		border-left: 0.0625rem solid @sapUiGroupContentBorderColor;
	}

	& > .sapFFCLColumnActive.sapFFCLColumnFirstActive {
		border-right: 0.0625rem solid @sapUiGroupContentBorderColor;
		border-left: none;
	}

	& > .sapFFCLColumnActive.sapFFCLColumnOnlyActive {
		border-right: none;
		border-left: none;
	}
}

.sapFFCL {
	.sapFFCLNavigationButton {
		.sapMBtnInner {
			border: 0.0625rem solid @sapUiButtonBorderColor;

			.sapMBtnIcon {
				width: auto;
			}
		}
		&:before,
		&:after {
			background-size: 0.125rem 100%;
			background-position-x: calc(50% - 0.0625rem);
		}
		&:before {
			background-image: linear-gradient(to top, @sapUiObjectHeaderBorderColor, fade(@sapUiObjectHeaderBorderColor, 0));
		}

		&:after {
			background-image: linear-gradient(to bottom, @sapUiObjectHeaderBorderColor, fade(@sapUiObjectHeaderBorderColor, 0));
		}
	}
}