/* ============================================ */
/* CSS for control sap.tnt/ToolHeader.control	*/
/* ============================================ */

.sapMToolHeader.sapMTB {
	background-color: @sapUiExtraLightBG;
}

.sapMToolHeader.sapMTB .sapMBtnContent,
.sapMToolHeader.sapMTB .sapMBtnIcon,
.sapMToolHeaderPopover.sapMOTAPopover.sapMPopover .sapMBtnContent {
	color: @sapUiElement;
}

.sapMToolHeaderPopover.sapMOTAPopover.sapMPopover {
	background-color: @sapUiLightestBG;
}
