/******************************************************************
	Style of the DT Overlays - Horizon Dark Theme
*******************************************************************/
@_sap_ui_dt_Overlay_SelectionColor: @sapUiSelected; //	#0070f2
@_sap_ui_dt_Overlay_BorderRadius: @sapUiButtonBorderCornerRadius; // 0.5rem
@_sap_ui_dt_Overlay_ActiveBG: fade(@sapUiNeutralElement, 10%); // rgba(120, 143, 166, 0.1)
@_sap_ui_dt_Overlay_BoxShadow: @sapUiUx3ToolPopupShadow;
@_sap_ui_dt_Overlay_CuttedBorder: @sapUiNeutralBorder; //#a9b4be
@_sap_ui_dt_Overlay_CuttedColor: @sapUiListSelectionBackgroundColor; //#1d2d3e


.sapUiDtOverlayFocusable {
	&:focus {
		&:before {
			border-radius: @_sap_ui_dt_Overlay_BorderRadius;
			outline: 0.0625rem dotted @_sap_ui_dt_Overlay_FocusColor;
			border: none;
			outline-offset: -0.125rem;
		}
	}
}

.sapUiDtOverlaySelected {
	box-shadow: none !important;

	&:after {
		border-radius: @_sap_ui_dt_Overlay_BorderRadius;
		transition: box-shadow 0.25s;
		box-shadow: @_sap_ui_dt_Overlay_BoxShadow;
	}
}

.sapUiDtOverlayTargetZone {
	&:after {
		border-radius: @_sap_ui_dt_Overlay_BorderRadius;
	}
}

.sapUiDtOverlayCutted {
	opacity: 0.7;

	&:after {
		border-radius: @_sap_ui_dt_Overlay_BorderRadius;
	}
}