/******************************************************************
	Style of the RTA Change Visualization - sap_fiori_3_hcb theme
*******************************************************************/
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorLight: lighten(@sapUiPositiveText, 10%); //#bbddbb
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorMedium: @sapUiCriticalText; //#ffab1d
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark: lighten(@sapUiChart8, 20%); //#dc8cc9
@_sap_ui_rta_ChangeVisualization_OverlayOutlineColor: @sapUiSuccessBorder; // #9c9

.sapUiDtOverlay {
	.sapUiRtaChangeIndicatorHovered {
		&:after {
			box-shadow: none;
		}
	}
}