<!DOCTYPE HTML>
<html data-sap-ui-dk-category="Controls/Layout" data-sap-ui-dk-controls="sap.ui.layout.form.Form">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="keywords" content="Control Form" />
		<title>Form - SAPUI5 Demo Kit</title>
		<link rel="stylesheet" type="text/css" href="../../../../../theme/default.css"></link>
		<script id="sap-ui-bootstrap"
				type="text/javascript"
				src="../../../../../resources/sap-ui-core.js"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.ui.layout,sap.ui.commons,sap.ui.demokit"
				data-sap-ui-language="en"
				>
		</script>
		<script type="text/javascript">sap.ui.demokit._supportedThemes = ["sap_goldreflection", "sap_hcb"];</script>
		<script type="text/javascript" src="../../../../../js/utils.js"></script>

		<script id='samplescript1' type="text/javascript">

		var oLayout1 = new sap.ui.layout.form.GridLayout();
		var oLayout2 = new sap.ui.layout.form.ResponsiveLayout();
		var oLayout3 = new sap.ui.layout.form.ResponsiveGridLayout();

		var oForm1 = new sap.ui.layout.form.Form("F1",{
			title: new sap.ui.core.Title({text: "Address Data", tooltip: "Title tooltip"}),
			editable: true,
			layout: oLayout1,
			formContainers: [
				new sap.ui.layout.form.FormContainer("F1C1",{
					title: "Person data",
					formElements: [
						new sap.ui.layout.form.FormElement({
							fields: [new sap.ui.commons.Image({src: "../../commons/demokit/images/male.jpg", width: "100px",
									layoutData: new sap.ui.core.VariantLayoutData({
										multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({minWidth: 110}),
											                     new sap.ui.layout.form.GridElementData({hCells: "2", vCells: 5}),
											                     new sap.ui.layout.GridData({span: "L1 M1 S12"})]
											})
										})
							],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 4, margin: false})
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text:"Name",
								layoutData: new sap.ui.core.VariantLayoutData({
									multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({weight: 1}),
									                   	     new sap.ui.layout.form.GridElementData({hCells: "1"}),
									                   	  	 new sap.ui.layout.GridData({span: "L1 M1 S12"})]
									})
								}),
							fields: [new sap.ui.commons.TextField({value: "Max",
								layoutData: new sap.ui.core.VariantLayoutData({
									multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({weight: 4}),
								                   	  	 new sap.ui.layout.GridData({span: "L5 M5 S12"})]
											})
										}),
								  new sap.ui.commons.TextField({value: "Mustermann",
										layoutData: new sap.ui.core.VariantLayoutData({
										multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({weight: 5}),
									                   	  	 new sap.ui.layout.GridData({span: "L5 M5 S12"})]
										})
									})
							],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text:"Date of Birth",
								layoutData: new sap.ui.core.VariantLayoutData({
									multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({weight: 1}),
									                  	     new sap.ui.layout.form.GridElementData({hCells: "1"})]
									})
								}),
							fields: [new sap.ui.commons.DatePicker({yyyymmdd: "19990909",
								layoutData: new sap.ui.core.VariantLayoutData({
									multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({weight: 4}),
									                  	     new sap.ui.layout.form.GridElementData({hCells: "3"})]
									})
							})
							],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text:"Gender",
								layoutData: new sap.ui.core.VariantLayoutData({
									multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({weight: 1}),
									                 	     new sap.ui.layout.form.GridElementData({hCells: "1"})]
									})
								}),
							fields: [new sap.ui.commons.RadioButtonGroup({
								items: [new sap.ui.core.Item({text: "male"}),
									new sap.ui.core.Item({text: "female"})],
								layoutData: new sap.ui.core.VariantLayoutData({
									multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({weight: 4}),
												     new sap.ui.layout.form.GridElementData({vCells: 2})]
									})
							})]
						})
						],
						layoutData: new sap.ui.core.VariantLayoutData({
								multipleLayoutData: [new sap.ui.layout.GridData({span: "L12 M12 S12"})]
								})
				}),
				new sap.ui.layout.form.FormContainer("F1C2",{
					title: new sap.ui.core.Title({text: "Address", icon: "../../commons/demokit/images/address.gif", tooltip: "Address data"}),
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Street / Number",
							fields: [new sap.ui.commons.TextField({
												layoutData: new sap.ui.core.VariantLayoutData({
													multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({weight: 3}),
													                 	     new sap.ui.layout.form.GridElementData({hCells: "3"})]
												})
									}),
									new sap.ui.commons.TextField({width: "3em",
										layoutData: new sap.ui.core.VariantLayoutData({
											multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({weight: 1}),
											                 	     new sap.ui.layout.form.GridElementData({hCells: "2"}),
											                 	    new sap.ui.layout.GridData({span: "L2 M2 S12"})]
										})
									})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Zip Code / City", layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 2})}),
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 1})}),
								  new sap.ui.commons.TextField({layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 2})})
							],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Country", layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 2})}),
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 3})})]
						})
						],
					layoutData: new sap.ui.core.VariantLayoutData({
							multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, minWidth: 150}),
										    new sap.ui.layout.form.GridContainerData({halfGrid: true}),
										    new sap.ui.layout.GridData({linebreakL: true})]
							})
				}),
				new sap.ui.layout.form.FormContainer("F1C3",{
					title: "contact",
					expandable: true,
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Phone Number",
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 4})})],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						}),
						new sap.ui.layout.form.FormElement({
							label: "Mobile",
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 4})})],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						}),
						new sap.ui.layout.form.FormElement({
							label: "Email",
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 4})})],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						})
					],
					layoutData: new sap.ui.core.VariantLayoutData({
						multipleLayoutData: [new sap.ui.layout.form.GridContainerData({halfGrid: true}),
						            	             new sap.ui.layout.ResponsiveFlowLayoutData({minWidth: 150}),
																			 new sap.ui.layout.GridData({linebreakL: false})]
						})
				}),
				new sap.ui.layout.form.FormContainer("F1C4",{
					title: "choose LayoutData",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "LayoutData",
							fields: [new sap.ui.commons.RadioButtonGroup({
								columns: 3,
								items: [new sap.ui.core.Item("I1",{text: "GridLayout"}),
									  new sap.ui.core.Item("I2",{text: "ResponsiveLayout"}),
									  new sap.ui.core.Item("I3",{text: "ResponsiveGridLayout"})],
								layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 9}),
								select: function(oEvent){
									var oForm = sap.ui.getCore().byId("F1");
									if(oEvent.getParameter("selectedIndex") == 0){
										oForm.setLayout(oLayout1);
									}else if(oEvent.getParameter("selectedIndex") == 1){
										oForm.setLayout(oLayout2);
									}else{
										oForm.setLayout(oLayout3);
									}
								}
							})]
						}),
					],
				layoutData: new sap.ui.core.VariantLayoutData({
					multipleLayoutData: [new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true}),
					                     new sap.ui.layout.GridData({linebreakL: true, span: "L12 M12 S12"})]
					})
				})
			]
		});

		oForm1.placeAt("sample1");
		</script>

	</head>

	<body class="sapUiDemokitBody" role="application">
		<h1 color="Red" icon="images/ctrls/gridlayout-icon.png">Form</h1>
		<h2>Introduction</h2>

		<p>The Form is designed to hold form content. The Form itself aggregates <code>FormContainers</code>.
		The <code>FormContainers</code> are used to separate the form content into different blocks.
		A <code>FormContainers</code> can be seen as a panel. It can have a title and and expander.
		Inside the <code>FormContainers</code> there is an aggregation of <code>FormElements</code>.
		A <code>FormElements</code> is an aggregation of some form content (<code>TextFields</code>, <code>CheckBoxes</code>)
		and its label. So the assignment of the label to the control is done automatically by the <code>FormElements</code>.
		</p>

		<p>The Form itself has no rendering which means that a <code>FormLayout</code>
        <strong>must</strong> be added to the form in order to see any of the 
        content as it is used for the visualization and user interaction of the 
        Form. This enables the Form to be shown in different ways by just changing 
        the <code>FormLayout</code>. 
        In order to achieve the difference in rendering, <code>LayoutData</code> 
        has to be set. <br/>
        It is possible to change the layout mechanisms for content individually by 
        assigning <code>VariantLayoutData</code> to the specific content element.
        One way to use this pattern would be to define several layouts and assign 
        them to the form on the fly, this way it is possible to switch between 
        layouts as a reaction to an event (e.g. resize) or toggle between different
        layouts on user request.
		</p>

		<h3>Keyboard Navigation:</h3>
		<p>The <code>Form</code> supports a Navigation Mode and an Edit Mode for Keyboard Navigation. If you enter a Form you are within the Navigation Mode.
		If typing is started within a TextField for example it is switched to Edit Mode which means that the arrow keys are navigating within the text.
		At the end of the Text pressing an Arrow key would mean that the next Field gets selected and it is switched to Navigation Mode again.
		If you would like to switch between Edit and Navigation Mode from within a Field you can press “F2”. The Navigation Mode of the Form supports
		the following Keyboard Shortcuts:
		<UL>
			<LI>Arrows: You can navigate through the Form Fields using the arrow keys, even read-only fields can be focused when using the arrow keys. At the end of the Form you will stay within the last Field when using the arrow keys.</LI>
			<LI>Tab / Shift + Tab: You can navigate forward (Tab) and backwards (Shift + Tab) within the Form. Tab Navigation ignores read-only Fields. If a Container is expandable you can select the Expander-Icon within the Container Header. The Container can then be expanded or collapsed using the Space or Enter key.</LI>
			<LI>Home: The first Element of the Container will be selected</LI>
			<LI>End: The last Element of the Container will be selected</LI>
			<LI>Ctrl + Home: The first Element of the Form will be selected</LI>
			<LI>Ctrl + End: The last Element of the Form will be selected</LI>
			<LI>F6: The first Element of the next Container will be selected. If you are within the last Container of a Form the first Element of the first Container will be selected.</LI>
		</UL>
		</p>
		<br>

		<h2>Basic Example</h2>
		<p>A simple Form with a ResponsiveLayout. Use the button to switch the used Layout</p>
		<div code-sample="sample1" script="samplescript1"></div>

		<p>
		<h2>API Documentation</h2>
		See <a class="sapUiDemokitSrcLink" href="../../../../../docs/api/symbols/sap.ui.layout.form.Form.html" >API documentation</a>
		</p>
	</body>
</html>