<!DOCTYPE HTML>
<html data-sap-ui-dk-category="Controls/Layout" data-sap-ui-dk-controls="sap.ui.layout.form.GridLayout,sap.ui.layout.form.GridElementData">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8"/>
		<meta name="keywords" content="Control GridLayout Form" />
		<title>GridLayout - SAPUI5 Demo Kit</title>
		<link rel="stylesheet" type="text/css" href="../../../../../theme/default.css"></link>
		<script id="sap-ui-bootstrap"
				src="../../../../../resources/sap-ui-core.js"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.ui.layout,sap.ui.commons,sap.ui.demokit"
				data-sap-ui-language="en"
				>
		</script>
		<script>sap.ui.demokit._supportedThemes = ["sap_goldreflection", "sap_hcb"];</script>
		<script src="../../../../../js/utils.js"></script>

		<script id='samplescript1'>

		var oLayout1 = new sap.ui.layout.form.GridLayout("L1", {singleColumn: true});

		var oForm1 = new sap.ui.layout.form.Form("F1",{
			title: new sap.ui.core.Title({text: "Address Data", icon: "../../commons/demokit/images/address.gif", tooltip: "Title tooltip"}),
			width: "60%",
			editable: true,
			layout: oLayout1,
			formContainers: [
				new sap.ui.layout.form.FormContainer("C1",{
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Name", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "auto"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "auto"})})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Street / Number", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "auto"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Zip Code / City", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "auto"})})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Country", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "auto"})})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Phone Number", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})})
							]
						}),
					]
				})
			]
		});

		oForm1.placeAt("sample1");
		</script>

		<script id='samplescript2'>

		var oLayout2 = new sap.ui.layout.form.GridLayout("L2");

		var oForm2 = new sap.ui.layout.form.Form("F2",{
			title: new sap.ui.core.Title({text: "Address Book", tooltip: "Title tooltip"}),
			editable: true,
			layout: oLayout2,
			formContainers: [
				new sap.ui.layout.form.FormContainer("C2",{
					title: "Mr. Anzeiger Display",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "User ID"}),
							fields: [new sap.ui.commons.TextField({value: "D012345", required: true, layoutData: new sap.ui.layout.form.GridElementData({hCells: "auto"})}),
									new sap.ui.commons.Image({src: "../../commons/demokit/images/male.jpg", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2", vCells: 4})})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "SAP Name"}),
							fields: [new sap.ui.commons.TextField({value: "MUSTER01", layoutData: new sap.ui.layout.form.GridElementData({hCells: "auto"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Age"}),
							fields: [new sap.ui.commons.TextField({value: "37", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Gender",
							fields: [new sap.ui.commons.RadioButtonGroup({
								items: [new sap.ui.core.Item({text: "male"}),
										new sap.ui.core.Item({text: "female"})]
							})]
						})
					]
				}),
				new sap.ui.layout.form.FormContainer("C3",{
					title: "Vacation",
					expandable: true,
					expanded: false,
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Annual leave"}),
							fields: [new sap.ui.commons.TextField({value: "32", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Special quota"}),
							fields: [new sap.ui.commons.TextField({value: "8", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})]
						})
					]
				}),
				new sap.ui.layout.form.FormContainer("C4",{
					title: "Communication",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text:"Calling from"}),
							fields: [new sap.ui.commons.DropdownBox("Cities", {items : [
										new sap.ui.core.ListItem("City1", {text:"DE (Germany)"}),
										new sap.ui.core.ListItem("City2", {text:"GB (United Kingdom)"}),
										new sap.ui.core.ListItem("City3", {text:"IN (India)"}),
										new sap.ui.core.ListItem("City4", {text:"US (United States)"})]
									}),
									new sap.ui.commons.DatePicker({layoutData: new sap.ui.layout.form.GridElementData({hCells: "8"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Phone",
							fields: [new sap.ui.commons.TextField({value: "+49", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.TextField({value: "1111", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({value: "7-12345", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "3"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "5"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Pers.Fax"}),
							fields: [new sap.ui.commons.TextField({value: "+49", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.TextField({value: "1111", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({value: "78-12345", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "3"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "5"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "E-Mail",
							fields: [new sap.ui.commons.Link({text: "anzeiger.display@sap.com",
								tooltip: "mailto",
								press: function() {alert("email");}})]
						})
					]
				}),
				new sap.ui.layout.form.FormContainer("C5",{
					title: "Department",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Cost Center",
							fields: [new sap.ui.commons.ValueHelpField({value: "Heavy Overdoze Administration (AG) (0123456789)", layoutData: new sap.ui.layout.form.GridElementData({hCells: "5"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "OrgUnit",
							fields: [new sap.ui.commons.ValueHelpField({value: "GBU Permanent Outgoing Incomes (AG) (12345678)", layoutData: new sap.ui.layout.form.GridElementData({hCells: "5"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Manager",
							fields: [new sap.ui.commons.ValueHelpField({value: "SAP_ALL", layoutData: new sap.ui.layout.form.GridElementData({hCells: "5"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Buiding",
							fields: [new sap.ui.commons.TextField({value: "WDF99", layoutData: new sap.ui.layout.form.GridElementData({hCells: "5"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Assistant Phone",
							fields: [new sap.ui.commons.TextField({value: "+49", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.TextField({value: "1111", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({value: "7-23456", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "In-House Mail",
							fields: [new sap.ui.commons.TextField({value: "NW XX", layoutData: new sap.ui.layout.form.GridElementData({hCells: "5"})})]
						})
					],
					layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
				}),
				new sap.ui.layout.form.FormContainer("C6",{
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: ""}),
							fields: [new sap.ui.commons.Link({text: "Show User in OrgChart",
																tooltip: "Show User in OrgChart",
																press: function() {alert("OrgChart");}})]
						}),
						new sap.ui.layout.form.FormElement({
						}),
						new sap.ui.layout.form.FormElement({
						}),
						new sap.ui.layout.form.FormElement({
							label: "Room",
							fields: [new sap.ui.commons.ValueHelpField({value: "XX.99", layoutData: new sap.ui.layout.form.GridElementData({hCells: "5"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Assistant Fax"}),
							fields: [new sap.ui.commons.TextField({value: "+49", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.TextField({value: "1111", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({value: "78-23456", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Office Assistant",
							fields: [new sap.ui.commons.Link({text: "Ms. X",
								tooltip: "Show User",
								press: function() {alert("User Profile");}})]
						})
					],
				layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
				}),
				new sap.ui.layout.form.FormContainer("C7",{
					title: "Company",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Name",
							fields: [new sap.ui.commons.TextField({value: "SAP SE", layoutData: new sap.ui.layout.form.GridElementData({hCells: "13"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Location",
							fields: [new sap.ui.commons.TextField({value: "69190 Walldorf (Germany)", layoutData: new sap.ui.layout.form.GridElementData({hCells: "13"})})]
						})
					]
				}),
				new sap.ui.layout.form.FormContainer("C8",{
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Phone"}),
							fields: [new sap.ui.commons.TextField({value: "+49", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.TextField({value: "6227", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({value: "7-47474", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})})]
						})
					],
					layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
				}),
				new sap.ui.layout.form.FormContainer("C9",{
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: new sap.ui.commons.Label({text: "Fax"}),
							fields: [new sap.ui.commons.TextField({value: "+49", layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.TextField({value: "6227", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})}),
									new sap.ui.commons.TextField({value: "7-57575", layoutData: new sap.ui.layout.form.GridElementData({hCells: "2"})})]
						})
					],
					layoutData: new sap.ui.layout.form.GridContainerData({halfGrid: true})
				}),
				new sap.ui.layout.form.FormContainer("C10",{
					title: "Miscallaneous",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Keywords",
							fields: [new sap.ui.commons.ValueHelpField({value: "Developer",
																		tooltip: "Show this entry in the Key Word Index",
																		layoutData: new sap.ui.layout.form.GridElementData({hCells: "13"})})]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Car License Plate",
							fields: [new sap.ui.commons.TextField({value: "HD-XX 0000 (DE)", layoutData: new sap.ui.layout.form.GridElementData({hCells: "5"})}),
									new sap.ui.commons.TextField({layoutData: new sap.ui.layout.form.GridElementData({hCells: "8"})})]
						})
					]
				}),
				new sap.ui.layout.form.FormContainer("C11",{
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: ""
						}),
						new sap.ui.layout.form.FormElement({
							fields: [new sap.ui.commons.Button({text: "Edit",
																tooltip: "Change Address Data",
																press: function() {alert("Edit");},
																layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.Button({text: "Search",
																tooltip: "Search for another Employee",
																press: function() {alert("Search");},
																layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.Button({text: "Back",
																tooltip: "Go Back",
																press: function() {alert("Back");},
																layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.Button({text: "Close",
																tooltip: "Close this window",
																press: function() {alert("Close");},
																layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})}),
									new sap.ui.commons.TextView({text: "", layoutData: new sap.ui.layout.form.GridElementData({hCells: "auto"})}),
									new sap.ui.commons.Button({text: "Help",
																tooltip: "Help",
																press: function() {alert("Help");},
																layoutData: new sap.ui.layout.form.GridElementData({hCells: "1"})})
							]
						}),
						new sap.ui.layout.form.FormElement({
							fields: [new sap.ui.commons.TextView({text: "Security Notice: This personal data is confidential. Do not forward externally!"})]
						})
					]
				})
			]
		});

		oForm2.placeAt("sample2");
		</script>

	</head>

	<body class="sapUiDemokitBody" role="application">
		<h1 color="Red" icon="images/ctrls/gridlayout-icon.png">GridLayout</h1>
		<h2>Introduction</h2>

		<p>The GridLayout can be attached to the Form Control in order to arrange the Elements in a cell based Layout. The Form Control
		consists of a Form on top level which contains several FormContainers with several FormElements in it. According to our layout
		concept all of these can have LayoutData attached to them.</p>

		<p>The GridLayout is by default a 16 cells grid but you can set the <code>singleColumn</code> property to true in order to get an 8 cell grid.
		In this case you cannot include halfGrid Containers. Within the default Grid the FormContainers you can also place two containers
		in one row by setting <code>halfGrid</code> <code>true</code> within the respective GridContainerData attached. The FormElements included can then have <code>hCells</code>
		and <code>vCells</code> set as GridElementData attached to the respective labels and fields in order to get the different arrangements within
		the grid. You can also add some dummy FormElements in oder to get some spare rows or dummy TextViews in order to get some spare cells.</p>

		<h3>Keyboard Navigation:</h3>
		<p>The <code>GridLayout</code> supports the basic Form Keyboard Navigation. In addition when using the arrow keys you are able to move up (Arrow Up) or down (Arrow Down)
		within the Form Fields.</p>
		<br/>

		<h2>Basic Example</h2>
		<p>A simple Form with a GridLayout. The several FormElements contain various number of Textfields which are of different widths.</p>
		<div code-sample="sample1" script="samplescript1"></div>
		<br/><br/>

		<h2>Complex Example</h2>
		<p>Another Form with a GridLayout which shows a more complex approach of a Company Address Page. The Form consists of several 
		FormContainers combining one and two column Layouts.</p>
		<div code-sample="sample2" script="samplescript2"></div>
		<br/><br/>

		<p>
		<h2>API Documentation</h2>
		See <a class="sapUiDemokitSrcLink" href="../../../../../docs/api/symbols/sap.ui.layout.form.GridLayout.html" >API documentation</a>
		</p>
	</body>
</html>
