<!DOCTYPE HTML>
<html data-sap-ui-dk-category="Controls/Layout" data-sap-ui-dk-controls="sap.ui.layout.form.ResponsiveLayout">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="keywords" content="Control ResponsiveLayout Form" />
		<title>ResponsiveLayout - SAPUI5 Demo Kit</title>
		<link rel="stylesheet" type="text/css" href="../../../../../theme/default.css"></link>
		<script id="sap-ui-bootstrap"
				type="text/javascript"
				src="../../../../../resources/sap-ui-core.js"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.ui.layout,sap.ui.commons,sap.ui.demokit"
				data-sap-ui-language="en"
				>
		</script>
		<script type="text/javascript">sap.ui.demokit._supportedThemes = ["sap_goldreflection", "sap_hcb"];</script>
		<script type="text/javascript" src="../../../../../js/utils.js"></script>

		<script id='samplescript1' type="text/javascript">

		var oLayout1 = new sap.ui.layout.form.ResponsiveLayout("L1");

		var oForm1 = new sap.ui.layout.form.Form("F1",{
			title: new sap.ui.core.Title({text: "Address Data", icon: "../../commons/demokit/images/address.gif", tooltip: "Title tooltip"}),
			editable: true,
			layout: oLayout1,
			formContainers: [
				new sap.ui.layout.form.FormContainer("F1C1",{
					title: "Person data",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Name",
							fields: [new sap.ui.commons.TextField({value: "Max"}),
									new sap.ui.commons.TextField({value: "Mustermann"})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Date of Birth",
							fields: [new sap.ui.commons.DatePicker({yyyymmdd: "19990909", layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 2})})
							],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						})
						]
				}),
				new sap.ui.layout.form.FormContainer("F1C2",{
					title: "address",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Street / Number",
							fields: [new sap.ui.commons.TextField(),
									new sap.ui.commons.TextField({width: "3em"})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Zip Code / City",
							fields: [new sap.ui.commons.TextField(),
									new sap.ui.commons.TextField()
							],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						}),
						new sap.ui.layout.form.FormElement({
							label: "Country",
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({weight: 2})})
							]
						})
						]
				}),
				new sap.ui.layout.form.FormContainer("F1C3",{
					title: "contact",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Phone Number",
							fields: [new sap.ui.commons.TextField()
							],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						}),
						new sap.ui.layout.form.FormElement({
							label: "Mobile",
							fields: [new sap.ui.commons.TextField()
							],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						}),
						new sap.ui.layout.form.FormElement({
							label: "Email",
							fields: [new sap.ui.commons.TextField()
							],
							layoutData: new sap.ui.layout.ResponsiveFlowLayoutData({linebreak: true, margin: false})
						})
					]
				})
			]
		});

		oForm1.placeAt("sample1");
		</script>

	</head>

	<body class="sapUiDemokitBody" role="application">
		<h1 color="Red" icon="images/ctrls/responsiveflowlayout-icon.png">ResponsiveLayout</h1>
		<h2>Introduction</h2>

		<p>The ResponsiveLayout can be attached to the Form Control in order to arrange the Elements in a responsive way (see <code>ResponsiveFlowLayout</code>).
		The size and arrangement of the single elements depends on the size of the screen.
		The Form Control consists of a Form on top level which contains several FormContainers with several FormElements in it. According to our layout
		concept all of these can have LayoutData attached to them.</p>

		<p>You can use <code>ResponsiveFlowLayoutData</code> on FormContainers, FormElements and the content controls like in the
		ResponsiveFlowLayout control. So it is possible to influence the linebreaks, min width and weights of
		the single elements.If you use <code>ResponsiveFlowLayoutData</code> on Containers or Elements you should disable the margins to ayoid nested margins.
		if <code>ResponsiveFlowLayoutData</code> are used, the margins are disabled by default.
		</p>

		<h2>Basic Example</h2>
		<p>A simple Form with a ResponsiveLayout. Change the screen size to see the changes</p>
		<div code-sample="sample1" script="samplescript1"></div>

		<p>
		<h2>API Documentation</h2>
		<a class="sapUiDemokitSrcLink" href="../../../../../docs/api/symbols/sap.ui.layout.form.ResponsiveLayout.html" >API documentation</a>
		</p>
	</body>
</html>