<!DOCTYPE HTML>
<html data-sap-ui-dk-category="Controls/Layout" data-sap-ui-dk-controls="sap.ui.layout.form.ResponsiveGridLayout">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="keywords" content="Control ResponsiveGridLayout Form" />
		<title>ResponsiveGridLayout - SAPUI5 Demo Kit</title>
		<link rel="stylesheet" type="text/css" href="../../../../../theme/default.css"></link>
		<script id="sap-ui-bootstrap"
				type="text/javascript"
				src="../../../../../resources/sap-ui-core.js"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.ui.layout,sap.ui.commons,sap.ui.demokit"
				data-sap-ui-language="en"
				>
		</script>
		<script type="text/javascript">sap.ui.demokit._supportedThemes = ["sap_goldreflection", "sap_bluecrystal", "sap_hcb"];</script>
		<script type="text/javascript" src="../../../../../js/utils.js"></script>

		<script id='samplescript1' type="text/javascript">

		var oLayout1 = new sap.ui.layout.form.ResponsiveGridLayout("L1");

		var oForm1 = new sap.ui.layout.form.Form("F1",{
			title: new sap.ui.core.Title({text: "Address Data", icon: "../../commons/demokit/images/address.gif", tooltip: "Title tooltip"}),
			editable: true,
			layout: oLayout1,
			formContainers: [
				new sap.ui.layout.form.FormContainer("F1C1",{
					title: "Person data",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Name",
							fields: [new sap.ui.commons.TextField({value: "Max"}),
									new sap.ui.commons.TextField({value: "Mustermann"})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Date of Birth",
							fields: [new sap.ui.commons.DatePicker({yyyymmdd: "19990909", layoutData: new sap.ui.layout.GridData({span: "L2 M2 S12"})})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Gender",
							fields: [new sap.ui.commons.RadioButtonGroup({
								columns: 2,
								items: [new sap.ui.core.Item({text: "male"}),
									new sap.ui.core.Item({text: "female"})],
							})]
						})
						]
				}),
				new sap.ui.layout.form.FormContainer("F1C2",{
					title: "address",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Street / Number",
							fields: [new sap.ui.commons.TextField(),
									new sap.ui.commons.TextField({width: "3em"})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Zip Code / City",
							fields: [new sap.ui.commons.TextField(),
									new sap.ui.commons.TextField()
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Country",
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.GridData({span: "L2 M2 S12"})})
							]
						})
						]
				}),
				new sap.ui.layout.form.FormContainer("F1C3",{
					title: "contact",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Phone Number",
							fields: [new sap.ui.commons.TextField()
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Mobile",
							fields: [new sap.ui.commons.TextField()
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Email",
							fields: [new sap.ui.commons.TextField()
							]
						})
					]
				})
			]
		});

		oForm1.placeAt("sample1");
		</script>

		<script id='samplescript2' type="text/javascript">

		var oLayout2 = new sap.ui.layout.form.ResponsiveGridLayout("L2", {
			labelSpanL: 3,
			labelSpanM: 1,
			labelSpanS: 2,
			emptySpanL: 1,
			emptySpanM: 1,
			emptySpanS: 1,
			columnsL: 3,
			columnsM: 2,
			breakpointL: 800,
			breakpointM: 400
		});

		var oForm2 = new sap.ui.layout.form.Form("F2",{
			title: new sap.ui.core.Title({text: "Address Data", icon: "../../commons/demokit/images/address.gif", tooltip: "Title tooltip"}),
			editable: true,
			layout: oLayout2,
			formContainers: [
				new sap.ui.layout.form.FormContainer("F2C1",{
					title: "Person data",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Name",
							fields: [new sap.ui.commons.TextField({value: "Max"}),
									new sap.ui.commons.TextField({value: "Mustermann"})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Date of Birth",
							fields: [new sap.ui.commons.DatePicker({yyyymmdd: "19990909", layoutData: new sap.ui.layout.GridData({span: "L2 M2 S4"})})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Gender",
							fields: [new sap.ui.commons.RadioButtonGroup({
								columns: 2,
								items: [new sap.ui.core.Item({text: "male"}),
									new sap.ui.core.Item({text: "female"})],
							})]
						})
						]
				}),
				new sap.ui.layout.form.FormContainer("F2C2",{
					title: "address",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Street / Number",
							fields: [new sap.ui.commons.TextField(),
									new sap.ui.commons.TextField({width: "3em"})
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Zip Code / City",
							fields: [new sap.ui.commons.TextField(),
									new sap.ui.commons.TextField()
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Country",
							fields: [new sap.ui.commons.TextField({layoutData: new sap.ui.layout.GridData({span: "L2 M2 S4"})})
							]
						})
						]
				}),
				new sap.ui.layout.form.FormContainer("F2C3",{
					title: "contact",
					formElements: [
						new sap.ui.layout.form.FormElement({
							label: "Phone Number",
							fields: [new sap.ui.commons.TextField()
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Mobile",
							fields: [new sap.ui.commons.TextField()
							]
						}),
						new sap.ui.layout.form.FormElement({
							label: "Email",
							fields: [new sap.ui.commons.TextField()
							]
						})
					]
				})
			]
		});

		oForm2.placeAt("sample2");
		</script>

	</head>

	<body class="sapUiDemokitBody" role="application">
		<h1 color="Red" icon="images/ctrls/responsiveflowlayout-icon.png">ResponsiveGridLayout</h1>
		<h2>Introduction</h2>

		<p>The ResponsiveGridLayout can be attached to the Form Control in order to arrange the Elements in a responsive way (see <code>Grid</code>).
		The size and arrangement of the single elements depends on the size of the screen.
		The Form Control consists of a Form on top level which contains several FormContainers with several FormElements in it. According to our layout
		concept all of these can have LayoutData attached to them.</p>

		<p>You can use <code>GridData</code> on FormContainers and the content controls like in the
		Grid control. So it is possible to influence the linebreaks and size (spans) of
		the single elements. On FormElements <code>GridData</code> is not supported. To influence the rendering of the Labels and fields <code>GridData</code>
		must be set for these controls.
		If no <code>GridData</code> are used on a FormContainer or Control, the <code>ResponsiveGridLayout</code> tries to calculate the linebreaks and spans.
		If the provided <code>GridData</code> are very complex, this automatism may not bring the expected result. In this case <code>GridData</code> should
		be set on all affected controls.
		</p>

		<h2>Basic Example</h2>
		<p>A simple Form with a ResponsiveGridLayout. Change the screen size to see the changes</p>
		<div code-sample="sample1" script="samplescript1"></div>

		<h2>Example with different default settings</h2>
		<p>A simple Form with a ResponsiveGridLayout. Change the screen size to see the changes.
		<br>
		Here the default properties <code>labelSpanL, labelSpanM, labelSpanS, emptySpanL, emptySpanM, emptySpanS, columnsL, columnsM, breakpointL and breakpointM</code>
		are set different. You see the difference on different screen sizes.
		</p>
		<div code-sample="sample2" script="samplescript2"></div>

		<p>
		<h2>API Documentation</h2>
		<a class="sapUiDemokitSrcLink" href="../../../../../docs/api/symbols/sap.ui.layout.form.ResponsiveGridLayout.html" >API documentation</a>
		</p>
	</body>
</html>