<!DOCTYPE HTML>
<html data-sap-ui-dk-category="Controls/Layout" data-sap-ui-dk-controls="sap.ui.layout.form.SimpleForm">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="keywords" content="Control Form" />
		<title>SimpleForm - SAPUI5 Demo Kit</title>
		<link rel="stylesheet" type="text/css" href="../../../../../theme/default.css"></link>
		<script id="sap-ui-bootstrap"
				type="text/javascript"
				src="../../../../../resources/sap-ui-core.js"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.ui.layout,sap.ui.commons,sap.ui.demokit"
				data-sap-ui-language="en"
				>
		</script>
		<script type="text/javascript">sap.ui.demokit._supportedThemes = ["sap_goldreflection", "sap_hcb"];</script>
		<script type="text/javascript" src="../../../../../js/utils.js"></script>

		<script id='samplescript1' type="text/javascript">
var oSimpleForm = new sap.ui.layout.form.SimpleForm(
	"sf1",
	{
		maxContainerCols: 2,
		editable: true,
		content:[
				new sap.ui.core.Title({text:"Person"}),
				new sap.ui.commons.Label({text:"Name"}),
				new sap.ui.commons.TextField({value:"Max"}),
				new sap.ui.commons.TextField({value:"Mustermann"}),
				new sap.ui.commons.Label({text:"Date of birth"}),
				new sap.ui.commons.DatePicker({yyyymmdd:"19990909"}),
				new sap.ui.commons.Label({text:"Gender"}),
				new sap.ui.commons.RadioButtonGroup({
					columns: 2,
					items: [new sap.ui.core.Item({text: "male"}),
									new sap.ui.core.Item({text: "female"})]
				}),
				new sap.ui.core.Title({text:"Address"}),
				new sap.ui.commons.Label({text:"Street/ Number"}),
				new sap.ui.commons.TextField({value:"Musterstraße"}),
				new sap.ui.commons.TextField({value:"10"}),
				new sap.ui.commons.Label({text:"Zip Code/ City"}),
				new sap.ui.commons.TextField({value:"69190"}),
				new sap.ui.commons.TextField({value:"Walldorf"}),
				new sap.ui.commons.Label({text:"Country"}),
				new sap.ui.commons.TextField({value:"Germany"}),
				new sap.ui.core.Title({text:"Contact"}),
				new sap.ui.commons.Label({text:"Phone"}),
				new sap.ui.commons.TextField(),
				new sap.ui.commons.Label({text:"Mobile"}),
				new sap.ui.commons.TextField(),
				new sap.ui.commons.Label({text:"Email"}),
				new sap.ui.commons.TextField(),
				new sap.ui.core.Title({text:"Office"}),
				new sap.ui.commons.Label({text:"Location"}),
				new sap.ui.commons.TextField(),
				new sap.ui.commons.Label({text:"Building"}),
				new sap.ui.commons.TextField(),
				new sap.ui.commons.Label({text:"Room"}),
				new sap.ui.commons.TextField()
				]
	}).placeAt("sample1");
		</script>

		<script id='samplescript2' type="text/javascript">
var html =	'<template>' +
		'<div data-sap-ui-type="sap.ui.layout.form.SimpleForm" id="sf2" data-editable="true">' +
		'<div data-sap-ui-type="sap.ui.core.Title" id="T1" data-text="Person"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.Label" id="L1" data-text="Name"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.TextField" id="TF1" data-value="Max"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.TextField" id="TF2" data-value="Mustermann"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.Label" id="L2" data-text="Date of Birth"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.DatePicker" id="DP1" data-yyyymmdd="19990909"></div>' +
		'<div data-sap-ui-type="sap.ui.core.Title" id="T2" data-text="Address"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.Label" id="L3" data-text="Street/ Number"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.TextField" id="TF3" data-value="Musterstraße"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.TextField" id="TF4" data-value="10"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.Label" id="L4" data-text="Zip Code/ City"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.TextField" id="TF5" data-value="69190"></div>' +
		'<div data-sap-ui-type="sap.ui.commons.TextField" id="TF6" data-value="Walldorf"></div>' +
		'</div>' +
		'</template>';
var myView = sap.ui.view({id:"myView",viewContent:html, type:sap.ui.core.mvc.ViewType.HTML});
myView.placeAt("sample2");
		</script>

	</head>

	<body class="sapUiDemokitBody" role="application">
		<h1 color="Red" icon="images/ctrls/gridlayout-icon.png">SimpleForm</h1>
		<h2>Introduction</h2>

		<p>
		The <code>SimpleForm</code> is designed to allow an easy usage of the <code>Form</code> control.
		In the <code>SimpleForm</code> just the content controls are added. The <code>SimpleForm</code> 
		creates the <code>Form</code>, <code>FormContainers</code>, <code>FormElements</code> and <code>FormLayout</code>
		according to the content.
		<br>
		The following content can be added:
		<ul>
		<li>
		Title (based on <code>sap.ui.core.Title</code>): A new <code>FormContainer</code> is created.
		The content up to the next title is used as content of this <code>FormContainer</code>.
		</li>
		<li>
		Label: (using interface <code>sap.ui.core.Label</code>): A new <code>FormElement</code> is created,
		this means, a new line inside the <code>FormContainer</code> starts. All following content up to the
		next Label is part of this <code>FormElement</code>.
		</li>
		<li>
		All other content is used as <code>Field</code> of a <code>FormElement</code>. Here all kind of
		form controls can be added.
		</li>
		</ul>
		</p>

		<p>
		If a more complex <code>Form</code> is needed the application has to use the standard <code>Form</code>
		and fill it according to the requirements. But for simple Forms without any special the <code>SimpleForm</code>
		is the easier choice.
		</p>

		<h2>Basic Example</h2>
		<p>The content is defined using a Json string</p>
		<div code-sample="sample1" script="samplescript1"></div>
		<br/><br/>

		<p>The content is defined using a HTML view</p>
		<div code-sample="sample2" script="samplescript2"></div>

		<p>
		<h2>API Documentation</h2>
		<a class="sapUiDemokitSrcLink" href="../../../../../docs/api/symbols/sap.ui.layout.form.SimpleForm.html" >API documentation</a>
		</p>
	</body>
</html>