/***********************************************************************
	Style of the RTA Contextmenu - sap_belize_hcb Theme
************************************************************************/
@_sap_ui_rta_ContextMenu_Border_LightColor: @sapUiWhite; //#ffffff
@_sap_ui_rta_ContextMenu_Border_DarkColor: @sapUiBlackBG; //#000000
@_sap_ui_rta_ContextMenu_BoxShadowColor: fade(@sapUiWhite, 60%); //rgba(255, 255, 255, 0.6)

.sapUiRtaMode {

	.sapUiDtContextMenu {

		&.sapMPopover, .sapMPopover {
			border: 0.125rem solid @_sap_ui_rta_ContextMenu_Border_LightColor; //2px
			border-image: repeating-linear-gradient( -45deg, @_sap_ui_rta_ContextMenu_Border_DarkColor, @_sap_ui_rta_ContextMenu_Border_DarkColor 4px, @_sap_ui_rta_ContextMenu_Border_LightColor 4px, @_sap_ui_rta_ContextMenu_Border_LightColor 6px) 4;
			box-shadow: 0 10px 32px 0 @_sap_ui_rta_ContextMenu_BoxShadowColor, 0 0 10px -2px @_sap_ui_rta_ContextMenu_Border_LightColor;
		}

		&.sapMPopoverArr, .sapMPopoverArr {
			width: 2rem; //32px
			height: 2rem; //32px
			bottom: -2rem; //32px
			left:	0.25rem !important; //4px
			&:after {
				box-shadow: 0 64px 32px 0 @_sap_ui_rta_ContextMenu_BoxShadowColor, 0 0 10px -3px @_sap_ui_rta_ContextMenu_Border_LightColor;
				border: 0.125rem solid @_sap_ui_rta_ContextMenu_Border_LightColor; //2px
				border-image: repeating-linear-gradient( -50deg, @_sap_ui_rta_ContextMenu_Border_DarkColor, @_sap_ui_rta_ContextMenu_Border_DarkColor 3px, @_sap_ui_rta_ContextMenu_Border_LightColor 3px, @_sap_ui_rta_ContextMenu_Border_LightColor 5px) 4;
				width: 1rem; //16px
				height: 1rem; //16px
				margin: -0.65rem 0 0 0.35rem; //10px 6px
			}
			&.sapMPopoverArrUp {
				height:	1rem; //16px
				top: -1rem; //16px
				&:after {
					box-shadow: 0 -64px 32px 0 @_sap_ui_rta_ContextMenu_BoxShadowColor, 0 0 10px -3px @_sap_ui_rta_ContextMenu_Border_LightColor;
					margin: 0.35rem 0 0 0.35rem; //6px 6px
				}
			}
		}
	}
}